Repository sonic-net/sonic-buildimage, pull requests merged in 2018-05, with the labels that each got.

#1667 [swss]: Change the hash seed to 0 for ToR and 10 for Leaf routers
  dockers/docker-orchagent/switch.json.j2
Labels: bug

#1668 Stop spamming logs with statfs permission denied log message
  src/snmpd/Makefile
  src/snmpd/statfs_error.patch
Labels: enhancement, question

#1670 [broadcom]: update broadcom SAI to 3.1.3.4-11
  platform/broadcom/sai.mk
Labels: bug

#1666 [dockers] Prevent apt-get from installing suggested and recommended packages by default
  dockers/docker-base/Dockerfile.j2
  dockers/docker-base/no_install_recommend_suggest
  dockers/docker-database/Dockerfile.j2
  dockers/docker-fpm-quagga/Dockerfile.j2
  dockers/docker-snmp-sv2/Dockerfile.j2
  platform/p4/docker-sonic-p4.mk
  platform/vs/docker-sonic-vs.mk
  platform/vs/docker-sonic-vs/Dockerfile.j2
  rules/docker-database.mk
  rules/docker-snmp-sv2.mk
Labels: bug

#1671 Revert "Fix the sonic build issue"
  rules/docker-dhcp-relay.mk
  rules/isc-dhcp.mk
  src/isc-dhcp/Makefile
Labels: bug

#1657 [syncd]: Add socat and bcmsh wrapper
  dockers/docker-base/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm/base_image_files/bcmsh
  platform/broadcom/docker-syncd-brcm/bcmsh
Labels: enhancement

#1676 [slave.mk] Define SPACE variable such that the line doesn't end in whitespace
  slave.mk
Labels: bug, enhancement

#1713 [dhcp_relay] Only attempt to start 'isc-dhcp-relay' group if it is not empty
  dockers/docker-dhcp-relay/start.sh
Labels: enhancement

#1733 Remove fan LED initialization from led_control plugins for Arista 7050-QX32, 7050-QX-32S
  device/arista/x86_64-arista_7050_qx32/plugins/led_control.py
  device/arista/x86_64-arista_7050_qx32s/plugins/led_control.py
Labels: bug

#1744 [docker_image_ctl]: Add --force while removing obsolete dockers
  files/build_templates/docker_image_ctl.j2
Labels: bug

#1747 Fix a bug that default graph might be missing when generating minimal config
  files/image_config/updategraph/updategraph
Labels: bug

#1752 [serial watchdog] remove serial watchdog service dependency to rc.local
  files/image_config/serial-port-watchdog/serial-port-watchdog.service
Labels: bug
