Repository sonic-net/sonic-buildimage, pull requests merged in 2018-11, with the labels that each got.

#1734 [console] use fixed console baud rate
  files/image_config/platform/rc.local
Labels: bug :bug:, enhancement :robot:

#2215 [build]: add build option to use native docker instead of dind for build
  Makefile.work
  rules/config
  slave.mk
Labels: enhancement :robot:

#2216 Warm reboot: restore the database docker with content saved
  files/build_templates/docker_image_ctl.j2
Labels: enhancement :robot:

#2223 [swss]: Update swss.sh script to clean up specific db when start
  files/scripts/swss.sh
Labels: bug :bug:

#2214 [build]: support specifying builder mount point and workdir
  Makefile.work
Labels: enhancement :robot:

#2173 [teamd] Add Warm-reboot startup and shutdown mode for teamd
  src/libteam/0005-libteam-Add-warm_reboot-mode.patch
  src/libteam/Makefile
Labels: enhancement :robot:

#2228 [vs]: Add missing packages to speed up build process
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: enhancement :robot:

#2232 [Mellanox] Update MFT to v4.9.0
  platform/mellanox/mft.mk
Labels: platform-mellanox, submodule update :arrow_double_up:

#2224 Add Porsch project with Nephos
  device/pegatron/x86_64-pegatron_porsche-r0/installer.conf
  device/pegatron/x86_64-pegatron_porsche-r0/minigraph.xml
  device/pegatron/x86_64-pegatron_porsche-r0/plugins/eeprom.py
  device/pegatron/x86_64-pegatron_porsche-r0/plugins/psuutil.py
  device/pegatron/x86_64-pegatron_porsche-r0/plugins/sfputil.py
  device/pegatron/x86_64-pegatron_porsche-r0/porsche/port_config.ini
  device/pegatron/x86_64-pegatron_porsche-r0/porsche/sai.profile
  device/pegatron/x86_64-pegatron_porsche-r0/porsche/tau-porsche.dsh
  device/pegatron/x86_64-pegatron_porsche-r0/tau-porsche.cfg
  platform/nephos/one-image.mk
  platform/nephos/platform-modules-pegatron.mk
  platform/nephos/rules.mk
  platform/nephos/sonic-platform-modules-pegatron/LICENSE
  platform/nephos/sonic-platform-modules-pegatron/README.md
  platform/nephos/sonic-platform-modules-pegatron/common/modules/pegatron_hwmon_mcu.c
  platform/nephos/sonic-platform-modules-pegatron/debian/changelog
  platform/nephos/sonic-platform-modules-pegatron/debian/compat
  platform/nephos/sonic-platform-modules-pegatron/debian/control
  platform/nephos/sonic-platform-modules-pegatron/debian/rules
  platform/nephos/sonic-platform-modules-pegatron/porsche/modules/Makefile
  platform/nephos/sonic-platform-modules-pegatron/porsche/modules/pegatron_hwmon_mcu.c
  platform/nephos/sonic-platform-modules-pegatron/porsche/modules/pegatron_porsche_cpld.c
  platform/nephos/sonic-platform-modules-pegatron/porsche/modules/pegatron_porsche_sfp.c
  platform/nephos/sonic-platform-modules-pegatron/porsche/scripts/sensors
  platform/nephos/sonic-platform-modules-pegatron/porsche/service/porsche-platform-init.service
  platform/nephos/sonic-platform-modules-pegatron/porsche/utils/pegatron_porsche_util.py
  platform/nephos/sonic-platform-modules-pegatron/porsche/utils/porsche_sensors.py
Labels: enhancement :robot:, platform-nephos, platform-pegatron

#2235 Add /host filesystem into teamd docker
  dockers/docker-teamd/start.sh
  rules/docker-teamd.mk
Labels: enhancement :robot:

#2213 Restore neighbor table to kernel during system warm-reboot
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-quagga/Dockerfile.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-orchagent/start.sh
  dockers/docker-orchagent/supervisord.conf
  dockers/docker-teamd/Dockerfile.j2
  platform/vs/docker-sonic-vs/Dockerfile.j2
  platform/vs/docker-sonic-vs/supervisord.conf
  rules/swss.mk
Labels: enhancement :robot:

#2237 [mlnx] Fix fast reboot
  files/scripts/syncd.sh
Labels: bug :bug:, platform-mellanox

#2230 Update go version to 1.11.2 for gobgp and telemetry
  sonic-slave/Dockerfile
  src/gobgp/Makefile
Labels: submodule update :arrow_double_up:

#2241 Fix teamd behavior for Warm-reboot mode
  src/libteam/0005-libteam-Add-warm_reboot-mode.patch
Labels: bug :bug:

#2254 [teamd]: Update hwaddr_orig unconditionally.
  src/libteam/0005-libteam-Add-warm_reboot-mode.patch
Labels: enhancement :robot:

#2259 Fix bug: let wget rename saved file
  src/thrift/Makefile
Labels: bug :bug:

#2249 [sudoers] Add 'SONIC_CLI_IFACE_MODE' to env_keep to ensure variable is made available to sudo calls
  files/image_config/sudoers/sudoers
Labels: enhancement :robot:

#2238 [syncd] extend syncd service script to support both warm/cold shutdown
  files/scripts/syncd.sh
Labels: enhancement :robot:

#2262 [vs]: Create /var/warmboot/teamd folder for teammgrd
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: bug :bug:

#2274 [vs]: Add time.sleep(1) to make test stable
  platform/vs/tests/teamd/test_portchannel.py
Labels: enhancement :robot:

#2257 Don't put down LAG interface when it starts in WR mode
  src/libteam/0005-libteam-Add-warm_reboot-mode.patch
Labels: bug :bug:

#2283 [eeprom] modify output of decode-syseprom for mellanox platform
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/eeprom.py
Labels: bug :bug:, platform-mellanox

#2284 [bde driver] black list linux_kernel_bde driver
  files/build_templates/sonic_debian_extension.j2
  files/image_config/platform/linux_kernel_bde.conf
Labels: bug :bug:

#2285 [syncd] skip ledinit during syncd warm start
  files/scripts/syncd.sh
  platform/broadcom/docker-syncd-brcm/start.sh
Labels: enhancement :robot:

#2297 [vs]: fail the build when build kvm image fails
  build_image.sh
  build_kvm_image.sh
  check_install.py
Labels: enhancement :robot:

#2286 Routing application split config support
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-frr/config.sh
  files/build_templates/sonic_debian_extension.j2
  rules/config
  rules/docker-fpm-frr.mk
  slave.mk
  src/sonic-config-engine/minigraph.py
Labels: enhancement :robot:

#2291 Adjusting bgp jinja template and quagga's supervisord.conf
  dockers/docker-fpm-quagga/bgpd.conf.j2
  dockers/docker-fpm-quagga/supervisord.conf
Labels: enhancement :robot:

#2302 [build image] copy init_interfaces to interfaces
  files/build_templates/sonic_debian_extension.j2
Labels: enhancement :robot:

#2303 [boot] Start ntp-config service after all Docker containers are started
  files/image_config/ntp/ntp-config.service
Labels: enhancement :robot:

#2317 [orchagent]: Fix typo
  dockers/docker-orchagent/orchagent.sh
Labels: enhancement :robot:

#2315 Dell S6000 ON related Port numbering and eeprom changes
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/port_config.ini
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/td2-s6000-32x40G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/plugins/eeprom.py
Labels: bug :bug:, platform-dell

#2319 [bcm sai] Upgrade Broadcom SAI to 3.1.3.5-12
  platform/broadcom/sai.mk
Labels: platform-broadcom, submodule update :arrow_double_up:

#2321 Fix teamd patch issues, which prevented system WR
  src/libteam/0005-libteam-Add-warm_reboot-mode.patch
Labels: bug :bug:, enhancement :robot:
