Repository sonic-net/sonic-buildimage, pull requests merged in 2018-10, with the labels that each got.

#2078 [syncd] warn shutdown syncd process when warm boot is enabled
  files/scripts/syncd.sh
  platform/broadcom/docker-syncd-brcm.mk
Labels: enhancement :robot:

#2130 [image config] Install Python tabulate library v0.8.2 via pip
  files/build_templates/sonic_debian_extension.j2
Labels: enhancement :robot:

#2138 [docker-sonic-mgmt]: fix azure kusto library version to 0.0.13
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: enhancement :robot:

#2140 [bcm config] remove scache_filename config entry
  device/accton/x86_64-accton_as5712_54x-r0/Accton-AS5712-54X/td2-as5712-72x10G.config.bcm
  device/arista/x86_64-arista_7050_qx32/Arista-7050-Q16S64/td2-a7050-qx32-16x40G+32x10G+8x40G.config.bcm
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/td2-a7050-qx32-32x40G.config.bcm
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/td2-a7050-qx32s-32x40G.config.bcm
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/td2-a7050-q31s4-31x40G-4x10G.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/th2-a7260cx3-64-64x100G.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/th2-a7260cx3-64-112x50G+8x100G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/td2-s6000-32x40G.config.bcm
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100/th-z9100-32x100G.config.bcm
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f/th2-z9264f-64x100G.config.bcm
  device/delta/x86_64-delta_ag9064-r0/Delta-ag9064/th2-ag9064-64x100G.config.bcm
  device/ingrasys/x86_64-ingrasys_s8810_32q-r0/INGRASYS-S8810-32Q/td2-s8810-32x40G.config.bcm
  device/ingrasys/x86_64-ingrasys_s8900_54xc-r0/INGRASYS-S8900-54XC/th-s8900-48x25G+6x100G.config.bcm
  device/ingrasys/x86_64-ingrasys_s8900_64xc-r0/INGRASYS-S8900-64XC/th-s8900-48x25G+16x100G.config.bcm
  device/ingrasys/x86_64-ingrasys_s9100-r0/INGRASYS-S9100-C32/th-s9100-32x100G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: enhancement :robot:

#2154 [sonic-cfggen]: Fix minigraph DhcpRelays parsing issue
  src/sonic-config-engine/minigraph.py
Labels: bug :bug:

#2023 Unify qos json by using qos_config.j2 template
  device/accton/x86_64-accton_as7212_54x-r0/AS7212-54x/qos.json.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/qos.json.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/qos.json.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/qos.json.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/qos.json.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/qos.json.j2
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/montara/qos.json.j2
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/mavericks/qos.json.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/qos.json.j2
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/qos.json.j2
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100-T0/qos.json.j2
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100/qos.json.j2
  device/mellanox/x86_64-mlnx_msn2100-r0/ACS-MSN2100/qos.json.j2
  device/mellanox/x86_64-mlnx_msn2410-r0/ACS-MSN2410/qos.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/qos.json.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/qos.json.j2
  files/build_templates/qos_config.j2
  files/build_templates/sonic_debian_extension.j2
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/sample_output/qos-dell6100.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: enhancement :robot:

#2164 [lldpd]: Use kernel autoprobe for netlink socket .nl_pid portion of the address
  src/lldpd/patch/0002-Let-linux-kernel-to-find-appropriate-nl_pid-automa.patch
  src/lldpd/patch/series
Labels: bug :bug:

#2161 [docker-syncd-brcm] Reorganize start.sh
  platform/broadcom/docker-syncd-brcm/start.sh
Labels: enhancement :robot:

#2172 Eliminate build warning messages
  platform/broadcom/sai.mk
Labels: enhancement :robot:

#2177 [docker-sonic-vs]: add libsaivs-dbg package in docker-sonic-vs
  platform/vs/docker-sonic-vs.mk
Labels: enhancement :robot:

#2181 Set swssconfig.sh startsecs=0 for quick exiting
  dockers/docker-orchagent/supervisord.conf
Labels: enhancement :robot:

#2174 [mellanox] unify the sfp and eeprom plugin for all the mellanox platform
  device/mellanox/x86_64-mlnx_msn2010-r0/plugins/eeprom.py
  device/mellanox/x86_64-mlnx_msn2010-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn2010-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn2010-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn2010-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn2100-r0/plugins/eeprom.py
  device/mellanox/x86_64-mlnx_msn2100-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn2100-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn2100-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn2100-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn2410-r0/plugins/eeprom.py
  device/mellanox/x86_64-mlnx_msn2410-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn2410-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn2410-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn2410-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn2740-r0/plugins/eeprom.py
  device/mellanox/x86_64-mlnx_msn2740-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn2740-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn2740-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn2740-r0/plugins/sfputil.py
Labels: enhancement :robot:, platform-mellanox

#2191 Select dst-ip based on platform
  dockers/docker-orchagent/ipinip.json.j2
Labels: bug :bug:

#2192 In the case of upgrade, have pfcwd enabled on the upgraded sonic
  files/image_config/updategraph/updategraph
Labels: enhancement :robot:

#2178 [platform]Accton, add platform as6712-32x.
  device/accton/x86_64-accton_as6712_32x-r0/Accton-AS6712-32X/port_config.ini
  device/accton/x86_64-accton_as6712_32x-r0/Accton-AS6712-32X/sai.profile
  device/accton/x86_64-accton_as6712_32x-r0/Accton-AS6712-32X/td2-as6712-32x40G.config.bcm
  device/accton/x86_64-accton_as6712_32x-r0/default_sku
  device/accton/x86_64-accton_as6712_32x-r0/installer.conf
  device/accton/x86_64-accton_as6712_32x-r0/led_proc_init.soc
  device/accton/x86_64-accton_as6712_32x-r0/plugins/eeprom.py
  device/accton/x86_64-accton_as6712_32x-r0/plugins/psuutil.py
  device/accton/x86_64-accton_as6712_32x-r0/plugins/sfputil.py
  device/accton/x86_64-accton_as6712_32x-r0/sensors.conf
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-accton.mk
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/classes/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/classes/fanutil.py
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/classes/thermalutil.py
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/modules/Makefile
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/modules/accton-as6712-32x-cpld.c
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/modules/accton_as6712_32x_fan.c
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/modules/accton_as6712_32x_psu.c
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/modules/cpr_4011_4mxx.c
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/modules/leds-accton_as6712_32x.c
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/service/as6712-platform-init.service
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/setup.py
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/utils/README
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/utils/accton_as6712_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/utils/accton_as6712_util.py
  platform/broadcom/sonic-platform-modules-accton/debian/control
  platform/broadcom/sonic-platform-modules-accton/debian/rules
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/rules
Labels: enhancement :robot:, platform-accton

#2205 [devices]: Remove minigraph files for Seastone platform
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-10-50/minigraph.xml
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-25-50/minigraph.xml
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-50/minigraph.xml
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010/minigraph.xml
Labels: enhancement :robot:

#2194 Add missing timestamp in docker meta label tag value
  slave.mk
Labels: bug :bug:

#2185 [updategraph] Use empty configuration when DHCP graphurl option is missing
  files/dhcp/graphserviceurl
  files/image_config/updategraph/updategraph
Labels: enhancement :robot:

#2207 [Mellanox] Update MFT version v4.9.0
  platform/mellanox/mft.mk
  platform/mellanox/mft/Makefile
Labels: platform-mellanox, submodule update :arrow_double_up:

#2180 [rules/tacacs.mk] Correct package dependencies to ensure successful bulids
  rules/tacacs.mk
Labels: enhancement :robot:

#2210 [ipinip] Fix ipinip.json.j2 for mlnx platform
  dockers/docker-orchagent/ipinip.json.j2
Labels: bug :bug:

#2209 [minigraph.py]: Set default admin_status up to LAG/VLAN members
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Labels: bug :bug:, enhancement :robot:

#2156 Disable SNMPv1
  src/snmpd/patch-5.7.3+dfsg/0004-Disable-SNMPv1.patch
  src/snmpd/patch-5.7.3+dfsg/series
Labels: enhancement :robot:
