Repository sonic-net/sonic-buildimage, pull requests merged in 2018-06, with the labels that each got.

#1749 Change S6100 to use new ECN/WRED config
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/qos.json
Labels: bug

#1756 [sonic-mgmt]: Install the latest Microsoft Azure Kusto Library for Python
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: enhancement

#1759 [mellanox] Update hw-mgmt pointer
  platform/mellanox/hw-management.mk
Labels: submodule update

#1779 Add Broadcom config files for Arista 7050 SKUs; Remove 'serdes_firmware_mode_xe=0x1' line
  device/arista/x86_64-arista_7050_qx32/Arista-7050-Q16S64/sai.profile
  device/arista/x86_64-arista_7050_qx32/Arista-7050-Q16S64/td2-a7050-qx32-16x40G+32x10G+8x40G.config.bcm
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/sai.profile
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/td2-a7050-qx32-32x40G.config.bcm
Labels: bug, enhancement

#1792 Don't create a pty to run vtysh inside of the docker container
  dockers/docker-fpm-frr/base_image_files/vtysh
  dockers/docker-fpm-quagga/base_image_files/vtysh
Labels: bug

#1795 Upgrade libnl3 version to 3.2.27-2, same version as in Debian Stretch
  rules/libnl3.mk
  src/libnl3/Makefile
Labels: submodule update

#1782 Introducing 'debugging' and 'profiling' options in sonic build-infra
  rules/config
  rules/docker-base.mk
  slave.mk
Labels: enhancement

#1797 [Broadcom]: update Broadcom SAI to 3.1.3.4-14
  platform/broadcom/sai.mk
Labels: submodule update

#1801 Manually send SIGHUP to vtysh when the current session was disconnected
  dockers/docker-fpm-frr/base_image_files/vtysh
  dockers/docker-fpm-quagga/base_image_files/vtysh
Labels: bug

#1789 [device]: Fix a bug that psuutil cannot access gpio sysfs to get PSU status
  device/celestica/x86_64-cel_seastone-r0/plugins/psuutil.py
Labels: bug

#1803 Enable bgp soft-reconfiguration inbound for quagga templates
  dockers/docker-fpm-quagga/bgpd.conf.j2
  src/sonic-config-engine/tests/sample_output/bgpd.conf
Labels: enhancement

#1812 Add initial support for keeping track of and displaying reboot cause
  files/image_config/platform/rc.local
Labels: enhancement, submodule update
