Repository sonic-net/sonic-buildimage, pull requests merged in 2018-08, with the labels that each got.

#1890 [minigraph.py] add support to parse deployment id of neighbor devices
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: enhancement

#1898 [minigraph.py] Support parsing console ports
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: enhancement

#1906 Upgrade azure-keyvault to known compatible version
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: enhancement

#1912 Download newer version (8.23.0-2) of rsyslog from jessie-backports in hopes of eliminating memory leaks
  build_debian.sh
  dockers/docker-base/Dockerfile.j2
  dockers/docker-base/sources.list
  files/apt/sources.list
  files/image_config/apt/sources.list.d/debian_archive_trafficmanager_net_debian.list
  sonic-slave/Dockerfile
Labels: enhancement

#1904 Fix potential blackholing/looping traffic when link-local was used and refresh ipv6 neighbor to avoid CPU hit
  build_debian.sh
  dockers/docker-orchagent/Dockerfile.j2
  files/scripts/arp_update
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: enhancement

#1923 [build]: print error message when use root or sudo to build.
  Makefile
Labels: enhancement

#1935 Added picocom and pexpect to base image for use in consutil
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
Labels: enhancement

#1927 [device/dx010] configuration port index start from 1
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-10-50/port_config.ini
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-50/port_config.ini
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010/port_config.ini
  device/celestica/x86_64-cel_seastone-r0/plugins/sfputil.py
Labels: enhancement

#1938 [mellanox]: Fix problem with system EEPROM in "hw-mgmt"
  platform/mellanox/hw-management/Add-modprobe-config-for-at24-module.patch
  platform/mellanox/hw-management/Add-systemd-service-config.patch
Labels: bug

#1936 Makefile: make new step "make stretch" optional
  Makefile
  Makefile.work
  README.md
Labels: enhancement

#1946 Download picocom version 3.1-2 from stretch-backports; No longer build from source
  build_debian.sh
  files/apt/sources.list
  files/image_config/apt/sources.list.d/debian_archive_trafficmanager_net_debian.list
  rules/picocom.mk
  slave.mk
  sonic-slave-stretch/Dockerfile
  src/picocom/Makefile
  src/picocom/debhelper_10.patch
Labels: enhancement

#1948 Mitigate CVE-2018-5391 by sysctl
  build_debian.sh
Labels: bug

#1947 [config-bcm] move broadcom config files to device folder
  device/accton/x86_64-accton_as5712_54x-r0/Accton-AS5712-54X/sai.profile
  device/accton/x86_64-accton_as5712_54x-r0/Accton-AS5712-54X/td2-as5712-72x10G.config.bcm
  device/accton/x86_64-accton_as7312_54x-r0/Accton-AS7312-54X/sai.profile
  device/accton/x86_64-accton_as7312_54x-r0/Accton-AS7312-54X/th-as7312-48x25G+6x100G.config.bcm
  device/accton/x86_64-accton_as7712_32x-r0/Accton-AS7712-32X/sai.profile
  device/accton/x86_64-accton_as7712_32x-r0/Accton-AS7712-32X/th-as7712-32x100G.config.bcm
  device/accton/x86_64-accton_as7716_32x-r0/Accton-AS7716-32X/sai.profile
  device/accton/x86_64-accton_as7716_32x-r0/Accton-AS7716-32X/th-as7716-32x100G.config.bcm
  device/accton/x86_64-accton_as7716_32xb-r0/Accton-AS7716-32XB/sai.profile
  device/accton/x86_64-accton_as7716_32xb-r0/Accton-AS7716-32XB/th-as7716-32x100G.config.bcm
  device/accton/x86_64-accton_as7816_64x-r0/Accton-AS7816-64X/sai.profile
  device/accton/x86_64-accton_as7816_64x-r0/Accton-AS7816-64X/th2-as7816-64x100G.config.bcm
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/sai.profile
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/td2-a7050-qx32s-32x40G.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/sai.profile
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/th-a7060-cx32s-32x100G-t1.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/sai.profile
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/th-a7060-cx32s-8x100G+48x50G.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/sai.profile
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/th2-a7260cx3-64-64x100G.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-10-50/sai.profile
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-10-50/th-seastone-dx010-96x10G-16x50G.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-50/sai.profile
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-50/th-seastone-dx010-64x50G.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010/sai.profile
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010/th-seastone-dx010-32x100G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/sai.profile
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/td2-s6000-32x40G.config.bcm
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/sai.profile.j2
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/th-s6100-64x40G-t0.config.bcm
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/th-s6100-64x40G-t1.config.bcm
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f/sai.profile
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f/th2-z9264f-64x100G.config.bcm
  device/delta/x86_64-delta_ag5648-r0/Delta-ag5648/sai.profile
  device/delta/x86_64-delta_ag5648-r0/Delta-ag5648/th-ag5648-48x25G+6x100G.config.bcm
  device/delta/x86_64-delta_ag9032v1-r0/Delta-ag9032v1/sai.profile
  device/delta/x86_64-delta_ag9032v1-r0/Delta-ag9032v1/th-ag9032v1-32x100G.config.bcm
  device/delta/x86_64-delta_ag9064-r0/Delta-ag9064/sai.profile
  device/delta/x86_64-delta_ag9064-r0/Delta-ag9064/th2-ag9064-64x100G.config.bcm
  device/facebook/x86_64-facebook_wedge100-r0/Facebook-W100-C32/sai.profile
  device/facebook/x86_64-facebook_wedge100-r0/Facebook-W100-C32/th-wedge100-32x100G.config.bcm
  device/ingrasys/x86_64-ingrasys_s8810_32q-r0/INGRASYS-S8810-32Q/sai.profile
  device/ingrasys/x86_64-ingrasys_s8810_32q-r0/INGRASYS-S8810-32Q/td2-s8810-32x40G.config.bcm
  device/ingrasys/x86_64-ingrasys_s8900_54xc-r0/INGRASYS-S8900-54XC/sai.profile
  device/ingrasys/x86_64-ingrasys_s8900_54xc-r0/INGRASYS-S8900-54XC/th-s8900-48x25G+6x100G.config.bcm
  device/ingrasys/x86_64-ingrasys_s8900_64xc-r0/INGRASYS-S8900-64XC/sai.profile
  device/ingrasys/x86_64-ingrasys_s8900_64xc-r0/INGRASYS-S8900-64XC/th-s8900-48x25G+16x100G.config.bcm
  device/ingrasys/x86_64-ingrasys_s9100-r0/INGRASYS-S9100-C32/sai.profile
  device/ingrasys/x86_64-ingrasys_s9100-r0/INGRASYS-S9100-C32/th-s9100-32x100G.config.bcm
  device/mitac/x86_64-mitac_ly1200_b32h0_c3-r0/MiTAC-LY1200-B32H0-C3/sai.profile
  device/mitac/x86_64-mitac_ly1200_b32h0_c3-r0/MiTAC-LY1200-B32H0-C3/th-ly1200-32x100G.config.bcm
  device/quanta/x86_64-quanta_ix1b_32x-r0/Quanta-IX1B-32X/sai.profile
  device/quanta/x86_64-quanta_ix1b_32x-r0/Quanta-IX1B-32X/th-ix1b-32x100G.config.bcm
Labels: enhancement

#1957 Build specific revision of initramfs-tools
  src/initramfs-tools/Makefile
Labels: enhancement

#1951 [mellanox]: Fix problem with system EEPROM in "hw-mgmt"
  platform/mellanox/hw-management/Add-modprobe-config-for-at24-module.patch
Labels: bug, platform-mellanox

#1952 [mellanox]: Fix problem with system EEPROM in "hw-mgmt"
  platform/mellanox/hw-management/Add-modprobe-config-for-at24-module.patch
  platform/mellanox/hw-management/Makefile
Labels: bug, platform-mellanox

#1958 [vs-test]: support python docker 3.5.0
  platform/vs/tests/bgp/test_invalid_nexthop.py
  platform/vs/tests/bgp/test_no_export.py
  platform/vs/tests/conftest.py
Labels: enhancement

#1967 [make file] update make file for initramfs-tools
  rules/initramfs-tools.mk
Labels: enhancement

#1954 [dell]: Remove depmod -a from the platform initialization script
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
  platform/broadcom/sonic-platform-modules-dell/z9100/scripts/z9100_platform.sh
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/z9264f_platform.sh
Labels: bug, platform-dell

#1975 [platform/device] - Update Haliburton platform modules and device configuration
  device/celestica/x86_64-cel_e1031-r0/Celestica-E1031-T48S4/port_config.ini
  device/celestica/x86_64-cel_e1031-r0/fancontrol
  device/celestica/x86_64-cel_e1031-r0/plugins/psuutil.py
  device/celestica/x86_64-cel_e1031-r0/plugins/sfputil.py
  device/celestica/x86_64-cel_e1031-r0/sensors.conf
  platform/broadcom/platform-modules-cel.mk
  platform/broadcom/sonic-platform-modules-cel/debian/changelog
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.install
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.postinst
  platform/broadcom/sonic-platform-modules-cel/haliburton/modules/Makefile
  platform/broadcom/sonic-platform-modules-cel/haliburton/modules/smc.c
  platform/broadcom/sonic-platform-modules-cel/haliburton/systemd/platform-modules-haliburton.service
Labels: bug, enhancement, platform-celestica

#1978 [vs]: Add pip install six
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: enhancement

#1984 [build]: run docker info at later stage in the build
  files/build_templates/sonic_debian_extension.j2
Labels: bug

#1985 [Quanta/device] Modify psuutil.py and config.bcm of IX1B
  device/quanta/x86_64-quanta_ix1b_32x-r0/Quanta-IX1B-32X/th-ix1b-32x100G.config.bcm
  device/quanta/x86_64-quanta_ix1b_32x-r0/plugins/psuutil.py
Labels: enhancement, platform-quanta

#1982 Warm reboot: Add support for swss docker warm restart
  files/scripts/swss.sh
Labels: enhancement

#1992 [debian]: Enable keep_addr_on_down to keep IPv6 addresses
  build_debian.sh
Labels: enhancement

#1996 [mellanox]: Update SAI, SDK, FW pointers
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Labels: platform-mellanox, submodule update

#1974 refactor bcm attribute checker
  src/sonic-device-data/tests/config_checker
  src/sonic-device-data/tests/permitted_list
Labels: enhancement
