Repository sonic-net/sonic-buildimage, pull requests merged in 2018-03, with the labels that each got.

#1440 [libnl3] Fix runtime dependencies for libnl-genl-3 and libnl-route-3
  rules/libnl3.mk
Labels: bug

#1428 [LLDP] Add lldpmgrd Daemon to Manage LLDP Configuration
  dockers/docker-lldp-sv2/Dockerfile.j2
  dockers/docker-lldp-sv2/lldpmgrd
  dockers/docker-lldp-sv2/reconfigure.sh
  dockers/docker-lldp-sv2/start.sh
  dockers/docker-lldp-sv2/supervisord.conf
  rules/docker-lldp-sv2.mk
Labels: enhancement

#1451 [bcm sai] upgrade to sai version 3.1.3.4-3
  platform/broadcom/sai.mk
Labels: bug

#1445 [Aboot] refactor boot0.j2 for Aboot bootloader
  files/Aboot/boot0.j2
Labels: enhancement

#1475 [SAI] upgrade to Broadcom SAI 3.1.3.4-4
  platform/broadcom/sai.mk
Labels: enhancement

#1477 [isc-dhcp] Add patch to fix bug which caused log messages to also print to stderr in release builds
  src/isc-dhcp/patch/0004-Bugfix-Don-t-print-log-messages-to-stderr-in-release.patch
  src/isc-dhcp/patch/series
Labels: bug

#1452 Move all minigraph-related action from rc.local to updategraph
  files/build_templates/bgp.service.j2
  files/build_templates/dhcp_relay.service.j2
  files/build_templates/lldp.service.j2
  files/build_templates/pmon.service.j2
  files/build_templates/router_advertiser.service.j2
  files/build_templates/snmp.service.j2
  files/build_templates/swss.service.j2
  files/build_templates/teamd.service.j2
  files/image_config/caclmgrd/caclmgrd.service
  files/image_config/hostcfgd/hostcfgd.service
  files/image_config/hostname/hostname-config.service
  files/image_config/interfaces/interfaces-config.service
  files/image_config/ntp/ntp-config.service
  files/image_config/platform/rc.local
  files/image_config/rsyslog/rsyslog-config.service
  files/image_config/ssh/sshd-config-updater.service
  files/image_config/updategraph/updategraph
  files/image_config/updategraph/updategraph.service
Labels: enhancement

#1480 [radv] Rename service unit file Jinja template to radv.service.j2
  files/build_templates/radv.service.j2
Labels: bug

#1454 Sorting all json config-elements residing in config_db.json
  dockers/docker-config-engine/Dockerfile.j2
  src/sonic-config-engine/sonic-cfggen
Labels: enhancement

#1476 Buffers config
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/buffers.json.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/buffers.json.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers.json.j2
Labels: enhancement

#1484 Refine docker tag for build number
  push_docker.sh
Labels: enhancement

#1483 [Device]: remove s6100 qos config via swssconfig
  dockers/docker-orchagent/swssconfig.sh
Labels: enhancement

#1485 [BCM SAI] update Broadcom SDK and SAI
  platform/broadcom/sai.mk
  platform/broadcom/sdk.mk
Labels: enhancement

#1500 Add fstrim service files to systemd
  build_debian.sh
Labels: enhancement

#1503 [build_debian]: Add quote to specify values as string
  build_debian.sh
Labels: bug

#1493 Buffers config
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/buffers.json.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/buffers.json.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers.json.j2
Labels: enhancement

#1507 [Base image files] All 'docker exec' wrapper scripts now dynamically adjust their flags depending on whether or not they are run on a terminal
  dockers/docker-database/base_image_files/redis-cli
  dockers/docker-fpm-frr/base_image_files/vtysh
  dockers/docker-fpm-quagga/base_image_files/vtysh
  dockers/docker-lldp-sv2/base_image_files/lldpctl
  dockers/docker-orchagent/base_image_files/swssloglevel
  dockers/docker-platform-monitor/base_image_files/sensors
  dockers/docker-teamd/base_image_files/teamdctl
Labels: bug, enhancement

#1468 [installer]: support new onie machine.conf format
  installer/x86_64/install.sh
Labels: enhancement

#1512 [image]: remove quote for build_version in /etc/sonic/sonic_version.yml
  files/image_config/platform/rc.local
  installer/x86_64/install.sh
Labels: bug

#1506 [Arista7060] Add PFC configuration
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/buffers.json.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/qos.json
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/sai.profile
Labels: enhancement

#1523 Make Dell S6100 and Z9100 psuutil.py plugins compliant with Python 3.6
  device/dell/x86_64-dell_s6100_c2538-r0/plugins/psuutil.py
  device/dell/x86_64-dell_z9100_c2538-r0/plugins/psuutil.py
Labels: bug

#1430 [device/Seastone] Update sensors conf on DX010
  device/celestica/x86_64-cel_seastone-r0/sensors.conf
Labels: enhancement

#1541 [docker-quagga]: Expect some processes to be restarted within 1 second
  dockers/docker-fpm-quagga/supervisord.conf
Labels: bug

#1547 [device]: do not export gpio{1,2} if already exist on S6000
  device/dell/x86_64-dell_s6000_s1220-r0/installer.conf
Labels: bug

#1552 [installer]: remove single quotes around the value when create machine.conf
  installer/x86_64/install.sh
Labels: enhancement
