Repository sonic-net/sonic-buildimage, pull requests merged in 2018-12, with the labels that each got.

#2327 [teamd] avoid using actor port number 0 in teamd config
  src/libteam/0005-libteam-Add-warm_reboot-mode.patch
Labels: bug :bug:

#2325 [Mellanox] Update hw-management service config
  platform/mellanox/hw-management/Add-systemd-service-config.patch
Labels: bug :bug:, platform-mellanox

#2335 [boot] Refactor: All services which start Docker containers start before ntp-config service
  files/build_templates/bgp.service.j2
  files/build_templates/dhcp_relay.service.j2
  files/build_templates/lldp.service.j2
  files/build_templates/pmon.service.j2
  files/build_templates/radv.service.j2
  files/build_templates/snmp.service.j2
  files/build_templates/swss.service.j2
  files/build_templates/syncd.service.j2
  files/build_templates/teamd.service.j2
  files/build_templates/telemetry.service.j2
  files/image_config/ntp/ntp-config.service
Labels: enhancement :robot:

#2338 [bcm config test] allowing ext_sram_freq and ext_tcam_freq
  src/sonic-device-data/tests/permitted_list
Labels: enhancement :robot:

#2294 [Mellanox|FFB]: Add support for Mellanox fast-fast boot
  files/build_templates/docker_image_ctl.j2
  files/build_templates/sonic_debian_extension.j2
  files/scripts/swss.sh
  platform/mellanox/docker-syncd-mlnx-rpc.mk
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/docker-syncd-mlnx/start.sh
  platform/mellanox/mlnx-ffb.mk
  platform/mellanox/mlnx-ffb.sh
  platform/mellanox/mlnx-issu.mk
  platform/mellanox/mlnx-issu/scripts/ffb
  platform/mellanox/mlnx-issu/scripts/issu
  platform/mellanox/mlnx-issu/setup.py
  platform/mellanox/one-image.mk
  platform/mellanox/rules.mk
  platform/mellanox/sdk-version.j2
  platform/mellanox/sdk.mk
Labels: enhancement :robot:, platform-mellanox

#2281 xcvrd OIR support for Dell S6100/Z9100 switches
  device/dell/x86_64-dell_s6100_c2538-r0/plugins/sfputil.py
  device/dell/x86_64-dell_z9100_c2538-r0/plugins/sfputil.py
Labels: enhancement :robot:, platform-dell

#2349 Fix error parsing to idt_int
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/accton_handle_idt.sh
Labels: bug :bug:, platform-accton

#2344 Add support as7326 thermal plan. Monitor fan/psu
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/classes/fanutil.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/classes/thermalutil.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-handle_mac.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-monitor-fan.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-monitor-psu.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_util.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_handle_idt.sh
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/idt_init.sh
Labels: enhancement :robot:, platform-accton

#2366 [docker-syncd-brcm] Add 'startsecs=0' to ledinit process
  platform/broadcom/docker-syncd-brcm/supervisord.conf
Labels: enhancement :robot:

#2367 [security kernel] Upgrade kernel from 4.9.110-3+deb9u2 to 4.9.110-3+deb9u6
  build_debian.sh
  files/build_templates/swss.service.j2
  files/build_templates/syncd.service.j2
  installer/x86_64/install.sh
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/broadcom/sai-modules.mk
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/saibcm-modules/debian/opennsl-modules-4.9.0-7-amd64.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules-4.9.0-7-amd64.install
  platform/broadcom/saibcm-modules/debian/opennsl-modules-4.9.0-8-amd64.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules-4.9.0-8-amd64.init
  platform/broadcom/saibcm-modules/debian/opennsl-modules-4.9.0-8-amd64.install
  platform/broadcom/saibcm-modules/debian/rules
  platform/broadcom/saibcm-modules/systemd/opennsl-modules-4.9.0-8-amd64.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_handle_idt.sh
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/accton_handle_idt.sh
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/broadcom/sonic-platform-modules-delta/debian/control
  platform/broadcom/sonic-platform-modules-delta/debian/platform-modules-et-6248brb.init
  platform/broadcom/sonic-platform-modules-delta/et-6248brb/scripts/led_status.sh
  platform/broadcom/sonic-platform-modules-inventec/debian/control
  platform/broadcom/sonic-platform-modules-s6000/debian/control
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/nephos/sdk.mk
  platform/nephos/sonic-platform-modules-accton/debian/control
  rules/linux-kernel.mk
Labels: enhancement :robot:, submodule update :arrow_double_up:

#2389 [bcm sai] upgrace Broadcom SAI to 3.3.3.1-3
  platform/broadcom/sai.mk
Labels: submodule update :arrow_double_up:

#2397 updating deb package for platform and sai
  platform/barefoot/bfn-platform.mk
  platform/barefoot/bfn-sai.mk
Labels: submodule update :arrow_double_up:
