Repository sonic-net/sonic-buildimage, pull requests merged in 2018-04, with the labels that each got.

#1555 [baseimage]: bring down eth0 before restart networking
  files/image_config/interfaces/interfaces-config.sh
Labels: bug

#1569 [router advertiser] Only start radvd process if device role is 'ToRRouter'
  dockers/docker-router-advertiser/docker-router-advertiser.supervisord.conf
  dockers/docker-router-advertiser/start.sh
Labels: bug

#1577 [docker-lldpd]: Use eth0 interface only as a source of lldpd SystemID
  dockers/docker-lldp-sv2/supervisord.conf
Labels: bug

#1582 qos.json typo fix
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/qos.json
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/qos.json
Labels: bug

#1611 [test] Adding Broadcom configuration file test
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/sai.profile
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/th2-a7260cx3-64-112x50G+8x100G.config.bcm
  src/sonic-device-data/src/Makefile
  src/sonic-device-data/tests/LICENSE
  src/sonic-device-data/tests/config_checker
  src/sonic-device-data/tests/permitted_list
Labels: enhancement

#1614 [minigraph.py] Be case insensitive to hostname in minigraph
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: bug

#1616 Sorting the information generated by sonic-cfggen for all j2 templates.
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
  src/sonic-config-engine/tests/sample_output/lldpd.conf
  src/sonic-config-engine/tests/sample_output/msn27.32ports.json
  src/sonic-config-engine/tests/sample_output/ports.json
  src/sonic-config-engine/tests/sample_output/wait_for_intf.sh
Labels: enhancement

#1558 [sudoer] Enable read-only commands for all users
  files/image_config/sudoers/sudoers
Labels: bug

#1635 Install more azure packages
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: enhancement

#1636 [radvd] Ensure at least one interface is specified in radvd.conf before starting radvd
  dockers/docker-router-advertiser/start.sh
Labels: bug

#1650 [docker-lldpd]: Various fixes
  dockers/docker-lldp-sv2/lldpd.conf.j2
  dockers/docker-lldp-sv2/lldpmgrd
  dockers/docker-lldp-sv2/start.sh
  src/sonic-config-engine/tests/sample_output/lldpd.conf
Labels: bug, enhancement

#1661 [docker-quagga]: Use bgp keepalive and holdtime timers from configdb
  dockers/docker-fpm-quagga/bgpd.conf.j2
Labels: enhancement
