Repository sonic-net/sonic-buildimage, pull requests merged in 2019-02, with the labels that each got.

#2516 [mlnx] Fix sai xml path for boxer platform
  device/mellanox/x86_64-mlnx_msn2010-r0/ACS-MSN2010/sai.profile
Labels: Request_for_201811_branch :shipit:

#2368 [updategraph] After system upgrade, restore files/directories with original attributes etc.
  files/image_config/updategraph/updategraph
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2395 [minigraph.py] generate port description for every port
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample_output/ports.json
  src/sonic-config-engine/tests/test_cfggen.py
Labels: enhancement :robot:

#2522 [config] Do not fail for minigraphs which do not have neighbors listed in <Devices> section
  files/build_templates/buffers_config.j2
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2501 [Dell] [Z9100] Supporting BCM PreEmphasis Settings for Optics
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9100.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9100.postinst
  platform/broadcom/sonic-platform-modules-dell/z9100/scripts/qsfp_monitor
  platform/broadcom/sonic-platform-modules-dell/z9100/scripts/z9100_preemp_db.py
  platform/broadcom/sonic-platform-modules-dell/z9100/scripts/z9100_qsfp_monitor.py
  platform/broadcom/sonic-platform-modules-dell/z9100/systemd/z9100-qsfp-monitor.service
Labels: enhancement :robot:, platform-dell

#2533 [docker-snmp] Install pyyaml in the container
  dockers/docker-snmp-sv2/Dockerfile.j2
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2545 [swss/syncd] log swss/syncd service script activities
  files/scripts/swss.sh
  files/scripts/syncd.sh
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2550 [bcm sai] Upgrade Broadcom SAI to version 3.3.4.3-2
  platform/broadcom/sai.mk
Labels: Request_for_201811_branch :shipit:, platform-broadcom, submodule update :arrow_double_up:

#2554 [Broadcom]: Update SAI to 3.1.3.4-19
  platform/broadcom/sai.mk
Labels: platform-broadcom, submodule update :arrow_double_up:

#2552 [201803] [radvd] Build radvd from source; Patch so as not to treat out-of-range MTU as an error
  .gitignore
  dockers/docker-router-advertiser/Dockerfile.j2
  rules/docker-router-advertiser.mk
  rules/radvd.mk
  src/radvd/Makefile
  src/radvd/patch/0001-Don-t-treat-out-of-range-MTU-as-an-error.patch
  src/radvd/patch/series
Labels: enhancement :robot:

#2460 [mellanox] Implement PSU APIs based on the new platform API
  platform/mellanox/mlnx-platform-api.mk
  platform/mellanox/mlnx-platform-api/setup.py
  platform/mellanox/mlnx-platform-api/sonic_platform_api/__init__.py
  platform/mellanox/mlnx-platform-api/sonic_platform_api/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform_api/psu.py
  platform/mellanox/rules.mk
  rules/docker-platform-monitor.mk
Labels: enhancement :robot:, platform-mellanox

#2561 Updated SAI XML config for SN2010.
  device/mellanox/x86_64-mlnx_msn2010-r0/ACS-MSN2010/sai_2010.xml
Labels: Request_for_201811_branch :shipit:, platform-mellanox

#2562 [HWSKU] Define HWSKU Arista-7260CX3-Q64 and Arista-7260CX3-Q44
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q44
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/sai.profile
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/th2-a7260cx3-64-64x40G.config.bcm
Labels: Request_for_201811_branch :shipit:

#2572 [syncd.sh] Don't stop sxdkernel during warm shutdown on Mellanox plat…
  files/scripts/syncd.sh
Labels: Request_for_201811_branch :shipit:

#2496 [dell/Z9100] Fix for optics not detected in fanout mode
  device/dell/x86_64-dell_z9100_c2538-r0/plugins/sfputil.py
Labels: enhancement :robot:, platform-dell

#2567 [Devices] Dell Reset I2C MUX in S6000 while invoking platform reboot
  device/dell/x86_64-dell_s6000_s1220-r0/installer.conf
  device/dell/x86_64-dell_s6000_s1220-r0/platform_reboot
  platform/broadcom/sonic-platform-modules-s6000/modules/dell_s6000_platform.c
Labels: enhancement :robot:, platform-dell

#2538 Move warm_restart enable/disable config to stateDB WARM_RESTART_ENABL…
  dockers/docker-orchagent/swssconfig.sh
  files/image_config/updategraph/updategraph
  files/scripts/swss.sh
  files/scripts/syncd.sh
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2481 [minigraph] asymmetric pfc is disabled by default
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Request_for_201811_branch :shipit:

#2589 [ntp] disable ntp time jump
  build_debian.sh
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2590 Revert "[boot] Delay ntp-config service to start after 5 minutes"
  files/build_templates/ntp-config.timer
  files/build_templates/sonic_debian_extension.j2
Labels: Request_for_201811_branch :shipit:

#2574 [201803] Set a rate limit on syslog messages from all Docker containers
  dockers/docker-base/etc/rsyslog.conf
Labels: enhancement :robot:

#2546 [201803] [services] Restart SwSS service upon unexpected critical process exit
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-orchagent/critical_processes
  dockers/docker-orchagent/supervisord.conf
  files/build_templates/dhcp_relay.service.j2
  files/build_templates/radv.service.j2
  files/build_templates/snmp.service.j2
  files/build_templates/swss.service.j2
  files/build_templates/teamd.service.j2
  files/scripts/supervisor-proc-exit-listener
  platform/broadcom/docker-orchagent-brcm.mk
  platform/cavium/docker-orchagent-cavm.mk
  platform/centec/docker-orchagent-centec.mk
  platform/marvell/docker-orchagent-mrvl.mk
  platform/mellanox/docker-orchagent-mlnx.mk
  platform/nephos/docker-orchagent-nephos.mk
  rules/docker-dhcp-relay.mk
  rules/scripts.mk
  src/sonic-config-engine/tests/sample_output/wait_for_intf.sh
Labels: enhancement :robot:

#2595 Add initramfs hook for Arista devices
  build_debian.sh
  files/initramfs-tools/arista-hook
Labels: enhancement :robot:, platform-arista

#2605 dockers/docker-orchagent: Add bridge-utils to orchagent image
  dockers/docker-orchagent/Dockerfile.j2
Labels: enhancement :robot:

#2607 [mellanox] Implement Watchdog API based on the new platform API
  platform/mellanox/mlnx-platform-api/sonic_platform_api/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform_api/watchdog.py
Labels: platform-mellanox
