Repository sonic-net/sonic-buildimage, pull requests merged in 2019-01, with the labels that each got.

#2410 [mellanox] update SAI,SDK,FW pointers
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Labels: platform-mellanox, submodule update :arrow_double_up:

#2408 [Mellanox sfputil ] fix lpmode set failure on Mellanox platform
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
Labels: bug :bug:, platform-mellanox

#2425 [libteam]: Add patch to update orig_hwaddr unconditionally
  src/libteam/0005-update-hwaddr-orig-unconditionally.patch
  src/libteam/Makefile
Labels: bug :bug:

#2415 Dell z9264f bringup
  device/dell/x86_64-dellemc_z9264f_c3538-r0/platform_reboot
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/eeprom.py
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9264f.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9264f.postinst
  platform/broadcom/sonic-platform-modules-dell/z9264f/modules/dell_z9264f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/z9264f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/z9264f/systemd/platform-modules-z9264f.service
Labels: enhancement :robot:, platform-dell

#2374 [mellanox|ffb] use system level warm reboot for Mellanox fastfast boot
  files/build_templates/docker_image_ctl.j2
  files/scripts/swss.sh
  files/scripts/syncd.sh
  platform/mellanox/docker-syncd-mlnx/start.sh
  platform/mellanox/mlnx-ffb.sh
  platform/mellanox/mlnx-issu/scripts/ffb
  platform/mellanox/mlnx-issu/setup.py
Labels: enhancement :robot:, platform-mellanox

#2385 [mellanox|ffb] enable ISSU feature for SN2700
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/sai_2700.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/sai_2700_48x50g_8x100g.xml
Labels: enhancement :robot:, platform-mellanox

#2434 [docker-database] Add missing '%' in '%syslogtag%'
  dockers/docker-database/Dockerfile.j2
Labels: bug :bug:

#2440 [device/Dell] SOSFTDEP to lpc_ich module for dell_ich module
  device/dell/x86_64-dell_s6100_c2538-r0/installer.conf
  device/dell/x86_64-dell_z9100_c2538-r0/installer.conf
  platform/broadcom/sonic-platform-modules-dell/common/dell_ich.c
Labels: bug :bug:, platform-dell

#2348 Initial changes for dhcp to support eth0 in a mgmt vrf
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  files/dhcp/vrf
Labels: enhancement :robot:

#2450 Add new hwsku Arista-7170-Q59S20
  device/arista/x86_64-arista_7170_64c/Arista-7170-Q59S20/board_lane_map.json
  device/arista/x86_64-arista_7170_64c/Arista-7170-Q59S20/port_config.ini
  device/arista/x86_64-arista_7170_64c/Arista-7170-Q59S20/switch-sai.conf
Labels: enhancement :robot:, platform-arista

#2449 [libteam]: Fix libteam race condition when interface is created and enslaved
  src/libteam/0006-Fix-ifinfo_link_with_port-race-condition-with-newlink.patch
  src/libteam/Makefile
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2451 [docker-engine] fix systemd shutdown hang
  build_debian.sh
Labels: enhancement :robot:

#2456 Remove WRED on lossy queues on msn2700
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/qos.json
Labels: enhancement :robot:, platform-mellanox

#2457 Fix cpld sysfs permisson error
  platform/broadcom/sonic-platform-modules-accton/common/modules/accton_i2c_cpld.c
Labels: bug :bug:, platform-accton

#2437 [mellanox|ffb] ISSU version check
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/criu.mk
  platform/mellanox/criu/Makefile
  platform/mellanox/docker-syncd-mlnx-rpc.mk
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/issu-version.mk
  platform/mellanox/issu-version/Makefile
  platform/mellanox/mlnx-ffb.sh
  platform/mellanox/mlnx-issu.mk
  platform/mellanox/mlnx-issu/scripts/issu
  platform/mellanox/mlnx-issu/setup.py
  platform/mellanox/one-image.mk
  platform/mellanox/rules.mk
  platform/mellanox/sdk-version.j2
  platform/mellanox/sdk.mk
  sonic-slave/Dockerfile
Labels: Request_for_201811_branch :shipit:, enhancement :robot:, platform-mellanox

#2452 Avoid removing localhost entry from /etc/hosts file
  files/image_config/hostname/hostname-config.sh
Labels: enhancement :robot:

#2472 [Broadcom SAI] Upgrade Broadcom SAI to 3.3.4.3-1
  platform/broadcom/sai.mk
Labels: Request_for_201811_branch :shipit:, submodule update :arrow_double_up:

#2469 ALPM is not working on AS5712/TD2 platforms.
  device/accton/x86_64-accton_as5712_54x-r0/Accton-AS5712-54X/td2-as5712-72x10G.config.bcm
Labels: enhancement :robot:, platform-arista

#2479 [build]: add fastentrypoints which is used for sonic-utilities build
  sonic-slave/Dockerfile
Labels: enhancement :robot:

#2475 [caclmgrd] Don't crash if we find empty/null rule_props
  files/image_config/caclmgrd/caclmgrd
Labels: enhancement :robot:

#2473 [slave.mk] Fix DEB_BUILD_OPTIONS passing
  slave.mk
Labels: bug :bug:

#2439 [dockers] Prevent old supervisord messages from gettting re-logged to syslog
  dockers/docker-base/etc/rsyslog.d/supervisor.conf
Labels: enhancement :robot:

#2489 [make reset] Also remove fsroot directory
  Makefile.work
Labels: enhancement :robot:

#2497 [rsyslog] Suppress duplicate messages from base image and all Docker containers
  dockers/docker-base/etc/rsyslog.conf
  files/image_config/rsyslog/rsyslog.conf.j2
  platform/p4/docker-sonic-p4/Dockerfile.j2
  platform/p4/docker-sonic-p4/rsyslog.conf
Labels: enhancement :robot:

#2493 Disable IPv6 ra for eth0 interface
  build_debian.sh
Labels: enhancement :robot:

#2396 [lldpmgr] add mgmt ip to lldpd conf template, handle port description/alias changes
  dockers/docker-lldp-sv2/lldpd.conf.j2
  dockers/docker-lldp-sv2/lldpmgrd
  src/sonic-config-engine/tests/sample_output/lldpd.conf
Labels: enhancement :robot:

#2505 Qos config change
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050-QX-32S/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers_defaults_t1.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/pg_profile_lookup.ini
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/buffers_defaults_t1.j2
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/pg_profile_lookup.ini
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100-C32/buffers_defaults_t1.j2
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100-C8D48/buffers_defaults_t0.j2
  files/build_templates/buffers_config.j2
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/buffers-dell6100.json
  src/sonic-config-engine/tests/sample_output/qos-dell6100.json
Labels: enhancement :robot:

#2494 [boot] Delay ntp-config service to start after 5 minutes
  files/build_templates/ntp-config.timer
  files/build_templates/sonic_debian_extension.j2
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2076 Define a base Docker image and config-engine docker image based on Debian Stretch
  .gitignore
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/LICENSE
  dockers/docker-base-stretch/dpkg_01_drop
  dockers/docker-base-stretch/etc/rsyslog.conf
  dockers/docker-base-stretch/etc/rsyslog.d/supervisor.conf
  dockers/docker-base-stretch/etc/supervisor/supervisord.conf
  dockers/docker-base-stretch/no_install_recommend_suggest
  dockers/docker-base-stretch/root/.vimrc
  dockers/docker-base-stretch/sources.list
  dockers/docker-config-engine-stretch/Dockerfile.j2
  rules/docker-base-stretch.mk
  rules/docker-config-engine-stretch.mk
Labels: enhancement :robot:

#2508 [sub module] move sairedis and swss to 201811 branch
  .gitmodules
Labels: Request_for_201811_branch :shipit:, submodule update :arrow_double_up:

#2506 [build] When generating image version, handle case where current commit has no reachable tags
  functions.sh
Labels: bug :bug:
