Repository sonic-net/sonic-buildimage, pull requests merged in 2019-11, with the labels that each got.

#3693 Return evpn configuration into bgp templates
  dockers/docker-fpm-frr/bgpd.peer.conf.j2
Labels: Enhancement :robot:

#3695 [minigraph.py]: Use default namespace for <Address>
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Bug :bug:, Request for 201811 Branch :shipit:

#3694 Add DEVICE_NEIGHBOR_METADATA into bgpcfgd
  dockers/docker-fpm-frr/bgpcfgd
Labels: Enhancement :robot:

#3692 Fix the issue 'branch already exist' in rebuilds
  src/sonic-frr/Makefile
Labels: Bug :bug:, Enhancement :robot:

#3689 [Services] Restart Platform-monitor service upon unexpected critical process exit.
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-platform-monitor/critical_processes
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
  files/build_templates/pmon.service.j2
  rules/docker-platform-monitor.mk
Labels: Enhancement :robot:

#3703 [Services] Restart Teamd service upon unexpected critical process exit.
  dockers/docker-teamd/Dockerfile.j2
  dockers/docker-teamd/critical_processes
  dockers/docker-teamd/supervisord.conf
  files/build_templates/teamd.service.j2
  rules/docker-teamd.mk
Labels: Enhancement :robot:

#3702 [bgp]: start bgp service after interfaces-config service
  files/build_templates/bgp.service.j2
Labels: Included in 201811 Branch

#3672 Fpga crash fix
  platform/broadcom/sonic-platform-modules-dell/z9264f/modules/dell_z9264f_fpga_ocores.c
Labels: Bug :bug:, Platform: DellEMC

#3686 [Juniper][QFX5210] Updating preemphasis values for supported optics
  device/juniper/x86_64-juniper_qfx5210-r0/media_settings.json
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/utils/README
Labels: Enhancement :robot:, Platform: Juniper

#3667 [Services] Restart DHCP-Relay service upon unexpected critical process exit.
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/critical_processes
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  files/build_templates/dhcp_relay.service.j2
  files/scripts/supervisor-proc-exit-listener
  rules/docker-dhcp-relay.mk
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
Labels: Enhancement :robot:

#3714 Fix typos and comment alignment in supervisor.conf files
  dockers/docker-base-stretch/etc/supervisor/supervisord.conf
  dockers/docker-base/etc/supervisor/supervisord.conf
  dockers/docker-ptf/supervisord.conf
Labels: Cleanup :droplet:

#3713 [Services] Restart LLDP service upon unexpected critical process exit.
  dockers/docker-lldp-sv2/Dockerfile.j2
  dockers/docker-lldp-sv2/critical_processes
  dockers/docker-lldp-sv2/supervisord.conf
  files/build_templates/lldp.service.j2
  rules/docker-lldp-sv2.mk
Labels: Enhancement :robot:

#3657 [services] make snmp.timer work again and delay telemetry.service
  files/build_templates/snmp.service.j2
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/telemetry.service.j2
  files/build_templates/telemetry.timer
Labels: Request for 201811 Branch :shipit:

#3708 [TSA]: Add community to the loopback prefix, when isolated
  dockers/docker-fpm-frr/TSA
  dockers/docker-fpm-frr/TSB
  dockers/docker-fpm-frr/TSC
  dockers/docker-fpm-frr/bgpd.conf.default.j2
  dockers/docker-fpm-frr/bgpd.tsa.isolate.conf.j2
  dockers/docker-fpm-frr/bgpd.tsa.unisolate.conf.j2
  dockers/docker-fpm-frr/start.sh
  dockers/docker-fpm-quagga/bgpd.conf.j2
  dockers/docker-fpm-quagga/start.sh
  files/build_templates/sonic_debian_extension.j2
  files/image_config/asn/deployment_id_asn_map.yml
  files/image_config/constants/constants.yml
Labels: Enhancement :robot:

#3719 Do not start pfcwd on M0
  files/image_config/updategraph/updategraph
Labels: Request for 201811 Branch :shipit:

#3709 [barefoot] Added Newport platform support
  device/barefoot/x86_64-accton_as9516bf_32d-r0/default_sku
  device/barefoot/x86_64-accton_as9516bf_32d-r0/installer.conf
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/buffers.json.j2
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/buffers_defaults_t0.j2
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/buffers_defaults_t1.j2
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/pg_profile_lookup.ini
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/port_config.ini
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/qos.json.j2
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/sai.profile
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/switch-tna-sai.conf
  device/barefoot/x86_64-accton_as9516bf_32d-r0/plugins
  device/barefoot/x86_64-accton_as9516bf_32d-r0/pmon_daemon_control.json
  platform/barefoot/one-image.mk
  platform/barefoot/platform-modules-bfn-newport.mk
  platform/barefoot/rules.mk
  platform/barefoot/sonic-platform-modules-bfn-newport/LICENSE
  platform/barefoot/sonic-platform-modules-bfn-newport/MAINTAINERS
  platform/barefoot/sonic-platform-modules-bfn-newport/README.md
  platform/barefoot/sonic-platform-modules-bfn-newport/configs/network/interfaces.d/usb0
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/changelog
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/compat
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/copyright
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/rules
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/Makefile
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/bf_fpga_ioctl.c
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/bf_fpga_ioctl.h
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/bf_fpga_main.c
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/bf_fpga_priv.h
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/bf_fpga_sysfs.c
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/i2c/bf_fpga_i2c.c
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/i2c/bf_fpga_i2c.h
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/i2c/bf_fpga_i2c_ctrl.c
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/i2c/bf_fpga_i2c_porting.c
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/i2c/bf_fpga_i2c_priv.h
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/i2c/bf_fpga_i2c_priv_porting.h
  platform/barefoot/sonic-platform-modules-bfn-newport/modules/i2c/bf_fpga_i2c_reg.h
  platform/barefoot/sonic-platform-modules-bfn-newport/scripts/bf-sfputil
  platform/barefoot/sonic-platform-modules-bfn-newport/scripts/eeprom
  platform/barefoot/sonic-platform-modules-bfn-newport/scripts/fancontrol
  platform/barefoot/sonic-platform-modules-bfn-newport/scripts/ps_info
  platform/barefoot/sonic-platform-modules-bfn-newport/scripts/sensors
  platform/barefoot/sonic-platform-modules-bfn-newport/scripts/test
Labels: Enhancement :robot:, Platform: Barefoot

#3706 [platform/device] - Implement Silverstone platform API [Chassis/Fan]
  device/celestica/x86_64-cel_silverstone-r0/sonic_platform/__init__.py
  device/celestica/x86_64-cel_silverstone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_silverstone-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_silverstone-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_silverstone-r0/sonic_platform/helper.py
  device/celestica/x86_64-cel_silverstone-r0/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-silverstone.init
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-silverstone.install
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-silverstone.postinst
  platform/broadcom/sonic-platform-modules-cel/silverstone/setup.py
Labels: Enhancement :robot:, Platform: Celestica

#3685 [device/platform] Add reset in sfputil.py for Accton AS7326-56X
  device/accton/x86_64-accton_as7326_56x-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/modules/accton_i2c_cpld.c
Labels: Enhancement :robot:, Platform: Accton

#3716 [aboot]: preserve snmp.yml and acl.json for eos to sonic fast reboot
  files/Aboot/boot0.j2
  files/image_config/platform/rc.local
Labels: Request for 201811 Branch :shipit:

#3698 [DellEMC] Platform2.0 API Implementation for Watchdog [S6100]
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/watchdog.py
Labels: Enhancement :robot:, Platform: DellEMC

#3728 [barefoot][pmon] Fixed pmon Docker failure
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/pmon_daemon_control.json
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/pmon_daemon_control.json
Labels: Bug :bug:, Platform: Barefoot

#3705 [lldpd]: LLDP changing the tx-interval parameter is not reflected on the peer device immediately
  src/lldpd/patch/0003-update-tx-interval-immediately.patch
  src/lldpd/patch/series
Labels: Bug :bug:

#3534 Restart SwSS, syncd and dependent services if a critical process in syncd container exits unexpectedly
  files/build_templates/sonic_debian_extension.j2
  files/image_config/misc/docker-wait-any
  files/scripts/swss.sh
  platform/barefoot/docker-syncd-bfn-rpc.mk
  platform/barefoot/docker-syncd-bfn/Dockerfile.j2
  platform/barefoot/docker-syncd-bfn/critical_processes
  platform/broadcom/docker-syncd-brcm-rpc.mk
  platform/broadcom/docker-syncd-brcm/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm/critical_processes
  platform/broadcom/docker-syncd-brcm/supervisord.conf
  platform/cavium/docker-syncd-cavm-rpc.mk
  platform/cavium/docker-syncd-cavm.mk
  platform/cavium/docker-syncd-cavm/Dockerfile.j2
  platform/cavium/docker-syncd-cavm/critical_processes
  platform/cavium/docker-syncd-cavm/supervisord.conf
  platform/centec/docker-syncd-centec-rpc.mk
  platform/centec/docker-syncd-centec.mk
  platform/centec/docker-syncd-centec/Dockerfile.j2
  platform/centec/docker-syncd-centec/critical_processes
  platform/centec/docker-syncd-centec/supervisord.conf
  platform/marvell-arm64/docker-syncd-mrvl-rpc.mk
  platform/marvell-arm64/docker-syncd-mrvl/Dockerfile.j2
  platform/marvell-arm64/docker-syncd-mrvl/critical_processes
  platform/marvell-armhf/docker-syncd-mrvl-rpc.mk
  platform/marvell-armhf/docker-syncd-mrvl/Dockerfile.j2
  platform/marvell-armhf/docker-syncd-mrvl/critical_processes
  platform/marvell/docker-syncd-mrvl-rpc.mk
  platform/marvell/docker-syncd-mrvl/Dockerfile.j2
  platform/marvell/docker-syncd-mrvl/critical_processes
  platform/marvell/docker-syncd-mrvl/supervisord.conf
  platform/mellanox/docker-syncd-mlnx-rpc.mk
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/critical_processes
  platform/mellanox/docker-syncd-mlnx/supervisord.conf
  platform/nephos/docker-syncd-nephos/Dockerfile.j2
  platform/nephos/docker-syncd-nephos/critical_processes
  platform/nephos/docker-syncd-nephos/supervisord.conf
  platform/template/docker-syncd-base.mk
Labels: Enhancement :robot:

#3737 [build] clear dpkg cache and update sources
  sonic-slave-stretch/Dockerfile
  sonic-slave/Dockerfile
Labels: Enhancement :robot:, Included in 201811 Branch

#3738 celestica: reallocate the empty LIST at the constructor of subclasses
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
Labels: Enhancement :robot:, Platform: Celestica

#3752 Don't start bgpcfgd twice
  dockers/docker-fpm-frr/start.sh
Labels: Enhancement :robot:

#3754 [rsyslog] Add support for IPv6 remote addresses
  files/image_config/rsyslog/rsyslog.conf.j2
Labels: Enhancement :heavy_plus_sign:

#3747 DellEMC: optoe driver support in S6000,S6100,Z9100
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/s6000_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9100/scripts/z9100_platform.sh
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/sfp.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#3743 [devices]:Firmware upgrade support for DellEMC platforms
  platform/broadcom/platform-modules-dell.mk
  platform/broadcom/sonic-platform-modules-dell/common/fw-updater
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s5232f.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s5248f.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9100.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9264f.install
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#3749 Revert "[build] clear dpkg cache and update sources (#3737)"
  sonic-slave-stretch/Dockerfile
  sonic-slave/Dockerfile
Labels: Cleanup :droplet:

#3723 [mellanox] Extend Mellanox FW utils with CPLD update
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Request for 201811 Branch :shipit:

#3768 [Services] Restart Telemetry service upon unexpected critical process exit.
  dockers/docker-sonic-telemetry/Dockerfile.j2
  dockers/docker-sonic-telemetry/critical_processes
  dockers/docker-sonic-telemetry/supervisord.conf
  files/build_templates/telemetry.service.j2
  rules/telemetry.mk
Labels: Enhancement :heavy_plus_sign:

#3781 [201811][bcm SAI] upgrade Broadcom SAI to 3.5.3.3-1
  platform/broadcom/sai.mk
Labels: Included in 201811 Branch, Submodule Update :arrow_double_up:

#3739 Add bcmcmd and bcmsh in host when build as rpc image
  platform/broadcom/docker-syncd-brcm-rpc.mk
  platform/broadcom/docker-syncd-brcm-rpc/base_image_files/bcmcmd
  platform/broadcom/docker-syncd-brcm-rpc/base_image_files/bcmsh
Labels: Enhancement :heavy_plus_sign:

#3777 [Mellanox] support get_transceiver_threshold_info
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Enhancement :heavy_plus_sign:

#3759 [minigraph.py] Generate items needed by streaming telemetry service
  src/sonic-config-engine/minigraph.py
Labels: Enhancement :heavy_plus_sign:

#3789 [docker-fpm-frr]: Refactor bgpcfgd
  dockers/docker-fpm-frr/bgpcfgd
Labels: Enhancement :heavy_plus_sign:

#3805 [build] Moved telemetry exit listener from process package into docker
  rules/docker-telemetry.mk
  rules/telemetry.mk
Labels: Bug :bug:

#3807 [swss.sh] When starting, call 'systemctl restart' on dependents, not 'systemctl start'
  files/scripts/swss.sh
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:

#3799 [docker-fpm-frr]: Enable sending ipv6 prefixes over ipv4 BGPMON session
  dockers/docker-fpm-frr/bgpd.conf.default.j2
  src/sonic-config-engine/tests/sample_output/bgpd_frr.conf
  src/sonic-config-engine/tests/sample_output/frr.conf
Labels: Enhancement :heavy_plus_sign:

#3810 [telemetry.sh] Fix string null check with special characters by adding quotes
  dockers/docker-sonic-telemetry/telemetry.sh
Labels: Bug :bug:

#3809 [minigraph.py] Fix telemetry server key name
  src/sonic-config-engine/minigraph.py
Labels: Bug :bug:

#3653 [hostcfgd] Add support to enable/disable optional features
  files/image_config/hostcfgd/hostcfgd
Labels: Enhancement :heavy_plus_sign:

#3823 [services] Remove explicit dependencies from dhcp_relay service file, control in swss.sh
  files/build_templates/dhcp_relay.service.j2
  files/scripts/swss.sh
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:

#3824 [dhcp_relay] Add extra sleep before starting relay agent processes
  dockers/docker-dhcp-relay/start.sh
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:

#3525 Add daemon which periodically pushes process and docker stats to State DB
  files/build_templates/sonic_debian_extension.j2
  files/image_config/procdockerstatsd/procdockerstatsd
  files/image_config/procdockerstatsd/procdockerstatsd.service
Labels: Enhancement :heavy_plus_sign:

#3762 DellEMC: Skip starting 'ledd' in pmon in DellEMC platforms
  device/dell/x86_64-dell_s6000_s1220-r0/pmon_daemon_control.json
  device/dell/x86_64-dell_s6100_c2538-r0/pmon_daemon_control.json
  device/dell/x86_64-dell_z9100_c2538-r0/pmon_daemon_control.json
  device/dell/x86_64-dellemc_s5232f_c3538-r0/pmon_daemon_control.json
  device/dell/x86_64-dellemc_s5248f_c3538-r0/pmon_daemon_control.json
  device/dell/x86_64-dellemc_z9264f_c3538-r0/pmon_daemon_control.json
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#3797 [barefoot][newport] Updated Newport configuration
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/buffers_defaults_t0.j2
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/buffers_defaults_t1.j2
  device/barefoot/x86_64-accton_as9516bf_32d-r0/newport/switch-tna-sai.conf
  platform/barefoot/sonic-platform-modules-bfn-newport/configs/network/interfaces.d/eth2
  platform/barefoot/sonic-platform-modules-bfn-newport/configs/systemd/system/bfn-newport.service
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/install
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/postinst
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot
