Repository sonic-net/sonic-buildimage, pull requests merged in 2019-06, with the labels that each got.

#2962 [docker-frr]: fix frr separated and unified configuration mode
  dockers/docker-fpm-frr/start.sh
Labels: Bug :bug:

#2945 Fix for management port speed issue
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Bug :bug:

#2946 [dhcp_relay] Add support for DHCP client(s) on one VLAN and DHCP server(s) on another
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  rules/docker-dhcp-relay.mk
  rules/isc-dhcp.mk
  src/isc-dhcp/Makefile
  src/isc-dhcp/patch/0005-Add-enable-use-sockets-to-configure-flags-in-debian-.patch
  src/isc-dhcp/patch/0006-Bugfix-Ensure-HAVE_SO_BINDTODEVICE-has-a-chance-to-b.patch
  src/isc-dhcp/patch/0007-If-destination-of-BOOTREQUEST-is-directed-broadcast-.patch
  src/isc-dhcp/patch/0008-CVE-2017-3144.patch
  src/isc-dhcp/patch/0009-CVE-2018-5733.patch
  src/isc-dhcp/patch/0010-CVE-2018-5732.patch
  src/isc-dhcp/patch/series
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
Labels: Enhancement :robot:, Request for 201904 Branch :snowboarder:

#2965 [libteam] Send LACP PDU as soon as we need them. 201803 version
  src/libteam/0007-Send-LACP-PDU-immediately-if-the-actor-state-changed.patch
  src/libteam/Makefile
Labels: Bug :bug:

#2963 [201803][monit] Restart rsyslog service if rsyslogd consumes > 800 MB memory
  build_debian.sh
Labels: Enhancement :robot:

#2971 [slave.mk] Fix typo
  slave.mk
Labels: Bug :bug:, Request for 201904 Branch :snowboarder:

#2951 [Mellanox] Expose SDK share buffer and unix socket from syncd
  files/build_templates/docker_image_ctl.j2
Labels: Enhancement :robot:, Platform: Mellanox

#2966 [device/Accton] bugfix: potential i2c fault from IC IR3570a.
  platform/broadcom/sonic-platform-modules-accton/as5712-54x/utils/accton_as5712_util.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54x/utils/accton_as5812_util.py
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/utils/accton_as6712_util.py
  platform/broadcom/sonic-platform-modules-accton/as7716-32x/utils/accton_as7716_util.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/utils/accton_as7816_util.py
  platform/broadcom/sonic-platform-modules-accton/minipack/utils/accton_minipack_util.py
Labels: Bug :bug:, Platform: Accton

#2924 [build_templates] [hostcfgd] Keep containers hostname up to date
  files/build_templates/docker_image_ctl.j2
  files/image_config/hostcfgd/hostcfgd
Labels: Enhancement :robot:

#2975 [Broadcom]: Update SAI to 3.1.3.4-24
  platform/broadcom/sai.mk
Labels: Enhancement :robot:, Platform: Broadcom

#2973 [device/Arista] Add HwSku profiles for the 7060PX-32
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-C64/port_config.ini
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-C64/sai.profile
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-C64/th3-a7060px4-32-64x100G.config.bcm
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-O32/th3-a7060px4-o32-32x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Enhancement :robot:, Platform: Arista

#2967 [Mellanox]Remove the dependency on sysfs for sfputil
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
Labels: Enhancement :robot:, Platform: Mellanox

#2974 DellEmc-S6000 : Back-end work for last reboot reason
  device/dell/x86_64-dell_s6000_s1220-r0/platform_reboot
  platform/broadcom/sonic-platform-modules-s6000/debian/platform-modules-s6000.init
  platform/broadcom/sonic-platform-modules-s6000/debian/platform-modules-s6000.install
  platform/broadcom/sonic-platform-modules-s6000/scripts/io_rd_wr.py
Labels: Enhancement :robot:, Platform: DellEMC

#2977 [device][platform] add platform as5835-54x, accton.
  device/accton/x86_64-accton_as5835_54x-r0/Accton-AS5835-54X/port_config.ini
  device/accton/x86_64-accton_as5835_54x-r0/Accton-AS5835-54X/sai.profile
  device/accton/x86_64-accton_as5835_54x-r0/Accton-AS5835-54X/td3-as5835-48x10G+6x100G.config.bcm
  device/accton/x86_64-accton_as5835_54x-r0/default_sku
  device/accton/x86_64-accton_as5835_54x-r0/installer.conf
  device/accton/x86_64-accton_as5835_54x-r0/plugins/eeprom.py
  device/accton/x86_64-accton_as5835_54x-r0/plugins/psuutil.py
  device/accton/x86_64-accton_as5835_54x-r0/plugins/sfputil.py
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-accton.mk
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/classes/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/classes/fanutil.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/classes/thermalutil.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/modules/Makefile
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/modules/accton_as5835_54x_cpld.c
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/modules/accton_as5835_54x_fan.c
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/modules/accton_as5835_54x_leds.c
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/modules/accton_as5835_54x_psu.c
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/modules/ym2651y.c
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/service/as5835-54x-platform-monitor-fan.service
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/service/as5835-54x-platform-monitor-psu.service
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/service/as5835-54x-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/setup.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/README
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_util.py
  platform/broadcom/sonic-platform-modules-accton/common/modules/ym2651y.c
  platform/broadcom/sonic-platform-modules-accton/debian/control
  platform/broadcom/sonic-platform-modules-accton/debian/rules
Labels: Enhancement :robot:, Platform: Accton

#2682 Add Broadcom XLR/GTS (BCM9COMX2XMC) support for Tomahawk switch (BCM56960K)
  device/broadcom/x86_64-bcm_xlr-r0/BCM956960K/config_th_32x100.bcm
  device/broadcom/x86_64-bcm_xlr-r0/BCM956960K/port_config.ini
  device/broadcom/x86_64-bcm_xlr-r0/BCM956960K/sai.profile
  device/broadcom/x86_64-bcm_xlr-r0/default_sku
  device/broadcom/x86_64-bcm_xlr-r0/installer.conf
  device/broadcom/x86_64-bcm_xlr-r0/plugins/eeprom.py
  device/broadcom/x86_64-bcm_xlr-r0/plugins/psuutil.py
  device/broadcom/x86_64-bcm_xlr-r0/plugins/sfputil.py
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-brcm-xlr-gts.mk
  platform/broadcom/rules.mk
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/Makefile
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/confs/sonic-platform-brcm-xlr-gts.service
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/debian/changelog
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/debian/compat
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/debian/control
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/debian/copyright
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/debian/files
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/debian/rules
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/setup.py
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/src/Makefile
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/src/modules.order
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/tests/all-platforms.sh
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/utils/brcm-xlr-gts-create-eeprom-file.py
  platform/broadcom/sonic-platform-modules-brcm-xlr-gts/utils/brcm-xlr-gts-platform-setup
Labels: Enhancement :robot:, Platform: Broadcom

#2848 Generate interface table to have an entry designated to default VRF.
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  dockers/docker-fpm-frr/bgpd.conf.j2
  dockers/docker-fpm-frr/frr.conf.j2
  dockers/docker-fpm-frr/zebra.conf.j2
  dockers/docker-fpm-gobgp/zebra.conf.j2
  dockers/docker-fpm-quagga/bgpd.conf.j2
  dockers/docker-fpm-quagga/zebra.conf.j2
  dockers/docker-orchagent/ipinip.json.j2
  dockers/docker-router-advertiser/radvd.conf.j2
  dockers/docker-router-advertiser/wait_for_intf.sh.j2
  files/image_config/interfaces/interfaces.j2
  files/image_config/ntp/ntp.conf.j2
  files/scripts/arp_update
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Enhancement :robot:

#2988 Configure oom-killer to panic when system is out of memory
  build_debian.sh
Labels: Enhancement :robot:

#2987 [FRR]: Aligned configs for unified/separated modes.
  dockers/docker-fpm-frr/bgpd.conf.j2
  dockers/docker-fpm-frr/start.sh
Labels: Request for 201904 Branch :snowboarder:

#2992 [mlnx|spc2] change egress lossless pool size from 40M to 37M
  device/mellanox/x86_64-mlnx_msn3700-r0/ACS-MSN3700/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn3700-r0/ACS-MSN3700/buffers_defaults_t1.j2
Labels: Enhancement :robot:, Platform: Mellanox, Request for 201904 Branch :snowboarder:

#2833 Build sonic-broadcom.bin using debug dockers for all stretch based dockers
  files/build_templates/sonic_debian_extension.j2
  platform/broadcom/one-image.mk
  slave.mk
Labels: Enhancement :robot:

#2989 [Accton AS7816]: Add lpmode in sfputil.py
  device/accton/x86_64-accton_as7816_64x-r0/plugins/sfputil.py
Labels: Enhancement :robot:, Platform: Accton

#2990 [docker-pmon] install dmidecode in pmon docker
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: Enhancement :robot:

#2997 [.gitignore] Ignore .DS_Store files
  .gitignore
Labels: Enhancement :robot:

#2994 [frr] fix pfx_filter in sonic-cfggen
  src/sonic-config-engine/sonic-cfggen
Labels: Bug :bug:

#3009 [bcm SAI] upgrade Broadcom SAI to version 3.3.6.1-9
  platform/broadcom/sai.mk
Labels: Platform: Broadcom, Request for 201811 Branch :shipit:, Submodule Update :arrow_double_up:

#3004 [docker]: get hostname from config db instead of minigraph
  files/build_templates/docker_image_ctl.j2
Labels: Enhancement :robot:

#2999 [libteam]: Reimplement Warm-Reboot procedure
  src/libteam/0005-libteam-Add-warm_reboot-mode.patch
  src/libteam/0007-Skip-setting-the-same-hwaddr-to-lag-port-to-avoid-di.patch
  src/libteam/0010-teamd-lacp-update-port-state-according-to-partners-sy.patch
  src/libteam/0011-libteam-resynchronize-ifinfo-after-lost-RTNLGRP_LINK-.patch
  src/libteam/0012-teamd-do-not-process-lacpdu-before-the-port-ifinfo-i.patch
  src/libteam/0013-teamd-lacp-port-admin-down-recv-not-processing.patch
  src/libteam/0014-Send-LACP-PDU-immediately-if-our-state-changed.patch
  src/libteam/0015-libteam-Add-warm_reboot-mode.patch
  src/libteam/series
Labels: Bug :bug:, Enhancement :robot:

#3014 [Broadcom]: Update SAI version to 3.5.2.3
  platform/broadcom/sai.mk
Labels: Platform: Broadcom, Submodule Update :arrow_double_up:

#3016 [libteam]: Reimplement Warm-Reboot procedure
  src/libteam/patch/0008-libteam-Add-warm_reboot-mode.patch
Labels: Bug :bug:, Enhancement :robot:

#3000 [Mellanox] Inject SDK libs dependency to pmon on Mellanox platform
  files/build_templates/docker_image_ctl.j2
  platform/mellanox/rules.mk
Labels: Enhancement :robot:, Platform: Mellanox

#2365 Set the default mac ageing time to 600 seconds
  dockers/docker-orchagent/switch.json.j2
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#2996 [mellanox] Introduced start EEPROM action
  platform/mellanox/hw-management.mk
  platform/mellanox/hw-management/Add-systemd-service-config.patch
Labels: Enhancement :robot:, Platform: Mellanox

#3032 Increase TMOUT for serial console connections to 15 minutes
  files/image_config/bash/bash.bashrc
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3028 [build]: Add missing 'rm -rf' to component Makefiles for clean rebuild
  src/iproute2/Makefile
  src/python3/Makefile
Labels: Enhancement :robot:

#2981 [FRR] Enable SNMP support
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-frr/bgpd.conf.j2
  dockers/docker-fpm-frr/frr.conf.j2
  dockers/docker-fpm-frr/snmp.conf
  dockers/docker-fpm-frr/supervisord.conf
  dockers/docker-snmp-sv2/snmpd.conf.j2
  rules/docker-fpm-frr.mk
  rules/frr.mk
  src/sonic-config-engine/tests/sample_output/frr.conf
  src/sonic-frr/Makefile
Labels: Enhancement :robot:

#2931 Check for broadcom platform sdk init ready during syncd start.
  platform/broadcom/docker-syncd-brcm/start.sh
Labels: Enhancement :robot:, Platform: Broadcom

#3049 [slave] upgrade docker to 18.09 in stretch slave
  Makefile.work
  rules/config
  slave.mk
  sonic-slave-stretch/Dockerfile
Labels: Enhancement :robot:

#3050 [build] Improve overlay check in Makefile
  Makefile.work
Labels: Enhancement :robot:

#3048 [dockers] Refactor Dockerfiles
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-config-engine-stretch/Dockerfile.j2
  dockers/docker-database/Dockerfile.j2
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-lldp-sv2/Dockerfile.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-router-advertiser/Dockerfile.j2
  dockers/docker-snmp-sv2/Dockerfile.j2
  dockers/docker-sonic-telemetry/Dockerfile.j2
  dockers/docker-teamd/Dockerfile.j2
  dockers/dockerfile-macros.j2
  platform/mellanox/docker-syncd-mlnx-rpc/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
Labels: Enhancement :robot:

#3067 [build]: wait up to 60 seconds for docker engine to start
  scripts/wait_for_docker.sh
  slave.mk
Labels: Enhancement :robot:

#3046 DellEMC Z9264f remove 115200 baud-rate support
  device/dell/x86_64-dellemc_z9264f_c3538-r0/installer.conf
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3040 [devices]: Add lpmode in sfputil.py for Accton AS7726-32X
  device/accton/x86_64-accton_as7726_32x-r0/plugins/sfputil.py
Labels: Enhancement :robot:, Platform: Accton

#3017 [FRR]: Port some patches from sonic-quagga repo
  platform/vs/tests/bgp/test_invalid_nexthop.py
  src/sonic-frr/Makefile
  src/sonic-frr/patch/0001-Add-support-of-bgp-tcp-DSCP-value.patch
  src/sonic-frr/patch/0002-Reduce-severity-of-Vty-connected-from-message.patch
  src/sonic-frr/patch/0003-ignore-nexthop-attribute-when-NLRI-is-present.patch
  src/sonic-frr/patch/0004-Allow-BGP-attr-NEXT_HOP-to-be-0.0.0.0-due-to-allevia.patch
  src/sonic-frr/patch/series
Labels: Enhancement :robot:

#3072 [telemetry]: change the service dependency from swss to database
  files/build_templates/telemetry.service.j2
Labels: Request for 201904 Branch :snowboarder:

#2991 [sonic-cfggen] Add Mellanox platform specific code to read base mac from machine.conf
  src/sonic-config-engine/sonic_device_util.py
Labels: Enhancement :robot:, Platform: Mellanox

#2874 [device/celestica] Implement PSU APIs based on the new platform API
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
Labels: Enhancement :robot:, Platform: Celestica

#3079 Remapping S6000 platform files under Vendor (DellEmc) specific directory
  platform/broadcom/platform-modules-dell.mk
  platform/broadcom/platform-modules-s6000.mk
  platform/broadcom/rules.mk
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6000.init
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6000.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6000.postinst
  platform/broadcom/sonic-platform-modules-dell/debian/rules
  platform/broadcom/sonic-platform-modules-dell/s6000/LICENSE
  platform/broadcom/sonic-platform-modules-dell/s6000/MAINTAINERS
  platform/broadcom/sonic-platform-modules-dell/s6000/README.md
  platform/broadcom/sonic-platform-modules-dell/s6000/modules/Makefile
  platform/broadcom/sonic-platform-modules-dell/s6000/modules/dell_s6000_platform.c
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/reset-qsfp
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/set-fan-speed
  platform/broadcom/sonic-platform-modules-dell/s6000/systemd/platform-modules-s6000.service
  platform/broadcom/sonic-platform-modules-s6000/.gitignore
  platform/broadcom/sonic-platform-modules-s6000/debian/changelog
  platform/broadcom/sonic-platform-modules-s6000/debian/compat
  platform/broadcom/sonic-platform-modules-s6000/debian/control
  platform/broadcom/sonic-platform-modules-s6000/debian/copyright
  platform/broadcom/sonic-platform-modules-s6000/debian/platform-modules-s6000.install
  platform/broadcom/sonic-platform-modules-s6000/debian/rules
  platform/broadcom/sonic-platform-modules-s6000/scripts/io_rd_wr.py
Labels: Enhancement :robot:, Platform: DellEMC

#3085 Restart snmpd to mitigate its crash
  dockers/docker-snmp-sv2/supervisord.conf
Labels: Enhancement :robot:

#3084 Restart snmpd to mitigate its crash
  dockers/docker-snmp-sv2/supervisord.conf
Labels: Enhancement :robot:

#3083 fix fast reboot compatibility
  files/build_templates/docker_image_ctl.j2
  files/scripts/syncd.sh
Labels: Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3091 Add new hwsku Arista-7050QX32S-Q32
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX32S-Q32
Labels: Enhancement :robot:, Platform: Arista

#3033 DellEmc(Z9264f): Bug fix in show platform psustatus cli
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/psuutil.py
Labels: Bug :bug:, Platform: DellEMC

#3059 DELLEMC: Z9100,S6100 Exporting Device Last PowerOn Reason
  platform/broadcom/sonic-platform-modules-dell/common/dell_pmc.c
Labels: Enhancement :robot:, Platform: DellEMC

#3005 [devices]: Add lpmode in sfputil.py for Accton AS7512
  device/accton/x86_64-accton_as7512_32x-r0/plugins/sfputil.py
Labels: Enhancement :robot:, Platform: Accton

#2993 Add support as9716 platform
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-accton.mk
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/classes/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/classes/fanutil.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/classes/thermalutil.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/Makefile
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/accton_as9716_32d_cpld.c
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/accton_as9716_32d_fan.c
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/accton_as9716_32d_leds.c
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/accton_as9716_32d_psu.c
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/accton_i2c_psu.c
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/service/as9716-32d-platform-monitor-fan.service
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/service/as9716-32d-platform-monitor-psu.service
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/service/as9716-32d-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/setup.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/README
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_util.py
  platform/broadcom/sonic-platform-modules-accton/debian/control
  platform/broadcom/sonic-platform-modules-accton/debian/rules
Labels: Enhancement :robot:, Platform: Accton

#2835 DellEMC S6100 Watchdog support
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/platform_watchdog_disable.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/platform_watchdog_enable.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
Labels: Enhancement :robot:, Platform: DellEMC
