Repository sonic-net/sonic-buildimage, pull requests merged in 2019-04, with the labels that each got.

#2725 [201811][service] add warmboot finializer service
  files/build_templates/sonic_debian_extension.j2
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  files/image_config/warmboot-finalizer/warmboot-finalizer.service
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2724 [teamd service] teamd service should start after syncd
  files/build_templates/teamd.service.j2
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2723 [teamd] prevent re-entrance of port priv change handler
  src/libteam/0009-teamd-prevent-private-change-handler-reentrance.patch
  src/libteam/series
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2555 removing dhcp- turn- off option from initrd
  build_debian.sh
  files/initramfs-tools/mgmt-intf-dhcp
Labels: Request_for_201811_branch :shipit:, enhancement :robot:, platform-dell

#2732 [minigraph]: Mark both ERSPAN and ERSPANv6 as mirror ACL tables
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: bug :bug:

#2733 Revert "[teamd service] teamd service should start after syncd"
  files/build_templates/teamd.service.j2
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2746 [hostcfgd] Default value of fallthrough for authentication set to be False.
  files/image_config/hostcfgd/hostcfgd
Labels: Request_for_201811_branch :shipit:

#2765 [Bcm SAI] ugprade Broadcom SAI to version 3.3.5.4m-1
  platform/broadcom/sai.mk
Labels: submodule update :arrow_double_up:

#2764 [201811][bcm SAI] upgrade Broadcom SAI to version 3.3.5.4-1
  platform/broadcom/sai.mk
Labels: Request_for_201811_branch :shipit:, submodule update :arrow_double_up:

#2754 [bgp quagga] increase BGP graceful restart timeout to 240 seconds
  dockers/docker-fpm-quagga/bgpd.conf.j2
  src/sonic-config-engine/tests/sample_output/bgpd_quagga.conf
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2766 Add support for PeerAsn and UpdateAddress
  dockers/docker-fpm-quagga/bgpd.conf.j2
  src/sonic-config-engine/minigraph.py
Labels: enhancement :robot:

#2769 [config-engine]: Remove unused sample minigraph
  src/sonic-config-engine/tests/t0-sample-graph-everflow.xml
Labels: enhancement :robot:

#2768 Output differences for bgp configurations
  src/sonic-config-engine/tests/test_j2files.py
Labels: enhancement :robot:

#2715 [service] add warmboot finializer service
  files/build_templates/sonic_debian_extension.j2
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  files/image_config/warmboot-finalizer/warmboot-finalizer.service
Labels: enhancement :robot:

#2782 Install passlib in sonic-mgmt docker to support ansible `no_log` option
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: Request_for_201811_branch :shipit:

#2778 [Mellanox] Update SAI
  platform/mellanox/mlnx-sai.mk
Labels: platform-mellanox

#2780 [tmpfs var/log] mount /var/log as tmpfs for some platforms
  files/initramfs-tools/union-mount.j2
Labels: enhancement :robot:

#2772 [docker/snmp] Allow snmp container to use python smbus
  dockers/docker-snmp-sv2/Dockerfile.j2
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2785 [fw-upgrade] fix issue with fw-upgrade
  platform/mellanox/hw-management/0002-make-hw-mgmt-SimX-compatiable.patch
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: platform-mellanox

#2793 teamd: lacp: update port state according to partner's sync bit
  src/libteam/0010-teamd-lacp-update-port-state-according-to-partners-sy.patch
  src/libteam/series
Labels: bug :bug:

#2794 teamd: lacp: update port state according to partner's sync bit
  src/libteam/0006-teamd-lacp-update-port-state-according-to-partners-sy.patch
  src/libteam/Makefile
Labels: bug :bug:

#2730 Watchdog enable/disable in DellEMC S6100
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/platform_watchdog_disable.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/platform_watchdog_enable.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
Labels: Request_for_201811_branch :shipit:, platform-dell

#2796 [201811] [radvd] Build radvd from source; Patch so as not to treat out-of-range MTU as an error
  .gitignore
  dockers/docker-router-advertiser/Dockerfile.j2
  rules/docker-router-advertiser.mk
  rules/radvd.mk
  src/radvd/Makefile
  src/radvd/patch/0001-Don-t-treat-out-of-range-MTU-as-an-error.patch
  src/radvd/patch/series
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2795 [radvd] Build radvd from source; Patch so as not to treat out-of-range MTU as an error
  .gitignore
  dockers/docker-router-advertiser/Dockerfile.j2
  rules/docker-router-advertiser.mk
  rules/radvd.mk
  src/radvd/Makefile
  src/radvd/patch/0001-Don-t-treat-out-of-range-MTU-as-an-error.patch
  src/radvd/patch/series
Labels: enhancement :robot:

#2797 [Broadcom]: Update SAI to 3.1.3.4-21
  platform/broadcom/sai.mk
Labels: bug :bug:, platform-broadcom, submodule update :arrow_double_up:

#2587 [Devices] Add new device CIG CS6436-56P
  device/cig/x86_64-cig_cs6436_56p-r0/Cig-CS6436-56P/buffers.json.j2
  device/cig/x86_64-cig_cs6436_56p-r0/Cig-CS6436-56P/pg_profile_lookup.ini
  device/cig/x86_64-cig_cs6436_56p-r0/Cig-CS6436-56P/port_config.ini
  device/cig/x86_64-cig_cs6436_56p-r0/Cig-CS6436-56P/port_config.nps
  device/cig/x86_64-cig_cs6436_56p-r0/Cig-CS6436-56P/port_config.nps.AOC.R0B
  device/cig/x86_64-cig_cs6436_56p-r0/Cig-CS6436-56P/port_config.nps.DAC.R0B
  device/cig/x86_64-cig_cs6436_56p-r0/Cig-CS6436-56P/qos.json.j2
  device/cig/x86_64-cig_cs6436_56p-r0/Cig-CS6436-56P/sai.profile
  device/cig/x86_64-cig_cs6436_56p-r0/default_sku
  device/cig/x86_64-cig_cs6436_56p-r0/installer.conf
  device/cig/x86_64-cig_cs6436_56p-r0/led_proc_init.nps
  device/cig/x86_64-cig_cs6436_56p-r0/plugins/eeprom.py
  device/cig/x86_64-cig_cs6436_56p-r0/plugins/psuutil.py
  device/cig/x86_64-cig_cs6436_56p-r0/plugins/sfputil.py
  device/cig/x86_64-cig_cs6436_56p-r0/sensors.conf
  platform/nephos/one-image.mk
  platform/nephos/platform-modules-cig.mk
  platform/nephos/rules.mk
  platform/nephos/sonic-platform-modules-cig/LICENSE
  platform/nephos/sonic-platform-modules-cig/README.md
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/classes/__init__.py
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/classes/fanutil.py
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/classes/thermalutil.py
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/modules/Makefile
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/modules/i2c-algo-lpc.h
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/modules/i2c-algo-lpc2iic.h
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/modules/x86-64-cig-cs6436-56p-cpld.c
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/modules/x86-64-cig-cs6436-56p-fan.c
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/modules/x86-64-cig-cs6436-56p-led.c
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/modules/x86-64-cig-cs6436-56p-psu.c
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/modules/x86-64-cig-cs6436-56p-sfp.c
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/service/cs6436-platform-init.service
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/service/cs6436-platform-misc.service
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/setup.py
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/utils/cig_cs6436_misc.py
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/utils/cig_cs6436_util.py
  platform/nephos/sonic-platform-modules-cig/debian/changelog
  platform/nephos/sonic-platform-modules-cig/debian/compat
  platform/nephos/sonic-platform-modules-cig/debian/control
  platform/nephos/sonic-platform-modules-cig/debian/rules
Labels: Request_for_201811_branch :shipit:, enhancement :robot:

#2486 Haliburton xcvrd event support
  device/celestica/x86_64-cel_e1031-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
  platform/broadcom/sonic-platform-modules-cel/haliburton/modules/Makefile
  platform/broadcom/sonic-platform-modules-cel/haliburton/modules/hlx_gpio_ich.c
Labels: enhancement :robot:, platform-celestica

#2817 Revert "Watchdog enable/disable in DellEMC S6100 "
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/platform_watchdog_disable.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/platform_watchdog_enable.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2776 Increase syncd start timeout
  files/build_templates/syncd.service.j2
Labels: Request_for_201811_branch :shipit:, platform-mellanox

#2822 Downport the netlink patch to libteam1.26. Increase netlink buffers
  src/libteam/0011-libteam-resynchronize-ifinfo-after-lost-RTNLGRP_LINK-.patch
  src/libteam/series
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2829 [teamd service] start teamd service after swss
  files/build_templates/teamd.service.j2
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2831 [minigraph]: Fix bug in copying list in Python
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2832 [dhcp_relay] Base DHCP Relay Docker container on Debian Stretch
  dockers/docker-dhcp-relay/Dockerfile.j2
  rules/docker-dhcp-relay.mk
  rules/isc-dhcp.mk
  src/isc-dhcp/Makefile
  src/isc-dhcp/patch/0001-Bugfix-Don-t-print-log-messages-to-stderr-in-release.patch
  src/isc-dhcp/patch/0001-Customizable-Option-82-circuit-ID-and-remote-ID-fiel.patch
  src/isc-dhcp/patch/0002-Customizable-Option-82-circuit-ID-and-remote-ID-fiel.patch
  src/isc-dhcp/patch/0002-Support-for-obtaining-name-of-physical-interface-tha.patch
  src/isc-dhcp/patch/0003-Support-for-loading-port-alias-map-file-to-replace-p.patch
  src/isc-dhcp/patch/0003-Support-for-obtaining-name-of-physical-interface-tha.patch
  src/isc-dhcp/patch/0004-Support-for-loading-port-alias-map-file-to-replace-p.patch
  src/isc-dhcp/patch/0005-CVE-2017-3144.patch
  src/isc-dhcp/patch/0006-CVE-2018-5733.patch
  src/isc-dhcp/patch/0007-CVE-2018-5732.patch
  src/isc-dhcp/patch/series
Labels: enhancement :robot:

#2807 Remove unused packages in docker images and host
  dockers/docker-base/Dockerfile.j2
  dockers/docker-config-engine-stretch/Dockerfile.j2
  dockers/docker-config-engine/Dockerfile.j2
  dockers/docker-lldp-sv2/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-snmp-sv2/Dockerfile.j2
  dockers/docker-sonic-mgmt/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
  rules/python3.mk
Labels: Request_for_201811_branch :shipit:

#2815 [teamd] Porting teamd patch which solves the race condition between RTM_NEWLINK and port add
  src/libteam/0006-Fix-ifinfo_link_with_port-race-condition-with-newlink.patch
  src/libteam/0008-teamd-register-change-handler-for-TEAM_IFINFO_CHANGE.patch
  src/libteam/0009-teamd-prevent-private-change-handler-reentrance.patch
  src/libteam/0012-teamd-do-not-process-lacpdu-before-the-port-ifinfo-i.patch
  src/libteam/series
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2560 DellEMC S6000 xcvrd support
  device/dell/x86_64-dell_s6000_s1220-r0/plugins/sfputil.py
Labels: Request_for_201811_branch :shipit:, enhancement :robot:, platform-dell

#2808 [db migrator] migrate the DB to latest schema when needed
  files/build_templates/docker_image_ctl.j2
Labels: Request_for_201811_branch :shipit:, enhancement :robot:
