Repository sonic-net/sonic-buildimage, pull requests merged in 2019-05, with the labels that each got.

#2846 [sudoers] Add /usr/bin/teamshow to READ_ONLY_CMDS
  files/image_config/sudoers/sudoers
Labels: Request_for_201811_branch :shipit:, bug :bug:

#2845 [services] Restart SwSS service upon unexpected critical process exit
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-orchagent/critical_processes
  dockers/docker-orchagent/supervisord.conf
  files/build_templates/dhcp_relay.service.j2
  files/build_templates/radv.service.j2
  files/build_templates/snmp.service.j2
  files/build_templates/swss.service.j2
  files/build_templates/teamd.service.j2
  files/image_config/systemd/journald.conf
  files/scripts/supervisor-proc-exit-listener
  rules/docker-dhcp-relay.mk
  rules/docker-orchagent.mk
  rules/scripts.mk
  src/sonic-config-engine/tests/sample_output/wait_for_intf.sh
Labels: enhancement :robot:

#2841 [Mellanox] Update SAI
  platform/mellanox/mlnx-sai.mk
Labels: platform-mellanox, submodule update :arrow_double_up:

#2836 [minigraph]: Add mirror type v6 condition
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
Labels: enhancement :robot:

#2850 Remove intfsyncd from list of SwSS critical processes as it no longer exists
  dockers/docker-orchagent/critical_processes
Labels: enhancement :robot:

#2853 [Broadcom]: Update SAI to 3.1.3.4-22 [L3 MTU Fix]
  platform/broadcom/sai.mk
Labels: platform-broadcom, submodule update :arrow_double_up:

#2786 Enable Debugs in BCM Kernel-bde and Knet Modules
  platform/broadcom/saibcm-modules/debian/opennsl-modules.init
Labels: Request_for_201811_branch :shipit:

#2861 DellEMC S6100/Z9100 sensors.conf update
  device/dell/x86_64-dell_s6100_c2538-r0/sensors.conf
  device/dell/x86_64-dell_z9100_c2538-r0/sensors.conf
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/sensors
  platform/broadcom/sonic-platform-modules-dell/z9100/scripts/sensors
Labels: Request_for_201811_branch :shipit:

#2805 [ebtables] install ebtables in base image and install filter rules
  build_debian.sh
  files/image_config/ebtables/ebtables.filter
Labels: Included_in_201811_branch, Request_for_201811_branch :shipit:, enhancement :robot:

#2843 [tacacs]: skip accessing tacacs servers for local non-tacacs users
  files/image_config/hostcfgd/tacplus_nss.conf.j2
  src/tacacs/nss/0004-Skip-accessing-tacacs-servers-for-local-non-tacacs-u.patch
  src/tacacs/nss/Makefile
Labels: Request_for_201811_branch :shipit:

#2890 [Broadcom]: Update Broadcom SAI to 3.1.3.4-23
  platform/broadcom/sai.mk
Labels: enhancement :robot:, platform-broadcom, submodule update :arrow_double_up:

#2799 LED Support For DellEMC Z9100
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100-C32/led_proc_init.soc
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100-C8D48/led_proc_init.soc
  platform/broadcom/sonic-platform-modules-dell/z9100/scripts/z9100_platform.sh
Labels: Request_for_201811_branch :shipit:, enhancement :robot:, platform-dell

#2900 [sonic-cfggen]: Add -w as short for --write-to-db
  src/sonic-config-engine/sonic-cfggen
Labels: enhancement :robot:

#2892 [Dell][Z9100]Added index for Z9100 C32 SKU
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100-C32/port_config.ini
  device/dell/x86_64-dell_z9100_c2538-r0/plugins/sfputil.py
Labels: Request_for_201811_branch :shipit:, enhancement :robot:, platform-dell

#2907 [mlnx] refactor and fix mlnx-sfpd shutdown
  platform/mellanox/mlnx-sfpd/scripts/mlnx-sfpd
Labels: Request_for_201811_branch :shipit:, Request_for_201904_branch, bug :bug:

#2857 [201803][dhcp_relay] Add support for DHCP client(s) on one VLAN and DHCP server(s) on another
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  src/isc-dhcp/Makefile
  src/isc-dhcp/patch/0005-Port-upstream-changes-from-commit-f2e70402f0f2955f39.patch
  src/isc-dhcp/patch/0006-Port-upstream-changes-from-commit-edd6d8881bc4d8ec4b.patch
  src/isc-dhcp/patch/0007-Add-enable-use-sockets-to-configure-flags-in-debian-.patch
  src/isc-dhcp/patch/0008-Bugfix-Ensure-HAVE_SO_BINDTODEVICE-has-a-chance-to-b.patch
  src/isc-dhcp/patch/0009-If-destination-of-BOOTREQUEST-is-directed-broadcast-.patch
  src/isc-dhcp/patch/series
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
Labels: enhancement :robot:

#2913 [mlnx] fix incorrect attr assignment in mlnx-sfpd
  platform/mellanox/mlnx-sfpd/scripts/mlnx-sfpd
Labels: bug :bug:, request_for_201811_branch :shipit:, request_for_201904_branch :snowboarder:

#2919 [201811][dhcp_relay] Add support for DHCP client(s) on one VLAN and DHCP server(s) on another
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  src/isc-dhcp/Makefile
  src/isc-dhcp/patch/0008-Port-upstream-changes-from-commit-f2e70402f0f2955f39.patch
  src/isc-dhcp/patch/0009-Port-upstream-changes-from-commit-edd6d8881bc4d8ec4b.patch
  src/isc-dhcp/patch/0010-Add-enable-use-sockets-to-configure-flags-in-debian-.patch
  src/isc-dhcp/patch/0011-Bugfix-Ensure-HAVE_SO_BINDTODEVICE-has-a-chance-to-b.patch
  src/isc-dhcp/patch/0012-If-destination-of-BOOTREQUEST-is-directed-broadcast-.patch
  src/isc-dhcp/patch/series
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
Labels: enhancement :robot:, request_for_201811_branch :shipit:

#2917 [updategraph] set DB version after minigraph reload
  files/image_config/updategraph/updategraph
Labels: enhancement :robot:, request_for_201811_branch :shipit:

#2916 DellEmc-Z9264f: Bug fixed in platform specific sensor script
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/platform_sensors.py
Labels: enhancement :robot:, platform-dellemc

#2922 Export reboot_reason sysfs attribute for DellEMC S6100/Z9100
  platform/broadcom/sonic-platform-modules-dell/common/dell_pmc.c
Labels: request_for_201811_branch :shipit:, request_for_201904_branch :snowboarder:

#2908 [Mellanox] Update platform driver service options
  platform/mellanox/hw-management/Add-systemd-service-config.patch
Labels: enhancement :robot:, platform-mellanox

#2925 [docker-vs]: Connect zebra with fpm and add staticd
  platform/vs/docker-sonic-vs/supervisord.conf
Labels: bug :bug:

#2933 [swss.sh] flush FDB table during cold start
  files/scripts/swss.sh
Labels: bug :bug:, request_for_201811_branch :shipit:, request_for_201904_branch :snowboarder:

#2926 DellEmc-Z9264f: Interrupt based Optic OIR
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9264f.install
  platform/broadcom/sonic-platform-modules-dell/z9264f/modules/dell_z9264f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/qsfp_irq_enable.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/z9264f_platform.sh
Labels: enhancement :robot:, platform-dellemc

#2939 [monit] Set memory usage alert at 50%
  build_debian.sh
Labels: request_for_201811_branch :shipit:

#2942 [logrotate] Enhance robustness
  files/image_config/cron.d/logrotate
  files/image_config/logrotate/logrotate.d/rsyslog
Labels: enhancement :robot:, request_for_201811_branch :shipit:

#2941 [201803] [logrotate] Enhance robustness
  files/image_config/cron.d/logrotate
  files/image_config/logrotate/logrotate.d/rsyslog
Labels: enhancement :robot:

#2936 [DELL]Optics related fixes in Dell Z9100/Z9264f platforms
  platform/broadcom/sonic-platform-modules-dell/z9100/scripts/z9100_platform.sh
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/z9264f_platform.sh
Labels: bug :bug:, request_for_201811_branch :shipit:, request_for_201904_branch :snowboarder:

#2944 [Mellanox] SFP new platform API implementation
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: enhancement :robot:, platform-mellanox

#2930 [mellanox]: Fixed config reload race
  files/scripts/syncd.sh
Labels: bug :bug:

#2929 [docker-vs]: Start staticd by default
  platform/vs/docker-sonic-vs/start.sh
Labels: enhancement :robot:

#2955 [libteam] Send LACP PDU as soon as we need them
  src/libteam/0014-Send-LACP-PDU-immediately-if-our-state-changed.patch
  src/libteam/series
Labels: bug :bug:, request_for_201811_branch :shipit:, request_for_201904_branch :snowboarder:

#2957 [Mellanox]Fix issue #2720 Not able to read out values of voltage/temp/power on some cables
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
Labels: Bug :bug:, Platform: Mellanox

#2959 DellEmc: Z9264f Pre-emphasis and Led settings
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f-C64/led_proc_init.soc
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f-Q64/led_proc_init.soc
  device/dell/x86_64-dellemc_z9264f_c3538-r0/media_settings.json
Labels: Enhancement :robot:, Platform: DellEMC
