Repository sonic-net/sonic-buildimage, pull requests merged in 2019-08, with the labels that each got.

#3263 [Makefile] multi arch variable fix
  rules/frr.mk
  rules/isc-dhcp.mk
  rules/libyang.mk
  rules/lldpd.mk
  rules/radvd.mk
Labels: Bug :bug:

#3262 [mellanox]: Added SN3800 platform
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/qos.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/sai_3800.xml
  device/mellanox/x86_64-mlnx_msn3800-r0/default_sku
  device/mellanox/x86_64-mlnx_msn3800-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3800-r0/platform_wait
  device/mellanox/x86_64-mlnx_msn3800-r0/plugins/eeprom.py
  device/mellanox/x86_64-mlnx_msn3800-r0/plugins/psuutil.py
  device/mellanox/x86_64-mlnx_msn3800-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn3800-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn3800-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn3800-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn3800-r0/sensors.conf
  platform/mellanox/mft.mk
Labels: Enhancement :robot:, Platform: Mellanox

#3148 Add platform support for delta ag9032v2a
  device/delta/x86_64-delta_ag9032v2a-r0/Delta-ag9032v2a/port_config.ini
  device/delta/x86_64-delta_ag9032v2a-r0/Delta-ag9032v2a/sai.profile
  device/delta/x86_64-delta_ag9032v2a-r0/Delta-ag9032v2a/td3-ag9032v2a-32x100G+1x10G.config.bcm
  device/delta/x86_64-delta_ag9032v2a-r0/installer.conf
  device/delta/x86_64-delta_ag9032v2a-r0/plugins/eeprom.py
  device/delta/x86_64-delta_ag9032v2a-r0/plugins/psuutil.py
  device/delta/x86_64-delta_ag9032v2a-r0/plugins/sfputil.py
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-delta.mk
  platform/broadcom/sonic-platform-modules-delta/ag9032v2a/cfg/ag9032v2a-modules.conf
  platform/broadcom/sonic-platform-modules-delta/ag9032v2a/modules/Makefile
  platform/broadcom/sonic-platform-modules-delta/ag9032v2a/modules/delta_ag9032v2a_platform.c
  platform/broadcom/sonic-platform-modules-delta/ag9032v2a/scripts/ag9032v2a_platform_init.sh
  platform/broadcom/sonic-platform-modules-delta/debian/control
  platform/broadcom/sonic-platform-modules-delta/debian/platform-modules-ag9032v1.install
  platform/broadcom/sonic-platform-modules-delta/debian/platform-modules-ag9032v2a.init
  platform/broadcom/sonic-platform-modules-delta/debian/platform-modules-ag9032v2a.install
  platform/broadcom/sonic-platform-modules-delta/debian/rules
  platform/broadcom/sonic-platform-modules-delta/systemd/platform-modules-ag9032v2a.service
Labels: Enhancement :robot:, Platform: Delta

#3182 [Quanta] Add a new supported device and platform, IX8C-56X
  device/quanta/x86_64-quanta_ix8c_bwde-r0/Quanta-IX8C-56X/port_config.ini
  device/quanta/x86_64-quanta_ix8c_bwde-r0/Quanta-IX8C-56X/sai.profile
  device/quanta/x86_64-quanta_ix8c_bwde-r0/Quanta-IX8C-56X/td3-ix8c-48x25G+8x100G.config.bcm
  device/quanta/x86_64-quanta_ix8c_bwde-r0/default_sku
  device/quanta/x86_64-quanta_ix8c_bwde-r0/installer.conf
  device/quanta/x86_64-quanta_ix8c_bwde-r0/led_proc_init.soc
  device/quanta/x86_64-quanta_ix8c_bwde-r0/plugins/eeprom.py
  device/quanta/x86_64-quanta_ix8c_bwde-r0/plugins/psuutil.py
  device/quanta/x86_64-quanta_ix8c_bwde-r0/plugins/sfputil.py
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-quanta.mk
  platform/broadcom/sonic-platform-modules-quanta/debian/changelog
  platform/broadcom/sonic-platform-modules-quanta/debian/control
  platform/broadcom/sonic-platform-modules-quanta/debian/rules
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/classes/__init__.py
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/modules/Makefile
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/modules/qci_cpld_led.c
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/modules/qci_cpld_sfp28.c
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/modules/qci_platform_ix8c.c
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/service/ix8c-platform-init.service
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/setup.py
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/utils/quanta_ix8c_util.py
Labels: Enhancement :robot:, Platform: Quanta

#3253 [Mellanox] enhance the reboot cause handling on 201811
  platform/mellanox/mlnx-platform-api/sonic_platform/__init__.py
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Enhancement :robot:, Platform: Mellanox, Request for 201811 Branch :shipit:

#3220 [device/celestica]: Implement thermal base API based on the new platform API
  device/celestica/x86_64-cel_e1031-r0/sensors.conf
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/thermal.py
  device/celestica/x86_64-cel_seastone-r0/sensors.conf
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
Labels: Enhancement :robot:, Platform: Celestica

#3281 [sonic_daemon_base]Fix the issue "'NoneType' object has no attribute 'closelog'"
  src/sonic-daemon-base/sonic_daemon_base/daemon_base.py
Labels: Bug :bug:

#3287 [Makefile/Telemtry] Removing Telemetry build for ARM arch as qemu crashes
  slave.mk
Labels: Bug :bug:

#3280 [zebra_fpm] VRF ifindex cannot be larger than 255
  src/sonic-frr/Makefile
  src/sonic-frr/patch/0005-Support-VRF.patch
  src/sonic-frr/patch/series
Labels: Bug :bug:

#3295 DellEMC S6000 : Platform2.0 API implementation for EEPROM
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
Labels: Enhancement :robot:, Platform: DellEMC

#3288 [Platform] systemd generator deb included in marvell arm arch platform
  platform/marvell-arm64/one-image.mk
  platform/marvell-armhf/one-image.mk
Labels: Enhancement :robot:, Platform: Marvell

#3279 [build]: enable docker in ram option for small disk device
  files/Aboot/boot0.j2
  files/initramfs-tools/arista-convertfs.j2
  files/initramfs-tools/union-mount.j2
  installer/x86_64/install.sh
  onie-image.conf
Labels: Enhancement :robot:

#3267 [Dell][Z92464f]Updating pre-emphasis for Z9264f based on updated HW Spec
  device/dell/x86_64-dellemc_z9264f_c3538-r0/media_settings.json
Labels: Enhancement :robot:, Platform: DellEMC

#3261 [Mellanox sfputil] update get_transceiver_change_event to support more event
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
Labels: Request for 201811 Branch :shipit:

#3285 Fix read lm75 thermal sensors issue
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/classes/thermalutil.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_monitor.py
Labels: Bug :bug:, Platform: Accton

#3297 [Quanta] Add a new supported device and platform, IX7-32X, IX8-56X
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/Quanta-IX7-32X/port_config.ini
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/Quanta-IX7-32X/sai.profile
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/Quanta-IX7-32X/td3-ix7-32x100G.config.bcm
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/default_sku
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/installer.conf
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/led_proc_init.soc
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/plugins/eeprom.py
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/plugins/psuutil.py
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/plugins/sfputil.py
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/Quanta-IX8-56X/port_config.ini
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/Quanta-IX8-56X/sai.profile
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/Quanta-IX8-56X/td3-ix8-48x25G+8x100G.config.bcm
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/default_sku
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/installer.conf
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/led_proc_init.soc
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/plugins/eeprom.py
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/plugins/psuutil.py
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/plugins/sfputil.py
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-quanta.mk
  platform/broadcom/sonic-platform-modules-quanta/debian/changelog
  platform/broadcom/sonic-platform-modules-quanta/debian/control
  platform/broadcom/sonic-platform-modules-quanta/debian/rules
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/classes/__init__.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/modules/Makefile
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/modules/qci_cpld.c
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/modules/qci_cpld_led.c
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/modules/quanta_platform_ix7.c
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/service/ix7-platform-init.service
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/setup.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/utils/quanta_ix7_util.py
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/classes/__init__.py
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/modules/Makefile
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/modules/qci_cpld_led.c
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/modules/qci_cpld_sfp28.c
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/modules/qci_platform_ix8.c
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/service/ix8-platform-init.service
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/setup.py
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/utils/quanta_ix8_util.py
Labels: Enhancement :robot:, Platform: Quanta

#3301 [device] Adding platform support for Accton as7315-27xb
  device/accton/x86_64-accton_as7315_27xb-r0/Accton-AS7315-27XB/port_config.ini
  device/accton/x86_64-accton_as7315_27xb-r0/Accton-AS7315-27XB/qax-as7315-20x10G+4x25G+3x100G.config.bcm
  device/accton/x86_64-accton_as7315_27xb-r0/Accton-AS7315-27XB/sai.profile
  device/accton/x86_64-accton_as7315_27xb-r0/default_sku
  device/accton/x86_64-accton_as7315_27xb-r0/installer.conf
  device/accton/x86_64-accton_as7315_27xb-r0/led_proc_init.soc
  device/accton/x86_64-accton_as7315_27xb-r0/plugins/eeprom.py
  device/accton/x86_64-accton_as7315_27xb-r0/plugins/psuutil.py
  device/accton/x86_64-accton_as7315_27xb-r0/plugins/sfputil.py
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-accton.mk
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/classes/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/classes/fanutil.py
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/classes/thermalutil.py
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/modules/Makefile
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/modules/accton_as7315_27xb_fan.c
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/modules/at24_as7315_27xb.c
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/modules/x86-64-accton-as7315-27xb-cpld.c
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/modules/x86-64-accton-as7315-27xb-led.c
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/modules/x86-64-accton-as7315-27xb-psu.c
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/modules/ym2651y.c
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/service/as7315-platform-init.service
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/setup.py
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/utils/README
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/utils/accton_as7315_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/utils/accton_as7315_util.py
  platform/broadcom/sonic-platform-modules-accton/debian/control
  platform/broadcom/sonic-platform-modules-accton/debian/rules
Labels: Enhancement :robot:, Platform: Accton

#3294 [Mellanox] mlnx-sfpd init flow enhancement
  platform/mellanox/mlnx-sfpd/scripts/mlnx-sfpd
Labels: Enhancement :robot:, Platform: Mellanox

#3311 [service dependent] describe non-warm-reboot dependency outside systemd
  files/build_templates/teamd.service.j2
  files/scripts/swss.sh
Labels: Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3305 Modify ag9064 platform module and add support psutil.
  device/delta/x86_64-delta_ag9064-r0/plugins/psuutil.py
  device/delta/x86_64-delta_ag9064-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-delta/ag9064/modules/delta_ag9064_common.h
  platform/broadcom/sonic-platform-modules-delta/ag9064/modules/delta_ag9064_cpld.c
  platform/broadcom/sonic-platform-modules-delta/ag9064/modules/delta_ag9064_platform.c
  platform/broadcom/sonic-platform-modules-delta/ag9064/modules/delta_ag9064_swpld.c
  platform/broadcom/sonic-platform-modules-delta/debian/platform-modules-ag9064.init
Labels: Enhancement :robot:, Platform: Delta

#3312 Fix snmpd crash
  src/snmpd/patch-5.7.3+dfsg/0006-Release-all-requests-that-use-this-session.patch
  src/snmpd/patch-5.7.3+dfsg/series
Labels: Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3317 [dhcp_relay] Only call 'wait_until_iface_ready' once for each interface
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3322 Fix to ensure that tacacs servers are ordered in pam's conf
  files/image_config/hostcfgd/hostcfgd
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3229 [DELL][Z9100,S6100,S6000] Platform 2.0 SFP Changes
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/sfp.py
Labels: Enhancement :robot:, Platform: DellEMC

#3308 [as5835-54x] Implement get_transceiver_change_event() in sfputil.py
  device/accton/x86_64-accton_as5835_54x-r0/plugins/sfputil.py
Labels: Enhancement :robot:, Platform: Accton

#3334 [mmu] add mmu_init_config to HWSKU Arista-7260CX3-Q64
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/th2-a7260cx3-64-64x40G.config.bcm
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3332 [libteam]: Move libteam from 1.26 to 1.28
  rules/libteam.mk
  src/libteam/0001-libteam-Add-team_get_port_enabled-function.patch
  src/libteam/0007-Skip-setting-the-same-hwaddr-to-lag-port-to-avoid-di.patch
  src/libteam/0010-teamd-lacp-update-port-state-according-to-partners-sy.patch
  src/libteam/0011-libteam-resynchronize-ifinfo-after-lost-RTNLGRP_LINK-.patch
  src/libteam/0012-teamd-do-not-process-lacpdu-before-the-port-ifinfo-i.patch
  src/libteam/0013-teamd-lacp-port-admin-down-recv-not-processing.patch
  src/libteam/Makefile
  src/libteam/patch/0001-libteam-Temporarily-remove-redundant-debug-messages.patch
  src/libteam/patch/0002-teamd-lacp-runner-will-send-lacp-update-right-after-.patch
  src/libteam/patch/0003-libteam-Add-fallback-support-for-single-member-port-.patch
  src/libteam/patch/0004-Skip-setting-the-same-hwaddr-to-lag-port-to-avoid-di.patch
  src/libteam/patch/0005-Increase-default-buffer-size-from-98304-to-983040.patch
  src/libteam/patch/0006-teamd-Administratively-shutdown-port-channel-has-mem.patch
  src/libteam/patch/0007-Send-LACP-PDU-immediately-if-our-state-changed.patch
  src/libteam/patch/0008-libteam-Add-warm_reboot-mode.patch
  src/libteam/patch/0009-Fix-ifinfo_link_with_port-race-condition-with-newlink.patch
  src/libteam/patch/series
  src/libteam/series
Labels: Request for 201811 Branch :shipit:, Submodule Update :arrow_double_up:

#3290 [device/celestica]: Implement Sfp APIs based on the new platform API
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/sfp.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: Enhancement :robot:, Platform: Celestica

#3344 [baseimage]: install ndisc6 package
  build_debian.sh
Labels: Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3343 [build] Fix cleaning SONIC_PYTHON_STDEB_DEBS
  .gitignore
  slave.mk
Labels: Enhancement :robot:

#3337 [control plane assistant] stop control plane assistant after warm reboot
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Labels: Request for 201811 Branch :shipit:

#3327 [Quanta][IX7,IX8,IX8C] Correct port index
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/Quanta-IX7-32X/port_config.ini
  device/quanta/x86_64-quanta_ix7_rglbmc-r0/plugins/sfputil.py
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/Quanta-IX8-56X/port_config.ini
  device/quanta/x86_64-quanta_ix8_rglbmc-r0/plugins/sfputil.py
  device/quanta/x86_64-quanta_ix8c_bwde-r0/Quanta-IX8C-56X/port_config.ini
  device/quanta/x86_64-quanta_ix8c_bwde-r0/plugins/sfputil.py
Labels: Bug :bug:, Platform: Quanta

#2791 [device][platform] Update Inventec new platform d6356
  device/inventec/x86_64-inventec_d6356-r0/INVENTEC-D6356/port_config.ini
  device/inventec/x86_64-inventec_d6356-r0/INVENTEC-D6356/sai.profile
  device/inventec/x86_64-inventec_d6356-r0/INVENTEC-D6356/td3-d6356-48x25G-8x100G.config.bcm
  device/inventec/x86_64-inventec_d6356-r0/default_sku
  device/inventec/x86_64-inventec_d6356-r0/installer.conf
  device/inventec/x86_64-inventec_d6356-r0/led_proc_init.soc
  device/inventec/x86_64-inventec_d6356-r0/plugins/eeprom.py
  device/inventec/x86_64-inventec_d6356-r0/plugins/psuutil.py
  device/inventec/x86_64-inventec_d6356-r0/plugins/sfputil.py
  device/inventec/x86_64-inventec_d6356-r0/sensors.conf
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-inventec.mk
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/Makefile
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/inv_cpld.c
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/inv_eeprom.c
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/inv_mux.c
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/inv_mux.h
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/inv_platform.c
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/inv_swps.c
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/inv_swps.h
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/io_expander.c
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/io_expander.h
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/transceiver.c
  platform/broadcom/sonic-platform-modules-inventec/d6356/modules/transceiver.h
  platform/broadcom/sonic-platform-modules-inventec/d6356/utils/inventec_d6356_util.py
  platform/broadcom/sonic-platform-modules-inventec/debian/control
  platform/broadcom/sonic-platform-modules-inventec/debian/platform-modules-d6356.init
  platform/broadcom/sonic-platform-modules-inventec/debian/platform-modules-d6356.install
  platform/broadcom/sonic-platform-modules-inventec/debian/rules
Labels: Enhancement :robot:, Platform: Inventec

#2564 Fix INSTALL_DEBUG_TOOLS build config option
  rules/config
Labels: Bug :bug:

#3348 [radv service] radv service should be a cold boot only dependent of swss
  files/build_templates/radv.service.j2
  files/scripts/swss.sh
Labels: Bug :bug:, Request for 201811 Branch :shipit:

#3306 [docker-fpm-frr]: Generate separated staticd.conf for staticd
  dockers/docker-fpm-frr/start.sh
  dockers/docker-fpm-frr/staticd.conf.j2
  dockers/docker-fpm-frr/zebra.conf.j2
  src/sonic-config-engine/tests/sample_output/staticd_frr.conf
  src/sonic-config-engine/tests/sample_output/t2-chassis-fe-pc-zebra.conf
  src/sonic-config-engine/tests/sample_output/t2-chassis-fe-vni-zebra.conf
  src/sonic-config-engine/tests/sample_output/t2-chassis-fe-zebra.conf
  src/sonic-config-engine/tests/sample_output/zebra_frr.conf
  src/sonic-config-engine/tests/test_j2files.py
  src/sonic-config-engine/tests/test_j2files_t2_chassis_fe.py
Labels: Enhancement :robot:

#3320 [Mellanox] align platform_reboot to use "hardware reboot"
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
Labels: Included in 201811 Branch, Platform: Mellanox

#3362 update cpld & swpld module attribute and add postinst
  platform/broadcom/sonic-platform-modules-delta/ag9064/modules/delta_ag9064_common.h
  platform/broadcom/sonic-platform-modules-delta/ag9064/modules/delta_ag9064_cpld.c
  platform/broadcom/sonic-platform-modules-delta/ag9064/modules/delta_ag9064_swpld.c
  platform/broadcom/sonic-platform-modules-delta/debian/platform-modules-ag9064.postinst
Labels: Enhancement :robot:, Platform: Delta

#3321 [Mellanox] align platform reboot to use "hardware reboot"
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2700_simx-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3700_simx-r0/platform_reboot
Labels: Platform: Mellanox, Request for 201904 Branch :snowboarder:

#3371 [Mellanox]update thermal sensor names in new platform api
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Enhancement :robot:, Platform: Mellanox

#3376 DellEMC Z9264f LED profile changes
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9264f.init
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/z9264f_platform.sh
Labels: Enhancement :robot:, Platform: DellEMC

#3380 [Mellanox] Remove platform_wait script from Mellanox simx platform
  device/mellanox/x86_64-mlnx_msn2700_simx-r0/platform_wait
  device/mellanox/x86_64-mlnx_msn3700_simx-r0/platform_wait
Labels: Enhancement :robot:, Platform: Mellanox

#3390 Add hash seed for SpineRouter type.
  dockers/docker-orchagent/switch.json.j2
Labels: Enhancement :robot:

#3372 [device][accton]: ADD the Accton new device support, AS9716-32D
  device/accton/x86_64-accton_as9716_32d-r0/Accton-AS9716-32D/port_config.ini
  device/accton/x86_64-accton_as9716_32d-r0/Accton-AS9716-32D/sai.profile
  device/accton/x86_64-accton_as9716_32d-r0/default_sku
  device/accton/x86_64-accton_as9716_32d-r0/installer.conf
  device/accton/x86_64-accton_as9716_32d-r0/plugins/eeprom.py
  device/accton/x86_64-accton_as9716_32d-r0/plugins/psuutil.py
  device/accton/x86_64-accton_as9716_32d-r0/plugins/sfputil.py
  device/accton/x86_64-accton_as9716_32d-r0/pmon_daemon_control.json
Labels: Enhancement :robot:, Platform: Accton

#3264 [docker-fpm-frr/bgpcfgd]: Update interface of bgpcfgd from swsssdk to swsscommon
  dockers/docker-fpm-frr/bgpcfgd
Labels: Enhancement :robot:

#3393 [libteam]: timerfd read() could return 0 fix
  src/libteam/patch/0010-When-read-of-timerfd-returned-0-don-t-consider-this-.patch
  src/libteam/patch/series
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3396 [201811][build] fix path for dbg_files.sh
  slave.mk
Labels: Request for 201811 Branch :shipit:
