Repository sonic-net/sonic-buildimage, pull requests merged in 2019-09, with the labels that each got.

#3410 [minigraph]: Ignore mirror session portion in minigraph
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Cleanup :droplet:, Enhancement :robot:, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3384 [build_debian] Include checksum of ASIC config files in SONiC filesystem
  build_debian.sh
  files/build_scripts/generate_asic_config_checksum.py
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#3270 Adding platform support for Juniper QFX5210
  device/juniper/x86_64-juniper_qfx5210-r0/Juniper-QFX5210-64C/port_config.ini
  device/juniper/x86_64-juniper_qfx5210-r0/Juniper-QFX5210-64C/sai.profile
  device/juniper/x86_64-juniper_qfx5210-r0/Juniper-QFX5210-64C/th2-qfx5210-64x100G.config.bcm
  device/juniper/x86_64-juniper_qfx5210-r0/default_sku
  device/juniper/x86_64-juniper_qfx5210-r0/installer.conf
  device/juniper/x86_64-juniper_qfx5210-r0/led_proc_init.soc
  device/juniper/x86_64-juniper_qfx5210-r0/media_settings.json
  device/juniper/x86_64-juniper_qfx5210-r0/plugins/eeprom.py
  device/juniper/x86_64-juniper_qfx5210-r0/plugins/psuutil.py
  device/juniper/x86_64-juniper_qfx5210-r0/plugins/sfputil.py
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-juniper.mk
  platform/broadcom/rules.mk
  platform/broadcom/sonic-platform-modules-juniper/.gitignore
  platform/broadcom/sonic-platform-modules-juniper/LICENSE
  platform/broadcom/sonic-platform-modules-juniper/README.md
  platform/broadcom/sonic-platform-modules-juniper/common/modules/juniper_i2c_cpld.c
  platform/broadcom/sonic-platform-modules-juniper/common/modules/ym2651y.c
  platform/broadcom/sonic-platform-modules-juniper/debian/changelog
  platform/broadcom/sonic-platform-modules-juniper/debian/compat
  platform/broadcom/sonic-platform-modules-juniper/debian/control
  platform/broadcom/sonic-platform-modules-juniper/debian/files
  platform/broadcom/sonic-platform-modules-juniper/debian/rules
  platform/broadcom/sonic-platform-modules-juniper/debian/sonic-platform-juniper-qfx5210.install
  platform/broadcom/sonic-platform-modules-juniper/debian/sonic-platform-juniper-qfx5210.postinst
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/modules/Makefile
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/modules/juniper_i2c_cpld.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/modules/x86-64-juniper-qfx5210-64x-fan.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/modules/x86-64-juniper-qfx5210-64x-leds.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/modules/x86-64-juniper-qfx5210-64x-psu.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/modules/x86-64-juniper-qfx5210-64x-sfp.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/modules/ym2651y.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/service/qfx5210-platform-init.service
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/setup.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/utils/README
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/utils/juniper_qfx5210_monitor.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/utils/juniper_qfx5210_util.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/utils/platform_poweroff
Labels: Enhancement :robot:, Platform: Juniper

#3397 [dhcp_relay]:filter out the ipv6 address of dhcp server for dhcp rela…
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
Labels: Enhancement :robot:

#3414 [DELL][S6000] Platform 2.0 TransceiverChange Support
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/sfp.py
Labels: Enhancement :robot:, Platform: DellEMC

#3415 [device/celestica]: Update new platform APIs
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/sfp.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
Labels: Enhancement :robot:, Platform: Celestica

#3417 [201811] Log message containing SONiC version to syslog at boot
  files/image_config/platform/rc.local
Labels: Enhancement :robot:, Included in 201811 Branch

#3416 Log message containing SONiC version to syslog at boot
  files/image_config/platform/rc.local
Labels: Enhancement :robot:, Request for 201904 Branch :snowboarder:

#3402 [DELL] S6100 Add PowerCycle Support for Last Reset Reason
  files/image_config/platform/rc.local
  files/image_config/process-reboot-cause/process-reboot-cause
  platform/broadcom/sonic-platform-modules-dell/common/dell_pmc.c
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
Labels: Request for 201811 Branch :shipit:

#3427 Wait 5 second before start/restart snmpd
  dockers/docker-snmp-sv2/supervisord.conf
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#3426 [Mellanox] Fix the typo in mlnx-sfpd
  platform/mellanox/mlnx-sfpd/scripts/mlnx-sfpd
Labels: Bug :bug:

#3434 Fix the build. Updated version of ctypesgen.py has a different name
  sonic-slave-stretch/Dockerfile.j2
  sonic-slave/Dockerfile.j2
Labels: Bug :bug:, Request for 201811 Branch :shipit:

#3428 [device][accton] Add as5812-54t.
  device/accton/x86_64-accton_as5812_54t-r0/Accton-AS5812-54T/port_config.ini
  device/accton/x86_64-accton_as5812_54t-r0/Accton-AS5812-54T/sai.profile
  device/accton/x86_64-accton_as5812_54t-r0/Accton-AS5812-54T/td2-as5812-72x10G.config.bcm
  device/accton/x86_64-accton_as5812_54t-r0/default_sku
  device/accton/x86_64-accton_as5812_54t-r0/installer.conf
  device/accton/x86_64-accton_as5812_54t-r0/led_proc_init.soc
  device/accton/x86_64-accton_as5812_54t-r0/plugins/eeprom.py
  device/accton/x86_64-accton_as5812_54t-r0/plugins/psuutil.py
  device/accton/x86_64-accton_as5812_54t-r0/plugins/sfputil.py
  device/accton/x86_64-accton_as5812_54t-r0/pmon_daemon_control.json
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-accton.mk
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/classes/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/classes/fanutil.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/classes/thermalutil.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/modules/Makefile
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/modules/accton_i2c_cpld.c
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/modules/cpr_4011_4mxx.c
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/modules/x86-64-accton-as5812-54t-cpld.c
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/modules/x86-64-accton-as5812-54t-fan.c
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/modules/x86-64-accton-as5812-54t-psu.c
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/modules/x86-64-accton-as5812-54t-sfp.c
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/modules/ym2651y.c
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/service/as5812-platform-init.service
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/setup.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/utils/accton_as5812_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/utils/accton_as5812_util.py
  platform/broadcom/sonic-platform-modules-accton/debian/control
  platform/broadcom/sonic-platform-modules-accton/debian/rules
Labels: Enhancement :robot:, Platform: Accton

#3303 Sonic installer script for armhf
  README.md
  installer/armhf/install.sh
  platform/marvell-armhf/one-image.mk
  platform/marvell-armhf/platform.conf
Labels: Enhancement :robot:

#3449 [cron.d] Add cron job to periodically clean-up core files
  build_debian.sh
  files/image_config/cron.d/core_cleanup
  files/scripts/core_cleanup.py
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#3422 Resubmit: use dot1p to tc mapping for backend switches
  files/build_templates/qos_config.j2
  platform/vs/docker-sonic-vs/start.sh
Labels: Enhancement :robot:

#3363 DellEMC S6100 : Platform2.0 API implementation [Module, Thermal]
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/module.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/thermal.py
Labels: Enhancement :robot:, Platform: DellEMC

#3455 Fix possible snmpd crash when sub agent timeout.
  src/snmpd/patch-5.7.3+dfsg/0006-From-Jiri-Cervenka-snmpd-Fixed-agentx-crashing-and-or-freezing-on-timeout.patch
  src/snmpd/patch-5.7.3+dfsg/0006-Release-all-requests-that-use-this-session.patch
  src/snmpd/patch-5.7.3+dfsg/series
Labels: Bug :bug:

#3454 201811: Fix snmpd crash possible when snmp agent takes too long to re…
  src/snmpd/patch-5.7.3+dfsg/0006-From-Jiri-Cervenka-snmpd-Fixed-agentx-crashing-and-or-freezing-on-timeout.patch
  src/snmpd/patch-5.7.3+dfsg/series
Labels: Bug :bug:, Request for 201811 Branch :shipit:

#3457 [baseimage] Avoid race condition in sonic-platform-common
  rules/sonic-platform-common.mk
Labels: Enhancement :robot:

#3432 201811: Upgrade redis-server from 3.2.4 to 3.2.13
  rules/redis.mk
  src/redis/Makefile
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#3251 Build infrastructure changes to support sflow docker and utilities
  dockers/docker-sflow/Dockerfile.j2
  dockers/docker-sflow/base_image_files/psample
  dockers/docker-sflow/base_image_files/sflowtool
  dockers/docker-sflow/start.sh
  dockers/docker-sflow/supervisord.conf
  files/build_templates/sflow.service.j2
  files/build_templates/sonic_debian_extension.j2
  platform/vs/docker-syncd-vs/Dockerfile.j2
  rules/config
  rules/docker-sflow.mk
  rules/sflow.mk
  slave.mk
  src/sflow/hsflowd/Makefile
  src/sflow/hsflowd/patch/0001-host_sflow_psample.patch
  src/sflow/hsflowd/patch/0002-host_sflow_debian.patch
  src/sflow/hsflowd/patch/series
  src/sflow/psample/Makefile
  src/sflow/psample/debian/changelog
  src/sflow/psample/debian/compat
  src/sflow/psample/debian/control
  src/sflow/psample/debian/psample.install
  src/sflow/psample/debian/rules
  src/sflow/sflowtool/Makefile
  src/sflow/sflowtool/debian/changelog
  src/sflow/sflowtool/debian/compat
  src/sflow/sflowtool/debian/control
  src/sflow/sflowtool/debian/rules
  src/sflow/sflowtool/debian/sflowtool.install
Labels: Enhancement :robot:

#3204 Management vrf ntp support
  build_debian.sh
  files/image_config/interfaces/interfaces.j2
  files/image_config/ntp/ntp
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample_output/mvrf_interfaces
  src/sonic-config-engine/tests/t0-sample-graph-mvrf.xml
  src/sonic-config-engine/tests/test_j2files.py
Labels: Enhancement :robot:

#3381 DellEMC : Platform2.0 API Implementation for Chassis [S6000, S6100, Z9100], Fan [S6000]
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/fan.py
Labels: Enhancement :robot:, Platform: DellEMC

#3430 [Mellanox] platform_reboot - sync & umount fs before power cycle
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
Labels: Platform: Mellanox, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:

#3467 Add debug docker for SNMP.
  rules/docker-snmp-sv2.mk
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#3452 Install Iptables rules to set TCPMSS for 'lo' interface
  files/image_config/hostcfgd/hostcfgd
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#3357 DellEMC S6000 : Platform2.0 API implementation [PSU, Thermal]
  platform/broadcom/sonic-platform-modules-dell/s6000/modules/dell_s6000_platform.c
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/thermal.py
Labels: Enhancement :robot:, Platform: DellEMC

#3361 DellEMC Z9100 : Platform2.0 API implementation [PSU, Thermal]
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/thermal.py
Labels: Enhancement :robot:, Platform: DellEMC

#2608 [SNMP] management VRF SNMP support
  dockers/docker-snmp-sv2/snmpd.conf.j2
  files/build_templates/docker_image_ctl.j2
  files/image_config/snmp/snmp.yml
  src/snmpd/patch-5.7.3+dfsg/0007-Linux-VRF-5.7.3-Support.patch
  src/snmpd/patch-5.7.3+dfsg/series
Labels: Enhancement :robot:

#3470 Map /src & /debug for debug docker containers
  files/build_templates/docker_image_ctl.j2
  slave.mk
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#3492 Add new device data for dx010 (Celestica-DX010-C32,Celestica-DX010-D48C8)
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/buffers.json.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/buffers_defaults_t0.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/buffers_defaults_t1.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/pg_profile_lookup.ini
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/port_config.ini
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/qos.json.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/sai.profile.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/th-seastone-dx010-32x100G-t0.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/th-seastone-dx010-32x100G-t1.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/buffers.json.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/buffers_defaults_t0.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/pg_profile_lookup.ini
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/port_config.ini
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/qos.json.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/sai.profile
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/th-seastone-dx010-48x50G+8x100G.config.bcm
Labels: Request for 201811 Branch :shipit:

#3485 [device/as5835-54t] Implement get_transceiver_change_event() in sfputil
  device/accton/x86_64-accton_as5835_54t-r0/plugins/sfputil.py
Labels: Enhancement :robot:, Platform: Accton

#3471 [barefoot]: updated SDK to 9.0.0 released debian package
  platform/barefoot/bfn-platform.mk
  platform/barefoot/bfn-sai.mk
Labels: Enhancement :robot:, Platform: Barefoot

#3394 [hostcfgd] hostcfgd will exit when set hostname in DEVICE_METADATA
  files/image_config/hostcfgd/hostcfgd
Labels: Bug :bug:

#3282 [Mellanox] install Mellanox's new platform api on the host
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-platform-api.mk
  rules/sonic-daemon-base.mk
  slave.mk
  src/sonic-daemon-base/sonic_daemon_base/daemon_base.py
Labels: Enhancement :robot:, Platform: Mellanox

#3319 [Mellanox]enhance the initialization flow of sfp part of new platform api
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Labels: Enhancement :robot:, Platform: Mellanox

#1532 Remove the divide by 4 operation to the under the hood SAI
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q24C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7170_64c/Arista-7170-64C/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7170_64c/Arista-7170-Q59S20/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/buffers_defaults_t0.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/buffers_defaults_t0.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/buffers_defaults_t1.j2
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/buffers_defaults_t1.j2
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100-C32/buffers_defaults_t1.j2
  device/dell/x86_64-dell_z9100_c2538-r0/Force10-Z9100-C8D48/buffers_defaults_t0.j2
  platform/broadcom/sai.mk
  src/sonic-config-engine/tests/sample_output/buffers-dell6100.json
Labels: Enhancement :robot:, Request for 201811 Branch :shipit:

#3512 Flush port in both WR and FR mode on exit. Otherwise teamd will stuck
  src/libteam/patch/0008-libteam-Add-warm_reboot-mode.patch
Labels: Bug :bug:, Request for 201811 Branch :shipit:

#3476 [Mellanox] platform_reboot - sync & umount fs before power cycle (#3430)
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
Labels: Enhancement :robot:, Platform: Mellanox

#3513 Use last fixes from libteam master repo
  src/libteam/Makefile
Labels: Enhancement :robot:

#3515 [201811][sonic-slave] Update linux-compiler-gcc package version to fix build
  sonic-slave/Dockerfile
Labels: Critical :exclamation:, Included in 201811 Branch, Request for 201904 Branch :snowboarder:

#3505 [Mellanox] Stop pmon ahead of syncd
  files/build_templates/pmon.service.j2
  files/scripts/syncd.sh
Labels: Enhancement :robot:, Platform: Mellanox

#3475 DellEMC-Z9264f: 10G_Port_Addition
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f-C64/port_config.ini
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f-C8D112/port_config.ini
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f-C8D112/th2-z9264f-8x100G-112x50G.config.bcm
  device/dell/x86_64-dellemc_z9264f_c3538-r0/DellEMC-Z9264f-Q64/port_config.ini
Labels: Enhancement :robot:, Platform: DellEMC

#3482 update the installer.conf and config.bcm
  device/delta/x86_64-delta_ag5648-r0/installer.conf
  device/delta/x86_64-delta_ag9032v1-r0/installer.conf
  device/delta/x86_64-delta_ag9032v2a-r0/Delta-ag9032v2a/port_config.ini
  device/delta/x86_64-delta_ag9032v2a-r0/Delta-ag9032v2a/td3-ag9032v2a-32x100G+1x10G.config.bcm
  device/delta/x86_64-delta_ag9032v2a-r0/default_sku
  device/delta/x86_64-delta_ag9032v2a-r0/installer.conf
  device/delta/x86_64-delta_ag9064-r0/installer.conf
Labels: Enhancement :robot:, Platform: Delta

#3507 [docker-fpm-frr] Filter out 'Dockerfile.j2' from the 'docker-fpm-frr' image
  dockers/docker-fpm-frr/.dockerignore
Labels: Enhancement :robot:

#3510 [device/celestica]: Update Component APIs
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.install
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.install
  platform/broadcom/sonic-platform-modules-cel/tools/afulnx_64
Labels: Enhancement :robot:, Platform: Celestica

#3531 Regular quit needs to clean the ports too
  src/libteam/patch/0008-libteam-Add-warm_reboot-mode.patch
Labels: Bug :bug:, Request for 201811 Branch :shipit:

#3480 [FRR]: Use stg instead of patch
  src/sonic-frr/Makefile
Labels: Enhancement :robot:
