Repository sonic-net/sonic-buildimage, pull requests merged in 2020-01, with the labels that each got.

#3954 DellEMC S6000 PSU Temperature
  device/dell/x86_64-dell_s6000_s1220-r0/sensors.conf
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC, Request for 201911 Branch :shipit:

#3952 Update bgpcfgd with vrf support
  dockers/docker-fpm-frr/bgpcfgd
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#3967 [libnl]: Debian Packaging libnl version 3.5.0
  .gitignore
  rules/libnl3.mk
  src/libnl3/Makefile
  src/libnl3/debian/README.Debian
  src/libnl3/debian/README.source
  src/libnl3/debian/changelog
  src/libnl3/debian/compat
  src/libnl3/debian/control
  src/libnl3/debian/copyright
  src/libnl3/debian/gbp.conf
  src/libnl3/debian/libnl-3-200-udeb.install
  src/libnl3/debian/libnl-3-200.install
  src/libnl3/debian/libnl-3-200.symbols
  src/libnl3/debian/libnl-3-dev.install
  src/libnl3/debian/libnl-cli-3-200.install
  src/libnl3/debian/libnl-cli-3-200.symbols
  src/libnl3/debian/libnl-cli-3-dev.install
  src/libnl3/debian/libnl-genl-3-200-udeb.install
  src/libnl3/debian/libnl-genl-3-200.install
  src/libnl3/debian/libnl-genl-3-200.symbols
  src/libnl3/debian/libnl-genl-3-dev.install
  src/libnl3/debian/libnl-idiag-3-200.install
  src/libnl3/debian/libnl-idiag-3-200.symbols
  src/libnl3/debian/libnl-idiag-3-dev.install
  src/libnl3/debian/libnl-nf-3-200.install
  src/libnl3/debian/libnl-nf-3-200.symbols
  src/libnl3/debian/libnl-nf-3-dev.install
  src/libnl3/debian/libnl-route-3-200.install
  src/libnl3/debian/libnl-route-3-200.symbols
  src/libnl3/debian/libnl-route-3-dev.install
  src/libnl3/debian/libnl-utils.install
  src/libnl3/debian/libnl-utils.manpages
  src/libnl3/debian/libnl-xfrm-3-200.install
  src/libnl3/debian/libnl-xfrm-3-200.symbols
  src/libnl3/debian/libnl-xfrm-3-dev.install
  src/libnl3/debian/patches/series
  src/libnl3/debian/rules
  src/libnl3/debian/source/format
  src/libnl3/debian/watch
Labels: Enhancement :heavy_plus_sign:

#3957 [Mellanox]Update the hw-mgmt patch for simx on V.7.0000.2308
  platform/mellanox/hw-management/0001-Make-hw-mgmt-SimX-compatiable.patch
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#3982 [201811][monit] address build issue: hard code ARCH to amd64
  files/build_templates/sonic_debian_extension.j2
  rules/monit.mk
  src/monit/Makefile
Labels: Included in 201811 Branch

#3886 [dhcp-relay]: Add DHCP Relay Monitor
  .gitignore
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  dockers/docker-dhcp-relay/start.sh
  rules/dhcpmon.mk
  rules/docker-dhcp-relay.mk
  sonic-slave-stretch/Dockerfile.j2
  src/dhcpmon/Makefile
  src/dhcpmon/debian/changelog
  src/dhcpmon/debian/compat
  src/dhcpmon/debian/control
  src/dhcpmon/debian/rules
  src/dhcpmon/objects.mk
  src/dhcpmon/src/dhcp_device.c
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.c
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.c
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.c
  src/dhcpmon/src/subdir.mk
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
Labels: Request for 201911 Branch :shipit:

#3972 Fix bug: chroot command line
  files/build_templates/sonic_debian_extension.j2
Labels: Bug :bug:

#4003 Delay process-reboot-cause service until network connection is stable
  files/build_templates/process-reboot-cause.timer
  files/build_templates/sonic_debian_extension.j2
  files/image_config/process-reboot-cause/process-reboot-cause.service
Labels: Request for 201811 Branch :shipit:

#3950 [barefoot]: Update SDK package
  platform/barefoot/bfn-platform.mk
  platform/barefoot/bfn-sai.mk
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot

#3974 [Monit] Change the monitoring period from 120 seconds to 60 seconds.
  files/image_config/monit/conf.d/sonic-host
  files/image_config/monit/monitrc
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#3940 [Services] Allow monit system tool to monitor the critical processes status running in various SONiC containers.
  dockers/docker-database/base_image_files/monit_database
  dockers/docker-fpm-frr/base_image_files/monit_bgp
  dockers/docker-lldp-sv2/base_image_files/monit_lldp
  dockers/docker-orchagent/base_image_files/monit_swss
  dockers/docker-sflow/base_image_files/monit_sflow
  dockers/docker-snmp-sv2/base_image_files/monit_snmp
  dockers/docker-sonic-telemetry/base_image_files/monit_telemetry
  platform/barefoot/docker-syncd-bfn.mk
  platform/barefoot/docker-syncd-bfn/base_image_files/monit_syncd
  platform/broadcom/docker-syncd-brcm.mk
  platform/broadcom/docker-syncd-brcm/base_image_files/monit_syncd
  platform/cavium/docker-syncd-cavm.mk
  platform/cavium/docker-syncd-cavm/base_image_files/monit_syncd
  platform/centec/docker-syncd-centec.mk
  platform/centec/docker-syncd-centec/base_image_files/monit_syncd
  platform/marvell-arm64/docker-syncd-mrvl.mk
  platform/marvell-arm64/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell-armhf/docker-syncd-mrvl.mk
  platform/marvell-armhf/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell/docker-syncd-mrvl.mk
  platform/marvell/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/docker-syncd-mlnx/base_image_files/monit_syncd
  platform/nephos/docker-syncd-nephos.mk
  platform/nephos/docker-syncd-nephos/base_image_files/monit_syncd
  rules/docker-database.mk
  rules/docker-fpm-frr.mk
  rules/docker-lldp-sv2.mk
  rules/docker-orchagent.mk
  rules/docker-sflow.mk
  rules/docker-snmp-sv2.mk
  rules/docker-telemetry.mk
Labels: Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4004 [dhcp-relay]: Add DHCP Relay Monitor (#3886)
  .gitignore
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  dockers/docker-dhcp-relay/start.sh
  rules/dhcpmon.mk
  rules/docker-dhcp-relay.mk
  sonic-slave/Dockerfile
  src/dhcpmon/Makefile
  src/dhcpmon/debian/changelog
  src/dhcpmon/debian/compat
  src/dhcpmon/debian/control
  src/dhcpmon/debian/rules
  src/dhcpmon/objects.mk
  src/dhcpmon/src/dhcp_device.c
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.c
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.c
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.c
  src/dhcpmon/src/subdir.mk
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
Labels: Included in 201811 Branch, Request for 201811 Branch :shipit:

#4022 [Mellanox] Change MFT version to 4.13.3
  platform/mellanox/mft.mk
Labels: Request for 201911 Branch :shipit:

#4036 [caclmgrd] Fix application of IPv6 service ACL rules (part 2)
  files/image_config/caclmgrd/caclmgrd
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4000 [startup] Fixes issue with /var/platform directory not created
  files/image_config/platform/rc.local
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4035 [MultiDB] (except ./src and ./dockers dirs): replace redis-cli with sonic-db-cli and use new DBConnector
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
  files/image_config/updategraph/updategraph
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  files/scripts/configdb-load.sh
  files/scripts/swss.sh
  files/scripts/syncd.sh
  platform/barefoot/sonic-platform-modules-ingrasys/s9180-32x/utils/qsfp_monitor.sh
  platform/barefoot/sonic-platform-modules-ingrasys/s9280-64x/utils/qsfp_monitor.sh
  platform/broadcom/sonic-platform-modules-ingrasys/s8810-32q/utils/qsfp_monitor.sh
  platform/broadcom/sonic-platform-modules-ingrasys/s8900-54xc/utils/qsfp_monitor.sh
  platform/broadcom/sonic-platform-modules-ingrasys/s8900-64xc/utils/qsfp_monitor.sh
  platform/broadcom/sonic-platform-modules-ingrasys/s9100/utils/qsfp_monitor.sh
  platform/broadcom/sonic-platform-modules-ingrasys/s9200-64x/utils/qsfp_monitor.sh
  platform/nephos/sonic-platform-modules-ingrasys/s9130-32x/utils/qsfp_monitor.sh
  platform/nephos/sonic-platform-modules-ingrasys/s9230-64x/utils/qsfp_monitor.sh
Labels: Request for 201911 Branch :shipit:

#3923 [MultiDB] (./dockers dir) : replace redis-cli with sonic-db-cli and use new DBConnector
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  dockers/docker-fpm-frr/bgpcfgd
  dockers/docker-lldp-sv2/lldpmgrd
  dockers/docker-orchagent/swssconfig.sh
  dockers/docker-router-advertiser/wait_for_intf.sh.j2
  dockers/docker-sonic-telemetry/telemetry.sh
  src/sonic-config-engine/tests/sample_output/wait_for_intf.sh
Labels: Request for 201911 Branch :shipit:

#4033 [Monit] Change the full process name of syncd in the monit config file.
  platform/barefoot/docker-syncd-bfn/base_image_files/monit_syncd
  platform/broadcom/docker-syncd-brcm/base_image_files/monit_syncd
  platform/cavium/docker-syncd-cavm/base_image_files/monit_syncd
  platform/centec/docker-syncd-centec/base_image_files/monit_syncd
  platform/marvell-arm64/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell-armhf/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/mellanox/docker-syncd-mlnx/base_image_files/monit_syncd
  platform/nephos/docker-syncd-nephos/base_image_files/monit_syncd
Labels: Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4048 DellEMC S6000 fancontrol support
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6000.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6000.postinst
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/fancontrol.sh
  platform/broadcom/sonic-platform-modules-dell/s6000/systemd/fancontrol.service
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC, Request for 201911 Branch :shipit:

#4047 [device] as7326-56x: Fix the default low power mode on issue
  device/accton/x86_64-accton_as7326_56x-r0/plugins/sfputil.py
Labels: Bug :bug:, Platform: Accton

#4051 [procdockerstatsd] removing space from shebang
  files/image_config/procdockerstatsd/procdockerstatsd
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#3956 DellEMC: Platform2.0 API enhancements in DellEMC S6000 and other API changes
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/fan.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC, Request for 201911 Branch :shipit:

#3999 [mellanox] Add fwutil platform components files
  device/mellanox/x86_64-mlnx_msn2010-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2100-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2410-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2740-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn3700-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn3700c-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn3800-r0/platform_components.json
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4041 [Mellanox]Implement plugins for PSU, fan and thermal
  device/mellanox/x86_64-mlnx_msn2010-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn2010-r0/plugins/thermalutil.py
  device/mellanox/x86_64-mlnx_msn2100-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn2100-r0/plugins/thermalutil.py
  device/mellanox/x86_64-mlnx_msn2410-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn2410-r0/plugins/psuutil.py
  device/mellanox/x86_64-mlnx_msn2410-r0/plugins/thermalutil.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/psuutil.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/thermalutil.py
  device/mellanox/x86_64-mlnx_msn2740-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn2740-r0/plugins/psuutil.py
  device/mellanox/x86_64-mlnx_msn2740-r0/plugins/thermalutil.py
  device/mellanox/x86_64-mlnx_msn3700-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn3700c-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn3700c-r0/plugins/thermalutil.py
  device/mellanox/x86_64-mlnx_msn3800-r0/plugins/fanutil.py
  device/mellanox/x86_64-mlnx_msn3800-r0/plugins/thermalutil.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#3905 Update lldpd to latest stable version
  rules/lldpd.mk
  src/lldpd/patch/0002-Let-linux-kernel-to-find-appropriate-nl_pid-automa.patch
  src/lldpd/patch/0003-update-tx-interval-immediately.patch
  src/lldpd/patch/0005-Read-all-notifications-in-lldpctl_recv.patch
  src/lldpd/patch/series
Labels: Enhancement :heavy_plus_sign:

#3963 Sai1.5 marvell
  platform/marvell-armhf/sai.mk
Labels: Enhancement :heavy_plus_sign:, Platform: Marvell

#4071 DellEMC: DellEMC platform bug fixes
  device/dell/x86_64-dellemc_s5232f_c3538-r0/plugins/eeprom.py
  device/dell/x86_64-dellemc_s5248f_c3538-r0/plugins/eeprom.py
  device/dell/x86_64-dellemc_s5248f_c3538-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/scripts/s5232f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s5248f/scripts/s5248f_platform.sh
Labels: Bug :bug:, Platform: DellEMC

#4057 mvrf_avoid_snmp_yml_config: made changes to pass SNMP config from con…
  dockers/docker-snmp-sv2/snmpd.conf.j2
  files/build_templates/docker_image_ctl.j2
  files/image_config/snmp/snmp.yml
Labels: Request for 201911 Branch :shipit:

#3931 [Mellanox]platform api support firmware install
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/one-image.mk
  platform/mellanox/onie-fw-update
  platform/mellanox/onie-fw-update.mk
  platform/mellanox/rules.mk
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4060 DellEMC: Z9264-Platform2.0 Implementation [ipmihelper]
  platform/broadcom/sonic-platform-modules-dell/common/ipmihelper.py
  platform/broadcom/sonic-platform-modules-dell/debian/rules
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#3962 kdump support for arm, as the dependency with uboot, skipping kdump installation on ARM
  files/build_templates/sonic_debian_extension.j2
Labels: Enhancement :heavy_plus_sign:

#3494 Changes in sonic-buildimage to support the NAT feature
  build_debian.sh
  dockers/docker-nat/Dockerfile.j2
  dockers/docker-nat/base_image_files/natctl
  dockers/docker-nat/restore_nat_entries.py
  dockers/docker-nat/start.sh
  dockers/docker-nat/supervisord.conf
  dockers/docker-orchagent/Dockerfile.j2
  files/build_templates/nat.service.j2
  files/build_templates/sonic_debian_extension.j2
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  platform/vs/docker-sonic-vs/start.sh
  platform/vs/docker-sonic-vs/supervisord.conf
  rules/docker-nat.mk
  rules/iptables.mk
  sonic-slave-stretch/Dockerfile.j2
  src/iptables/Makefile
  src/iptables/patch/0001-Passing-fullcone-option-for-SNAT-and-DNAT.patch
  src/iptables/patch/series
Labels: Enhancement :heavy_plus_sign:

#4083 Increasing the startsecs for teamsyncd in supervisor.conf
  dockers/docker-teamd/supervisord.conf
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4085 [mellanox]: Add new Mellanox-SN3800-D112C8 sku
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/qos.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/sai_3800.xml
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Request for 201911 Branch :shipit:, Request_for_bmtor, included_in_bmtor
