Repository sonic-net/sonic-buildimage, pull requests merged in 2020-06, with the labels that each got.

#4675 [build] 'make reset' target will continue recursive operations even if some fail
  Makefile.work
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#4676 [hostcfgd] Get service enable/disable feature working
  files/image_config/hostcfgd/hostcfgd
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4685 [caclmgrd] Get first VLAN host IP address via next()
  files/image_config/caclmgrd/caclmgrd
Labels: Bug :bug:

#4617 [docker-syncd] Add timeout to force stop syncd container
  files/scripts/syncd.sh
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#3911 [test] Adding platform.json configuration file unit test
  src/sonic-device-data/src/Makefile
  src/sonic-device-data/tests/media_checker
  src/sonic-device-data/tests/platform_json_checker
Labels: Port Breakout :trident:

#4690 centec_syncd_rpc build failed when set ENABLE_SYNCD_RPC=y
  platform/centec/rules.mk
Labels: Build :hammer:

#4718 DellEMC: EEPROM decoder for S6000, S6000-ON
  device/dell/x86_64-dell_s6000_s1220-r0/plugins/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/psu.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC, Request for 201911 Branch :shipit:

#4700 [dockers] Rename 'docker-lldp-sv2' to 'docker-lldp'
  dockers/docker-lldp/Dockerfile.j2
  dockers/docker-lldp/base_image_files/lldpcli
  dockers/docker-lldp/base_image_files/lldpctl
  dockers/docker-lldp/base_image_files/monit_lldp
  dockers/docker-lldp/critical_processes
  dockers/docker-lldp/docker-lldp-init.sh
  dockers/docker-lldp/lldpd
  dockers/docker-lldp/lldpd.conf.j2
  dockers/docker-lldp/lldpmgrd
  dockers/docker-lldp/start.sh
  dockers/docker-lldp/supervisord.conf.j2
  dockers/docker-lldp/waitfor_lldp_ready.sh
  platform/generic/rules.mk
  rules/docker-lldp-sv2.dep
  rules/docker-lldp-sv2.mk
  rules/docker-lldp.dep
  rules/docker-lldp.mk
  src/sonic-config-engine/tests/test_j2files.py
Labels: Cleanup :droplet:

#4679 Dell Force10-S6000-Q28S16 new HWSKU support
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/buffers.json.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/buffers_defaults_t1.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/pg_profile_lookup.ini
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/port_config.ini
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/qos.json.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/sai.profile
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/td2-s6000-28x40G-16x10G.config.bcm
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#4680 Dell Force10-S6000-Q24S32 new HWSKU support
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/buffers.json.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/buffers_defaults_t1.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/pg_profile_lookup.ini
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/port_config.ini
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/qos.json.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/sai.profile
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/td2-s6000-24x40G-32x10G.config.bcm
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#4707 Restructure .gitignore files
  .gitignore
  platform/broadcom/saibcm-modules/.gitignore
  platform/broadcom/sonic-platform-modules-dell/.gitignore
  src/bash/.gitignore
  src/dhcpmon/.gitignore
  src/hiredis/.gitignore
  src/ifupdown2/.gitignore
  src/initramfs-tools/.gitignore
  src/iproute2/.gitignore
  src/iptables/.gitignore
  src/isc-dhcp/.gitignore
  src/ixgbe/.gitignore
  src/kdump-tools/.gitignore
  src/libnl3/.gitignore
  src/libteam/.gitignore
  src/libyang/.gitignore
  src/lldpd/.gitignore
  src/lm-sensors/.gitignore
  src/monit/.gitignore
  src/mpdecimal/.gitignore
  src/python-click/.gitignore
  src/python3/.gitignore
  src/radvd/.gitignore
  src/redis/.gitignore
  src/sflow/hsflowd/.gitignore
  src/sflow/psample/.gitignore
  src/sflow/sflowtool/.gitignore
  src/smartmontools/.gitignore
  src/snmpd/.gitignore
  src/socat/.gitignore
  src/sonic-device-data/.gitignore
  src/sonic-yang-mgmt/.gitignore
  src/sonic-yang-models/.gitignore
  src/supervisor/.gitignore
  src/swig/.gitignore
  src/systemd-sonic-generator/.gitignore
  src/tacacs/.gitignore
  src/thrift/.gitignore
Labels: Enhancement :heavy_plus_sign:

#4739 [bcm SAI] upgrade Broadcom SAI to version 3.5.3.5-1
  platform/broadcom/sai.mk
Labels: Included in 201811 Branch

#4701 [Mellanox] Upgrade mft to 4.14.1-8
  platform/mellanox/mft.mk
Labels: Platform: Mellanox, Request for 201911 Branch :shipit:

#4752 [201911] DellEMC: Skip thermalctld and thermal platform API changes
  device/dell/x86_64-dell_s6000_s1220-r0/pmon_daemon_control.json
  device/dell/x86_64-dell_s6100_c2538-r0/pmon_daemon_control.json
  device/dell/x86_64-dell_z9100_c2538-r0/pmon_daemon_control.json
  device/dell/x86_64-dellemc_z9264f_c3538-r0/pmon_daemon_control.json
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/thermal.py
Labels: Enhancement :heavy_plus_sign:, Included in 201911 Branch

#4757 [sonic_daemon_base] Add REDIS_TIMEOUT_MSECS back which is removed by mistake
  src/sonic-daemon-base/sonic_daemon_base/daemon_base.py
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4748 [ntp] disable ntp long jump
  files/image_config/ntp/ntp-config.sh
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4750 [sonic-mgmt] upgrade paramiko to version 2.7.1
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: Enhancement :heavy_plus_sign:

#4699 [dockers] Rename 'docker-snmp-sv2' to 'docker-snmp'
  dockers/docker-snmp/Dockerfile.j2
  dockers/docker-snmp/base_image_files/monit_snmp
  dockers/docker-snmp/critical_processes
  dockers/docker-snmp/snmpd.conf.j2
  dockers/docker-snmp/start.sh
  dockers/docker-snmp/supervisord.conf
  dockers/docker-snmp/sysDescription.j2
  platform/generic/rules.mk
  rules/docker-snmp-sv2.dep
  rules/docker-snmp-sv2.mk
  rules/docker-snmp.dep
  rules/docker-snmp.mk
Labels: Cleanup :droplet:

#4751 [ansible] upgrade ansible to 2.8.12
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: Enhancement :heavy_plus_sign:

#4754 [Mellanox] Fix 'sensors.conf' mapping for MSN4600C
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors.conf
Labels: Bug :bug:, Platform: Mellanox

#4727 Convert radv docker to buster
  dockers/docker-router-advertiser/Dockerfile.j2
  rules/docker-router-advertiser.mk
  rules/radvd.mk
Labels: Enhancement :heavy_plus_sign:

#4760 [build] Enable telemetry service by default
  files/build_templates/init_cfg.json.j2
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#4768 [k8s]: switching to Flannel from Calico.
  Makefile.work
  files/build_templates/sonic_debian_extension.j2
  rules/config
Labels: Request for 201911 Branch :shipit:

#4585 [secure boot] Support rw files allowlist
  build_image.sh
  files/Aboot/boot0.j2
  files/image_config/secureboot/allowlist_paths.conf
  files/image_config/secureboot/allowlist_paths.md
  files/initramfs-tools/union-mount.j2
Labels: Enhancement :heavy_plus_sign:

#4764 [Mellanox] Add ONIE and SSD platform components
  platform/mellanox/mlnx-onie-fw-update.sh
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-ssd-fw-update.sh
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4758 [Mellanox] Add ONIE and SSD platform components
  platform/mellanox/mlnx-onie-fw-update.sh
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-ssd-fw-update.sh
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4743 [Mellanox] Initialize system LED color to green for 201911
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Enhancement :heavy_plus_sign:, Included in 201911 Branch, Platform: Mellanox

#4753 [Mellanox] Fix 'sensors.conf' mapping for MSN4700
  device/mellanox/x86_64-mlnx_msn4700-r0/sensors.conf
Labels: Bug :bug:, Platform: Mellanox, Request for 201911 Branch :shipit:

#4767 Add redistribution connected for ipv6 also for Frontend ASICs
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
Labels: Multi-NPU :1234:, Request for 201911 Branch :shipit:

#4759 [mgmt docker] Clean up docker-sonic-mgmt dockerfile
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: Cleanup :droplet:

#4788 [build] Ensure /usr/lib/systemd/system/ directory exists before referencing
  files/build_templates/sonic_debian_extension.j2
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4784 [Mellanox] Update MFT to v4.14.5-2
  platform/mellanox/mft.mk
Labels: Bug :bug:, Platform: Mellanox, Request for 201911 Branch :shipit:

#4787 Fix bug: check port alias even when port_config_file parameter is not provided
  src/sonic-config-engine/minigraph.py
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4796 [caclmgrd] Don't limit iptables connection tracking to TCP
  files/image_config/caclmgrd/caclmgrd
Labels: Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4763 [accton/as5835-54x] Fix sfp related function like tx_disable
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_util.py
Labels: Bug :bug:, Platform: Accton

#4803 Update .gitignore for platform
  .gitignore
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#3909 [buildImage] Add support of platform.json parsing to portconfig.py file
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/portconfig.py
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/sample_hwsku.json
  src/sonic-config-engine/tests/sample_output/platform_output.json
  src/sonic-config-engine/tests/sample_platform.json
  src/sonic-config-engine/tests/test_cfggen_platformJson.py
  src/sonic-daemon-base/sonic_daemon_base/daemon_base.py
Labels: Enhancement :heavy_plus_sign:, Port Breakout :trident:

#4804 kubeadm package apt-get install has unmet dependency error on other packages
  build_debian.sh
Labels: Request for 201911 Branch :shipit:

#4798 [rules/sonic-utilities.mk] Add sonic-yang-mgmt as build time dependency
  rules/sonic-utilities.mk
Labels: Enhancement :heavy_plus_sign:

#4811 [build] No longer install Python 'click-default-group' package
  files/build_templates/sonic_debian_extension.j2
  platform/p4/docker-sonic-p4/Dockerfile.j2
  platform/vs/docker-sonic-vs/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-jessie/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Labels: Cleanup :droplet:

#4807 NOS to SONiC migration fixes
  files/image_config/platform/rc.local
  files/initramfs-tools/union-mount.j2
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4714 [hostcfgd] Synchronize all feature statuses once upon start
  files/image_config/hostcfgd/hostcfgd
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#4795 [fast-reboot] Back up FDB/ARP/Default routes
  dockers/docker-orchagent/swssconfig.sh
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4813 Make a package for bgpcfgd
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-frr/base_image_files/monit_bgp
  dockers/docker-fpm-frr/frr/supervisord/supervisord.conf.j2
  rules/docker-fpm-frr.mk
  rules/sonic_bgpcfgd.dep
  rules/sonic_bgpcfgd.mk
  src/sonic-bgpcfgd/.gitignore
  src/sonic-bgpcfgd/bgpcfgd
  src/sonic-bgpcfgd/setup.cfg
  src/sonic-bgpcfgd/setup.py
  src/sonic-bgpcfgd/tests/__init__.py
  src/sonic-bgpcfgd/tests/test_sample.py
Labels: Enhancement :heavy_plus_sign:

#4790 [Mellanox] Add with_i2cdev option for "mst start" to have I2C device loaded properly
  files/scripts/syncd.sh
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4786 [Mellanox] Modified SKU based utils to Platform based utils
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 201911 Branch :shipit:

#4810 modified files relevant to SKU Mellanox-SN3800-D112C8
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/port_config.ini
Labels: Request for 201911 Branch :shipit:

#4809 added files to create SKU Mellanox-SN3800-D28C50
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/qos.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/sai_3800_28x50g_52x100g.xml
Labels: Request for 201911 Branch :shipit:

#4808 added files to create SKU Mellanox-SN3800-D24C52
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/qos.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/sai_3800_24x50g_52x100g.xml
Labels: Request for 201911 Branch :shipit:

#4812 added files to create SKU Mellanox-SN3800-C64
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-C64
Labels: Request for 201911 Branch :shipit:

#4671 Convert dhcp-relay docker to buster
  dockers/docker-dhcp-relay/Dockerfile.j2
  rules/docker-dhcp-relay.mk
  rules/isc-dhcp.mk
  src/dhcpmon/debian/control
  src/isc-dhcp/Makefile
  src/isc-dhcp/patch/0002-Customizable-Option-82-circuit-ID-and-remote-ID-fiel.patch
  src/isc-dhcp/patch/0003-Support-for-obtaining-name-of-physical-interface-tha.patch
  src/isc-dhcp/patch/0004-Support-for-loading-port-alias-map-file-to-replace-p.patch
  src/isc-dhcp/patch/0005-Add-enable-use-sockets-to-configure-flags-in-debian-.patch
  src/isc-dhcp/patch/0007-If-destination-of-BOOTREQUEST-is-directed-broadcast-.patch
  src/isc-dhcp/patch/0008-CVE-2017-3144.patch
  src/isc-dhcp/patch/0008-Don-t-skip-down-interfaces-when-discovering-interfac.patch
  src/isc-dhcp/patch/0008-interface-name-maxlen-crash.patch
  src/isc-dhcp/patch/0009-CVE-2018-5733.patch
  src/isc-dhcp/patch/0010-CVE-2018-5732.patch
  src/isc-dhcp/patch/series
Labels: Enhancement :heavy_plus_sign:

#4781 [Mellanox] Change port index in port_config.ini to 1-based
  device/mellanox/x86_64-mlnx_msn2010-r0/ACS-MSN2010/port_config.ini
  device/mellanox/x86_64-mlnx_msn2100-r0/ACS-MSN2100/port_config.ini
  device/mellanox/x86_64-mlnx_msn2410-r0/ACS-MSN2410/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-C28D8/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/port_config.ini
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn2740-r0/ACS-MSN2740/port_config.ini
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/port_config.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/ACS-MSN4700/port_config.ini
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4837 [dvs] Install libteamdctl runtime dependency in VS docker
  platform/p4/docker-sonic-p4.mk
  platform/vs/docker-sonic-vs.mk
  rules/docker-teamd.mk
  rules/libteam.mk
  rules/swss.mk
Labels: Bug :bug:, vs :vs:

#4721 [build][systemd] Mask disabled services by default
  files/build_scripts/mask_disabled_services.py
  files/build_templates/sonic_debian_extension.j2
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#4845 [docker-orchagent]: start portsyncd before orchagent
  dockers/docker-orchagent/supervisord.conf
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4841 Tests for bgpcfgd templates
  dockers/docker-fpm-frr/frr/bgpd/templates/dynamic/instance.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/general/instance.conf.j2
  src/sonic-bgpcfgd/.gitignore
  src/sonic-bgpcfgd/app/__init__.py
  src/sonic-bgpcfgd/app/config.py
  src/sonic-bgpcfgd/app/log.py
  src/sonic-bgpcfgd/app/template.py
  src/sonic-bgpcfgd/app/util.py
  src/sonic-bgpcfgd/app/vars.py
  src/sonic-bgpcfgd/bgpcfgd
  src/sonic-bgpcfgd/setup.py
  src/sonic-bgpcfgd/tests/data/dynamic/instance.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/dynamic/instance.conf/param_base.json
  src/sonic-bgpcfgd/tests/data/dynamic/instance.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/dynamic/instance.conf/result_base.conf
  src/sonic-bgpcfgd/tests/data/dynamic/peer-group.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/dynamic/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/dynamic/policies.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/dynamic/policies.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_ASIC_v4.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_ASIC_v6.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_all_v4.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_all_v6.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_base_v4.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_base_v6.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_l2vpn.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_shutdown_1.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_shutdown_2.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_timers_1.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_timers_2.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_ASIC_v4.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_ASIC_v6.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_all_v4.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_all_v6.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_base_v4.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_base_v6.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_l2vpn.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_shutdown_1.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_shutdown_2.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_timers_1.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_timers_2.conf
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/param_base.json
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/result_base.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/general/policies.conf/param_base.json
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_base.conf
  src/sonic-bgpcfgd/tests/data/monitors/instance.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/monitors/instance.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/monitors/peer-group.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/monitors/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/monitors/policies.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/monitors/policies.conf/result_all.conf
  src/sonic-bgpcfgd/tests/test_ipv6_nexthop_global.py
  src/sonic-bgpcfgd/tests/test_sample.py
  src/sonic-bgpcfgd/tests/test_templates.py
  src/sonic-bgpcfgd/tests/util.py
Labels: Enhancement :heavy_plus_sign:, FRR :traffic_light:, Request for 201911 Branch :shipit:

#4724 Add PCIe config file of DX010 and E1031
  device/celestica/x86_64-cel_e1031-r0/plugins/pcie.yaml
  device/celestica/x86_64-cel_seastone-r0/plugins/pcie.yaml
Labels: Enhancement :heavy_plus_sign:, Platform: Celestica

#4706 [Monit] Use the string "/usr/bin/syncd\s" to monitor the syncd process
  platform/barefoot/docker-syncd-bfn/base_image_files/monit_syncd
  platform/broadcom/docker-syncd-brcm/base_image_files/monit_syncd
  platform/cavium/docker-syncd-cavm/base_image_files/monit_syncd
  platform/centec/docker-syncd-centec/base_image_files/monit_syncd
  platform/marvell-arm64/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell-armhf/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/mellanox/docker-syncd-mlnx/base_image_files/monit_syncd
  platform/nephos/docker-syncd-nephos/base_image_files/monit_syncd
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4831 [dockers] Update critical_processes file syntax
  dockers/docker-database/critical_processes
  dockers/docker-dhcp-relay/critical_processes
  dockers/docker-fpm-frr/critical_processes
  dockers/docker-fpm-gobgp/critical_processes
  dockers/docker-fpm-quagga/critical_processes
  dockers/docker-lldp/critical_processes
  dockers/docker-nat/critical_processes
  dockers/docker-orchagent/critical_processes
  dockers/docker-platform-monitor/critical_processes
  dockers/docker-router-advertiser/critical_processes
  dockers/docker-sflow/critical_processes
  dockers/docker-snmp/critical_processes
  dockers/docker-sonic-restapi/critical_processes
  dockers/docker-sonic-telemetry/critical_processes
  dockers/docker-teamd/critical_processes
  files/scripts/supervisor-proc-exit-listener
  platform/barefoot/docker-syncd-bfn/critical_processes
  platform/broadcom/docker-syncd-brcm/critical_processes
  platform/cavium/docker-syncd-cavm/critical_processes
  platform/centec/docker-syncd-centec/critical_processes
  platform/marvell-arm64/docker-syncd-mrvl/critical_processes
  platform/marvell-armhf/docker-syncd-mrvl/critical_processes
  platform/marvell/docker-syncd-mrvl/critical_processes
  platform/mellanox/docker-syncd-mlnx/critical_processes
  platform/nephos/docker-syncd-nephos/critical_processes
  platform/vs/docker-syncd-vs/critical_processes
Labels: Enhancement :heavy_plus_sign:

#4849 [slave.mk]: Adding support to specify debs dependencies for python-de…
  slave.mk
Labels: Enhancement :heavy_plus_sign:

#4859 [201911] Syncd high CPU fix on Th/Th2 platforms
  platform/broadcom/sai.mk
Labels: brcmsai

#4858 [DellEMC] S52xx fix SFP reset in 1.0 API
  device/dell/x86_64-dellemc_s5232f_c3538-r0/plugins/sfputil.py
  device/dell/x86_64-dellemc_s5248f_c3538-r0/plugins/sfputil.py
Labels: Bug :bug:, Platform: DellEMC, Request for 201911 Branch :shipit:

#4740 [build] Add essential PY PKGs on host for sonic-utilities/config/config_mgmt.py
  files/build_templates/sonic_debian_extension.j2
Labels: Enhancement :heavy_plus_sign:

#4862 [docker-lldp] Correct lldp-syncd program name in critical_processes file
  dockers/docker-lldp/critical_processes
Labels: Bug :bug:

#4863 [201911][docker-lldp] Correct lldp-syncd program name in critical_processes file
  dockers/docker-lldp-sv2/critical_processes
Labels: Bug :bug:, Included in 201911 Branch

#4857 [Juniper][QFX5210] Fixing a few platform issues
  platform/broadcom/sonic-platform-modules-juniper/debian/sonic-platform-juniper-qfx5210.postinst
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/utils/juniper_qfx5210_util.py
Labels: Bug :bug:, Platform: Juniper

#4828 [Mellanox] add ASIC temperature support to platform API
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4820 [systemd-generator]: Fix dependency update for multi-asic platform
  files/build_templates/sonic_debian_extension.j2
  src/systemd-sonic-generator/systemd-sonic-generator.c
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4774 Changes to make default route programming correct in multi-npu platforms
  dockers/docker-fpm-frr/docker_init.sh
  files/build_templates/docker_image_ctl.j2
Labels: Multi-ASIC, Multi-NPU :1234:, Request for 201911 Branch :shipit:
