Repository sonic-net/sonic-buildimage, pull requests merged in 2020-11, with the labels that each got.

#5720 [monit] Adding patch to enhance syslog error message generation for monit alert action when status is failed.
  dockers/docker-database/base_image_files/monit_database
  dockers/docker-fpm-frr/base_image_files/monit_bgp
  dockers/docker-lldp/base_image_files/monit_lldp
  dockers/docker-orchagent/base_image_files/monit_swss
  dockers/docker-sflow/base_image_files/monit_sflow
  dockers/docker-snmp/base_image_files/monit_snmp
  dockers/docker-sonic-restapi/base_image_files/monit_restapi
  dockers/docker-sonic-telemetry/base_image_files/monit_telemetry
  dockers/docker-teamd/base_image_files/monit_teamd
  files/image_config/monit/conf.d/sonic-host
  platform/barefoot/docker-syncd-bfn/base_image_files/monit_syncd
  platform/broadcom/docker-syncd-brcm/base_image_files/monit_syncd
  platform/cavium/docker-syncd-cavm/base_image_files/monit_syncd
  platform/centec/docker-syncd-centec/base_image_files/monit_syncd
  platform/marvell-arm64/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell-armhf/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/mellanox/docker-syncd-mlnx/base_image_files/monit_syncd
  platform/nephos/docker-syncd-nephos/base_image_files/monit_syncd
  src/monit/patch/0002-change_monit_alert_log_error.patch
  src/monit/patch/series
Labels: Request for 201911 Branch :shipit:

#5754 Kannankvs mvrf ip rule priority change to 32765
  files/image_config/interfaces/interfaces.j2
  src/sonic-config-engine/tests/sample_output/py2/interfaces
  src/sonic-config-engine/tests/sample_output/py2/mvrf_interfaces
  src/sonic-config-engine/tests/sample_output/py3/interfaces
  src/sonic-config-engine/tests/sample_output/py3/mvrf_interfaces
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#5764 [docker-platform-monitor] Check if sonic_platform package is available before checking if installed
  dockers/docker-platform-monitor/start.sh
Labels: Bug :bug:

#5669 [Mellanox] add PCIed config files for Mellanox platforms
  device/mellanox/x86_64-mlnx_lssn2700-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn2010-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn2100-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn2410-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn2700-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn2700_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn2740-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn3420-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn3700-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn3700_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn3700c-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn3800-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn4600c-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn4700-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/pmon_daemon_control.json
Labels: Platform: Mellanox

#5782 [201911][core_cleanup.py] Fix core file path; Improve code reuse
  files/scripts/core_cleanup.py
Labels: Bug :bug:, Cleanup :droplet:, Included in 201911 Branch

#5785 [lldpmgrd] Convert to Python 3
  dockers/docker-lldp/lldpmgrd
  rules/docker-lldp.mk
Labels: Enhancement :heavy_plus_sign:

#5809 Fix for - execvp: /bin/bash: Argument list too long error
  Makefile.cache
Labels: Bug :bug:, Build :hammer:

#5779 [docker-platform-monitor] Explicitly install Python 2 'enum34' package to fix Arista platforms
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: Bug :bug:

#5783 [generate_asic_config_checksum.py] Convert to Python 3
  build_debian.sh
  files/build_scripts/generate_asic_config_checksum.py
Labels: Cleanup :droplet:

#5475 [device/accton] Remove the use of python pickle package
  device/accton/x86_64-accton_as5812_54t-r0/plugins/sfputil.py
  device/accton/x86_64-accton_as5812_54x-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-accton/as5712-54x/utils/accton_as5712_util.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54x/utils/accton_as5812_util.py
Labels: Cleanup :droplet:, Platform: Accton

#5808 DellEMC Z9264f: Fix show version error
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/eeprom.py
Labels: Bug :bug:, Platform: DellEMC

#5781 [core_cleanup.py] Convert to Python 3; Fix core file path; Use logger from sonic-py-common for uniform logging
  files/scripts/core_cleanup.py
Labels: Bug :bug:, Cleanup :droplet:, Enhancement :heavy_plus_sign:

#5746 [bgpcfgd]: Convert bgpcfgd and bgpmon to python3
  dockers/docker-fpm-frr/frr/bgpd/templates/general/instance.conf.j2
  rules/docker-config-engine-buster.mk
  rules/sonic_bgpcfgd.mk
  src/sonic-bgpcfgd/.gitignore
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
  src/sonic-bgpcfgd/bgpcfgd/utils.py
  src/sonic-bgpcfgd/bgpmon/bgpmon.py
  src/sonic-bgpcfgd/tests/swsscommon_test.py
  src/sonic-bgpcfgd/tests/test_allow_list.py
  src/sonic-bgpcfgd/tests/test_bbr.py
  src/sonic-bgpcfgd/tests/test_ipv6_nexthop_global.py
  src/sonic-bgpcfgd/tests/test_pfx_filter.py
  src/sonic-bgpcfgd/tests/test_sonic-cfggen.py
  src/sonic-bgpcfgd/tests/test_templates.py
Labels: Request for 202006 Branch, bgp

#5816 [sonic-device-data] Convert Python files to Python 3
  src/sonic-device-data/tests/config_checker
  src/sonic-device-data/tests/media_checker
  src/sonic-device-data/tests/platform_json_checker
Labels: Cleanup :droplet:, Enhancement :heavy_plus_sign:

#5790 [core_uploader.py] Convert to Python 3; Use logger from sonic-py-common for uniform logging
  files/build_templates/sonic_debian_extension.j2
  files/image_config/corefile_uploader/core_uploader.py
Labels: Cleanup :droplet:, Enhancement :heavy_plus_sign:

#5784 [docker-wait-any] Convert to Python 3, install dependency in host OS
  build_debian.sh
  files/image_config/misc/docker-wait-any
Labels: Enhancement :heavy_plus_sign:

#5789 [enable_counters.py] Convert to Python 3
  dockers/docker-orchagent/enable_counters.py
Labels: Cleanup :droplet:, Enhancement :heavy_plus_sign:

#5800 [sflow] Fix port_index_mapper.py script; Convert to Python 3
  dockers/docker-sflow/port_index_mapper.py
Labels: Bug :bug:, Enhancement :heavy_plus_sign:

#5788 [restore_nat_entries.py] Convert to Python 3; Use logger from sonic-py-common for uniform logging
  dockers/docker-nat/restore_nat_entries.py
Labels: Cleanup :droplet:, Enhancement :heavy_plus_sign:

#5777 [hostcfgd] If feature state entry not in the cache, add a default state
  files/image_config/hostcfgd/hostcfgd
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#5832 [BGP]: Convert ip address to network address for the LOCAL_VLAN filter
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/defaults.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/frr.conf.j2/all.conf
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr.conf
  src/sonic-config-engine/tests/sample_output/py2/frr.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr.conf
  src/sonic-config-engine/tests/sample_output/py3/frr.conf
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, Request for 202006 Branch, bgp

#5699 Add verification IPv4 address on LLDP conf Jinja2 Template
  dockers/docker-lldp/lldpd.conf.j2
  src/sonic-config-engine/tests/data/lldp/mgmt_iface_ipv4.json
  src/sonic-config-engine/tests/data/lldp/mgmt_iface_ipv4_and_ipv6.json
  src/sonic-config-engine/tests/data/lldp/mgmt_iface_ipv6.json
  src/sonic-config-engine/tests/sample_output/py2/lldp_conf/lldpd-ipv4-iface.conf
  src/sonic-config-engine/tests/sample_output/py2/lldp_conf/lldpd-ipv6-iface.conf
  src/sonic-config-engine/tests/sample_output/py3/lldp_conf/lldpd-ipv4-iface.conf
  src/sonic-config-engine/tests/sample_output/py3/lldp_conf/lldpd-ipv6-iface.conf
  src/sonic-config-engine/tests/test_j2files.py
Labels: Bug :bug:

#5836 [Monit process_checker] Convert to Python 3
  files/image_config/monit/process_checker
Labels: Cleanup :droplet:

#5713 [hostcfgd] Convert to Python 3; Add to sonic-host-services package
  files/build_templates/sonic_debian_extension.j2
  src/sonic-host-services-data/MAINTAINERS
  src/sonic-host-services-data/debian/install
  src/sonic-host-services-data/debian/rules
  src/sonic-host-services-data/debian/sonic-host-services-data.hostcfgd.service
  src/sonic-host-services-data/templates/common-auth-sonic.j2
  src/sonic-host-services-data/templates/tacplus_nss.conf.j2
  src/sonic-host-services/.gitignore
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/setup.py
Labels: Enhancement :heavy_plus_sign:

#5846 [sflow] Clean-up sFlow container and port_index_mapper.py script
  dockers/docker-sflow/Dockerfile.j2
  dockers/docker-sflow/port_index_mapper.py
Labels: Bug :bug:, Cleanup :droplet:

#5838 [update_chassisdb_config] Convert to Python 3
  files/scripts/update_chassisdb_config
Labels: Cleanup :droplet:

#5760 [multi-ASIC] util changes with the BGP_INTERNAL_NEIGHBOR table.
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/instance.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_back_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_back_v6.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_front_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_front_v6.conf
  src/sonic-bgpcfgd/tests/test_templates.py
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: Request for 201911 Branch :shipit:

#5851 [multi-asic] Updated teamdctl bash script to support for multi-asic
  dockers/docker-teamd/base_image_files/teamdctl
Labels: Multi-ASIC, Request for 201911 Branch :shipit:

#5848 [multi-asic] Enhanced the getMount() API and docker mount point check
  files/build_templates/docker_image_ctl.j2
Labels: Multi-ASIC, Request for 201911 Branch :shipit:

#5798 [Arista 7050cx3] add dummy MMU configurations for Arista-7050CX3-32S-C32
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/qos.json.j2
Labels: Platform: Arista

#5863 [sonic-slave-buster] Install Python 3 dependencies in container
  sonic-slave-buster/Dockerfile.j2
Labels: Enhancement :heavy_plus_sign:

#5867 Remove shebangs from setup.py files
  src/sonic-bgpcfgd/setup.py
  src/sonic-yang-mgmt/setup.py
  src/sonic-yang-models/setup.py
Labels: Cleanup :droplet:

#5861 [Mellanox] Fixes sensors labels for human readable output for MSN4700
  device/mellanox/x86_64-mlnx_msn4700-r0/sensors.conf
Labels: Request for 201911 Branch :shipit:

#5748 Accomadating lower case ACL rules for Control Plane ACLs
  src/sonic-host-services/scripts/caclmgrd
Labels: Control Plane ACL, Enhancement :heavy_plus_sign:

#5873 [sonic-config-engine] openconfig_acl.py: Make compliant with Python 3
  src/sonic-config-engine/openconfig_acl.py
Labels: Bug :bug:, sonic-cfggen

#5845 Add the vtysh command with newly added "-n" option for multi asic to the read_only_cmds
  files/image_config/sudoers/sudoers
Labels: Enhancement :heavy_plus_sign:, Multi-ASIC, Request for 201911 Branch :shipit:

#5844 Set preference for forced mgmt routes
  files/image_config/interfaces/interfaces.j2
  src/sonic-config-engine/tests/sample_output/py2/mvrf_interfaces
  src/sonic-config-engine/tests/sample_output/py3/mvrf_interfaces
  src/sonic-config-engine/tests/t0-sample-graph-mvrf.xml
Labels: Request for 201911 Branch :shipit:

#5776 [Mellanox] Enhance QSFP-DD DOM information
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 201911 Branch :shipit:

#5891 [celestica dx010] comment out the initialization of PCA9541
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: Bug :bug:, Platform: Celestica

#5850 [bgpcfgd]: Implement BBR template test
  src/sonic-bgpcfgd/tests/test_bbr_templates.py
  src/sonic-bgpcfgd/tests/test_ipv6_nexthop_global.py
  src/sonic-bgpcfgd/tests/test_templates.py
  src/sonic-bgpcfgd/tests/util.py
Labels: Request for 202006 Branch, bgp

#5870 [teamd]: Remove extensive debug output for libteamdctl
  src/libteam/patch/0011-Remove-extensive-debug-output.patch
  src/libteam/patch/series
Labels: Enhancement :heavy_plus_sign:, Request for 202006 Branch, team :two_women_holding_hands:

#5831 [check_install.py] Convert to Python 3
  check_install.py
Labels: Build :hammer:, Cleanup :droplet:

#5900 [Mellanox] Fix for QSFP-DD channel status
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: Mellanox

#5887 [DellEMC S5232f] Updates and bug fixes for platform
  device/dell/x86_64-dellemc_s5232f_c3538-r0/pmon_daemon_control.json
  platform/broadcom/sonic-platform-modules-dell/s5232f/modules/dell_s5232f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/s5232f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/scripts/s5232f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/fan_drawer.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/thermal.py
Labels: Bug :bug:, Enhancement :heavy_plus_sign:, Platform: DellEMC

#5882 [Marvell] Utilize eeprom for system mac and remove dependency on get_hwsku
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Enhancement :heavy_plus_sign:, Platform: Marvell

#5905 [buffers_config.j2]: Use correct cable lengths for backend devices
  files/build_templates/buffers_config.j2
Labels: Request for 201911 Branch :shipit:

#5847 [sonic-bgpcfgd] Call Python 3 version of sonic-cfggen for testing
  rules/sonic_bgpcfgd.mk
  src/sonic-bgpcfgd/setup.py
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/defaults.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.spine_chassis_frontend_router.conf.j2/base.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/frr.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/zebra/interfaces.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/zebra/zebra.conf
  src/sonic-bgpcfgd/tests/test_sonic-cfggen.py
Labels: Bug :bug:, Build :hammer:, bgp

#5918 [201911][caclmgrd] Accomadating case insensitive rule props for Control plane ACLs
  files/image_config/caclmgrd/caclmgrd
Labels: Control Plane ACL, Enhancement :heavy_plus_sign:, Included in 201911 Branch

#5906 [bgp]: Update TSA functionality
  dockers/docker-fpm-frr/TSA
  dockers/docker-fpm-frr/TSB
  dockers/docker-fpm-frr/frr/bgpd/tsa/bgpd.tsa.isolate.conf.j2
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/tsa/isolate.json
Labels: Bug :bug:, Critical :exclamation:, Issues for 201911, Master Branch Quality, Request for 201911 Branch :shipit:, Request for 202006 Branch, bgp

#5922 [build] SONiC platform daemons depend on swsscommon library
  rules/sonic-ledd.mk
  rules/sonic-psud.mk
  rules/sonic-syseepromd.mk
  rules/sonic-thermalctld.mk
  rules/sonic-xcvrd.mk
Labels: Bug :bug:, Build :hammer:

#5919 [sonic-py-common] Add 'universal_newlines=True' arg to all Popen calls to properly support Python 3
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: Bug :bug:, sonic-py-common

#5645 [Mellanox] Implement new platform API for SONiC physical entity mib extension
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan_drawer.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/tests/test_fan_api.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5801 [Mellanox] Support max/min speed for PSU fan for 201911 (#5682)
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 201911 Branch :shipit:

#4442 [yang_models]: yang models for device_metadata, device_neighbor, flex…
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-mgmt/tests/libyang-python-tests/test_sonic_yang.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
  src/sonic-yang-models/yang-models/sonic-acl.yang
  src/sonic-yang-models/yang-models/sonic-breakout_cfg.yang
  src/sonic-yang-models/yang-models/sonic-crm.yang
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
  src/sonic-yang-models/yang-models/sonic-device_neighbor.yang
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-loopback-interface.yang
  src/sonic-yang-models/yang-models/sonic-port.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-types.yang
  src/sonic-yang-models/yang-models/sonic-versions.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: Port Breakout :trident:

#5048 [enable counters] provide initial rates parameters
  dockers/docker-orchagent/enable_counters.py
Labels: Bug :bug:

#5956 [bgpcfgd]: Fixes for BBR
  files/image_config/constants/constants.yml
  src/sonic-bgpcfgd/bgpcfgd/managers_bbr.py
  src/sonic-bgpcfgd/tests/test_bbr.py
Labels: Bug :bug:, Request for 201911 Branch :shipit:, Request for 202006 Branch, bgp

#5952 Fix a number of LGTM alerts
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  files/build_scripts/generate_asic_config_checksum.py
  files/image_config/corefile_uploader/core_uploader.py
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/utils/accton_as4630_54pe_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/utils/accton_as4630_54pe_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/utils/accton_as4630_54pe_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/utils/accton_as4630_54pe_util.py
  platform/broadcom/sonic-platform-modules-accton/as5712-54x/utils/accton_as5712_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as5712-54x/utils/accton_as5712_util.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/utils/accton_as5812_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54t/utils/accton_as5812_util.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54x/utils/accton_as5812_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as5812-54x/utils/accton_as5812_util.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54t/utils/accton_as5835_54t_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54t/utils/accton_as5835_54t_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54t/utils/accton_as5835_54t_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54t/utils/accton_as5835_54t_util.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_util.py
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/utils/accton_as6712_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as6712-32x/utils/accton_as6712_util.py
  platform/broadcom/sonic-platform-modules-accton/as7312-54x/utils/accton_as7312_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7312-54x/utils/accton_as7312_util.py
  platform/broadcom/sonic-platform-modules-accton/as7312-54xs/utils/accton_as7312_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7312-54xs/utils/accton_as7312_util.py
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/utils/accton_as7315_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7315-27xb/utils/accton_as7315_util.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_util.py
  platform/broadcom/sonic-platform-modules-accton/as7712-32x/utils/accton_as7712_util.py
  platform/broadcom/sonic-platform-modules-accton/as7716-32x/utils/accton_as7716_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7716-32x/utils/accton_as7716_util.py
  platform/broadcom/sonic-platform-modules-accton/as7716-32xb/utils/accton_as7716_32xb_drv_handler.py
  platform/broadcom/sonic-platform-modules-accton/as7716-32xb/utils/accton_as7716_32xb_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7716-32xb/utils/accton_as7716_32xb_util.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/accton_as7726_32x_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/accton_as7726_32x_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/accton_as7726_32x_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/accton_as7726_32x_util.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/utils/accton_as7816_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/utils/accton_as7816_util.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_monitor_fan.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_monitor_psu.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_util.py
  platform/broadcom/sonic-platform-modules-accton/minipack/utils/accton_minipack_util.py
  platform/broadcom/sonic-platform-modules-accton/minipack/utils/setup_qsfp_eeprom.py
  platform/nephos/sonic-platform-modules-cig/cs5435-54p/utils/cig_cs5435_misc.py
  platform/nephos/sonic-platform-modules-cig/cs6436-54p/utils/cig_cs6436_misc.py
  platform/nephos/sonic-platform-modules-cig/cs6436-56p/utils/cig_cs6436_misc.py
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/portconfig.py
Labels: Cleanup :droplet:

#5962 [frr] remove FRR rsyslog file outchannel
  src/sonic-frr/patch/0007-frr-remove-frr-log-outchannel-to-var-log-frr.log.patch
  src/sonic-frr/patch/series
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#5933 [reboot-history] Add reboot history to state db
  files/build_templates/sonic_debian_extension.j2
  src/sonic-host-services-data/debian/rules
  src/sonic-host-services-data/debian/sonic-host-services-data.determine-reboot-cause.service
  src/sonic-host-services-data/debian/sonic-host-services-data.process-reboot-cause.service
  src/sonic-host-services-data/debian/sonic-host-services-data.process-reboot-cause.timer
  src/sonic-host-services/scripts/determine-reboot-cause
  src/sonic-host-services/scripts/process-reboot-cause
  src/sonic-host-services/setup.py
  src/sonic-host-services/tests/determine-reboot-cause_test.py
Labels: Enhancement :heavy_plus_sign:

#5983 [Mellanox] Fix issue: fan.get_presence always return false for 201911
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
Labels: Bug :bug:

#5968 [TSA]: Fix TSC. Avoid 'Not consistent' state
  dockers/docker-fpm-frr/TSC
Labels: Bug :bug:, Request for 201911 Branch :shipit:, Request for 202006 Branch, bgp

#6010 Syncd containers still based on Stretch must still use Python 2
  platform/barefoot/docker-syncd-bfn/supervisord.conf
  platform/broadcom/docker-syncd-brcm/supervisord.conf
  platform/centec-arm64/docker-syncd-centec/supervisord.conf
  platform/centec/docker-syncd-centec/supervisord.conf
  platform/innovium/docker-syncd-invm/supervisord.conf
  platform/marvell-arm64/docker-syncd-mrvl/supervisord.conf
  platform/marvell-armhf/docker-syncd-mrvl/supervisord.conf
  platform/marvell/docker-syncd-mrvl/supervisord.conf
  platform/nephos/docker-syncd-nephos/supervisord.conf
Labels: Bug :bug:, Python 3

#6011 [bgpcfgd]: Add on-match next rule for set ipv6 next-hop prefer-global
  dockers/docker-fpm-frr/frr/bgpd/templates/general/policies.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/policies.conf.j2
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_base.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_deny.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_back_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_back_v6.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_front_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_front_v6.conf
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_back.conf
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_front.conf
  src/sonic-bgpcfgd/tests/data/internal/policies.conf/result_back.conf
  src/sonic-bgpcfgd/tests/data/internal/policies.conf/result_front.conf
  src/sonic-bgpcfgd/tests/test_ipv6_nexthop_global.py
Labels: Bug :bug:, Request for 202006 Branch, Unit Tests, bgp

#5778 [Mellanox] SN4410 support
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/port_config.ini
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/sai.profile
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/sai_4410.xml
  device/mellanox/x86_64-mlnx_msn4410-r0/default_sku
  device/mellanox/x86_64-mlnx_msn4410-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn4410-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn4410-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4410-r0/platform_wait
  device/mellanox/x86_64-mlnx_msn4410-r0/plugins/eeprom.py
  device/mellanox/x86_64-mlnx_msn4410-r0/plugins/psuutil.py
  device/mellanox/x86_64-mlnx_msn4410-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn4410-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn4410-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn4410-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn4410-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4410-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4410-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-mlnx_msn4410-r0/thermal_policy.json
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5960 [DellEMC]: EEPROM platform API Python3 compliance changes
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/eeprom.py
Labels: Platform: DellEMC, Python 3

#6000 Enhanced Feature table to support 'always_enabled' value for state and auto-restart fields.
  files/build_templates/init_cfg.json.j2
  files/scripts/supervisor-proc-exit-listener
  src/sonic-host-services/scripts/hostcfgd
Labels: Request for 201911 Branch :shipit:

#6006 [bgpcfg]: Batch bgp updates
  src/sonic-bgpcfgd/bgpcfgd/config.py
  src/sonic-bgpcfgd/bgpcfgd/frr.py
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_allow_list.py
  src/sonic-bgpcfgd/bgpcfgd/managers_bbr.py
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
  src/sonic-bgpcfgd/bgpcfgd/managers_setsrc.py
  src/sonic-bgpcfgd/bgpcfgd/runner.py
  src/sonic-bgpcfgd/bgpcfgd/utils.py
  src/sonic-bgpcfgd/tests/test_allow_list.py
  src/sonic-bgpcfgd/tests/test_bbr.py
  src/sonic-bgpcfgd/tests/test_config.py
  src/sonic-bgpcfgd/tests/test_frr.py
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Scaling, Unit Tests, bgp

#6019 [Mellanox] [201911] Fix issue: set fan led in certain order causes incorrect physical fan led color
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/led.py
Labels: Bug :bug:, Included in 201911 Branch, Platform: Mellanox

#6044 Fix the ExecStart path for process-reboot-cause
  src/sonic-host-services-data/debian/sonic-host-services-data.process-reboot-cause.service
Labels: Bug :bug:

#6048 [bgpcfgd]: Use peer commands for BBR, not peer-group
  dockers/docker-fpm-frr/frr/bgpd/templates/general/instance.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/general/peer-group.conf.j2
  src/sonic-bgpcfgd/bgpcfgd/managers_bbr.py
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_all_v4.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_all_v6.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_base_v4.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/param_base_v6.json
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_all_v4.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_all_v6.conf
  src/sonic-bgpcfgd/tests/test_bbr.py
Labels: Bug :bug:, Unit Tests, bgp

#6045 [FRR] remove the whole block of outchannel properly
  src/sonic-frr/patch/0007-frr-remove-frr-log-outchannel-to-var-log-frr.log.patch
Labels: Bug :bug:, Request for 201911 Branch :shipit:
