Repository sonic-net/sonic-buildimage, pull requests merged in 2020-04, with the labels that each got.

#4343 [Mellanox]: Update FW to 13.2000.1658 version
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Labels: Bug :bug:, Platform: Mellanox

#4274 [mellanox] add hardware watchdog script
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/hw-management-wd.mk
  platform/mellanox/hw-management-wd.sh
  platform/mellanox/one-image.mk
  platform/mellanox/rules.mk
Labels: Enhancement :heavy_plus_sign:, Included in 201811 Branch, Platform: Mellanox

#4345 [device/celestica]: Fix xcvrd error on 201911 branch
  device/celestica/x86_64-cel_e1031-r0/pmon_daemon_control.json
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/sfp.py
  device/celestica/x86_64-cel_midstone-r0/pmon_daemon_control.json
  device/celestica/x86_64-cel_seastone-r0/pmon_daemon_control.json
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
  device/celestica/x86_64-cel_silverstone-r0/pmon_daemon_control.json
Labels: Bug :bug:, Included in 201911 Branch, Platform: Celestica

#4260 Fixbug: EVPN issue in FRR template
  dockers/docker-fpm-frr/bgpcfgd
  dockers/docker-fpm-frr/bgpd.peer.conf.j2
Labels: Bug :bug:, Request for 201911 Branch :shipit:, Request_for_bmtor

#4349 [mellanox] update CPLD archive
  platform/mellanox/cpld/msn2700_cpld.tar.gz
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4364 [Mellanox] update eeprom.py plugin
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/eeprom.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4354 Fix the error that 'sensord' daemon cannot be spawn correctly in pmon container
  src/lm-sensors/0002-Patch-to-peform-dh_installinit-to-include-sensord.in.patch
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#2514 MCLAG feature for SONIC
  dockers/docker-iccpd/Dockerfile.j2
  dockers/docker-iccpd/base_image_files/mclagdctl
  dockers/docker-iccpd/iccpd.j2
  dockers/docker-iccpd/iccpd.sh
  dockers/docker-iccpd/start.sh
  dockers/docker-iccpd/supervisord.conf
  files/build_templates/docker_image_ctl.j2
  files/build_templates/iccpd.service.j2
  files/build_templates/sonic_debian_extension.j2
  rules/config
  rules/docker-iccpd.mk
  rules/iccpd.mk
  src/iccpd/Makefile
  src/iccpd/debian/DEBIAN/control
  src/iccpd/include/app_csm.h
  src/iccpd/include/cmd_option.h
  src/iccpd/include/iccp_cli.h
  src/iccpd/include/iccp_cmd.h
  src/iccpd/include/iccp_cmd_show.h
  src/iccpd/include/iccp_consistency_check.h
  src/iccpd/include/iccp_csm.h
  src/iccpd/include/iccp_ifm.h
  src/iccpd/include/iccp_netlink.h
  src/iccpd/include/logger.h
  src/iccpd/include/mlacp_fsm.h
  src/iccpd/include/mlacp_link_handler.h
  src/iccpd/include/mlacp_sync_prepare.h
  src/iccpd/include/mlacp_sync_update.h
  src/iccpd/include/mlacp_tlv.h
  src/iccpd/include/msg_format.h
  src/iccpd/include/port.h
  src/iccpd/include/scheduler.h
  src/iccpd/include/system.h
  src/iccpd/src/Makefile
  src/iccpd/src/app_csm.c
  src/iccpd/src/cmd_option.c
  src/iccpd/src/iccp_cli.c
  src/iccpd/src/iccp_cmd.c
  src/iccpd/src/iccp_cmd_show.c
  src/iccpd/src/iccp_consistency_check.c
  src/iccpd/src/iccp_csm.c
  src/iccpd/src/iccp_ifm.c
  src/iccpd/src/iccp_main.c
  src/iccpd/src/iccp_netlink.c
  src/iccpd/src/logger.c
  src/iccpd/src/mclagdctl/Makefile
  src/iccpd/src/mclagdctl/mclagdctl.c
  src/iccpd/src/mclagdctl/mclagdctl.h
  src/iccpd/src/mlacp_fsm.c
  src/iccpd/src/mlacp_link_handler.c
  src/iccpd/src/mlacp_sync_prepare.c
  src/iccpd/src/mlacp_sync_update.c
  src/iccpd/src/port.c
  src/iccpd/src/scheduler.c
  src/iccpd/src/system.c
Labels: Enhancement :heavy_plus_sign:

#4156 [Seastone] Add new HWSKU for 48x50G+8x40G
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-50-50-40/port_config.ini
  device/celestica/x86_64-cel_seastone-r0/Seastone-DX010-50-50-40/sai.profile
Labels: Enhancement :heavy_plus_sign:, Platform: Celestica, Request for 201911 Branch :shipit:

#4192 [DellEMC] Platform2.0 API Implementation for Watchdog [Z9264F]
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/watchdog.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#4299 DellEMC: S6100 CPLD upgrade
  device/dell/x86_64-dell_s6100_c2538-r0/s6100_cpld_upgrade
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#4380 [build_debian.sh]: install python3-pip on sonic base image.
  build_debian.sh
Labels: Enhancement :heavy_plus_sign:

#4382 Add 201911/201811 status support for Nephos
  README.md
Labels: Documentation :book:

#4388 Fix typo in config-setup service
  files/image_config/config-setup/config-setup
Labels: Cleanup :droplet:, Request for 201911 Branch :shipit:

#4387 [Mellanox] Enable ISSU on MSN2100, MSN2740, MSN3800
  device/mellanox/x86_64-mlnx_msn2100-r0/ACS-MSN2100/sai_2100.xml
  device/mellanox/x86_64-mlnx_msn2740-r0/ACS-MSN2740/sai_2740.xml
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/sai_3800.xml
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4401 Pass IMAGE_TYPE to build_debian.sh
  slave.mk
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4397 [BFN] Update Barefoot SDK packages
  platform/barefoot/bfn-platform.mk
  platform/barefoot/bfn-sai.mk
Labels: Request for 201911 Branch :shipit:

#4394 [Juniper QFX5210] Fix Python errors
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/utils/juniper_qfx5210_monitor.py
Labels: Bug :bug:, Platform: Juniper, Request for 201911 Branch :shipit:

#4392 [device/accton] Fix Python error for wedge100bf_32x
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/plugins/pltfm_mgr_rpc/__init__.py
Labels: Bug :bug:, Platform: Accton, Request for 201911 Branch :shipit:

#4391 [device/accton] Fix Python error in sfp.py for as7116-54x
  device/accton/x86_64-accton_as7116_54x-r0/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: Accton, Request for 201911 Branch :shipit:

#4393 [Accton AS4630-54PE] Fix Python indentation error
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/classes/fanutil.py
Labels: Bug :bug:, Platform: Accton

#4337 Update dockers with platform & SONiC version as part of name/tag.
  push_docker.sh
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4413 [201911][Juniper QFX5210] Fix Python errors
  platform/broadcom/sonic-platform-modules-juniper/qfx5210/utils/juniper_qfx5210_monitor.py
Labels: Bug :bug:, Included in 201911 Branch

#4415 [lldpd]: download lldp package from azure storage url
  src/lldpd/Makefile
Labels: Bug :bug:

#4411 [docker-sonic-mgmt] Merge spytest dependencies into mgmt docker
  dockers/docker-sonic-mgmt-spytest/Dockerfile.j2
  dockers/docker-sonic-mgmt/Dockerfile.j2
  rules/docker-sonic-mgmt-spytest.mk
Labels: Enhancement :heavy_plus_sign:

#4352 [mellanox]: Add SSD FW update tool
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/cpld.mk
  platform/mellanox/fw.mk
  platform/mellanox/hw-management-wd.mk
  platform/mellanox/issu-version.mk
  platform/mellanox/mlnx-ffb.mk
  platform/mellanox/mlnx-fw-upgrade.j2
  platform/mellanox/mlnx-ssd-fw-update.mk
  platform/mellanox/mlnx-ssd-fw-update.sh
  platform/mellanox/one-image.mk
  platform/mellanox/rules.mk
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4351 [mellanox]: Add SSD FW update tool
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/fw.mk
  platform/mellanox/issu-version.mk
  platform/mellanox/mlnx-ffb.mk
  platform/mellanox/mlnx-onie-fw-update.mk
  platform/mellanox/mlnx-onie-fw-update.sh
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-ssd-fw-update.mk
  platform/mellanox/mlnx-ssd-fw-update.sh
  platform/mellanox/one-image.mk
  platform/mellanox/onie-fw-update.mk
  platform/mellanox/rules.mk
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 201911 Branch :shipit:

#4378 [201811][mlnx] add option to build sdk from sources
  platform/mellanox/sdk-src/applibs/Makefile
  platform/mellanox/sdk-src/iproute2/Makefile
  platform/mellanox/sdk-src/python-sdk-api/Makefile
  platform/mellanox/sdk-src/sx-complib/Makefile
  platform/mellanox/sdk-src/sx-examples/Makefile
  platform/mellanox/sdk-src/sx-gen-utils/Makefile
  platform/mellanox/sdk-src/sx-kernel/Makefile
  platform/mellanox/sdk-src/sx-scew/Makefile
  platform/mellanox/sdk-src/sxd-libs/Makefile
  platform/mellanox/sdk-src/wjh-libs/Makefile
  platform/mellanox/sdk.mk
  sonic-slave/Dockerfile
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4410 [docker-ptf] Add support for spytest to ptf container
  dockers/docker-ptf/Dockerfile.j2
  dockers/docker-ptf/conf.d/ptf_tgen.conf
  dockers/docker-ptf/ptf_tgen.sh
Labels: Enhancement :heavy_plus_sign:

#4355 [BFN] Update BFN modules
  platform/barefoot/bfn-modules/modules/bf_ioctl.h
  platform/barefoot/bfn-modules/modules/bf_kdrv.c
  platform/barefoot/bfn-modules/modules/bf_kdrv.h
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot, Request for 201911 Branch :shipit:

#4363 [mellanox]: Enable CPLD update progress bar
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4365 [Mellanox] Extend mellanox platform API to report SFP error event
  dockers/docker-platform-monitor/Dockerfile.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 201911 Branch :shipit:

#4361 [Mellanox] bug fix - adpt sfputil plugin to support ACS-MSN4700
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4376 Adding platform support for Juniper QFX5200
  device/juniper/x86_64-juniper_qfx5200-r0/Juniper-QFX5200-32C-S/port_config.ini
  device/juniper/x86_64-juniper_qfx5200-r0/Juniper-QFX5200-32C-S/sai.profile
  device/juniper/x86_64-juniper_qfx5200-r0/Juniper-QFX5200-32C-S/th-qfx5200-32x100g.config.bcm
  device/juniper/x86_64-juniper_qfx5200-r0/default_sku
  device/juniper/x86_64-juniper_qfx5200-r0/installer.conf
  device/juniper/x86_64-juniper_qfx5200-r0/led_proc_init.soc
  device/juniper/x86_64-juniper_qfx5200-r0/media_settings.json
  device/juniper/x86_64-juniper_qfx5200-r0/plugins/eeprom.py
  device/juniper/x86_64-juniper_qfx5200-r0/plugins/led_control.py
  device/juniper/x86_64-juniper_qfx5200-r0/plugins/psuutil.py
  device/juniper/x86_64-juniper_qfx5200-r0/plugins/qfx5200_eeprom_data.py
  device/juniper/x86_64-juniper_qfx5200-r0/plugins/qfx5200_sfp_init.py
  device/juniper/x86_64-juniper_qfx5200-r0/plugins/sfputil.py
  device/juniper/x86_64-juniper_qfx5200-r0/pmon_daemon_control.json
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-juniper.mk
  platform/broadcom/sonic-platform-modules-juniper/debian/control
  platform/broadcom/sonic-platform-modules-juniper/debian/rules
  platform/broadcom/sonic-platform-modules-juniper/debian/sonic-platform-juniper-qfx5200.install
  platform/broadcom/sonic-platform-modules-juniper/debian/sonic-platform-juniper-qfx5200.postinst
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/Makefile
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/gpio-tmc.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/i2c-tmc.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/jnx-psu-monitor.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/jnx-refpga-lpcm.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/jnx-refpga-tmc.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/jnx-tmc-core.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/jnx-tmc-psu.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/jnx-tmc.h
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/leds-jnx-tmc.c
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/modules/pci_ids.h
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/service/qfx5200-platform-init.service
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/setup.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/utils/README
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/utils/juniper_qfx5200_monitor.py
  platform/broadcom/sonic-platform-modules-juniper/qfx5200/utils/juniper_qfx5200_util.py
Labels: Enhancement :heavy_plus_sign:, Platform: Juniper

#4433 Correct port mapping.
  device/accton/x86_64-accton_as6712_32x-r0/Accton-AS6712-32X/port_config.ini
Labels: Enhancement :heavy_plus_sign:, Platform: Accton

#4432 [baseimage]: Install Kubernetes packages if enabled in image (#4374)
  Makefile.work
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  files/image_config/kubernetes/kubernetes.list
  rules/config
  slave.mk
Labels: Enhancement :heavy_plus_sign:

#4248 Centec x86 goldengate platforms and devices update
  device/centec/x86_64-centec_e582_48x2q4z-r0/E582-48x2q4z/port_config.ini
  device/centec/x86_64-centec_e582_48x2q4z-r0/default_sku
  device/centec/x86_64-centec_e582_48x6q-r0/E582-48x6q/port_config.ini
  device/centec/x86_64-centec_e582_48x6q-r0/default_sku
  device/centec/x86_64-ew_es6220_x48q2h4-r0/ES6428A-X48Q2H4/buffers.json.j2
  device/centec/x86_64-ew_es6220_x48q2h4-r0/ES6428A-X48Q2H4/pg_profile_lookup.ini
  device/centec/x86_64-ew_es6220_x48q2h4-r0/ES6428A-X48Q2H4/port_config.ini
  device/centec/x86_64-ew_es6220_x48q2h4-r0/ES6428A-X48Q2H4/qos.json
  device/centec/x86_64-ew_es6220_x48q2h4-r0/ES6428A-X48Q2H4/sai.profile
  device/centec/x86_64-ew_es6220_x48q2h4-r0/default_sku
  device/centec/x86_64-ew_es6220_x48q2h4-r0/installer.conf
  device/centec/x86_64-ew_es6220_x48q2h4-r0/plugins/eeprom.py
  device/centec/x86_64-ew_es6220_x48q2h4-r0/plugins/psuutil.py
  device/centec/x86_64-ew_es6220_x48q2h4-r0/plugins/sfputil.py
  device/embedway/x86_64-ew_es6220_x48q2h4-r0/default_sku
  device/embedway/x86_64-ew_es6220_x48q2h4-r0/installer.conf
  dockers/docker-orchagent/orchagent.sh
  platform/centec/docker-ptf-centec.mk
  platform/centec/docker-syncd-centec-rpc.mk
  platform/centec/docker-syncd-centec.mk
  platform/centec/docker-syncd-centec/Dockerfile.j2
  platform/centec/one-image.mk
  platform/centec/platform-modules-embedway.mk
  platform/centec/rules.mk
  platform/centec/sdk.mk
  platform/centec/sonic-platform-modules-e582/48x2q4z/cfg/config_db.json
  platform/centec/sonic-platform-modules-e582/48x2q4z/cfg/config_db_l2l3.json
  platform/centec/sonic-platform-modules-e582/48x2q4z/modules/centec_e582_48x2q4z_platform.c
  platform/centec/sonic-platform-modules-e582/48x2q4z/scripts/48x2q4z_platform.sh
  platform/centec/sonic-platform-modules-e582/48x6q/cfg/config_db.json
  platform/centec/sonic-platform-modules-e582/48x6q/cfg/config_db_l2l3.json
  platform/centec/sonic-platform-modules-e582/debian/platform-modules-e582-48x2q4z.install
  platform/centec/sonic-platform-modules-e582/debian/platform-modules-e582-48x6q.install
  platform/centec/sonic-platform-modules-embedway/LICENSE
  platform/centec/sonic-platform-modules-embedway/README.md
  platform/centec/sonic-platform-modules-embedway/debian/changelog
  platform/centec/sonic-platform-modules-embedway/debian/compat
  platform/centec/sonic-platform-modules-embedway/debian/control
  platform/centec/sonic-platform-modules-embedway/debian/platform-modules-embedway-es6220.init
  platform/centec/sonic-platform-modules-embedway/debian/platform-modules-embedway-es6220.install
  platform/centec/sonic-platform-modules-embedway/debian/platform-modules-embedway-es6220.postinst
  platform/centec/sonic-platform-modules-embedway/debian/rules
  platform/centec/sonic-platform-modules-embedway/es6220/modules/Makefile
  platform/centec/sonic-platform-modules-embedway/es6220/modules/dal_kernel.c
  platform/centec/sonic-platform-modules-embedway/es6220/modules/dal_kernel.h
  platform/centec/sonic-platform-modules-embedway/es6220/modules/dal_mpool.c
  platform/centec/sonic-platform-modules-embedway/es6220/modules/dal_mpool.h
  platform/centec/sonic-platform-modules-embedway/es6220/scripts/add_crontab_remove_syslog.sh
  platform/centec/sonic-platform-modules-embedway/es6220/scripts/create_eeprom.sh
  platform/centec/sonic-platform-modules-embedway/es6220/scripts/es6220_platform.sh
  platform/centec/sonic-platform-modules-embedway/es6220/scripts/remove_syslog.sh
  platform/centec/sonic-platform-modules-embedway/es6220/service/es6220_platform.service
  src/sonic-config-engine/sonic_device_util.py
Labels: Enhancement :heavy_plus_sign:, Platform: Centec

#4438 [syncd-rpc] Fix PTF dependency in syncd-rpc image
  platform/template/docker-syncd-base-rpc.mk
Labels: Bug :bug:, Included in 201811 Branch

#4439 [sonic-buildimage] Update BRCM SAI Debian to 3.7.3.3-4
  platform/broadcom/sai.mk
Labels: Request for 201911 Branch :shipit:

#4443 [grub]: use UUID for root partition
  installer/x86_64/install.sh
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, baseimage

#4425 DPKG evaluation review comments and bug fixes
  Makefile.cache
  rules/docker-iccpd.dep
  rules/iccpd.dep
Labels: build :hammer:

#4441 [mellanox]: Add DPKG local caching support
  platform/mellanox/docker-ptf-mlnx.dep
  platform/mellanox/docker-saiserver-mlnx.dep
  platform/mellanox/docker-syncd-mlnx-rpc.dep
  platform/mellanox/docker-syncd-mlnx.dep
  platform/mellanox/fw.dep
  platform/mellanox/hw-management.dep
  platform/mellanox/issu-version.dep
  platform/mellanox/libsaithrift-dev.dep
  platform/mellanox/mft.dep
  platform/mellanox/mlnx-ffb.dep
  platform/mellanox/mlnx-ffb.mk
  platform/mellanox/mlnx-onie-fw-update.dep
  platform/mellanox/mlnx-onie-fw-update.mk
  platform/mellanox/mlnx-platform-api.dep
  platform/mellanox/mlnx-sai.dep
  platform/mellanox/mlnx-ssd-fw-update.dep
  platform/mellanox/mlnx-ssd-fw-update.mk
  platform/mellanox/one-image.dep
  platform/mellanox/rules.dep
  platform/mellanox/sdk.dep
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4447 [PMON] Extend pmon daemon start control to lm-sensors and fancontrol
  device/mellanox/x86_64-mlnx_msn2700-r0/pmon_daemon_control.json
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
  dockers/docker-platform-monitor/start.sh.j2
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#4450 [docker-sonic-mgmt]: set docker-sonic-mgmt as stretch docker
  rules/docker-sonic-mgmt.mk
Labels: Bug :bug:

#4426 Enable ipv6 for namespaces in multi-npu system
  files/build_templates/docker_image_ctl.j2
Labels: multi-npu

#4461 [kvm]: disable pmon daemons on kvm vs platform
  device/virtual/x86_64-kvm_x86_64-r0/pmon_daemon_control.json
Labels: vs :vs:

#4466 [platform-modules]: set debian control depends on unsigned kernel pac…
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/barefoot/sonic-platform-modules-wnc-osw1800/debian/control
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/broadcom/sonic-platform-modules-delta/debian/control
  platform/broadcom/sonic-platform-modules-inventec/debian/control
  platform/broadcom/sonic-platform-modules-mitac/debian/control
  platform/cavium/cavm_platform_modules/DEBIAN/control
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/innovium/sonic-platform-modules-cel/debian/control
  platform/innovium/sonic-platform-modules-delta/debian/control
  platform/nephos/nephos-modules/debian/control
  platform/nephos/sonic-platform-modules-accton/debian/control
  platform/nephos/sonic-platform-modules-cig/debian/control
  platform/nephos/sonic-platform-modules-pegatron/debian/control
Labels: baseimage, build :hammer:

#4105 [as9716-32d]Add support get_transceiver_change_event
  device/accton/x86_64-accton_as9716_32d-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/accton_as9716_32d_cpld.c
Labels: Enhancement :heavy_plus_sign:, Platform: Accton

#4143 [bgpcfgd]: Split one bgp mega-template to chunks.
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-frr/TSA
  dockers/docker-fpm-frr/TSB
  dockers/docker-fpm-frr/TSC
  dockers/docker-fpm-frr/bgpcfgd
  dockers/docker-fpm-frr/bgpd.conf.default.j2
  dockers/docker-fpm-frr/bgpd.tsa.isolate.conf.j2
  dockers/docker-fpm-frr/bgpd.tsa.unisolate.conf.j2
  dockers/docker-fpm-frr/frr.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/bgpd.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/bgpd.spine_chassis_frontend_router.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/dynamic/instance.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/dynamic/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/dynamic/policies.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/general/instance.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/general/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/general/policies.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/monitors/instance.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/monitors/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/monitors/policies.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/tsa/bgpd.tsa.isolate.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/tsa/bgpd.tsa.unisolate.conf.j2
  dockers/docker-fpm-frr/frr/common/daemons.common.conf.j2
  dockers/docker-fpm-frr/frr/common/functions.conf.j2
  dockers/docker-fpm-frr/frr/frr.conf.j2
  dockers/docker-fpm-frr/frr/isolate.j2
  dockers/docker-fpm-frr/frr/staticd/staticd.conf.j2
  dockers/docker-fpm-frr/frr/staticd/staticd.default_route.conf.j2
  dockers/docker-fpm-frr/frr/unisolate.j2
  dockers/docker-fpm-frr/frr/zebra/zebra.conf.j2
  dockers/docker-fpm-frr/frr/zebra/zebra.interfaces.conf.j2
  dockers/docker-fpm-frr/frr/zebra/zebra.set_src.conf.j2
  dockers/docker-fpm-frr/start.sh
  dockers/docker-fpm-frr/zebra.interfaces.conf.j2
  files/image_config/constants/constants.yml
  src/sonic-config-engine/.gitignore
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/sample_output/bgpd_frr.conf
  src/sonic-config-engine/tests/sample_output/frr.conf
  src/sonic-config-engine/tests/sample_output/staticd_frr.conf
  src/sonic-config-engine/tests/sample_output/t2-chassis-fe-bgpd.conf
  src/sonic-config-engine/tests/sample_output/t2-chassis-fe-vni-zebra.conf
  src/sonic-config-engine/tests/sample_output/t2-chassis-fe-zebra.conf
  src/sonic-config-engine/tests/sample_output/zebra_frr.conf
  src/sonic-config-engine/tests/test_frr.py
  src/sonic-config-engine/tests/test_j2files_t2_chassis_fe.py
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, frr :traffic_light:

#4475 Fix docker restapi start issue, undefined error
  dockers/docker-sonic-restapi/restapi.sh
  rules/docker-restapi.mk
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4481 [build]: add sonic-slave-run to run any cmds inside sonic-slave
  Makefile.work
Labels: Enhancement :heavy_plus_sign:, build :hammer:

#4346 [device/celestica]: Fix sfp index on dx010 platform api
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: Celestica, Request for 201911 Branch :shipit:

#4436 [Mellanox] Add a new Mellanox platform x86_64-mlnx_msn3420 and new SKU ACS-MSN3420
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/port_config.ini
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/qos.json.j2
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/sai.profile
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/sai_3420.xml
  device/mellanox/x86_64-mlnx_msn3420-r0/default_sku
  device/mellanox/x86_64-mlnx_msn3420-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn3420-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3420-r0/platform_wait
  device/mellanox/x86_64-mlnx_msn3420-r0/plugins/eeprom.py
  device/mellanox/x86_64-mlnx_msn3420-r0/plugins/psuutil.py
  device/mellanox/x86_64-mlnx_msn3420-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn3420-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn3420-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn3420-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn3420-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn3420-r0/sensors.conf
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 201911 Branch :shipit:

#4464 [platform] Add SSD Health tools
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-platform-monitor/base_image_files/cmd_wrapper
  dockers/docker-platform-monitor/ssd_tools/SmartCmd
  dockers/docker-platform-monitor/ssd_tools/iSmart
  rules/docker-platform-monitor.mk
Labels: Enhancement :heavy_plus_sign:, platform: general

#4482 [Mellanox]Mellanox-SN3800-D112C8 support warm-reboot
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/sai_3800_112x50g_8x100g.xml
Labels: Request for 201911 Branch :shipit:

#4476 [Mellanox] Adjust dynamic minimum fan speed algorithm
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_actions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_conditions.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal_policy.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#4486 Parse Device region field in Minigraph
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Request for 201911 Branch :shipit:

#4469 [dhcpmon] Filter DHCP O/A Messages of Neighboring Vlans
  src/dhcpmon/src/dhcp_device.c
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.c
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.c
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.c
Labels: Bug :bug:, Issues for 201811, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#4485 [mellanox]: Align CPLD component with latest hw-mgmt
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#4330 [DellEMC] S6100-Fix i2C ISMT issue
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/fast-reboot_plugin
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/pcisysfs.py
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_bitbang_reset.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_i2c_enumeration.sh
Labels: Platform: DellEMC

#4480 Create docker-base-buster and docker-config-engine-buster
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/LICENSE
  dockers/docker-base-buster/dpkg_01_drop
  dockers/docker-base-buster/etc/rsyslog.conf
  dockers/docker-base-buster/etc/rsyslog.d/supervisor.conf
  dockers/docker-base-buster/etc/supervisor/supervisord.conf
  dockers/docker-base-buster/no-check-valid-until
  dockers/docker-base-buster/no_install_recommend_suggest
  dockers/docker-base-buster/root/.vimrc
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-config-engine-buster/Dockerfile.j2
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
  rules/docker-base-buster.dep
  rules/docker-base-buster.mk
  rules/docker-config-engine-buster.dep
  rules/docker-config-engine-buster.mk
  rules/docker-sonic-mgmt-framework.mk
  slave.mk
Labels: Enhancement :heavy_plus_sign:

#4495 [docker-restapi]: add restapi config to config Db
  rules/docker-restapi.mk
  src/sonic-config-engine/minigraph.py
Labels: Request for 201911 Branch :shipit:

#4483 [Mellanox] Add a new Mellanox platform x86_64-mlnx_msn4600c and new SKU ACS-MSN4600C
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/port_config.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/sai_4600C.xml
  device/mellanox/x86_64-mlnx_msn4600c-r0/default_sku
  device/mellanox/x86_64-mlnx_msn4600c-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4600c-r0/platform_wait
  device/mellanox/x86_64-mlnx_msn4600c-r0/plugins/eeprom.py
  device/mellanox/x86_64-mlnx_msn4600c-r0/plugins/psuutil.py
  device/mellanox/x86_64-mlnx_msn4600c-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-mlnx_msn4600c-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-mlnx_msn4600c-r0/plugins/sfpreset.py
  device/mellanox/x86_64-mlnx_msn4600c-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn4600c-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors.conf
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Request for 201911 Branch :shipit:

#4431 Run fsck filesystem check support prior mounting filesystem
  build_debian.sh
  files/image_config/platform/rc.local
  files/initramfs-tools/fsck-rootfs
  files/initramfs-tools/union-mount.j2
Labels: baseimage

#4506 [Mellanox]Fix error in sensors.conf for 3700/3700c/3800
  device/mellanox/x86_64-mlnx_msn3700-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn3700c-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn3800-r0/sensors.conf
Labels: Request for 201911 Branch :shipit:

#4467 [Mellanox] Enhancement for support PSU LED management
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox
