Repository sonic-net/sonic-buildimage, pull requests merged in 2020-10, with the labels that each got.

#5506 [bgpcfgd]: Don't use neighbor metadata in bgpmon sessions
  src/sonic-bgpcfgd/bgpcfgd
Labels: Bug :bug:, Issues for 201911, Request for 201911 Branch :shipit:, Request for 202006 Branch, bgp

#5503 Fix sonic-util command failure on Multi-asic platforms.
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: Included in 201911 Branch, Multi-ASIC, Request for 201911 Branch :shipit:

#5536 [Telemetry] remove unused mount from telemetry docker make file
  rules/docker-telemetry.mk
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#5473 [Mellanox] Fix truncated manufacture date returned from platform API
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
Labels: Bug :bug:, Platform: Mellanox, Request for 201911 Branch :shipit:

#5388 [Mellanox] Update dynamic minimum table for MSN4700, MSN3420 and MSN4600C
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 201911 Branch :shipit:

#4766 BFN platform API 2.0 support
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/rules
  platform/barefoot/sonic-platform-modules-bfn-montara/setup.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/__init__.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/chassis.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/eeprom.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/logging.conf
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/platform.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/platform_thrift_client.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/pltfm_mgr_rpc/__init__.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/pltfm_mgr_rpc/pltfm_mgr_rpc.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/pltfm_mgr_rpc/ttypes.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/psu.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/sfp.py
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/rules
  platform/barefoot/sonic-platform-modules-bfn-newport/setup.py
  platform/barefoot/sonic-platform-modules-bfn-newport/sonic_platform
  platform/barefoot/sonic-platform-modules-bfn/debian/rules
  platform/barefoot/sonic-platform-modules-bfn/setup.py
  platform/barefoot/sonic-platform-modules-bfn/sonic_platform
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot

#5528 [rc.local] separate configuration migration and grub installation logic
  files/image_config/platform/rc.local
Labels: Bug :bug:, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:

#5402 [Mellanox] Fix issue: there should be 2 cpu core temperature sensors in ACS-MSN3420 (201911)
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Bug :bug:

#5539 [barefoot] Platform API 2.0 fixups
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/rules
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/chassis.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/eeprom.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/platform_thrift_client.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/psu.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/sfp.py
  platform/barefoot/sonic-platform-modules-bfn/debian/rules
Labels: Bug :bug:, Platform: Barefoot

#5548 [Multi-asic] Fixed IPv6 Default Route to be BGP Learned
  dockers/docker-fpm-frr/docker_init.sh
Labels: Multi-ASIC, Request for 201911 Branch :shipit:

#5535 [bgpcfgd]: Extract classes into their own files. Run bgpcfgd as a module
  src/sonic-bgpcfgd/.gitignore
  src/sonic-bgpcfgd/app/util.py
  src/sonic-bgpcfgd/bgpcfgd
  src/sonic-bgpcfgd/bgpcfgd/__init__.py
  src/sonic-bgpcfgd/bgpcfgd/__main__.py
  src/sonic-bgpcfgd/bgpcfgd/config.py
  src/sonic-bgpcfgd/bgpcfgd/directory.py
  src/sonic-bgpcfgd/bgpcfgd/log.py
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/manager.py
  src/sonic-bgpcfgd/bgpcfgd/managers_allow_list.py
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
  src/sonic-bgpcfgd/bgpcfgd/managers_db.py
  src/sonic-bgpcfgd/bgpcfgd/managers_intf.py
  src/sonic-bgpcfgd/bgpcfgd/managers_setsrc.py
  src/sonic-bgpcfgd/bgpcfgd/runner.py
  src/sonic-bgpcfgd/bgpcfgd/template.py
  src/sonic-bgpcfgd/bgpcfgd/utils.py
  src/sonic-bgpcfgd/bgpcfgd/vars.py
  src/sonic-bgpcfgd/pytest.ini
  src/sonic-bgpcfgd/setup.py
  src/sonic-bgpcfgd/tests/test_allow_list.py
  src/sonic-bgpcfgd/tests/test_ipv6_nexthop_global.py
  src/sonic-bgpcfgd/tests/test_pfx_filter.py
  src/sonic-bgpcfgd/tests/test_sonic-cfggen.py
  src/sonic-bgpcfgd/tests/test_templates.py
Labels: Request for 201911 Branch :shipit:, Request for 202006 Branch, bgp

#5561 [Dell S6100] Properly release memory upon ICH driver deinit
  platform/broadcom/sonic-platform-modules-dell/common/dell_ich.c
Labels: Bug :bug:, Platform: DellEMC, Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:, Request for 202006 Branch

#5560 Optimized caclmgrd ACL Rule Table Notification handling.
  files/image_config/caclmgrd/caclmgrd
Labels: Control Plane ACL, Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#5198 Minigraph resource type changes
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, Request for 202006 Branch, sonic-cfggen

#5534 [make init] update submodule's remotes
  Makefile.work
Labels: Build :hammer:, Enhancement :heavy_plus_sign:

#5585 [barefoot][platform] Fix symlinks and syncd.conf for Newport in platform directory
  device/barefoot/x86_64-accton_as9516_32d-r0/syncd.conf
  device/barefoot/x86_64-accton_as9516bf_32d-r0
Labels: Bug :bug:, Platform: Accton, Platform: Barefoot

#5538 [sonic-py-common] Add platform.json to port_config files candidates only if interfaces are present within platform.json
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Bug :bug:, sonic-py-common

#5612 [201911] Monit snmp fix
  dockers/docker-snmp-sv2/base_image_files/monit_snmp
Labels: Bug :bug:, Included in 201911 Branch

#5588 [DX010] Remove executable permission of fancontrol.service for dx010
  platform/broadcom/sonic-platform-modules-cel/dx010/scripts/fancontrol.service
Labels: Cleanup :droplet:, Platform: Celestica

#5600 [bgp]: Enable next-hop-tracking through default
  dockers/docker-fpm-frr/frr/zebra/zebra.interfaces.conf.j2
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/frr.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/zebra/interfaces.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/zebra/zebra.conf
  src/sonic-config-engine/tests/sample_output/py2/frr.conf
  src/sonic-config-engine/tests/sample_output/py2/t2-chassis-fe-vni-zebra.conf
  src/sonic-config-engine/tests/sample_output/py2/t2-chassis-fe-zebra.conf
  src/sonic-config-engine/tests/sample_output/py2/zebra_frr.conf
  src/sonic-config-engine/tests/sample_output/py3/frr.conf
  src/sonic-config-engine/tests/sample_output/py3/t2-chassis-fe-vni-zebra.conf
  src/sonic-config-engine/tests/sample_output/py3/t2-chassis-fe-zebra.conf
  src/sonic-config-engine/tests/sample_output/py3/zebra_frr.conf
  src/sonic-config-engine/tests/sample_output/t2-chassis-fe-pc-zebra.conf
Labels: Bug :bug:, Critical :exclamation:, FRR :traffic_light:, Request for 201911 Branch :shipit:, Request for 202006 Branch, bgp

#5621 Optimze ACL Table/Rule notification handling
  files/image_config/caclmgrd/caclmgrd
Labels: Control Plane ACL, Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:

#5549 [python-click] No longer build our own package, let pip/setuptools install vanilla
  dockers/docker-config-engine-buster/Dockerfile.j2
  dockers/docker-config-engine-stretch/Dockerfile.j2
  dockers/docker-config-engine/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
  platform/p4/docker-sonic-p4/Dockerfile.j2
  platform/vs/docker-sonic-vs/Dockerfile.j2
  rules/python-click.dep
  rules/python-click.mk
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-jessie/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/python-click/.gitignore
  src/python-click/Makefile
  src/sonic-py-common/setup.py
Labels: Cleanup :droplet:

#5613 [barefoot][platform] Platform API 2.0 fixups
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/__init__.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: Barefoot

#5641 [Host OS][docker-vs] No longer install 'wheel' package explicitly
  build_debian.sh
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: Cleanup :droplet:

#5651 Fixes the DPKG cache break because of SAI package content changes wit…
  platform/broadcom/sai.dep
Labels: Bug :bug:, Build :hammer:

#5634 [Mellanox] Configure SAI to log to syslog instead of stdout.
  platform/mellanox/mlnx-sai/Makefile
Labels: Request for 201911 Branch :shipit:, Request for 202006 Branch

#5649 [platform] Remove references to deprecated get_serial_number() method in Chassis class
  device/accton/x86_64-accton_as7116_54x-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_silverstone-r0/sonic_platform/chassis.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-cel/services/platform_api/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-inventec/d6356/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-inventec/d7054q28b/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-juniper/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Cleanup :droplet:, Platform: Accton, Platform: Barefoot, Platform: Celestica, Platform: Inventec, Platform: Juniper, Platform: Mellanox

#5657 [procdockerstatsd] Convert to Python 3
  files/image_config/procdockerstatsd/procdockerstatsd
Labels: Enhancement :heavy_plus_sign:, telemetry :telescope:

#5658 [Mellanox] Add sensors labels for human readable output for MSN2010
  device/mellanox/x86_64-mlnx_msn2010-r0/sensors.conf
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5659 [Mellanox] Add sensors labels for human readable output for MSN2100
  device/mellanox/x86_64-mlnx_msn2100-r0/sensors.conf
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5660 [Mellanox] Add sensors labels for human readable output for MSN2410
  device/mellanox/x86_64-mlnx_msn2410-r0/sensors.conf
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5312 [caclmgrd] Prevent unnecessary iptables updates
  files/image_config/caclmgrd/caclmgrd
Labels: Bug :bug:, Control Plane ACL, Enhancement :heavy_plus_sign:

#5476 [Mellanox] Optimize SFP Platform API implementation
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5661 [Mellanox] Add sensors labels for human readable output for MSN2700
  device/mellanox/x86_64-mlnx_msn2700-r0/sensors.conf
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5662 [Mellanox] Add sensors labels for human readable output for MSN2740
  device/mellanox/x86_64-mlnx_msn2740-r0/sensors.conf
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5664 [Mellanox] Fixes sensors labels for human readable output for MSN3420
  device/mellanox/x86_64-mlnx_msn3420-r0/sensors.conf
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#5650 Fixes the missing dependency in the debian package is not triggering …
  Makefile.cache
Labels: Bug :bug:, Build :hammer:

#5639 [bgpcfgd]: Change prefix-list generation for "Allow prefix" feature
  files/image_config/constants/constants.yml
  src/sonic-bgpcfgd/bgpcfgd/managers_allow_list.py
  src/sonic-bgpcfgd/tests/test_allow_list.py
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, Request for 202006 Branch, bgp

#5304 [Inventec] Add support for D6332 platform
  device/inventec/x86_64-inventec_d6332-r0/INVENTEC-D6332/buffers.json.j2
  device/inventec/x86_64-inventec_d6332-r0/INVENTEC-D6332/buffers_defaults_t1.j2
  device/inventec/x86_64-inventec_d6332-r0/INVENTEC-D6332/pg_profile_lookup.ini
  device/inventec/x86_64-inventec_d6332-r0/INVENTEC-D6332/port_config.ini
  device/inventec/x86_64-inventec_d6332-r0/INVENTEC-D6332/qos.json.j2
  device/inventec/x86_64-inventec_d6332-r0/INVENTEC-D6332/sai.profile
  device/inventec/x86_64-inventec_d6332-r0/INVENTEC-D6332/td3-d6332-32x100G-SR4.config.bcm
  device/inventec/x86_64-inventec_d6332-r0/custom_init.soc.j2
  device/inventec/x86_64-inventec_d6332-r0/custom_led.bin
  device/inventec/x86_64-inventec_d6332-r0/default_sku
  device/inventec/x86_64-inventec_d6332-r0/installer.conf
  device/inventec/x86_64-inventec_d6332-r0/led_proc_init.soc
  device/inventec/x86_64-inventec_d6332-r0/plugins/eeprom.py
  device/inventec/x86_64-inventec_d6332-r0/plugins/psuutil.py
  device/inventec/x86_64-inventec_d6332-r0/plugins/sfputil.py
  device/inventec/x86_64-inventec_d6332-r0/pmon_daemon_control.json
  device/inventec/x86_64-inventec_d6332-r0/sensors.conf
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-inventec.mk
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/Makefile
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/gpio-ich.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/i2c-gpio.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/i2c-mux-pca9541.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/inv_cpld.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/inv_eeprom.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/inv_mux.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/inv_mux.h
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/inv_platform.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/inv_swps.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/inv_swps.h
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/io_expander.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/io_expander.h
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/lpc_ich.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/transceiver.c
  platform/broadcom/sonic-platform-modules-inventec/d6332/modules/transceiver.h
  platform/broadcom/sonic-platform-modules-inventec/d6332/setup.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/event_monitor.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/inv_const.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/qsfp.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/sonic_platform/watchdog.py
  platform/broadcom/sonic-platform-modules-inventec/d6332/utils/inventec_d6332_util.py
  platform/broadcom/sonic-platform-modules-inventec/debian/control
  platform/broadcom/sonic-platform-modules-inventec/debian/platform-modules-d6332.init
  platform/broadcom/sonic-platform-modules-inventec/debian/platform-modules-d6332.install
  platform/broadcom/sonic-platform-modules-inventec/debian/platform-modules-d6332.postinst
  platform/broadcom/sonic-platform-modules-inventec/debian/rules
  platform/broadcom/sonic-platform-modules-inventec/systemd/platform-modules-d6332.service
Labels: Enhancement :heavy_plus_sign:, Platform: Inventec

#5670 [Mellanox] Fix issue: read data from eeprom should trim tail \0
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
Labels: Bug :bug:, Platform: Mellanox, Request for 201911 Branch :shipit:

#3960 [devices]: DellEMC new platform support for DellEMC s5296f- 96x25G
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/buffers.json.j2
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/custom_led.bin
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/linkscan_led_fw.bin
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/port_config.ini
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/qos.json.j2
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/sai.profile
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/sai_preinit_cmd.soc
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-10G/td3-s5296f-10g.config.bcm
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/buffers.json.j2
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/custom_led.bin
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/linkscan_led_fw.bin
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/port_config.ini
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/qos.json.j2
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/sai.profile
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/sai_preinit_cmd.soc
  device/dell/x86_64-dellemc_s5296f_c3538-r0/DellEMC-S5296f-P-25G/td3-s5296f-25g.config.bcm
  device/dell/x86_64-dellemc_s5296f_c3538-r0/default_sku
  device/dell/x86_64-dellemc_s5296f_c3538-r0/installer.conf
  device/dell/x86_64-dellemc_s5296f_c3538-r0/led_proc_init.soc
  device/dell/x86_64-dellemc_s5296f_c3538-r0/media_settings.json
  device/dell/x86_64-dellemc_s5296f_c3538-r0/plugins/eeprom.py
  device/dell/x86_64-dellemc_s5296f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5296f_c3538-r0/plugins/sfputil.py
  device/dell/x86_64-dellemc_s5296f_c3538-r0/pmon_daemon_control.json
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-dell.mk
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s5296f.init
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s5296f.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s5296f.postinst
  platform/broadcom/sonic-platform-modules-dell/debian/rules
  platform/broadcom/sonic-platform-modules-dell/s5296f/cfg/s5296f-modules.conf
  platform/broadcom/sonic-platform-modules-dell/s5296f/modules/Makefile
  platform/broadcom/sonic-platform-modules-dell/s5296f/modules/dell_s5296f_fpga_ocores.c
  platform/broadcom/sonic-platform-modules-dell/s5296f/scripts/pcisysfs.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/scripts/qsfp_irq_enable.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/scripts/s5296f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s5296f/scripts/sensors
  platform/broadcom/sonic-platform-modules-dell/s5296f/systemd/platform-modules-s5296f.service
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#5691 Everflow and Dataacl should not get binded to Backplane port-channels.
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/multi_npu_data/sample_port_config-0.ini
  src/sonic-config-engine/tests/multi_npu_data/sample_port_config-1.ini
  src/sonic-config-engine/tests/multi_npu_data/sample_port_config-2.ini
  src/sonic-config-engine/tests/multi_npu_data/sample_port_config-3.ini
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: Multi-ASIC, Request for 201911 Branch :shipit:

#5675 [BFN] Rename variable in Montara platform debian/rules
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/rules
Labels: Bug :bug:, Platform: Barefoot

#5671 DellEMC S5232 Buffer profile changes
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-C32/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-C32/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-C32/td3-s5232f-32x100G.config.bcm
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-C8D48/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-C8D48/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-C8D48/td3-s5232f-8x100G+48x50G.config.bcm
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-100G/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-100G/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-100G/td3-s5232f-32x100G.config.bcm
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-10G/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-10G/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-10G/td3-s5232f-96x10G+8x100G.config.bcm
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-25G/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-25G/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_s5232f_c3538-r0/DellEMC-S5232f-P-25G/td3-s5232f-96x25G+8x100G.config.bcm
Labels: Bug :bug:, Platform: DellEMC

#5626 [bgpcfgd]: Dynamic BBR support
  dockers/docker-fpm-frr/frr/bgpd/templates/general/peer-group.conf.j2
  files/image_config/constants/constants.yml
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_bbr.py
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/param_base.json
  src/sonic-bgpcfgd/tests/swsscommon_test.py
  src/sonic-bgpcfgd/tests/test_bbr.py
Labels: Enhancement :heavy_plus_sign:, FRR :traffic_light:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Unit Tests, bgp

#5688 [system-health] Update .gitignore file
  src/system-health/.gitignore
Labels: Build :hammer:

#5689 [hostcfgd] Enable/disable the container service only when the feature state was changed.
  files/image_config/hostcfgd/hostcfgd
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#5694 Add sonic-host-services and sonic-host-services-data packages
  files/build_templates/sonic_debian_extension.j2
  platform/vs/docker-sonic-vs.mk
  rules/sonic-host-services-data.dep
  rules/sonic-host-services-data.mk
  rules/sonic-host-services.dep
  rules/sonic-host-services.mk
  slave.mk
  src/sonic-host-services-data/.gitignore
  src/sonic-host-services-data/LICENSE
  src/sonic-host-services-data/MAINTAINERS
  src/sonic-host-services-data/README.md
  src/sonic-host-services-data/debian/changelog
  src/sonic-host-services-data/debian/compat
  src/sonic-host-services-data/debian/control
  src/sonic-host-services-data/debian/copyright
  src/sonic-host-services-data/debian/install
  src/sonic-host-services-data/debian/rules
  src/sonic-host-services-data/debian/sonic-host-services-data.procdockerstatsd.service
  src/sonic-host-services/.gitignore
  src/sonic-host-services/scripts/procdockerstatsd
  src/sonic-host-services/setup.cfg
  src/sonic-host-services/setup.py
  src/sonic-host-services/tests/__init__.py
  src/sonic-host-services/tests/mock_connector.py
  src/sonic-host-services/tests/procdockerstatsd_test.py
Labels: Build :hammer:

#5695 [Mellanox] Re-initialize SFP object when detecting a new SFP insertion
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: Mellanox, Request for 201911 Branch :shipit:

#5707 [sonic-py-common]: Fix syslog implicit min priority override
  src/sonic-py-common/sonic_py_common/daemon_base.py
  src/sonic-py-common/sonic_py_common/logger.py
Labels: Bug :bug:

#5710 [201911][sonic-py-common]: Fix syslog implicit min priority override
  src/sonic-py-common/sonic_py_common/daemon_base.py
  src/sonic-py-common/sonic_py_common/logger.py
Labels: Bug :bug:, Included in 201911 Branch

#5685 [Mellanox] Update platform components config files
  device/mellanox/x86_64-mlnx_msn2010-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2100-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2410-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2740-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn3420-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn3700-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn3700c-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn3800-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn4700-r0/platform_components.json
Labels: Bug :bug:, Platform: Mellanox, Request for 201911 Branch :shipit:

#5676 [minigraph.py]: Add support for parsing mux cable
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Enhancement :heavy_plus_sign:

#5493 [LLDP] Fix for LLDP advertisements being sent with wrong information.
  dockers/docker-lldp/lldpd.conf.j2
  dockers/docker-lldp/lldpmgrd
  src/sonic-config-engine/tests/sample_output/py2/lldpd.conf
  src/sonic-config-engine/tests/sample_output/py3/lldpd.conf
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#5682 [Mellanox] Support max/min speed for PSU fan
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 201911 Branch :shipit:

#5656 [sonic-config-engine] Clean up dependencies, pin versions; install Python 3 package in Buster container
  dockers/docker-config-engine-buster/Dockerfile.j2
  dockers/docker-config-engine-stretch/Dockerfile.j2
  dockers/docker-config-engine/Dockerfile.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
  dockers/dockerfile-macros.j2
  files/build_templates/sonic_debian_extension.j2
  platform/vs/docker-sonic-vs/Dockerfile.j2
  rules/docker-config-engine-buster.mk
  rules/sonic-config.mk
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/sonic-bgpcfgd/setup.py
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/setup.py
Labels: Build :hammer:, Cleanup :droplet:

#5716 [process_checker] Fix 'NoSuchProcess' exception in process_checker
  files/image_config/monit/process_checker
Labels: Bug :bug:, Master Branch Quality, Request for 201911 Branch :shipit:

#5637 [201911] DellEMC platform API 2.0 for Z9264f, S5232f
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/eeprom.py
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-dell/common/dell_pmc.c
  platform/broadcom/sonic-platform-modules-dell/common/ipmihelper.py
  platform/broadcom/sonic-platform-modules-dell/common/sonic_platform/hwaccess.py
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s5232f.install
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-z9264f.install
  platform/broadcom/sonic-platform-modules-dell/debian/rules
  platform/broadcom/sonic-platform-modules-dell/s5232f/scripts/s5232f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s5232f/setup.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/hwaccess.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/watchdog.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/z9264f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/z9264f/setup.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/watchdog.py
Labels: Enhancement :heavy_plus_sign:, Included in 201911 Branch, Platform: DellEMC

#5734 [bcm SAI] Upgrade Broadcom SAI to version 3.5.3.5-3
  platform/broadcom/sai.mk
Labels: Included in 201811 Branch, Platform: Broadcom, Submodule Update :arrow_double_up:

#5653 [arista/7800r3_48cq(m)2_lc] remove platform_reboot
  device/arista/x86_64-arista_7800r3_48cq2_lc/platform_reboot
  device/arista/x86_64-arista_7800r3_48cqm2_lc/platform_reboot
Labels: Cleanup :droplet:, Platform: Arista

#5739 [caclmgrd] Convert to Python 3; Add to sonic-host-services package
  files/build_templates/sonic_debian_extension.j2
  src/sonic-host-services-data/debian/rules
  src/sonic-host-services-data/debian/sonic-host-services-data.caclmgrd.service
  src/sonic-host-services/.gitignore
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/setup.py
Labels: Control Plane ACL, Enhancement :heavy_plus_sign:

#5673 [DellEMC]: FanDrawer and get_high_critical_threshold Platform API implementation for S6000, S6100, Z9100 and Z9264F
  platform/broadcom/sonic-platform-modules-dell/common/dell_pmc.c
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/fan_drawer.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/fan_drawer.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/fan_drawer.py
  platform/broadcom/sonic-platform-modules-dell/z9100/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/fan_drawer.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/thermal.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#5743 Upgrade pip2 after upgrading pip3
  dockers/docker-config-engine-buster/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Labels: Bug :bug:

#5633 [thermalctld] Enlarge startretries value to avoid thermalctld not able to restart during regression test
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#5740 Load config after subscribe
  files/image_config/hostcfgd/hostcfgd
Labels: Request for 201911 Branch :shipit:, Request for 202006 Branch
