Repository sonic-net/sonic-buildimage, pull requests merged in 2021-04, with the labels that each got.

#7173 Fix CVE-2017-1000487 security alert
  src/thrift/Makefile
  src/thrift/patch/0002-cve-2017-1000487.patch
Labels: Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch, Security :shield:

#7208 [e1031] add GbE and higig port to E1031 port_config.ini
  device/celestica/x86_64-cel_e1031-r0/Celestica-E1031-T48S4/port_config.ini
Labels: Bug :bug:, Platform: Celestica, Request for 202012 branch

#7203 [202012][dockers][supervisor] Increase event buffer size for process exit listener; Set all event buffer sizes to 1024
  dockers/docker-database/supervisord.conf.j2
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  dockers/docker-fpm-frr/frr/supervisord/supervisord.conf.j2
  dockers/docker-fpm-gobgp/supervisord.conf
  dockers/docker-fpm-quagga/supervisord.conf
  dockers/docker-iccpd/supervisord.conf
  dockers/docker-lldp/supervisord.conf.j2
  dockers/docker-nat/supervisord.conf
  dockers/docker-orchagent/supervisord.conf
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
  dockers/docker-router-advertiser/docker-router-advertiser.supervisord.conf.j2
  dockers/docker-sflow/supervisord.conf
  dockers/docker-snmp/supervisord.conf
  dockers/docker-sonic-mgmt-framework/supervisord.conf
  dockers/docker-sonic-restapi/supervisord.conf
  dockers/docker-sonic-telemetry/supervisord.conf
  dockers/docker-teamd/supervisord.conf
  platform/barefoot/docker-syncd-bfn/supervisord.conf
  platform/broadcom/docker-syncd-brcm/supervisord.conf
  platform/cavium/docker-syncd-cavm/supervisord.conf
  platform/centec-arm64/docker-syncd-centec/supervisord.conf
  platform/centec/docker-syncd-centec/supervisord.conf
  platform/innovium/docker-syncd-invm/supervisord.conf
  platform/marvell-arm64/docker-syncd-mrvl/supervisord.conf
  platform/marvell-armhf/docker-syncd-mrvl/supervisord.conf
  platform/marvell/docker-syncd-mrvl/supervisord.conf
  platform/mellanox/docker-syncd-mlnx/supervisord.conf
  platform/nephos/docker-syncd-nephos/supervisord.conf
  platform/vs/docker-gbsyncd-vs/supervisord.conf
  platform/vs/docker-syncd-vs/supervisord.conf
  src/sonic-config-engine/tests/sample_output/py2/docker-dhcp-relay.supervisord.conf
  src/sonic-config-engine/tests/sample_output/py3/docker-dhcp-relay.supervisord.conf
Labels: Bug :bug:, Enhancement :heavy_plus_sign:, Included in 202012 Branch

#7147 Fix pip3 hook ENABLE_VERSION_CONTROL_PY param
  src/sonic-build-hooks/hooks/pip3
Labels: Bug :bug:, Build :hammer:, Request for 202012 branch

#7217 [container_checker] Exclude the 'always_disabled' container from expected running container list
  files/image_config/monit/container_checker
Labels: Bug :bug:, Included in 202012 Branch

#7220 Update Media settings test case
  src/sonic-device-data/tests/media_checker
Labels: Request for 202012 branch

#6564 [device/celestica]: Fix failed test cases of DX010 platform APIs
  device/celestica/x86_64-cel_seastone-r0/platform.json
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan_drawer.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/thermal.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/watchdog.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.install
  platform/broadcom/sonic-platform-modules-cel/services/platform_api/platform_api_mgnt.sh
Labels: Bug :bug:, Enhancement :heavy_plus_sign:, Platform: Celestica, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch

#7222 [install.sh] Fix CPU cstates configuration
  installer/x86_64/install.sh
Labels: Bug :bug:, Request for 202012 branch

#6984 DellEMC Z9332f pre-emphasis settings
  device/dell/x86_64-dellemc_z9332f_d1508-r0/media_settings.json
Labels: Platform: DellEMC, Request for 202012 branch

#7215 [sonic-config-engine]: Update L2 preset for dualtor
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/tests/sample_output/py2/l2switch_dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/l2switch_dualtor.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Request for 202012 branch

#7231 Add deepdiff python package for sonic-utilities test
  sonic-slave-stretch/Dockerfile.j2
Labels: Build :hammer:, Enhancement :heavy_plus_sign:, Included in 201911 Branch

#7232 [multi-asic] optimize api that checks port/port-channel/bgp is internal
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: Multi-ASIC, Request for 201911 Branch :shipit:

#7236 [monit] Avoid monit error log by removing "-l" from monit_swss|buffermgrd
  dockers/docker-orchagent/base_image_files/monit_swss
Labels: Bug :bug:, Request for 202012 branch

#7234 [IPinIP] Add Loopback2 interface, change dscp mode to uniform
  dockers/docker-orchagent/ipinip.json.j2
  src/sonic-config-engine/tests/multi_npu_data/py2/ipinip.json
  src/sonic-config-engine/tests/multi_npu_data/py3/ipinip.json
  src/sonic-config-engine/tests/sample_output/py2/bgpd_quagga.conf
  src/sonic-config-engine/tests/sample_output/py2/ipinip.json
  src/sonic-config-engine/tests/sample_output/py3/ipinip.json
  src/sonic-config-engine/tests/t0-sample-graph.xml
Labels: Request for 202012 branch

#7113 [Mellanox] Bug fix: Support dynamic buffer calculation for ACS-MSN3420 and ACS-MSN4410
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/buffers_dynamic.json.j2
  platform/mellanox/asic_table.j2
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#7075 [Mellanox] [202012] Initialize PSU API on both host and docker side
  platform/mellanox/mlnx-platform-api/sonic_platform/platform.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#7221 [Mellanox] Improve FW upgrade logging: add syslog logger
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#7241 [multi-asic] Make sure Everflow tables always gets classified as Mirror table
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/multi_npu_data/sample-minigraph-noportchannel.xml
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: Multi-ASIC, Request for 201911 Branch :shipit:

#7229 [BFN] Updated SAI/SDK packages to 20210405
  platform/barefoot/bfn-platform.mk
  platform/barefoot/bfn-sai.mk
Labels: Request for 201911 Branch :shipit:

#7198 [CI] Update sonic image official build template.
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/azure-pipelines-job-groups.yml
  .azure-pipelines/official-build.yml
Labels: ci

#7228 [debian] install systemd version 247 from buster-backports
  build_debian.sh
  installer/x86_64/install.sh
Labels: Bug :bug:, Request for 202012 branch

#7249 [baseimage]: specify gid for redis group.
  build_debian.sh
Labels: Bug :bug:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch

#7100 Invoking python3 installation for PDDF 2.0 PAI package
  platform/pddf/i2c/utils/pddf_util.py
Labels: PDDF, Python 3

#7167 [sonic-py-common] Add 'general' module with load_module_from_source() function
  src/sonic-ctrmgrd/setup.py
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/ctrmgr_tools_test.py
  src/sonic-host-services/setup.py
  src/sonic-host-services/tests/determine-reboot-cause_test.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
  src/sonic-host-services/tests/procdockerstatsd_test.py
  src/sonic-py-common/sonic_py_common/daemon_base.py
  src/sonic-py-common/sonic_py_common/general.py
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch, sonic-py-common

#7259 [Mellanox] Fix incomplete platform name for MSN4600C in sfputil plugin
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#6914 [sonic-py-common.task_base] Provide ability to set stop timeouts
  src/sonic-py-common/sonic_py_common/task_base.py
Labels: Enhancement :heavy_plus_sign:, sonic-py-common

#7224 [202012][e1031] add GbE and higig port to E1031 port_config.ini
  device/celestica/x86_64-cel_e1031-r0/Celestica-E1031-T48S4/port_config.ini
Labels: Included in 202012 Branch

#7262 [CI] Fix the wrong environment variable PLATFORM passing into the slave container issue
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: ci

#7279 [sonic-syseepromd] Depend on sonic-platform-common
  rules/sonic-syseepromd.mk
Labels: Request for 202012 branch, dependencies

#7287 [ci] Fix the wrong build options issue
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: ci

#7065 [ci] Support to merge SONiC package versions change pr automatically
  .github/labeler.yml
  .github/workflows/automerge.yml
  .github/workflows/label.yml
Labels: Request for 202012 branch, ci

#7264 [installer]: Prevent filesystem corruption
  installer/arm64/install.sh
  installer/armhf/install.sh
  installer/x86_64/install.sh
Labels: Bug :bug:, baseimage

#7319 Fix the SONiC version starting with HEAD issue
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: ci

#7309 Dell S6100: Modify transceiver change event from interrupt to poll mode
  device/dell/x86_64-dell_s6100_c2538-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
Labels: Bug :bug:, Platform: DellEMC, Request for 202012 branch

#7077 [as7816-64x] Add to support PDDF
  device/accton/x86_64-accton_as7816_64x-r0/pddf/pd-plugin.json
  device/accton/x86_64-accton_as7816_64x-r0/pddf/pddf-device.json
  device/accton/x86_64-accton_as7816_64x-r0/pddf_support
  device/accton/x86_64-accton_as7816_64x-r0/pmon_daemon_control.json
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/modules/Makefile
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/modules/pddf_custom_fan.c
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/service/as7816-pddf-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/service/pddf-platform-init.service
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/sonic_platform_setup.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/utils/accton_as7816_pddf_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/utils/pddf_switch_svc.py
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7816-64x.install
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7816-64x.postinst
Labels: Enhancement :heavy_plus_sign:, PDDF, Platform: Accton

#6902 [as9716-32d] Add to support PDDF
  device/accton/x86_64-accton_as9716_32d-r0/pddf/pd-plugin.json
  device/accton/x86_64-accton_as9716_32d-r0/pddf/pddf-device.json
  device/accton/x86_64-accton_as9716_32d-r0/pddf_support
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/Makefile
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/pddf_custom_psu.c
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/service/as9716-32d-pddf-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/service/pddf-platform-init.service
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform/watchdog.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/sonic_platform_setup.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_pddf_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/pddf_post_driver_install.sh
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/pddf_switch_svc.py
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as9716-32d.install
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as9716-32d.postinst
Labels: Enhancement :heavy_plus_sign:, PDDF, Platform: Accton

#7318 [l2-preset]: Add all dual ToR required fields
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/tests/sample_output/py2/l2switch_dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/l2switch_dualtor.json
  src/sonic-config-engine/tests/t0_7050cx3_d48c8_port_config.ini
  src/sonic-config-engine/tests/test_j2files.py
Labels: Request for 202012 branch

#7296 [doc]: Fix typos in documents
  README.buildsystem.md
  README.md
Labels: Documentation :book:

#7321 [ci] Fix no enough space issue in docker root in multi arch build
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: ci

#7176 [as7326-56x] Add to support PDDF
  device/accton/x86_64-accton_as7326_56x-r0/pddf/pd-plugin.json
  device/accton/x86_64-accton_as7326_56x-r0/pddf/pddf-device.json
  device/accton/x86_64-accton_as7326_56x-r0/pddf_support
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-56x-pddf-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-handle_mac.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/pddf-platform-init.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/sonic_platform_setup.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/accton_as7326_pddf_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/utils/pddf_switch_svc.py
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7326-56x.install
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7326-56x.postinst
Labels: Enhancement :heavy_plus_sign:, PDDF, Platform: Accton

#7326 [202012][sonic-platform-common] Track 202012 branch of submodule
  .gitmodules
Labels: Submodule Update :arrow_double_up:

#7194 SONiC Yang model for PORTCHANNEL_INTERFACE_LIST and VRF
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vrf.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vrf.json
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-loopback-interface.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
  src/sonic-yang-models/yang-models/sonic-vrf.yang
Labels: yang

#7336 Dell S6100: Add dell ich driver
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
Labels: Bug :bug:, Platform: DellEMC, Request for 202012 branch

#7323 [202012][build_debian.sh] fix systemd is not from backports buster
  build_debian.sh
Labels: Bug :bug:

#7340 [201911][Monit] Monitor critical processes in radv and dhcp_relay containers.
  dockers/docker-dhcp-relay/base_image_files/monit_dhcp_relay.j2
  dockers/docker-router-advertiser/base_image_files/monit_radv.j2
  files/build_templates/sonic_debian_extension.j2
  files/image_config/monit/generate_monit_config
  files/image_config/monit/generate_monit_config.service
  rules/docker-dhcp-relay.mk
  rules/docker-router-advertiser.mk
Labels: Enhancement :heavy_plus_sign:, Included in 201911 Branch

#5622 Add templates and code to support VoQ chassis iBGP peers
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/instance.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/policies.conf.j2
  files/image_config/constants/constants.yml
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/param_base.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/param_shutdown_1.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/param_shutdown_2.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/param_timers_1.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/param_timers_2.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_base.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_2.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_2.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/param_base.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_base.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/policies.conf/param_base.json
  src/sonic-bgpcfgd/tests/data/voq_chassis/policies.conf/result_base.conf
  src/sonic-bgpcfgd/tests/test_templates.py
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Chassis :robot:

#5629 Add "bgp bestpath peer-type multipath-relax" to FRR
  src/sonic-frr/patch/0009-Add-bgp-bestpath-peer-type-multipath-relax.patch
  src/sonic-frr/patch/series
Labels: Chassis :robot:

#7288 Kubernetes - update and a fix
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Labels: Bug :bug:, Cleanup :droplet:, Request for 202012 branch

#7350 [build] Pass number of CPUs as jobs parameter to make command for SONIC_MAKE_DEBS
  slave.mk
Labels: Build :hammer:, Enhancement :heavy_plus_sign:

#7119 [Mellanox] Fix for all Spectrum based systems: SAI profile speed configurations
  device/mellanox/x86_64-mlnx_msn2010-r0/ACS-MSN2010/sai_2010.xml
  device/mellanox/x86_64-mlnx_msn2100-r0/ACS-MSN2100/sai_2100.xml
  device/mellanox/x86_64-mlnx_msn2410-r0/ACS-MSN2410/sai_2410.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/sai_2700.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-C28D8/sai_2700_8x50g_28x100g.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/sai_2700_8x100g_40x50g_8x10g.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/sai_2700_48x50g_8x100g.xml
  device/mellanox/x86_64-mlnx_msn2740-r0/ACS-MSN2740/sai_2740.xml
Labels: Request for 202012 branch

#7093 [config-setup]: Fix a bug of checking if updategraph is enabled
  files/image_config/config-setup/config-setup
Labels: Bug :bug:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch

#7376 [Arista] Fix dockerd issue on Arista platforms
  files/Aboot/boot0.j2
Labels: Request for 202012 branch

#7334 [201911] Dell S6100: Modify transceiver change event from interrupt to poll mode
  device/dell/x86_64-dell_s6100_c2538-r0/plugins/sfputil.py
Labels: Bug :bug:, Included in 201911 Branch, Platform: DellEMC

#6922 Flashrom refactoring
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  platform/broadcom/platform-modules-dell.mk
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/tools/flashrom.sh
  rules/flashrom.dep
  rules/flashrom.mk
  slave.mk
  src/flashrom/Makefile
  src/flashrom/patch/0002-Flashrom-support-for-Intel-Rangeley-and-Denverton-CP.patch
  src/flashrom/patch/0003-Debian-package-base.patch
  src/flashrom/patch/0004-Flashrom-remove-tmpl.patch
  src/flashrom/patch/series
Labels: Enhancement :heavy_plus_sign:

#7385 [201811][bcm sai] ugprade Broadcom SAI to 3.5.3.7-2
  platform/broadcom/sai.mk
Labels: Submodule Update :arrow_double_up:, brcmsai

#7388 [201811] Add SOC property to enable AN/LT on some platforms (A7060, A7260, DX010)
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/th-a7060-cx32s-32x100G-t1.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/th-a7060-cx32s-8x100G+48x50G.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/th-a7060-cx32s-32x40G-t0.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/th-a7060-cx32s-32x40G-t1.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/th2-a7260cx3-64-64x100G-t0.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/th2-a7260cx3-64-64x100G-t1.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/th2-a7260cx3-64-112x50G+8x100G.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/th2-a7260cx3-64-64x40G.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/th-seastone-dx010-32x100G-t0.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/th-seastone-dx010-32x100G-t1.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/th-seastone-dx010-48x50G+8x100G.config.bcm
Labels: Enhancement :heavy_plus_sign:, Included in 201811 Branch

#7303 [CI] Support 202012 branch reproducible build to generate version files.
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: ci

#7370 [Broadcom] Set hierarchical ecmp levels to 2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/td3-a7050cx3-32s-32x100G.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/td3-a7050cx3-32s-48x50G+8x100G.config.bcm
Labels: Request for 202012 branch

#7369 [systemd] disable default systemd udev rules for interfaces
  files/build_templates/sonic_debian_extension.j2
  files/image_config/systemd/network/99-default.link
Labels: Request for 202012 branch

#7395 build: Fix ARM build break introduced in PR# 7249
  build_debian.sh
Labels: Request for 202012 branch

#6464 [DPB][YANG] extended yang-model - added 'buffer_model' field
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: Awaiting Info :hourglass:, Bug :bug:, yang

#7397 [CI] Update azure PR pipeline file. Not affect pipeline running
  azure-pipelines.yml
Labels: ci

#7378 [201911][Monit] Use VLAN name to differentiate each Monit service of dhcp_relay
  dockers/docker-dhcp-relay/base_image_files/monit_dhcp_relay.j2
Labels: Bug :bug:, Enhancement :heavy_plus_sign:, Included in 201911 Branch

#7399 [ci] Fix the boolean value case sensitive issue in Azure Pipelines
  .azure-pipelines/azure-pipelines-build.yml
  azure-pipelines.yml
Labels: ci

#7381 Improve the PR build version
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: ci

#7408 [ci] Fix official build not existing issue
  .azure-pipelines/azure-pipelines-build.yml
Labels: Bug :bug:, ci

#7406 [ci] Export the azure pipeline build id for SONiC version
  .azure-pipelines/azure-pipelines-build.yml
Labels: ci

#7404 Adding new SKU Mellanox-SN3800-D28C49S1
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/hwsku.json
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/port_config.ini
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/qos.json.j2
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/sai_3800_1x10g_28x50g_49x100g.xml
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch

#7415 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-deb-buster
  files/build/versions/default/versions-py2
  files/build/versions/default/versions-py3
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-py2
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-base-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
Labels: automerge

#7417 [ci] Fix workflow permission issue when merging from the fork repo
  .github/workflows/label.yml
Labels: Request for 202012 branch, ci

#7383 Support readonly vtysh for sudoers
  dockers/docker-fpm-frr/base_image_files/rvtysh
  dockers/docker-fpm-quagga/base_image_files/rvtysh
  files/image_config/sudoers/sudoers
  rules/docker-fpm-frr.mk
  rules/docker-fpm-quagga.mk
Labels: Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch, Security :shield:

#7342 [arista] Add DPB for Arista 7050 QX32
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/buffers.json.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/hwsku.json
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/port_config.ini
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/qos.json.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/sai.profile
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32-Flex/td2-a7050-qx32-flex.config.bcm
  device/arista/x86_64-arista_7050_qx32/platform.json
Labels: Enhancement :heavy_plus_sign:, Platform: Arista

#7398 [as7726-32x] Support PDDF
  device/accton/x86_64-accton_as7726_32x-r0/pddf/pd-plugin.json
  device/accton/x86_64-accton_as7726_32x-r0/pddf/pddf-device.json
  device/accton/x86_64-accton_as7726_32x-r0/pddf_support
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/service/as7726-32x-pddf-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/service/pddf-platform-init.service
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/watchdog.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform_setup.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/accton_as7726_32x_pddf_monitor.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/pddf_post_driver_install.sh
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/pddf_switch_svc.py
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7726-32x.install
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as7726-32x.postinst
Labels: Enhancement :heavy_plus_sign:, PDDF, Platform: Accton

#7413 [Arista] Add DPB for 7060CX-32S
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S/buffers.json.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S/hwsku.json
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S/port_config.ini
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S/qos.json.j2
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S/sai.profile
  device/arista/x86_64-arista_7060_cx32s/platform.json
  device/arista/x86_64-arista_7060_cx32s/th-a7060-cx32s-flex-all.config.bcm
Labels: Enhancement :heavy_plus_sign:, Platform: Arista, Port Breakout :trident:

#5991 VoQ configuration using minigraph.xml file
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Chassis :robot:

#7345 [Mellanox] Fix platform json for MSN2100
  device/mellanox/x86_64-mlnx_msn2100-r0/platform.json
Labels: Bug :bug:, Platform: Mellanox

#7452 [buildfix-201911] Fix the snmp docker build error.
  dockers/docker-snmp-sv2/Dockerfile.j2
  dockers/docker-snmp-sv2/get-pip.py
Labels: Request for 201811 Branch :shipit:

#7453 [ci] Add the platform filter to ignore some platforms not ready to use
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: ci

#7464 [ci] Fix the generating version file failure issue caused by artifacts folder change
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: Bug :bug:, ci

#7438 [201911][Monit] Monitor critical processes in PMon contianer.
  dockers/docker-platform-monitor/base_image_files/monit_pmon.j2
  files/image_config/monit/generate_monit_config
  rules/docker-platform-monitor.mk
Labels: Enhancement :heavy_plus_sign:, Included in 201911 Branch

#7459 [build] Fix the snmp docker build error. (#7452)
  azure-pipelines.yml
  dockers/docker-snmp-sv2/Dockerfile.j2
  dockers/docker-snmp-sv2/get-pip.py
  sonic-slave/Dockerfile
Labels: Included in 201811 Branch

#7414 [201811] Fix swsssdk build by installing redis explicitly
  sonic-slave/Dockerfile
Labels: Build :hammer:, Included in 201811 Branch

#7446 [Mellanox] Bug fix: exception occurred during chassis object being destroyed
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#7394 [Mellanox] Add support to VXLAN src port range setting via SAI profile for specific SKUs
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/sai.profile
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch

#7475 [caclmgrd] Remove sleep which allowed threads to progress
  src/sonic-host-services/scripts/caclmgrd
Labels: Cleanup :droplet:, Control Plane ACL

#7489 [201811][build] install python-arptable and psutil in sonic slave docker
  sonic-slave/Dockerfile
Labels: Build :hammer:, Included in 201811 Branch

#7068 Updated Qos/MMU settings for Arista-7050CX3-32S-C32 & Arista-7050CX3-32S-D48C8
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/td3-a7050cx3-32s-32x100G.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/buffers.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/td3-a7050cx3-32s-48x50G+8x100G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Request for 202012 branch

#7501 [201911] [sonic-slave-jessie]: use pip to install nose package directly
  sonic-slave-jessie/Dockerfile.j2
Labels: Request for 201811 Branch :shipit:

#7458 [CI] Add Bldenv pipeline files
  .azure-pipelines/docker-sonic-mgmt.yml
  .azure-pipelines/docker-sonic-slave.yml
  .azure-pipelines/dpkg-cache-cleanup.yml
Labels: ci
