Repository sonic-net/sonic-buildimage, pull requests merged in 2021-09, with the labels that each got.

#8624 [7050] define hwsku.json for Arista-7050QX-32S-S4Q31 to skip SFP checks for first 4 ports
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/hwsku.json
Labels: Request for 202012 branch, Request for 202106 branch

#8623 Add thrift in the docker-sonic-mgmt
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: Request for 202012 branch, Request for 202106 branch

#8500 [Flex Counters] Reset flex counters delay flag on config DB when enable_counters script is called
  dockers/docker-orchagent/enable_counters.py
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: Request for 202106 branch

#8625 SAIServer reads config from hwsku folder
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm/portmap.ini
  platform/broadcom/docker-saiserver-brcm/profile.ini
  platform/broadcom/docker-saiserver-brcm/supervisord.conf
Labels: Request for 202012 branch, Request for 202106 branch

#8666 [Marvell] Updated SAI version(1.7.1-2) of armhf platform.
  platform/marvell-armhf/sai.mk
Labels: Submodule Update :arrow_double_up:, Included in 202012 Branch, Platform: Nokia

#7881 sonic-yang-models updates for MPLS
  src/sonic-yang-models/tests/yang_model_tests/tests/crm.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/crm.json
  src/sonic-yang-models/yang-models/sonic-crm.yang
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: yang, Request for 202106 branch

#8682 [202012] BRCM SAI 4.3.5.1-2 Fix BRCM SAI regression due to ACL Egress Mirroring Action capability
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Labels: Platform: Broadcom, brcmsai, TD3 :three:

#8271 [Arista] Fix Clearwater2 phy initialization when no configuration is provided
  device/arista/x86_64-arista_7800r3_48cq2_lc/default_sku
  device/arista/x86_64-arista_7800r3_48cqm2_lc/default_sku
  rules/phy-credo.mk
Labels: Request for 202106 branch

#8716 DellEMC Z9332f: Platform API - Remove EEPROM Vendor Extension decoder
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/eeprom.py
Labels: Platform: DellEMC, Request for 202012 branch

#8707 [Nokia ixs7215] Miscellaneous platform API fixes
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/fan.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/fan_drawer.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/psu.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/thermal.py
Labels: Request for 202012 branch, Platform: Nokia, Request for 202106 branch

#8712 [Mellanox] Remove 2x40G from SN3800 hwsku
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D100C12S2/hwsku.json
  device/mellanox/x86_64-mlnx_msn3800-r0/platform.json
Labels: Platform: Mellanox, Request for 202106 branch

#8737 [fstrim] delay fstrim timer after sonic.target
  files/image_config/fstrim/fstrim.timer
Labels: Request for 202012 branch, Request for 202106 branch

#8728 [201911] [Mellanox] Read PSU fan max/min speed per PSU
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
Labels: Platform: Mellanox

#8714 [201911][Monit] Fix the template file of dhcp_relay
  dockers/docker-dhcp-relay/base_image_files/monit_dhcp_relay.j2
Labels: Bug :bug:, Request for 201911 Branch :shipit:

#8711 [DPB]Removing default admin status initialization in DPB flow while loading minigraph
  platform/vs/tests/breakout/sample_output/sample_new_port_config.json
  src/sonic-config-engine/portconfig.py
  src/sonic-config-engine/tests/platform-sample-graph.xml
  src/sonic-config-engine/tests/sample_output/platform_output.json
  src/sonic-config-engine/tests/test_cfggen_platformJson.py
Labels: Request for 202106 branch

#8673 Caclmgrd: port two commits from master to 202012 branch
  src/sonic-host-services/scripts/caclmgrd
Labels: Bug :bug:, Control Plane ACL, DHCP Relay

#8065 [multi-asic][cli][chassis-db] Avoid connecting to chassis db when cli commands are executed from linecards
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: Request for 202106 branch

#8744 [201911] Logrotate for wtmp and btmp files to fix size.
  files/build_templates/sonic_debian_extension.j2
Labels: Request for 201811 Branch :shipit:

#8509 caclmgrd: add test code to check dhcp acl update
  src/sonic-host-services/pytest.ini
  src/sonic-host-services/setup.py
  src/sonic-host-services/tests/caclmgrd/__init__.py
  src/sonic-host-services/tests/caclmgrd/caclmgrd_dhcp_test.py
  src/sonic-host-services/tests/caclmgrd/test_dhcp_vectors.py
  src/sonic-host-services/tests/common/mock_configdb.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
Labels: Control Plane ACL, DHCP Relay, Request for 202012 branch

#8762 [Marvell] Update armhf SAI deb to 1.7.1-3
  platform/marvell-armhf/sai.mk
Labels: Platform: Nokia

#8743 Logrotate for wtmp and btmp files.
  files/image_config/logrotate/logrotate.d/btmp
  files/image_config/logrotate/logrotate.d/wtmp
Labels: Request for 202012 branch, Request for 202106 branch

#8772 [Nokia ixs7215] Add support for SFP eeprom type_abbrv_name attribute
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/fan_drawer.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Labels: Request for 202012 branch, Platform: Nokia, Request for 202106 branch

#8777 DellEMC: Z9332f fix platform bugs
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/sai_postinit_cmd.soc
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: DellEMC, Request for 202012 branch, Request for 202106 branch

#8771 [Nokia ixs7215] Support show system-health
  device/nokia/armhf-nokia_ixs7215_52x-r0/system_health_monitoring_config.json
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/chassis.py
Labels: Request for 202012 branch, Platform: Nokia, Request for 202106 branch

#8783 [healthd] Add system health configuration for platform Celestica E1031
  device/celestica/x86_64-cel_e1031-r0/system_health_monitoring_config.json
Labels: Platform: Celestica, Request for 202012 branch

#8795 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#8787 DellEMC: Z9332f - Platform API implementation
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/fan_drawer.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/psu.py
Labels: Platform: DellEMC, Request for 202012 branch

#7839 Adding yang model for PFC watch dog parameters
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/pfc.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/pfc.json
  src/sonic-yang-models/yang-models/sonic-pfcwd.yang
Labels: yang

#8819 Update minigraph parser to support type MIRROR_DSCP
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Request for 202012 branch

#8829 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#8803 [master] Save redis DB dump after warm/fast reboot
  files/build_templates/docker_image_ctl.j2
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch, Request for 202106 branch

#8836 [Marvell]Update driver tag to pick squashfs fix
  platform/marvell-armhf/prestera.mk
Labels: Platform: Nokia

#8840 [202012] BRCMSAI 4.3.5.1-3 fix CS00012203600, CS00012202255, CS00012208537
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Labels: Platform: Broadcom, brcmsai

#7698 SONiC Yang for Warm Restart
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/warm_restart.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/warm_restart.json
  src/sonic-yang-models/yang-models/sonic-warm-restart.yang
Labels: yang

#8867 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-py3-all-arm64
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#8832 Add Mellanox-SN4600C-D100C12S2 SKU
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/hwsku.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/port_config.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/sai_4600c_100x50g_12x100g_2x10g.xml
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D112C8/pg_profile_lookup.ini
Labels: Request for 202106 branch

#8858 Reduce logging level for RESTAPI
  src/sonic-config-engine/minigraph.py
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch

#8879 [Nokia 7215] Rename alias column with etpN normination
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/port_config.ini
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-M0-7215
Labels: Request for 202012 branch, Platform: Nokia, Request for 202106 branch
