Repository sonic-net/sonic-buildimage, pull requests merged in 2021-10, with the labels that each got.

#8894 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3-all-arm64
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-base-stretch/versions-py2
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#8792 [Mellanox] Change thermal recover threshold from temp_trip_norm to temp_trip_high
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Platform: Mellanox, Request for 201911 Branch :shipit:, Request for 202012 branch, Request for 202106 branch

#8174 [arista] Add asic and phy configs for clearwater2ms
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/context_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/gearbox_100G_PAM4.xml
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/gearbox_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy10_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy11_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy12_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy1_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy2_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy3_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy4_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy5_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy6_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy7_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy8_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/phy9_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/port_config.ini
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/psai.profile
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/sai.profile
  device/arista/x86_64-arista_7800r3_48cqm2_lc/chassisdb.conf
  device/arista/x86_64-arista_7800r3_48cqm2_lc/gbsyncd.ini
Labels: Request for 202106 branch, gearbox

#7955 Feature yang changes
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/feature.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/feature.json
  src/sonic-yang-models/yang-models/sonic-feature.yang
  src/sonic-yang-models/yang-models/sonic-types.yang
Labels: yang

#8654 [ci]: Support azp for cisco 8000
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build-cisco-8000.yml
Labels: Request for 202012 branch, ci, Request for 202106 branch

#8933 [201811][jessie] address Jessie docker cert expiry issue
  sonic-slave/Dockerfile
Labels: Included in 201811 Branch, Build :hammer:

#8902 [201811][sai bcm] upgrade Broadcom SAI to version 3.5.3.7-6
  platform/broadcom/sai.mk
Labels: Submodule Update :arrow_double_up:, Included in 201811 Branch

#8953 [DPB][Mellanox]Fixing DPB modes in Mellanox-SN2700-D40C8S8
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/hwsku.json
  device/mellanox/x86_64-mlnx_msn2700-r0/platform.json
Labels: Request for 202106 branch

#8935 [determine-reboot-cause] delay execution
  src/sonic-host-services-data/debian/sonic-host-services-data.determine-reboot-cause.service
Labels: Master Branch Quality, Request for 202012 branch, Issues for 202012, Request for 202106 branch

#7281 SONiC QOS Scheduler, WRED, Queue Yangs
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/qos.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qos.json
  src/sonic-yang-models/yang-models/sonic-queue.yang
  src/sonic-yang-models/yang-models/sonic-scheduler.yang
  src/sonic-yang-models/yang-models/sonic-wred-profile.yang
Labels: yang

#8966 [chassis-packet] minigraph parsing and BGP template changes
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/peer-group.conf.j2
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
  src/sonic-bgpcfgd/bgpcfgd/template.py
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/param_chasiss_packet.json
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_chasiss_packet.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/packet_chassis.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/packet_chassis.json
  src/sonic-bgpcfgd/tests/test_sonic-cfggen.py
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml
  src/sonic-config-engine/tests/sample-chassis-packet-lc-port-config.ini
  src/sonic-config-engine/tests/sample-graph-resource-type.xml
  src/sonic-config-engine/tests/sample-graph-subintf.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Chassis :robot:, Request for 202106 branch

#8978 [Mellanox] Upgrade Mellanox firmware tools to 4.17.2-12
  platform/mellanox/mft.mk
Labels: Request for 202106 branch

#8960 [Mellanox] Fixed dynamic minimum fan speed table for SN4410
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: Platform: Mellanox, Request for 202106 branch

#9034 docker-dhcp-relay: Fix waiting for interfaces to get set up
  dockers/docker-dhcp-relay/start.sh
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  src/sonic-config-engine/tests/sample_output/py2/wait_for_intf.sh
  src/sonic-config-engine/tests/sample_output/py3/wait_for_intf.sh
Labels: Request for 201811 Branch :shipit:, Request for 202012 branch, Request for 202106 branch
