Repository sonic-net/sonic-buildimage, pull requests merged in 2021-03, with the labels that each got.

#6919 [build] No longer install scapy Debian package in host
  build_debian.sh
Labels: Cleanup :droplet:, Request for 202012 branch

#6913 [Mellanox]: Fix PCIEd configuration files for SN3700 and SN3800 systems
  device/mellanox/x86_64-mlnx_msn3700c-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn3800-r0/pcie.yaml
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#6924 Making PDDF 2.0 base classes python3 compliant
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_chassis.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_eeprom.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_fan.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_platform.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_psu.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_sfp.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_thermal.py
  rules/docker-platform-monitor.mk
Labels: PDDF, Python 3

#6932 [openconfig_acl] Allow setting ICMP type/code to 0
  src/sonic-config-engine/openconfig_acl.py
  src/sonic-config-engine/sonic-acl-extension.yang
Labels: Bug :bug:, Request for 202012 branch, sonic-cfggen

#6933 Fix Python 3 'importlib' bug; Add support for Python 2 back in sonic-py-common
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-host-services/tests/determine-reboot-cause_test.py
  src/sonic-host-services/tests/procdockerstatsd_test.py
  src/sonic-py-common/sonic_py_common/daemon_base.py
Labels: Bug :bug:, Python 3, Request for 202012 branch, sonic-py-common

#6947 Updated BCM SAI to latest 4.3.3.1 drop
  platform/broadcom/sai.mk
Labels: Request for 202012 branch

#6938 [platform][barefoot] Fix as9516bf installation
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/postinst
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/sonic-platform-modules-bfn-newport-as9516.postinst
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/sonic-platform-modules-bfn-newport-as9516.prerm
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/sonic-platform-modules-bfn-newport-as9516bf.postinst
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/sonic-platform-modules-bfn-newport-as9516bf.prerm
Labels: Bug :bug:, Platform: Barefoot, Request for 202012 branch

#6900 BRCM SAI 3.7.5.2-2 Pick up fix CS00011729558 SAI_STATUS_INSUFFICIENT_RESOURCE wit attr SAI_BUFFER_PROFILE_ATTR_RESERVED_BUFFER_SIZE
  platform/broadcom/sai.mk
Labels: Request for 201911 Branch :shipit:

#6855 [thermalctld] Disable thermalctld on Mellanox simx platforms
  device/mellanox/x86_64-mlnx_msn2700_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn3700_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/pmon_daemon_control.json
Labels: Platform: Mellanox

#6941 [201911][openconfig_acl] Allow setting ICMP type/code to 0
  src/sonic-config-engine/openconfig_acl.py
  src/sonic-config-engine/sonic-acl-extension.yang
Labels: Included in 201911 Branch

#6926 [Mellanox] Change buffer config for new SKU Mellanox-SN2700-D40C8S8
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/buffers_defaults_t1.j2
Labels: Platform: Mellanox, Request for 201911 Branch :shipit:, Request for 202012 branch

#6961 Start DHCP Relay When Helpers IPs Are Available
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr.conf
  src/sonic-config-engine/tests/sample_output/py2/bgpd_quagga.conf
  src/sonic-config-engine/tests/sample_output/py2/docker-dhcp-relay.supervisord.conf
  src/sonic-config-engine/tests/sample_output/py2/frr.conf
  src/sonic-config-engine/tests/sample_output/py2/ipinip.json
  src/sonic-config-engine/tests/sample_output/py2/wait_for_intf.sh
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_quagga.conf
  src/sonic-config-engine/tests/sample_output/py3/docker-dhcp-relay.supervisord.conf
  src/sonic-config-engine/tests/sample_output/py3/frr.conf
  src/sonic-config-engine/tests/sample_output/py3/ipinip.json
  src/sonic-config-engine/tests/sample_output/py3/wait_for_intf.sh
  src/sonic-config-engine/tests/t0-sample-graph.xml
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch

#6942 [Arista] Refresh device folder for DCS-7060DX4-32
  device/arista/x86_64-arista_7060dx4_32/Arista-7060DX4-C32
  device/arista/x86_64-arista_7060dx4_32/Arista-7060DX4-C32/port_config.ini
  device/arista/x86_64-arista_7060dx4_32/Arista-7060DX4-C32/sai.profile
  device/arista/x86_64-arista_7060dx4_32/Arista-7060DX4-C32/th3-a7060dx4-c32-32x400G.config.bcm
  device/arista/x86_64-arista_7060dx4_32/Arista-7060PX4-C64
  device/arista/x86_64-arista_7060dx4_32/Arista-7060PX4-O32
  device/arista/x86_64-arista_7060dx4_32/default_sku
Labels: Bug :bug:, Platform: Arista, Request for 202012 branch

#6878 [DPB] [Mellanox] added capability files for SN2700-D40C8S8 SKU
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/hwsku.json
Labels: Platform: Mellanox

#6980 BRCM SAI 4.3.3.1-1 pick up Temp Patch to fix Dual TOR ACL issue CS000…
  platform/broadcom/sai.mk
Labels: Request for 202012 branch

#6517 [device/celestica]: Add xcvrd event support for Haliburton
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/event.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/helper.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.install
  platform/broadcom/sonic-platform-modules-cel/debian/rules
  platform/broadcom/sonic-platform-modules-cel/services/platform_api/platform_api_mgnt.sh
Labels: Enhancement :heavy_plus_sign:, Platform: Celestica

#6990 dhcp for dual tor: include all vlan intf into downstream intf
  src/isc-dhcp/patch/0009-Support-for-dual-tor-scenario.patch
Labels: DHCP Relay

#6637 [sonic-yang-models]: Test to Validate yang models with SONiC config.
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-mgmt/tests/libyang-python-tests/sample_config_db.json
  src/sonic-yang-mgmt/tests/libyang-python-tests/test_sonic_yang.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
Labels: yang

#6985 Copy dummy flannel.conf to get around absence of CNI Network
  files/build_templates/sonic_debian_extension.j2
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Labels: Bug :bug:, Request for 202012 branch

#7007 [Mellanox] Update MFT to 4.16.0-105
  platform/mellanox/mft.mk
Labels: Request for 202012 branch

#7018 [Mellanox] Fixes issue: CLI sfputil does not work based on sonic platform API
  platform/mellanox/mlnx-platform-api/sonic_platform/platform.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Labels: Bug :bug:, Platform: Mellanox

#7029 [platform][barefoot] Drop python2 support
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/postinst
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/prerm
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/rules
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/eeprom.py
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/rules
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/sonic-platform-modules-bfn-newport-as9516.postinst
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/sonic-platform-modules-bfn-newport-as9516.prerm
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/sonic-platform-modules-bfn-newport-as9516bf.postinst
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/sonic-platform-modules-bfn-newport-as9516bf.prerm
  platform/barefoot/sonic-platform-modules-bfn/debian/postinst
  platform/barefoot/sonic-platform-modules-bfn/debian/prerm
  platform/barefoot/sonic-platform-modules-bfn/debian/rules
Labels: Cleanup :droplet:, Platform: Barefoot, Python 3

#7004 [barefoot][platform] Support fans and thermal
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/chassis.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/fan_drawer.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/thermal.py
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot

#6923 [201811] Fix DELL S6000 abrupt reboot
  device/dell/x86_64-dell_s6000_s1220-r0/platform_reboot
  files/build_templates/sonic_debian_extension.j2
  files/image_config/syslog/host_umount.sh
  files/image_config/syslog/override.conf
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6000.install
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/override.conf
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/platform_reboot_override
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/platform_update_reboot_cause
Labels: Bug :bug:, Included in 201811 Branch, Platform: DellEMC

#7021 Few more python3 compatibility changes, PEP8 standard changes and add missing methods in PDDF common base APIs
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_eeprom.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_psu.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_sfp.py
Labels: Cleanup :droplet:, PDDF, Python 3

#7006 [barefoot][platform] Extend sonic_platform psu.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/psu.py
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot

#7010 [platform][barefoot] Use urllib.parse.quote
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/bfn_extensions/platform_sensors.py
Labels: Bug :bug:, Platform: Barefoot, Python 3, Request for 202012 branch

#7022 Skip thermalctld for DellEMC S5248F platform
  device/dell/x86_64-dellemc_s5248f_c3538-r0/pmon_daemon_control.json
Labels: Bug :bug:, Platform: DellEMC

#7031 [sonic-config-engine] Parse AutoNegotiation element from LinkMetadata section of minigraph file
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/fg-ecmp-sample-minigraph.xml
  src/sonic-config-engine/tests/multi_npu_data/sample-minigraph.xml
  src/sonic-config-engine/tests/sample-arista-7050-t0-minigraph.xml
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/t0-sample-autoneg-port-config.ini
  src/sonic-config-engine/tests/t0-sample-graph-mvrf.xml
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/t1-sample-graph-mlnx.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph-pc.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph-vni.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch, sonic-cfggen

#6700 [hostcfgd]: Add Ability To Configure Feature During Run-time
  files/build_scripts/mask_disabled_services.py
  src/sonic-host-services/.gitignore
  src/sonic-host-services/__init__.py
  src/sonic-host-services/pytest.ini
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/hostcfgd/__init__.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
  src/sonic-host-services/tests/hostcfgd/mock_configdb.py
  src/sonic-host-services/tests/hostcfgd/test_vectors.py
Labels: Request for 202012 branch

#7043 Fix E1031 udev rules not work for sonic os first boot after be installed
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.postinst
  platform/broadcom/sonic-platform-modules-cel/haliburton/script/reload_udev.sh
Labels: Bug :bug:, Issues for 202012, Master Branch Quality, Platform: Celestica

#7039 [ci]: add ci/pr build for 202012
  .artifactignore
  azure-pipelines.yml
Labels: ci

#7054 DHCP Relay: add -si support in dhcp docker template
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch

#7016 [Mellanox] Initialize PSU API on both host and docker side
  platform/mellanox/mlnx-platform-api/sonic_platform/platform.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 202012 branch

#7058 [Mellanox]: Fix PCIEd configuration file for SN3700 system
  device/mellanox/x86_64-mlnx_msn3700-r0/pcie.yaml
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#7049 To follow consistent naming-conventions for key-attributes of all different types of interfaces in sonic-yang-models
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
  src/sonic-yang-models/yang-models/sonic-acl.yang
  src/sonic-yang-models/yang-models/sonic-device_neighbor.yang
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-loopback-interface.yang
  src/sonic-yang-models/yang-models/sonic-port.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: yang

#7063 [201911][procdockerstatsd] Fix unit conversion for docker stats
  files/image_config/procdockerstatsd/procdockerstatsd
Labels: Bug :bug:, Included in 201911 Branch

#6439 [docker_img_ctl.j2] make tmpfs mounts optional and add ability to run container by image id
  files/build_templates/docker_image_ctl.j2
  slave.mk
Labels: appext

#5725 Backport ethtool to support QSFP-DD
  build_debian.sh
  dockers/docker-platform-monitor/Dockerfile.j2
  rules/docker-platform-monitor.mk
  rules/ethtool.dep
  rules/ethtool.mk
  src/ethtool/Makefile
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch

#7073 [201911][procdockerstatsd] Fix bug in procdockerstatsd
  files/image_config/procdockerstatsd/procdockerstatsd
Labels: Bug :bug:, Included in 201911 Branch

#7087 Decrease Connect Retry Timer for internal bgp neighbors.
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/instance.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_back_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_back_v6.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_front_v4.conf
  src/sonic-bgpcfgd/tests/data/internal/instance.conf/result_front_v6.conf
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch

#7048 [201811][sonic-config-engine] Parse AutoNegotiation element from LinkMetadata section of minigraph file
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-arista-7050-t0-minigraph.xml
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/t0-sample-autoneg-port-config.ini
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/t1-sample-graph-mlnx.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Enhancement :heavy_plus_sign:, Included in 201811 Branch, sonic-cfggen

#7047 [201911][sonic-config-engine] Parse AutoNegotiation element from LinkMetadata section of minigraph file
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/multi_npu_data/sample-minigraph.xml
  src/sonic-config-engine/tests/sample-arista-7050-t0-minigraph.xml
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/t0-sample-autoneg-port-config.ini
  src/sonic-config-engine/tests/t0-sample-graph-mvrf.xml
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/t1-sample-graph-mlnx.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph-pc.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph-vni.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: Enhancement :heavy_plus_sign:, Included in 201911 Branch, sonic-cfggen

#7084 [docker-gbsyncd-vs] Run gbsyncd_startup.py directly
  platform/vs/docker-gbsyncd-vs/supervisord.conf
Labels: Cleanup :droplet:, Request for 202012 branch

#7052 DHCP Relay: add option -si to support using src intf ip in relay
  src/isc-dhcp/patch/0012-add-option-si-to-support-using-src-intf-ip-in-relay.patch
  src/isc-dhcp/patch/series
Labels: Request for 202012 branch

#7120 [Mellanox] [201911] Fix for all SPC1 devices sai profile speed configurations
  device/mellanox/x86_64-mlnx_msn2010-r0/ACS-MSN2010/sai_2010.xml
  device/mellanox/x86_64-mlnx_msn2100-r0/ACS-MSN2100/sai_2100.xml
  device/mellanox/x86_64-mlnx_msn2410-r0/ACS-MSN2410/sai_2410.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/sai_2700.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-C28D8/sai_2700_8x50g_28x100g.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/sai_2700_8x100g_40x50g_8x10g.xml
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/sai_2700_48x50g_8x100g.xml
  device/mellanox/x86_64-mlnx_msn2740-r0/ACS-MSN2740/sai_2740.xml
Labels: Bug :bug:, Platform: Mellanox

#7057 [Mellanox] [202012] Align Mellanox-SN4600C-D112C8 SKU with SKU definition
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D112C8/port_config.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D112C8/sai_4600c_112x50g_8x100g.xml
Labels: Included in 202012 Branch

#7114 [Mellanox] Fix issue: should not initialize led color in __init__ funcation as platform API will be called by multiple daemons
  platform/mellanox/mlnx-platform-api/sonic_platform/led.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#7131 [ci]: gzip the vm image disk and memdmp
  .azure-pipelines/run-test-template.yml
Labels: ci

#7103 [platform][barefoot] Lazy initialize fans and thermals list
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/chassis.py
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot, Request for 202012 branch

#7157 [201911][procdockerstatsd] Add missing unit conversion
  files/image_config/procdockerstatsd/procdockerstatsd
Labels: Bug :bug:, Included in 201911 Branch

#7027 [Arista] add MMU configuration for Arista 7260 C64
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/sai.profile
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/sai.profile.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/th2-a7260cx3-64-64x100G-t0.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/th2-a7260cx3-64-64x100G-t1.config.bcm
Labels: Request for 202012 branch

#7169 Reduce bgp connect retry timer for general template
  dockers/docker-fpm-frr/frr/bgpd/templates/general/instance.conf.j2
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_all_v4.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_all_v6.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_base_v4.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_base_v6.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_l2vpn.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_shutdown_1.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_shutdown_2.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_timers_1.conf
  src/sonic-bgpcfgd/tests/data/general/instance.conf/result_timers_2.conf
Labels: Request for 202012 branch

#7154 [docker-gbsyncd-vs] Run new gbsyncdmgrd in lieu of deprecated gbsyncd_startup.py
  platform/vs/docker-gbsyncd-vs/critical_processes
  platform/vs/docker-gbsyncd-vs/supervisord.conf
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch

#7092 [Mellanox] Use softlink for sfputils on MSN4410 platform
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfputil.py
  device/mellanox/x86_64-mlnx_msn4410-r0/plugins/sfputil.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#7090 Updated BRCM SAI to latest drop REL_4.3.3.3
  platform/broadcom/sai.mk
Labels: Request for 202012 branch

#7083 [dockers][supervisor] Increase event buffer size for process exit listener; Set all event buffer sizes to 1024
  dockers/docker-database/supervisord.conf.j2
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  dockers/docker-fpm-frr/frr/supervisord/supervisord.conf.j2
  dockers/docker-fpm-gobgp/supervisord.conf
  dockers/docker-fpm-quagga/supervisord.conf
  dockers/docker-iccpd/supervisord.conf
  dockers/docker-lldp/supervisord.conf.j2
  dockers/docker-macsec/supervisord.conf
  dockers/docker-nat/supervisord.conf
  dockers/docker-orchagent/supervisord.conf
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
  dockers/docker-router-advertiser/docker-router-advertiser.supervisord.conf.j2
  dockers/docker-sflow/supervisord.conf
  dockers/docker-snmp/supervisord.conf
  dockers/docker-sonic-mgmt-framework/supervisord.conf
  dockers/docker-sonic-restapi/supervisord.conf
  dockers/docker-sonic-telemetry/supervisord.conf
  dockers/docker-teamd/supervisord.conf
  platform/barefoot/docker-syncd-bfn/supervisord.conf
  platform/broadcom/docker-syncd-brcm/supervisord.conf
  platform/cavium/docker-syncd-cavm/supervisord.conf
  platform/centec-arm64/docker-syncd-centec/supervisord.conf
  platform/centec/docker-syncd-centec/supervisord.conf
  platform/innovium/docker-syncd-invm/supervisord.conf
  platform/marvell-arm64/docker-syncd-mrvl/supervisord.conf
  platform/marvell-armhf/docker-syncd-mrvl/supervisord.conf
  platform/marvell/docker-syncd-mrvl/supervisord.conf
  platform/mellanox/docker-syncd-mlnx/supervisord.conf
  platform/nephos/docker-syncd-nephos/supervisord.conf
  platform/vs/docker-gbsyncd-vs/supervisord.conf
  platform/vs/docker-syncd-vs/supervisord.conf
  src/sonic-config-engine/tests/sample_output/py2/docker-dhcp-relay.supervisord.conf
  src/sonic-config-engine/tests/sample_output/py3/docker-dhcp-relay.supervisord.conf
Labels: Bug :bug:, Enhancement :heavy_plus_sign:, Request for 202012 branch

#6968 [sonic-yang-models] fix ip_type value in test cases
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
Labels: yang

#6915 [yang-models]: Remove PLY Extensions and change translation code.
  src/sonic-yang-mgmt/sonic_yang.py
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-mgmt/tests/libyang-python-tests/test_sonic_yang.py
  src/sonic-yang-models/yang-models/sonic-acl.yang
  src/sonic-yang-models/yang-models/sonic-breakout_cfg.yang
  src/sonic-yang-models/yang-models/sonic-device_neighbor.yang
  src/sonic-yang-models/yang-models/sonic-extension.yang
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-loopback-interface.yang
  src/sonic-yang-models/yang-models/sonic-port.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: yang

#7034 SONiC Yang model for PORTCHANNEL_INTERFACE table
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
  src/sonic-yang-models/yang-models/sonic-acl.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-types.yang
Labels: yang

#7106 [201911][dockers][supervisor] Increase event buffer size for process exit listener; Set all event buffer sizes to 1024
  dockers/docker-database/supervisord.conf.j2
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  dockers/docker-fpm-frr/supervisord.conf
  dockers/docker-fpm-gobgp/supervisord.conf
  dockers/docker-fpm-quagga/supervisord.conf
  dockers/docker-lldp-sv2/supervisord.conf.j2
  dockers/docker-nat/supervisord.conf
  dockers/docker-orchagent/supervisord.conf
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
  dockers/docker-router-advertiser/docker-router-advertiser.supervisord.conf.j2
  dockers/docker-sflow/supervisord.conf
  dockers/docker-snmp-sv2/supervisord.conf
  dockers/docker-sonic-mgmt-framework/supervisord.conf
  dockers/docker-sonic-restapi/supervisord.conf
  dockers/docker-sonic-telemetry/supervisord.conf
  dockers/docker-teamd/supervisord.conf
  platform/barefoot/docker-syncd-bfn/supervisord.conf
  platform/broadcom/docker-syncd-brcm/supervisord.conf
  platform/cavium/docker-syncd-cavm/supervisord.conf
  platform/centec/docker-syncd-centec/supervisord.conf
  platform/innovium/docker-syncd-invm/supervisord.conf
  platform/marvell-arm64/docker-syncd-mrvl/supervisord.conf
  platform/marvell-armhf/docker-syncd-mrvl/supervisord.conf
  platform/marvell/docker-syncd-mrvl/supervisord.conf
  platform/mellanox/docker-syncd-mlnx/supervisord.conf
  platform/nephos/docker-syncd-nephos/supervisord.conf
  platform/vs/docker-syncd-vs/supervisord.conf
  src/sonic-config-engine/tests/sample_output/docker-dhcp-relay.supervisord.conf
Labels: Bug :bug:, Enhancement :heavy_plus_sign:, Included in 201911 Branch

#7066 Marvell prestera kernel driver
  platform/marvell-armhf/linux-kernel-armhf.mk
  platform/marvell-armhf/linux/Makefile
  platform/marvell-armhf/one-image.mk
  platform/marvell-armhf/prestera.mk
  platform/marvell-armhf/prestera/debian/changelog
  platform/marvell-armhf/prestera/debian/compat
  platform/marvell-armhf/prestera/debian/control
  platform/marvell-armhf/prestera/debian/mrvlprestera.install.template
  platform/marvell-armhf/prestera/debian/rules
  platform/marvell-armhf/rules.mk
Labels: Enhancement :heavy_plus_sign:, Platform: Marvell

#7183 [201911][procdockerstatsd] fix typo for variable name
  files/image_config/procdockerstatsd/procdockerstatsd
Labels: Bug :bug:, Included in 201911 Branch

#7181 [sonic-thermalctld] Depend on sonic-platform-common
  rules/sonic-thermalctld.mk
Labels: Request for 202012 branch, dependencies

#7020 [sonic-portchannel.yang]: YANG models for PORTCHANNEL_MEMBER table.
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
Labels: yang

#5963 [yang] update yang model, add autoneg to sonic-port
  device/accton/x86_64-accton_as4630_54pe-r0/Accton-AS4630-54PE/port_config.ini
  device/accton/x86_64-accton_as4630_54te-r0/Accton-AS4630-54TE/port_config.ini
  device/accton/x86_64-accton_as5812_54t-r0/Accton-AS5812-54T/port_config.ini
  device/arista/x86_64-arista_7170_64c/Arista-7170-Q59S20/port_config.ini
  device/barefoot/x86_64-accton_as9516_32d-r0/newport/port_config.ini
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/montara/hwsku.json
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/montara/port_config.ini
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/mavericks/hwsku.json
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/mavericks/port_config.ini
  device/celestica/x86_64-cel_e1031-r0/Celestica-E1031-T48S4/port_config.ini
  device/ingrasys/x86_64-ingrasys_s9180_32x-r0/INGRASYS-S9180-32X/port_config.ini
  device/ingrasys/x86_64-ingrasys_s9280_64x-r0/INGRASYS-S9280-64X/port_config.ini
  device/inventec/x86_64-inventec_d6332-r0/INVENTEC-D6332/port_config.ini
  device/wnc/x86_64-wnc_osw1800-r0/OSW1800-48x6q/port_config.ini
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: yang

#7182 [sonic-psud] Depend on sonic-platform-common
  rules/sonic-psud.mk
Labels: Request for 202012 branch, dependencies

#7146 Update versions_manager.py to make versions map key unique
  scripts/versions_manager.py
Labels: Build :hammer:

#6909 [201911][DellEMC] Fix abrupt reboot in S6000
  device/dell/x86_64-dell_s6000_s1220-r0/platform_reboot
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6000.install
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/override.conf
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/platform_reboot_override
  platform/broadcom/sonic-platform-modules-dell/s6000/scripts/platform_update_reboot_cause
Labels: Bug :bug:, Platform: DellEMC, Request for 201911 Branch :shipit:

#7067 Update issue_template.md
  .github/issue_template.md
Labels: Documentation :book:

#6939 Split yang tests into multiple files
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests/breakout.json
  src/sonic-yang-models/tests/yang_model_tests/tests/crm.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests/flex_counter.json
  src/sonic-yang-models/tests/yang_model_tests/tests/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests/loopback.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests/versions.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/breakout.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/crm.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/loopback.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/versions.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
Labels: yang

#7200 [device][barefoot] Skip psud for Newport
  device/barefoot/x86_64-accton_as9516_32d-r0/pmon_daemon_control.json
Labels: Platform: Barefoot, Request for 202012 branch

#7166 [202012][sonic-config-engine] Parse AutoNegotiation element from LinkMetadata section of minigraph file
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/fg-ecmp-sample-minigraph.xml
  src/sonic-config-engine/tests/multi_npu_data/sample-minigraph.xml
  src/sonic-config-engine/tests/sample-arista-7050-t0-minigraph.xml
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/t0-sample-autoneg-port-config.ini
  src/sonic-config-engine/tests/t0-sample-graph-mvrf.xml
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/t1-sample-graph-mlnx.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph-pc.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph-vni.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: Enhancement :heavy_plus_sign:, Included in 202012 Branch, minigraph :world_map:, sonic-cfggen
