Repository sonic-net/sonic-buildimage, pull requests merged in 2021-01, with the labels that each got.

#6298 Enable rsyslogd notify mode for supervisord logs in docker container
  dockers/docker-base/etc/rsyslog.d/supervisor.conf
Labels: Request for 201911 Branch :shipit:

#6337 Fix the host image version path permission issue
  build_debian.sh
  scripts/collect_host_image_version_files.sh
Labels: Bug :bug:, Build :hammer:

#6340 [frr]: change frr debug package to extra to avoid build break for dbg…
  rules/frr.mk
Labels: Request for 202012 branch

#6347 [BFN] Convert platform modules to python 3
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/sfp.py
Labels: Platform: Barefoot, Python 3, Request for 202012 branch

#6322 [DellEMC] Add platform-modules as prerequisite for determine-reboot-cause
  platform/broadcom/sonic-platform-modules-dell/s5232f/systemd/platform-modules-s5232f.service
  platform/broadcom/sonic-platform-modules-dell/s6000/systemd/platform-modules-s6000.service
  platform/broadcom/sonic-platform-modules-dell/s6100/systemd/platform-modules-s6100.service
  platform/broadcom/sonic-platform-modules-dell/z9100/systemd/platform-modules-z9100.service
  platform/broadcom/sonic-platform-modules-dell/z9264f/systemd/platform-modules-z9264f.service
  platform/broadcom/sonic-platform-modules-dell/z9332f/systemd/platform-modules-z9332f.service
Labels: Bug :bug:, Platform: DellEMC, Request for 202012 branch

#6350 [docker-sonic-vs]: reduce the build steps for docker-sonic-vs
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: Request for 202012 branch

#6118 lldp defect miscellaneous fixes as patches
  src/lldpd/patch/0010-Ported-fix-for-length-exceeded-from-lldp-community.patch
  src/lldpd/patch/0011-fix-med-location-len.patch
  src/lldpd/patch/series
Labels: LLDP, brcm-upstream

#6348 Install the latest version of the sonic build hooks in slave container
  scripts/prepare_slave_container_buildinfo.sh
  scripts/versions_manager.py
Labels: Bug :bug:

#5911 After first bootup, the FEATURE table is not present in CONFIG_DB
  files/image_config/config-setup/config-setup
Labels: brcm-upstream

#6344 [xcvrd] Remove dependency on SONIC_PLATFORM_API_PY2 and SONIC_PLATFORM_API_PY3
  rules/sonic-xcvrd.mk
Labels: Cleanup :droplet:, Request for 202012 branch

#6307 [Barefoot] [201911] Fix default profile for Newport
  device/barefoot/x86_64-accton_as9516_32d-r0/syncd.conf
Labels: Included in 201911 Branch, Platform: Barefoot

#6349 [determine-reboot-cause] Ignore non-hardware reboot cause
  src/sonic-host-services/scripts/determine-reboot-cause
Labels: Bug :bug:, Request for 202012 branch

#6351 Explicitly set the notify mode for ryslog imfile module
  dockers/docker-base/etc/rsyslog.d/supervisor.conf
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch

#6261 DellEMC: Z9332f change SFP detection logic
  platform/broadcom/sonic-platform-modules-dell/z9332f/scripts/z9332f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: DellEMC

#6114 docker-lldp: Sonic devices advertise themeselves as simple "debian" over lldp instead of sonic
  dockers/docker-lldp/Dockerfile.j2
  dockers/docker-lldp/lldpdSysDescr.conf.j2
  dockers/docker-lldp/start.sh
Labels: brcm-upstream

#6364 [Nokia]: Enable Telemetry for armhf and provide required qos files
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/buffers.json.j2
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/qos.json.j2
  platform/marvell-armhf/rules.mk
  slave.mk
Labels: Request for 202012 branch

#6368 Updated imfile configuration for supervisord logs
  dockers/docker-base-buster/etc/rsyslog.d/supervisor.conf
  dockers/docker-base-stretch/etc/rsyslog.d/supervisor.conf
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch

#6371 [system-health] Make `run_command()` Python 3-compliant
  src/system-health/health_checker/utils.py
Labels: Bug :bug:, Python 3, Request for 202012 branch

#6373 [README] Update build badges to include 202012 build status
  README.md
Labels: Documentation :book:

#6286 [PDDF] Build and install Python 3 package
  build_debian.sh
  dockers/docker-platform-monitor/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
  platform/pddf/platform-api-pddf-base.dep
  platform/pddf/platform-api-pddf-base.mk
  platform/pddf/platform-api-pddf-base/setup.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_chassis.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_eeprom.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_fan.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_platform.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_psu.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_sfp.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_thermal.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddfparse.py
  slave.mk
Labels: PDDF, Python 3, Request for 202012 branch

#6285 Take a copy of existing TACACS credentials and restore it during upgrade
  files/image_config/config-setup/config-setup
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, Request for 202006 Branch

#6384 [ci]: Set up CI with Azure Pipelines
  .artifactignore
  azure-pipelines.yml
Labels: Build :hammer:

#6251 [Monit] Monitoring the running status of containers.
  files/build_templates/sonic_debian_extension.j2
  files/image_config/monit/conf.d/sonic-host
  files/image_config/monit/container_checker
Labels: Request for 202012 branch

#6370 [bgpcfgd]: Support default action for "Allow prefix" feature
  dockers/docker-fpm-frr/TSA
  dockers/docker-fpm-frr/TSB
  dockers/docker-fpm-frr/TSC
  dockers/docker-fpm-frr/frr/bgpd/templates/general/policies.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/tsa/bgpd.tsa.isolate.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/tsa/bgpd.tsa.unisolate.conf.j2
  src/sonic-bgpcfgd/bgpcfgd/managers_allow_list.py
  src/sonic-bgpcfgd/tests/data/general/policies.conf/param_all.json
  src/sonic-bgpcfgd/tests/data/general/policies.conf/param_deny.json
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_deny.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/tsa/isolate.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/tsa/unisolate.conf
  src/sonic-bgpcfgd/tests/test_allow_list.py
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch, bgp

#6400 [201811][bcm SAI] ugprade Broadcom SAI to version 3.5.3.6-2
  platform/broadcom/sai.mk
Labels: Included in 201811 Branch, brcmsai

#6411 Fix web package md5 hash not correct issue
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:

#6407 [201811] Restore from TACACS backup during config-update as needed
  files/image_config/updategraph/updategraph
Labels: Included in 201811 Branch

#6409 [ci]: add mellanox build to azure-pipeline
  azure-pipelines.yml
Labels: ci

#6326 [as7326-54x] Remove not need executable flag
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/service/as4630-54pe-platform-monitor-fan.service
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/service/as4630-54pe-platform-monitor-psu.service
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/service/as4630-54pe-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-handle_mac.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-monitor-fan.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-monitor-psu.service
  platform/broadcom/sonic-platform-modules-accton/as7326-56x/service/as7326-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/service/as7726-32x-platform-handle_mac.service
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/service/as7726-32x-platform-monitor-fan.service
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/service/as7726-32x-platform-monitor-psu.service
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/service/as7726-32x-platform-monitor.service
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/service/as9716-32d-platform-monitor-fan.service
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/service/as9716-32d-platform-monitor-psu.service
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/service/as9716-32d-platform-monitor.service
Labels: Cleanup :droplet:, Platform: Accton

#6419 [Mellanox] [platform API] Fix “local variable 'label_port' referenced before assignment” error
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Labels: Bug :bug:, Platform: Mellanox, Request for 201911 Branch :shipit:

#6423 [Centec]Fix Centec platform compile fail, Upgrade stretch to buster for docker-syncd-centec-rpc and docker-saiserver-centec
  platform/centec-arm64/docker-saiserver-centec.mk
  platform/centec-arm64/docker-syncd-centec-rpc.mk
  platform/centec/docker-syncd-centec-rpc.mk
  platform/centec/platform-modules-embedway.mk
Labels: Enhancement :heavy_plus_sign:, Platform: Centec, Request for 202012 branch

#6416 [Platform][nokia]: python3-smbus package add with python3 and jinja fixes
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/buffers.json.j2
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/qos.json.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/watchdog.py
Labels: Platform: Nokia

#6422 Fix py3 version changed even version control enabled issue
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/symlink_build_hooks
Labels: Build :hammer:

#6414 Update swi-tools in buster Dockerfile
  sonic-slave-buster/Dockerfile.j2
Labels: Platform: Arista, Python 3, Request for 202012 branch

#6435 [Mellanox] Fix issue: need import initialize_sdk_handle in get_sdk_handle
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#6431 [ci]: cleanup fsroot reliably
  azure-pipelines.yml
Labels: Enhancement :heavy_plus_sign:, ci

#6393 Fix for missing dependencies in the DPKG framework
  platform/vs/rules.dep
  rules/functions
  rules/sonic-platform-common.dep
  rules/sonic-ztp.dep
Labels: Build :hammer:, brcm-upstream

#6432 [swss] Depend on Python 3 version of swsscommon rather than Python 2
  rules/swss.mk
Labels: Python 3, Request for 202012 branch

#6441 Remove things needed for building Python 3 from source
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-jessie/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/python3/.gitignore
  src/python3/Makefile
Labels: Build :hammer:, Cleanup :droplet:, Python 3

#6442 [sonic-platform-common] Enable unit tests during build for Python 3 package
  rules/sonic-platform-common.mk
Labels: Enhancement :heavy_plus_sign:, Python 3, Request for 202012 branch, Unit Tests

#6454 [warm boot finalizer] only wait for enabled components to reconcile
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Labels: Bug :bug:, Request for 202012 branch

#6460 [Mellanox] PSU and module thermals are no longer child of chassis
  device/mellanox/x86_64-mlnx_msn2700-r0/platform.json
Labels: Platform: Mellanox, Request for 202012 branch

#6458 [Mellanox][platform api] fix a missing module import
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
Labels: Bug :bug:, Platform: Mellanox, Request for 201911 Branch :shipit:, Request for 202012 branch

#6440 [minigraph.py]: Check for empty cluster tag before parsing
  src/sonic-config-engine/minigraph.py
Labels: Request for 201911 Branch :shipit:

#6168 [device/accton] As7816-64x, fix memory leakage on accton fan monitor.
  platform/broadcom/sonic-platform-modules-accton/as7816-64x/utils/accton_as7816_monitor.py
Labels: Bug :bug:, Platform: Accton

#6089 [device/celestica]: Add thermalctld support on DX010 platform APIs
  device/celestica/x86_64-cel_seastone-r0/fancontrol-B2F
  device/celestica/x86_64-cel_seastone-r0/fancontrol-F2B
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/thermal.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/thermal_actions.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/thermal_conditions.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/thermal_infos.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/thermal_manager.py
  device/celestica/x86_64-cel_seastone-r0/system_health_monitoring_config.json
  device/celestica/x86_64-cel_seastone-r0/thermal_overload_control.sh
  device/celestica/x86_64-cel_seastone-r0/thermal_policy.json
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.install
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.postinst
  platform/broadcom/sonic-platform-modules-cel/dx010/scripts/fancontrol.sh
  platform/broadcom/sonic-platform-modules-cel/services/fancontrol/fancontrol
Labels: Enhancement :heavy_plus_sign:, Platform: Celestica, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch

#6465 [Mellanox] Make determine-reboot-cause service start after hw-management service
  platform/mellanox/hw-management/0001-Make-SONiC-determine-reboot-cause-service-start-afte.patch
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#6469 [build arm] fix sonic-slave-buster build break
  sonic-slave-buster/Dockerfile.j2
Labels: Build :hammer:

#6279 [DPB][YANG-models] extended regex pattern according to Mellanox systems speeds requirements
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
  src/sonic-yang-models/yang-models/sonic-breakout_cfg.yang
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: Enhancement :heavy_plus_sign:

#6003 [DPB] [Mellanox] added capability files for SN2700 platform
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/hwsku.json
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-C28D8/hwsku.json
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/hwsku.json
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700/hwsku.json
  device/mellanox/x86_64-mlnx_msn2700-r0/platform.json
Labels: Platform: Mellanox

#6013 [DPB] [Mellanox] added capability files for SN3800 platform
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/hwsku.json
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-C64/hwsku.json
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/hwsku.json
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/hwsku.json
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/hwsku.json
  device/mellanox/x86_64-mlnx_msn3800-r0/platform.json
Labels: Platform: Mellanox

#6015 [DPB] [Mellanox] added capability files for SN2010 platform
  device/mellanox/x86_64-mlnx_msn2010-r0/ACS-MSN2010/hwsku.json
  device/mellanox/x86_64-mlnx_msn2010-r0/platform.json
Labels: Platform: Mellanox

#6016 [DPB] [Mellanox] added capability files for SN2100 platform
  device/mellanox/x86_64-mlnx_msn2100-r0/ACS-MSN2100/hwsku.json
  device/mellanox/x86_64-mlnx_msn2100-r0/platform.json
Labels: Platform: Mellanox

#6017 [DPB] [Mellanox] added capability files for SN2410 platform
  device/mellanox/x86_64-mlnx_msn2410-r0/ACS-MSN2410/hwsku.json
  device/mellanox/x86_64-mlnx_msn2410-r0/platform.json
Labels: Platform: Mellanox

#6021 [DPB] [Mellanox] added capability files for SN3700 platform
  device/mellanox/x86_64-mlnx_msn3700-r0/ACS-MSN3700/hwsku.json
  device/mellanox/x86_64-mlnx_msn3700-r0/platform.json
Labels: Platform: Mellanox

#6059 [DPB] [Mellanox] added capability files for SN4410 platform
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/hwsku.json
  device/mellanox/x86_64-mlnx_msn4410-r0/platform.json
Labels: Platform: Mellanox

#6061 [DPB] [Mellanox] added capability files for SN4600C platform
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/hwsku.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D112C8/hwsku.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/platform.json
Labels: Platform: Mellanox

#6471 [mellanox]: fix mellanox hw-management build
  platform/mellanox/hw-management/Makefile
Labels: Build :hammer:

#6494 [ci]: build docker-sonic-vs.gz in kvm build pipeline
  .artifactignore
  azure-pipelines.yml
Labels: ci

#6020 [DPB] [Mellanox] added capability files for SN3420 platform
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/hwsku.json
  device/mellanox/x86_64-mlnx_msn3420-r0/platform.json
Labels: Platform: Mellanox

#4806 [FRR] Added support for L3VNI for EVPN as described in the PR Azure/SONiC#437
  src/sonic-frr/patch/0008-Add-support-of-bgp-l3vni-evpn.patch
  src/sonic-frr/patch/series
Labels: Request for 202012 branch

#6242 [supervisord] Monitoring the critical processes with supervisord.
  dockers/docker-database/supervisord.conf.j2
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  dockers/docker-fpm-frr/frr/supervisord/supervisord.conf.j2
  dockers/docker-fpm-gobgp/supervisord.conf
  dockers/docker-fpm-quagga/supervisord.conf
  dockers/docker-lldp/supervisord.conf.j2
  dockers/docker-nat/supervisord.conf
  dockers/docker-orchagent/supervisord.conf
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
  dockers/docker-router-advertiser/docker-router-advertiser.supervisord.conf.j2
  dockers/docker-sflow/supervisord.conf
  dockers/docker-snmp/supervisord.conf
  dockers/docker-sonic-restapi/supervisord.conf
  dockers/docker-sonic-telemetry/supervisord.conf
  dockers/docker-teamd/supervisord.conf
  files/scripts/supervisor-proc-exit-listener
  platform/barefoot/docker-syncd-bfn/supervisord.conf
  platform/broadcom/docker-syncd-brcm/supervisord.conf
  platform/cavium/docker-syncd-cavm/supervisord.conf
  platform/centec-arm64/docker-syncd-centec/supervisord.conf
  platform/centec/docker-syncd-centec/supervisord.conf
  platform/marvell-arm64/docker-syncd-mrvl/supervisord.conf
  platform/marvell-armhf/docker-syncd-mrvl/supervisord.conf
  platform/marvell/docker-syncd-mrvl/supervisord.conf
  platform/mellanox/docker-syncd-mlnx/supervisord.conf
  platform/nephos/docker-syncd-nephos/supervisord.conf
  platform/vs/docker-gbsyncd-vs/supervisord.conf
  platform/vs/docker-syncd-vs/supervisord.conf
  src/sonic-config-engine/tests/sample_output/py2/docker-dhcp-relay.supervisord.conf
  src/sonic-config-engine/tests/sample_output/py3/docker-dhcp-relay.supervisord.conf
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch

#6528 [pmon] Run ledd using python3 unless excluded
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
Labels: Python 3, Request for 202012 branch

#6538 Add missing dependency PYTHON2_SWSSCOMMON for docker-config-engine-stretch
  rules/docker-config-engine-stretch.mk
Labels: Bug :bug:

#6536 [DellEMC Z9332f] Remove duplicate ipmihelper.py script
  platform/broadcom/sonic-platform-modules-dell/common/ipmihelper.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/ipmihelper.py
Labels: Bug :bug:, Build :hammer:, Platform: DellEMC, Request for 202012 branch

#6534 [process-reboot-cause] Make process-reboot-cause script executable
  src/sonic-host-services/scripts/process-reboot-cause
Labels: Bug :bug:, Request for 202012 branch

#6532 [build-docker-buster]: Install libboost 1.171 In Build Docker
  sonic-slave-buster/Dockerfile.j2
Labels: Request for 202012 branch

#6533 [sonic-host-services] Report unit test coverage
  src/sonic-host-services/pytest.ini
Labels: Request for 202012 branch, Unit Tests

#6539 [201911] Fix Build error when installing pip
  build_debian.sh
Labels: Request for 201911 Branch :shipit:

#6487 [barefoot] Fixes for platform API
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/eeprom.py
Labels: Bug :bug:, Platform: Barefoot, Request for 202012 branch

#6278 [DPB] [Mellanox] added capability files for SN4700 platform
  device/mellanox/x86_64-mlnx_msn4700-r0/ACS-MSN4700/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/platform.json
Labels: Platform: Mellanox

#6277 [DPB] [Mellanox] added capability files for SN3700C platform
  device/mellanox/x86_64-mlnx_msn3700c-r0/ACS-MSN3700C/hwsku.json
  device/mellanox/x86_64-mlnx_msn3700c-r0/platform.json
Labels: Platform: Mellanox

#6522 [ci]: build ptf and syncd-rpc for broadcom and mellanox
  azure-pipelines.yml
Labels: ci

#6470 [yang_model_test]: Tests for default value of docker_routing_config_m…
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/yangTest.json
Labels: yang

#6506 [ci]: add vs tests
  azure-pipelines.yml
Labels: ci

#6527 [dhcp-relay]: Launch DHCP Relay On L3 Vlan
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  src/sonic-config-engine/tests/t0-sample-graph.xml
Labels: Bug :bug:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch

#6565 [ci]: add -k ceos option to setup t0 testbed
  azure-pipelines.yml
Labels: ci

#6567 [ci]: archive kvmtest artifacts
  azure-pipelines.yml
Labels: ci

#6551 [201911][Mellanox] Add hw-mgmt patch to support SDK OFFLINE event handling during ISSU
  platform/mellanox/hw-management/0002-hw-mgmt-events-Add-support-for-SDK-OFFLINE-event-for.patch
Labels: Bug :bug:, Platform: Mellanox

#6546 [bgpmon]: Fix exception in bgpmon caused by duplicate bgp neighbor ID
  src/sonic-bgpcfgd/bgpmon/bgpmon.py
Labels: Bug :bug:

#6550 [Mellanox] Add hw-mgmt patch to support SDK OFFLINE event handling during ISSU
  platform/mellanox/hw-management/0002-hw-mgmt-events-Add-support-for-SDK-OFFLINE-event-for.patch
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch

#6542 Updates for Ebtables and support for multi-asic.
  build_debian.sh
  files/build_templates/docker_image_ctl.j2
  files/image_config/ebtables/ebtables.default
  files/image_config/ebtables/ebtables.init
  files/image_config/ebtables/ebtables.service
  files/image_config/platform/rc.local
Labels: Request for 201911 Branch :shipit:

#6587 [docker-sonic-vs] Install sonic-platform-common package
  platform/vs/docker-sonic-vs.mk
Labels: Enhancement :heavy_plus_sign:, vs :vs:

#6511 Bump pyyaml from 5.3.1 to 5.4.1
  sonic-slave-buster/Dockerfile.j2
  src/sonic-bgpcfgd/setup.py
  src/sonic-config-engine/setup.py
  src/sonic-frr-mgmt-framework/setup.py
Labels: dependencies

#6591 [multi asic] add ip netns identify command to sudoer
  files/image_config/sudoers/sudoers
Labels: Bug :bug:, Multi-ASIC, Request for 201911 Branch :shipit:, Request for 202012 branch

#6598 Revert "[build]: disable unit tests for sonic-utilities"
  rules/sonic-utilities.mk
Labels: Request for 202012 branch

#6597 [build_debian.sh] Freeze pip2 < version 21
  build_debian.sh
Labels: Request for 202012 branch, dependencies

#6415 [sonic-device-data]: Update BRCM Tunnel/ECMP Parameter For 7050cx3 48x50G+8x100G
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/td3-a7050cx3-32s-32x100G.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/td3-a7050cx3-32s-48x50G+8x100G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Request for 202012 branch

#6607 [barefoot][platform] platform API 2.0 fixes
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/eeprom.py
Labels: Bug :bug:, Platform: Barefoot
