Repository sonic-net/sonic-buildimage, pull requests merged in 2021-08, with the labels that each got.

#8303 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-git
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#8298 Update default cable len to 0m for TD2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX32S-Q32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX32S-Q32/buffers_defaults_t1.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers_defaults_def.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers_defaults_t1.j2
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch, Request for 202106 branch

#8233 Add service to restore TACACS from old config (#7560)
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/tacacs-config.service
  files/build_templates/tacacs-config.timer
  files/image_config/updategraph/updategraph
Labels: Enhancement :heavy_plus_sign:

#8283 [sonic-buildimage] create and mount firmware directory on PMON for firmware upgrade support on muxcable
  files/build_templates/docker_image_ctl.j2
  files/build_templates/sonic_debian_extension.j2
Labels: Request for 202012 branch

#8309 [Mellanox][Pcie] Fix issue on pcied with an id that contains only decimal digits was treated as a decimal number
  platform/mellanox/mlnx-platform-api/sonic_platform/pcie.py
Labels: Request for 202012 branch, Request for 202106 branch

#8019 add j2cli to sonic_debian_extension.j2
  files/build_templates/sonic_debian_extension.j2
Labels: Request for 202012 branch, Request for 202106 branch

#8018 add python3-jsonschema to dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: Request for 202012 branch, Request for 202106 branch

#8324 [build] Always use -j1 for libsnmp to avoid race condition
  src/snmpd/Makefile
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch

#8322 [sonic-config] Include buffer templates in config dependency list
  rules/sonic-config.dep
Labels: Enhancement :heavy_plus_sign:, dependencies

#8331 Enable reproducible build for git/docker
  .azure-pipelines/docker-sonic-slave.yml
  .azure-pipelines/official-build.yml
Labels: Build :hammer:

#8304 Dell S6100: Monitor serial-getty service
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_serial_getty_monitor
Labels: Request for 202012 branch, Request for 202106 branch

#8144 [gearbox] Add gbsyncd container for Credo gearbox chips
  files/build_templates/gbsyncd-credo.service.j2
  files/build_templates/gbsyncd.service.j2
  files/build_templates/sonic_debian_extension.j2
  files/scripts/gbsyncd-platform.sh
  files/scripts/gbsyncd.sh
  platform/broadcom/rules.dep
  platform/broadcom/rules.mk
  platform/components/docker-gbsyncd-credo.dep
  platform/components/docker-gbsyncd-credo.mk
  platform/components/docker-gbsyncd-credo/Dockerfile.j2
  platform/components/docker-gbsyncd-credo/critical_processes.j2
  platform/components/docker-gbsyncd-credo/docker-init.sh
  platform/components/docker-gbsyncd-credo/start.sh
  platform/components/docker-gbsyncd-credo/supervisord.conf.j2
  platform/template/docker-gbsyncd-base.mk
Labels: gearbox

#8345 [ARM] Fix issue whre the ping6 tool is missing from orchagent docker
  dockers/docker-orchagent/Dockerfile.j2
Labels: Bug :bug:, Issues for 202012, Master Branch Quality, Platform: Nokia, Request for 202012 branch, Request for 202106 branch

#8341 Dell Z9332 systems optimized MMU settings for T0/T1 topology
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
Labels: Master Branch Quality, Request for 202012 branch

#8172 Platform/cisco-8000 module for sonic-buildimage
  .gitignore
  Makefile
  platform/checkout/cisco-8000.ini
  platform/checkout/template.j2
Labels: Request for 202012 branch, Request for 202106 branch

#8329 DellEMC: Add pcie.yaml for Z9332f
  device/dell/x86_64-dellemc_z9332f_d1508-r0/pcie.yaml
Labels: Request for 202012 branch, Request for 202106 branch

#8258 DellEMC: Z9332f platform API changes
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/sfp.py
Labels: Request for 202012 branch, Request for 202106 branch

#7473 SONiC Yang model for sFlow feature
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sflow.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sflow.json
  src/sonic-yang-models/yang-models/sonic-sflow.yang
Labels: yang

#8354 Revert "Revert "Update default cable len to 0m for TD2""
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX32S-Q32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX32S-Q32/buffers_defaults_t1.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers_defaults_def.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers_defaults_t0.j2
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/buffers_defaults_t1.j2
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: Request for 202012 branch, Request for 202106 branch

#8222 caclmgrd: monitor state_db to update dhcp acl
  src/sonic-host-services/scripts/caclmgrd
Labels: Control Plane ACL, DHCP Relay, Request for 202012 branch

#8358 [202012] Enable Autorestart of the daemons in PMON for unexpected exit
  dockers/docker-platform-monitor/critical_processes
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
Labels: Included in 202012 Branch

#8376 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-arm64
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-armhf
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-git
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-git
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#8375 [build]: add debug info for dpkg frontend lock
  slave.mk
Labels: Build :hammer:

#8359 caclmgrd: add test code to check dhcp acl update
  src/sonic-host-services/pytest.ini
  src/sonic-host-services/tests/caclmgrd/__init__.py
  src/sonic-host-services/tests/caclmgrd/caclmgrd_dhcp_test.py
  src/sonic-host-services/tests/caclmgrd/test_dhcp_vectors.py
  src/sonic-host-services/tests/common/mock_configdb.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_radius_test.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
Labels: Control Plane ACL, DHCP Relay, Request for 202012 branch

#8393 Caclmgrd: fix a minor bug
  src/sonic-host-services/scripts/caclmgrd
Labels: Bug :bug:, Control Plane ACL, Request for 202012 branch

#8395 Fix TH3 Warm-reboot failure due to Tunnel termination SAI failure
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-C32/th3-z9332f-32x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Platform: Broadcom, warmboot :boot:, Request for 202012 branch, Request for 202106 branch

#8330 Reproducible build add docker image debian* to white list.
  scripts/docker_version_control.sh
Labels: Request for 202012 branch, Request for 202106 branch

#7965 [hostcfgd] Delay hostcfgd and aaastatsd for faster boot time
  src/sonic-host-services-data/debian/sonic-host-services-data.aaastatsd.service
  src/sonic-host-services-data/debian/sonic-host-services-data.aaastatsd.timer
  src/sonic-host-services-data/debian/sonic-host-services-data.hostcfgd.service
  src/sonic-host-services-data/debian/sonic-host-services-data.hostcfgd.timer
Labels: Request for 202012 branch, Request for 202106 branch

#8210 [reboot-cause] Fixed determine-reboot-cause.service failure.
  src/sonic-host-services/scripts/determine-reboot-cause
Labels: Request for 202012 branch, Request for 202106 branch

#8382 BRCM Disable ACL Drop counted towards interface RX_DRP counters
  device/arista/x86_64-arista_7050_qx32/Arista-7050-Q16S64/td2-a7050-qx32-16x40G+32x10G+8x40G.config.bcm
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/td2-a7050-qx32-32x40G.config.bcm
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/td2-a7050-q31s4-31x40G-4x10G.config.bcm
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX32S-Q32/td2-a7050-qx32s-32x40G.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/th-a7060-cx32s-32x100G-t1.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/th-a7060-cx32s-8x100G+48x50G.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q24C8/th-a7060-cx32s-8x100G+24x40G.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/th-a7060-cx32s-32x40G-t0.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/th-a7060-cx32s-32x40G-t1.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-T96C8/th-a7060-cx32s-8x100G+96x25G.config.bcm
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-C64/th3-a7060px4-32-64x100G.config.bcm
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-O32/th3-a7060px4-o32-32x400G.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  device/broadcom/x86_64-bcm_xlr-r0/BCM956960K/th_32x100.config.bcm
  device/celestica/x86_64-cel_e1031-r0/Celestica-E1031-T48S4/helix4-e1031-48x1G+4x10G.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/th-seastone-dx010-32x100G-t0.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/th-seastone-dx010-48x50G+8x100G.config.bcm
  device/celestica/x86_64-cel_seastone-r0/th-seastone-dx010-config-flex-all.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q20S48/td2-s6000-20x40G-48x10G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/td2-s6000-24x40G-32x10G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/td2-s6000-28x40G-16x10G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/td2-s6000-32x40G.config.bcm
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/th-s6100-64x40G-t0.config.bcm
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/th-s6100-64x40G-t1.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-C32/th3-z9332f-32x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
Labels: Platform: Broadcom, Request for 202106 branch

#8420 Updated PGHeadroom settings for 400G speed (DellEMC-Z9332f-M-O16C64 &…
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/pg_profile_lookup.ini
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/pg_profile_lookup.ini
Labels: Master Branch Quality, Request for 202012 branch

#8383 [202012] BRCM Disable ACL Drop counted towards interface RX_DRP counters
  device/arista/x86_64-arista_7050_qx32/Arista-7050-Q16S64/td2-a7050-qx32-16x40G+32x10G+8x40G.config.bcm
  device/arista/x86_64-arista_7050_qx32/Arista-7050-QX32/td2-a7050-qx32-32x40G.config.bcm
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/td2-a7050-q31s4-31x40G-4x10G.config.bcm
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX32S-Q32/td2-a7050-qx32s-32x40G.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-C32/th-a7060-cx32s-32x100G-t1.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-D48C8/th-a7060-cx32s-8x100G+48x50G.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q24C8/th-a7060-cx32s-8x100G+24x40G.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/th-a7060-cx32s-32x40G-t0.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-Q32/th-a7060-cx32s-32x40G-t1.config.bcm
  device/arista/x86_64-arista_7060_cx32s/Arista-7060CX-32S-T96C8/th-a7060-cx32s-8x100G+96x25G.config.bcm
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-C64/th3-a7060px4-32-64x100G.config.bcm
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-O32/th3-a7060px4-o32-32x400G.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  device/broadcom/x86_64-bcm_xlr-r0/BCM956960K/th_32x100.config.bcm
  device/celestica/x86_64-cel_e1031-r0/Celestica-E1031-T48S4/helix4-e1031-48x1G+4x10G.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-C32/th-seastone-dx010-32x100G-t0.config.bcm
  device/celestica/x86_64-cel_seastone-r0/Celestica-DX010-D48C8/th-seastone-dx010-48x50G+8x100G.config.bcm
  device/celestica/x86_64-cel_seastone-r0/th-seastone-dx010-config-flex-all.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q20S48/td2-s6000-20x40G-48x10G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q24S32/td2-s6000-24x40G-32x10G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000-Q28S16/td2-s6000-28x40G-16x10G.config.bcm
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/td2-s6000-32x40G.config.bcm
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/th-s6100-64x40G-t0.config.bcm
  device/dell/x86_64-dell_s6100_c2538-r0/Force10-S6100/th-s6100-64x40G-t1.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-C32/th3-z9332f-32x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
Labels: Platform: Broadcom, Request for 202012 branch

#8379 [Mellanox] Add new sensor conf to support SN4410 A1 system
  device/mellanox/x86_64-mlnx_msn4410-r0/get_sensors_conf_path
  device/mellanox/x86_64-mlnx_msn4410-r0/sensors.conf.a1
Labels: Request for 202106 branch

#8138 enable the emc2305 fan controller and NCP power controller 30ms timeo…
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
  platform/broadcom/sonic-platform-modules-cel/dx010/modules/emc2305.c
Labels: Request for 202012 branch, Request for 202106 branch

#8417 [docker-ptf]PTF adds xmlrunner for xunit report
  dockers/docker-ptf/Dockerfile.j2
Labels: Request for 202012 branch, Request for 202106 branch

#8372 [Nokia] Add hwsku.json for the Nokia-7215
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/hwsku.json
Labels: Request for 202012 branch, Platform: Nokia, Request for 202106 branch

#7731 Support to build armhf/arm64 platforms on arm based system
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
  slave.mk
Labels: Build :hammer:, Request for 202012 branch

#7992 [DPB] Allow BGP_NEIGHBOR YANG model with just IP as the key
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/yang-models/sonic-bgp-neighbor.yang
Labels: yang

#8445 [Nokia ixs7215] sfputil support + component tests
  device/nokia/armhf-nokia_ixs7215_52x-r0/plugins/sfputil.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/component.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Labels: Request for 202012 branch, Platform: Nokia, Request for 202106 branch

#8458 Support to build armhf/arm64 platforms on arm based system
  Makefile.work
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base/Dockerfile.j2
  slave.mk
Labels: Build :hammer:

#8400 [aboot] use ram partition for /var/log for devices with 3.7G disks
  files/Aboot/boot0.j2
  files/initramfs-tools/union-mount.j2
Labels: Platform: Arista, Request for 202012 branch, Request for 202106 branch

#8468 Fix bfn version
  files/build/versions/default/versions-web
Labels: automerge

#8472 Reapply the fix to address set MTU > 1500 causing portmgrd crash on BRCM platforms
  platform/broadcom/saibcm-modules/systems/linux/kernel/modules/bcm-knet/bcm-knet.c
Labels: Platform: Broadcom, Request for 202012 branch, Request for 202106 branch

#8297 [202012][device/celestica]: Fix failed test cases of Haliburton platform API
  device/celestica/x86_64-cel_e1031-r0/platform.json
  device/celestica/x86_64-cel_e1031-r0/platform_components.json
  device/celestica/x86_64-cel_e1031-r0/plugins/sfputil.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/common.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/event.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/fan_drawer.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/helper.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/sfp.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/thermal.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/watchdog.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
Labels: Included in 202012 Branch

#8387 [Mellanox] fix syseeprom info values on mellanox simulator platforms msn4700 and msn4800
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/syseeprom.hex
  device/mellanox/x86_64-mlnx_msn4800_simx-r0/syseeprom.hex
Labels: Bug :bug:, Platform: Mellanox, Request for 202106 branch

#8361 [docker-swss] Use predefined variable to get vendor information
  files/build_templates/docker_image_ctl.j2
Labels: Request for 202012 branch, Request for 202106 branch

#8227 [libteam][warm-reboot] fix issue in teamd warm-reboot that teamd starts
  src/libteam/patch/0008-libteam-Add-warm_reboot-mode.patch
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch, Request for 202106 branch

#8385 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-config-engine-stretch/versions-py2
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
Labels: automerge

#7975 [Arista] Add dynamic port breakout hwsku to platforms
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S/hwsku-init
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S/hwsku.json
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S/port_config.ini
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S/sai.profile
  device/arista/x86_64-arista_7050_qx32s/platform.json
  device/arista/x86_64-arista_7050_qx32s/td2-a7050qx-32s-flex.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S/hwsku.json
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S/port_config.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S/sai.profile
  device/arista/x86_64-arista_7050cx3_32s/platform.json
  device/arista/x86_64-arista_7050cx3_32s/td3-a7050cx3-32s-flex.config.bcm
  device/arista/x86_64-arista_7060dx4_32/Arista-7060DX4-32/hwsku.json
  device/arista/x86_64-arista_7060dx4_32/Arista-7060DX4-32/port_config.ini
  device/arista/x86_64-arista_7060dx4_32/Arista-7060DX4-32/sai.profile
  device/arista/x86_64-arista_7060dx4_32/platform.json
  device/arista/x86_64-arista_7060dx4_32/th3-a7060dx4-32-flex.config.bcm
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-32/hwsku.json
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-32/port_config.ini
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-32/sai.profile
  device/arista/x86_64-arista_7060px4_32/platform.json
  device/arista/x86_64-arista_7060px4_32/th3-a7060px4-32-flex.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-64/hwsku.json
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-64/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-64/sai.profile
  device/arista/x86_64-arista_7260cx3_64/platform.json
  device/arista/x86_64-arista_7260cx3_64/th2-a7260cx3-64-flex.config.bcm
Labels: Enhancement :heavy_plus_sign:, Platform: Arista, Port Breakout :trident:

#8477 caclmgrd: monitor state_db to update dhcp acl
  src/sonic-host-services/scripts/caclmgrd
Labels: Control Plane ACL, DHCP Relay, Request for 202012 branch

#8229 [multi-asic] Fix for sonic-cfggen exception during platform string read
  src/sonic-config-engine/sonic-cfggen
Labels: Request for 202106 branch, Chassis

#8502 Enable sysctl fib_multipath_use_neigh
  files/image_config/sysctl/sysctl-net.conf
Labels: Request for 202106 branch

#8527 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
Labels: automerge

#8266 [monit] Periodically monitor VNET route consistency
  files/image_config/monit/conf.d/sonic-host
Labels: Request for 202012 branch, Request for 202106 branch

#8508 [Arista] Add VOQ information for Clearwater2
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/port_config.ini
Labels: Request for 202106 branch

#8419 [Mellanox] Add 2x100G and 4x50G breakout modes to MSN4410 platform
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/port_config.ini
  device/mellanox/x86_64-mlnx_msn4410-r0/platform.json
Labels: Platform: Mellanox, Request for 202106 branch

#8299 [Mellanox] Upgrade Mellanox firmware tools to 4.17.0
  platform/mellanox/mft.mk
Labels: Platform: Mellanox, Request for 202012 branch, Request for 202106 branch

#8543 [Pcied] run by python 3
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
Labels: Request for 202012 branch, Request for 202106 branch

#8556 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#8416 [macsec] Add eapol to copp config
  files/image_config/copp/copp_cfg.j2
Labels: macsec

#8211 [dhcp_relay] Adapt config/show CLI commands to support DHCPv6 relay
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Labels: Request for 202106 branch

#8584 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#8622 [Arista] Fix flash size computation for Lodoga
  files/Aboot/boot0.j2
Labels: Request for 202012 branch, Request for 202106 branch

#8052 [Arista]: Set LAG Id range for 7800 chassis
  device/arista/x86_64-arista_7800_sup/chassisdb.conf
Labels: Request for 202106 branch

#8639 DellEMC: Z9332f fix LED issue
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-C32/th3-z9332f-32x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
Labels: Bug :bug:, Platform: DellEMC, Request for 202012 branch, Request for 202106 branch
