Repository sonic-net/sonic-buildimage, pull requests merged in 2021-07, with the labels that each got.

#7858 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-py2
  files/build/versions/default/versions-py3
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-base-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
Labels: automerge

#8000 [202012] Add BRCM SOC Property to not count ACL drops towards interface RX_DRP for DualToR platforms
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/td3-a7050cx3-32s-32x100G.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/td3-a7050cx3-32s-48x50G+8x100G.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  src/sonic-device-data/tests/permitted_list
Labels: Request for 202012 branch

#8051 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-database/versions-deb-buster
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-router-advertiser/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#7987 [hostcfgd] Enhance hostcfgd to check feature state and run less system calls
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
  src/sonic-host-services/tests/hostcfgd/test_vectors.py
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch, Request for 202106 branch

#8061 Bug fix for reproducible build
  src/sonic-build-hooks/hooks/git
Labels: Request for 202012 branch, Request for 202106 branch

#8062 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-py2
  files/build/versions/default/versions-py3
  files/build/versions/dockers/docker-database/versions-deb-buster
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-router-advertiser/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
Labels: automerge

#8114 [ci]: Support PR checks for 201811
  .azure-pipelines/azure-pipelines-build.yml
  azure-pipelines.yml
Labels: ci

#7278 Fix CVE-2017-1000487 security alert (#7173)
  src/thrift/Makefile
  src/thrift/patch/0002-cve-2017-1000487.patch
Labels: Included in 201811 Branch

#7954 [multi-asic] Fixed systemd-sonic-generator for multi-asic
  src/systemd-sonic-generator/.gitignore
  src/systemd-sonic-generator/Makefile
  src/systemd-sonic-generator/debian/rules
  src/systemd-sonic-generator/ssg-test.cc
  src/systemd-sonic-generator/systemd-sonic-generator.c
  src/systemd-sonic-generator/systemd-sonic-generator.h
  src/systemd-sonic-generator/tests/testfiles/multi_inst_a.service
  src/systemd-sonic-generator/tests/testfiles/multi_inst_a@.service
  src/systemd-sonic-generator/tests/testfiles/multi_inst_b.service
  src/systemd-sonic-generator/tests/testfiles/multi_inst_b@.service
  src/systemd-sonic-generator/tests/testfiles/single_inst.service
  src/systemd-sonic-generator/tests/testfiles/test.service
  src/systemd-sonic-generator/tests/testfiles/test.timer
Labels: Request for 202106 branch

#7637 Support L1 & L3 Config generation in SONiC
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/data/l1intf.j2
  src/sonic-config-engine/data/l3intf.j2
  src/sonic-config-engine/tests/l1-l3-sample-port-config.ini
  src/sonic-config-engine/tests/sample_output/py2/l1_intfs.json
  src/sonic-config-engine/tests/sample_output/py2/l3_intfs.json
  src/sonic-config-engine/tests/sample_output/py3/l1_intfs.json
  src/sonic-config-engine/tests/sample_output/py3/l3_intfs.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Request for 202106 branch

#7789 [dhcp_relay] Disable dhcp_relay for ToRRouter switches type by the feature manager
  files/build_templates/init_cfg.json.j2
  files/image_config/copp/copp_cfg.j2
  src/sonic-host-services/tests/hostcfgd/test_vectors.py
Labels: Request for 202106 branch

#7265 Increase min-links limit for portchannel from 128 to 1024.
  src/libteam/patch/0012-Increase-min_ports-upper-limit-to-1024.patch
  src/libteam/patch/series
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
Labels: yang

#8039 Reproducible build support docker image
  scripts/docker_version_control.sh
  scripts/prepare_docker_buildinfo.sh
  scripts/versions_manager.py
Labels: Request for 202012 branch, Request for 202106 branch

#8116 Fix reproducible build related azure pipeline bug.
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/docker-sonic-slave.yml
  slave.mk
Labels: Request for 202012 branch, Request for 202106 branch

#8118 [ci]: Support azure pipelines for 202106 branch
  .azure-pipelines/official-build.yml
  azure-pipelines.yml
Labels: ci

#8127 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#8044 [sonic_debian_extension] fix packages.json generation and make the build fail when packages.json is not generated
  files/build_templates/packages.json.j2
  files/build_templates/sonic_debian_extension.j2
Labels: Request for 202106 branch

#8037 [bgpcfgd] Remove unnecessary dependency for StaticRouteMgr
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/tests/test_static_rt.py
Labels: Request for 202012 branch, Request for 202106 branch

#8148 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-database/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#7286 [SONiC Application Extension] support warm/fast reboot for extension packages
  files/build_templates/manifest.json.j2
  files/build_templates/sonic_debian_extension.j2
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  rules/docker-fpm-frr.mk
  rules/docker-lldp.mk
  rules/docker-nat.mk
  rules/docker-orchagent.mk
  rules/docker-router-advertiser.mk
  rules/docker-sflow.mk
  rules/docker-teamd.mk
  rules/functions
Labels: Request for 202106 branch, appext

#8152 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-database/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
Labels: automerge

#8156 Upgrade SONiC Versions
  files/build/versions/default/versions-git
Labels: automerge

#8157 [hostcfgd] [202012] Enhance hostcfgd to check feature state and run less system calls
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
  src/sonic-host-services/tests/hostcfgd/test_vectors.py
Labels: Enhancement :heavy_plus_sign:

#8134 [build]: Allow build-time specification of alternative docker registries
  rules/config
Labels: Request for 202012 branch, Request for 202106 branch

#8179 [202012] BRCM SAI 4.3.3.9 Changes for ISSU support and Dual ToR fixes
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Labels: Platform: Broadcom, Request for 202012 branch, brcmsai

#8006 [RESTAPI] autorestart for restapi process inside the docker is disabled
  dockers/docker-sonic-restapi/supervisord.conf
Labels: Bug :bug:

#8066 [port_config] Introduce ad-hoc mport_config.json file
  files/Aboot/boot0.j2
  files/image_config/config-setup/config-setup
  files/image_config/platform/rc.local
  files/image_config/secureboot/allowlist_paths.conf
Labels: Enhancement :heavy_plus_sign:, Request for 201811 Branch :shipit:, Request for 201904 Branch :snowboarder:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch, Request for 202106 branch

#6531 [dhcp-relay] make DHCP relay an extension
  Makefile.work
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/cli-plugin-tests/conftest.py
  dockers/docker-dhcp-relay/cli-plugin-tests/mock_tables.py
  dockers/docker-dhcp-relay/cli-plugin-tests/pytest.ini
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
  files/build_templates/init_cfg.json.j2
  files/scripts/swss.sh
  rules/config
  rules/docker-dhcp-relay.mk
  slave.mk
Labels: Request for 202106 branch, appext

#7772 [dhcp_relay] DHCP relay support for IPv6
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/dhcp-relay.programs.j2
  dockers/docker-dhcp-relay/dhcpv4-relay.agents.j2
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
  dockers/docker-dhcp-relay/dhcpv6-relay.monitors.j2
  dockers/docker-dhcp-relay/docker-dhcp-relay.supervisord.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/docker-dhcp-relay.supervisord.conf
  src/sonic-config-engine/tests/sample_output/py3/docker-dhcp-relay.supervisord.conf
Labels: Request for 202106 branch

#8199 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#8159 Updated buffer pool settings to accommodate SAI adjustment for TD3
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t0.j2
Labels: Request for 202012 branch

#8132 [WARM-REBOOT] [Mellanox] fix watchdog issue on mellanox simulator platform when executing warm-reboot
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch, Request for 202106 branch

#8169 [hostcfgd] differentiate between UnitFileState and UnitFilePreset
  src/sonic-host-services/scripts/hostcfgd
Labels: Bug :bug:, Request for 202012 branch, Request for 202106 branch

#7461 [pbh]: Add YANG model
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/tests/pbh.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/pbh.json
  src/sonic-yang-models/yang-models/sonic-pbh.yang
Labels: yang

#8221 Add some versions for build of sonic-slave-stretch on armhf and arm64 arch.
  files/build/versions/default/versions-web
Labels: automerge

#8131 [PMON] [Mellanox] fix syseepromd issue on simx
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
  platform/mellanox/mlnx-platform-api/sonic_platform/platform.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202012 branch, Request for 202106 branch

#8224 Add reproducible build for armhf and arm64 related versions.
  files/build/versions/default/versions-web
Labels: automerge, ci

#7579 [device/celestica]: Fix failed test cases of Haliburton platform API
  device/celestica/x86_64-cel_e1031-r0/platform.json
  device/celestica/x86_64-cel_e1031-r0/platform_components.json
  device/celestica/x86_64-cel_e1031-r0/plugins/sfputil.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/common.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/event.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/fan_drawer.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/helper.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/sfp.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/thermal.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/watchdog.py
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
Labels: Enhancement :heavy_plus_sign:, Platform: Celestica, Request for 202106 branch

#5389 [as4630-54pe]Modify to read correct psu SN and ID
  platform/broadcom/sonic-platform-modules-accton/as4630-54pe/modules/x86-64-accton-as4630-54pe-psu.c
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/accton_as9716_32d_monitor.py
Labels: Bug :bug:, Platform: Accton

#8060 [dhcp_relay] Enhance DHCP monitor application to support DHCPv6
  src/dhcpmon/src/dhcp_device.c
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.c
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.c
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.c
Labels: Request for 202106 branch

#8063 [Mellanox][pcied] Ignore bus on pcie.yaml for Mellanox switches
  platform/mellanox/mlnx-platform-api/sonic_platform/pcie.py
Labels: Request for 202106 branch

#7477 [systemd] ASIC status based service bringup on VOQ chassis
  files/build_templates/per_namespace/lldp.service.j2
  files/build_templates/sonic_debian_extension.j2
  files/scripts/asic_status.py
  files/scripts/asic_status.sh
  files/scripts/lldp.sh
  files/scripts/swss.sh
  files/scripts/syncd_common.sh
  files/scripts/teamd.sh
Labels: Request for 202106 branch

#8256 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster-arm64
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster-armhf
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-arm64/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch-march-armhf/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Labels: automerge

#8242 [Mellanox] [SKU] Fix the shared headroom for 4600C-C64 SKU
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/buffers_defaults_t1.j2
Labels: Request for 202012 branch
