Repository sonic-net/sonic-buildimage, pull requests merged in 2021-06, with the labels that each got.

#7652 [sonic-py-common] Add platform and chassis info methods to device_info
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/tests/device_info_test.py
  src/sonic-py-common/tests/mock_swsssdk.py
Labels: Enhancement :heavy_plus_sign:, sonic-py-common

#7763 [barefoot][sonic-platform] Fix Fan.set_speed
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/fan_drawer.py
Labels: Bug :bug:, Platform: Barefoot, Request for 202012 branch

#7771 [Barefoot][azure-pipelines] fix sonic build 202012 bfnplatform
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: ci

#7646 [BFN] Enable syncd-rpc build
  .azure-pipelines/azure-pipelines-build.yml
Labels: Request for 202012 branch, ci

#6148 [docker-mgmt-framework]: update mgmt framework docker to support sonic-cli cmd
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
  dockers/docker-sonic-mgmt-framework/base_image_files/sonic-cli
  sonic-slave-buster/Dockerfile.j2
Labels: brcm-upstream

#7784 [AS5835-54x] Add get_status api and fix bug to fan.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/fan.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/psu.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/sfp.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/thermal.py
Labels: Bug :bug:, Platform: Accton, Request for 202012 branch

#7754 Fixed typos in config-setup
  files/image_config/config-setup/config-setup
Labels: Cleanup :droplet:

#7560 Add service to restore TACACS from old config
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/tacacs-config.service
  files/build_templates/tacacs-config.timer
  files/image_config/config-setup/config-setup
Labels: Enhancement :heavy_plus_sign:, Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch

#7343 Provide curl options in curl command
  slave.mk
Labels: Build :hammer:

#7783 [Mellanox] Align PSU name convention returned from psu.get_name platform API
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
Labels: Platform: Mellanox, Request for 202012 branch

#7704 [barefoot][platform] Refactor chassis.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/chassis.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/psu.py
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/sfp.py
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot, Request for 202012 branch

#7676 [Monit] Deprecate the feature of monitoring the critical processes by Monit
  dockers/docker-database/base_image_files/monit_database
  dockers/docker-fpm-frr/base_image_files/monit_bgp
  dockers/docker-lldp/base_image_files/monit_lldp
  dockers/docker-orchagent/base_image_files/monit_swss
  dockers/docker-sflow/base_image_files/monit_sflow
  dockers/docker-snmp/base_image_files/monit_snmp
  dockers/docker-sonic-restapi/base_image_files/monit_restapi
  dockers/docker-sonic-telemetry/base_image_files/monit_telemetry
  dockers/docker-teamd/base_image_files/monit_teamd
  files/build_templates/sonic_debian_extension.j2
  files/image_config/monit/process_checker
  platform/barefoot/docker-syncd-bfn.mk
  platform/barefoot/docker-syncd-bfn/base_image_files/monit_syncd
  platform/broadcom/docker-syncd-brcm.mk
  platform/broadcom/docker-syncd-brcm/base_image_files/monit_syncd
  platform/cavium/docker-syncd-cavm.mk
  platform/cavium/docker-syncd-cavm/base_image_files/monit_syncd
  platform/centec/docker-syncd-centec.mk
  platform/centec/docker-syncd-centec/base_image_files/monit_syncd
  platform/marvell-arm64/docker-syncd-mrvl.mk
  platform/marvell-arm64/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell-armhf/docker-syncd-mrvl.mk
  platform/marvell-armhf/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell/docker-syncd-mrvl.mk
  platform/marvell/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/docker-syncd-mlnx/base_image_files/monit_syncd
  platform/nephos/docker-syncd-nephos.mk
  platform/nephos/docker-syncd-nephos/base_image_files/monit_syncd
  rules/docker-database.mk
  rules/docker-fpm-frr.mk
  rules/docker-lldp.mk
  rules/docker-orchagent.mk
  rules/docker-restapi.mk
  rules/docker-sflow.mk
  rules/docker-snmp.mk
  rules/docker-teamd.mk
Labels: Cleanup :droplet:, Request for 202012 branch

#7793 [201911][Mellanox] Align PSU name convention returned from psu.get_name platform API
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
Labels: Included in 201911 Branch, Platform: Mellanox

#7797 [DellEMC] Z9332: Change in i2c mapping
  device/dell/x86_64-dellemc_z9332f_d1508-r0/plugins/sfputil.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/scripts/z9332f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: DellEMC

#7770 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-py3
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
Labels: automerge

#7801 [7050] updating 7050 MMU configurations
  device/arista/x86_64-arista_7050_qx32s/Arista-7050QX-32S-S4Q31/td2-a7050-q31s4-31x40G-4x10G.config.bcm
Labels: Request for 201811 Branch :shipit:, Request for 201911 Branch :shipit:, Request for 202012 branch

#7747 [nvidia/mellanox] add MLNX_SDK_DEB_VERSION to SDK packages flags list.
  platform/mellanox/sdk.dep
Labels: Platform: Mellanox, Request for 202006 Branch, Request for 202012 branch

#7715 [as7726-32x] Fix module_reset sysfs
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/modules/accton_as7726_32x_cpld.c
Labels: Bug :bug:, Platform: Accton, Request for 202006 Branch, Request for 202012 branch

#7735 [enable_counters] Set default values only on the first start
  dockers/docker-orchagent/enable_counters.py
Labels: Bug :bug:, Request for 202012 branch

#7823 [202012][Monit] Deprecate the feature of monitoring the critical processes by Monit
  dockers/docker-database/base_image_files/monit_database
  dockers/docker-fpm-frr/base_image_files/monit_bgp
  dockers/docker-lldp/base_image_files/monit_lldp
  dockers/docker-orchagent/base_image_files/monit_swss
  dockers/docker-sflow/base_image_files/monit_sflow
  dockers/docker-snmp/base_image_files/monit_snmp
  dockers/docker-sonic-restapi/base_image_files/monit_restapi
  dockers/docker-sonic-telemetry/base_image_files/monit_telemetry
  dockers/docker-teamd/base_image_files/monit_teamd
  files/build_templates/sonic_debian_extension.j2
  files/image_config/monit/process_checker
  platform/barefoot/docker-syncd-bfn.mk
  platform/barefoot/docker-syncd-bfn/base_image_files/monit_syncd
  platform/broadcom/docker-syncd-brcm.mk
  platform/broadcom/docker-syncd-brcm/base_image_files/monit_syncd
  platform/cavium/docker-syncd-cavm.mk
  platform/cavium/docker-syncd-cavm/base_image_files/monit_syncd
  platform/centec/docker-syncd-centec.mk
  platform/centec/docker-syncd-centec/base_image_files/monit_syncd
  platform/marvell-arm64/docker-syncd-mrvl.mk
  platform/marvell-arm64/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell-armhf/docker-syncd-mrvl.mk
  platform/marvell-armhf/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/marvell/docker-syncd-mrvl.mk
  platform/marvell/docker-syncd-mrvl/base_image_files/monit_syncd
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/docker-syncd-mlnx/base_image_files/monit_syncd
  platform/nephos/docker-syncd-nephos.mk
  platform/nephos/docker-syncd-nephos/base_image_files/monit_syncd
  rules/docker-database.mk
  rules/docker-fpm-frr.mk
  rules/docker-lldp.mk
  rules/docker-orchagent.mk
  rules/docker-restapi.mk
  rules/docker-sflow.mk
  rules/docker-snmp.mk
  rules/docker-teamd.mk
Labels: Cleanup :droplet:

#7051 SONiC Yang model support for NAT
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests/loopback.json
  src/sonic-yang-models/tests/yang_model_tests/tests/nat.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/loopback.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/nat.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-loopback-interface.yang
  src/sonic-yang-models/yang-models/sonic-nat.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-types.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: yang

#7842 [docker-teamd]: Increase teammgrd timeout to allow graceful shutdown
  dockers/docker-teamd/supervisord.conf
Labels: Request for 202012 branch

#7794 [barefoot][platform] Chassis.get_reboot_cause
  platform/barefoot/sonic-platform-modules-bfn-montara/sonic_platform/chassis.py
Labels: Enhancement :heavy_plus_sign:, Platform: Barefoot, Request for 202012 branch

#7856 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-deb-buster
  files/build/versions/dockers/docker-database/versions-deb-buster
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-router-advertiser/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
Labels: automerge

#7410 [Mellanox] Enhance Python3 support for platform API
  device/mellanox/x86_64-mlnx_msn2700-r0/pmon_daemon_control.json
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan_drawer.py
  platform/mellanox/mlnx-platform-api/sonic_platform/platform.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 202012 branch

#7138 Add PG_DROP yang model
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: Request for 202012 branch, yang

#7865 Add service to restore TACACS from old config (#7560)
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/tacacs-config.service
  files/build_templates/tacacs-config.timer
  files/image_config/config-setup/config-setup
Labels: Enhancement :heavy_plus_sign:

#7854 [minigraph] Check for null VLAN MAC
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Request for 202012 branch

#7883 [201911] Add support to parse bandwidth for DeviceMgmtLinks
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample_output/ports.json
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: minigraph :world_map:

#7870 [CI] Fix azp targets for innovium platform
  .azure-pipelines/azure-pipelines-build.yml
Labels: ci

#7840 [build]: Fix missing the depended files of dpkg cache in config engine
  rules/sonic-config.dep
Labels: Build :hammer:, Request for 202012 branch

#7849 Updated 7260 64x100 MMU Profile.
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/pg_profile_lookup.ini
Labels: Request for 201911 Branch :shipit:

#7817 [console][minigraph] Avoid generate config for self console port
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch

#7469 [Kubernetes]: The kube server could be used as http-proxy for docker
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  rules/config
  src/sonic-ctrmgrd/ctrmgr/ctrmgr_iptables.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.service
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/ctrmgr_iptables_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/http_proxy.conf
  src/sonic-ctrmgrd/tests/no_proxy.conf
Labels: Enhancement :heavy_plus_sign:

#7890 [CI] Fix azp built docker-sonic-mgmt image
  .azure-pipelines/docker-sonic-mgmt.yml
Labels: ci

#7721 [Mellanox] Implement auto_firmware_update platform API for to support fwutil auto-update
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/tests/test_firmware.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#7886 Support multiple pcie configuration file and change the pcie status table name
  files/image_config/pcie-check/pcie-check.sh
Labels: Request for 202012 branch

#7900 [sonic-host-services] Add 'parameterized' package as a test dependency
  src/sonic-host-services/setup.py
Labels: Bug :bug:, Build :hammer:, Request for 202012 branch

#7663 [CI] Enable 201911 branch PR check
  azure-pipelines.yml
Labels: ci

#7815 [Mellanox] Add new SKU Mellanox-SN4600C-C64
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/hwsku.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/port_config.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/sai_4600C.xml
Labels: Request for 202012 branch

#7904 [as9716-32d] Accton sfputil support QSFP-DD on 202012 branch.
  device/accton/x86_64-accton_as9716_32d-r0/plugins/sfputil.py
Labels: Enhancement :heavy_plus_sign:, Included in 202012 Branch, Platform: Accton

#7876 DellEMC: Update Z9332f reboot reason
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/chassis.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC, Request for 202012 branch

#7719 [build_debian.sh] Configure sshd to listen for IPv6 connections
  build_debian.sh
Labels: Enhancement :heavy_plus_sign:, Request for 202012 branch

#7832 DellEMC: Z9332f update PSU threshold
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/psu.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC, Request for 202012 branch

#7910 [Mellanox][202012] Enhance Python3 support for platform API (back-porting #7410)
  device/mellanox/x86_64-mlnx_msn2700-r0/pmon_daemon_control.json
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan_drawer.py
  platform/mellanox/mlnx-platform-api/sonic_platform/platform.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
Labels: Enhancement :heavy_plus_sign:, Included in 202012 Branch, Platform: Mellanox

#6917 [YANG] Add to support BGP and route-map YANG models
  src/sonic-yang-mgmt/tests/libyang-python-tests/test_sonic_yang.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests/route_filter.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/route_filter.json
  src/sonic-yang-models/yang-models/sonic-bgp-common.yang
  src/sonic-yang-models/yang-models/sonic-bgp-global.yang
  src/sonic-yang-models/yang-models/sonic-bgp-neighbor.yang
  src/sonic-yang-models/yang-models/sonic-bgp-peergroup.yang
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
  src/sonic-yang-models/yang-models/sonic-route-common.yang
  src/sonic-yang-models/yang-models/sonic-route-map.yang
  src/sonic-yang-models/yang-models/sonic-routing-policy-sets.yang
Labels: yang

#7914 [Marvell] Fix system MAC parsing logic for Marvell platform.
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Bug :bug:, Platform: Marvell, Request for 202012 branch

#7252 Add SONiC YANGs for Management Port, Management Interface, Management VRF and NTP.
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mgmt_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mgmt_port.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mgmt_vrf.json
  src/sonic-yang-models/tests/yang_model_tests/tests/ntp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mgmt_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mgmt_port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mgmt_vrf.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/ntp.json
  src/sonic-yang-models/yang-models/sonic-mgmt_interface.yang
  src/sonic-yang-models/yang-models/sonic-mgmt_port.yang
  src/sonic-yang-models/yang-models/sonic-mgmt_vrf.yang
  src/sonic-yang-models/yang-models/sonic-ntp.yang
Labels: yang

#7808 [Mellanox] Read EEPROM data from DB if possible
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 202012 branch

#7853 [device][mellanox] Fix supported breakout modes on MSN4410
  device/mellanox/x86_64-mlnx_msn4410-r0/platform.json
Labels: Request for 202012 branch

#7908 Update DellEMC-Z9332f-M-O16C64 SKU settings
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/sai.profile
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/sai_postinit_cmd.soc
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
Labels: Request for 202012 branch

#7905 [ci]: Support the rpc image for mellanox
  .azure-pipelines/azure-pipelines-build.yml
Labels: Request for 201911 Branch :shipit:, Request for 202012 branch, ci

#7708 [Mellanox] Update SKUs to enable SDK dumps
  device/mellanox/x86_64-mlnx_msn2010-r0/ACS-MSN2010/sai.profile
  device/mellanox/x86_64-mlnx_msn2100-r0/ACS-MSN2100/sai.profile
  device/mellanox/x86_64-mlnx_msn2410-r0/ACS-MSN2410/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-C28D8/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/sai.profile
  device/mellanox/x86_64-mlnx_msn2740-r0/ACS-MSN2740/sai.profile
  device/mellanox/x86_64-mlnx_msn3420-r0/ACS-MSN3420/sai.profile
  device/mellanox/x86_64-mlnx_msn3700-r0/ACS-MSN3700/sai.profile
  device/mellanox/x86_64-mlnx_msn3700c-r0/ACS-MSN3700C/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/ACS-MSN3800/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/sai.profile
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/sai.profile
  device/mellanox/x86_64-mlnx_msn4600-r0/ACS-MSN4600/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/ACS-MSN4600C/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D112C8/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/ACS-MSN4700/sai.profile
  device/mellanox/x86_64-mlnx_msn4800-r0/ACS-MSN4800/sai.profile
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#7846 Grouping delayed services under a target for config reload checks
  files/build_templates/mgmt-framework.timer
  files/build_templates/snmp.timer
  files/build_templates/sonic-delayed.target
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/telemetry.timer
Labels: Enhancement :heavy_plus_sign:

#7671 SONiC yang models for AAA and TACACS features
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/aaa.json
  src/sonic-yang-models/tests/yang_model_tests/tests/tacacs.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/aaa.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/tacacs.json
  src/sonic-yang-models/yang-models/sonic-system-aaa.yang
  src/sonic-yang-models/yang-models/sonic-system-tacacs.yang
Labels: yang

#7931 [Nokia ixs7215] Platform API 2.0 improvements
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/psu.py
Labels: Bug :bug:, Platform: Nokia, Request for 202012 branch

#7830 [Mellanox] Only mount '/var/log/mellanox' folder to syncd docker instead of mounting every sub folder
  files/build_templates/docker_image_ctl.j2
Labels: Platform: Mellanox

#7693 Flashrom refactoring for broadcom platforms
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  platform/broadcom/one-aboot.mk
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-dell.mk
  platform/broadcom/raw-image.mk
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/tools/flashrom.sh
  rules/flashrom.dep
  rules/flashrom.mk
  src/flashrom/Makefile
  src/flashrom/patch/0002-Flashrom-support-for-Intel-Rangeley-and-Denverton-CP.patch
  src/flashrom/patch/0003-Debian-package-base.patch
  src/flashrom/patch/0004-Flashrom-remove-tmpl.patch
  src/flashrom/patch/series
Labels: Enhancement :heavy_plus_sign:

#7946 [ci]: build rpc image for mellanox (#7905)
  .azure-pipelines/azure-pipelines-build.yml
Labels: ci

#7629 Add fabric lane mapping to vs (sai.profile) and HWSKU Force10-S6000
  device/dell/x86_64-dell_s6000_s1220-r0/Force10-S6000/fabriclanemap.ini
  src/sonic-device-data/src/sai.vs_profile
Labels: Platform: DellEMC, Request for 202106 branch

#7927 [Mellanox] Return N/A for PSU's model, serial and revision on platforms with fixed PSU
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
Labels: Platform: Mellanox

#7947 [platform][Quanta] Add debian install files for sonic_platform-1.0-py…
  platform/broadcom/sonic-platform-modules-quanta/debian/sonic-platform-quanta-ix7-32x.install
  platform/broadcom/sonic-platform-modules-quanta/debian/sonic-platform-quanta-ix7-bwde-32x.install
  platform/broadcom/sonic-platform-modules-quanta/debian/sonic-platform-quanta-ix8-56x.install
  platform/broadcom/sonic-platform-modules-quanta/debian/sonic-platform-quanta-ix8a-bwde-56x.install
  platform/broadcom/sonic-platform-modules-quanta/debian/sonic-platform-quanta-ix8c-56x.install
  platform/broadcom/sonic-platform-modules-quanta/debian/sonic-platform-quanta-ix9-32x.install
Labels: Enhancement :heavy_plus_sign:, Platform: Quanta, Request for 202012 branch, Request for 202106 branch

#7951 [as5835-54x] Add api2 and modify sfp.py to 202012br
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/__init__.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/chassis.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/component.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/eeprom.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/eeprom.py.bak
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/event.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/fan.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/platform.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/psu.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/sfp.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/sonic_platform_setup.py
  platform/broadcom/sonic-platform-modules-accton/as5835-54x/utils/accton_as5835_54x_util.py
  platform/broadcom/sonic-platform-modules-accton/debian/sonic-platform-accton-as5835-54x.install
Labels: Enhancement :heavy_plus_sign:, Included in 202012 Branch, Platform: Accton

#7945 Add BRCM SOC Property to not count ACL drops towards interface RX_DRP…
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/td3-a7050cx3-32s-32x100G.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/td3-a7050cx3-32s-48x50G+8x100G.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  src/sonic-device-data/tests/permitted_list
Labels: Request for 202012 branch

#7871 [CI] Azp add cache-building job
  .azure-pipelines/official-build-cache.yml
Labels: ci

#7878 [multi-asic] fix network command for internal ipv6 loopback
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/defaults.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/frr.conf.j2/all.conf
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_backend_asic.conf
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_frontend_asic.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_backend_asic.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_frontend_asic.conf
Labels: Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch

#7605 [Mellanox] Add bitmap support for SFP error event
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp_event.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#7983 DellEMC: Fix Z9332f QSFP-DD DOM issue
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: DellEMC, Request for 202012 branch, Request for 202106 branch

#7866 [multi-asic] Make asic-id in DEVICE_METADATA optional
  src/sonic-config-engine/sonic-cfggen
Labels: Request for 202106 branch

#7973 MMU configuration for DellEMC Z9332 systems in T0 and T1 topolgy
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/buffers.json.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/pg_profile_lookup.ini
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/qos.json.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/buffers.json.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/buffers_defaults_t0.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/buffers_defaults_t1.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/pg_profile_lookup.ini
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/qos.json.j2
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
Labels: Request for 202012 branch

#7759 Fix vtysh shell-ingestion security issue
  files/image_config/sudoers/sudoers
Labels: Security :shield:

#7964 DellEMC: Enable Z9332f LED firmware
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-C32/sai_preinit_cmd.soc
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-C32/th3-z9332f-32x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/sai_preinit_cmd.soc
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/sai_preinit_cmd.soc
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/led_proc_init.soc
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC, Request for 202012 branch, Request for 202106 branch

#7273 [sonic-py-common] Clear environment variables before running device_info tests
  src/sonic-py-common/tests/device_info_test.py
  src/sonic-py-common/tests/interface_test.py
Labels: Request for 202012 branch, Unit Tests, sonic-py-common

#7930 DellEMC: S5248F - Platform API 2.0 implementation
  device/dell/x86_64-dellemc_s5248f_c3538-r0/pmon_daemon_control.json
  platform/broadcom/sonic-platform-modules-dell/common/sonic_platform/hwaccess.py
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s5248f.install
  platform/broadcom/sonic-platform-modules-dell/debian/rules
  platform/broadcom/sonic-platform-modules-dell/s5248f/scripts/s5248f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s5248f/setup.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/__init__.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/fan.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/fan_drawer.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/hwaccess.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/ipmihelper.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/media_settings_plugin.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/platform.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/watchdog.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC, Request for 202012 branch, Request for 202106 branch

#7996 Fix sonic-cfggen contextlib err
  dockers/docker-sonic-mgmt/Dockerfile.j2
  src/sonic-config-engine/setup.py
Labels: Bug :bug:

#5744 [hostcfgd] Configure service auto-restart in hostcfgd.
  files/build_templates/dhcp_relay.service.j2
  files/build_templates/nat.service.j2
  files/build_templates/per_namespace/bgp.service.j2
  files/build_templates/per_namespace/database.service.j2
  files/build_templates/per_namespace/lldp.service.j2
  files/build_templates/per_namespace/swss.service.j2
  files/build_templates/per_namespace/teamd.service.j2
  files/build_templates/pmon.service.j2
  files/build_templates/radv.service.j2
  files/build_templates/restapi.service.j2
  files/build_templates/sflow.service.j2
  files/build_templates/share_image/database.service.j2
  files/build_templates/snmp.service.j2
  files/build_templates/telemetry.service.j2
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/setup.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
  src/sonic-host-services/tests/hostcfgd/mock_configdb.py
  src/sonic-host-services/tests/hostcfgd/test_vectors.py
Labels: appext

#7593 [sonic-app-ext] support app extensions installation during build
  files/build_templates/sonic_debian_extension.j2
  files/scripts/swss.sh
  rules/sonic-packages.mk
  slave.mk
Labels: appext

#7199 SONiC Yang model support for COPP
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/copp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/copp.json
  src/sonic-yang-models/yang-models/sonic-copp.yang
  src/sonic-yang-models/yang-models/sonic-types.yang
Labels: yang

#7875 DellEMC S6100: Determine pcie.yaml revision based on firmware version
  device/dell/x86_64-dell_s6100_c2538-r0/pcie_1.yaml
  device/dell/x86_64-dell_s6100_c2538-r0/pcie_2.yaml
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/pcie.py
Labels: Enhancement :heavy_plus_sign:, Platform: DellEMC

#7906 [Arista] Generated pcie.yml for x86_64-arista_7170_64c
  device/arista/x86_64-arista_7170_64c/pcie.yaml
Labels: Enhancement :heavy_plus_sign:, Platform: Arista, Platform: Barefoot

#7960 [PR template] Add checkbox for backport request to 202106 branch
  .github/pull_request_template.md
Labels: Documentation :book:

#8021 Fix the apt-get download package disorder issue
  scripts/build_debian_base_system.sh
Labels: Bug :bug:, Build :hammer:, Request for 202012 branch, Request for 202106 branch

#8015 [ci]: Disable nephos docker syncd rpc temporarily
  .azure-pipelines/azure-pipelines-build.yml
Labels: ci

#8016 Add libpci3 pkg to docker-platform-monitor
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: Request for 202006 Branch, Request for 202012 branch, Request for 202106 branch, dependencies

#8017 Add ethtool to docker-platform-monitor
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: Request for 202006 Branch, Request for 202012 branch, Request for 202106 branch, dependencies
