Repository sonic-net/sonic-buildimage, pull requests merged in 2022-01, with the labels that each got.

#9459 DellEMC: S6000, S6100, Z9332f - Update Fan LED, Thermal fields in platform.json
  device/dell/x86_64-dell_s6000_s1220-r0/platform.json
  device/dell/x86_64-dell_s6100_c2538-r0/platform.json
  device/dell/x86_64-dellemc_z9332f_d1508-r0/platform.json
Labels: Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#9668 [Bug][Build]: Fix azp trigger branches error
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: Bug :bug:, Build :hammer:, Request for 202106 branch, Request for 202111 branch

#9669 [Build]: Fix gmock not found issue in debian stretch slave container
  sonic-slave-stretch/Dockerfile.j2
Labels: Build :hammer:, Request for 202111 branch

#9672 [Build]: Add debian host base image version to support the reproducible build
  files/build/versions/host-base-image/versions-deb-bullseye
Labels: Build :hammer:, automerge

#9644 [Mellanox] Include CPU board and switch board sensors only on SN2201 system
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202111 branch

#9615 [yang]: Support VLAN alias
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: yang

#9614 [sonic-cfggen]: Remove wrong portchannel members
  src/sonic-config-engine/tests/sample-graph-resource-type.xml
  src/sonic-config-engine/tests/sample-graph-subintf.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
Labels: yang

#9683 [Bug][Build]: Fix the package url not found when package name encoded issue
  scripts/build_debian_base_system.sh
Labels: Bug :bug:, Build :hammer:, Request for 202111 branch

#9680 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-stretch/versions-py2
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
Labels: automerge

#9705 [Bug][Build]: Fix the mlnx-platform-api dpkg cache config error
  platform/mellanox/mlnx-platform-api.dep
Labels: Bug :bug:, Build :hammer:, Request for 202111 branch

#9269 [Yang] Add YANG model support for vlan sub interface
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan_sub_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-vlan-sub-interface.yang
Labels: yang

#9698 [YANG]: Add support for dual ToR attributes
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
  src/sonic-yang-models/yang-models/sonic-port.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: yang, Request for 202111 branch

#9640 [sonic-cfggen]: Add bgp asn for yang validation
  src/sonic-config-engine/tests/sample-voq-graph.xml
Labels: yang

#9724 [yang]: Update AAA yang models
  src/sonic-yang-models/tests/yang_model_tests/tests/aaa.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/aaa.json
  src/sonic-yang-models/yang-models/sonic-system-aaa.yang
Labels: yang

#9707 [minigraph] Enhanced parser to parse interface name for static route nexthop
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Chassis :robot:, Request for 202111 branch, Chassis for 202111 branch

#9706 [Mellanox] Add sensor conf for MSN4600C A1 platform
  device/mellanox/x86_64-mlnx_msn4600c-r0/get_sensors_conf_path
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors.conf.a1
Labels: Platform: Mellanox, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#9566 [Mellanox] [202012] fail the build when hw-mgmt patches do not apply
  platform/mellanox/hw-management/Makefile
Labels: Platform: Mellanox

#9504 [rsyslog]Setting log file size to 16Mb
  files/build_templates/sonic_debian_extension.j2
  files/image_config/logrotate/logrotate-config.service
  files/image_config/logrotate/logrotate-config.sh
  files/image_config/logrotate/rsyslog.j2
Labels: Request for 202111 branch

#9761 [202012][BRCM TH3] Add SOC properties to prevent FDB events during warmboot
  device/accton/x86_64-accton_as9716_32d-r0/Accton-AS9716-32D/th3-as9716-32x400G.config.bcm
  device/arista/x86_64-arista_7060dx4_32/Arista-7060DX4-C32/th3-a7060dx4-c32-32x400G.config.bcm
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-C64/th3-a7060px4-32-64x100G.config.bcm
  device/arista/x86_64-arista_7060px4_32/Arista-7060PX4-O32/th3-a7060px4-o32-32x400G.config.bcm
  device/celestica/x86_64-cel_silverstone-r0/Silverstone-128x100/th3-128x100G.config.bcm
  device/celestica/x86_64-cel_silverstone-r0/Silverstone/th3-32x400G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-C32/th3-z9332f-32x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
  device/delta/x86_64-delta_agc032-r0/Delta-agc032/th3-agc032-32x400G.config.bcm
  device/quanta/x86_64-quanta_ix9_bwde-r0/Quanta-IX9-32X/th3-ix9-32x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Platform: Broadcom, warmboot :boot:

#9696 [Yang] Add resource_type and downstream_subrole to yang model
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: yang, Request for 202111 branch

#9604 [Build]: Improve the linux kernel build cache hit rate
  Makefile.cache
  rules/linux-kernel.dep
Labels: Build :hammer:

#9691 [dhcp_relay] Fix import for dhcp_counters on clear_dhcp6relay_counter.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
Labels: Request for 202111 branch

#9565 [Mellanox] [202106] fail the build when hw-mgmt patches do not apply
  platform/mellanox/hw-management/Makefile
Labels: Platform: Mellanox

#9755 Update multiarch related command.
  Makefile.work
Labels: Build :hammer:, Request for 202111 branch

#8740 Fix IPv4 routes with IPv6 link local next hops installed in FPM
  src/sonic-frr/patch/0011-Ipv4-Link-local-address-for-Ipv6-linl-local-nexthop.patch
  src/sonic-frr/patch/series
Labels: Request for 202106 branch, Request for 202111 branch

#9485 [device][mellanox] Add 2x40G support to MSN4700 platform
  device/mellanox/x86_64-mlnx_msn4700-r0/platform.json
Labels: Request for 202106 branch, Request for 202111 branch

#9772 [DPB] Fix verbose mode issue
  src/sonic-yang-mgmt/sonic_yang_ext.py
Labels: Bug :bug:, Request for 202106 branch, Request for 202111 branch

#9728 [Mellanox] update system_health_monitoring_config for MSN4410/MSN4600/MSN4700
  device/mellanox/x86_64-mlnx_msn4410-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-mlnx_msn4600-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-mlnx_msn4700-r0/system_health_monitoring_config.json
Labels: Request for 202111 branch

#9769 [Celestica/Seastone2] Load interface LEDs
  device/celestica/x86_64-cel_seastone_2-r0/led_proc_init.soc
Labels: Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#9664 [Mellanox] [201911] Optimize thermal policies
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_actions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_conditions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_manager.py
  platform/mellanox/mlnx-platform-api/tests/policy_with_same_conditions.json
  platform/mellanox/mlnx-platform-api/tests/test_thermal_policy.py
  platform/mellanox/mlnx-platform-api/tests/thermal_policy.json
Labels: Request for 201911 Branch :shipit:

#9665 [Mellanox] [202012] Optimize thermal policies
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_actions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_conditions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_manager.py
  platform/mellanox/mlnx-platform-api/tests/policy_with_same_conditions.json
  platform/mellanox/mlnx-platform-api/tests/test_thermal_policy.py
  platform/mellanox/mlnx-platform-api/tests/thermal_policy.json
Labels: Bug :bug:, Platform: Mellanox

#9451 [Mellanox] [202106] Optimize thermal policies
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_actions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_conditions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_manager.py
  platform/mellanox/mlnx-platform-api/tests/policy_with_same_conditions.json
  platform/mellanox/mlnx-platform-api/tests/test_thermal_policy.py
  platform/mellanox/mlnx-platform-api/tests/thermal_policy.json
Labels: Bug :bug:, Platform: Mellanox

#9452 [Mellanox] Optimize thermal control policies
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_actions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_conditions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_manager.py
  platform/mellanox/mlnx-platform-api/tests/conftest.py
  platform/mellanox/mlnx-platform-api/tests/policy_with_same_conditions.json
  platform/mellanox/mlnx-platform-api/tests/test_fan_api.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal_policy.py
  platform/mellanox/mlnx-platform-api/tests/thermal_policy.json
Labels: Bug :bug:, Platform: Mellanox, Request for 202111 branch

#9607 [pmon] Move smartctl from pmon to host
  files/build_templates/sonic_debian_extension.j2
  rules/docker-platform-monitor.mk
  slave.mk
Labels: Request for 202111 branch

#9799 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3-all-armhf
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-nephos/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-py3-all-armhf
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#9796 [sonic-cfggen]: Feature should use 'state' to replace 'status'
  src/sonic-config-engine/minigraph.py
Labels: sonic-cfggen, yang

#9815 [202012]BRCM SAI 4.3.5.3 Fixes CS00012218100,CS00012215529,CS00012208995,CS00012220761,CS00012211718,CS00012220761, and CS00012225760
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Labels: Platform: Broadcom, warmboot :boot:, brcmsai

#9722 Added gbsyncd infra for multi-ASIC, multi-PHY mode
  files/build_templates/gbsyncd.service.j2
  files/build_templates/per_namespace/gbsyncd.service.j2
Labels: Chassis :robot:, Multi-ASIC, Request for 202111 branch, Chassis for 202111 branch

#9521 [firsttime boot] suppress error message on platforms not supporting k…
  files/image_config/platform/rc.local
Labels: Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#9786 [broadcom-dnx] Fix dnx image and dnx platform mismatch issue
  build_image.sh
Labels: Request for 202111 branch

#9821 [TACACS] fix src\tacacs\bash_tacplus\debian\rules file mode, which cause dirty image version.
  src/tacacs/bash_tacplus/debian/rules
Labels: Request for 202111 branch

#9832 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3-all-armhf
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-py3-all-armhf
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#9834 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#9608 [Mellanox] Modified Platform API to support all firmware updates in single boot
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/install-pending-fw.dep
  platform/mellanox/install-pending-fw.mk
  platform/mellanox/install-pending-fw.py
  platform/mellanox/mlnx-onie-fw-update.sh
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/tests/test_firmware.py
  platform/mellanox/mlnx-ssd-fw-update.sh
  platform/mellanox/rules.dep
  platform/mellanox/rules.mk
Labels: Platform: Mellanox, Request for 202111 branch

#9806 [yang]: Update yang models to support 'cluster'
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: sonic-cfggen, yang

#9851 [dhcp6relay] a couple memory access protections
  src/dhcp6relay/src/configInterface.cpp
  src/dhcp6relay/src/relay.cpp
Labels: Request for 201811 Branch :shipit:, Request for 202012 branch

#9795 [Mellanox] Fix select timeout in sfp event
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Labels: Bug :bug:, Request for 202111 branch

#9835 Fix issue: 'sx_port_mapping_t' object has no attribute 'slot_id'
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Labels: Bug :bug:, Request for 202111 branch

#7622 added mclag sonic yang
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mclag.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mclag.json
  src/sonic-yang-models/yang-models/sonic-mclag.yang
Labels: Triaged, yang

#9862 Enable dbgsym package for dhcpmon
  rules/dhcpmon.mk
  rules/docker-dhcp-relay.mk
  src/dhcp6relay/Makefile
  src/dhcp6relay/debian/rules
  src/dhcpmon/debian/rules
Labels: Request for 202012 branch, Request for 202106 branch

#9740 [dhcp_relay] Check payload size to prevent buffer overflow in dhcpv6 option
  src/dhcp6relay/src/relay.cpp
Labels: Request for 201811 Branch :shipit:, Request for 202012 branch

#9877 [yang] Adding sonic-bgp-monitor to setup.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
Labels: Request for 202111 branch

#9658 [Mellanox][VXLAN] add params to vxlan.json file in order to configure VXLAN src port range feature
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/sai.profile
  dockers/docker-orchagent/docker-init.sh
  dockers/docker-orchagent/swssconfig.sh
  dockers/docker-orchagent/vxlan.json.j2
  rules/sonic-config.dep
Labels: Platform: Mellanox, Request for 202111 branch

#9622 [Nokia][platform] Modified the bcm config file for Nokia-IXR7250E-36x400G
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/0/config-ramon-1-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/1/config-ramon-1-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/10/config-ramon-6-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/11/config-ramon-6-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/12/config-ramon-7-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/13/config-ramon-7-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/14/config-ramon-8-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/15/config-ramon-8-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/2/config-ramon-2-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/3/config-ramon-2-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/4/config-ramon-3-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/5/config-ramon-3-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/6/config-ramon-4-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/7/config-ramon-4-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/8/config-ramon-5-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/9/config-ramon-5-1.bcm
Labels: Platform: Nokia
