Repository sonic-net/sonic-buildimage, pull requests merged in 2022-04, with the labels that each got.

#10389 [Nokia][device] Update the BCM config with Recycle ports info for Nokia IXR7250E platform
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
Labels: Request for 202111 branch

#10424 [azp]: Fix typo in slave container cleanup
  .azure-pipelines/template-clean-sonic-slave.yml
Labels: Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10382 [yang] Update device_metadata to add dhcp_server
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: yang

#10341 [ci] Set default ACR in UpgrateVersion/PR/official pipeline.
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/official-build.yml
  .azure-pipelines/template-clean-sonic-slave.yml
  .azure-pipelines/template-variables.yml
  azure-pipelines.yml
Labels: ci

#10451 [ci] Fix the generating version file failure issue caused by artifact target change
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: ci

#10369 [Security]: Enable hardening build options
  slave.mk
Labels: Security :shield:, Request for 202111 branch

#10446 [Ci]: Fix an azp template syntax error
  .azure-pipelines/docker-sonic-slave.yml
Labels: ci

#10362 [sonic-cfggen]: Update UT to add port lanes
  src/sonic-config-engine/tests/multi_npu_data/sample_port_config.ini
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_cfggen_platformJson.py
  src/sonic-config-engine/tests/test_j2files.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: sonic-cfggen

#10453 [Ci]: Fix the docker slave azp template issue
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/docker-sonic-slave.yml
Labels: ci

#10447 [Build]: fix debian package not found issue
  sonic-slave-bullseye/Dockerfile.j2
Labels: Build :hammer:, Request for 202111 branch

#10454 [sonic-cfggen]: Update unit test to remove asn 0
  src/sonic-config-engine/tests/radv-test-sample-graph.xml
  src/sonic-config-engine/tests/sample-graph-resource-type.xml
  src/sonic-config-engine/tests/sample-graph-subintf.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: sonic-cfggen

#10375 [radv] Add new device type in docker-router-advertiser.supervisord.conf.j2
  dockers/docker-router-advertiser/docker-router-advertiser.supervisord.conf.j2
Labels: Request for 202012 branch

#10483 [sonic-cfggen]: Add port speed for UT
  src/sonic-config-engine/tests/multi_npu_data/sample-minigraph-noportchannel.xml
  src/sonic-config-engine/tests/multi_npu_data/sample-minigraph.xml
  src/sonic-config-engine/tests/pc-test-graph.xml
  src/sonic-config-engine/tests/radv-test-sample-graph.xml
  src/sonic-config-engine/tests/sample-arista-7050-t0-minigraph.xml
  src/sonic-config-engine/tests/sample-graph-resource-type.xml
  src/sonic-config-engine/tests/sample-graph-subintf.xml
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/sample_graph.xml
  src/sonic-config-engine/tests/sample_output/py2/ports.json
  src/sonic-config-engine/tests/sample_output/py3/ports.json
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/simple-sample-graph-metadata.xml
  src/sonic-config-engine/tests/simple-sample-graph.xml
  src/sonic-config-engine/tests/t0-sample-bgp-speaker.xml
  src/sonic-config-engine/tests/t0-sample-deployment-id.xml
  src/sonic-config-engine/tests/t0-sample-graph-mvrf.xml
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph-pc.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph-vni.xml
  src/sonic-config-engine/tests/t2-chassis-fe-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: sonic-cfggen

#10482 [Ci]: exclude innovium build and increase broadcom build timeout
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .azure-pipelines/azure-pipelines-build.yml
Labels: ci, Request for 202111 branch

#10403 [Marvell] Update armhf sai deb
  platform/marvell-armhf/sai.mk
Labels: Request for 202111 branch

#10372 [Nokia ixs7215] Platform API temperature threshold value fixes
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/test/test-thermal.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/thermal.py
Labels: Request for 202012 branch

#10488 [yang]: Add support for BmcMgmtToRRouter
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: yang

#10445 [Ci]: check if there is a sonic dirty version issue
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/check-dirty-version.yml
Labels: Request for 202012 branch, ci, Request for 202106 branch, Request for 202111 branch

#10492 [AS9716-32D] Support i2c mux reset
  device/accton/x86_64-accton_as9716_32d-r0/pddf/pddf-device.json
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/Makefile
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/modules/accton_as9716_32d_ioport.c
Labels: Platform: Accton

#10395 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-stretch/versions-py2
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-stretch/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
Labels: automerge

#10356 [Unit Test]: Fix sonic config engine test not stable issue(#10147)
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/test_j2files.py
Labels: Unit Tests

#10523 [Build]: Upgrade pip3 package docker to 5.0.3
  build_debian.sh
Labels: Build :hammer:, Request for 202111 branch

#10465 [device config] Adding configuration for default route fallback
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/td3-a7050cx3-32s-32x100G.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/td3-a7050cx3-32s-48x50G+8x100G.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/td3-a7050cx3-32s-flex.config.bcm
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  src/sonic-device-data/tests/permitted_list
Labels: Request for 202012 branch

#10558 [202012] Run tune2fs during initramfs instead of image install
  files/Aboot/boot0.j2
  files/initramfs-tools/mke2fs
  files/initramfs-tools/union-mount.j2
  installer/arm64/install.sh
  installer/armhf/install.sh
  installer/x86_64/install.sh
Labels: Included in 202012 Branch

#10525 [Build]: Fix pip version constraint conflict issue
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10394 [Mellanox] Auto correct PSU voltage threshold (WA)
  device/mellanox/x86_64-mlnx_msn3700-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn3700c-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn3800-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors.conf.a1
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/sonic_platform/vpd_parser.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
  platform/mellanox/mlnx-platform-api/tests/test_utils.py
Labels: Bug :bug:, Request for 202111 branch

#10531 [Mellanox] support newly added reboot cause
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#10587 Changes to support topology and port speed agnostic switch init for TD3 based platforms
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/td3-a7050cx3-32s-32x100G.config.bcm
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/td3-a7050cx3-32s-48x50G+8x100G.config.bcm
Labels: Request for 202012 branch

#10557 secureboot: Enable signing SONiC kernel
  Makefile.work
  build_debian.sh
  rules/config
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10104 Image build time improvements
  build_debian.sh
  rules/debootstrap.dep
  rules/debootstrap.mk
  slave.mk
  src/debootstrap/.gitignore
  src/debootstrap/Makefile
  src/debootstrap/proc-mount.patch
Labels: Build :hammer:

#10521 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-orchagent/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#10598 [yang] Update device_metadata to add dhcp_server
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: yang

#10288 [Monit] Repeat restarting culprit container if Monit can't reset its counter
  dockers/docker-sonic-telemetry/base_image_files/monit_telemetry
  files/image_config/monit/memory_checker
Labels: Bug :bug:, Request for 202012 branch

#10616 [Ci]: Support to sign image for cisco-8000 uefi secure boot
  .azure-pipelines/azure-pipelines-download-certificate.yml
  .azure-pipelines/official-build-cisco-8000.yml
Labels: Request for 202012 branch, ci, Request for 202106 branch, Request for 202111 branch

#10597 [yang]: Update yang models to support 'cluster'
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: yang

#10619 [Mellanox] Adjust PSU voltage WA
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202111 branch

#10585 Fix issue test_crm and test_fib
  device/celestica/x86_64-cel_e1031-r0/Celestica-E1031-T48S4/helix4-e1031-48x1G+4x10G.config.bcm
  device/celestica/x86_64-cel_e1031-r0/Celestica-E1031-T48S4/sai_postinit_cmd.soc
Labels: Platform: Celestica, Request for 202012 branch

#10313 sonic-platform-modules-cel dx010: speed up dx010 platform init script
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: Platform: Celestica

#10581 [portconfig]: Remove try block for db config initialization
  src/sonic-config-engine/portconfig.py
  src/sonic-config-engine/sonic-cfggen
Labels: Request for 202012 branch

#10653 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-py3-all-armhf
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#10657 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-stretch/versions-deb-stretch
  files/build/versions/build/build-sonic-slave-stretch/versions-git
  files/build/versions/build/build-sonic-slave-stretch/versions-py2
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-base-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-arm64
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-armhf
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster-arm64
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster-armhf
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster-arm64
  files/build/versions/dockers/docker-snmp/versions-deb-buster-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#10659 [Build] Upgrade pip3 package docker to 5.0.3 (#10523)
  build_debian.sh
  files/build/versions/host-image/versions-py3
Labels: Build :hammer:

#10633 Remove SSH host keys after installing the custom version of sshd
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  files/sshd/override.conf
  files/sshd/sshd.service
Labels: Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#9681 Get asic PCI ID from CHASSIS_STATE_DB and update asic_id in CONFIG_DB
  dockers/docker-orchagent/docker-init.j2
Labels: Chassis :robot:

#7909 Do not configure LLDP on recirc ports
  dockers/docker-lldp/lldpmgrd
Labels: Chassis :robot:

#10688 [ci] Add azure pipeline to build common libs.
  .azure-pipelines/build-commonlib.yml
  .azure-pipelines/template-commonlib.yml
Labels: ci

#10594 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-orchagent/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/docker-syncd-nephos/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#10568 [Fastboot] Delay LLDP service for better fastboot performance
  files/build_templates/init_cfg.json.j2
  files/build_templates/lldp.timer.j2
  files/build_templates/per_namespace/lldp.service.j2
  files/build_templates/per_namespace/lldp.timer.j2
  files/build_templates/sonic_debian_extension.j2
  files/scripts/syncd.sh
  slave.mk
Labels: Request for 202012 branch, Request for 202111 branch

#10696 [Build]: Fix the buster slave not built issue when building configure
  Makefile
Labels: Build :hammer:

#10693 [Build]: Fix the build target not existing issue when building sonic-rest-api
  rules/restapi.mk
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10694 Dual ToR : Adjustment to ingress pool size to accomodate brcm sai
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/buffers_defaults_t0.j2
Labels: Request for 202012 branch

#10658 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-py3-all-armhf
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#10661 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-stretch/versions-deb-stretch
  files/build/versions/build/build-sonic-slave-stretch/versions-git
  files/build/versions/build/build-sonic-slave-stretch/versions-py2
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge
