Repository sonic-net/sonic-buildimage, pull requests merged in 2022-03, with the labels that each got.

#10119 [swss]: Wait for vlan intf to start ndppd
  dockers/docker-orchagent/docker-init.j2
  dockers/docker-orchagent/ndppd.conf
  dockers/docker-orchagent/wait_for_link.sh.j2
Labels: Request for 202012 branch

#9986 [containerd]Fixing container commands when mode is local and state is disabled
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/tests/container_test.py
Labels: Request for 202106 branch, Request for 202111 branch

#10147 [Unit Test]: Fix sonic config engine test not stable issue
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/test_j2files.py
Labels: Unit Tests, Request for 202012 branch

#10060 Support for idle_state device parameter is required for muxes using i2c_mux_pca954x driver
  platform/pddf/i2c/utils/pddfparse.py
Labels: PDDF

#10071 [pmon] Clean up supervisord chassis_db_init entry and fix startsecs
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
Labels: Request for 202106 branch, Request for 202111 branch

#9043 [supervisor]monit container-checker failed due to unexpected "database-chassis" docker running
  files/image_config/monit/container_checker
Labels: Chassis :robot:

#10155 [202012]BRCM SAI 4.3.5.3-2 Fixes CS00012228504, SONIC-55963:SID, CS00012209080, CS00012220761, and CS00012222414
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Labels: Platform: Broadcom, brcmsai

#10142 [yang]: Add yang models for table BGP_ALLOWED_PREFIXES
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/bgp.json
  src/sonic-yang-models/yang-models/sonic-bgp-allowed-prefix.yang
Labels: yang

#10149 [build] Fix the urllib3 version in sonic-mgmt-framework constrain file because
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
Labels: automerge

#10153 [swss]: Wait for vlan intf to start ndppd
  dockers/docker-orchagent/docker-init.sh
  dockers/docker-orchagent/ndppd.conf
  dockers/docker-orchagent/wait_for_link.sh.j2
Labels: Request for 202012 branch

#9805 [yang]: AAA login pattern
  src/sonic-yang-models/tests/yang_model_tests/tests/aaa.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/aaa.json
  src/sonic-yang-models/yang-models/sonic-system-aaa.yang
Labels: yang

#10100 [yang] support acl MIRROR_ACTION
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: yang

#10113 [YANG]: Update port Yang models to support multi-asic platform
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: yang

#10033 pam: sshd patch: Update the log message
  src/tacacs/pam/0010-handle-bad-password-set-by-sshd.patch
Labels: Request for 202106 branch

#10102 [Build][Ci]: Support to use the cisco sai packages built by azp
  .azure-pipelines/official-build-cisco-8000.yml
Labels: Build :hammer:, Request for 202012 branch, ci, Request for 202106 branch, Request for 202111 branch

#10154 [sonic-cfggen]: Fix generated deployment_id
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/t0-sample-deployment-id.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: sonic-cfggen

#10083 [Build]: Fix the bin image generated from raw image issue
  build_image.sh
Labels: Bug :bug:, Request for 201911 Branch :shipit:, Build :hammer:, Request for 202006 Branch, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10069 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-base-buster/versions-py3-all-arm64
  files/build/versions/dockers/docker-base-buster/versions-py3-all-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-arm64
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-py3-all-armhf
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#9913 [BFN] Update configuration files
  device/accton/x86_64-accton_wedge100bf_32qs-r0/montara/switch-tna-sai.conf
  device/arista/x86_64-arista_7170_32c/Arista-7170-32C-C32/switch-sai.conf
  device/arista/x86_64-arista_7170_32c/Arista-7170-32C-C32/switch-tna-sai.conf
  device/arista/x86_64-arista_7170_32cd/Arista-7170-32CD-C32/switch-sai.conf
  device/arista/x86_64-arista_7170_32cd/Arista-7170-32CD-C32/switch-tna-sai.conf
  device/arista/x86_64-arista_7170_64c/Arista-7170-64C/switch-sai.conf
  device/arista/x86_64-arista_7170_64c/Arista-7170-64C/switch-tna-sai.conf
  device/arista/x86_64-arista_7170_64c/Arista-7170-Q59S20/switch-sai.conf
  device/arista/x86_64-arista_7170_64c/Arista-7170-Q59S20/switch-tna-sai.conf
  device/barefoot/x86_64-accton_as9516_32d-r0/newport/switch-tna-sai.conf
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/montara/switch-sai.conf
  device/barefoot/x86_64-accton_wedge100bf_32x-r0/montara/switch-tna-sai.conf
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/mavericks/switch-sai.conf
  device/barefoot/x86_64-accton_wedge100bf_65x-r0/mavericks/switch-tna-sai.conf
  device/ingrasys/x86_64-ingrasys_s9180_32x-r0/INGRASYS-S9180-32X/switch-tna-sai.conf
  device/ingrasys/x86_64-ingrasys_s9280_64x-r0/INGRASYS-S9280-64X/switch-tna-sai.conf
  device/wnc/x86_64-wnc_osw1800-r0/OSW1800-48x6q/switch-tna-sai.conf
Labels: Platform: Barefoot

#10194 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster-arm64
Labels: automerge

#7869 Skip configuring buffer and QoS config on recirc ports
  files/build_templates/buffers_config.j2
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample-arista-7800r3-48cq2-lc-t2-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Chassis :robot:

#9686 [Mellanox][SAISERVER] Support Mellanox saiserverv1 and saiserverv2 docker
  platform/mellanox/docker-saiserver-mlnx.mk
  platform/mellanox/docker-saiserver-mlnx/Dockerfile.j2
  platform/mellanox/docker-saiserver-mlnx/supervisord.conf
  platform/mellanox/libsaithrift-dev.mk
Labels: Request for 202012 branch

#10146 Adding libubootenv-tool into bullseye image
  build_debian.sh
Labels: Request for 202111 branch

#10164 [Build]: Fix /proc not mounted issue
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
Labels: Build :hammer:

#10171 [202012] Refactoring DELL platform init to reduce rc.local processing time
  files/image_config/platform/rc.local
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/fast-reboot_plugin
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_platform_startup.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/systemd/s6100-i2c-enumerate.service
  platform/broadcom/sonic-platform-modules-dell/s6100/systemd/s6100-platform-startup.service
Labels: Included in 202012 Branch

#10214 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-armhf
Labels: automerge

#10211 [Build]: fix some version info missing in version control files issue
  build_debian.sh
Labels: Build :hammer:, Included in 202012 Branch, Included in 202106 branch, Included in 202111 branch

#10143 [Build]: Clean up pip cache
  build_debian.sh
Labels: Build :hammer:

#10175 [Build]: Fix installing dpkg packages in parallel issue
  src/sonic-build-hooks/hooks/apt
  src/sonic-build-hooks/hooks/apt-get
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10212 [Build]: only install grpc in amd64
  files/build_templates/sonic_debian_extension.j2
Labels: Build :hammer:, Included in 202111 branch

#9842 [hostcfgd] record feature state in STATE DB
  files/image_config/monit/container_checker
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/hostcfgd/hostcfgd_radius_test.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_tacacs_test.py
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
Labels: Request for 202111 branch

#10169 Specify the filesystem type when mounting to /host
  files/initramfs-tools/union-mount.j2
Labels: Request for 202111 branch

#10229 [build]: Fix marvell-armhf build hung issue (#10156)
  files/build_templates/sonic_debian_extension.j2
Labels: Build :hammer:, Request for 202106 branch, Request for 202111 branch

#10219 [teamd.sh] kill teamd docker on warm shutdown for faster shutdown
  files/scripts/teamd.sh
Labels: Request for 202012 branch, Request for 202111 branch

#10047 Using SFP refactoring framework in PDDF sfp class
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_sfp.py
Labels: Platform: Accton

#10241 [Build]: Enable the PR reproducible build
  azure-pipelines.yml
Labels: Build :hammer:

#10140 Update YANG model for mirror session to support decimal value for GRE type
  src/sonic-yang-models/tests/yang_model_tests/tests/mirror_session.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mirror_session.json
  src/sonic-yang-models/yang-models/sonic-mirror-session.yang
Labels: yang, Request for 202111 branch

#10283 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-arm64
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-armhf
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/docker-syncd-nephos/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#10278 [Build][Bug]: fix the warning message not printed as expected issue
  src/sonic-build-hooks/hooks/apt-get
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Bug :bug:, Build :hammer:

#10256 [Build]: Fix /proc not mounted issue (#10164)
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
Labels: Build :hammer:

#10258 [Mellanox] [202012] Fix issue: 4600C is using wrong thermal profile
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Bug :bug:, Platform: Mellanox

#10231 [Mellanox] Fix issue: psu might use wrong voltage sysfs which causes invalid voltage value
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202111 branch

#10253 [202012][radv] Support multiple ipv6 prefixes per vlan interface (#9934)
  dockers/docker-router-advertiser/radvd.conf.j2
  src/sonic-config-engine/tests/radv-test-sample-graph.xml
  src/sonic-config-engine/tests/sample_output/py2/radvd.conf
  src/sonic-config-engine/tests/sample_output/py3/radvd.conf
  src/sonic-config-engine/tests/test_j2files.py
Labels: Included in 202012 Branch

#10280 [Build]: Support to set jobFilters
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: Build :hammer:, Request for 202106 branch, Request for 202111 branch

#10274 [Build]: Use one debian mirror config
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/build_templates/sonic_debian_extension.j2
  files/image_config/apt/sonic-dev.gpg.key
  files/image_config/apt/sources.list
  files/image_config/apt/sources.list.d/amd64/debian_archive_trafficmanager_net_debian.list
  files/image_config/apt/sources.list.d/arm64/debian_mirror_arm64.list
  files/image_config/apt/sources.list.d/armhf/debian_mirror_armhf.list
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10281 [Build]: Use one debian mirror config
  files/build_templates/sonic_debian_extension.j2
  files/image_config/apt/sonic-dev.gpg.key
  files/image_config/apt/sources.list
  files/image_config/apt/sources.list.d/amd64/debian_archive_trafficmanager_net_debian.list
  files/image_config/apt/sources.list.d/arm64/debian_mirror_arm64.list
  files/image_config/apt/sources.list.d/armhf/debian_mirror_armhf.list
Labels: Build :hammer:

#10287 [Build]: support to collect version when purging debian package
  src/sonic-build-hooks/hooks/apt-get
  src/sonic-build-hooks/scripts/collect_version_files
  src/sonic-build-hooks/scripts/post_run_buildinfo
  src/sonic-build-hooks/scripts/pre_run_buildinfo
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#9856 [Arista] rename management interface in initrd
  files/initramfs-tools/arista-net
Labels: Platform: Arista

#10305 [202012][Mellanox] Change MFT version to 4.18.0-106
  platform/mellanox/mft.mk
Labels: Platform: Mellanox

#10304 [Mellanox] Change MFT version to 4.18.0-106
  platform/mellanox/mft.mk
Labels: Platform: Mellanox, Request for 202111 branch

#10296 [ci] Fix remove sonic-slave docker image issue
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/template-clean-sonic-slave.yml
Labels: Request for 202012 branch, ci, Request for 202106 branch, Request for 202111 branch

#10312 [Build]: Fix armhf mirrors not existing issue
  files/apt/sources.list.armhf
Labels: Build :hammer:, Request for 202111 branch

#10285 Don't use python/python2 for restapi start scripts
  dockers/docker-sonic-restapi/supervisord.conf
Labels: Request for 202012 branch

#10325 Check to see that the py2 and py3 version files exist before trying to sort them
  src/sonic-build-hooks/scripts/collect_version_files
Labels: Build :hammer:

#10317 [Mellanox] Refactor SFP to use new APIs.
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Platform: Mellanox

#10259 [Build]: Enable marvell-armhf PR check
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build-cache.yml
  azure-pipelines.yml
Labels: Build :hammer:, Request for 202106 branch, Request for 202111 branch

#10300 [Build]: Use one debian mirror config (#10274)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/apt/sonic-dev.gpg.key
  files/image_config/apt/sources.list
  files/image_config/apt/sources.list.d/amd64/debian_archive_trafficmanager_net_debian.list
  files/image_config/apt/sources.list.d/arm64/debian_mirror_arm64.list
  files/image_config/apt/sources.list.d/armhf/debian_mirror_armhf.list
Labels: Build :hammer:

#10182 [PINS] update sonic-p4rt docker to bullseye
  dockers/docker-sonic-p4rt/Dockerfile.j2
  rules/docker-p4rt.mk
Labels: bullseye

#10204 [Marvell-armhf] Setting u-boot ftd_high to resolve kernel hung
  platform/marvell-armhf/platform.conf
Labels: Request for 202111 branch

#9814 [YANG] Add route flow counter support
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/flex_counter.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: yang

#10331 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-arm64
  files/build/versions/dockers/docker-orchagent/versions-deb-buster-armhf
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster-arm64
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster-armhf
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster-arm64
  files/build/versions/dockers/docker-snmp/versions-deb-buster-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Labels: automerge

#9386 Dynamic port configuration - solve lldp issues when adding/removing ports
  dockers/docker-lldp/lldpmgrd
Labels: Request for 202111 branch

#10373 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-database/versions-deb-buster
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-mux/versions-deb-buster
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-router-advertiser/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-base-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#10355 [Unit Test]: Fix sonic config engine test not stable issue(#10147)
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/test_j2files.py
Labels: Unit Tests

#10358 [Build]: Fix host image debian package version issue
  scripts/prepare_slave_container_buildinfo.sh
  scripts/versions_manager.py
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10330 [Build]: fix ENABLE_DOCKER_BASE_PULL not working issue in armhf/arm64
  .azure-pipelines/docker-sonic-slave-arm64.yml
  .azure-pipelines/docker-sonic-slave-armhf.yml
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/docker-sonic-slave.yml
Labels: Build :hammer:

#10320 [Mellanox] Credo Y-cable read_eeprom/write_eeprom API implementation
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/input_platform/__init__.py
  platform/mellanox/mlnx-platform-api/tests/input_platform/output_sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#10346 [tun_pkt]: Wait for AsyncSniffer to init fully
  dockers/docker-orchagent/tunnel_packet_handler.py
Labels: Request for 202012 branch

#10160 [YANG ] Support vlan sub intf short naming format
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan_sub_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-vlan-sub-interface.yang
Labels: yang

#10398 [build][Bug]: Fix the command set_reproducible_mirrors not found issue
  scripts/prepare_slave_container_buildinfo.sh
Labels: Bug :bug:, Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10407 [build] Fix issues found in reproducible build.
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  scripts/docker_version_control.sh
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10367 [ci] Add azure pipeline to build common libs.
  .azure-pipelines/build-commonlib.yml
  .azure-pipelines/template-commonlib.yml
Labels: Request for 202012 branch, ci, Request for 202106 branch, Request for 202111 branch

#10383 [sonic-cfggen] Fix invalid switch_type
  src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml
Labels: sonic-cfggen

#10413 [counter] Fix issue: non default counters will be delayed forever after fastboot
  dockers/docker-orchagent/enable_counters.py
Labels: Bug :bug:, Request for 202111 branch

#10353 Allow NULL Buffer Profile in buffer pg/queue yang files for Dynamic B…
  src/sonic-yang-models/tests/yang_model_tests/tests/buffer_pg.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/buffer_pg.json
  src/sonic-yang-models/yang-models/sonic-buffer-pg.yang
Labels: yang, Request for 202111 branch
