Repository sonic-net/sonic-buildimage, pull requests merged in 2022-12, with the labels that each got.

#12487 [system-health] Led color shall be controlled by configuration when system is booting
  src/system-health/health_checker/config.py
  src/system-health/health_checker/manager.py
  src/system-health/tests/test_system_health.py
Labels: Enhancement :heavy_plus_sign:

#12100 [nokia] Replace os.system and remove subprocess with shell=True
  device/nokia/armhf-nokia_ixs7215_52x-r0/plugins/eeprom.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/chassis.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/component.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/psu.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp_event.py
Labels: Static Code Analysis

#12868 Disable stretch slave container
  Makefile
Labels: Request for 202111 Branch, Request for 202205 Branch

#12897 [yang] Add collector_vrf to sflow yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sflow.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sflow.json
  src/sonic-yang-models/yang-models/sonic-sflow.yang
Labels: yang, Request for 202205 Branch

#12784 [DellEMC] Master: S6100: SSD upgrade status: Moving from smartctl to iSMART
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_ssd_upgrade_status.sh
Labels: Platform: DellEMC, DELL

#12908 [action] [PR:11946] Make client indentity by AME cert
  files/build_templates/sonic_debian_extension.j2
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Labels: automerge

#12914 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#12905 [Arista 720DT] Create SKU alias Arista-720DT-G48S4
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-G48S4
Labels: Request for 202205 Branch, Arista-720DT-48S, Request for 202211 Branch

#12609 [armhf][sonic-installer] Fix an issue of the sonic-installer install after the cleanup
  platform/marvell-armhf/platform.conf
Labels: Bug :bug:, Request for 202012 Branch, Request for 202205 Branch

#12774 [centec][arm64] fix tsingma bsp compile error
  platform/centec-arm64/tsingma-bsp/src/ctc_wdt/ctc_wdt.c
Labels: Request for 202211 Branch

#12798 [build][arm64] disable p4rt compile on arm64 for bazel not work
  slave.mk
Labels: Request for 202211 Branch

#12925 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#12919 [action] [PR:12188] Improve feature mode switch process
  src/sonic-ctrmgrd/.gitignore
  src/sonic-ctrmgrd/ctrmgr/container
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/container_startup_test.py
  src/sonic-ctrmgrd/tests/container_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Labels: automerge

#12482 Add ECMP calculator tool
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/README.md
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc_sdk.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/packet_scheme.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Labels: Platform: Mellanox, Request for 202211 Branch

#12934 [action] [PR:12595] Fix code irregular issues
  src/sonic-ctrmgrd/ctrmgr/container_startup.py
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
Labels: automerge

#12944 [action] [PR:12774] [centec][arm64] fix tsingma bsp compile error
  platform/centec-arm64/tsingma-bsp/src/ctc_wdt/ctc_wdt.c
Labels: automerge

#12200 [Platform/Seastone]: fix syseeprom tlv read issue
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: Platform: Celestica, Request for 202205 Branch

#12947 [action] [PR:12829] [dockers] save extension dockers with an image tag
  slave.mk
Labels: automerge

#12946 [swss.sh] optimize macsec feature state query
  files/scripts/swss.sh
Labels: Request for 202205 Branch, Request for 202211 Branch

#12957 [action] [PR:12774] [centec][arm64] fix tsingma bsp compile error
  platform/centec-arm64/tsingma-bsp/src/ctc_wdt/ctc_wdt.c
Labels: automerge

#12956 [action] [PR:12798] [build][arm64] disable p4rt compile on arm64 for bazel not work
  slave.mk
Labels: automerge

#12971 Limit reload BCM SDK kmods on syncd start to PikeZ platform
  files/scripts/syncd.sh
Labels: Request for 202205 Branch

#12978 [action] [PR:12784] [DellEMC] Master: S6100: SSD upgrade status: Moving from smartctl to iSMART
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_ssd_upgrade_status.sh
Labels: automerge

#12975 [action] [PR:12200] [Platform/Seastone]: fix syseeprom tlv read issue
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: automerge

#12959 Fix docker load image tag not being the expected tag
  slave.mk
Labels: Request for 202205 Branch, Request for 202211 Branch

#12958 [build]: increase raw image disk size to 4GB
  onie-image-arm64.conf
  onie-image-armhf.conf
  onie-image.conf
Labels: Request for 202211 Branch

#12979 [action] [PR:12868] Disable stretch slave container
  Makefile
Labels: automerge

#12977 [action] [PR:12609] [armhf][sonic-installer] Fix an issue of the sonic-installer install after the cleanup
  platform/marvell-armhf/platform.conf
Labels: automerge

#12976 [action] [PR:12567] Seastone: fix platform fan psu and temperature issues
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
Labels: automerge

#12982 [action] [PR:12946] [swss.sh] optimize macsec feature state query
  files/scripts/swss.sh
Labels: automerge

#12981 [action] [PR:12905] [Arista 720DT] Create SKU alias Arista-720DT-G48S4
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-G48S4
Labels: automerge

#12576 [chassis] update the asic_status.py to read from CHASSIS_FABRIC_ASIC_INFO_TABLE
  dockers/docker-orchagent/docker-init.j2
  files/scripts/asic_status.py
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: Chassis :robot:

#13001 [action] [PR:12918] [sflow]: Unblocked psample_*() function calls related to BRCM specific procfs for sflow feature's working in ESW platforms
  platform/broadcom/saibcm-modules/sdklt/linux/knetcb/Kbuild
  platform/broadcom/saibcm-modules/sdklt/linux/knetcb/ngknetcb_main.c
  platform/broadcom/saibcm-modules/sdklt/linux/knetcb/psample-cb.h
  platform/broadcom/saibcm-modules/systems/linux/kernel/modules/knet-cb/knet-cb.c
Labels: automerge

#12921 Replace logrotate cron file with (adapted) systemd timer file
  files/build_templates/sonic_debian_extension.j2
  files/image_config/cron.d/logrotate
  files/image_config/logrotate/timerOverride.conf
Labels: Request for 202205 Branch, Request for 202211 Branch

#13004 [action] [PR:12912] [PATCH]: Update FRR patch 0009 to avoid inappropriate error messages
  src/sonic-frr/patch/0009-ignore-route-from-default-table.patch
Labels: automerge

#13000 [action] [PR:12900] [Arista] Disable pcie firmware check on x86_64-arista_7050cx3_32s
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/td3-a7050cx3-32s-flex.config.bcm
Labels: automerge

#13002 [action] [PR:12959] Fix docker load image tag not being the expected tag
  slave.mk
Labels: automerge

#13006 [dhcpv6_relay] Fix dependency of dhcp-mon on VLAN with only v6 cfg is provided
  dockers/docker-dhcp-relay/dhcp-relay.monitors.j2
Labels: Request for 202012 Branch, Request for 202205 Branch

#13014 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#13015 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#13016 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge

#13017 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
Labels: automerge

#13018 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
Labels: automerge

#13019 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#13008 [action] [PR:12921] Replace logrotate cron file with (adapted) systemd timer file
  files/build_templates/sonic_debian_extension.j2
  files/image_config/cron.d/logrotate
  files/image_config/logrotate/timerOverride.conf
Labels: automerge

#13028 [action] [PR:12964] [ci] Disable Shallow fetch in pipeline build.
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: automerge

#13029 [action] [PR:13006] [dhcpv6_relay] Fix dependency of dhcp-mon on VLAN with only v6 cfg is provided
  dockers/docker-dhcp-relay/dhcp-relay.monitors.j2
Labels: automerge

#12920 [build] Add the possibility to disable compilation of teamd and radv containers.
  files/scripts/swss.sh
  rules/config
  rules/docker-router-advertiser.mk
  rules/docker-teamd.mk
  slave.mk
Labels: Request for 202211 Branch

#13036 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
Labels: automerge

#12663 Add missing system_ref_core_clock_khz in Arista-7800R3A-36D2-C36 and Arista-7800R3A-36D2-C72
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: Platform: Arista, chassis-voq, Request for 202205 Branch

#13023 [Mellanox] Remove TODO comments which are no longer needed
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
Labels: Platform: Mellanox, Request for 202211 Branch

#13045 [action] [PR:12959] Fix docker load image tag not being the expected tag
  slave.mk
Labels: automerge

#13051 [Mellanox] Update ECMP calculator README file
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/README.md
Labels: Request for 202211 Branch

#13055 [action] [PR:12951] [master] Add aggregate port_config.ini for Arista-7800R3A-36D2-C36
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/port_config.ini
Labels: automerge

#13048 [Build] Fix the docker image docker-dhcp-relay:latest not found issue
  slave.mk
Labels: Build :hammer:, Request for 202211 Branch

#12996 [dualtor] Let T0 delay 10 seconds before sending BGP updates
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/test_frr.py
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#13071 [action] [PR:13048] [Build] Fix the docker image docker-dhcp-relay:latest not found issue
  slave.mk
Labels: automerge

#13080 Revert "[Arista] Disable pcie checking on x86_64-arista_7050cx3_32s (#12900)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/td3-a7050cx3-32s-flex.config.bcm
Labels: Request for 202205 Branch

#13082 [dualtor] Let T0 delay 10 seconds before sending BGP updates
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/test_frr.py
Labels: Included in 202205 Branch

#13085 [action] [PR:13080] Revert "[Arista] Disable pcie checking on x86_64-arista_7050cx3_32s (#12900)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/td3-a7050cx3-32s-flex.config.bcm
Labels: automerge

#13076 [BRCM-DNX(J2/J2c/J2c+)]:Reserve Non-ECMP Fec Resource for Non-ECMP Route Nexthops/NBR Entries
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai.profile
Labels: Chassis :robot:, Request for 202205 Branch

#13087 [caclmgrd][dualtor] add src IP to the SNAT rule for allowing gRPC packets forwarded via Loopback3
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/caclmgrd_soc_rules_test.py
  src/sonic-host-services/tests/caclmgrd/test_soc_rules_vectors.py
Labels: Included in 202205 Branch

#13089 [action] [PR:13076] [BRCM-DNX(J2/J2c/J2c+)]:Reserve Non-ECMP Fec Resource for Non-ECMP Route Nexthops/NBR Entries
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/sai.profile
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai.profile
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai.profile
Labels: automerge

#13074 [action] [PR:12663] Add missing system_ref_core_clock_khz in Arista-7800R3A-36D2-C36 and Arista-7800R3A-36D2-C72
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: automerge

#13092 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Labels: automerge

#13093 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
Labels: automerge

#13094 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#12825 [Build] use pigz to speed up a build
  Makefile.work
  build_debian.sh
  build_docker.sh
  build_image.sh
  rules/config
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Labels: Build :hammer:

#13095 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#13096 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#13101 [202205][Mellanox] change the implementation of is_host() to fix a stuck issue on simx platform
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Labels: Platform: Mellanox

#13100 [Mellanox] change the implementation of is_host() to fix a stuck issue on simx platform
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Labels: Platform: Mellanox, Cherry Pick Conflict_202205, Created PR to 202205 Branch, Request for 202211 Branch

#13011 [SFP] Change logging severity when failed to read EEPROM
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Platform: Mellanox, NVIDIA, Cherry Pick Conflict_202205, Request for 202205 Branch, Request for 202211 Branch

#12963 [build] Fix unexpected warnings: No names found, cannot describe anything.
  slave.mk
Labels: Request for 202205 Branch, Request for 202211 Branch

#13107 [action] Keep 'request for xxx branch' label when finished auto-cherry-pick
  .github/workflows/pr_cherrypick_poststep.yml
Labels: Request for 202012 Branch, Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch

#12490 [infra] Support syslog rate limit configuration
  dockers/docker-base-bullseye/etc/rsyslog.conf
  dockers/docker-base-buster/etc/rsyslog.conf
  dockers/docker-base-stretch/etc/rsyslog.conf
  dockers/docker-base/etc/rsyslog.conf
  dockers/docker-database/Dockerfile.j2
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-iccpd/Dockerfile.j2
  dockers/docker-lldp/Dockerfile.j2
  dockers/docker-macsec/Dockerfile.j2
  dockers/docker-mux/Dockerfile.j2
  dockers/docker-nat/Dockerfile.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-pde/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-sflow/Dockerfile.j2
  dockers/docker-snmp/Dockerfile.j2
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
  dockers/docker-sonic-restapi/Dockerfile.j2
  dockers/docker-sonic-telemetry/Dockerfile.j2
  dockers/docker-teamd/Dockerfile.j2
  files/build_templates/init_cfg.json.j2
  files/build_templates/manifest.json.j2
  files/image_config/rsyslog/rsyslog.conf.j2
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm-dnx/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm/Dockerfile.j2
  platform/cavium/docker-syncd-cavm/Dockerfile.j2
  platform/centec-arm64/docker-saiserver-centec/Dockerfile.j2
  platform/centec-arm64/docker-syncd-centec/Dockerfile.j2
  platform/centec/docker-saiserver-centec/Dockerfile.j2
  platform/centec/docker-syncd-centec/Dockerfile.j2
  platform/components/docker-gbsyncd-broncos/Dockerfile.j2
  platform/components/docker-gbsyncd-credo/Dockerfile.j2
  platform/innovium/docker-syncd-invm/Dockerfile.j2
  platform/marvell-arm64/docker-syncd-mrvl/Dockerfile.j2
  platform/marvell-armhf/docker-syncd-mrvl/Dockerfile.j2
  platform/marvell/docker-syncd-mrvl/Dockerfile.j2
  platform/mellanox/docker-saiserver-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/nephos/docker-syncd-nephos/Dockerfile.j2
  platform/p4/docker-sonic-p4/Dockerfile.j2
  platform/vs/docker-gbsyncd-vs/Dockerfile.j2
  platform/vs/docker-sonic-vs/Dockerfile.j2
  platform/vs/docker-syncd-vs/Dockerfile.j2
  rules/functions
  src/sonic-containercfgd/containercfgd/containercfgd.py
Labels: Request for 202211 Branch

#13021 [DellEMC] Fixing 'show interface status' break in DellEMC platforms
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/component.py
Labels: Platform: DellEMC, Request for 202205 Branch

#13120 [action] [PR:12845] [build] Fix issue between reproducible build and dood. (#11084)
  scripts/collect_docker_version_files.sh
Labels: automerge

#13122 [action] [PR:12325] [build] Add retry when make SONiC image to improve success rate.
  .azure-pipelines/template-variables.yml
  Makefile
  scripts/run_with_retry
Labels: automerge

#13134 [action] [PR:12963] [build] Fix unexpected warnings: No names found, cannot describe anything.
  slave.mk
Labels: automerge

#13133 [action] [PR:12963] [build] Fix unexpected warnings: No names found, cannot describe anything.
  slave.mk
Labels: automerge

#13053 [Nokia][device-data] Rename the port name in the port_config.ini and remove the ECN setting from BCM config file
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai_postinit_cmd.soc
Labels: chassis-voq, Request for 202205 Branch

#13147 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#13146 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
Labels: automerge

#13159 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
Labels: automerge

#13161 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#13168 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-stretch/versions-py2
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Labels: automerge

#13169 Upgrade SONiC Versions
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Labels: automerge

#13170 Upgrade SONiC Versions
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Labels: automerge

#13148 [dhcp_relay]Fix the clear dhcp6relay_counters CLI
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#13173 [action] [PR:10398] [build][Bug]: Fix the command set_reproducible_mirrors not found issue
  scripts/prepare_slave_container_buildinfo.sh
Labels: automerge

#13139 [build] Adjust teamd and radv features configuration according to the compilation options.
  files/build_templates/init_cfg.json.j2
  slave.mk
Labels: Request for 202211 Branch

#13162 [Build][202106] Fix libyang build broken issue
  files/build_templates/sonic_debian_extension.j2
  sonic-slave-buster/Dockerfile.j2
Labels: Build :hammer:

#13186 Fix sonic slave pipeline to set correct tag on sonic slave image. (#13177)
  .azure-pipelines/docker-sonic-slave-template.yml
  .azure-pipelines/docker-sonic-slave.yml
Labels: ci

#13188 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#13194 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#13149 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#12232 add Tunnel yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/tunnel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/tunnel.json
  src/sonic-yang-models/yang-models/sonic-tunnel.yang
Labels: yang

#13185 [Build] Support j2 template for debian sources (#12557)
  .gitignore
  Makefile.work
  build_debian.sh
  dockers/docker-base-bullseye/Dockerfile.j2
  dockers/docker-base-bullseye/sources.list
  dockers/docker-base-bullseye/sources.list.arm64
  dockers/docker-base-bullseye/sources.list.armhf
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/apt/sources.list.j2
  scripts/build_mirror_config.sh
  scripts/prepare_docker_buildinfo.sh
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Labels: Build :hammer:

#13198 [Build] Support j2 template for Debian sources for docker ptf
  dockers/docker-ptf/Dockerfile.j2
  scripts/prepare_docker_buildinfo.sh
Labels: Build :hammer:, Request for 202211 Branch

#13209 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge
