Repository sonic-net/sonic-buildimage, pull requests merged in 2022-09, with the labels that each got.

#11899 Add sai_mdio_access_clause22=1 in td3x2-a720dt-48s-flex.config.bcm
  device/arista/x86_64-arista_720dt_48s/td3x2-a720dt-48s-flex.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Arista-720DT-48S

#11926 [actions] Add github context env in label action.
  .github/workflows/label.yml
Labels: Request for 202012 Branch, Request for 202205 Branch

#11916 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#11919 [arp_update]: Set failed IPv6 neighbors to incomplete
  files/scripts/arp_update
Labels: Request for 202012 Branch, Request for 202205 Branch

#11937 [mux] skip mux operations during warm shutdown
  files/build_templates/per_namespace/bgp.service.j2
  files/scripts/write_standby.py
Labels: Request for 202012 Branch, Request for 202205 Branch

#11923 [Mellanox] [SN2201] Remove extra empty lines in the pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn2201-r0/ACS-SN2201/pg_profile_lookup.ini
Labels: Platform: Mellanox, Request for 202205 Branch

#11911 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#11963 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
Labels: automerge

#11951 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster-arm64
  files/build/versions/dockers/docker-snmp/versions-deb-buster-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#11971 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#11595 [docker-wait-any] immediately start to wait
  files/image_config/misc/docker-wait-any
Labels: Request for 202205 Branch

#11976 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-py2
  files/build/versions/host-image/versions-py3
Labels: automerge

#11731 [macsec]: Add MACsec clear CLI support
  dockers/docker-macsec/cli/clear/plugins/clear_macsec_counter.py
  dockers/docker-macsec/cli/show/plugins/show_macsec.py
  rules/docker-macsec.mk
Labels: Request for 202205 Branch

#11932 support for static-route yang model
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/static_route.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/static-route.json
  src/sonic-yang-models/yang-models/sonic-static-route.yang
Labels: yang

#11819 DellEMC Z9332f: Fix SFP issue
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/sfp.py
Labels: Platform: DellEMC

#11904 Map TC6 to Queue 1 for regular traffic
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/qos.json.j2
  device/common/profiles/th2/7260/BALANCED/qos.json.j2
  device/common/profiles/th2/7260/RDMA-CENTRIC/qos.json.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7050cx3-dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-dualtor.json
Labels: Request for 202012 Branch, Request for 202205 Branch

#12009 [Build] Fix dbus-run-session command not found issue when install dbus-python
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: Build :hammer:, Request for 202012 Branch, Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch

#11893 [services] Update "WantedBy=" section for tacacs-config.timer.
  files/build_templates/tacacs-config.timer
Labels: Request for 202205 Branch

#12039 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#12043 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-base-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#12040 Upgrade the sonic-fips packages to release 0.3
  rules/sonic-fips.mk
Labels: Request for 202205 Branch

#11894 yang model table DEVICE_NEIGHBOR_METADATA creation
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_neighbor_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_neighbor_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_neighbor_metadata.yang
Labels: yang

#12068 Upgrade SONiC Versions
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#12038 [Mellanox] Redirect ethtool stderr to subprocess for better error log
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Platform: Mellanox

#12081 [201911] Fix BGP Template rendering failure that needs Loopback4096 IP Address
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
Labels: Multi-ASIC

#11946 Make client indentity by AME cert
  files/build_templates/sonic_debian_extension.j2
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Labels: Request for 202012 Branch

#12033 Fix dhcp option buffer issue
  src/isc-dhcp/patch/0013-Fix-dhcrelay-agent-option-buffer-pointer-logic.patch
  src/isc-dhcp/patch/series
Labels: Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 Branch, Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch

#12101 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-database/versions-deb-buster
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-mux/versions-deb-buster
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-router-advertiser/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#11827 [bgp][service] Start bgp service after interfaces-config service
  files/build_templates/per_namespace/bgp.service.j2
Labels: Request for 202205 Branch

#12120 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
Labels: automerge

#12086 [PikeZ] Update port alias in Arista-720DT-48S
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/port_config.ini
  device/arista/x86_64-arista_720dt_48s/platform.json
Labels: Request for 202205 Branch, Arista-720DT-48S

#12121 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#11981 [Arista] Implement ssd_util plugin
  device/arista/x86_64-arista_common/plugins/ssd_util.py
Labels: Request for 202205 Branch, Arista-720DT-48S

#12141 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#11746 [HLX] Enable swap for haliburton device.
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
Labels: Platform: Celestica, Request for 202012 Branch

#12126 [202205] [Mellanox] update NVIDIA copyright header for NVIDIA added files
  device/mellanox/x86_64-mlnx_msn2700-r0/ACS-MSN2700/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/sai_4700_128x100g.xml
  platform/mellanox/mlnx-platform-api/tests/input_platform/__init__.py
  platform/mellanox/mlnx-platform-api/tests/input_platform/output_sfp.py
  platform/mellanox/zero_profiles.j2
Labels: Platform: Mellanox

#10631 [chassis][supervisor] show system-health summary fails on the supervisor card
  src/system-health/health_checker/service_checker.py
Labels: Request for 202205 Branch

#11915 [Arista] Add new SWI attribute required by Aboot for secureboot
  build_image.sh
Labels: Platform: Arista

#12155 [202205] Remove jinja2_cache
  src/sonic-config-engine/redis_bcc.py
  src/sonic-config-engine/setup.py
  src/sonic-config-engine/sonic-cfggen
Labels: Included in 202205 Branch

#12181 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#12142 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#12054 [202111] [Build] Fix dbus-run-session command not found issue when install dbus-python #12009
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: Build :hammer:

#12055 [202106] [Build] Fix dbus-run-session command not found issue when install dbus-python #12009
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: Build :hammer:

#12172 [201911][mellanox] Extend Mellanox FW utils with CPLD update
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Platform: Mellanox

#11548 [ifupdown2]:Patch ifupdown2 (#9630)
  src/ifupdown2/patch/0003-Fix-the-return-value-of-utils._execute_subprocess-me.patch
  src/ifupdown2/patch/series
Labels: Request for 202205 Branch

#12180 [Build] Fix the build unstable issue caused by the kvm not ready
  scripts/build_kvm_image.sh
Labels: Build :hammer:, Request for 202205 Branch

#12187 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Labels: automerge

#12184 [Mellanox] [202205] Revert "[Mellanox] Redirect ethtool stderr to subprocess for better error log (#12038)"
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Platform: Mellanox

#12139 [202205][Mellanox] Fix a typo in platform API
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Platform: Mellanox, Request for 202205 Branch

#12199 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#12211 Update cisco-8000 submodule to v0.117
  platform/checkout/cisco-8000.ini
Labels: Included in 202012 Branch

#11920 Support for serdes platform library debian installation for Innovium SONiC image
  platform/innovium/invm-sai.mk
  platform/innovium/one-image.mk
Labels: Platform: Marvell, Platform: Innovium

#12221 Make t0 part1 and part2 be able to be rerun if failed
  azure-pipelines.yml
Labels: ci

#12231 [Mellanox] Provide dummy implementation for get_rx_los and get_tx_fault
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Platform: Mellanox, Request for 202205 Branch

#11758 [Mellanox] Update MFT to v4.21.0-100
  platform/mellanox/mft.mk
Labels: Platform: Mellanox

#12240 [AzurePipeline] Fix vstest step failed by libyang missing.
  azure-pipelines.yml
Labels: ci

#12243 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge
