Repository sonic-net/sonic-buildimage, pull requests merged in 2022-05, with the labels that each got.

#10722 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#10567 [Fastboot] Delay PMON service for better fastboot performance
  files/build_templates/init_cfg.json.j2
  files/build_templates/pmon.service.j2
  files/build_templates/pmon.timer
  files/build_templates/sonic_debian_extension.j2
  files/scripts/syncd.sh
Labels: Request for 202012 branch, Request for 202111 branch

#10359 [yang] add yang options for Context object
  src/sonic-yang-mgmt/sonic_yang.py
Labels: yang, Request for 202111 branch

#10632 [Yang]: bgp internal neighbor yang model
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/bgp_internal.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/bgp_internal.json
  src/sonic-yang-models/yang-models/sonic-bgp-internal-neighbor.yang
Labels: Multi-ASIC, yang

#10642 [YANG] yang model for bgp voq chassis neighbor
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/bgp_voq_chassis_neighbor.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/bgp_voq_chassis_neighbor.json
  src/sonic-yang-models/yang-models/sonic-bgp-voq-chassis-neighbor.yang
Labels: Chassis :robot:, yang, chassis-voq

#10738 Remove referencing in unit test for arista7800
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
Labels: Bug :bug:

#10291 [YANG] Fix issue: Non compliant leaf list in config_db schema
  src/sonic-yang-mgmt/sonic_yang.py
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-models/tests/files/sample_config_db.json
Labels: Bug :bug:, yang, Request for 202111 branch

#10486 [dhcp6relay] Add dhcpv6 option check
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp6relay_counters.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
  src/dhcp6relay/src/relay.cpp
  src/dhcp6relay/src/relay.h
Labels: Request for 202012 branch, Request for 202111 branch

#10756 Revert "[portconfig]: Remove try block for db config initialization"
  src/sonic-config-engine/portconfig.py
  src/sonic-config-engine/sonic-cfggen
Labels: Bug :bug:

#10770 [build] Add dependencies for sonic-config-engine to block bad PR.
  rules/sonic-config.dep
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10724 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#10771 [ci] Support multi tags when pushing docker image
  push_docker.sh
Labels: ci

#10775 Reduce image size for lazy installation packages
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
Labels: Request for 202006 Branch, Request for 202012 branch, Request for 202106 branch

#10749 [Arista] Add missing configuration files for linecards
  device/arista/x86_64-arista_7800r3_48cq2_lc/pcie.yaml
  device/arista/x86_64-arista_7800r3_48cq2_lc/sensors.conf
  device/arista/x86_64-arista_7800r3_48cq2_lc/system_health_monitoring_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/pcie.yaml
  device/arista/x86_64-arista_7800r3_48cqm2_lc/sensors.conf
  device/arista/x86_64-arista_7800r3_48cqm2_lc/system_health_monitoring_config.json
  device/arista/x86_64-arista_common/system_health_monitoring_config_linecard.json
Labels: Platform: Arista, Chassis :robot:

#10698 [201811] Minigraph parser changes to select mmu profiles based on SonicQosProfile attribute
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/test_j2files.py
Labels: minigraph :world_map:

#10806 [SIMX] [MLNX] Removed Platform specific reboot files for simx
  device/mellanox/x86_64-mlnx_msn2700_simx-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3700_simx-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn4800_simx-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/platform_reboot
Labels: Request for 202012 branch, Request for 202111 branch

#10025 sonic-port.yang: add link training support
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: yang

#10820 [Ci] Support to trigger a pipeline to download and publish artifacts to storage
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/trigger-publish-artifacts-build.yml
Labels: Request for 202012 branch, ci, Request for 202106 branch, Request for 202111 branch

#9700 [sonic-cfggen]: Update UT to run yang validation
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: sonic-cfggen, yang, Request for 202111 branch

#10757 [201811] Update 7260 MMU and ECN settings
  device/common/profiles/th2/7260/BALANCED/pg_profile_lookup.ini
  device/common/profiles/th2/7260/BALANCED/qos.json.j2
  device/common/profiles/th2/7260/RDMA-CENTRIC/pg_profile_lookup.ini
  device/common/profiles/th2/7260/RDMA-CENTRIC/qos.json.j2
  src/sonic-config-engine/tests/sample-arista-7260-t1-minigraph.xml
  src/sonic-config-engine/tests/sample_output/qos-arista7260.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Unit Tests

#10644 [scapy]: Patch scapy 2.4.5 for sniffing on intfs
  src/scapy.patch/0003-Do-not-resolve-the-interface-name-globally.patch
  src/scapy.patch/series
Labels: Request for 202012 branch, regression, Request for 202111 branch

#10716 [bgpcfgd] ECMP overlay VxLan with BGP support
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_advertise_rt.py
  src/sonic-bgpcfgd/bgpcfgd/managers_rm.py
  src/sonic-bgpcfgd/tests/test_advertise_rt.py
  src/sonic-bgpcfgd/tests/test_rm.py
Labels: Request for 202012 branch

#10846 Dell S6100: Addition of SFP type_abbrv_name field
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/sfp.py
Labels: Bug :bug:, DELL

#10847 [Ci]: Fix to trigger the publish pipeline in failure build issue
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/trigger-publish-artifacts-build.yml
Labels: Request for 202012 branch, ci, Request for 202106 branch, Request for 202111 branch

#10843 [202111] [Mellanox] Fix issue: error message from system-health daemon is observed during system starting
  platform/mellanox/hw-management/0004-Make-SONiC-system-health-service-service-start-after.patch
Labels: Bug :bug:, Platform: Mellanox, Request for 202111 branch

#10817 [ci] Add arm artifacts in common lib azure pipeline
  .azure-pipelines/template-commonlib.yml
  slave.mk
Labels: ci

#10854 [Marvell] Marvell armhf SAI debian
  platform/marvell-armhf/sai.mk
Labels: Platform: Marvell, Platform: Nokia

#10906 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#10783 DellEMC: S52xx Reboot cause fix
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/chassis.py
Labels: Platform: DellEMC

#10769 [voq][chassis]fix recirc port admin status
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/voq-sample-port-config.ini
Labels: Chassis :robot:, chassis-voq

#10819 [dhcp6relay] Fix option parsing and add dhcpv6 client messages
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp6relay_counters.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
  src/dhcp6relay/src/relay.cpp
  src/dhcp6relay/src/relay.h
Labels: Request for 202012 branch, Request for 202111 branch

#10500 [chassis] Fix issues regarding database service failure handling and mid-plane connectivity for namespace.
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/chassisdb.conf
  dockers/docker-database/flush_unused_database
  files/build_templates/docker_image_ctl.j2
  files/image_config/interfaces/interfaces-config.sh
Labels: Chassis :robot:

#10844 [device/celestica]:Fix failed test case of Haliburton snmp
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/thermal.py
Labels: Platform: Celestica, Request for 202012 branch

#10889 [sonic-config-engine] Change hwsku for sample graph in unit tests
  src/sonic-config-engine/tests/sample-graph-resource-type.xml
Labels: Request for 202012 branch, Request for 202111 branch

#10916 Revert "Reduce image size for lazy installation packages (#10775)"
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
Labels: Build :hammer:, Request for 202006 Branch, Request for 202012 branch, Request for 202106 branch

#10929 [Build] Touch the download files to change the modified time
  src/sonic-fips/Makefile
Labels: Build :hammer:

#10865 Add crm sample data for snat/dnat/ipmc entries for Yang Model
  src/sonic-yang-models/tests/files/sample_config_db.json
Labels: yang

#10455 [202106][DellEMC S5248f] Remove duplicate ipmihelper.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/ipmihelper.py
Labels: Request for 202012 branch

#10732 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/docker-syncd-nephos/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#10937 [yang]Adding Sample configuration for ACL_TABLE_TYPE
  src/sonic-yang-models/tests/files/sample_config_db.json
Labels: yang

#10941 [sonic-config-engine] Fix typo in hwsku name in sample graph
  src/sonic-config-engine/tests/sample-graph-resource-type.xml
Labels: Bug :bug:, Request for 202012 branch, Request for 202111 branch

#10322 [YANG] Add support for Password Hardening
  files/build_templates/init_cfg.json.j2
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/password_hardening.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/password_hardening.json
  src/sonic-yang-models/yang-models/sonic-passwh.yang
Labels: yang

#10971 [Build]: Support to use the base image version when a package version not specified
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/pre_run_buildinfo
Labels: Build :hammer:, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10717 [Build]: fix build version conflict issue in 202111 branch
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:

#10913 [Arista] Update supervisor configurations
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/0/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/1/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/10/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/11/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/2/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/3/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/4/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/5/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/6/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/7/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/8/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/9/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/asic.conf
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/0/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/1/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/10/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/11/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/12/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/13/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/14/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/15/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/16/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/17/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/2/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/3/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/4/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/5/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/6/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/7/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/8/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/9/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/asic.conf
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/0/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/1/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/10/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/11/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/2/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/3/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/4/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/5/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/6/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/7/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/8/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/9/default_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/asic.conf
  device/arista/x86_64-arista_7800_sup/use_pci_id_chassis
  device/arista/x86_64-arista_7800r3_48cq2_lc/default_config.json
Labels: Platform: Arista, Chassis :robot:, chassis-voq

#10974 [Build]: Support to use the base image version when a package version not specified
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/pre_run_buildinfo
Labels: Build :hammer:

#10975 [Build]: Support to use the base image version when a package version not specified
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/pre_run_buildinfo
Labels: Build :hammer:

#10934 [SONiC-CEL]: fix platform fancontrol testcase failure issue
  platform/broadcom/sonic-platform-modules-cel/services/fancontrol/fancontrol
Labels: Platform: Celestica, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch

#10822 Clear VXLAN tunnel table from State DB on startup
  files/scripts/swss.sh
Labels: Request for 202012 branch, Request for 202106 branch, Request for 202111 branch
