Repository sonic-net/sonic-buildimage, pull requests merged in 2022-08, with the labels that each got.

#11571 [Mellanox] Configure buffer for queue 7 on T1 uplink ports in dual ToR scenario
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/buffers_defaults_objects.j2
  src/sonic-config-engine/tests/sample_output/py3/buffers-mellanox4600c-t1-dynamic.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-mellanox4600c-t1.json
Labels: Platform: Mellanox, Request for 202205 Branch

#11570 [Mellanox][202012] Configure buffer for queue 7 on T1 uplink ports in dual ToR scenario
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/buffers_defaults_objects.j2
  src/sonic-config-engine/tests/sample_output/py3/buffers-mellanox4600c-t1-dynamic.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-mellanox4600c-t1.json
Labels: Platform: Mellanox

#11569 Support different `DSCP_TO_TC_MAP` for T1 in dualtor deployment
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers_extra_pgs.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/buffers_extra_pgs.j2
  device/common/profiles/th2/7260/BALANCED/buffers_defaults_t1.j2
  device/common/profiles/th2/7260/BALANCED/qos.json.j2
  device/common/profiles/th2/7260/RDMA-CENTRIC/buffers_defaults_t1.j2
  device/common/profiles/th2/7260/RDMA-CENTRIC/qos.json.j2
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7260-t1.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-t1.json
Labels: Request for 202205 Branch

#9487 Yang model support for SRV6 CRM
  src/sonic-yang-models/tests/yang_model_tests/tests/crm.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/crm.json
  src/sonic-yang-models/yang-models/sonic-crm.yang
Labels: Help Wanted :sos:

#11550 [pmon] Add ping package to pmon docker
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: Chassis :robot:, Request for 202205 Branch

#11461 Upgrade sonic fips packages to version 0.2
  rules/sonic-fips.mk
Labels: Security :shield:, Request for 202205 Branch

#11585 [KVM]Preventing ebtables cfg to be applied on KVM
  files/build_templates/docker_image_ctl.j2
Labels: Request for 202205 Branch

#11629 [ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#11438 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#11440 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#11635 [202012] Fix CVE-2017-1000487 security alert
  src/thrift_0_13_0/Makefile
  src/thrift_0_13_0/patch/0002-cve-2017-1000487.patch
Labels: Security :shield:

#11634 Fix CVE-2017-1000487 alert for thrift 0.14.1
  src/thrift_0_14_1/thrift.patch/0002-cve-2017-1000487.patch
  src/thrift_0_14_1/thrift.patch/series
Labels: Security :shield:, Request for 202111 Branch, Request for 202205 Branch

#11556 [Mellanox] add more log while doing sysfs reading
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Labels: Platform: Mellanox, Request for 202205 Branch

#11630 Support TC value above 7 in yang model
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-dot1p-tc-map.yang
  src/sonic-yang-models/yang-models/sonic-dscp-tc-map.yang
  src/sonic-yang-models/yang-models/sonic-tc-priority-group-map.yang
  src/sonic-yang-models/yang-models/sonic-tc-queue-map.yang
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: Request for 202205 Branch

#11612 Update Broadcom SAI to 7.1.0.0-9
  platform/broadcom/sai.mk
Labels: Request for 202205 Branch

#11650 [write_standby] update write_standby.py script
  files/scripts/write_standby.py
Labels: Request for 202205 Branch

#11615 [arp_update]: Resolve failed neighbors on dualtor
  files/scripts/arp_update
Labels: Request for 202205 Branch

#11627 [swss] Only run tunnel packet handler on dualtor devices
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-orchagent/docker-init.j2
  dockers/docker-orchagent/supervisord.conf.j2
  dockers/docker-orchagent/tunnel_packet_handler.conf
Labels: Request for 202205 Branch

#11628 Upgrade LLDP docker to Bullseye
  dockers/docker-lldp/Dockerfile.j2
  rules/docker-lldp.mk
Labels: Request for 202205 Branch

#11590 [swss.sh/syncd.sh] Trap only on EXIT
  files/scripts/swss.sh
  files/scripts/syncd_common.sh
Labels: Request for 201911 Branch :shipit:, Request for 202012 Branch, Request for 202205 Branch

#11574 [Mellanox] [SKU] Mellanox-SN4700-C128 SKU added
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/buffers_defaults_t2.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/sai_4700_128x100g.xml
Labels: Platform: Mellanox, Request for 202205 Branch

#11693 [BRCM SAI 7.1.7.1] catch up on all pending fix patches for REL_7.0/7.1
  platform/broadcom/sai.mk
Labels: brcmsai, bullseye, Request for 202205 Branch

#11697 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#11691 [swss] Adding conditional for bgp when on multi ASIC platform
  files/scripts/swss.sh
Labels: Request for 202205 Branch

#11616 parse 400g zr port config from minigraph
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Chassis :robot:

#11637 Add k8s master feature
  Makefile.work
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  files/image_config/kubernetes/kubernetes_master_entrance.sh
  rules/config
  slave.mk
Labels: Request for 202012 Branch

#11719 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#11679 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#11609 [Mellanox] [SN5600] Add support for Service Port
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/ACS-SN5600/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/ACS-SN5600/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/ACS-SN5600/sai_5600.xml
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/platform.json
Labels: Platform: Mellanox

#11735 Disable tunnel qos remap on KVM testbed
  src/sonic-config-engine/minigraph.py
Labels: Request for 202205 Branch

#11676 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Labels: automerge

#11747 [Yang] Update Yang for `pfc_enable` and `pfcwd_sw_enable` fields
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-port-qos-map.yang
Labels: Request for 202205 Branch

#11699 [PikeZ] Correct port index in Arista-720DT-48S/phy24_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy24_config.json
Labels: Arista-720DT-48S

#11715 Add yang_config_validation in device_info
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Request for 202205 Branch

#11713 Cherry pick '[swsscommon] Add c++ version sonic-db-cli from sonic-swss-common' to 202205 branch
  files/build_templates/sonic_debian_extension.j2
  rules/docker-config-engine-bullseye.mk
  rules/docker-config-engine-buster.mk
  rules/docker-config-engine-stretch.mk
  rules/docker-config-engine.mk
  rules/docker-database.mk
  rules/swss-common.mk
  slave.mk
Labels: Submodule Update :arrow_double_up:

#10828 upstream snmp sonic-yang files
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/snmp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/snmp.json
  src/sonic-yang-models/yang-models/sonic-snmp.yang
Labels: Request for 202205 Branch

#11754 Added support to add gbsyncd in Feature Table of Host Config DB
  files/scripts/gbsyncd.sh
Labels: Multi-ASIC, Request for 202205 Branch

#11732 [Mellanox] Fix issue: set lpmode by platform API does not work
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Platform: Mellanox, Request for 202205 Branch

#11763 [snmpd]: Update to 5.9+dfsg-4+deb11u1 to match Debian version
  rules/snmpd.mk
  src/snmpd/Makefile
Labels: Request for 202205 Branch

#11760 Update bcm config file system_ref_core_clock_khz param for j2cplus linecards
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/0/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/1/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/10/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/11/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/2/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/3/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/4/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/5/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/6/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/7/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/8/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/9/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/0/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/1/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/10/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/11/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/12/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/13/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/14/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/15/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/16/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/17/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/2/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/3/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/4/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/5/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/6/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/7/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/8/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/9/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/0/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/1/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/10/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/11/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/2/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/3/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/4/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/5/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/6/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/7/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/8/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/9/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Platform: Arista, chassis-voq

#11791 [arping] install arping utility in the base image
  build_debian.sh
Labels: Request for 202205 Branch

#11801 [202205]: Update package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster-arm64
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-py3-all-armhf
Labels: Included in 202205 Branch

#11777 Bullseye frr
  dockers/docker-fpm-frr/Dockerfile.j2
  rules/docker-fpm-frr.mk
Labels: Request for 202205 Branch

#11442 container_checker on supervisor should check containers based on asic presence
  files/image_config/monit/container_checker
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: Chassis :robot:, Multi-ASIC, Request for 202205 Branch

#11640 PFCWD fix for multi port multi priority scenario for HWSKU Dell Z9332
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-M-O16C64/th3-z9332f-16x400G-64x100G.config.bcm
  device/dell/x86_64-dellemc_z9332f_d1508-r0/DellEMC-Z9332f-O32/th3-z9332f-32x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Request for 202012 Branch, Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch

#11768 [BRCM SAI] upgrade Broadcom SAI to 7.1.7.2
  platform/broadcom/sai.mk
Labels: Request for 202205 Branch, Arista-720DT-48S

#11748 [gbsyncd] Build docker-gbsyncd-broncos image
  platform/broadcom/rules.dep
  platform/broadcom/rules.mk
  platform/components/docker-gbsyncd-broncos.mk
  platform/components/docker-gbsyncd-broncos/Dockerfile.j2
Labels: Arista-720DT-48S

#11764 filter inband and recirc ports as internal ports
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: chassis-voq

#11696 [sonic_py_common] Cache Static Information in device_info to speed up CLI response
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/tests/device_info_test.py
Labels: Request for 202205 Branch

#11614 [Mellanox] [4700] Update platform capability file to support new breakout mode
  device/mellanox/x86_64-mlnx_msn4700-r0/platform.json
Labels: Platform: Mellanox, Request for 202205 Branch

#11752 [201811] Add the hw reboot cause if it happened during software reboot
  files/image_config/process-reboot-cause/process-reboot-cause
Labels: Improvement

#11829 Build the Broadcom DNX RPC container as part of the official build
  .azure-pipelines/azure-pipelines-build.yml
Labels: Request for 202205 Branch

#11793 [chassis]: Add support to get list of fabric asic namespaces
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: chassis-voq, Request for 202205 Branch

#11839 [Arista] Enable AN for Ethernet24-47 on 720DT-48S
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/hwsku.json
Labels: Request for 202205 Branch, Arista-720DT-48S

#11852 [gbsyncd] Add mount directory /var/warmboot in docker gbsyncd
  platform/components/docker-gbsyncd-broncos.mk
  platform/template/docker-gbsyncd-base.mk
Labels: Request for 202205 Branch, Arista-720DT-48S

#11795 New API to support runtime metadata needed for Feature Table field jinja rendering.
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Chassis :robot:, Request for 202205 Branch

#11855 [Arista] Fix content of platform.json for DCS-720DT-48S
  device/arista/x86_64-arista_720dt_48s/platform.json
Labels: Request for 202205 Branch, Arista-720DT-48S

#11757 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#11856 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#11742 [201911][Mellanox] Collect MST dump before syncd restart on shutdown notification
  files/scripts/syncd.sh
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#11857 Address Review Comment to define SONIC_GLOBAL_DB_CLI in gbsyncd.sh
  files/scripts/gbsyncd.sh
Labels: Chassis :robot:, Request for 202205 Branch

#11866 [202205] [sonic_py_common] Cache Static Information in device_info to speed up CLI response
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/tests/device_info_test.py
Labels: Included in 202205 Branch

#11727 Fix vs check install login timeout issue
  check_install.py
Labels: Request for 202012 Branch, Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch

#11860 [202205][Arista] Add initial support for 720DT-48S (#10656)
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/hwsku.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/port_config.ini
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/sai.profile
  device/arista/x86_64-arista_720dt_48s/default_sku
  device/arista/x86_64-arista_720dt_48s/platform.json
  device/arista/x86_64-arista_720dt_48s/platform_asic
  device/arista/x86_64-arista_720dt_48s/platform_reboot
  device/arista/x86_64-arista_720dt_48s/plugins
  device/arista/x86_64-arista_720dt_48s/pmon_daemon_control.json
  device/arista/x86_64-arista_720dt_48s/system_health_monitoring_config.json
  device/arista/x86_64-arista_720dt_48s/td3x2-a720dt-48s-flex.config.bcm
  device/arista/x86_64-arista_720dt_48s/thermal_policy.json
  files/Aboot/boot0.j2
  files/initramfs-tools/arista-convertfs.j2
Labels: Arista-720DT-48S

#11896 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Labels: automerge

#11577 [Nokia][Nokia-IXR7250E-36x100G & Nokia-IXR7250E-36x400G] Update BCM config to support ERSPAN egress mirror and also set flag to preserve ECN
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai_postinit_cmd.soc
Labels: Request for 202205 Branch

#11898 [202205][Arista] Add missing configs for 720DT-48S (#11362)
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/context_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/gearbox_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy0_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy10_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy11_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy12_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy13_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy14_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy15_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy16_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy18_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy19_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy1_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy20_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy21_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy22_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy23_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy24_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy25_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy2_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy3_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy4_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy5_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy6_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy7_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/phy9_config.json
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/pikez.bcm
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-48S/psai.profile
  device/arista/x86_64-arista_720dt_48s/gbsyncd.ini
  device/arista/x86_64-arista_720dt_48s/pcie.yaml
  device/arista/x86_64-arista_720dt_48s/platform.json
  device/arista/x86_64-arista_720dt_48s/sensors.conf
  device/arista/x86_64-arista_720dt_48s/td3x2-a720dt-48s-flex.config.bcm
Labels: Arista-720DT-48S

#11817 [202205] Add linux perf tool to sonic image
  build_debian.sh
Labels: Included in 202205 Branch

#11900 Align API get_device_runtime_metadata() for python version < 3.9
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Request for 202205 Branch

#11806 [YANG] Create YANG Model for Console
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/console.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/console.json
  src/sonic-yang-models/yang-models/sonic-console.yang
Labels: yang
