Repository sonic-net/sonic-buildimage, pull requests merged in 2022-06, with the labels that each got.

#10729 Support symcrypt fips config for aboot/uboot
  build_image.sh
  files/Aboot/boot0.j2
  installer/arm64/install.sh
  installer/armhf/install.sh
  platform/centec-arm64/platform.conf
  platform/marvell-arm64/platform.conf
  platform/marvell-armhf/platform.conf
Labels: Requested for 202205 branch

#11029 [pr test] increase T1-lag PR test timeout to 5 hours
  azure-pipelines.yml
Labels: Requested for 202205 branch

#11018 Adjust 7260 buffer sizes to accomodate extra lossless queues
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/buffers_pool_sizes_t1.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/buffers_pool_sizes_t0.j2
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7260-dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7260-t1.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Request for 202012 branch, Request for 202111 branch, Requested for 202205 branch

#11021 [Build]: Fix the version files for armhf/arm64 not used issue
  scripts/build_debian_base_system.sh
Labels: Build :hammer:, Request for 202111 branch, Requested for 202205 branch

#11022 [Build]: Fix the version files for armhf/arm64 not used issue
  scripts/build_debian_base_system.sh
Labels: Build :hammer:

#10973 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#10978 [Mellanox] Update SN2201 sai profile and platform reboot script
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn2201-r0/ACS-SN2201/sai_2201.xml
Labels: Platform: Mellanox, Requested for 202205 branch

#10815 [Mellanox] optimize platform API import time
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: Platform: Mellanox, Requested for 202205 branch

#11051 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-nephos/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-arm64
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch-armhf
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#10902 [202012] [Mellanox] [pmon] Fix for PMON service not starting when restarting SWSS service after fast/warm reboot
  files/scripts/syncd.sh
Labels: Bug :bug:, Platform: Mellanox

#11072 [Bug]: fix the version file name issue
  scripts/build_debian_base_system.sh
Labels: Bug :bug:, Build :hammer:

#11073 [Bug]: fix the version file name issue
  scripts/build_debian_base_system.sh
Labels: Bug :bug:, Build :hammer:

#11030 [makefile] remove all fsroot folders
  Makefile.work
Labels: Requested for 202205 branch

#11076 [DellEMC] Fix S5248f platform issues
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/scripts/s5248f_platform.sh
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/sfp.py
Labels: Platform: DellEMC

#11066 Cleanup macsec stateDB tables on swss restart
  files/scripts/swss.sh
Labels: Requested for 202205 branch

#11082 [202012] [sonic-config-engine] Generate expected output with different cable len
  src/sonic-config-engine/tests/test_j2files.py
Labels: Unit Tests

#11093 Add ping to swss-layer docker
  dockers/docker-swss-layer-bullseye/Dockerfile.j2
  dockers/docker-swss-layer-buster/Dockerfile.j2
Labels: Requested for 202205 branch

#11053 Yang model for xcvr tx power and frequency configuration
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: yang

#11096 [202111]DellEMC S5248f platform bug fixes
  platform/broadcom/sonic-platform-modules-dell/s5248f/scripts/s5248f_platform.sh
Labels: Platform: DellEMC

#11121 fix armhf for installer.conf usage
  build_image.sh
  platform/marvell-armhf/platform.conf
Labels: Request for 202012 branch, Request for 202106 branch, Request for 202111 branch, Requested for 202205 branch

#11122 [Nokia ixs7215] change var/log size to 4GB
  device/nokia/armhf-nokia_ixs7215_52x-r0/installer.conf
Labels: Request for 202012 branch, Request for 202106 branch, Request for 202111 branch, Requested for 202205 branch

#11092 [sonic-config-engine] Generate expected output with different cable len
  src/sonic-config-engine/tests/test_j2files.py
Labels: Unit Tests, Request for 202111 branch, Requested for 202205 branch

#11120 [Mellanox] Add flag 'skip_xcvrd_cmis_mgr' to skip CMIS task on Mellanox platform
  device/mellanox/x86_64-mlnx_msn2700-r0/pmon_daemon_control.json
Labels: Platform: Mellanox

#11089 [Yang] Update YANG for PORT_QOS_MAP to support switch level mapping
  src/sonic-yang-models/tests/yang_model_tests/tests/qosmaps.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-port-qos-map.yang
Labels: Requested for 202205 branch

#11111 [Build] Improve docker build performance
  .azure-pipelines/template-variables.yml
  Makefile.work
  rules/config
  slave.mk
Labels: Build :hammer:, Requested for 202205 branch

#10901 [Mellanox] [pmon] Fix for PMON service not starting when restarting SWSS service after fast/warm reboot
  files/scripts/syncd.sh
Labels: Bug :bug:, Platform: Mellanox, Request for 202111 branch, Requested for 202205 branch

#11159 [202205][bcm sai] upgrade Broadcom SAI to 7.1.0.0-5
  platform/broadcom/sai.mk
Labels: brcmsai

#11087 Generate switch level dscp_to_tc_map entry from qos_config template
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7050.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-dell6100.json
  src/sonic-config-engine/tests/sample_output/py2/qos-dell9332.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7050.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7050cx3-dualtor-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7050cx3-dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-dualtor-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-t1-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-t1.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-dell6100.json
  src/sonic-config-engine/tests/sample_output/py3/qos-dell9332.json
Labels: Requested for 202205 branch

#11173 [202205][BRCM_SAI] update Brcm SAI dependencies
  platform/broadcom/docker-pde.mk
  platform/broadcom/docker-syncd-brcm.mk
  platform/broadcom/libsaithrift-dev.mk
  platform/broadcom/rules.mk
  platform/broadcom/sai.dep
  platform/broadcom/sonic-pde-tests.mk
  platform/marvell/libsaithrift-dev.mk
Labels: Build :hammer:

#11129 [memory_checker] Do not check memory usage of containers which are not created
  files/image_config/monit/memory_checker
Labels: Bug :bug:, Request for 202012 branch, Request for 202111 branch, Requested for 202205 branch

#11106 Updated Nokia device BCM and platform config
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform.json
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_ndk.json
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_reboot
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/system_health_monitoring_config.json
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/platform.json
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/platform_ndk.json
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/platform_reboot
Labels: Requested for 202205 branch

#10721 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-deb-stretch
  files/build/versions/build/build-sonic-slave-stretch/versions-py2
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-stretch
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#11179 [build] Add version files to docker image dependencies
  Makefile.cache
Labels: Bug :bug:, Build :hammer:

#11012 Add IP interface loopback action related content to YANG models.
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan_sub_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-vlan-sub-interface.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: Requested for 202205 branch

#10370 [sflow + dropmon] added the ENABLE_SFLOW_DROPMON build flag. Added patches for sflow repo.
  rules/config
  rules/sflow.mk
  slave.mk
  src/sflow/hsflowd/Makefile
  src/sflow/hsflowd/patch/dropmon/0001-dropmon-workaround-created-local-copy-of-linux-net_dropmon.patch
  src/sflow/hsflowd/patch/dropmon/0001-sflow-enabled-drop-monitor-support-for-SONiC.patch
  src/sflow/hsflowd/patch/dropmon/series
Labels: Requested for 202205 branch

#11114 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#11032 [Mellanox][202012] Support Mellanox-SN4600C-C64 as T1 switch in dual-ToR scenario
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/qos.json.j2
  files/build_templates/buffers_config.j2
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample-mellanox-4600c-t1-minigraph-remap-disabled.xml
  src/sonic-config-engine/tests/sample-mellanox-4600c-t1-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py3/buffers-mellanox4600c-t1-dynamic-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-mellanox4600c-t1-dynamic.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-mellanox4600c-t1-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-mellanox4600c-t1.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Platform: Mellanox, Request for 202012 branch

#11080 [lldp]Fix lldp spawned after reboot when disabled
  files/scripts/syncd.sh
Labels: Request for 202111 branch, Requested for 202205 branch

#11188 Change severity of log messages for cases where docker container was stopped during service checker operation
  src/system-health/health_checker/service_checker.py
Labels: Request for 202111 branch, Requested for 202205 branch

#11202 Updated buffer profile settings for TD3 based HWSKUs (Arista-7050CX3-32S-C32, Arista-7050CX3-32S-D48C8)
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C32/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/pg_profile_lookup.ini
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7050cx3-dualtor-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7050cx3-dualtor.json
Labels: Request for 202012 branch, Request for 202111 branch, Requested for 202205 branch

#11212 Update bcm config file system_ref_core_clock_khz param for j2cplus linecards
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/0/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/1/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/10/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/11/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/2/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/3/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/4/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/5/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/6/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/7/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/8/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/9/ramon-a7800-7804r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/0/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/1/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/10/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/11/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/12/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/13/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/14/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/15/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/16/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/17/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/2/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/3/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/4/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/5/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/6/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/7/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/8/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/9/ramon-a7800-7808r3-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/0/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/1/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/10/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/11/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/2/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/3/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/4/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/5/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/6/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/7/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/8/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/9/ramon-a7800-7808r3a-fm.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Platform: Arista

#11236 [bcm sai] upgrade Broadcom SAI to 7.1.0.0-5 (#11159)
  platform/broadcom/docker-pde.mk
  platform/broadcom/docker-syncd-brcm.mk
  platform/broadcom/libsaithrift-dev.mk
  platform/broadcom/rules.mk
  platform/broadcom/sai.dep
  platform/broadcom/sai.mk
  platform/broadcom/sonic-pde-tests.mk
  platform/marvell/libsaithrift-dev.mk
Labels: brcmsai

#11141 Update include_macsec flag if type is SpineRouter
  files/build_templates/init_cfg.json.j2
Labels: Requested for 202205 branch

#11166 Setting the soc property for num_sa_per_sc on macsec encrypt and decrypt
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Platform: Arista, Chassis :robot:, Requested for 202205 branch

#11095 [minigraph] Support parse IPv6 in device_desc.xml
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-device-desc-ipv6-only.xml
  src/sonic-config-engine/tests/simple-sample-device-desc.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Request for 201911 Branch :shipit:, Request for 202006 Branch, Request for 202012 branch, Request for 202106 branch, Request for 202111 branch, Requested for 202205 branch

#11232 [tunnel_packet_handler] Add a whitespace in the warning syslog message
  dockers/docker-orchagent/tunnel_packet_handler.py
Labels: Request for 202012 branch, Request for 202111 branch, Requested for 202205 branch

#10323 Add support for Password Hardening
  files/build_templates/sonic_debian_extension.j2
  src/sonic-host-services-data/templates/common-password.j2
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/hostcfgd/hostcfgd_passwh_test.py
  src/sonic-host-services/tests/hostcfgd/sample_output/PASSWORD_HARDENING/login.defs.old
  src/sonic-host-services/tests/hostcfgd/sample_output/PASSWORD_HARDENING_default_values/common-password
  src/sonic-host-services/tests/hostcfgd/sample_output/PASSWORD_HARDENING_default_values/login.defs
  src/sonic-host-services/tests/hostcfgd/sample_output/PASSWORD_HARDENING_enable_digits_class/common-password
  src/sonic-host-services/tests/hostcfgd/sample_output/PASSWORD_HARDENING_enable_digits_class/login.defs
  src/sonic-host-services/tests/hostcfgd/sample_output/PASSWORD_HARDENING_enable_feature/common-password
  src/sonic-host-services/tests/hostcfgd/sample_output/PASSWORD_HARDENING_enable_feature/login.defs
  src/sonic-host-services/tests/hostcfgd/test_passwh_vectors.py
Labels: Requested for 202205 branch

#10917 [macsec] Parse masec_enabled and macsec_profile from minigraph
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/macsec_profile.json
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Requested for 202205 branch

#11270 [yang] update TCP_FLAGS format in sonic-acl.yang
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: Requested for 202205 branch

#11283 Avoid write_standby in warm restart context
  files/scripts/write_standby.py
Labels: Requested for 202205 branch

#11287 [build] Fix libssl version issue.
  sonic-slave-bullseye/Dockerfile.j2
Labels: Requested for 202205 branch
