Repository sonic-net/sonic-buildimage, pull requests merged in 2023-04, with the labels that each got.

#14481 [action] [PR:13933] [marvell-armhf][uboot-setting] Fix the print menu for marvell-armhf print menu on Nokia-7215
  platform/marvell-armhf/platform.conf
Labels: automerge

#14487 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14488 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14490 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Labels: automerge

#14492 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-mirror
Labels: automerge

#14489 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14496 [action] [PR:14463] Pin mmh3 package version in sonic-slave-stretch docker
  sonic-slave-stretch/Dockerfile.j2
Labels: automerge

#14486 [action] [PR:14463] Pin mmh3 package version in sonic-slave-stretch docker
  sonic-slave-stretch/Dockerfile.j2
Labels: automerge

#14485 [action] [PR:13972] [Seastone] DX010 platform switch to sfp-refactor based sfp impl
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp_optoe.py
Labels: automerge

#14472 [action] [PR:14428] Improve sudo cat command for RO user.
  files/image_config/sudoers/sudoers
Labels: automerge

#14498 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-nat/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
Labels: automerge

#14516 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#14506 Delay mux/sflow/snmp timer after interface-config service
  files/build_templates/mux.service.j2
  files/build_templates/sflow.service.j2
  files/build_templates/snmp.timer
Labels: Request for 202205 Branch, Request for 202211 Branch

#14523 [action] [PR:14506] Delay mux/sflow/snmp timer after interface-config service
  files/build_templates/mux.service.j2
  files/build_templates/sflow.service.j2
  files/build_templates/snmp.timer
Labels: automerge

#14528 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-bullseye
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Labels: automerge

#14527 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py2
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#14413 [Marvell] Update armhf sai debian
  platform/marvell-armhf/sai.mk
Labels: Request for 202205 Branch

#14402 [S6100] Improve S6100 serial-getty monitor, wait and re-check when getty not running to avoid false alert.
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/check-getty.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_serial_getty_monitor
Labels: Enhancement :heavy_plus_sign:

#14297 [Build] Fix the SLAVE_DRI not defined issue in the slave container issue
  slave.mk
Labels: Build :hammer:

#14396 [armhf][Nokia-7215]Add SFP refactor support for Nokia-7215 platform
  device/nokia/armhf-nokia_ixs7215_52x-r0/platform.json
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Labels: Platform: Nokia, Request for 202205 Branch, Request for 202211 Branch

#14234 [sonic-buildimage] Update asic_port_name in Arista LCs
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/port_config.ini
Labels: Request for 202205 Branch, Request for 202211 Branch

#14519 Modify yang model to handle subport in PORT table
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: yang, Request for 202205 Branch, Request for 202211 Branch

#14464 Add monit_snmp file to monitor memory usage
  dockers/docker-snmp/base_image_files/monit_snmp
  rules/docker-snmp.mk
Labels: Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch

#14524 [write standby] force DB connections to use unix socket to connect
  files/scripts/write_standby.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#14071 [Ci] Fix the wrong SONIC_BUILD_JOBS build variable used issue in Azp
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: Request for 202012 Branch, ci, Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch

#14550 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Labels: automerge

#14526 [Build][201811] Fix the jessie mirror removed issue
  Makefile.work
  dockers/docker-base/Dockerfile.j2
  dockers/docker-base/sources.list
  dockers/docker-basic_router/Dockerfile
  dockers/docker-config-engine/Dockerfile.j2
  dockers/docker-database/Dockerfile.j2
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-gobgp/Dockerfile.j2
  dockers/docker-fpm-quagga/Dockerfile.j2
  dockers/docker-lldp-sv2/Dockerfile.j2
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-platform-monitor/Dockerfile.j2
  dockers/docker-ptf/Dockerfile.j2
  dockers/docker-ptf/sources.list
  dockers/docker-router-advertiser/Dockerfile.j2
  dockers/docker-snmp-sv2/Dockerfile.j2
  dockers/docker-sonic-telemetry/Dockerfile.j2
  dockers/docker-teamd/Dockerfile.j2
  platform/barefoot/docker-saiserver-bfn/Dockerfile
  platform/barefoot/docker-syncd-bfn-rpc/Dockerfile.j2
  platform/barefoot/docker-syncd-bfn/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
  platform/broadcom/docker-syncd-brcm/Dockerfile.j2
  platform/innovium/docker-syncd-invm/Dockerfile.j2
  platform/marvell/docker-syncd-mrvl/Dockerfile.j2
  platform/mellanox/docker-saiserver-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx-rpc/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/vs/docker-sonic-vs/Dockerfile.j2
  platform/vs/docker-syncd-vs/Dockerfile.j2
  sonic-slave/Dockerfile
Labels: Build :hammer:

#14474 [Build] Support to use the snapshot mirror for debian base image
  scripts/build_debian_base_system.sh
Labels: Build :hammer:, Request for 202205 Branch, Request for 202211 Branch

#14562 [action] [PR:14474] [Build] Support to use the snapshot mirror for debian base image
  scripts/build_debian_base_system.sh
Labels: automerge

#14563 [action] [PR:14279] Increase wait_for_tunnel() timeout to 90s
  files/scripts/write_standby.py
Labels: automerge

#14084 Fix issue: wrong teamd link watch state after warm reboot
  src/libteam/patch/0008-libteam-Add-warm_reboot-mode.patch
Labels: Request for 202211 Branch

#14571 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14572 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14570 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#14573 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14576 [action] [PR:14363] [yang]Update VxLAN yang model to include IPv6 source in VxLAN tunnel
  src/sonic-yang-models/tests/yang_model_tests/tests/vxlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vxlan.json
  src/sonic-yang-models/yang-models/sonic-vxlan.yang
Labels: automerge

#14575 [action] [PR:14084] Fix issue: wrong teamd link watch state after warm reboot
  src/libteam/patch/0008-libteam-Add-warm_reboot-mode.patch
Labels: automerge

#14578 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-mirror
Labels: automerge

#14579 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-mirror
Labels: automerge

#14238 Finalize fast-reboot in warmboot finalizer
  files/image_config/ntp/ntp-config.sh
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  files/scripts/bgp.sh
  files/scripts/service_mgmt.sh
  files/scripts/swss.sh
  files/scripts/syncd_common.sh
  files/scripts/teamd.sh
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Request for 202211 Branch

#14400 [Build] use snapshots of debian mirrors for sonic-slave containers
  Makefile.work
Labels: Build :hammer:

#14543 [Build] Fix the reproducible build variable display error in the slave container
  .azure-pipelines/azure-pipelines-repd-build-variables.yml
  Makefile.work
Labels: Request for 202205 Branch, Request for 202211 Branch

#14586 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14587 [build] Fix reproducible build version issue when failed to download web file
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:, Request for 202205 Branch, Request for 202211 Branch

#14405 [Build] disable DOCKER_BUILDKIT if SONIC_USE_DOCKER_BUILDKIT is not set
  slave.mk
Labels: Build :hammer:

#14557 [Build] Optimize the version control for Debian packages
  Makefile.work
  scripts/prepare_docker_buildinfo.sh
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:, Request for 202205 Branch, Request for 202211 Branch

#14604 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14607 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#14610 [Build] Optimize the version control for Debian packages (#14557)
  Makefile.work
  scripts/prepare_docker_buildinfo.sh
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:

#14621 [action] [PR:14593] chassis-packet: resolve the missing static routes
  files/build_templates/arp_update_vars.j2
  files/scripts/arp_update
Labels: automerge

#14629 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14620 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14622 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#11845 Add debug shell packages for Marvell Innovium platforms
  platform/innovium/docker-syncd-invm-rpc.mk
  platform/innovium/docker-syncd-invm.mk
  platform/innovium/invm-sai.mk
  platform/innovium/rules.mk
Labels: Platform: Innovium

#14470 [action] [PR:14463] Pin mmh3 package version in sonic-slave-stretch docker
  sonic-slave-stretch/Dockerfile.j2
Labels: automerge

#14635 Fix build issue in 202106 branch on dbus-python and meson.
  files/build/versions/host-image/versions-py3
  files/build_templates/sonic_debian_extension.j2
Labels: Build :hammer:

#14479 Fix backend port channels and routes being displayed
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: Multi-ASIC, Request for 202111 Branch, Request for 202205 Branch

#14672 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14671 Upgrade SONiC Versions
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge

#14674 Upgrade SONiC Versions
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14673 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14676 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#14675 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-platform-monitor/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py2
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14680 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14683 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14681 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14679 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
Labels: automerge

#14682 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
Labels: automerge

#14684 [action] [PR:14002] Add teamd patches to solve traffic loss issue when removing port from LAG
  src/libteam/patch/0013-set-port-to-disabled-state-during-removal.patch
  src/libteam/patch/0014-dont-move-the-port-state-from-disabled-when-admin-state-is-down.patch
  src/libteam/patch/series
Labels: automerge

#14685 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14300 [image_config] add rasdaemon.timer
  files/build_templates/sonic_debian_extension.j2
  files/image_config/rasdaemon/rasdaemon.timer
Labels: Request for 202205 Branch, Request for 202211 Branch

#14551 [armhf][Nokia-7215]Add SFP refactor support for Nokia-7215 platform
  device/nokia/armhf-nokia_ixs7215_52x-r0/platform.json
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Labels: Platform: Nokia

#14611 [Build] Optimize the version control for Debian packages (#14557)
  Makefile.work
  scripts/prepare_docker_buildinfo.sh
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:

#14663 [Build][202106] Support Debian snapshot mirror to improve build stability
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .gitignore
  Makefile.work
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  dockers/docker-ptf/Dockerfile.j2
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/apt/sources.list.j2
  rules/config
  scripts/build_mirror_config.sh
  scripts/generate_buildinfo_config.sh
  scripts/prepare_docker_buildinfo.sh
  scripts/versions_manager.py
  slave.mk
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
Labels: Build :hammer:

#14692 [action] [PR:14300] [image_config] add rasdaemon.timer
  files/build_templates/sonic_debian_extension.j2
  files/image_config/rasdaemon/rasdaemon.timer
Labels: automerge

#14583 [Fast-boot] Clear teamd-timer when finalizing fast-reboot
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Labels: Request for 202211 Branch

#14664 [Build][202111] Support Debian snapshot mirror to improve build stability
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .gitignore
  Makefile.work
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  dockers/docker-ptf/Dockerfile.j2
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/apt/sources.list.j2
  rules/config
  scripts/build_mirror_config.sh
  scripts/generate_buildinfo_config.sh
  scripts/prepare_docker_buildinfo.sh
  scripts/versions_manager.py
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
Labels: Build :hammer:

#14693 [action] [PR:14593] chassis-packet: resolve the missing static routes
  files/build_templates/arp_update_vars.j2
  files/scripts/arp_update
Labels: automerge

#14553 [action] [PR:14524] [write standby] force DB connections to use unix socket to connect
  files/scripts/write_standby.py
Labels: automerge

#14582 Remove default value from SECURE_UPGRADE_DEV_SIGNING_KEY
  rules/config
Labels: Request for 202211 Branch

#14707 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-web
  files/build/versions/dockers/docker-database/versions-web
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
  files/build/versions/host-image/versions-web
Labels: automerge

#14716 [action] [PR:14002] Add teamd patches to solve traffic loss issue when removing port from LAG
  src/libteam/patch/0013-set-port-to-disabled-state-during-removal.patch
  src/libteam/patch/0014-dont-move-the-port-state-from-disabled-when-admin-state-is-down.patch
  src/libteam/patch/series
Labels: automerge

#14718 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14720 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14719 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge

#14721 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge

#14730 [action] [PR:14464] Add monit_snmp file to monitor memory usage
  dockers/docker-snmp/base_image_files/monit_snmp
  rules/docker-snmp.mk
Labels: automerge

#14733 [action] [PR:14279] Increase wait_for_tunnel() timeout to 90s
  files/scripts/write_standby.py
Labels: automerge

#14731 [action] [PR:13967] Added recycle ports required for egress mirroring
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/config_checker
Labels: automerge

#14728 [action] [PR:14474] [Build] Support to use the snapshot mirror for debian base image
  scripts/build_debian_base_system.sh
Labels: automerge

#14729 [action] [PR:14071] [Ci] Fix the wrong SONIC_BUILD_JOBS build variable used issue in Azp
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: automerge

#14734 [action] [PR:14479] Fix backend port channels and routes being displayed
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: automerge

#14727 [action] [PR:14519] Modify yang model to handle subport in PORT table
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: automerge

#14735 [action] [PR:14636] Update golang version for telemetry build in sonic-slave-jessie to fix CVE-2021-33195
  sonic-slave-jessie/Dockerfile.j2
Labels: automerge

#14732 [action] [PR:14234] [sonic-buildimage] Update asic_port_name in Arista LCs
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/port_config.ini
Labels: automerge

#14738 [action] [PR:14071] [Ci] Fix the wrong SONIC_BUILD_JOBS build variable used issue in Azp
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: automerge

#14737 [action] [PR:14636] Update golang version for telemetry build in sonic-slave-jessie to fix CVE-2021-33195
  sonic-slave-jessie/Dockerfile.j2
Labels: automerge

#14767 [action] [PR:14402] [S6100] Improve S6100 serial-getty monitor, wait and re-check when getty not running to avoid false alert.
  platform/broadcom/sonic-platform-modules-dell/debian/platform-modules-s6100.install
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/check-getty.sh
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/s6100_serial_getty_monitor
Labels: automerge

#14760 [action] [PR:13933] [marvell-armhf][uboot-setting] Fix the print menu for marvell-armhf print menu on Nokia-7215
  platform/marvell-armhf/platform.conf
Labels: automerge

#14761 [action] [PR:14071] [Ci] Fix the wrong SONIC_BUILD_JOBS build variable used issue in Azp
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: automerge

#14777 [action] [PR:14637] Update golang version for telemetry build in sonic-slave-buster to fix CVE-2021-33195
  sonic-slave-buster/Dockerfile.j2
Labels: automerge

#14776 [action] [PR:14636] Update golang version for telemetry build in sonic-slave-jessie to fix CVE-2021-33195
  sonic-slave-jessie/Dockerfile.j2
Labels: automerge

#14768 [action] [PR:14428] Improve sudo cat command for RO user.
  files/image_config/sudoers/sudoers
Labels: automerge

#14521 [yang] add NEIGH yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/neigh.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/neigh.json
  src/sonic-yang-models/yang-models/sonic-neigh.yang
Labels: Triaged, yang

#14558 [Build][202012] Support Debian snapshot mirror to improve build stability
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .gitignore
  Makefile.work
  build_debian.sh
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/sources.list
  dockers/docker-base-buster/sources.list.arm64
  dockers/docker-base-buster/sources.list.armhf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  dockers/docker-ptf/Dockerfile.j2
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/apt/sources.list.j2
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-web
  files/build/versions/dockers/docker-database/versions-web
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-web
  rules/config
  scripts/build_mirror_config.sh
  scripts/generate_buildinfo_config.sh
  scripts/prepare_docker_buildinfo.sh
  scripts/versions_manager.py
  slave.mk
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
Labels: Build :hammer:

#14762 [action] [PR:14300] [image_config] add rasdaemon.timer
  files/build_templates/sonic_debian_extension.j2
  files/image_config/rasdaemon/rasdaemon.timer
Labels: automerge

#14517 [sonic-host-services] start host service on mgmt-framework/telemetry
  src/sonic-host-services-data/debian/sonic-host-services-data.sonic-hostservice.service
Labels: Request for 202211 Branch

#14799 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Labels: automerge

#14800 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Labels: automerge

#14764 [action] [PR:14367] Refactor the logic of tagging kube container as local latest
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/ctrmgr/remote_ctr.config.json
  src/sonic-ctrmgrd/tests/common_test.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Labels: automerge

#14763 [action] [PR:14303] Fix telemetry.sh passing in null as log level value
  dockers/docker-sonic-telemetry/telemetry.sh
Labels: automerge

#14759 [action] [PR:13810] Update check of IP_TYPE from ACL Yang model
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: automerge

#14802 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Labels: automerge

#14775 [action] [PR:14632] Install python-redis package to docker containers
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  dockers/docker-config-engine-stretch/Dockerfile.j2
  dockers/docker-config-engine/Dockerfile.j2
Labels: automerge

#14766 [action] [PR:14384] Enhance the error message output mechanism when swss docker is created
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#14813 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-py3-all-armhf
Labels: automerge

#14810 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14771 [action] [PR:14506] Delay mux/sflow/snmp timer after interface-config service
  files/build_templates/mux.service.j2
  files/build_templates/sflow.service.j2
  files/build_templates/snmp.timer
Labels: automerge

#14812 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#14770 [action] [PR:14464] Add monit_snmp file to monitor memory usage
  dockers/docker-snmp/base_image_files/monit_snmp
  rules/docker-snmp.mk
Labels: automerge

#14769 [action] [PR:14439] [Build] Fix the installation candidate not found issue when building docker-sonic-vs
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: automerge

#14774 [action] [PR:14583] [Fast-boot] Clear teamd-timer when finalizing fast-reboot
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Labels: automerge

#14772 [action] [PR:14519] Modify yang model to handle subport in PORT table
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: automerge

#14811 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-arm64
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3-all-armhf
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Labels: automerge

#14773 [action] [PR:14524] [write standby] force DB connections to use unix socket to connect
  files/scripts/write_standby.py
Labels: automerge

#14787 Fix per-command authorization failed issue when a command with wildcard match more than hundred files.
  src/bash/patches/0001-Add-plugin-support-to-bash.patch
Labels: Request for 202205 Branch, Request for 202211 Branch

#14821 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#13888 Temporary WA for the issue that asic_table.json can not be rendered
  files/build_templates/docker_image_ctl.j2
Labels: Request for 202211 Branch

#14591 Rename SECURE_UPGRADE_DEV_SIGNING_CERT to SECURE_UPGRADE_SIGNING_CERT
  Makefile.work
  build_debian.sh
  rules/config
  rules/linux-kernel.dep
  slave.mk
Labels: Request for 202211 Branch

#14103 [yang-models]: Add YANG model for SNMP_USER table
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/snmp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/snmp.json
  src/sonic-yang-models/yang-models/sonic-snmp.yang
Labels: yang

#14842 [ci] Remove innovium in upgrate version pipeline.
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: ci

#14857 [action] [PR:13888] Temporary WA for the issue that asic_table.json can not be rendered
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#14703 [minigraph-parser] Support ACL interface type BmcData in minigraph parser
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case-acl-type-bmcdata.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#14860 [action] [PR:13964] [Arista] Disable SSD NCQ on DCS-7050CX3-32S
  files/Aboot/boot0.j2
Labels: automerge

#13940 show macsec: add --profile option, include profile name in show command output
  dockers/docker-macsec/cli-plugin-tests/config_db.json
  dockers/docker-macsec/cli-plugin-tests/test_show_macsec.py
  dockers/docker-macsec/cli/show/plugins/show_macsec.py
Labels: Chassis :robot:, Request for 202205 Branch

#14702 [Sys Mon] Fix the service entry delete in state_db because of timer job
  src/system-health/health_checker/sysmonitor.py
  src/system-health/tests/test_system_health.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#10519 Increase LAG Ids to 1024
  device/arista/x86_64-arista_7800_sup/chassisdb.conf
Labels: Chassis :robot:

#14691 Changes to support TSA/TSB from supervisor of SONIC chassis
  dockers/docker-fpm-frr/TS
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
  dockers/docker-fpm-frr/base_image_files/TSC
  files/image_config/config-setup/config-setup
  src/sonic-bgpcfgd/bgpcfgd/managers_device_global.py
Labels: Chassis :robot:, Request for 202205 Branch, Request for 202211 Branch

#14878 [action] [PR:14691] Changes to support TSA/TSB from supervisor of SONIC chassis
  dockers/docker-fpm-frr/TS
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
  dockers/docker-fpm-frr/base_image_files/TSC
  files/image_config/config-setup/config-setup
  src/sonic-bgpcfgd/bgpcfgd/managers_device_global.py
Labels: automerge

#14887 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-invm/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#14889 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#14839 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14840 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14890 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14726 [Nvidia] Replace iproute2 supplied by SDK to iproute2 downloaded from debian repository
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/iproute2.dep
  platform/mellanox/iproute2.mk
  platform/mellanox/iproute2/Makefile
  platform/mellanox/iproute2/patch/0001-Remove-arpd-from-iproute2-package.patch
  platform/mellanox/iproute2/patch/0002-Rename-iproute2-debian-package.patch
  platform/mellanox/iproute2/patch/0003-Fix-version-identifier.patch
  platform/mellanox/iproute2/patch/0004-Added-sx_netdev-and-sx_bridge-support-to-iproute2.patch
  platform/mellanox/iproute2/patch/series
  platform/mellanox/rules.mk
  platform/mellanox/sdk-src/iproute2/Makefile
  platform/mellanox/sdk.dep
  platform/mellanox/sdk.mk
  sonic-slave-bullseye/Dockerfile.j2
Labels: Platform: Mellanox

#14894 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-mirror
Labels: automerge

#14893 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-mirror
Labels: automerge

#14895 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
Labels: automerge
