Repository sonic-net/sonic-buildimage, pull requests merged in 2023-10, with the labels that each got.

#16722 [Mellanox] wait reset cause ready
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16773 [action] [PR:16722] [Mellanox] wait reset cause ready
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Labels: automerge

#16772 [action] [PR:16722] [Mellanox] wait reset cause ready
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Labels: automerge

#16794 [action] [PR:16077] [Arista] Add new hwskus to x86_64-arista_7060dx5_32
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-200Gx48-100Gx32/hwsku.json
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-200Gx48-100Gx32/sai.profile
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-200Gx48-100Gx32/th4-a7060dx5-32-200Gx48-100Gx32.config.bcm
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-25Gx96-100Gx8-200Gx8/port_config.ini
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-25Gx96-100Gx8-200Gx8/sai.profile
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-25Gx96-100Gx8-200Gx8/th4-a7060dx5-32-25Gx96-100Gx8-200Gx8.config.bcm
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/th4-a7060dx5-32.config.bcm
  device/arista/x86_64-arista_7060dx5_32/platform.json
Labels: automerge

#16795 [action] [PR:16515] [Mellanox] Add support for new platform x86_64-mlnx_msn2700a1-r0
  device/mellanox/x86_64-mlnx_msn2700a1-r0/ACS-MSN2700-A1
  device/mellanox/x86_64-mlnx_msn2700a1-r0/Mellanox-SN2700-A1
  device/mellanox/x86_64-mlnx_msn2700a1-r0/Mellanox-SN2700-A1-C28D8
  device/mellanox/x86_64-mlnx_msn2700a1-r0/Mellanox-SN2700-A1-D40C8S8
  device/mellanox/x86_64-mlnx_msn2700a1-r0/Mellanox-SN2700-A1-D44C10
  device/mellanox/x86_64-mlnx_msn2700a1-r0/Mellanox-SN2700-A1-D48C8
  device/mellanox/x86_64-mlnx_msn2700a1-r0/default_sku
  device/mellanox/x86_64-mlnx_msn2700a1-r0/installer.conf
  device/mellanox/x86_64-mlnx_msn2700a1-r0/pcie.yaml
  device/mellanox/x86_64-mlnx_msn2700a1-r0/platform.json
  device/mellanox/x86_64-mlnx_msn2700a1-r0/platform_asic
  device/mellanox/x86_64-mlnx_msn2700a1-r0/platform_components.json
  device/mellanox/x86_64-mlnx_msn2700a1-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2700a1-r0/platform_wait
  device/mellanox/x86_64-mlnx_msn2700a1-r0/plugins
  device/mellanox/x86_64-mlnx_msn2700a1-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn2700a1-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn2700a1-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-mlnx_msn2700a1-r0/thermal_policy.json
  platform/mellanox/asic_table.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: automerge

#16797 [action] [PR:16634] [minigraph-parser] Update the definition of acl table type BMCDATAV6
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: automerge

#16798 [action] [PR:16690] Updated total headroom pool size to accommodate 100G ports on T2 uplinks
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/buffers_defaults_t2.j2
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
Labels: automerge

#16761 [202305][mellanox][ssm]: Enable Store-And-Forward switching mode
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-C28D8/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D100C12S2/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D112C8/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D48C40/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/sai.profile
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#16459 [Build] Fix some of the patches not applied issue (#15660)
  slave.mk
Labels: Build

#16810 [action] [PR:16776] Fix the dependency grpcio-tools version
  sonic-slave-bullseye/Dockerfile.j2
Labels: automerge

#16809 [action] [PR:16776] Fix the dependency grpcio-tools version
  sonic-slave-bullseye/Dockerfile.j2
Labels: automerge

#16781 [Mellanox][Switching Mode] Enable Store-And-Forward switching mode
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-C28D8/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D40C8S8/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D44C10/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700-D48C8/sai.profile
  device/mellanox/x86_64-mlnx_msn2700-r0/Mellanox-SN2700/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D100C12S2/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D112C8/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D24C52/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C49S1/sai.profile
  device/mellanox/x86_64-mlnx_msn3800-r0/Mellanox-SN3800-D28C50/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D100C12S2/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D112C8/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D48C40/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/sai.profile
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Cherry Pick Conflict_202205, Request for 202205 Branch, Request for 202305 Branch, Included in 202305 Branch

#16813 [action] [PR:16634] [minigraph-parser] Update the definition of acl table type BMCDATAV6
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: automerge

#16816 [action] [PR:16776] Fix the dependency grpcio-tools version
  sonic-slave-bullseye/Dockerfile.j2
Labels: automerge

#16819 [action] [PR:16700] [build] Fix frr dpkg cache calculation issue on symbolic link file.
  rules/frr.dep
Labels: automerge

#16823 [action] [PR:16713] [build]Fix FRR build cache issue
  rules/frr.dep
Labels: automerge

#16777 [chassis/multi-asic] Make sure iBGP session established as directly connected
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_back.conf
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_chasiss_packet.conf
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_front.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_base.conf
Labels: Request for 202205 Branch, Request for 202305 Branch

#16828 [action] [PR:16539] Updated the API get_platform_info() to return running/detected ASIC's count
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: automerge

#15924 [build] add support for 2 stage rootfs build
  Makefile.cache
  build_debian.sh
  rules/functions
  slave.mk
Labels: Build

#16766 [202205][hostcfgd] Fix issue: FeatureHandler might override user configuration
  src/sonic-host-services/scripts/hostcfgd
  src/sonic-host-services/tests/hostcfgd/hostcfgd_test.py
Labels: Bug :bug:

#16775 Revert "Move /var/log to RAM for Mellanox SN2700, Nokia 7215 and Dell S6100
  device/dell/x86_64-dell_s6100_c2538-r0/installer.conf
  device/mellanox/x86_64-mlnx_msn2700-r0/installer.conf
  device/nokia/armhf-nokia_ixs7215_52x-r0/installer.conf
  platform/marvell-armhf/platform.conf
Labels: Request for 202205 Branch, Request for 202305 Branch

#16826 Update openssh to 1:8.4p1-5+deb11u2
  files/build_templates/sonic_debian_extension.j2
  rules/openssh.mk
  src/openssh/Makefile
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16845 [action] [PR:15987] [build] Add sonic-utilities to sonic-host-services dependencies list.
  rules/sonic-host-services.mk
Labels: automerge

#12734 [Arista] Remove pcie device monitoring for 7260CX3-64
  device/arista/x86_64-arista_7260cx3_64/pcie.yaml
Labels: Platform: Arista, device

#16873 [action] [PR:16805] Upgrade xgs SAI version to 8.4.21.0
  platform/broadcom/sai.mk
Labels: automerge

#16588 [snmp] Sleep for 20 seconds before service starts
  files/build_templates/snmp.service.j2
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16881 [action] [PR:16588] [snmp] Sleep for 20 seconds before service starts
  files/build_templates/snmp.service.j2
Labels: automerge

#16460 [TACACS] Improve per-command authorization performance by read passwd entry with getpwent
  src/tacacs/bash_tacplus/bash_tacplus.c
  src/tacacs/bash_tacplus/unittest/mock_helper.c
  src/tacacs/bash_tacplus/unittest/mock_helper.h
  src/tacacs/bash_tacplus/unittest/plugin_test.c
Labels: Created PR to 202205 Branch, auth

#16703 [Arista] Disable CPU C-States other than C1
  files/Aboot/boot0.j2
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch, device

#16886 [action] [PR:16775] Revert "Move /var/log to RAM for Mellanox SN2700, Nokia 7215 and Dell S6100
  device/dell/x86_64-dell_s6100_c2538-r0/installer.conf
  device/mellanox/x86_64-mlnx_msn2700-r0/installer.conf
  device/nokia/armhf-nokia_ixs7215_52x-r0/installer.conf
  platform/marvell-armhf/platform.conf
Labels: automerge

#16887 [action] [PR:16703] [Arista] Disable CPU C-States other than C1
  files/Aboot/boot0.j2
Labels: automerge

#16848 [action] [PR:16678] [HLX] Add info syslog for cpu_wdt.service when trigger watchdog arm action
  platform/broadcom/sonic-platform-modules-cel/haliburton/script/cpu_wdt
Labels: automerge

#16890 [action] [PR:16539] Updated the API get_platform_info() to return running/detected ASIC's count
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: automerge

#16899 [action] [PR:16826] Update openssh to 1:8.4p1-5+deb11u2
  files/build_templates/sonic_debian_extension.j2
  rules/openssh.mk
  src/openssh/Makefile
Labels: automerge

#16906 [action] [PR:12734] [Arista] Remove pcie device monitoring for 7260CX3-64
  device/arista/x86_64-arista_7260cx3_64/pcie.yaml
Labels: automerge

#16905 [action] [PR:16703] [Arista] Disable CPU C-States other than C1
  files/Aboot/boot0.j2
Labels: automerge

#16915 [action] [PR:16775] Revert "Move /var/log to RAM for Mellanox SN2700, Nokia 7215 and Dell S6100
  device/dell/x86_64-dell_s6100_c2538-r0/installer.conf
  device/mellanox/x86_64-mlnx_msn2700-r0/installer.conf
  device/nokia/armhf-nokia_ixs7215_52x-r0/installer.conf
  platform/marvell-armhf/platform.conf
Labels: automerge

#16914 [action] [PR:16749] [FRR] Adding patches for CVE-2023-41358 and CVE-2023-38802
  src/sonic-frr/patch/0024-bgpd-Do-not-process-NLRIs-if-the-attribute-length-is.patch
  src/sonic-frr/patch/0025-bgpd-Use-treat-as-withdraw-for-tunnel-encapsulation-.patch
  src/sonic-frr/patch/series
Labels: automerge

#16910 [action] [PR:16224] Enable Kdump config by default for cisco-8000
  files/build_templates/init_cfg.json.j2
Labels: automerge

#16752 [Mellanox] Enhance the processing of Kconfig in the hw-mgmt integration
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/data/expected_data/external-changes.patch
  platform/mellanox/integration-scripts/tests/data/expected_data/kconfig-exclusions
  platform/mellanox/integration-scripts/tests/data/expected_data/kconfig-inclusions
  platform/mellanox/integration-scripts/tests/data/kconfig-exclusions
  platform/mellanox/integration-scripts/tests/data/kconfig-inclusions
  platform/mellanox/integration-scripts/tests/data/kconfig/arm64.config
  platform/mellanox/integration-scripts/tests/data/kconfig/new_arm.config
  platform/mellanox/integration-scripts/tests/data/kconfig/new_arm_down.config
  platform/mellanox/integration-scripts/tests/data/kconfig/new_x86.config
  platform/mellanox/integration-scripts/tests/data/kconfig/new_x86_down.config
  platform/mellanox/integration-scripts/tests/data/kconfig/x86.config
  platform/mellanox/integration-scripts/tests/data/new_kconfig
  platform/mellanox/integration-scripts/tests/test_filehandler.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
  platform/mellanox/non-upstream-patches/README.md
  platform/mellanox/non-upstream-patches/external-changes.patch
Labels: Platform: Mellanox, Request for 202305 Branch

#16902 [Security] Upgrade the OpenSSL/OpenSSH to fix CVE alerts
  rules/sonic-fips.mk
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16747 [frr] fix default zebra config not inserted into empty zebra.conf
  dockers/docker-fpm-frr/docker_init.sh
Labels: Bug :bug:, Request for 202305 Branch

#16936 Disable read cache when building SONiC fs part 1
  slave.mk
Labels: Build

#16894 [docker-macsec] fix privileged and volumes settings
  rules/docker-macsec.mk
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16898 [action] [PR:16826] Update openssh to 1:8.4p1-5+deb11u2
  files/build_templates/sonic_debian_extension.j2
  rules/openssh.mk
  src/openssh/Makefile
Labels: automerge

#16888 [action] [PR:16703] [Arista] Disable CPU C-States other than C1
  files/Aboot/boot0.j2
Labels: automerge

#16880 [action] [PR:16588] [snmp] Sleep for 20 seconds before service starts
  files/build_templates/snmp.service.j2
Labels: automerge

#16829 [action] [PR:16539] Updated the API get_platform_info() to return running/detected ASIC's count
  src/sonic-py-common/sonic_py_common/device_info.py
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: automerge

#16821 [action] [PR:16018] [memory_checker] Change log severity to WARNING in a case when the docker service is not running
  files/image_config/monit/memory_checker
Labels: automerge

#16755 [action] [PR:16733] [fast-reboot] Fix regression: set state_db flag to support fast-reboot from older images
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#16711 [action] [PR:16705] [chassis/multi-asic] Enable Sending BGP Community over internal neighbors over iBGP Session
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_back.conf
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_chasiss_packet.conf
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_front.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_base.conf
Labels: automerge

#16692 [action] [PR:16668] Fixing netaddr build issue
  src/sonic-ctrmgrd/setup.py
Labels: automerge

#16630 [action] [PR:16527] Chassis: fix pmon docker failure when DEVICE_METADATA is not available
  dockers/docker-platform-monitor/docker-pmon.supervisord.conf.j2
Labels: automerge

#16627 [action] [PR:16490] Fix potentially not having any loopback address on lo interface
  files/image_config/interfaces/interfaces.j2
  src/sonic-config-engine/tests/sample_output/py2/interfaces
  src/sonic-config-engine/tests/sample_output/py2/interfaces_nomgmt
  src/sonic-config-engine/tests/sample_output/py2/interfaces_nomgmt_ztp
  src/sonic-config-engine/tests/sample_output/py2/interfaces_nomgmt_ztp_inband
  src/sonic-config-engine/tests/sample_output/py2/interfaces_nomgmt_ztp_inband_ip
  src/sonic-config-engine/tests/sample_output/py2/interfaces_nomgmt_ztp_ip
  src/sonic-config-engine/tests/sample_output/py2/mvrf_interfaces
  src/sonic-config-engine/tests/sample_output/py2/mvrf_interfaces_nomgmt
  src/sonic-config-engine/tests/sample_output/py2/two_mgmt_interfaces
  src/sonic-config-engine/tests/sample_output/py3/interfaces
  src/sonic-config-engine/tests/sample_output/py3/interfaces_nomgmt
  src/sonic-config-engine/tests/sample_output/py3/interfaces_nomgmt_ztp
  src/sonic-config-engine/tests/sample_output/py3/interfaces_nomgmt_ztp_inband
  src/sonic-config-engine/tests/sample_output/py3/interfaces_nomgmt_ztp_inband_ip
  src/sonic-config-engine/tests/sample_output/py3/interfaces_nomgmt_ztp_ip
  src/sonic-config-engine/tests/sample_output/py3/mvrf_interfaces
  src/sonic-config-engine/tests/sample_output/py3/mvrf_interfaces_nomgmt
  src/sonic-config-engine/tests/sample_output/py3/two_mgmt_interfaces
Labels: automerge

#16624 [action] [PR:16373] [Mellanox] Remove mlxtrace support for SPC4
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/sai.profile
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/ACS-SN5600/sai.profile
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc0.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc1.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc2.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc3.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc4.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc5.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc6.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc7.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc8.cfg.ext
  platform/mellanox/mft-fwtrace-cfg/etc/mft/fwtrace_cfg/mlxtrace_spectrum4_itrace_irisc9.cfg.ext
Labels: automerge

#16619 [action] [PR:16247] [YANG SONIC-ACL] Fix Yang definition of ACL_TABLE_TYPE
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: automerge

#16952 [action] [PR:16902] [Security] Upgrade the OpenSSL/OpenSSH to fix CVE alerts
  rules/sonic-fips.mk
Labels: automerge

#16815 [202012] Revert "Move /var/log to RAM for Mlnx SN2700, Nokia 7215 and Dell S6100"
  device/dell/x86_64-dell_s6100_c2538-r0/installer.conf
  device/mellanox/x86_64-mlnx_msn2700-r0/installer.conf
  device/nokia/armhf-nokia_ixs7215_52x-r0/installer.conf
  platform/marvell-armhf/platform.conf
Labels: Request for 202012 Branch

#16951 [action] [PR:16902] [Security] Upgrade the OpenSSL/OpenSSH to fix CVE alerts
  rules/sonic-fips.mk
Labels: automerge

#16941 [action] [PR:16747] [frr] fix default zebra config not inserted into empty zebra.conf
  dockers/docker-fpm-frr/docker_init.sh
Labels: automerge

#16913 [action] [PR:16683] [Telemetry] enable default service config if no configs from DB
  dockers/docker-sonic-telemetry/telemetry.sh
Labels: automerge

#16911 [action] [PR:16588] [snmp] Sleep for 20 seconds before service starts
  files/build_templates/snmp.service.j2
Labels: automerge

#16960 [action] [PR:16377] dhcp/dhcpv6 per interface counter support
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp6relay_counters.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
  sonic-slave-bullseye/Dockerfile.j2
Labels: automerge

#16748 [build] Add config to set pip http timeout
  Makefile.work
  rules/config
  scripts/generate_buildinfo_config.sh
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build

#16729 Add build option to reduce final image size
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  rules/config
  scripts/build-optimize-fs-size.py
  slave.mk
Labels: baseimage

#16684 Add special rsyslog filter for MSN2700 platform
  files/build_templates/docker_image_ctl.j2
  files/image_config/rsyslog/rsyslog-container.conf.j2
Labels: Bug :bug:, Platform: Mellanox, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch, device

#16997 [action] [PR:16777] [chassis/multi-asic] Make sure iBGP session established as directly connected
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_back.conf
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_chasiss_packet.conf
  src/sonic-bgpcfgd/tests/data/internal/peer-group.conf/result_front.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_base.conf
Labels: automerge

#16985 [action] [PR:16598] Add fix for deserializing XSUB/XPUB subscription message
  src/sonic-eventd/src/eventd.cpp
  src/sonic-eventd/tests/eventd_ut.cpp
Labels: automerge

#17005 [action] [PR:16840] Add a new config option to make gbsyncd optional
  platform/broadcom/one-aboot.mk
  platform/broadcom/rules.dep
  platform/broadcom/rules.mk
  rules/config
Labels: automerge

#17009 [action] [PR:16752] [Mellanox] Enhance the processing of Kconfig in the hw-mgmt integration
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/data/expected_data/external-changes.patch
  platform/mellanox/integration-scripts/tests/data/expected_data/kconfig-exclusions
  platform/mellanox/integration-scripts/tests/data/expected_data/kconfig-inclusions
  platform/mellanox/integration-scripts/tests/data/kconfig-exclusions
  platform/mellanox/integration-scripts/tests/data/kconfig-inclusions
  platform/mellanox/integration-scripts/tests/data/kconfig/arm64.config
  platform/mellanox/integration-scripts/tests/data/kconfig/new_arm.config
  platform/mellanox/integration-scripts/tests/data/kconfig/new_arm_down.config
  platform/mellanox/integration-scripts/tests/data/kconfig/new_x86.config
  platform/mellanox/integration-scripts/tests/data/kconfig/new_x86_down.config
  platform/mellanox/integration-scripts/tests/data/kconfig/x86.config
  platform/mellanox/integration-scripts/tests/data/new_kconfig
  platform/mellanox/integration-scripts/tests/test_filehandler.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
  platform/mellanox/non-upstream-patches/README.md
  platform/mellanox/non-upstream-patches/external-changes.patch
Labels: automerge

#17008 [action] [PR:16206] Add yang model for PFC watchdog debug information
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
Labels: automerge

#16860 [gearbox] use credo sai v0.9.3
  platform/components/docker-gbsyncd-credo.mk
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16937 [minigraph-parser] Disable unsupported counters on management devices
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-m0.xml
  src/sonic-config-engine/tests/simple-sample-graph-mx.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202305 Branch

#17028 [action] [PR:16937] [minigraph-parser] Disable unsupported counters on management devices
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-m0.xml
  src/sonic-config-engine/tests/simple-sample-graph-mx.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: automerge

#16974 Update sonic-yang model to take in EdgeZoneAggregator as a device
  src/sonic-yang-models/yang-models/sonic-device_neighbor_metadata.yang
Labels: yang

#17053 [eventd]Disabling eventd unit tests
  src/sonic-eventd/Makefile
Labels: Request for 202305 Branch
