Repository sonic-net/sonic-buildimage, pull requests merged in 2023-01, with the labels that each got.

#13217 [action] [PR:12892] The LED and watchdog driver framework module complies with s3ip sysfs…
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/sysled_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/watchdog_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/sysled_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/watchdog_sysfs.c
Labels: automerge

#13220 [action] [PR:12889] Kernel framework transceiver
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/transceiver_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/transceiver_sysfs.c
Labels: automerge

#13219 [action] [PR:12890] The Sensor driver framework module complies with s3ip sysfs specifica…
  platform/s3ip-sysfs/s3ip_sysfs_frame/curr_sensor_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/curr_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/temp_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/vol_sensor_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/temp_sensor_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/vol_sensor_sysfs.c
Labels: automerge

#13216 [action] [PR:12893] The slot and switch_rootsysfs driver framework module complies with s…
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/slot_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/switch.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/syseeprom_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/slot_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/switch.c
Labels: automerge

#13211 [action] [PR:12887] The PSU driver framework module complies with s3ip sysfs specification
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/psu_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/psu_sysfs.c
Labels: automerge

#13213 [action] [PR:12896] The build project of s3ip framework
  platform/s3ip-sysfs/Makefile
  platform/s3ip-sysfs/build.sh
  platform/s3ip-sysfs/debian/.debhelper/generated/s3ip-sysfs/installed-by-dh_installdocs
  platform/s3ip-sysfs/debian/README.Debian
  platform/s3ip-sysfs/debian/changelog
  platform/s3ip-sysfs/debian/compat
  platform/s3ip-sysfs/debian/control
  platform/s3ip-sysfs/debian/copyright
  platform/s3ip-sysfs/debian/files
  platform/s3ip-sysfs/debian/rules
  platform/s3ip-sysfs/debian/s3ip-sysfs.postinst
  platform/s3ip-sysfs/debian/s3ip-sysfs.prerm
  platform/s3ip-sysfs/debian/s3ip-sysfs.substvars
  platform/s3ip-sysfs/debian/watch
  platform/s3ip-sysfs/demo_driver/Makefile
  platform/s3ip-sysfs/s3ip_sysfs_frame/Makefile
Labels: automerge

#13218 [action] [PR:12891] The CPLD and FPGA driver framework module complies with s3ip sysfs sp…
  platform/s3ip-sysfs/s3ip_sysfs_frame/cpld_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/fpga_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/cpld_sysfs.h
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/fpga_sysfs.h
Labels: automerge

#13214 [action] [PR:12895] The demo driver complies with s3ip sysfs specification,which use the …
  platform/s3ip-sysfs/demo_driver/cpld_device_driver.c
  platform/s3ip-sysfs/demo_driver/curr_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/fan_device_driver.c
  platform/s3ip-sysfs/demo_driver/fpga_device_driver.c
  platform/s3ip-sysfs/demo_driver/include/device_driver_common.h
  platform/s3ip-sysfs/demo_driver/psu_device_driver.c
  platform/s3ip-sysfs/demo_driver/slot_device_driver.c
  platform/s3ip-sysfs/demo_driver/syseeprom_device_driver.c
  platform/s3ip-sysfs/demo_driver/sysled_device_driver.c
  platform/s3ip-sysfs/demo_driver/temp_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/transceiver_device_driver.c
  platform/s3ip-sysfs/demo_driver/vol_sensor_device_driver.c
  platform/s3ip-sysfs/demo_driver/watchdog_device_driver.c
Labels: automerge

#13215 [action] [PR:12894] The user framework module complies with s3ip sysfs specification
  platform/s3ip-sysfs/scripts/s3ip-sysfs.service
  platform/s3ip-sysfs/scripts/s3ip_load.py
  platform/s3ip-sysfs/scripts/s3ip_sysfs_conf.json
  platform/s3ip-sysfs/scripts/s3ip_sysfs_tool.sh
Labels: automerge

#13175 [SAIServer]Upgrade SAI server init script
  platform/broadcom/docker-saiserver-brcm.mk
  platform/broadcom/docker-saiserver-brcm/Dockerfile.j2
  platform/broadcom/docker-saiserver-brcm/saiserver_start.sh
  platform/broadcom/docker-saiserver-brcm/start.sh
  platform/broadcom/docker-saiserver-brcm/supervisord.conf
Labels: Request for 202012 Branch, Request for 202111 Branch

#12156 [Chassis][Voq]update to add buffer_queue config on system ports
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
Labels: P0, Chassis :robot:, Request for 202205 Branch

#13221 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#13233 [build] Add environment when using dpkg hook to avoid lock loop.
  src/sonic-build-hooks/hooks/dpkg
Labels: Build :hammer:

#13249 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#13079 Seastone add platform json capability enhancement config
  device/celestica/x86_64-cel_seastone-r0/platform.json
Labels: Platform: Celestica, Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#13242 [Arista]: Add hwSku Arista-7260CX3-D108C10
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/BALANCED
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/RDMA-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/TCP-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffer_ports_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_extra_queues.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/sai.profile
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#13236 [202205][DellEMC] Fixing 'show interface status' break in DellEMC platforms porting changes
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/eeprom.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/component.py
Labels: Platform: DellEMC

#13241 Fix rsyslog_plugin UT with timestamp formatter
  src/sonic-eventd/rsyslog_plugin_tests/rsyslog_plugin_ut.cpp
Labels: Unit Tests, Request for 202111 Branch

#13255 [action] [PR:13242] [Arista]: Add hwSku Arista-7260CX3-D108C10
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/BALANCED
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/RDMA-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/TCP-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffer_ports_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_extra_queues.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/sai.profile
Labels: automerge

#13259 [action] [PR:12156] [Chassis][Voq]update to add buffer_queue config on system ports
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
Labels: automerge

#13258 [action] [PR:13088] [Arista] Update ip packet checksum when set to 0xffff on 720DT-48S
  device/arista/x86_64-arista_720dt_48s/td3x2-a720dt-48s-flex.config.bcm
Labels: automerge

#13257 [action] [PR:13079] Seastone add platform json capability enhancement config
  device/celestica/x86_64-cel_seastone-r0/platform.json
Labels: automerge

#13256 [action] [PR:13053] [Nokia][device-data] Rename the port name in the port_config.ini and remove the ECN setting from BCM config file
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/sai_postinit_cmd.soc
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/sai_postinit_cmd.soc
Labels: automerge

#13150 [build] Add environment when using dpkg hook to avoid lock loop.
  build_debian.sh
  src/sonic-build-hooks/hooks/dpkg
Labels: Build :hammer:, Request for 202205 Branch, Request for 202211 Branch

#13263 [action] [PR:13241] Fix rsyslog_plugin UT with timestamp formatter
  src/sonic-eventd/rsyslog_plugin_tests/rsyslog_plugin_ut.cpp
Labels: automerge

#13272 [action] [PR:13107] [action] Keep 'request for xxx branch' label when finished auto-cherry-pick
  .github/workflows/pr_cherrypick_poststep.yml
Labels: automerge

#11875 [device/dell] Mitigation for security vulnerability
  device/dell/x86_64-dellemc_n3248pxe_c3338-r0/plugins/fanutil.py
  device/dell/x86_64-dellemc_n3248pxe_c3338-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_n3248te_c3338-r0/plugins/fanutil.py
  device/dell/x86_64-dellemc_n3248te_c3338-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5212f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5224f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5232f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5248f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_s5296f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_z9264f_c3538-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_z9332f_d1508-r0/plugins/psuutil.py
  device/dell/x86_64-dellemc_z9432f_c3758-r0/plugins/fanutil.py
  device/dell/x86_64-dellemc_z9432f_c3758-r0/plugins/psuutil.py
  platform/broadcom/sonic-platform-modules-dell/n3248pxe/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/n3248pxe/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/n3248te/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/n3248te/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s5212f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5212f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5224f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5232f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/z9264f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9332f/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/scripts/platform_sensors.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/z9432f/sonic_platform/sfp.py
Labels: Static Code Analysis

#13248 [Build] Fix the export variable definition location issue in Makefile
  Makefile.work
Labels: Build :hammer:

#13208 [Ci][202106] Remove the platform innovium from version auto upgrade pipeline
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: ci

#13121 [action] [PR:12845] [build] Fix issue between reproducible build and dood. (#11084)
  scripts/collect_docker_version_files.sh
Labels: automerge

#13240 [201911][mellanox]Fix CPLD upgrade script
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Platform: Mellanox

#13065 [dhcpmon] Fix dhcpmon socket filter and tx count issue
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_mon.cpp
Labels: Request for 202012 Branch, Request for 202205 Branch

#13283 During build time mask only those feature/services that are disabled excplicitly
  files/build_scripts/mask_disabled_services.py
Labels: Request for 202205 Branch

#13288 [build] Fix isc-dhcp full version in rules.mk
  rules/isc-dhcp.mk
Labels: Request for 202205 Branch, Request for 202211 Branch

#13300 [action] [PR:13107] [action] Keep 'request for xxx branch' label when finished auto-cherry-pick
  .github/workflows/pr_cherrypick_poststep.yml
Labels: automerge

#13301 [action] [PR:12482] Add ECMP calculator tool
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/README.md
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc_sdk.py
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/packet_scheme.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Labels: automerge

#13212 [action] [PR:12888] The FAN driver framework module complies with s3ip sysfs specification
  platform/s3ip-sysfs/s3ip_sysfs_frame/fan_sysfs.c
  platform/s3ip-sysfs/s3ip_sysfs_frame/include/fan_sysfs.h
Labels: automerge

#13296 [action] [PR:13283] During build time mask only those feature/services that are disabled excplicitly
  files/build_scripts/mask_disabled_services.py
Labels: automerge

#13273 [action] [PR:13150] [build] Add environment when using dpkg hook to avoid lock loop.
  build_debian.sh
  src/sonic-build-hooks/hooks/dpkg
Labels: automerge

#13246 [Mellanox] Skip the leftover hardware reboot cause in case of last boot is warm/fast reboot
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Labels: Platform: Mellanox

#13284 [Bug] Fix SONiC installation failure caused by pip/pip3 not found
  files/image_config/platform/rc.local
Labels: Bug :bug:, Request for 202012 Branch, Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch

#12749 SONiC YANG model for RADIUS.
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/radius.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/radius.json
  src/sonic-yang-models/yang-models/sonic-system-radius.yang
Labels: yang

#13339 [action] [PR:13288] [build] Fix isc-dhcp full version in rules.mk
  rules/isc-dhcp.mk
Labels: automerge

#13351 [action] [PR:12997] Add k8s support feature set and Add platform label for scheduler usage
  Makefile.work
  build_debian.sh
  rules/config
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
Labels: automerge

#13352 [action] [PR:13284] [Bug] Fix SONiC installation failure caused by pip/pip3 not found
  files/image_config/platform/rc.local
Labels: automerge

#13349 [device/arista] Disabled polled_irq_mode for DNX SKUs
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C32D4/jr2-a7280cr3-32d4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C40/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C28S8/jr2-a7280cr3-32p4-28x100G-8x10G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C32P4/jr2-a7280cr3-32p4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: Request for 202205 Branch

#13344 [Seastone] Enhancement fix for PR12200 syseeprom issue
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: Request for 202205 Branch, Request for 202211 Branch

#13105 Support port name in ACL table `AttachTo` attribute
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#13097 [Build] Support Debian snapshot mirror to improve build stability
  Makefile.work
  rules/config
  scripts/build_mirror_config.sh
  scripts/generate_buildinfo_config.sh
  scripts/versions_manager.py
  slave.mk
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
Labels: Build :hammer:

#13357 [action] [PR:13288] [build] Fix isc-dhcp full version in rules.mk
  rules/isc-dhcp.mk
Labels: automerge

#13362 [action] [PR:13051] [Mellanox] Update ECMP calculator README
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/README.md
Labels: automerge

#13361 [action] [PR:12489] [containercfgd] Add containercfgd and syslog rate limit configuration support
  dockers/docker-base-bullseye/Dockerfile.j2
  dockers/docker-base-bullseye/etc/supervisor/containercfgd.conf
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-buster/etc/supervisor/containercfgd.conf
  dockers/docker-base-stretch/Dockerfile.j2
  dockers/docker-base-stretch/etc/supervisor/containercfgd.conf
  dockers/docker-base/Dockerfile.j2
  dockers/docker-base/etc/supervisor/containercfgd.conf
  dockers/docker-database/supervisord.conf.j2
  files/build_templates/docker_image_ctl.j2
  files/image_config/rsyslog/rsyslog-container.conf.j2
  rules/docker-config-engine-bullseye.mk
  rules/docker-config-engine-buster.mk
  rules/sonic-containercfgd.dep
  rules/sonic-containercfgd.mk
  src/sonic-containercfgd/.gitignore
  src/sonic-containercfgd/containercfgd/__init__.py
  src/sonic-containercfgd/containercfgd/containercfgd.py
  src/sonic-containercfgd/pytest.ini
  src/sonic-containercfgd/setup.cfg
  src/sonic-containercfgd/setup.py
  src/sonic-containercfgd/tests/conftest.py
  src/sonic-containercfgd/tests/mock_empty_rsyslog.conf
  src/sonic-containercfgd/tests/mock_rsyslog.conf
  src/sonic-containercfgd/tests/test_config_daemon.py
  src/sonic-containercfgd/tests/test_syslog_config.py
Labels: automerge

#13365 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#13364 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#13367 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#13368 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#13369 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#13371 [Build][202211] Support Debian snapshot mirror to improve build stability #13097
  Makefile.work
  rules/config
  scripts/build_mirror_config.sh
  scripts/generate_buildinfo_config.sh
  scripts/versions_manager.py
  slave.mk
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/collect_version_files
Labels: Build :hammer:

#13359 [202012][Mellanox]: Update ONiE FW tool: manual reboot control
  platform/mellanox/mlnx-onie-fw-update.sh
Labels: Platform: Mellanox

#13391 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#13393 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#13392 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-web
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-web
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-web
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-web
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-web
Labels: automerge

#13377 Moving multiprocessing.Manager to the correct sub-process
  src/system-health/health_checker/sysmonitor.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#13402 [action] [PR:13377] Moving multiprocessing.Manager to the correct sub-process
  src/system-health/health_checker/sysmonitor.py
Labels: automerge

#13378 [Mellanox][202012][backport] Skip the leftover hardware reboot cause in case of last boot is warm/fast reboot
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Platform: Mellanox

#13384 Fix sonic slave pipeline to set correct tag on sonic slave image. (#13177)
  .azure-pipelines/docker-sonic-slave.yml
Labels: ci

#13385 Fix sonic slave pipeline to set correct tag on sonic slave image. (#13177)
  .azure-pipelines/docker-sonic-slave.yml
Labels: ci

#13386 [build] Check if patches are applied before applying patches
  slave.mk
Labels: Build :hammer:, Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#13411 [action] [PR:13284] [Bug] Fix SONiC installation failure caused by pip/pip3 not found
  files/image_config/platform/rc.local
Labels: automerge

#13416 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge

#13356 [Celestica Seastone] fix multi sonic platform issues
  device/celestica/x86_64-cel_seastone-r0/platform_components.json
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_seastone-r0/system_health_monitoring_config.json
Labels: Platform: Celestica, Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#13438 [Arista] add support for hardware sku Arista-7260CX3-D92C16
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#13442 [action] [PR:13438] [Arista] add support for hardware sku Arista-7260CX3-D92C16
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16
Labels: automerge

#13436 [action] [PR:12721] [Device/Centec]Fix the bug that it gets error system-mac of centec platform
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: automerge

#13446 Add explicit dependency on sonic_platform_common in sonic-chassisd mk
  rules/sonic-chassisd.mk
Labels: Build :hammer:, Request for 202205 Branch

#13448 [action] [PR:13438] [Arista] add support for hardware sku Arista-7260CX3-D92C16
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16
Labels: automerge

#13450 [action] [PR:13446] Add explicit dependency on sonic_platform_common in sonic-chassisd mk
  rules/sonic-chassisd.mk
Labels: automerge

#13433 [action] [PR:13344] [Seastone] Enhancement fix for PR12200 syseeprom issue
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: automerge

#13435 [action] [PR:13386] [build] Check if patches are applied before applying patches
  slave.mk
Labels: automerge

#13445 [chassis] Fixed critical process not correct for database-chassis docker
  dockers/docker-database/Dockerfile.j2
  dockers/docker-database/critical_processes
  dockers/docker-database/critical_processes.j2
  dockers/docker-database/docker-database-init.sh
Labels: Chassis :robot:, Request for 202205 Branch

#13434 [action] [PR:13349] [device/arista] Disabled polled_irq_mode for DNX SKUs
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C32D4/jr2-a7280cr3-32d4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C40/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C28S8/jr2-a7280cr3-32p4-28x100G-8x10G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C32P4/jr2-a7280cr3-32p4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: automerge

#13408 [dualtor][active-active]Killing radv instead of stopping on `active-active` dualtor if config knob is on
  files/scripts/service_mgmt.sh
Labels: Request for 202205 Branch, Request for 202211 Branch

#13458 [action] [PR:13408] [dualtor][active-active]Killing radv instead of stopping on `active-active` dualtor if config knob is on
  files/scripts/service_mgmt.sh
Labels: automerge

#13463 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#13462 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#13464 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#13466 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
Labels: automerge

#13472 [202205] [Mellanox] Add ASIC simulation version tag to fw.mk
  platform/mellanox/fw.mk
Labels: Platform: Mellanox

#13470 [Mellanox] Add ASIC simulation version tag to fw.mk
  platform/mellanox/fw.mk
Labels: Platform: Mellanox

#13486 [action] [PR:13445] [chassis] Fixed critical process not correct for database-chassis docker
  dockers/docker-database/Dockerfile.j2
  dockers/docker-database/critical_processes
  dockers/docker-database/critical_processes.j2
  dockers/docker-database/docker-database-init.sh
Labels: automerge

#13485 [action] [PR:13356] [Celestica Seastone] fix multi sonic platform issues
  device/celestica/x86_64-cel_seastone-r0/platform_components.json
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_seastone-r0/system_health_monitoring_config.json
Labels: automerge

#13492 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#13066 Fix segfault issue inside memory_checker
  files/image_config/monit/memory_checker
  src/sonic-eventd/tools/events_publish_tool.py
Labels: Request for 202211 Branch

#13012 Change bgp notification leaf name and mem_usage leaf type
  dockers/docker-fpm-frr/bgp_regex.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-host.json
  src/sonic-yang-models/yang-models/sonic-events-bgp.yang
  src/sonic-yang-models/yang-models/sonic-events-host.yang
Labels: yang, Request for 202211 Branch

#13495 [dualtor][active-active] changing the default value of config knob for killing `radv` to be `True`
  files/scripts/service_mgmt.sh
Labels: Request for 202205 Branch, Request for 202211 Branch

#13483 [yang] Added Tunnel flex counter group
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: yang, Request for 202205 Branch, Request for 202211 Branch

#13498 [action] [PR:13495] [dualtor][active-active] changing the default value of config knob for killing `radv` to be `True`
  files/scripts/service_mgmt.sh
Labels: automerge

#13493 [Mellanox] [ECMP calculator] Add script usage and more information to script description in help option
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
Labels: Platform: Mellanox, Request for 202211 Branch

#13465 [Mellanox] Improve FW upgrade logging
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Platform: Mellanox, Request for 202211 Branch

#13513 [action] [PR:13483] [yang] Added Tunnel flex counter group
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: automerge

#13505 Revert "[system-health] Remove subprocess with shell=True (#12572)"
  src/system-health/health_checker/service_checker.py
  src/system-health/health_checker/sysmonitor.py
  src/system-health/health_checker/utils.py
  src/system-health/tests/test_system_health.py
Labels: Request for 202211 Branch

#13461 [FIPS] Upgrade Open-SymCrypt version to 0.6
  rules/sonic-fips.mk
Labels: Request for 202205 Branch, Request for 202211 Branch

#13422 [sudoers] add `/usr/local/bin/storyteller` to `READ_ONLY_CMDS`
  files/image_config/sudoers/sudoers
Labels: Request for 202205 Branch, Request for 202211 Branch

#13530 [action] [PR:13422] [sudoers] add `/usr/local/bin/storyteller` to `READ_ONLY_CMDS`
  files/image_config/sudoers/sudoers
Labels: automerge

#13529 [action] [PR:13503] rsyslog to start after interfaces-config
  files/image_config/rsyslog/rsyslog-config.service
Labels: automerge

#13528 [action] [PR:13503] rsyslog to start after interfaces-config
  files/image_config/rsyslog/rsyslog-config.service
Labels: automerge

#13340 [sonic-acl.yang] Add new ACL key BTH_OPCODE and AETH_SYNDROME
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: yang

#13537 [action] [PR:13461] [FIPS] Upgrade Open-SymCrypt version to 0.6
  rules/sonic-fips.mk
Labels: automerge

#13516 Clear DNS configuration received from DHCP during networking reconfiguration in Linux.
  build_debian.sh
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/resolv.conf
  files/image_config/resolv-config/resolv.conf.head
Labels: Request for 202205 Branch, Request for 202211 Branch

#13429 [device/arista] Reduce SDK stat polling freq in DNX devices
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C32D4/jr2-a7280cr3-32d4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C40/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C28S8/jr2-a7280cr3-32p4-28x100G-8x10G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C32P4/jr2-a7280cr3-32p4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: Request for 202205 Branch, Request for 202211 Branch

#13373 [dhcp-relay] Add support for dhcp_relay config cli
  dockers/docker-dhcp-relay/cli-plugin-tests/conftest.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_vlan_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#13540 [action] [PR:13461] [FIPS] Upgrade Open-SymCrypt version to 0.6
  rules/sonic-fips.mk
Labels: automerge

#13562 [action] [PR:13246] [Mellanox] Skip the leftover hardware reboot cause in case of last boot is warm/fast reboot
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Labels: automerge

#13412 Fix sonic-slave-* build errors about sudo command not found
  scripts/run_with_retry
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Bug :bug:

#13570 [action] [PR:13246] [Mellanox] Skip the leftover hardware reboot cause in case of last boot is warm/fast reboot
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Labels: automerge
