Repository sonic-net/sonic-buildimage, pull requests merged in 2023-03, with the labels that each got.

#14027 [action] [PR:13965] [netlink]Increse netlink buffer size from 3MB to 16MB
  files/image_config/sysctl/sysctl-net.conf
Labels: automerge

#13829 Add QoS profiles for Arista SKUs
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/qos.json.j2
Labels: P0, Chassis :robot:, Request for 202205 Branch, Request for 202211 Branch

#13930 [Seastone] fix dx010 qsfp eeprom data write issue
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-cel/dx010/modules/dx010_cpld.c
Labels: Platform: Celestica, Request for 202012 Branch, Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch

#14011 Bump lxml from 4.6.5 to 4.9.1 in /src/sonic-config-engine
  files/build/versions/dockers/docker-config-engine-bullseye-sonic/versions-py3
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster-sonic/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/host-image/versions-py3
  src/sonic-config-engine/setup.py
Labels: Security :shield:

#13841 [Mellanox] [202205] Add sodimm sensor
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal.py
Labels: Platform: Mellanox, NVIDIA

#14032 [action] [PR:13930] [Seastone] fix dx010 qsfp eeprom data write issue
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-cel/dx010/modules/dx010_cpld.c
Labels: automerge

#14046 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#13850 Check SONiC dependencies before installation.
  src/sonic-config-engine/setup.py
  src/system-health/setup.py
Labels: Security :shield:

#13946 Added IP Table rule to allow eth1-midplane traffic for chassis
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/cacl_external_client_acl_test.py
  src/sonic-host-services/tests/caclmgrd/caclmgrd_chassis_midplane_test.py
  src/sonic-host-services/tests/caclmgrd/test_chassis_midplane_vectors.py
Labels: P0, Chassis :robot:

#14040 [action] [PR:13829] Add QoS profiles for Arista SKUs
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/qos.json.j2
Labels: automerge

#14003 [yang]Add FG-ECMP yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/fine-grained-ecmp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fine_grained_ecmp.json
  src/sonic-yang-models/yang-models/sonic-fine-grained-ecmp.yang
Labels: yang

#14033 sonic-buildimage Make changes to arista config.bcm files to support m…
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/port_config.ini
  src/sonic-device-data/tests/permitted_list
Labels: Platform: Arista

#14045 [yang]Add missing fields in PortChannel yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
Labels: yang, Request for 202211 Branch

#14058 [ci] Build debug image in PR checks.
  azure-pipelines.yml
Labels: ci

#14013 [Build] Support to use loosen version when failed to install python packages
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build :hammer:, Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#14065 [action] [PR:14013] [Build] Support to use loosen version when failed to install python packages
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: automerge

#14055 Fix VOQ_CHASSIS_V6_PEER route-map config
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_base.conf
Labels: Chassis :robot:, chassis-voq, Request for 202205 Branch, Request for 202211 Branch

#14073 [action] [PR:13964] [Arista] Disable SSD NCQ on DCS-7050CX3-32S
  files/Aboot/boot0.j2
Labels: automerge

#14074 [action] [PR:14055] Fix VOQ_CHASSIS_V6_PEER route-map config
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_base.conf
Labels: automerge

#13564 Add support for platform syncd pre shutdown plugin
  files/scripts/syncd.sh
Labels: Chassis :robot:, Request for 202205 Branch, Request for 202211 Branch

#14077 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14078 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge

#14079 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14080 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#14082 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14072 Upgrade SONiC Versions
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14083 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Labels: automerge

#14063 [build] Fix issues caused by docker.com gpg key update.
  sonic-slave-jessie/Dockerfile.j2
Labels: Build :hammer:

#14042 [action] [PR:13930] [Seastone] fix dx010 qsfp eeprom data write issue
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
  platform/broadcom/sonic-platform-modules-cel/dx010/modules/dx010_cpld.c
Labels: automerge

#13962 [action] [PR:13710] [Mellanox] Fix issue: cannot find label port for logical port when logical port number is larger than 64
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Labels: automerge

#14041 [action] [PR:14006] Remove dialout as critical process
  dockers/docker-sonic-telemetry/critical_processes
Labels: automerge

#13685 [action] [PR:13505] Revert "[system-health] Remove subprocess with shell=True (#12572)"
  src/system-health/health_checker/service_checker.py
  src/system-health/health_checker/sysmonitor.py
  src/system-health/health_checker/utils.py
  src/system-health/tests/test_system_health.py
Labels: automerge

#13837 [Mellanox] Place FW binaries under platform directory instead of squashfs
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Bug :bug:, Platform: Mellanox, Request for 202211 Branch

#13614 [dhcp-relay] Add dhcp_relay show cli
  dockers/docker-dhcp-relay/cli-plugin-tests/mock_config.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcpv6_helper.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#14109 [action] [PR:14013] [Build] Support to use loosen version when failed to install python packages
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: automerge

#14107 [action] [PR:13614] [dhcp-relay] Add dhcp_relay show cli
  dockers/docker-dhcp-relay/cli-plugin-tests/mock_config.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcpv6_helper.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Labels: automerge

#14007 Add yang model definition for CHASSIS_MODULE table
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/chassis_module.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/chassis_module.json
  src/sonic-yang-models/yang-models/sonic-chassis-module.yang
Labels: Chassis :robot:, yang, Request for 202205 Branch, Request for 202211 Branch

#14108 [action] [PR:13207] [Chassis][multiasic] Fix the sonic-db-cli core files issue on multiasic platform after the c++ implementation of sonic-db-cli
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#14066 [202012][Security][CVE-2022-2309] Upgrade lxml from 4.6.3 to 4.9.1
  src/sonic-config-engine/setup.py
Labels: Security :shield:

#14127 [ci] Migrate test jobs to vmss agent pool to increase node limit.
  azure-pipelines.yml
Labels: ci

#14141 [action] [PR:13965] [netlink]Increse netlink buffer size from 3MB to 16MB
  files/image_config/sysctl/sysctl-net.conf
Labels: automerge

#14140 [action] [PR:13837] [Mellanox] Place FW binaries under platform directory instead of squashfs
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: automerge

#14114 [action] [PR:13964] [Arista] Disable SSD NCQ on DCS-7050CX3-32S
  files/Aboot/boot0.j2
Labels: automerge

#14133 [Mellanox] Update MFT to 4.22.1-15
  platform/mellanox/mft.mk
Labels: Request for 202205 Branch, Request for 202211 Branch

#14151 [202205][Mellanox] Install python2 on syncd
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
Labels: Platform: Mellanox

#14168 [action] [PR:14133] [Mellanox] Update MFT to 4.22.1-15
  platform/mellanox/mft.mk
Labels: automerge

#14117 [action] [PR:13564] Add support for platform syncd pre shutdown plugin
  files/scripts/syncd.sh
Labels: automerge

#14138 [Mellanox]Fix lpmode set when logical port is larger than 64
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Platform: Mellanox, NVIDIA, Request for 202205 Branch, Created PR to 202012 Branch, Request for 202211 Branch

#14137 [202012][mellanox]Fix lpmode set when logical port is larger than 64
  device/mellanox/x86_64-mlnx_msn2700-r0/plugins/sfplpmset.py
Labels: Platform: Mellanox, NVIDIA

#14149 [gearbox] use credo sai v0.9.0
  platform/components/docker-gbsyncd-credo.mk
Labels: Request for 202205 Branch, Request for 202211 Branch

#13314 [yang]SONiC Yang model support for Telemetry_client. (#12483)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/telemetry_client.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/telemetry_client.json
  src/sonic-yang-models/yang-models/sonic-telemetry_client.yang
Labels: yang

#13898 Update dhcpmon rx/tx packet filtering and fix server rx count
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.cpp
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.cpp
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.cpp
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#14167 sonic-buildimage Remove unused SAT port from arista configs.
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: Platform: Arista, Request for 202205 Branch, Request for 202211 Branch

#14139 [action] [PR:13547] [Dual-ToR] add default value for ACL rule for mellanox platform (Standby ToR)
  files/build_templates/init_cfg.json.j2
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/system_defaults.json
Labels: automerge

#13928 [action] [PR:12963] [build] Fix unexpected warnings: No names found, cannot describe anything.
  slave.mk
Labels: automerge

#14206 [Build] Fix the mirror gpg key expired issue
  dockers/docker-ptf/Dockerfile.j2
  dockers/docker-ptf/no-check-valid-until
Labels: Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch

#14211 [action] [PR:14206] [Build] Fix the mirror gpg key expired issue
  dockers/docker-ptf/Dockerfile.j2
  dockers/docker-ptf/no-check-valid-until
Labels: automerge

#13532 [Chassis][EVERFLOW][ACL_ATBLE] Fix for everflow ACL_TABLE in config_db not having the routed ports when no -ASIC in the asic_port_name
  src/sonic-config-engine/minigraph.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#14067 [Arista] Add missing platform_components.json
  device/arista/x86_64-arista_720dt_48s/platform_components.json
  device/arista/x86_64-arista_7800r3_48cq2_lc/platform_components.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/platform_components.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/platform_components.json
Labels: Platform: Arista

#12692 Add Secure Boot Support
  Makefile.work
  build_debian.sh
  files/build_templates/sonic_debian_extension.j2
  installer/default_platform.conf
  rules/config
  rules/linux-kernel.dep
  scripts/efi-sign.sh
  scripts/secure_boot_signature_verification.sh
  scripts/signing_kernel_modules.sh
  scripts/signing_secure_boot_dev.sh
  slave.mk
Labels: Chassis :robot:, Request for 202211 Branch

#14164 [Mellanox] Update SDK/FW 4.5.4206/2010.4204
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox, Request for 202211 Branch

#14202 [202012][Mellanox]Fix lpmode set when logical port is larger than 64 (#14138)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Platform: Mellanox, NVIDIA

#14242 [action] [PR:14138] [Mellanox]Fix lpmode set when logical port is larger than 64
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#13477 Enabling FPGA device support in PDDF
  platform/broadcom/sonic-platform-modules-ragile/ra-b6510-32c/modules/driver/pddf_custom_led_module.c
  platform/broadcom/sonic-platform-modules-ragile/ra-b6920-4s/modules/driver/pddf_custom_led_module.c
  platform/pddf/i2c/modules/fan/driver/pddf_fan_api.c
  platform/pddf/i2c/modules/include/pddf_fan_defs.h
  platform/pddf/i2c/modules/include/pddf_led_defs.h
  platform/pddf/i2c/modules/led/pddf_led_module.c
  platform/pddf/i2c/modules/psu/driver/pddf_psu_driver.c
  platform/pddf/i2c/modules/xcvr/driver/pddf_xcvr_api.c
  platform/pddf/i2c/modules/xcvr/driver/pddf_xcvr_driver.c
  platform/pddf/i2c/utils/pddf_util.py
  platform/pddf/i2c/utils/pddfparse.py
Labels: PDDF

#13848 Fix issue: enhancing PDDF common eeprom APIs to use caching (#13835)
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_eeprom.py
Labels: PDDF

#14240 [action] [PR:14228] Add Yang model support for adding Channel to PORT table
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: automerge

#14144 Update dhcpv6-relay yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/dhcpv6_relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dhcpv6_relay.json
  src/sonic-yang-models/yang-models/sonic-dhcpv6-relay.yang
Labels: yang, Request for 202205 Branch, Request for 202211 Branch

#14085 [system-health] Make check interval more accurate
  src/system-health/pytest.ini
  src/system-health/scripts/healthd
  src/system-health/tests/test_system_health.py
Labels: Improvement, Request for 202205 Branch, Request for 202211 Branch

#14245 [action] [PR:14144] Update dhcpv6-relay yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/dhcpv6_relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dhcpv6_relay.json
  src/sonic-yang-models/yang-models/sonic-dhcpv6-relay.yang
Labels: automerge

#14260 [action] [PR:14067] [Arista] Add missing platform_components.json
  device/arista/x86_64-arista_720dt_48s/platform_components.json
  device/arista/x86_64-arista_7800r3_48cq2_lc/platform_components.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/platform_components.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/platform_components.json
Labels: automerge

#14256 [action] [PR:14085] [system-health] Make check interval more accurate
  src/system-health/pytest.ini
  src/system-health/scripts/healthd
  src/system-health/tests/test_system_health.py
Labels: automerge

#14255 [action] [PR:13898] Update dhcpmon rx/tx packet filtering and fix server rx count
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.cpp
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.cpp
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.cpp
Labels: automerge

#14257 [action] [PR:14203] update sonic-slave docker files to include cisco sdk dependencies
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Labels: automerge

#14254 [action] [PR:13532] [Chassis][EVERFLOW][ACL_ATBLE] Fix for everflow ACL_TABLE in config_db not having the routed ports when no -ASIC in the asic_port_name
  src/sonic-config-engine/minigraph.py
Labels: automerge

#14252 [action] [PR:13084] [swss/syncd] remove dependency on interfaces-config.service
  files/build_templates/per_namespace/swss.service.j2
  files/build_templates/per_namespace/syncd.service.j2
Labels: automerge

#14178 [lldpmgrd] Don't log error message for outdated event
  dockers/docker-lldp/lldpmgrd
Labels: Request for 202205 Branch, Request for 202211 Branch

#14224 [qos] Update dynamic threshold for TD2
  device/common/profiles/td2/gen/BALANCED/pg_profile_lookup.ini
  device/common/profiles/td2/gen/RDMA-CENTRIC/pg_profile_lookup.ini
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#14274 [action] [PR:14178] [lldpmgrd] Don't log error message for outdated event
  dockers/docker-lldp/lldpmgrd
Labels: automerge

#14229 [storage_backend] Add backend acl service
  files/build_templates/sonic_debian_extension.j2
  files/image_config/backend_acl/backend-acl.service
  files/image_config/backend_acl/backend_acl.py
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#14273 [action] [PR:14224] [qos] Update dynamic threshold for TD2
  device/common/profiles/td2/gen/BALANCED/pg_profile_lookup.ini
  device/common/profiles/td2/gen/RDMA-CENTRIC/pg_profile_lookup.ini
Labels: automerge

#14163 Install kubernetes-cni for kubelet
  Makefile.work
  build_debian.sh
  rules/config
Labels: Request for 202205 Branch, Request for 202211 Branch

#14281 [action] [PR:14229] [storage_backend] Add backend acl service
  files/build_templates/sonic_debian_extension.j2
  files/image_config/backend_acl/backend-acl.service
  files/image_config/backend_acl/backend_acl.py
Labels: automerge

#14102 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14284 [action] [PR:14163] Install kubernetes-cni for kubelet
  Makefile.work
  build_debian.sh
  rules/config
Labels: automerge

#14280 [Buffer] Added cable length config to buffer config template for EdgeZoneAggregator
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample-arista-7060-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7060-t0.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7060-t0.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#14299 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-mlnx/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14302 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge

#14301 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#14306 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
Labels: automerge

#14313 Upgrade SONiC Versions
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Labels: automerge

#14314 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Labels: automerge

#14311 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Labels: automerge

#14327 [action] [PR:14133] [Mellanox] Update MFT to 4.22.1-15
  platform/mellanox/mft.mk
Labels: automerge

#14344 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14335 [action] [PR:14182] [Mellanox] fix for watchdog device not found, adding dependency on hw-management
  platform/mellanox/hw-management/0004-Make-system-health-service-starts-after-hw-managemen.patch
Labels: automerge

#14332 [action] [PR:14164] [Mellanox] Update SDK/FW 4.5.4206/2010.4204
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: automerge

#14330 [action] [PR:14149] [gearbox] use credo sai v0.9.0
  platform/components/docker-gbsyncd-credo.mk
Labels: automerge

#14328 [action] [PR:14138] [Mellanox]Fix lpmode set when logical port is larger than 64
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#14318 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14317 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Labels: automerge

#14339 [action] [PR:14229] [storage_backend] Add backend acl service
  files/build_templates/sonic_debian_extension.j2
  files/image_config/backend_acl/backend-acl.service
  files/image_config/backend_acl/backend_acl.py
Labels: automerge

#14337 [action] [PR:14224] [qos] Update dynamic threshold for TD2
  device/common/profiles/td2/gen/BALANCED/pg_profile_lookup.ini
  device/common/profiles/td2/gen/RDMA-CENTRIC/pg_profile_lookup.ini
Labels: automerge

#14336 [action] [PR:14203] update sonic-slave docker files to include cisco sdk dependencies
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Labels: automerge

#14331 [action] [PR:14163] Install kubernetes-cni for kubelet
  Makefile.work
  build_debian.sh
  rules/config
Labels: automerge

#14341 [action] [PR:13084] [swss/syncd] remove dependency on interfaces-config.service
  files/build_templates/per_namespace/swss.service.j2
  files/build_templates/per_namespace/syncd.service.j2
Labels: automerge

#14329 [action] [PR:14144] Update dhcpv6-relay yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/dhcpv6_relay.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dhcpv6_relay.json
  src/sonic-yang-models/yang-models/sonic-dhcpv6-relay.yang
Labels: automerge

#14326 [action] [PR:14085] [system-health] Make check interval more accurate
  src/system-health/pytest.ini
  src/system-health/scripts/healthd
  src/system-health/tests/test_system_health.py
Labels: automerge

#14324 [action] [PR:14055] Fix VOQ_CHASSIS_V6_PEER route-map config
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/peer-group.conf.j2
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/peer-group.conf/result_base.conf
Labels: automerge

#14323 [action] [PR:14006] Remove dialout as critical process
  dockers/docker-sonic-telemetry/critical_processes
Labels: automerge

#14322 [action] [PR:13935] [chassis][voq] 400g to100g speed changes for chassis linecards
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/voq-sample-400g-port-config.ini
  src/sonic-config-engine/tests/voq-sample-masic-graph.xml
Labels: automerge

#14321 [action] [PR:13898] Update dhcpmon rx/tx packet filtering and fix server rx count
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.cpp
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.cpp
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.cpp
Labels: automerge

#14320 [action] [PR:13829] Add QoS profiles for Arista SKUs
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/qos.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers.json.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/qos.json.j2
Labels: automerge

#14346 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#14342 [action] [PR:13614] [dhcp-relay] Add dhcp_relay show cli
  dockers/docker-dhcp-relay/cli-plugin-tests/mock_config.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcpv6_helper.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Labels: automerge

#14338 [action] [PR:14228] Add Yang model support for adding Channel to PORT table
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: automerge

#14333 [action] [PR:14167] sonic-buildimage Remove unused SAT port from arista configs.
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: automerge

#14345 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#14269 [Security] Fix some of vulnerability issue relative python packages
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Labels: Security :shield:, Request for 202211 Branch

#14343 [action] [PR:13660] Don't create the members@ array in config_db for PC when reading from minigraph
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
  src/sonic-yang-mgmt/tests/test_cfghelp.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mclag.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
Labels: automerge

#14334 [action] [PR:14178] [lldpmgrd] Don't log error message for outdated event
  dockers/docker-lldp/lldpmgrd
Labels: automerge

#14340 [action] [PR:14280] [Buffer] Added cable length config to buffer config template for EdgeZoneAggregator
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/sample-arista-7060-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7060-t0.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7060-t0.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: automerge

#14303 Fix telemetry.sh passing in null as log level value
  dockers/docker-sonic-telemetry/telemetry.sh
Labels: Request for 201911 Branch :shipit:, Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#14353 [Security] Fix some of vulnerability issue relative python packages (#14269
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Labels: Security :shield:

#14363 [yang]Update VxLAN yang model to include IPv6 source in VxLAN tunnel
  src/sonic-yang-models/tests/yang_model_tests/tests/vxlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vxlan.json
  src/sonic-yang-models/yang-models/sonic-vxlan.yang
Labels: Request for 202211 Branch

#14369 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-armhf
Labels: automerge

#14368 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14352 [Security] Fix some of vulnerability issue relative python packages (#14269)
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py2
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
  sonic-slave-stretch/Dockerfile.j2
Labels: Security :shield:

#14383 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#14382 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14372 [qos] Update RDMA-CENTRIC lossy profile to use static threshold for Th devices
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/6100/RDMA-CENTRIC/buffers_defaults_t1.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t0.j2
  device/common/profiles/th/gen/RDMA-CENTRIC/buffers_defaults_t1.j2
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-dell-6100-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffers-dell6100.json
  src/sonic-config-engine/tests/sample_output/py3/buffers-dell6100.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#14360 [202211] Update sonic-py-common, add missing dependency to redis-dump-load.
  src/sonic-py-common/setup.py
Labels: Request for 202205 Branch

#14394 [action] [PR:14296] Fix the demo_part_size not initialized issue when creating partition
  installer/install.sh
Labels: automerge

#14370 [202205] [Mellanox] Fix issue: user must set admin down before toggling LPM
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Platform: Mellanox, NVIDIA

#14410 [action] [PR:14303] Fix telemetry.sh passing in null as log level value
  dockers/docker-sonic-telemetry/telemetry.sh
Labels: automerge

#14414 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14415 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14418 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14419 [action] [PR:14397] change static rt expiry timer max value
  src/sonic-bgpcfgd/bgpcfgd/static_rt_timer.py
Labels: automerge

#14427 [ci] Fix build issue for vs vhdx image.
  .azure-pipelines/azure-pipelines-build.yml
Labels: Request for 202012 Branch, Request for 202111 Branch, Request for 202211 Branch

#14435 [action] [PR:13507] Set owner after restoring counters folder during warmboot
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Labels: automerge

#14428 Improve sudo cat command for RO user.
  files/image_config/sudoers/sudoers
Labels: Cherry Pick Conflict_201811, Cherry Pick Conflict_201911

#14351 Always use the openssl backend of curl
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Labels: Request for 202205 Branch, Request for 202211 Branch

#14379 [Build][202012] Change to use the default ssl lib openssl not nss
  sonic-slave-buster/Dockerfile.j2
Labels: Build :hammer:

#14439 [Build] Fix the installation candidate not found issue when building docker-sonic-vs
  platform/vs/docker-sonic-vs/Dockerfile.j2
Labels: Build :hammer:, Request for 202211 Branch

#14443 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/host-image/versions-py3
Labels: automerge

#14441 [action] [PR:14427] [ci] Fix build issue for vs vhdx image.
  .azure-pipelines/azure-pipelines-build.yml
Labels: automerge

#14371 Refine testbedv2 template output
  .azure-pipelines/run-test-scheduler-template.yml
Labels: Request for 202012 Branch, Request for 202205 Branch

#14430 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py2
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Labels: automerge

#14230 chassis-packet: resolve the missing static routes
  files/build_templates/arp_update_vars.j2
  files/scripts/arp_update
Labels: chassis-packet, Request for 202205 Branch, Request for 202211 Branch

#13810 Update check of IP_TYPE from ACL Yang model
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: yang, Request for 202205 Branch, Request for 202211 Branch
