Repository sonic-net/sonic-buildimage, pull requests merged in 2023-02, with the labels that each got.

#13523 [Arista] [Platform] Update platform.json for psu led
  device/arista/x86_64-arista_7800_sup/platform.json
Labels: Request for 202205 Branch, Request for 202211 Branch

#12066 Add support for platform topology configuration service
  files/build_templates/config-setup.service.j2
  files/build_templates/sonic_debian_extension.j2
  files/image_config/config-topology/config-topology.service
  files/image_config/config-topology/config-topology.sh
  src/systemd-sonic-generator/systemd-sonic-generator.c
Labels: Chassis :robot:, Request for 202205 Branch

#13583 [action] [PR:13523] [Arista] [Platform] Update platform.json for psu led
  device/arista/x86_64-arista_7800_sup/platform.json
Labels: automerge

#13584 [action] [PR:13373] [dhcp-relay] Add support for dhcp_relay config cli
  dockers/docker-dhcp-relay/cli-plugin-tests/conftest.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_vlan_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py
Labels: automerge

#13565 [gearbox] use credo sai v0.8.2
  platform/components/docker-gbsyncd-credo.mk
Labels: Request for 202205 Branch

#13598 [action] [PR:13386] [build] Check if patches are applied before applying patches
  slave.mk
Labels: automerge

#13587 Use tmpfs for /var/log for Arista 7260
  files/Aboot/boot0.j2
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#12689 [yang-models] Add YANG model for SYSTEM_PORT
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/system_port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/system_port.json
  src/sonic-yang-models/yang-models/sonic-system-port.yang
Labels: Chassis :robot:

#13474 Modifying the PDDF common platform APIs as per the LED driver changes
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_chassis.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_fan.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_fan_drawer.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddf_psu.py
  platform/pddf/platform-api-pddf-base/sonic_platform_pddf_base/pddfapi.py
Labels: PDDF

#13601 [action] [PR:13587] Use tmpfs for /var/log for Arista 7260
  files/Aboot/boot0.j2
Labels: automerge

#13599 [action] [PR:13386] [build] Check if patches are applied before applying patches
  slave.mk
Labels: automerge

#13603 [action] [PR:13565] [gearbox] use credo sai v0.8.2
  platform/components/docker-gbsyncd-credo.mk
Labels: automerge

#13605 [action] [PR:12066] Add support for platform topology configuration service
  files/build_templates/config-setup.service.j2
  files/build_templates/sonic_debian_extension.j2
  files/image_config/config-topology/config-topology.service
  files/image_config/config-topology/config-topology.sh
  src/systemd-sonic-generator/systemd-sonic-generator.c
Labels: automerge

#13604 [action] [PR:13429] [device/arista] Reduce SDK stat polling freq in DNX devices
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C32D4/jr2-a7280cr3-32d4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C40/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C28S8/jr2-a7280cr3-32p4-28x100G-8x10G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C32P4/jr2-a7280cr3-32p4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: automerge

#13648 [action] [PR:13206] update centec-sai reference to v1.11.0-1
  platform/centec-arm64/sai.mk
  platform/centec/sdk.mk
Labels: automerge

#13642 [action] [PR:13100] [Mellanox] change the implementation of is_host() to fix a stuck issue on simx platform
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Labels: automerge

#13637 [action] [PR:13023] [Mellanox] Remove TODO comments which are no longer needed
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
Labels: automerge

#13635 [action] [PR:13011] [SFP] Change logging severity when failed to read EEPROM
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#13631 [action] [PR:12964] [ci] Disable Shallow fetch in pipeline build.
  .azure-pipelines/azure-pipelines-image-template.yml
Labels: automerge

#13624 [action] [PR:12200] [Platform/Seastone]: fix syseeprom tlv read issue
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: automerge

#13654 [action] [PR:13373] [dhcp-relay] Add support for dhcp_relay config cli
  dockers/docker-dhcp-relay/cli-plugin-tests/conftest.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_dhcp_relay.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_vlan_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py
Labels: automerge

#13643 [action] [PR:13105] Support port name in ACL table `AttachTo` attribute
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: automerge

#13641 [action] [PR:13088] [Arista] Update ip packet checksum when set to 0xffff on 720DT-48S
  device/arista/x86_64-arista_720dt_48s/td3x2-a720dt-48s-flex.config.bcm
Labels: automerge

#13640 [action] [PR:13079] Seastone add platform json capability enhancement config
  device/celestica/x86_64-cel_seastone-r0/platform.json
Labels: automerge

#13639 [action] [PR:13066] Fix segfault issue inside memory_checker
  files/image_config/monit/memory_checker
  src/sonic-eventd/tools/events_publish_tool.py
Labels: automerge

#13638 [action] [PR:13065] [dhcpmon] Fix dhcpmon socket filter and tx count issue
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_mon.cpp
Labels: automerge

#13636 [action] [PR:13012] Change bgp notification leaf name and mem_usage leaf type
  dockers/docker-fpm-frr/bgp_regex.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-host.json
  src/sonic-yang-models/yang-models/sonic-events-bgp.yang
  src/sonic-yang-models/yang-models/sonic-events-host.yang
Labels: automerge

#13633 [action] [PR:12997] Add k8s support feature set and Add platform label for scheduler usage
  Makefile.work
  build_debian.sh
  rules/config
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
Labels: automerge

#13632 [action] [PR:12996] [dualtor] Let T0 delay 10 seconds before sending BGP updates
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/test_frr.py
Labels: automerge

#13630 [action] [PR:12958] [build]: increase raw image disk size to 4GB
  onie-image-arm64.conf
  onie-image-armhf.conf
  onie-image.conf
Labels: automerge

#13629 [action] [PR:12921] Replace logrotate cron file with (adapted) systemd timer file
  files/build_templates/sonic_debian_extension.j2
  files/image_config/cron.d/logrotate
  files/image_config/logrotate/timerOverride.conf
Labels: automerge

#13626 [action] [PR:12897] [yang] Add collector_vrf to sflow yang model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sflow.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sflow.json
  src/sonic-yang-models/yang-models/sonic-sflow.yang
Labels: automerge

#13653 [action] [PR:13356] [Celestica Seastone] fix multi sonic platform issues
  device/celestica/x86_64-cel_seastone-r0/platform_components.json
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/component.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/psu.py
  device/celestica/x86_64-cel_seastone-r0/system_health_monitoring_config.json
Labels: automerge

#13652 [action] [PR:13349] [device/arista] Disabled polled_irq_mode for DNX SKUs
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C32D4/jr2-a7280cr3-32d4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C40/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C28S8/jr2-a7280cr3-32p4-28x100G-8x10G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C32P4/jr2-a7280cr3-32p4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: automerge

#13650 [action] [PR:13242] [Arista]: Add hwSku Arista-7260CX3-D108C10
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/BALANCED
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/RDMA-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/TCP-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffer_ports_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_extra_queues.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/sai.profile
Labels: automerge

#13628 [action] [PR:12920] [build] Add the possibility to disable compilation of teamd and radv containers.
  files/scripts/swss.sh
  rules/config
  rules/docker-router-advertiser.mk
  rules/docker-teamd.mk
  slave.mk
Labels: automerge

#13664 [action] [PR:13344] [Seastone] Enhancement fix for PR12200 syseeprom issue
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-dx010.init
Labels: automerge

#13625 [action] [PR:12721] [Device/Centec]Fix the bug that it gets error system-mac of centec platform
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: automerge

#13644 [action] [PR:13139] [build] Adjust teamd and radv features configuration according to the compilation options.
  files/build_templates/init_cfg.json.j2
  slave.mk
Labels: automerge

#13533 [Mellanox][sai_failure_dump]Added platform specific script to be invoked during SAI failure dump
  files/build_templates/docker_image_ctl.j2
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/platform_syncd_dump.sh
Labels: Request for 202205 Branch, Request for 202211 Branch

#13667 [action] [PR:13587] Use tmpfs for /var/log for Arista 7260
  files/Aboot/boot0.j2
Labels: automerge

#13646 [action] [PR:13198] [Build] Support j2 template for Debian sources for docker ptf
  dockers/docker-ptf/Dockerfile.j2
  scripts/prepare_docker_buildinfo.sh
Labels: automerge

#13634 [action] [PR:13006] [dhcpv6_relay] Fix dependency of dhcp-mon on VLAN with only v6 cfg is provided
  dockers/docker-dhcp-relay/dhcp-relay.monitors.j2
Labels: automerge

#13627 [action] [PR:12905] [Arista 720DT] Create SKU alias Arista-720DT-G48S4
  device/arista/x86_64-arista_720dt_48s/Arista-720DT-G48S4
Labels: automerge

#13655 [action] [PR:13377] Moving multiprocessing.Manager to the correct sub-process
  src/system-health/health_checker/sysmonitor.py
Labels: automerge

#13656 [action] [PR:13386] [build] Check if patches are applied before applying patches
  slave.mk
Labels: automerge

#13566 [build] Check if patches are applied before applying patches.
  slave.mk
Labels: Build :hammer:, Request for 202012 Branch, Request for 202106 Branch, Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch

#13253 [hash] Add Generic Hash YANG model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/hash.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/hash.json
  src/sonic-yang-models/yang-models/sonic-hash.yang
  src/sonic-yang-models/yang-models/sonic-pbh.yang
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: yang

#13669 Fix rsyslogd start failed cause by rsyslog.conf is emtpy.
  files/build_templates/docker_image_ctl.j2
  files/image_config/rsyslog/rsyslog-container.conf.j2
Labels: Request for 202211 Branch

#13426 [Celestica DX010] fix fan drawer and watchdog platform testcase issues
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan_drawer.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/watchdog.py
Labels: Platform: Celestica, Request for 202012 Branch, Request for 202205 Branch

#13689 [action] [PR:13565] [gearbox] use credo sai v0.8.2
  platform/components/docker-gbsyncd-credo.mk
Labels: automerge

#13476 Adding support for FPGAPCIe in PDDF
  platform/pddf/i2c/debian/rules
  platform/pddf/i2c/modules/Makefile
  platform/pddf/i2c/modules/fpgapci/Makefile
  platform/pddf/i2c/modules/fpgapci/algos/Makefile
  platform/pddf/i2c/modules/fpgapci/algos/pddf_xilinx_device_7021_algo.c
  platform/pddf/i2c/modules/fpgapci/driver/Makefile
  platform/pddf/i2c/modules/fpgapci/driver/pddf_fpgapci_driver.c
  platform/pddf/i2c/modules/fpgapci/pddf_fpgapci_module.c
  platform/pddf/i2c/modules/include/pddf_client_defs.h
  platform/pddf/i2c/modules/include/pddf_fpgapci_defs.h
  platform/pddf/i2c/modules/include/pddf_i2c_algo.h
Labels: PDDF

#13666 [action] [PR:13422] [sudoers] add `/usr/local/bin/storyteller` to `READ_ONLY_CMDS`
  files/image_config/sudoers/sudoers
Labels: automerge

#13701 [202012][dualtor] Let T0 delay 10 seconds before sending BGP updates
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/test_frr.py
Labels: Request for 202012 Branch

#13524 arista: Fix platform.json on Wolverine for thermal sensors and SFPs
  device/arista/x86_64-arista_7800r3a_36d2_lc/platform.json
Labels: Request for 202205 Branch, Request for 202211 Branch

#13659 Fix content of platform.json for DCS-7050CX3-32S
  device/arista/x86_64-arista_7050cx3_32s/platform.json
Labels: Platform: Arista

#13613 Set 'origin' and 'AS Path' for T1 SLB routes
  src/sonic-bgpcfgd/bgpcfgd/managers_rm.py
  src/sonic-bgpcfgd/tests/test_rm.py
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#13600 [doc]: YANG UM: CRLF->LF
  src/sonic-yang-models/doc/Configuration.md
Labels: Documentation :book:, yang

#13672 [Build][202012]: Fix the bin image generated from raw image issue (#10083)
  build_image.sh
Labels: Build :hammer:

#13673 [Build][202012]: fix some version info missing in version control files issue (#10211)
  build_debian.sh
Labels: Build :hammer:

#10013 [Arista] Add emmc quirks in boot0 to improve reliability
  files/Aboot/boot0.j2
Labels: Platform: Arista, Request for 202205 Branch, Request for 202211 Branch

#13275 [armhf][Nokia-7215] Implement PMON SFP API get_error_description for Nokia-7215 platform
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#12378 [Arista] Add other chassis names to platform_components.json for 720DT-48S
  device/arista/x86_64-arista_720dt_48s/platform_components.json
Labels: Request for 202205 Branch, Arista-720DT-48S, Request for 202211 Branch

#13550 [Arista] Increase 720DT-48S varlog size to 2G
  files/Aboot/boot0.j2
Labels: Request for 202205 Branch, Arista-720DT-48S, Request for 202211 Branch

#13694 [armhf][Nokia-7215]Fix High CPU caused by entropy.py
  platform/marvell-armhf/sonic-platform-nokia/debian/sonic-platform-nokia-7215.install
  platform/marvell-armhf/sonic-platform-nokia/entropy.py
  platform/marvell-armhf/sonic-platform-nokia/nokia-7215_plt_setup.sh
Labels: Request for 202205 Branch, Request for 202211 Branch

#13737 [Security] Upgrade the openssl version to 1.1.1n-0+deb11u4+fips
  rules/sonic-fips.mk
Labels: Security :shield:, Request for 202205 Branch, Request for 202211 Branch

#13595 [DX010 platform] fix dx010 platform testcase issues
  device/celestica/x86_64-cel_seastone-r0/platform.json
  device/celestica/x86_64-cel_seastone-r0/platform_components.json
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch

#13741 Add lsof and sysstat packages to the base system for debugging purposes
  build_debian.sh
Labels: Request for 202205 Branch, Request for 202211 Branch

#13759 [Security][202205] Upgrade the openssl version to 1.1.1n-0+deb11u4+fips #13737
  files/build/versions/host-image/versions-deb-bullseye-armhf
  rules/sonic-fips.mk
Labels: Security :shield:

#13763 [Security][202211] Upgrade the openssl version to 1.1.1n-0+deb11u4+fips #13737
  files/build/versions/host-image/versions-deb-bullseye-armhf
  rules/sonic-fips.mk
Labels: Security :shield:

#13744 [action] [PR:12378] [Arista] Add other chassis names to platform_components.json for 720DT-48S
  device/arista/x86_64-arista_720dt_48s/platform_components.json
Labels: automerge

#13747 [action] [PR:13426] [Celestica DX010] fix fan drawer and watchdog platform testcase issues
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan_drawer.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/watchdog.py
Labels: automerge

#13750 [action] [PR:13550] [Arista] Increase 720DT-48S varlog size to 2G
  files/Aboot/boot0.j2
Labels: automerge

#13749 [action] [PR:13533] [Mellanox][sai_failure_dump]Added platform specific script to be invoked during SAI failure dump
  files/build_templates/docker_image_ctl.j2
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/platform_syncd_dump.sh
Labels: automerge

#13752 [action] [PR:13694] [armhf][Nokia-7215]Fix High CPU caused by entropy.py
  platform/marvell-armhf/sonic-platform-nokia/debian/sonic-platform-nokia-7215.install
  platform/marvell-armhf/sonic-platform-nokia/entropy.py
  platform/marvell-armhf/sonic-platform-nokia/nokia-7215_plt_setup.sh
Labels: automerge

#13753 [action] [PR:13613] Set 'origin' and 'AS Path' for T1 SLB routes
  src/sonic-bgpcfgd/bgpcfgd/managers_rm.py
  src/sonic-bgpcfgd/tests/test_rm.py
Labels: automerge

#13743 [action] [PR:10013] [Arista] Add emmc quirks in boot0 to improve reliability
  files/Aboot/boot0.j2
Labels: automerge

#13770 [action] [PR:13426] [Celestica DX010] fix fan drawer and watchdog platform testcase issues
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/fan_drawer.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/watchdog.py
Labels: automerge

#13677 [action] [PR:13429] [device/arista] Reduce SDK stat polling freq in DNX devices
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C32D4/jr2-a7280cr3-32d4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C40/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C28S8/jr2-a7280cr3-32p4-28x100G-8x10G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C32P4/jr2-a7280cr3-32p4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: automerge

#13771 [action] [PR:12001] 02.Version cache - docker cache build framework
  Makefile.work
  files/build_templates/build_docker_cache.j2
  scripts/collect_build_version_files.sh
  scripts/collect_docker_version_files.sh
  scripts/collect_host_image_version_files.sh
  scripts/prepare_docker_buildinfo.sh
  slave.mk
  sonic-slave-buster/Dockerfile.j2
  src/sonic-build-hooks/scripts/buildinfo_base.sh
  src/sonic-build-hooks/scripts/post_run_buildinfo
  src/sonic-build-hooks/scripts/pre_run_buildinfo
Labels: automerge

#13746 [action] [PR:13275] [armhf][Nokia-7215] Implement PMON SFP API get_error_description for Nokia-7215 platform
  platform/marvell-armhf/sonic-platform-nokia/7215/sonic_platform/sfp.py
Labels: automerge

#13751 [action] [PR:13697] Fix issue: ERR healthd: Get unit status determine-reboot-cause-'LoadState'
  src/system-health/health_checker/sysmonitor.py
Labels: automerge

#13748 [action] [PR:13524] arista: Fix platform.json on Wolverine for thermal sensors and SFPs
  device/arista/x86_64-arista_7800r3a_36d2_lc/platform.json
Labels: automerge

#13777 [action] [PR:13741] Add lsof and sysstat packages to the base system for debugging purposes
  build_debian.sh
Labels: automerge

#13778 [action] [PR:13595] [DX010 platform] fix dx010 platform testcase issues
  device/celestica/x86_64-cel_seastone-r0/platform.json
  device/celestica/x86_64-cel_seastone-r0/platform_components.json
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
Labels: automerge

#13572 set cable length to 1m for backplane ports
  files/build_templates/buffers_config.j2
  src/sonic-config-engine/tests/multi_npu_data/buffers.json.j2
  src/sonic-config-engine/tests/multi_npu_data/buffers_defaults_t2.j2
  src/sonic-config-engine/tests/sample-chassis-packet-lc-port-config.ini
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: P0

#13691 [action] [PR:12918] [sflow]: Unblocked psample_*() function calls related to BRCM specific procfs for sflow feature's working in ESW platforms
  platform/broadcom/saibcm-modules/sdklt/linux/knetcb/Kbuild
  platform/broadcom/saibcm-modules/sdklt/linux/knetcb/ngknetcb_main.c
  platform/broadcom/saibcm-modules/sdklt/linux/knetcb/psample-cb.h
  platform/broadcom/saibcm-modules/systems/linux/kernel/modules/knet-cb/knet-cb.c
Labels: automerge

#13497 system-health service_checker should check containers based on asic presence
  src/system-health/health_checker/service_checker.py
Labels: Request for 202205 Branch, Request for 202211 Branch

#13657 [action] [PR:13408] [dualtor][active-active]Killing radv instead of stopping on `active-active` dualtor if config knob is on
  files/scripts/service_mgmt.sh
Labels: automerge

#13782 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#13681 [action] [PR:13465] [Mellanox] Improve FW upgrade logging
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: automerge

#13651 [action] [PR:13283] During build time mask only those feature/services that are disabled excplicitly
  files/build_scripts/mask_disabled_services.py
Labels: automerge

#13679 [action] [PR:13445] [chassis] Fixed critical process not correct for database-chassis docker
  dockers/docker-database/Dockerfile.j2
  dockers/docker-database/critical_processes
  dockers/docker-database/critical_processes.j2
  dockers/docker-database/docker-database-init.sh
Labels: automerge

#13680 [action] [PR:13446] Add explicit dependency on sonic_platform_common in sonic-chassisd mk
  rules/sonic-chassisd.mk
Labels: automerge

#13690 [action] [PR:13566] [build] Check if patches are applied before applying patches.
  slave.mk
Labels: automerge

#13623 [201911] [Mellanox] Add BIOS upgrade infra
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/.gitignore
  platform/mellanox/bios.mk
  platform/mellanox/bios/README.md
  platform/mellanox/cpld.mk
  platform/mellanox/cpld/README.md
  platform/mellanox/one-image.mk
  platform/mellanox/rules.mk
Labels: Platform: Mellanox

#13611 [Mellanox] set select timeout to no more than 1 sec to make sure fast shutdown
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: Platform: Mellanox, NVIDIA

#13757 [Mellanox] Support per PSU slope value for PSU power threshold
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
Labels: Platform: Mellanox, Request for 202211 Branch

#13649 [dockerd] Force usage of cgo DNS resolver
  files/docker/docker.service.conf
Labels: Request for 202205 Branch, Request for 202211 Branch

#13786 [Build] Change the default mirror version config file
  Makefile.work
  scripts/build_mirror_config.sh
Labels: Build :hammer:, Request for 202205 Branch, Request for 202211 Branch

#13804 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
Labels: automerge

#13797 [action] [PR:13786] [Build] Change the default mirror version config file
  Makefile.work
  scripts/build_mirror_config.sh
Labels: automerge

#13807 [cherry-pick][202211][broadcom]: Set default SYNCD_SHM_SIZE for Broadcom XGS devices (#13297)
  device/arista/x86_64-arista_7050dx4_32s/platform_env.conf
  device/arista/x86_64-arista_7050px4_32s/platform_env.conf
  device/arista/x86_64-arista_7060dx5_64s/platform_env.conf
  device/arista/x86_64-arista_7060px5_64s/platform_env.conf
  device/broadcom/x86_64-broadcom_common/syncd_shm.ini
  files/build_templates/docker_image_ctl.j2
Labels: Included in 202211 Branch

#13816 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-base-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#13822 [dhcp_relay] Remove exist check while adding dhcpv6 relay
  dockers/docker-dhcp-relay/cli-plugin-tests/conftest.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py
Labels: Request for 202205 Branch

#10084 [Arista] Add tuning values for phys on 7280cr3mk
  device/arista/x86_64-arista_7280cr3mk_32p4/Arista-7280CR3-C40/gearbox_config.json
Labels: Platform: Arista

#13716 Add yang models for GNMI
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/gnmi.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/gnmi.json
  src/sonic-yang-models/yang-models/sonic-gnmi.yang
Labels: yang

#13801 [Mellanox] Enhance MFT make file to download source code from any valid URL
  platform/mellanox/mft.mk
  platform/mellanox/mft/Makefile
Labels: Enhancement :heavy_plus_sign:, Request for 202211 Branch

#13686 [action] [PR:13516] Clear DNS configuration received from DHCP during networking reconfiguration in Linux.
  build_debian.sh
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/resolv.conf
  files/image_config/resolv-config/resolv.conf.head
Labels: automerge

#13684 [action] [PR:13493] [Mellanox] [ECMP calculator] Add script usage and more information to script description in help option
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
Labels: automerge

#13683 [action] [PR:13483] [yang] Added Tunnel flex counter group
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: automerge

#13645 [action] [PR:13148] [dhcp_relay]Fix the clear dhcp6relay_counters CLI
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
Labels: automerge

#13805 Use tmpfs for /var/log on Arista 7050CX3-32S
  files/Aboot/boot0.j2
Labels: Request for 202012 Branch, Request for 202205 Branch, Approved for 202205 Branch, Request for 202211 Branch

#13830 [action] [PR:13822] [dhcp_relay] Remove exist check while adding dhcpv6 relay
  dockers/docker-dhcp-relay/cli-plugin-tests/conftest.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_config_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/config/plugins/dhcp_relay.py
Labels: automerge

#13868 [action] [PR:13801] [Mellanox] Enhance MFT make file to download source code from any valid URL
  platform/mellanox/mft.mk
  platform/mellanox/mft/Makefile
Labels: automerge

#13863 [action] [PR:13694] [armhf][Nokia-7215]Fix High CPU caused by entropy.py
  platform/marvell-armhf/sonic-platform-nokia/debian/sonic-platform-nokia-7215.install
  platform/marvell-armhf/sonic-platform-nokia/entropy.py
  platform/marvell-armhf/sonic-platform-nokia/nokia-7215_plt_setup.sh
Labels: automerge

#13827 [action] [PR:13812] [Build] Remove the additional space character in the mirrors.list file
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: automerge

#13869 [action] [PR:13805] Use tmpfs for /var/log on Arista 7050CX3-32S
  files/Aboot/boot0.j2
Labels: automerge

#13864 [action] [PR:13697] Fix issue: ERR healthd: Get unit status determine-reboot-cause-'LoadState'
  src/system-health/health_checker/sysmonitor.py
Labels: automerge

#13865 [action] [PR:13739] [Arista] Disable ATA NCQ for a few products
  files/Aboot/boot0.j2
Labels: automerge

#13862 [action] [PR:13669] Fix rsyslogd start failed cause by rsyslog.conf is emtpy.
  files/build_templates/docker_image_ctl.j2
  files/image_config/rsyslog/rsyslog-container.conf.j2
Labels: automerge

#13860 [action] [PR:13613] Set 'origin' and 'AS Path' for T1 SLB routes
  src/sonic-bgpcfgd/bgpcfgd/managers_rm.py
  src/sonic-bgpcfgd/tests/test_rm.py
Labels: automerge

#13859 [action] [PR:13595] [DX010 platform] fix dx010 platform testcase issues
  device/celestica/x86_64-cel_seastone-r0/platform.json
  device/celestica/x86_64-cel_seastone-r0/platform_components.json
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/chassis.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/eeprom.py
  device/celestica/x86_64-cel_seastone-r0/sonic_platform/sfp.py
Labels: automerge

#13858 [action] [PR:13550] [Arista] Increase 720DT-48S varlog size to 2G
  files/Aboot/boot0.j2
Labels: automerge

#13857 [action] [PR:13497] system-health service_checker should check containers based on asic presence
  src/system-health/health_checker/service_checker.py
Labels: automerge

#13853 [action] [PR:10013] [Arista] Add emmc quirks in boot0 to improve reliability
  files/Aboot/boot0.j2
Labels: automerge

#13688 [action] [PR:13533] [Mellanox][sai_failure_dump]Added platform specific script to be invoked during SAI failure dump
  files/build_templates/docker_image_ctl.j2
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/platform_syncd_dump.sh
Labels: automerge

#13687 [action] [PR:13523] [Arista] [Platform] Update platform.json for psu led
  device/arista/x86_64-arista_7800_sup/platform.json
Labels: automerge

#13647 [systemd-sonic-generator] Fix overlapping strings being passed to strcpy/strcat
  src/systemd-sonic-generator/systemd-sonic-generator.c
Labels: Request for 202205 Branch, Request for 202211 Branch

#13878 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Labels: automerge

#13834 [DNS] yang model for static DNS
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/dns.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dns.json
  src/sonic-yang-models/yang-models/sonic-dns.yang
Labels: yang

#13792 [Mellanox] Non upstream patches for hw-mgmt V.4.0020.4104
  platform/mellanox/non-upstream-patches/patches.tar.gz
Labels: Platform: Mellanox

#13543 [202012] [Mellanox] Fix issue: SFP eeprom corrupted after replacing cable with different sfp type
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Bug :bug:, Platform: Mellanox, NVIDIA

#13881 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-deb-buster
Labels: automerge

#13880 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
Labels: automerge

#13867 [action] [PR:13757] [Mellanox] Support per PSU slope value for PSU power threshold
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
Labels: automerge

#13847 Add PYTHON3_SWSSCOMMON as build time dependency to Mellanox platform API
  platform/mellanox/mlnx-platform-api.mk
Labels: Request for 202205 Branch, Request for 202211 Branch

#13891 [action] [PR:13647] [systemd-sonic-generator] Fix overlapping strings being passed to strcpy/strcat
  src/systemd-sonic-generator/systemd-sonic-generator.c
Labels: automerge

#13885 [Build] Clean up the debian preference config file
  src/sonic-build-hooks/scripts/post_run_cleanup
Labels: Build :hammer:

#13886 [Build] Clean up the debian preference config file
  src/sonic-build-hooks/scripts/post_run_buildinfo
Labels: Build :hammer:

#13710 [Mellanox] Fix issue: cannot find label port for logical port when logical port number is larger than 64
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
Labels: Bug :bug:, Platform: Mellanox, NVIDIA

#13814 [Mellanox] [ECMP calculator] Add support for 4600/4600C/2201 platforms with different interface naming method
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Labels: Platform: Mellanox, Request for 202211 Branch

#12529 [Arista] update sensors.conf to ignore sensors
  device/arista/x86_64-arista_7050_qx32s/sensors.conf
  device/arista/x86_64-arista_7050cx3_32s/sensors.conf
  device/arista/x86_64-arista_7060_cx32s/sensors.conf
Labels: Platform: Arista, Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch

#13893 Upgrade SONiC Versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Labels: automerge

#13887 [Build][202211] Clean up the debian preference config file
  src/sonic-build-hooks/scripts/post_run_buildinfo
Labels: Build :hammer:

#13883 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
Labels: automerge

#13897 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/build/build-sonic-slave-stretch/versions-deb-stretch
  files/build/versions/build/build-sonic-slave-stretch/versions-py2
  files/build/versions/build/build-sonic-slave-stretch/versions-web
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-base-buster/versions-py3
  files/build/versions/dockers/docker-base-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-base-stretch/versions-py2
  files/build/versions/dockers/docker-config-engine-stretch/versions-deb-stretch
  files/build/versions/dockers/docker-config-engine-stretch/versions-py2
  files/build/versions/dockers/docker-fpm-frr/versions-deb-buster
  files/build/versions/dockers/docker-lldp/versions-deb-buster
  files/build/versions/dockers/docker-platform-monitor/versions-py2
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-py2
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-deb-buster
  files/build/versions/dockers/docker-syncd-nephos/versions-deb-stretch
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-arm64
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-py3
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-deb-buster-arm64
  files/build/versions/host-image/versions-deb-buster-armhf
  files/build/versions/host-image/versions-py2
  files/build/versions/host-image/versions-py3
Labels: automerge

#13884 [Mellanox] Check system eeprom existence in a retry manner
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/tests/test_eeprom.py
  platform/mellanox/mlnx-platform-api/tests/test_utils.py
Labels: Bug :bug:, Platform: Mellanox, NVIDIA, Request for 202205 Branch, Request for 202211 Branch

#13905 [action] [PR:13847] Add PYTHON3_SWSSCOMMON as build time dependency to Mellanox platform API
  platform/mellanox/mlnx-platform-api.mk
Labels: automerge

#13207 [Chassis][multiasic] Fix the sonic-db-cli core files issue on multiasic platform after the c++ implementation of sonic-db-cli
  files/build_templates/docker_image_ctl.j2
Labels: Chassis :robot:
