Repository sonic-net/sonic-buildimage, pull requests merged in 2023-08, with the labels that each got.

#15998 [protobuf]: Fix protoc-dev cache error
  rules/protobuf.mk
Labels: Build :hammer:

#15976 [CI/CD] Use remote PR test template from sonic-mgmt master to run PR test
  azure-pipelines.yml
Labels: Created PR to 202012 Branch

#15977 [CI/CD] Use remote PR test template from sonic-mgmt master to run PR test
  azure-pipelines.yml
Labels: Created PR to 202205 Branch

#15979 [CI/CD] Use remote PR test template from sonic-mgmt master to run PR test
  azure-pipelines.yml
Labels: Created PR to 202211 Branch

#15980 [CI/CD] Use remote PR test template from sonic-mgmt master to run PR test
  azure-pipelines.yml
Labels: Created PR to 202305 Branch

#15927 [YANG] add `MUX_LINKMGR|SERVICE_MGMT`
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Labels: yang, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#15889 [E1031] add platform specific reboot command support
  device/celestica/x86_64-cel_e1031-r0/platform_reboot
  device/celestica/x86_64-cel_e1031-r0/platform_update_reboot_cause
Labels: Platform: Celestica, Request for 202012 Branch

#16023 [action] [PR:15712] [E1031] fix pca9548 initializes failed occasionally
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
Labels: automerge

#15993 [Mellanox] Remove unnecessary file manipulation in the SAI Make file
  platform/mellanox/mlnx-sai/Makefile
Labels: Platform: Mellanox, Cleanup :droplet:, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#15842 [Mellanox] Add more unit test coverage for platform API
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
  platform/mellanox/mlnx-platform-api/tests/dmi_file
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_component.py
  platform/mellanox/mlnx-platform-api/tests/test_device_data.py
  platform/mellanox/mlnx-platform-api/tests/test_led.py
  platform/mellanox/mlnx-platform-api/tests/test_pcie.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal.py
  platform/mellanox/mlnx-platform-api/tests/test_utils.py
  platform/mellanox/mlnx-platform-api/tests/test_watchdog.py
Labels: Platform: Mellanox, Request for 202305 Branch

#15701 [Mellanox] Use Debian reboot in Nvidia platform reboot when it is invoked from kdump capture boot
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
Labels: Platform: Mellanox, Request for 202211 Branch, Request for 202305 Branch

#15721 [minigraph] remove number of lanes check for changing speed from 400G to 100G and set speed setting before lane reconfiguration
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-cisco-8111-100-minigraph.xml
  src/sonic-config-engine/tests/sample-cisco-8111-port-config.ini
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Request for 202305 Branch

#15685 Fix CONFIG_DB_INITIALIZED flag check logic and set/reset flag for warmboot
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  files/scripts/swss.sh
  files/scripts/syncd_common.sh
Labels: Request for 202012 Branch, Request for 202111 Branch, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16039 [action] [PR:15793] [Mellanox] Remove reset_from_comex from reboot cause mapping
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: automerge

#16044 [action] [PR:15993] [Mellanox] Remove unnecessary file manipulation in the SAI Make file
  platform/mellanox/mlnx-sai/Makefile
Labels: automerge

#16040 [action] [PR:15793] [Mellanox] Remove reset_from_comex from reboot cause mapping
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Labels: automerge

#16043 [action] [PR:15993] [Mellanox] Remove unnecessary file manipulation in the SAI Make file
  platform/mellanox/mlnx-sai/Makefile
Labels: automerge

#16053 [action] [PR:15712] [E1031] fix pca9548 initializes failed occasionally
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
Labels: automerge

#16041 [action] [PR:15816] Fix issue: set delayed attribute to true for platform monitor service
  files/build_templates/init_cfg.json.j2
Labels: automerge

#16052 [action] [PR:15712] [E1031] fix pca9548 initializes failed occasionally
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
Labels: automerge

#16054 [action] [PR:15721] [minigraph] remove number of lanes check for changing speed from 400G to 100G and set speed setting before lane reconfiguration
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-cisco-8111-100-minigraph.xml
  src/sonic-config-engine/tests/sample-cisco-8111-port-config.ini
  src/sonic-config-engine/tests/test_cfggen.py
Labels: automerge

#16058 [action] [PR:15884] [YANG] add yang model for `MUX_LINKMGR|MUXLOGGER`
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Labels: automerge

#16057 [action] [PR:15838] [YANG][vlan-sub-interface] Add `vlan` field
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan_sub_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-vlan-sub-interface.yang
Labels: automerge

#16045 [action] [PR:14170] Add support data for fabric monitoring in CONFIG_DB.
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/fabric_monitor_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/fabric_port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/fabric_monitor_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/fabric_port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/fabric_monitor_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/fabric_port_config.ini
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/fabric_port_config.ini
  device/arista/x86_64-arista_7800r3_48cq2_lc/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3_48cq2_lc/fabric_port_config.ini
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/fabric_port_config.ini
  device/arista/x86_64-arista_7800r3_48cqm2_lc/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/fabric_port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/fabric_port_config.ini
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/portconfig.py
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: automerge

#16046 [action] [PR:14547] [Mellanox] make sure shared storage with syncd is cleared on restarts
  files/build_templates/docker_image_ctl.j2
  files/build_templates/per_namespace/syncd.service.j2
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/nv-syncd-shared/nv-syncd-shared.service
Labels: automerge

#16026 [chassis] Fix the Loopback0 IPv6 address of LC's in chassis not reachable from peer devices
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/packet_chassis.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/voq_chassis.conf
Labels: P0, Chassis for 202205 branch, Request for 202305 Branch

#16051 [action] [PR:15701] [Mellanox] Use Debian reboot in Nvidia platform reboot when it is invoked from kdump capture boot
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
Labels: automerge

#16047 [action] [PR:15612] Update WRED profile on system ports
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x400g.json
Labels: automerge

#16048 [action] [PR:15660] [Build] Fix some of the patches not applied issue
  slave.mk
Labels: automerge

#16067 [action] [PR:15818] [syncd.sh] Clear semaphore before updating firmware
  files/scripts/syncd.sh
Labels: automerge

#16021 [action] [PR:15884] [YANG] add yang model for `MUX_LINKMGR|MUXLOGGER`
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Labels: automerge

#15734 [chassis] removed dependency between bgp and swss for chassis supervisor
  files/scripts/swss.sh
Labels: P0, Chassis :robot:, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16022 [action] [PR:15884] [YANG] add yang model for `MUX_LINKMGR|MUXLOGGER`
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Labels: automerge

#16055 [action] [PR:15769] [monit][dualtor] Periodically check mux neighbors consistency
  files/image_config/monit/conf.d/sonic-host
Labels: automerge

#16013 [SNMP][IPv6]: Fix to use link local IPv6 address as snmp agentAddress
  dockers/docker-snmp/snmpd.conf.j2
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#15954 [action] [PR:15769] [monit][dualtor] Periodically check mux neighbors consistency
  files/image_config/monit/conf.d/sonic-host
Labels: automerge

#15994 [action] [PR:15712] [E1031] fix pca9548 initializes failed occasionally
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.init
Labels: automerge

#16068 [action] [PR:15818] [syncd.sh] Clear semaphore before updating firmware
  files/scripts/syncd.sh
Labels: automerge

#16038 Updated PG headroom settings for 40g port speed
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/pg_profile_lookup.ini
Labels: Chassis :robot:, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16098 [action] [PR:15685] Fix CONFIG_DB_INITIALIZED flag check logic and set/reset flag for warmboot
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  files/scripts/swss.sh
  files/scripts/syncd_common.sh
Labels: automerge

#16099 [action] [PR:15734] [chassis] removed dependency between bgp and swss for chassis supervisor
  files/scripts/swss.sh
Labels: automerge

#16101 [action] [PR:15993] [Mellanox] Remove unnecessary file manipulation in the SAI Make file
  platform/mellanox/mlnx-sai/Makefile
Labels: automerge

#16102 [action] [PR:16013] [SNMP][IPv6]: Fix to use link local IPv6 address as snmp agentAddress
  dockers/docker-snmp/snmpd.conf.j2
Labels: automerge

#16103 [action] [PR:15936] Update the iSMART_64 tool
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/iSMART_64
Labels: automerge

#16097 Always set sai_tunnel_support on Arista-7260cx3
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-C64/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C10/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/config.bcm.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
  src/sonic-config-engine/tests/data/j2_template/config.bcm.j2
  src/sonic-config-engine/tests/sample_output/py3/arista7260-t1.config.bcm
Labels: Request for 202305 Branch

#16083 [Celestica-E1031] Enable CPU watchdog
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.install
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.postinst
  platform/broadcom/sonic-platform-modules-cel/haliburton/script/cpu_wdt
  platform/broadcom/sonic-platform-modules-cel/haliburton/systemd/cpu_wdt.service
Labels: Platform: Celestica, Request for 202012 Branch

#16135 [action] [PR:15734] [chassis] removed dependency between bgp and swss for chassis supervisor
  files/scripts/swss.sh
Labels: automerge

#16136 [action] [PR:15805] Update usage leaf in sonic-events-host yang models
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-host.json
  src/sonic-yang-models/yang-models/sonic-events-common.yang
Labels: automerge

#16137 [action] [PR:15842] [Mellanox] Add more unit test coverage for platform API
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
  platform/mellanox/mlnx-platform-api/tests/dmi_file
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_component.py
  platform/mellanox/mlnx-platform-api/tests/test_device_data.py
  platform/mellanox/mlnx-platform-api/tests/test_led.py
  platform/mellanox/mlnx-platform-api/tests/test_pcie.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal.py
  platform/mellanox/mlnx-platform-api/tests/test_utils.py
  platform/mellanox/mlnx-platform-api/tests/test_watchdog.py
Labels: automerge

#16143 [action] [PR:15376] [Marvell] Fix get_system_mac for system without eeprom
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: automerge

#16140 [action] [PR:16026] [chassis] Fix the Loopback0 IPv6 address of LC's in chassis not reachable from peer devices
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/packet_chassis.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/voq_chassis.conf
Labels: automerge

#16134 [action] [PR:15684] Revert "Revert "Fix for fast/cold-boot: call db_migrator only after old config is loaded""
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Labels: automerge

#16125 Change orchagent pop batch size from 8192 to 1024
  dockers/docker-orchagent/orchagent.sh
Labels: Request for 202205 Branch, Request for 202305 Branch

#16149 [Mellanox] Update MFT tool to version 4.25.0-62
  platform/mellanox/mft.mk
Labels: Platform: Mellanox, Request for 202211 Branch, Request for 202305 Branch

#16141 [action] [PR:16038] Updated PG headroom settings for 40g port speed
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/pg_profile_lookup.ini
Labels: automerge

#16133 [action] [PR:15575] [staticroutebfd] fix static route uninstall issue if no nexthop
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/tests/test_static_rt.py
Labels: automerge

#16131 [action] [PR:15289] Update the description message of PSU power threshold checking in system health
  src/system-health/health_checker/hardware_checker.py
  src/system-health/tests/test_system_health.py
Labels: automerge

#16042 [action] [PR:15816] Fix issue: set delayed attribute to true for platform monitor service
  files/build_templates/init_cfg.json.j2
Labels: automerge

#15668 [Nvidia] [4410] Support new breakout modes for PAM4
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/hwsku.json
  device/mellanox/x86_64-mlnx_msn4410-r0/platform.json
Labels: Platform: Mellanox, Request for 202305 Branch

#16138 [action] [PR:15927] [YANG] add `MUX_LINKMGR|SERVICE_MGMT`
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Labels: automerge

#16130 [action] [PR:16013] [SNMP][IPv6]: Fix to use link local IPv6 address as snmp agentAddress
  dockers/docker-snmp/snmpd.conf.j2
Labels: automerge

#16071 [action] [PR:15927] [YANG] add `MUX_LINKMGR|SERVICE_MGMT`
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/mux-linkmgr.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mux-linkmgr.json
  src/sonic-yang-models/yang-models/sonic-mux-linkmgr.yang
Labels: automerge

#16056 [action] [PR:15838] [YANG][vlan-sub-interface] Add `vlan` field
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan_sub_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-vlan-sub-interface.yang
Labels: automerge

#16049 [action] [PR:15660] [Build] Fix some of the patches not applied issue
  slave.mk
Labels: automerge

#16114 Remove depot_tools repo
  sonic-slave-bullseye/Dockerfile.j2
Labels: Request for 202305 Branch

#16178 [action] [PR:16038] Updated PG headroom settings for 40g port speed
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/pg_profile_lookup.ini
Labels: automerge

#16177 [action] [PR:16038] Updated PG headroom settings for 40g port speed
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/pg_profile_lookup.ini
Labels: automerge

#16028 [Nokia][DeviceData] Update the Nokia platform IXR-7250E device data
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_reboot
Labels: Request for 202205 Branch, Request for 202211 Branch

#16172 [Marvell] Update armhf sai debian
  platform/marvell-armhf/sai.mk
Labels: Platform: Nokia

#16175 [armhf][Nokia-7215]Add HWSKU files for new SAI
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
Labels: Platform: Nokia

#13875 Misc platform improvements for DCS-7060DX5-64S
  device/arista/x86_64-arista_7060dx5_64s/Arista-7060DX5-64S/hwsku.json
  device/arista/x86_64-arista_7060dx5_64s/Arista-7060DX5-64S/port_config.ini
  device/arista/x86_64-arista_7060dx5_64s/Arista-7060DX5-64S/th4-a7060dx5-64s.config.bcm
  device/arista/x86_64-arista_7060dx5_64s/platform.json
  device/arista/x86_64-arista_7060px5_64s/Arista-7060PX5-64S/blackhawk.xml
  device/arista/x86_64-arista_7060px5_64s/sensors.conf
Labels: Platform: Arista

#16115 [multi-asic] sudo not required explicitly as /bin/ip netns identify present in sudoers
  src/sonic-py-common/sonic_py_common/multi_asic.py
Labels: P0, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16193 [action] [PR:16083] [Celestica-E1031] Enable CPU watchdog
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.install
  platform/broadcom/sonic-platform-modules-cel/debian/platform-modules-haliburton.postinst
  platform/broadcom/sonic-platform-modules-cel/haliburton/script/cpu_wdt
  platform/broadcom/sonic-platform-modules-cel/haliburton/systemd/cpu_wdt.service
Labels: automerge

#16211 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-buster/versions-deb-buster
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-config-engine-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-arm64
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster-armhf
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx-rpc/versions-py2
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Labels: automerge

#16095 [202211] [Mellanox] Update SDK/FW/SAI to 4.6.1020/2012.1020/SAIBuild2211.25.1.0 (#16096)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/fw.dep
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-fw-upgrade.j2
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk-src/sx-obj-desc-lib/Makefile
  platform/mellanox/sdk.dep
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox

#16216 [action] [PR:15889] [E1031] add platform specific reboot command support
  device/celestica/x86_64-cel_e1031-r0/platform_reboot
  device/celestica/x86_64-cel_e1031-r0/platform_update_reboot_cause
Labels: automerge

#16219 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Labels: automerge

#15963 [sysfs] Change SDK API sx_mgmt_phy_module_info_get() to sysfs
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Platform: Mellanox, Request for 202305 Branch

#16223 [action] [PR:15684] Revert "Revert "Fix for fast/cold-boot: call db_migrator only after old config is loaded""
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
Labels: automerge

#16116 Run db_migrator for non first-time reboots
  files/build_templates/docker_image_ctl.j2
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16220 [YANG SONIC-ACL] Fix Yang definition of IN_PORTS and OUT_PORTS
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: yang, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16207 [202012]Dell s6100 Fix sonic-mgmt platform test failures
  device/dell/x86_64-dell_s6100_c2538-r0/platform.json
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/fan_drawer.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/module.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s6100/sonic_platform/watchdog.py
Labels: Platform: DellEMC

#16173 [Arista] Remove one pcie device from pcie.yaml accross platforms
  device/arista/x86_64-arista_7050dx4_32s/pcie.yaml
  device/arista/x86_64-arista_7050px4_32s/pcie.yaml
  device/arista/x86_64-arista_7050sx3_48c8/pcie.yaml
  device/arista/x86_64-arista_7050sx3_48yc8/pcie.yaml
  device/arista/x86_64-arista_7060dx4_32/pcie.yaml
  device/arista/x86_64-arista_7060dx5_32/pcie.yaml
  device/arista/x86_64-arista_7060dx5_64s/pcie.yaml
  device/arista/x86_64-arista_7060px4_32/pcie.yaml
  device/arista/x86_64-arista_7060px5_64s/pcie.yaml
  device/arista/x86_64-arista_7170_32cd/pcie.yaml
  device/arista/x86_64-arista_7170_64c/pcie.yaml
  device/arista/x86_64-arista_720dt_48s/pcie.yaml
  device/arista/x86_64-arista_7260cx3_64/pcie.yaml
  device/arista/x86_64-arista_7280cr3_32p4/pcie.yaml
  device/arista/x86_64-arista_7800_sup/pcie.yaml
  device/arista/x86_64-arista_7800r3_48cq2_lc/pcie.yaml
  device/arista/x86_64-arista_7800r3_48cqm2_lc/pcie.yaml
  device/arista/x86_64-arista_7800r3a_36d2_lc/pcie.yaml
  device/arista/x86_64-arista_common/pcie.yaml
Labels: Platform: Arista

#16091 [Mellanox] Fix issue: watchdogutil command does not work
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
  platform/mellanox/mlnx-platform-api/tests/test_watchdog.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202205 Branch, Request for 202211 Branch, Cherry Pick Conflict_202211, Request for 202305 Branch

#16208 Dell S6100 Platform fix
  device/dell/x86_64-dell_s6100_c2538-r0/platform.json
Labels: Request for 202205 Branch, Request for 202305 Branch

#15771 DellEMC: System health config changes
  device/dell/x86_64-dellemc_s5248f_c3538-r0/system_health_monitoring_config.json
  device/dell/x86_64-dellemc_s5296f_c3538-r0/system_health_monitoring_config.json
  device/dell/x86_64-dellemc_z9264f_c3538-r0/system_health_monitoring_config.json
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/chassis.py
Labels: Platform: DellEMC

#16269 [action] [PR:15685] Fix CONFIG_DB_INITIALIZED flag check logic and set/reset flag for warmboot
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
  files/scripts/swss.sh
  files/scripts/syncd_common.sh
Labels: automerge

#16263 Fix faketime package downloading issue.
  Makefile.work
Labels: Build :hammer:

#16253 [action] [PR:16220] [YANG SONIC-ACL] Fix Yang definition of IN_PORTS and OUT_PORTS
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: automerge

#16235 [action] [PR:16220] [YANG SONIC-ACL] Fix Yang definition of IN_PORTS and OUT_PORTS
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: automerge

#16252 [action] [PR:16208] Dell S6100 Platform fix
  device/dell/x86_64-dell_s6100_c2538-r0/platform.json
Labels: automerge

#16294 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-py3
Labels: automerge

#16300 Upgrade SONiC Versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
Labels: automerge

#15866 [Mellanox] [PPI] Enable global port late create for SN5600
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/sai_5600.xml
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/ACS-SN5600/sai_5600.xml
Labels: Platform: Mellanox, NVIDIA, Request for 202211 Branch, Cherry Pick Conflict_202211, Request for 202305 Branch

#16287 Fix issue: unprintable character is rendered when handling comments in j2
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Request for 202211 Branch, Request for 202305 Branch

#16244 Add yang model for scheduler in PORT_QOS_MAP
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/qosmaps.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-port-qos-map.yang
Labels: yang, Request for 202211 Branch, Request for 202305 Branch

#16247 [YANG SONIC-ACL] Fix Yang definition of ACL_TABLE_TYPE
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: yang, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16249 [minigraph-parser] Update the definition of acl table type BMCDATA and BMCDATAV6
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Request for 202205 Branch, Request for 202305 Branch

#16188 [yang] Add Bmc to Device Neighbor Metadata element type list
  src/sonic-yang-models/tests/yang_model_tests/tests/device_neighbor_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_neighbor_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_neighbor_metadata.yang
Labels: yang, Request for 202205 Branch, Request for 202305 Branch

#16306 [action] [PR:16116] Run db_migrator for non first-time reboots
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#16270 [ci] Add job to cleanup nfs in armhf and arm64 agents.
  .azure-pipelines/dpkg-cache-cleanup.yml
Labels: ci

#16254 Update CPU transmitted packets to queue 7 for chassis
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Chassis :robot:, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#15801 [202211] [Mellanox] [PPI] Enable global port late create for SN5600 (#15866)
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/sai_5600.xml
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/ACS-SN5600/sai_5600.xml
Labels: Platform: Mellanox, NVIDIA

#16303 [acl-loader] Bugfix for loading ACL rules matching L4 port range larger than 60000
  src/sonic-config-engine/openconfig_acl.py
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16346 [action] [PR:16303] [acl-loader] Bugfix for loading ACL rules matching L4 port range larger than 60000
  src/sonic-config-engine/openconfig_acl.py
Labels: automerge

#16307 [action] [PR:16116] Run db_migrator for non first-time reboots
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#16323 [action] [PR:15132] [Build] Change the docker image from alpine to debian in Makefile
  Makefile.work
Labels: automerge

#16251 [action] [PR:16208] Dell S6100 Platform fix
  device/dell/x86_64-dell_s6100_c2538-r0/platform.json
Labels: automerge

#16236 [action] [PR:16220] [YANG SONIC-ACL] Fix Yang definition of IN_PORTS and OUT_PORTS
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: yang, automerge

#16358 [action] [PR:16305] update DOCKER_RAMFS_SIZE for docker_inram
  onie-image-arm64.conf
  onie-image-armhf.conf
  onie-image.conf
Labels: automerge

#16349 Update CPU transmitted packets to queue 7 for chassis
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Chassis :robot:

#16271 [Mellanox] Revise label name and fix typo in sensor.conf of 4600C
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors_respin.conf
Labels: Bug :bug:, Platform: Mellanox, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16275 [chassis][voq] Fix to ignore duplicate nexthop in zebra
  src/sonic-frr/patch/0021-zebra-remove-duplicated-nexthops-when-sending-fpm-msg.patch
  src/sonic-frr/patch/series
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch

#16174 Handle service start-limit-hit failure event case in sysmonitor
  src/system-health/health_checker/sysmonitor.py
Labels: Request for 202211 Branch, Request for 202305 Branch

#16365 [action] [PR:16339] [installer] add processor.max_cstate=1 to intel kernel cmdline
  installer/default_platform.conf
Labels: automerge
