Repository sonic-net/sonic-buildimage, pull requests merged in 2024-09, with the labels that each got.

#20098 [action] [PR:19871] [Bug Fix] Route map for BGP profile FROM_SDN_APPLIANCE_ROUTES (#19871)
  src/sonic-bgpcfgd/bgpcfgd/managers_rm.py
  src/sonic-bgpcfgd/tests/test_rm.py
Labels: automerge

#20097 [action] [PR:19871] [Bug Fix] Route map for BGP profile FROM_SDN_APPLIANCE_ROUTES (#19871)
  src/sonic-bgpcfgd/bgpcfgd/managers_rm.py
  src/sonic-bgpcfgd/tests/test_rm.py
Labels: automerge

#19579 [Mellanox] Updating SDK/FW to 4.6.4082/2012.4082
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox, Cherry Pick Conflict_202405, Request for 202405 Branch

#19860 [Mellanox] Test fixes and URL support for BFB installer
  platform/mellanox/sonic-bfb-installer.sh
Labels: Platform: Mellanox, Request for 202405 Branch

#19863 [Mellanox] dpuctl utility for controlling DPU power flows
  platform/mellanox/mlnx-platform-api/setup.py
  platform/mellanox/mlnx-platform-api/smart_switch/dpuctl/__init__.py
  platform/mellanox/mlnx-platform-api/smart_switch/dpuctl/main.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/dpuctlplat.py
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
  platform/mellanox/mlnx-platform-api/tests/dpuctl_inputs/dpuctl_test_inputs.py
  platform/mellanox/mlnx-platform-api/tests/dpuctl_inputs/platform.json
  platform/mellanox/mlnx-platform-api/tests/test_dpuctl.py
  platform/mellanox/mlnx-platform-api/tests/test_dpuctlplat.py
Labels: Platform: Mellanox, Request for 202405 Branch

#19965 [Mellanox] Suppress TPM error log
  device/mellanox/x86_64-nvidia_sn5400-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/installer.conf
Labels: Request for 202405 Branch

#19962 Use latest natsort package
  src/sonic-py-common/setup.py
Labels: Request for 202405 Branch

#19812 [Mellanox] wait SFP ready when receive an insert event with module host management mode enabled
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/wait_sfp_ready_task.py
  platform/mellanox/mlnx-platform-api/tests/test_change_event.py
Labels: Request for 202311 Branch, Request for 202405 Branch, bugfix

#20110 [action] [PR:19860] [Mellanox] Test fixes and URL support for BFB installer (#19860)
  platform/mellanox/sonic-bfb-installer.sh
Labels: automerge

#20109 [action] [PR:19863] [Mellanox] dpuctl utility for controlling DPU power flows (#19863)
  platform/mellanox/mlnx-platform-api/setup.py
  platform/mellanox/mlnx-platform-api/smart_switch/dpuctl/__init__.py
  platform/mellanox/mlnx-platform-api/smart_switch/dpuctl/main.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/dpuctlplat.py
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
  platform/mellanox/mlnx-platform-api/tests/dpuctl_inputs/dpuctl_test_inputs.py
  platform/mellanox/mlnx-platform-api/tests/dpuctl_inputs/platform.json
  platform/mellanox/mlnx-platform-api/tests/test_dpuctl.py
  platform/mellanox/mlnx-platform-api/tests/test_dpuctlplat.py
Labels: automerge

#20111 [action] [PR:19775] [Mellanox] update rshim logic (#19775)
  device/mellanox/x86_64-nvidia_sn4280-r0/services.conf
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/rshim.mk
  platform/mellanox/rshim/.gitignore
  platform/mellanox/rshim/Makefile
  platform/mellanox/rshim/files/rshim-manager.service
  platform/mellanox/rshim/files/rshim.sh
  platform/mellanox/rshim/files/rshim@.service
  platform/mellanox/rshim/rename_tmfifo_to_dpu.patch
Labels: automerge

#20021 [isc-dhcp-relay] Add patch to init io obj before creating fd watch
  src/isc-dhcp/patch/0017-Register-IO-obj-before-create-fd-watch.patch
  src/isc-dhcp/patch/series
Labels: Request for 202405 Branch

#20115 [action] [PR:19739] [Nokia Device] Add Programmability path and dpp_path for Nokia DNX platforms (#19739)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/0/config-ramon-1-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/1/config-ramon-1-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/10/config-ramon-6-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/11/config-ramon-6-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/12/config-ramon-7-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/13/config-ramon-7-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/14/config-ramon-8-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/15/config-ramon-8-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/2/config-ramon-2-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/3/config-ramon-2-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/4/config-ramon-3-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/5/config-ramon-3-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/6/config-ramon-4-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/7/config-ramon-4-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/8/config-ramon-5-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/9/config-ramon-5-1.bcm
Labels: automerge

#19745 [chassis][202405]: Remove default hash-offset for chassis-packet
  dockers/docker-orchagent/switch.json.j2
  src/sonic-config-engine/tests/sample_output/t2-switch-masic1.json
  src/sonic-config-engine/tests/sample_output/t2-switch-masic3.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Approved for 202405 Branch, Request for 202405 Branch

#20118 [action] [PR:20036] [Nvidia]: Enable CMIS host management on Mellanox-SN4280-O28 SKU (#20036)
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/media_settings.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/pmon_immediate_start
Labels: automerge

#20130 [action] [PR:20024] Fix flaky capture service start (#20024)
  src/sonic-eventd/src/eventd.cpp
  src/sonic-eventd/tests/eventd_ut.cpp
Labels: automerge

#19999 [Mellanox] update buffers and align QoS to add support for DSCP remapping (for Dual-Tor on t1) for Mellanox-SN4700-O8C48
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/qos.json.j2
Labels: Request for 202311 Branch

#20131 [action] [PR:20024] Fix flaky capture service start (#20024)
  src/sonic-eventd/src/eventd.cpp
  src/sonic-eventd/tests/eventd_ut.cpp
Labels: automerge

#20126 [action] [PR:19745] Remove default hash-offset for chassis-packet (#19745)
  dockers/docker-orchagent/switch.json.j2
  src/sonic-config-engine/tests/sample_output/t2-switch-masic1.json
  src/sonic-config-engine/tests/sample_output/t2-switch-masic3.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: automerge

#20133 [action] [PR:20091] [cisco]: Update cisco-8000.ini to 202405.0.4 release (#20091)
  platform/checkout/cisco-8000.ini
Labels: automerge

#19973 [Mellanox] set default IMA algorithm to sha384 on SN4280
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Labels: Platform: Mellanox, Request for 202405 Branch

#20151 [action] [PR:19812] [Mellanox] wait SFP ready when receive an insert event with module host management mode enabled (#19812)
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/wait_sfp_ready_task.py
  platform/mellanox/mlnx-platform-api/tests/test_change_event.py
Labels: automerge

#20149 [action] [PR:19812] [Mellanox] wait SFP ready when receive an insert event with module host management mode enabled (#19812)
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/wait_sfp_ready_task.py
  platform/mellanox/mlnx-platform-api/tests/test_change_event.py
Labels: automerge

#20119 [Broadcom] Upgrade xgs SAI version to 10.1.42.0
  platform/broadcom/sai.mk
Labels: Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch

#20060 [action] [PR:20000] [Mellanox] update buffers and align QoS to add support for Dual-Tor on t1 (#20000)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/qos.json.j2
Labels: automerge

#20170 [action] [PR:20119] Upgrade xgs SAI version to 10.1.42.0 (#20119)
  platform/broadcom/sai.mk
Labels: automerge

#20150 [action] [PR:19154] [dhcp_relay] Revert cli for dhcp per-interface counter (#19154)
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp6relay_counters.py
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
  sonic-slave-bullseye/Dockerfile.j2
Labels: automerge

#20182 [action] [PR:18829] [voq][chassis][dhcp_relay] swss.sh try to start the dhcp_relay service although it is masked (#18829)
  files/scripts/swss.sh
Labels: automerge

#20181 [action] [PR:19733] [Nokia][snmpwalk] Fix the snmpwalk cefcFruPowerStatusTable on Nokia LC platform (#19733)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/pmon_daemon_control.json
Labels: automerge

#20180 [action] [PR:19429] [Arista]: Add new HwSKU blackhawk-th4 (#19429)
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-100Gx48-400Gx8/hwsku.json
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-100Gx48-400Gx8/media_settings.json
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-100Gx48-400Gx8/sai.profile
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-100Gx48-400Gx8/th4-a7060dx5-32-100Gx48-400Gx8.config.bcm
Labels: automerge

#20179 [action] [PR:19698] 7060dx5 add tuning and suport values for HwSkus (#19698)
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-200Gx48-100Gx32/media_settings.json
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-25Gx96-100Gx8-200Gx8/media_settings.json
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-25Gx96-100Gx8-200Gx8/port_config.ini
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/media_settings.json
Labels: automerge

#20178 [action] [PR:19752] Adding the missed route-map calls for idf isolation (#19752)
  dockers/docker-fpm-frr/frr/bgpd/templates/general/policies.conf.j2
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_base.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_deny.conf
Labels: automerge

#20177 [action] [PR:19862] [Nokia-7215][Nokia-7215-A1] Update EZB files (#19862)
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
Labels: automerge

#20176 [action] [PR:19877] [Mellanox] Fix Mellanox-SN5600-V256 SKU for CMIS host management (#19877)
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/sai_5600_256x200g.xml
Labels: automerge

#20175 [action] [PR:19962] Use latest natsort package (#19962)
  src/sonic-py-common/setup.py
Labels: automerge

#20174 [action] [PR:19973] [Mellanox] set default IMA algorithm to sha384 on SN4280 (#19973)
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Labels: automerge

#20173 [action] [PR:19965] [Mellanox] Suppress TPM error log (#19965)
  device/mellanox/x86_64-nvidia_sn5400-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/installer.conf
Labels: automerge

#20172 [action] [PR:20076] Updated media_settings.json and optics_si_settings.json for SKUs 4700 and 5600. Created symbolic links to redirect other SKUs to these updated files. (#20076)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/media_settings.json
Labels: automerge

#20171 [action] [PR:20021] [isc-dhcp-relay] Add patch to init io obj before creating fd watch (#20021)
  src/isc-dhcp/patch/0017-Register-IO-obj-before-create-fd-watch.patch
  src/isc-dhcp/patch/series
Labels: automerge

#20010 [action] [PR:19232] Support notice level log (#19232)
  src/sonic-py-common/sonic_py_common/syslogger.py
  src/sonic-py-common/tests/test_syslogger.py
Labels: automerge

#20007 [action] [PR:19577] [Security] Fix krb5 CVE-2024-37370 (#19577)
  rules/sonic-fips.mk
Labels: automerge

#19767 YANG model for enabling fabric monitor attribute
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_yang_data.json
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fabric_monitor_data.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fabric_port.json
  src/sonic-yang-models/yang-models/sonic-fabric-monitor.yang
  src/sonic-yang-models/yang-models/sonic-fabric-port.yang
Labels: Chassis :robot:, YANG, Request for 202405 Branch

#20189 [VOQ Chassis] Reduce the i-BGP Keep alive and Hold timer value
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/instance.conf.j2
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_all_v4.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_all_v6.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_base_v4.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_base_v6.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_v4_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_v4_2.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_v6_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_v6_2.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_v4_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_v4_2.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_v6_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_v6_2.conf
Labels: Chassis for 202205 branch, Request for 202405 Branch

#20114 [Mellanox][202405] Remove DPU from SN4280 platform.json file
  device/mellanox/x86_64-nvidia_sn4280-r0/platform.json
Labels: Platform: Mellanox

#20141 [202305][Mellanox]: Add Mellanox-SN4600C-D24C52 SKU
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/hwsku.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/port_config.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/sai_4600c_24x50g_52x100g.xml
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#19740 [action] [PR:19358] Support yang model for buffer pool percentage (#19358)
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/buffer_pool.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/buffer_pool.json
  src/sonic-yang-models/yang-models/sonic-buffer-pool.yang
Labels: automerge

#20223 [action] [PR:20169] [Nokia-7215] Fix software upgrade corner case (#20169)
  platform/marvell/platform_armhf.conf
Labels: automerge

#20132 [Chassis] Update lossy profile to restrict buffer usage in congestion state
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/buffers_defaults_t2.j2
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x400g.json
Labels: Chassis :robot:, Chassis for 202205 branch, Request for 202405 Branch

#20234 [action] [PR:19179] [memory_monitoring] Enhance monitoring the memory usage of containers (#19179)
  files/image_config/monit/memory_checker
  files/image_config/monit/tests/__init__.py
  files/image_config/monit/tests/test_memory_checker.py
Labels: automerge

#20233 [action] [PR:18559] Export GOTRACEBACK=crash env variable (#18559)
  dockers/docker-sonic-telemetry/telemetry.sh
Labels: automerge

#20205 [ntp] Add interface existence check for eth0 in ntp configuration
  files/image_config/ntp/ntp.conf.j2
Labels: Request for 202405 Branch

#19229 [subnet decap] Fix VLAN prefix decap term
  dockers/docker-orchagent/ipinip.json.j2
  src/sonic-config-engine/tests/sample_output/py2/ipinip_subnet_decap_enable.json
  src/sonic-config-engine/tests/sample_output/py3/ipinip_subnet_decap_enable.json
Labels: Request for 202405 Branch

#20247 [action] [PR:18763] [Arista]: Misc sensor updates for DCS-7060DX5-64S (#18763)
  device/arista/x86_64-arista_7060px5_64s/sensors.conf
Labels: automerge

#20254 [action] [PR:20128] Enable MG step in azure pipeline checker. (#20128)
  .azure-pipelines/azure-pipelines-build.yml
Labels: automerge

#20253 [action] [PR:20128] Enable MG step in azure pipeline checker. (#20128)
  .azure-pipelines/azure-pipelines-build.yml
Labels: automerge

#20252 [action] [PR:20128] Enable MG step in azure pipeline checker. (#20128)
  .azure-pipelines/azure-pipelines-build.yml
Labels: automerge

#20260 [action] [PR:20205] [ntp] Add interface existance check for ntp configuration (#20205)
  files/image_config/ntp/ntp.conf.j2
Labels: automerge

#20227 [ntp] Add support for ntp to listen ipv4/ipv6 address depends on server config
  files/image_config/ntp/ntp.conf.j2
Labels: Request for 202405 Branch

#19931 [Mellanox] Add dpuctl services to support "dark mode".
  device/mellanox/x86_64-nvidia_sn4280-r0/services.conf
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/smartswitch/dpuctl/dpu.conf
  platform/mellanox/smartswitch/dpuctl/dpuctl.service
  platform/mellanox/smartswitch/dpuctl/dpuctl.sh
Labels: Platform: Mellanox, Cherry Pick Conflict_202405, Request for 202405 Branch

#20093 [Mellanox] SN4280 Platform pcie changes
  device/mellanox/x86_64-nvidia_sn4280-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn4280-r0/sensors.conf
  platform/mellanox/rshim/files/rshim.sh
Labels: Platform: Mellanox, Cherry Pick Conflict_202405, Request for 202405 Branch

#20245 Revert "[Arista]: Fix TH5 egress pool creation failure with BCM YAML …
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/buffers_defaults_t0.j2
Labels: Request for 202311 Branch, Cherry Pick Conflict_202405, Request for 202405 Branch

#20265 Update default Mellanox WRED profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/qos.json.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-d48c40-t0-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-d48c40-t0.json
Labels: Request for 202311 Branch, Request for 202405 Branch

#20274 [action] [PR:20265] Update default Mellanox WRED profile (#20265)
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/qos.json.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-d48c40-t0-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-d48c40-t0.json
Labels: automerge

#20273 [action] [PR:20265] Update default Mellanox WRED profile (#20265)
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-C64/qos.json.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-c64.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-d48c40-t0-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4600c-d48c40-t0.json
Labels: automerge

#20272 [action] [PR:20245] Revert "[Arista]: Fix TH5 egress pool creation failure with BCM YAML file and SAI update on 07/16 (#19640)" (#20245)
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/buffers_defaults_t0.j2
Labels: automerge

#16762 [fpmsyncd] Fpmsyncd Next Hop Table Enhancement
  dockers/docker-fpm-frr/frr/zebra/zebra.conf.j2
  src/libnl3/patch/0003-Adding-support-for-RTA_NH_ID-attribute.patch
  src/libnl3/patch/series
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: YANG

#20281 [action] [PR:19931] [Mellanox] Add dpuctl services to support "dark mode". (#19931)
  device/mellanox/x86_64-nvidia_sn4280-r0/services.conf
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/smartswitch/dpuctl/dpu.conf
  platform/mellanox/smartswitch/dpuctl/dpuctl.service
  platform/mellanox/smartswitch/dpuctl/dpuctl.sh
Labels: automerge

#20280 [action] [PR:20093] [Mellanox] SN4280 Platform pcie changes (#20093)
  device/mellanox/x86_64-nvidia_sn4280-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn4280-r0/sensors.conf
  platform/mellanox/rshim/files/rshim.sh
Labels: automerge

#20292 [action] [PR:19229] [subnet decap] Fix VLAN prefix decap term (#19229)
  dockers/docker-orchagent/ipinip.json.j2
  src/sonic-config-engine/tests/sample_output/py2/ipinip_subnet_decap_enable.json
  src/sonic-config-engine/tests/sample_output/py3/ipinip_subnet_decap_enable.json
Labels: automerge

#20298 [action] [PR:20189] [VOQ Chassis] Reduce the i-BGP Keep alive and Hold timer value (#20189)
  dockers/docker-fpm-frr/frr/bgpd/templates/voq_chassis/instance.conf.j2
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_all_v4.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_all_v6.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_base_v4.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_base_v6.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_v4_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_v4_2.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_v6_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_shutdown_v6_2.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_v4_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_v4_2.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_v6_1.conf
  src/sonic-bgpcfgd/tests/data/voq_chassis/instance.conf/result_timers_v6_2.conf
Labels: automerge

#20300 [action] [PR:20209] [arista]: Upgrade credo sai package to v0.9.9 (#20209)
  platform/components/docker-gbsyncd-credo.mk
Labels: automerge

#20053 Adds blkinfo for use by stormond to instantiate UsbUtil object
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: Request for 202405 Branch

#19619 [Mellanox] Adding SKU Mellanox-SN5600-C256A1
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/media_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/sai_5600_256x100g.xml
Labels: Platform: Mellanox, NVIDIA, Request for 202405 Branch

#18940 Add bmpcfgd for monitoring config_db state change.
  src/sonic-bmpcfgd/__init__.py
  src/sonic-bmpcfgd/data/debian/sonic-services-data.bmpcfgd.service
  src/sonic-bmpcfgd/scripts/bmpcfgd
  src/sonic-bmpcfgd/setup.cfg
  src/sonic-bmpcfgd/setup.py
  src/sonic-bmpcfgd/tests/__init__.py
  src/sonic-bmpcfgd/tests/bmpcfgd_test.py
  src/sonic-bmpcfgd/tests/common/mock_configdb.py
  src/sonic-bmpcfgd/tests/mock_connector.py
Labels: BMP

#20307 [action] [PR:19619] [Mellanox] Adding SKU Mellanox-SN5600-C256A1 (#19619)
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/media_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256A1/sai_5600_256x100g.xml
Labels: automerge

#20303 [action] [PR:20227] [ntp] Add support for ntp to listen ipv4/ipv6 address depends on server config (#20227)
  files/image_config/ntp/ntp.conf.j2
Labels: automerge

#20262 [action] [PR:19767] YANG model for enabling fabric monitor attribute (#19767)
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_yang_data.json
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fabric_monitor_data.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fabric_port.json
  src/sonic-yang-models/yang-models/sonic-fabric-monitor.yang
  src/sonic-yang-models/yang-models/sonic-fabric-port.yang
Labels: automerge

#20142 [Mellanox]: Add Mellanox-SN4600C-D24C52 SKU
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/hwsku.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/port_config.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/sai_4600c_24x50g_52x100g.xml
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox, Request for 202405 Branch

#19599 [Micas/Platform]platform M2-W6510 uses Linux kernel drivers
  platform/broadcom/sonic-platform-modules-micas/common/modprobe_conf/kernel_drivers_blacklist.conf
  platform/broadcom/sonic-platform-modules-micas/common/modules/Makefile
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/Makefile
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_i2c_algo_bit.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_i2c_gpio.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_i2c_i801.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_i2c_ismt.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_ina3221.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_isl68137.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_lm75.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_lm75.h
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_pmbus.h
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_pmbus_core.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_tmp401.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_tps53622.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_ucd9000.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/linux/wb_xdpe12284.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/pmbus.h
  platform/broadcom/sonic-platform-modules-micas/common/modules/wb_csu550.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/wb_i2c_gpio_device.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/wb_i2c_mux_pca954x.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/wb_i2c_mux_pca954x.h
  platform/broadcom/sonic-platform-modules-micas/common/modules/wb_i2c_mux_pca9641.c
  platform/broadcom/sonic-platform-modules-micas/common/modules/wb_i2c_mux_pca9641.h
  platform/broadcom/sonic-platform-modules-micas/common/modules/wb_xdpe132g5c_pmbus.c
  platform/broadcom/sonic-platform-modules-micas/debian/changelog
  platform/broadcom/sonic-platform-modules-micas/m2-w6510-48v8c/config/x86_64_micas_m2_w6510_48v8c_r0_config.py
  platform/broadcom/sonic-platform-modules-micas/m2-w6510-48v8c/modules/driver/Makefile
Labels: Triaged, MSFT

#20317 [action] [PR:20053] Adds blkinfo for use by stormond to instantiate UsbUtil object (#20053)
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: automerge

#20316 [action] [PR:20209] [arista]: Upgrade credo sai package to v0.9.9 (#20209)
  platform/components/docker-gbsyncd-credo.mk
Labels: automerge

#20321 [action] [PR:19164] Include unresolved neighbors when comparing APPL_DB and kernel neighbors (#19164)
  files/scripts/arp_update
Labels: automerge

#20320 [action] [PR:19601] [Fixbug][fast-reboot] [ErrLog] Fix database.sh error log for dpu database (#19601)
  files/scripts/service_mgmt.sh
Labels: automerge

#20318 [action] [PR:20132] [Chassis] Update lossy profile to restrict buffer usage in congestion state (#20132)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/buffers_defaults_t2.j2
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x400g.json
Labels: automerge

#20248 Move eventd enabled check from build time to runtime
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/docker_init.sh
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-frr/docker_init.sh
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-orchagent/docker-init.j2
  files/build_templates/docker_image_ctl.j2
  files/build_templates/rsyslog_plugin.conf.j2
  files/build_templates/sonic_debian_extension.j2
Labels: Request for 202311 Branch

#20306 Add back publish events to memory_checker
  files/image_config/monit/memory_checker
Labels: Request for 202311 Branch, Cherry Pick Conflict_202405, Request for 202405 Branch

#20336 [action] [PR:20241] Update ipmitool version to ipmitool_1.8.19-4+deb12u1 (#20241)
  rules/ipmitool.mk
Labels: automerge

#20335 [action] [PR:20142] [Mellanox]: Add Mellanox-SN4600C-D24C52 SKU. (#20142)
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/hwsku.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/port_config.ini
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/sai.profile
  device/mellanox/x86_64-mlnx_msn4600c-r0/Mellanox-SN4600C-D24C52/sai_4600c_24x50g_52x100g.xml
Labels: automerge

#19701 [Mellanox] Disable SGX for SN5600/SN5400 platforms
  device/mellanox/x86_64-nvidia_sn5400-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/installer.conf
Labels: Request for 202405 Branch

#20085 [Mellanox] Update ASIC table template for shared headroom pool relevant information
  platform/mellanox/asic_table.j2
Labels: Request for 202405 Branch

#20291 [subnet decap] Flush state db tunnel && decap term entries when swss starts
  files/scripts/swss.sh
Labels: Request for 202405 Branch

#20285 [DNX SAI] bump to 11.2.9.1
  platform/broadcom/sai-modules.mk
  platform/broadcom/sai.mk
Labels: Request for 202405 Branch

#20351 [action] [PR:20248] Move eventd enabled check from build time to runtime (#20248)
  dockers/docker-dhcp-relay/Dockerfile.j2
  dockers/docker-dhcp-relay/docker_init.sh
  dockers/docker-fpm-frr/Dockerfile.j2
  dockers/docker-fpm-frr/docker_init.sh
  dockers/docker-orchagent/Dockerfile.j2
  dockers/docker-orchagent/docker-init.j2
  files/build_templates/docker_image_ctl.j2
  files/build_templates/rsyslog_plugin.conf.j2
  files/build_templates/sonic_debian_extension.j2
Labels: automerge

#19774 [nvidia-bluefield] add sonic-byo python script
  files/build_templates/sonic_debian_extension.j2
  platform/nvidia-bluefield/byo/sonic-byo.py
Labels: Platform: Mellanox

#20356 [action] [PR:20291] [subnet decap] Flush state db tunnel && decap term entries when swss restarts (#20291)
  files/scripts/swss.sh
Labels: automerge

#20360 [action] [PR:19181] [baseimage]: Upgrade docker-py to 7.1.0 (#19181)
  build_debian.sh
Labels: automerge

#19947 Make sure logrotate send rsyslog HUP signal only if it is already run…
  files/image_config/logrotate/rsyslog.j2
Labels: Request for 202405 Branch

#20362 Update cisco-8000.ini to 202405.0.5 release
  platform/checkout/cisco-8000.ini
Labels: Request for 202405 Branch

#20375 [action] [PR:20362] Update cisco-8000.ini to 202405.0.5 release (#20362)
  platform/checkout/cisco-8000.ini
Labels: automerge
