Repository sonic-net/sonic-buildimage, pull requests merged in 2024-04, with the labels that each got.

#18518 [action] [PR:17616] Do not pass the option "device" in rsyslog.conf by default when syslog server's source address is configured (#17616)
  files/image_config/rsyslog/rsyslog.conf.j2
Labels: automerge

#18526 [E1031] Ensure determine-reboot-cause start after platform fully initialized
  platform/broadcom/sonic-platform-modules-cel/haliburton/systemd/platform-modules-haliburton.service
Labels: Platform: Celestica, Request for 202305 Branch, Request for 202311 Branch

#18495 [E1031] Update sonic_platform.sfp.Sfp class to fix xcvrd crash issue
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/sfp.py
Labels: Platform: Celestica, Request for 202305 Branch, Request for 202311 Branch

#18550 [action] [PR:18526] [E1031] Ensure determine-reboot-cause start after platform fully initialized (#18526)
  platform/broadcom/sonic-platform-modules-cel/haliburton/systemd/platform-modules-haliburton.service
Labels: automerge

#18549 [action] [PR:18495] [E1031] Update sonic_platform.sfp.Sfp class to fix xcvrd crash issue (#18495)
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/sfp.py
Labels: automerge

#18092 [Nokia-IXR7250E][Devicedata] Update HW Lane for Inband and Rec ports
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/port_config.ini
Labels: Request for 202205 Branch

#18552 [action] [PR:18138] [eventd] Add incremental polling when waiting for capture service to start (#18138)
  src/sonic-eventd/src/eventd.cpp
  src/sonic-eventd/src/eventd.h
Labels: automerge

#18291 Upgrade PMON container to bookworm
  dockers/docker-platform-monitor/Dockerfile.j2
  rules/docker-platform-monitor.mk
  rules/lm-sensors.mk
  sonic-slave-bookworm/Dockerfile.j2
Labels: Bookworm

#18413 [Mellanox][SN2201] Fix wrong sfp number on SN2201 platform
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Labels: Platform: Mellanox, Request for 202311 Branch

#18581 [action] [PR:18526] [E1031] Ensure determine-reboot-cause start after platform fully initialized (#18526)
  platform/broadcom/sonic-platform-modules-cel/haliburton/systemd/platform-modules-haliburton.service
Labels: automerge

#18583 [action] [PR:17838] Remove echo log to /tmp/{$SERVICE}-debug.log in service_mgmt.sh (#17838)
  files/scripts/service_mgmt.sh
Labels: automerge

#18582 [action] [PR:18109] [service-checker] Fix the service-checker issue which is caused by PR17836 (#18109)
  src/system-health/health_checker/service_checker.py
Labels: automerge

#18411 [System Ready]Handle template value for feature table state field
  src/system-health/health_checker/sysmonitor.py
  src/system-health/tests/test_system_health.py
Labels: Request for 202311 Branch

#18529 Improve container checker for gnmi/telemetry container
  files/image_config/monit/container_checker
Labels: Request for 202311 Branch

#18598 [action] [PR:18411] [System Ready]Handle template value for feature table state field (#18411)
  src/system-health/health_checker/sysmonitor.py
  src/system-health/tests/test_system_health.py
Labels: automerge

#18592 [Mellanox] enable host interface control by orchagent
  platform/mellanox/docker-syncd-mlnx/sai-common.profile
Labels: Platform: Mellanox, Request for 202311 Branch

#18608 [action] [PR:18529] Improve container checker for gnmi/telemetry container (#18529)
  files/image_config/monit/container_checker
Labels: automerge

#17459 Fix for issue#16596
  src/system-health/health_checker/sysmonitor.py
Labels: Request for 202311 Branch

#18557 Upgrade eventd to bookworm
  dockers/docker-eventd/Dockerfile.j2
  rules/docker-eventd.mk
Labels: Bookworm

#18593 Fix Module Detection Flow in modules_mgmt thread, to check power_on before power_good
  platform/mellanox/mlnx-platform-api/sonic_platform/modules_mgmt.py
Labels: Request for 202311 Branch

#18444 [YANG]: Add Yang model support for Multi ASIC port and device_metadata
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: Chassis for 202205 branch

#18323 [Dell] Update FPGA driver - S52xx, Z9264
  platform/broadcom/sonic-platform-modules-dell/common/dell_fpga_ocores.c
Labels: Platform: DellEMC

#18662 [action] [PR:18593] Fix Module Detection Flow in modules_mgmt thread, to check power_on before power_good (#18593)
  platform/mellanox/mlnx-platform-api/sonic_platform/modules_mgmt.py
Labels: automerge

#18661 [action] [PR:18592] [Mellanox] enable host interface control by orchagent (#18592)
  platform/mellanox/docker-syncd-mlnx/sai-common.profile
Labels: automerge

#18660 [action] [PR:18413] [Mellanox][SN2201] Fix wrong sfp number on SN2201 platform (#18413)
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Labels: automerge

#18559 Export GOTRACEBACK=crash env variable for telemetry
  dockers/docker-sonic-telemetry/telemetry.sh
Labels: Request for 202205 Branch, Request for 202305 Branch, Request for 202311 Branch

#18506 PDE Migration to bookworm in sonic-buildimage
  dockers/docker-pde/Dockerfile.j2
  platform/broadcom/docker-pde.mk
Labels: Bookworm

#18671 Updated DNX chip bcmsai version 7.1.66.7
  platform/broadcom/sai.mk
Labels: Chassis :robot:

#16968 [Mellanox] CMIS management feature enablement
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/sai.profile
Labels: Platform: Mellanox, Request for 202311 Branch

#18668 [Mellanox] Fix python-sdk-api makefile to only compile python3 bindings
  platform/mellanox/sdk-src/python-sdk-api/Makefile
Labels: Platform: Mellanox, NVIDIA

#18531 [Mellanox] Add sensor files for MSN4700 simulation platform
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/get_sensors_conf_path
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/sensors.conf.a1
Labels: Platform: Mellanox, Request for 202311 Branch

#18441 [PMON] Support to fetch pmon_daemon_control.json file from both platform and HWSKU folders
  dockers/docker-platform-monitor/docker_init.j2
Labels: Request for 202311 Branch

#18440 [Mellanox] Support SKU Mellanox-SN5600-O128
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/sai_sn5600_128x400g_1x25g.xml
Labels: Request for 202311 Branch

#18659 [backend] Update backend acl template and unit tests
  files/build_templates/backend_acl.j2
  src/sonic-config-engine/tests/data/backend_acl/acl_multi_vlan.json
  src/sonic-config-engine/tests/data/backend_acl/acl_single_vlan.json
Labels: Request for 202305 Branch, Request for 202311 Branch

#18686 [action] [PR:18659] Update backend acl template and unit tests (#18659)
  files/build_templates/backend_acl.j2
  src/sonic-config-engine/tests/data/backend_acl/acl_multi_vlan.json
  src/sonic-config-engine/tests/data/backend_acl/acl_single_vlan.json
Labels: automerge

#18414 [Mellanox] Adjust log content for module host management feature
  platform/mellanox/mlnx-platform-api/sonic_platform/modules_mgmt.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Platform: Mellanox, Request for 202311 Branch

#16957 [Banner] Add new feature including config, yang and tests
  files/build_templates/init_cfg.json.j2
  files/build_templates/sonic_debian_extension.j2
  files/image_config/bannerconfig/banner-config.service
  files/image_config/bannerconfig/banner-config.sh
  files/image_config/bash/bash.bash_logout
  files/image_config/environment/logout_message
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-banner.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-banner.json
  src/sonic-yang-models/yang-models/sonic-banner.yang
Labels: Triaged, yang

#18556 Add dependency on tsa_enabled flag for BGP peer config during reload
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
Labels: Chassis for 202205 branch, Request for 202305 Branch

#18649 [nvidia-bluefield] Add dependencies required for Nvidia-bluefield image compilation.
  sonic-slave-bookworm/Dockerfile.j2
Labels: Platform: Mellanox

#18591 [Mellanox] Implementation for component version listing
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/component-versions.dep
  platform/mellanox/component-versions.mk
  platform/mellanox/component-versions/Makefile
  platform/mellanox/component-versions/create_component_versions.sh
  platform/mellanox/fw.mk
  platform/mellanox/get_component_versions/get_component_versions.py
  platform/mellanox/rules.dep
  platform/mellanox/rules.mk
Labels: Platform: Mellanox

#18595 [Mellanox] Add support for platform SN5400
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/hwsku.json
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/port_config.ini
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/sai.profile
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/sai_5400.xml
  device/mellanox/x86_64-nvidia_sn5400-r0/default_sku
  device/mellanox/x86_64-nvidia_sn5400-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5400-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5400-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn5400-r0/platform_components.json
  device/mellanox/x86_64-nvidia_sn5400-r0/platform_wait
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn5400-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5400-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn5400-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5400-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn5400-r0/thermal_policy.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/ACS-SN5400
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/default_sku
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/syseeprom.hex
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/system_health_monitoring_config.json
  platform/mellanox/asic_table.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: Request for 202311 Branch

#18609 [multi-asic] Fixed 13137 ERR python3: :- initializeGlobalConfig: SonicDBConfig Global config is already initialized
  src/sonic-config-engine/portconfig.py
  src/sonic-config-engine/sonic-cfggen
Labels: Request for 202305 Branch, Cherry Pick Conflict_202305

#18243 [master][chassis][Nokia-IXR7250E][bookworm] Enable bookworm build for Nokia-IXR7250E chassis
  platform/broadcom/rules.mk
Labels: baseimage, Bookworm

#17962 Wait till CHASIS_APP_DB PING is successful, host_name and asic_name are valid in CONIFG_DB before starting chassis-db-cleanup
  files/image_config/hostname/hostname-config.sh
  files/scripts/swss.sh
Labels: Chassis for 202205 branch, Request for 202305 Branch, Request for 202311 Branch

#18687 Restructure Arista-7260CX3-D92C16 hwsku to use common Th2 profile
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/BALANCED
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/RDMA-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/TCP-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffer_ports_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffers_extra_queues.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/sai.profile
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/th2-a7260cx3-64-96x50G+16x100G.config.bcm
  src/sonic-config-engine/tests/sample-arista-7260-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7260-t0.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7260-t0.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7260-t0.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-t0.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: Request for 202311 Branch

#18721 [action] [PR:18556] Add dependency for tsa_enabled flag before populating peer config and bringing up BGP (#18556)
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
Labels: automerge

#18718 [action] [PR:18441] Support to fetch pmon_daemon_control.json file from both platform and HWSKU folders (#18441)
  dockers/docker-platform-monitor/docker_init.j2
Labels: automerge

#18512 T2-VOQ-Chassis: VS support
  files/build_templates/docker_image_ctl.j2
  files/image_config/topology/topology.service
  files/image_config/topology/topology.sh
  platform/vs/kvm-image.mk
  platform/vs/one-image.mk
  platform/vs/platform-modules-vs.mk
  platform/vs/rules.mk
  platform/vs/sonic-platform-modules-vs/debian/changelog
  platform/vs/sonic-platform-modules-vs/debian/compat
  platform/vs/sonic-platform-modules-vs/debian/control
  platform/vs/sonic-platform-modules-vs/debian/rules
  platform/vs/sonic-platform-modules-vs/setup.py
  platform/vs/sonic-platform-modules-vs/sonic_platform/__init__.py
  platform/vs/sonic-platform-modules-vs/sonic_platform/chassis.py
  platform/vs/sonic-platform-modules-vs/sonic_platform/platform.py
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/sonic-cfggen
  src/sonic-device-data/Makefile
  src/sonic-device-data/src/fabriclanemap_vs.ini
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Chassis for 202205 branch, Request for 202305 Branch, Cherry Pick Conflict_202305

#18720 [action] [PR:18678] Use the archive repo for Buster (#18678)
  scripts/build_mirror_config.sh
Labels: automerge

#18717 [action] [PR:18687] Restructure Arista-7260CX3-D92C16 hwsku to use common Th2 profile (#18687)
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/BALANCED
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/RDMA-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/TCP-CENTRIC
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffer_ports_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffers.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffers_extra_queues.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/buffers_pool_sizes_t0.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/pg_profile_lookup.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/port_config.ini
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/qos.json.j2
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/sai.profile
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D92C16/th2-a7260cx3-64-96x50G+16x100G.config.bcm
  src/sonic-config-engine/tests/sample-arista-7260-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7260-t0.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7260-t0.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7260-t0.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7260-t0.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: automerge

#17697 Correct wistron platform driver
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/Makefile
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/i2c-imc.c
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/oldjc42.c
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/wistron_6512_32r_cpld.c
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/wistron_6512_32r_fan.c
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/wistron_6512_32r_oom.c
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/wistron_6512_32r_psu.c
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/wistron_6512_32r_syseeprom.c
  platform/innovium/sonic-platform-modules-wistron/6512-32r/modules/wistron_6512_32r_thermal.c
  platform/innovium/sonic-platform-modules-wistron/6512-32r/sonic_platform/sfp.py
  platform/innovium/sonic-platform-modules-wistron/6512-32r/sonic_platform/watchdog.py
  platform/innovium/sonic-platform-modules-wistron/sw-to3200k/modules/wistron_i2c_psu.c
  platform/innovium/sonic-platform-modules-wistron/sw-to3200k/modules/wistron_sw_to3200k_cpld.c
  platform/innovium/sonic-platform-modules-wistron/sw-to3200k/modules/wistron_sw_to3200k_fan.c
  platform/innovium/sonic-platform-modules-wistron/sw-to3200k/modules/wistron_sw_to3200k_oom.c
  platform/innovium/sonic-platform-modules-wistron/sw-to3200k/modules/wistron_sw_to3200k_psu.c
  platform/innovium/sonic-platform-modules-wistron/sw-to3200k/modules/wistron_sw_to3200k_thermal.c
  platform/innovium/sonic-platform-modules-wistron/sw-to3200k/sonic_platform/sfp.py
Labels: Bookworm

#18150 bookworm container upgrade for lldp, net-snmp
  dockers/docker-lldp/Dockerfile.j2
  dockers/docker-snmp/Dockerfile.j2
  dockers/docker-snmp/supervisord.conf
  rules/docker-lldp.mk
  rules/docker-snmp.mk
  rules/snmpd.mk
  src/snmpd/patch-5.9.3+dfsg/0001-SNMP-Stop-spamming-logs-with-statfs-permission-denie.patch
  src/snmpd/patch-5.9.3+dfsg/0008-Enable-macro-DEB_BUILD_ARCH_OS-in-order-to-build-ipv.patch
  src/snmpd/patch-5.9.3+dfsg/0012-agent-Makefile.in-Unbreak-the-enable-minimalist-buil.patch
  src/snmpd/patch-5.9.3+dfsg/0013-enable-parallel-build-for-net-snmp.patch
  src/snmpd/patch-5.9.3+dfsg/cross-compile-changes.patch
  src/snmpd/patch-5.9.3+dfsg/series
Labels: Bookworm

#18325 [202311][graceful reboot] Rename the platform_reboot to the pre_reboot_hook, remove the sysfs power cycle
  device/mellanox/x86_64-mlnx_lssn2700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_lssn2700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2010-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2010-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2100-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2100-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2410-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2410-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2700a1-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2700a1-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2740-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2740-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3420-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3420-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3700c-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3700c-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3800-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3800-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4410-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4410-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4600-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4600-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4600c-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4600c-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4700-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn2201-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn2201-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn4800-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn4800-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn5600-r0/pre_reboot_hook
Labels: Platform: Mellanox

#18748 [action] [PR:18678] Use the archive repo for Buster (#18678)
  scripts/build_mirror_config.sh
Labels: automerge

#18756 [action] [PR:17962] Wait till CHASIS_APP_DB PING is successful, host_name and asic_name are valid in CONIFG_DB before starting chassis-db-cleanup (#17962)
  files/image_config/hostname/hostname-config.sh
  files/scripts/swss.sh
Labels: automerge

#18751 [action] [PR:18198] Fix arista_7800r3a_36d2_lc fabric link down issue (#18198)
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: automerge

#18714 [buildsystem]: Fix config layout
  slave.mk
Labels: Build, Master Branch Quality

#18575 [Mellanox] add x86_64-nvidia_sn4280_simx-r0 platform
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/sai.profile
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/ACS-SN4280/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/default_sku
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/platform.json
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/thermal_policy.json
  platform/mellanox/asic_table.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
Labels: Platform: Mellanox

#18530 Add yang models for bmp service.
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/bmp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/bmp.json
  src/sonic-yang-models/yang-models/sonic-bmp.yang
Labels: YANG

#18732 [202311][FRR]Fix EVPN route type not matching route map
  src/sonic-frr/patch/0038-lib-Do-not-convert-EVPN-prefixes-into-IPv4-IPv6-if-n.patch
  src/sonic-frr/patch/series
Labels: Request for 202305 Branch

#18362 [Arista] Add support for Quicksilver platform
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/hwsku.json
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/port_config.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/sai.profile
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/th5-a7060x6-64de.config.bcm
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/hwsku.json
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/port_config.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/sai.profile
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/th5-a7060x6-64de.config.bcm
  device/arista/x86_64-arista_7060x6_64de/default_sku
  device/arista/x86_64-arista_7060x6_64de/pcie.yaml
  device/arista/x86_64-arista_7060x6_64de/platform.json
  device/arista/x86_64-arista_7060x6_64de/platform_asic
  device/arista/x86_64-arista_7060x6_64de/platform_components.json
  device/arista/x86_64-arista_7060x6_64de/platform_env.conf
  device/arista/x86_64-arista_7060x6_64de/platform_reboot
  device/arista/x86_64-arista_7060x6_64de/plugins
  device/arista/x86_64-arista_7060x6_64de/pmon_daemon_control.json
  device/arista/x86_64-arista_7060x6_64de/sensors.conf
  device/arista/x86_64-arista_7060x6_64de/system_health_monitoring_config.json
  device/arista/x86_64-arista_7060x6_64de/thermal_policy.json
  files/Aboot/boot0.j2
Labels: Request for 202311 Branch

#18754 [action] [PR:18092] [Nokia-IXR7250E][Devicedata] Update HW Lane for Inband and Rec ports (#18092)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/port_config.ini
Labels: automerge

#18750 [action] [PR:18559] Export GOTRACEBACK=crash env variable (#18559)
  dockers/docker-sonic-telemetry/telemetry.sh
Labels: automerge

#18749 [action] [PR:18556] Add dependency for tsa_enabled flag before populating peer config and bringing up BGP (#18556)
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
Labels: automerge

#18693 Fix YANG model for ACL
  src/sonic-yang-mgmt/tests/test_cfghelp.py
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: Request for 202305 Branch, Request for 202311 Branch

#18784 [action] [PR:18693] Fix YANG model for ACL (#18693)
  src/sonic-yang-mgmt/tests/test_cfghelp.py
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: automerge

#18651 [Mellanox] Upgrade syncd, syncd-rpc and saiserver to bookworm
  platform/mellanox/docker-saiserver-mlnx.mk
  platform/mellanox/docker-saiserver-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx-rpc.mk
  platform/mellanox/docker-syncd-mlnx-rpc/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx.mk
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/iproute2.mk
  platform/mellanox/iproute2/patch/0001-Remove-arpd-from-iproute2-package.patch
  platform/mellanox/iproute2/patch/0002-Rename-iproute2-debian-package.patch
  platform/mellanox/iproute2/patch/0003-Fix-version-identifier.patch
  platform/mellanox/iproute2/patch/series
  platform/mellanox/libsaithrift-dev.mk
  platform/mellanox/rules.mk
  sonic-slave-bookworm/Dockerfile.j2
Labels: Platform: Mellanox, Bookworm

#18809 [action] [PR:18235] Support dot in the additional information of the PFC watchdog event in the yang model (#18235)
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
Labels: automerge

#18704 Rename the leaf nodes to lower case.
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/port_config.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/port_config.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/port_config.ini
  dockers/docker-macsec/cli-plugin-tests/config_db.json
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: YANG, Chassis for 202205 branch

#18542 ICCPD bookworm migration
  dockers/docker-iccpd/Dockerfile.j2
  rules/docker-iccpd.mk
Labels: Bookworm

#17755 [platform/supermicro] Fix compiling error in the kernel module of T7132.
  platform/innovium/sonic-platform-modules-supermicro/sse-t7132s/modules/t7132s.c
Labels: Bookworm

#18769 [Nvidia] [DPU] Update SAI to SAIBuild0.0.30.0, SDK to v24.4-RC2
  platform/nvidia-bluefield/pinctrl-mlxbf3/pinctrl-mlxbf3.c.patch
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
  platform/nvidia-bluefield/sdk-src/doca/0001-Remove-meson-from-connectx-dependencies.patch
  platform/nvidia-bluefield/sdk-src/doca/Makefile
  platform/nvidia-bluefield/sdk-src/dpdk/0001-Remove-meson-from-dependencies.patch
  platform/nvidia-bluefield/sdk-src/flexio/0001-Allow-warning-during-package-compilation.patch
  platform/nvidia-bluefield/sdk-src/flexio/0001-Install-LD-configuration.patch
  platform/nvidia-bluefield/sdk-src/flexio/0001-Remove-meson-from-dependencies.patch
  platform/nvidia-bluefield/sdk-src/ofed/templates/control.j2
  platform/nvidia-bluefield/sdk-src/ofed/templates/postinst.j2
  platform/nvidia-bluefield/sdk-src/ofed/templates/postrm.j2
  platform/nvidia-bluefield/sdk-src/rdma/disable-ibverb-dependencies.patch
Labels: Platform: Mellanox

#18802 Add python3-protobuf package to SwSS Container
  dockers/docker-orchagent/Dockerfile.j2
Labels: Bookworm
