Repository sonic-net/sonic-buildimage, pull requests merged in 2024-08, with the labels that each got.

#19754 [action] [PR:19190] [Mellanox] Remove pmon delay for certain platforms (#19190)
  device/mellanox/x86_64-mlnx_msn4410-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4410-r0/pmon_immediate_start
  device/mellanox/x86_64-mlnx_msn4600-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4600-r0/pmon_immediate_start
  device/mellanox/x86_64-mlnx_msn4600c-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4600c-r0/pmon_immediate_start
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/pmon_immediate_start
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn4800-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4800-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn4800_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4800_simx-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn5400-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5400-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn5600-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/pmon_immediate_start
  files/scripts/syncd.sh
Labels: automerge

#19751 [action] [PR:19509] [Mellanox] CMIS host management script (#19509)
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/cmis_host_mgmt/cmis_host_mgmt.py
Labels: automerge

#19755 [VOQ] Fix the parsing of core_port_id and core_id for Inband and Recirc Port.
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_chassis_cfggen.py
Labels: Request for 202405 Branch

#19768 [action] [PR:18978] [Mellanox] Avoid attaching lossless buffer profiles for internal ports (#18978)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/port_config.ini
  files/build_templates/buffers_config.j2
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/common_utils.py
  src/sonic-config-engine/tests/sample-mellanox-4700-t1-minigraph-smartswitch.xml
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4700-o28-t1-smartswitch.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4700-o28-t1-smartswitch_dyn.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: automerge

#19773 [action] [PR:18293] [Mellanox] Support DSCP remapping in Dual-ToR topo for SN4700-O8V48, update buffers for t0 (#18293)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/qos.json.j2
Labels: automerge

#19797 [action] [PR:18795] [Mellanox] Remove external-changes patch if no downstream changes are found (#18795)
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Labels: automerge

#19788 [action] [PR:19563] [Mellanox] fix sfp eeprom unreadable after switching from SW to FW control mode (#19563)
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#19783 [action] [PR:19699] [logrotate]: Separated sort and head commands to prevent broken pipe issues (#19699)
  files/image_config/logrotate/rsyslog.j2
Labels: automerge

#19683 [action] [PR:19673] [dhcp_server] Remove invoke of dhcpmon when dhcp_server is enabled (#19673)
  src/sonic-dhcp-utilities/dhcp_utilities/dhcprelayd/dhcprelayd.py
Labels: automerge

#19796 [action] [PR:18531] [Mellanox] Add sensor files for MSN4700 simulation platform (#18531)
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/get_sensors_conf_path
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/sensors.conf.a1
Labels: automerge

#19794 [action] [PR:19164] Include unresolved neighbors when comparing APPL_DB and kernel neighbors (#19164)
  files/scripts/arp_update
Labels: automerge

#19790 [action] [PR:19383] Modify regex for watchdog-timeout (#19383)
  files/build_templates/systemd_regex.json
Labels: automerge

#19785 [action] [PR:19480] [healthd] Added change to handle Feature Table exception (#19480)
  src/system-health/health_checker/sysmonitor.py
Labels: automerge

#19653 Updated MMU settings for ingress lossy profile Nokia and Arista chassis
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/buffers_defaults_t2.j2
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x400g.json
Labels: Chassis :robot:, Chassis for 202205 branch, Cherry Pick Conflict_202405, Request for 202405 Branch

#19798 [action] [PR:19152] Create counters only for configured buffer objects on 5400 (#19152)
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/create_only_config_db_buffers.json
Labels: automerge

#19795 [action] [PR:18500] Updated MMU settings for Arista 400g and 100g HWSKUs (#18500)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/pg_profile_lookup.ini
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-d36-lc.json
Labels: automerge

#19791 [action] [PR:19312] [Mellanox] Add support for SN4280 platform (#19312)
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280-r0/default_sku
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn4280-r0/platform.json
  device/mellanox/x86_64-nvidia_sn4280-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn4280-r0/platform_components.json
  device/mellanox/x86_64-nvidia_sn4280-r0/platform_wait
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn4280-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4280-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn4280-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/services.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn4280-r0/thermal_policy.json
  platform/mellanox/asic_table.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/tests/test_component.py
Labels: automerge

#19789 [action] [PR:19161] [Arista]: Add QoS configurations for Quicksilver (#19161)
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/BALANCED
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-64x400G/qos.json.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/BALANCED
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/BALANCED
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/BALANCED
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/BALANCED
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/qos.json.j2
  device/common/profiles/th5/gen/BALANCED/buffers_defaults_t0.j2
  device/common/profiles/th5/gen/BALANCED/buffers_defaults_t1.j2
  device/common/profiles/th5/gen/BALANCED/pg_profile_lookup.ini
Labels: automerge

#19786 [action] [PR:19700] [sflow]: Enable linux capabilities on sflow container for kernel 6.1.94 compatibility (#19700)
  rules/docker-sflow.mk
Labels: automerge

#19782 [action] [PR:19755] [VOQ] Fix the parsing of core_port_id and core_id for Inband and Recirc Port. (#19755)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_chassis_cfggen.py
Labels: automerge

#19545 [action] [PR:19514] Fix no standalone lo_v6 entry which break YANG validation (#19514)
  src/sonic-config-engine/minigraph.py
Labels: automerge

#19792 [action] [PR:19486] [Chassis][Voq][Yang] Make asic_name case sensitive in yang models (#19486)
  src/sonic-yang-models/tests/yang_model_tests/tests_config/system_port.json
  src/sonic-yang-models/yang-models/sonic-buffer-queue.yang
  src/sonic-yang-models/yang-models/sonic-queue.yang
  src/sonic-yang-models/yang-models/sonic-system-port.yang
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: automerge

#19793 Update TH5 flex counter configs
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/th5-a7060x6-64pe.config.bcm
Labels: Request for 202311 Branch, Request for 202405 Branch

#19809 [action] [PR:19793] [Arista]: Update TH5 flex counter configs (#19793)
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/th5-a7060x6-64pe.config.bcm
Labels: automerge

#19808 [action] [PR:19793] [Arista]: Update TH5 flex counter configs (#19793)
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-128x400G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/th5-a7060x6-64pe.config.bcm
Labels: automerge

#19107 [Fixbug][systemctl]: Disable networkd in non-smartswitch platform
  files/build_templates/sonic_debian_extension.j2
  src/systemd-sonic-generator/ssg-test.cc
  src/systemd-sonic-generator/systemd-sonic-generator.cpp
Labels: Request for 202405 Branch

#19601 [Fixbug][fast-reboot] [ErrLog] Fix database.sh error log for dpu database
  files/scripts/service_mgmt.sh
Labels: Request for 202405 Branch

#19681 [Mellanox]Adding SKU Mellanox-SN4700-O32 and Mellanox-SN4700-V64
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/optics_si_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/sai_4700_32x400g.xml
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/optics_si_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/sai_4700_64x200g.xml
Labels: Request for 202311 Branch, Request for 202405 Branch

#19823 [action] [PR:19681] [Mellanox]Adding SKU Mellanox-SN4700-O32 and Mellanox-SN4700-V64 (#19681)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/optics_si_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/sai_4700_32x400g.xml
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/buffers_dynamic.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/optics_si_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/port_config.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/qos.json.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/sai_4700_64x200g.xml
Labels: automerge

#19717 [FRR] Zebra BGP enhancements to better handle memory during route churns
  src/sonic-frr/patch/0030-zebra-backpressure-Zebra-push-back-on-Buffer-Stream-.patch
  src/sonic-frr/patch/0031-bgpd-backpressure-Add-a-typesafe-list-for-Zebra-Anno.patch
  src/sonic-frr/patch/0032-bgpd-fix-flushing-ipv6-flowspec-entries-when-peering.patch
  src/sonic-frr/patch/0033-bgpd-backpressure-cleanup-bgp_zebra_XX-func-args.patch
  src/sonic-frr/patch/0034-gpd-backpressure-Handle-BGP-Zebra-Install-evt-Creat.patch
  src/sonic-frr/patch/0035-bgpd-backpressure-Handle-BGP-Zebra-EPVN-Install-evt-.patch
  src/sonic-frr/patch/0036-zebra-backpressure-Fix-Null-ptr-access-Coverity-Issu.patch
  src/sonic-frr/patch/0037-bgpd-Increase-install-uninstall-speed-of-evpn-vpn-vn.patch
  src/sonic-frr/patch/0038-zebra-Actually-display-I-O-buffer-sizes.patch
  src/sonic-frr/patch/0039-zebra-Actually-display-I-O-buffer-sizes-part-2.patch
  src/sonic-frr/patch/0040-bgpd-backpressure-Fix-to-withdraw-evpn-type-5-routes.patch
  src/sonic-frr/patch/0041-bgpd-backpressure-Fix-to-avoid-CPU-hog.patch
  src/sonic-frr/patch/0042-zebra-Use-built-in-data-structure-counter.patch
  src/sonic-frr/patch/0043-zebra-Use-the-ctx-queue-counters.patch
  src/sonic-frr/patch/0044-zebra-Modify-dplane-loop-to-allow-backpressure-to-fi.patch
  src/sonic-frr/patch/0045-zebra-Limit-queue-depth-in-dplane_fpm_nl.patch
  src/sonic-frr/patch/0046-zebra-Modify-show-zebra-dplane-providers-to-give-mor.patch
  src/sonic-frr/patch/0047-bgpd-backpressure-fix-evpn-route-sync-to-zebra.patch
  src/sonic-frr/patch/0048-bgpd-backpressure-fix-to-properly-remove-dest-for-bg.patch
  src/sonic-frr/patch/0049-bgpd-backpressure-Improve-debuggability.patch
  src/sonic-frr/patch/0050-bgpd-backpressure-Avoid-use-after-free.patch
  src/sonic-frr/patch/0051-bgpd-backpressure-fix-ret-value-evpn_route_select_in.patch
  src/sonic-frr/patch/0052-bgpd-backpressure-log-error-for-evpn-when-route-inst.patch
  src/sonic-frr/patch/series
Labels: FRR :traffic_light:

#19830 Update XGS SAI version to 10.1.37.0
  platform/broadcom/sai.mk
Labels: Request for 202311 Branch, Cherry Pick Conflict_202311, Cherry Pick Conflict_202405, Request for 202405 Branch

#19840 [action] [PR:19637] [Arista]: Set soc property programmability_ucode_relative_path (#19637)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: automerge

#19362 Added blkinfo module to host for use by ssdutil
  files/build_templates/sonic_debian_extension.j2
  sonic-slave-bookworm/Dockerfile.j2
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Labels: Request for 202012 Branch, Cherry Pick Conflict_202205, Request for 202205 Branch, Request for 202305 Branch, Cherry Pick Conflict_202305, Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch

#19847 [dhcp_server] Fix dhcp_server mk file mistake
  rules/docker-dhcp-server.mk
Labels: Request for 202405 Branch

#19446 [202311][zebra] remove dplane_fpm_nl config from zebra.conf
  dockers/docker-fpm-frr/docker_init.sh
  dockers/docker-fpm-frr/frr/zebra/zebra.conf.j2
  platform/vs/docker-sonic-vs/frr/zebra.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/zebra/zebra.conf
  src/sonic-config-engine/tests/sample_output/py2/t2-chassis-fe-vni-zebra.conf
  src/sonic-config-engine/tests/sample_output/py2/t2-chassis-fe-zebra.conf
  src/sonic-config-engine/tests/sample_output/py2/zebra_frr.conf
  src/sonic-config-engine/tests/sample_output/py2/zebra_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py3/t2-chassis-fe-vni-zebra.conf
  src/sonic-config-engine/tests/sample_output/py3/t2-chassis-fe-zebra.conf
  src/sonic-config-engine/tests/sample_output/py3/zebra_frr.conf
  src/sonic-config-engine/tests/sample_output/py3/zebra_frr_dualtor.conf
Labels: Request for 202305 Branch

#19593 Update OpenSSH to 9.2p1-2+deb12u3
  files/build_templates/sonic_debian_extension.j2
  rules/openssh.mk
  rules/sonic-fips.mk
  src/openssh/Makefile
Labels: Request for 202405 Branch

#19827 Pin version of sflowtool used for the mixed PTF container
  dockers/docker-ptf/Dockerfile.j2
Labels: Request for 202305 Branch, Cherry Pick Conflict_202305, Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch

#19510 Pin pip to version 24.2, and update disable-non-manylinux.patch
  sonic-slave-bookworm/Dockerfile.j2
  sonic-slave-bookworm/disable-non-manylinux.patch
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-bullseye/disable-non-manylinux.patch
Labels: Request for 202305 Branch, Cherry Pick Conflict_202305, Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch

#19821 [action] [PR:19107] [Fixbug][systemctl]: Disable networkd in non-smartswitch platform (#19107)
  files/build_templates/sonic_debian_extension.j2
  src/systemd-sonic-generator/ssg-test.cc
  src/systemd-sonic-generator/systemd-sonic-generator.cpp
Labels: automerge

#19882 [Adhoc fix]: Bypass saimetadatatest for dash sai
  src/dash-sai/Makefile
Labels: Build, Request for 202405 Branch

#19232 Support notice level log
  src/sonic-py-common/sonic_py_common/syslogger.py
  src/sonic-py-common/tests/test_syslogger.py
Labels: Request for 202405 Branch

#19671 Install tool xxd to platform monitor container
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: Request for 202405 Branch

#19583 [Static DNS] Optimize DNS configuration update during interface-config service restart
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/update-containers
Labels: Request for 202311 Branch, Request for 202405 Branch

#19697 [202305][Mellanox]Updating SDK/FW to 4.6.2316/2012.2316
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox

#19590 Prioritize configuration from config_db over constants.yml during BBR status initialization
  src/sonic-bgpcfgd/bgpcfgd/managers_bbr.py
  src/sonic-bgpcfgd/tests/test_bbr.py
Labels: Request for 202305 Branch, Request for 202311 Branch, Request for 202405 Branch

#19917 [action] [PR:19593] Update OpenSSH to 9.2p1-2+deb12u3 (#19593)
  files/build_templates/sonic_debian_extension.j2
  rules/openssh.mk
  rules/sonic-fips.mk
  src/openssh/Makefile
Labels: automerge

#19908 [Dell] S6100 - Do not modify reboot-cause.txt
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/track_reboot_reason.sh
Labels: Bug :bug:, Platform: DellEMC, Request for 202311 Branch, Request for 202405 Branch

#19949 [action] [PR:19908] [Dell] S6100 - Do not modify reboot-cause.txt (#19908)
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/track_reboot_reason.sh
Labels: automerge

#19950 [action] [PR:19908] [Dell] S6100 - Do not modify reboot-cause.txt (#19908)
  platform/broadcom/sonic-platform-modules-dell/s6100/scripts/track_reboot_reason.sh
Labels: automerge

#19958 [SAI 11] [Arista] Update phy-credo.mk
  rules/phy-credo.mk
Labels: Request for 202405 Branch

#19969 [action] [PR:19882] Hotfix: bypass saimetadatatest for dash sai (#19882)
  src/dash-sai/Makefile
Labels: automerge

#19967 [Mellanox] Fixed sai xml name format bug
  platform/mellanox/cmis_host_mgmt/cmis_host_mgmt.py
Labels: Request for 202405 Branch

#19543 Fixed switch role check for IDF isolation configuration
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
  src/sonic-bgpcfgd/bgpcfgd/managers_device_global.py
Labels: Cherry Pick Conflict_202405, Request for 202405 Branch

#19975 [action] [PR:19958] [SAI 11] [Arista] Update phy-credo.mk (#19958)
  rules/phy-credo.mk
Labels: automerge

#19981 [action] [PR:17460] [TACACS] Improve nss-tacplus TACACS connect timeout (#17460)
  src/tacacs/nss/patch/0001-Modify-user-map-profile.patch
Labels: automerge

#19918 [action] [PR:19510] Pin pip to version 24.2, and update disable-non-manylinux.patch (#19510)
  sonic-slave-bookworm/Dockerfile.j2
  sonic-slave-bookworm/disable-non-manylinux.patch
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-bullseye/disable-non-manylinux.patch
Labels: automerge

#19986 [action] [PR:19563] [Mellanox] fix sfp eeprom unreadable after switching from SW to FW control mode (#19563)
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#19985 [action] [PR:19583] [Static DNS] Optimize DNS configuration update during interface-config service restart (#19583)
  files/image_config/interfaces/interfaces-config.sh
  files/image_config/resolv-config/update-containers
Labels: automerge

#20006 [action] [PR:19467] [Mellanox] Update SDK/FW to 4.6.4072/2012.4072 (#19467)
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: automerge

#19984 [action] [PR:19671] Install tool xxd to platform monitor container (#19671)
  dockers/docker-platform-monitor/Dockerfile.j2
Labels: automerge

#19983 [action] [PR:19967] [Mellanox] Fixed sai xml name format bug (#19967)
  platform/mellanox/cmis_host_mgmt/cmis_host_mgmt.py
Labels: automerge

#19787 [action] [PR:19480] [healthd] Added change to handle Feature Table exception (#19480)
  src/system-health/health_checker/sysmonitor.py
Labels: automerge

#19784 [action] [PR:19699] [logrotate]: Separated sort and head commands to prevent broken pipe issues (#19699)
  files/image_config/logrotate/rsyslog.j2
Labels: automerge

#20008 [action] [PR:19383] Modify regex for watchdog-timeout (#19383)
  files/build_templates/systemd_regex.json
Labels: automerge

#20003 [action] [PR:19827] Pin version of sflowtool used for the mixed PTF container (#19827)
  dockers/docker-ptf/Dockerfile.j2
Labels: automerge

#19799 [action] [PR:18239] Updated MMU settings for Nokia 400g and 100g HWSKUs (#18239)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/pg_profile_lookup.ini
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x400g.json
Labels: automerge

#20004 [action] [PR:19847] [dhcp_server] Fix dhcp_server mk file mistake (#19847)
  rules/docker-dhcp-server.mk
Labels: automerge

#19515 [Mellanox] Fix SN2700-A1 sensors.conf and update psu_sensors.json accordingly
  device/mellanox/x86_64-mlnx_msn2700-r0/psu_sensors.json
  device/mellanox/x86_64-mlnx_msn2700-r0/psu_sensors_conf_updater
  device/mellanox/x86_64-mlnx_msn2700a1-r0/sensors.conf
Labels: Request for 202311 Branch, Approved for 202311 Branch, Approved for 202405 Branch, Request for 202405 Branch

#20023 [action] [PR:19362] Added blkinfo module to host for use by ssdutil (#19362)
  files/build_templates/sonic_debian_extension.j2
  sonic-slave-bookworm/Dockerfile.j2
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Labels: automerge

#19989 [action] [PR:17460] [TACACS] Improve nss-tacplus TACACS connect timeout (#17460)
  src/tacacs/nss/patch/0001-Modify-user-map-profile.patch
Labels: automerge

#20018 [202311] Pin version of sflowtool used for the mixed PTF container
  dockers/docker-ptf/Dockerfile.j2
Labels: Request for 202305 Branch

#20034 [action] [PR:19515] Fix 2700a1 sensors.conf and update psu_sensors.json accordingly (#19515)
  device/mellanox/x86_64-mlnx_msn2700-r0/psu_sensors.json
  device/mellanox/x86_64-mlnx_msn2700-r0/psu_sensors_conf_updater
  device/mellanox/x86_64-mlnx_msn2700a1-r0/sensors.conf
Labels: automerge

#20025 [action] [PR:19590] Prioritize configuration from config_db over constants.yml during BBR status initialization (#19590)
  src/sonic-bgpcfgd/bgpcfgd/managers_bbr.py
  src/sonic-bgpcfgd/tests/test_bbr.py
Labels: automerge

#20038 [action] [PR:17430] Change leaf value of used_cnt of sonic-events-swss:chk_crm_threshold (#17430)
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
Labels: automerge

#19775 [Mellanox] update rshim logic
  device/mellanox/x86_64-nvidia_sn4280-r0/services.conf
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/rshim.mk
  platform/mellanox/rshim/.gitignore
  platform/mellanox/rshim/Makefile
  platform/mellanox/rshim/files/rshim-manager.service
  platform/mellanox/rshim/files/rshim.sh
  platform/mellanox/rshim/files/rshim@.service
  platform/mellanox/rshim/rename_tmfifo_to_dpu.patch
Labels: Platform: Mellanox, Request for 202405 Branch

#20000 [Mellanox] update buffers and align QoS to add support for DSCP remapping (for Dual-Tor on t1) for Mellanox-SN4700-O32
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/qos.json.j2
Labels: Request for 202311 Branch, Request for 202405 Branch

#19733 [Nokia][snmpwalk] Fix the snmpwalk cefcFruPowerStatusTable on Nokia LC platform
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/pmon_daemon_control.json
Labels: Chassis for 202205 branch, Request for 202405 Branch

#20061 [action] [PR:18845] [devices]: Add buffers_defaults_t1 to D108C8 (#18845)
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-D108C8/buffers_defaults_t1.j2
Labels: automerge

#20058 [action] [PR:20000] [Mellanox] update buffers and align QoS to add support for Dual-Tor on t1 (#20000)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/qos.json.j2
Labels: automerge

#19752 Added the missed route-map calls for idf isolation
  dockers/docker-fpm-frr/frr/bgpd/templates/general/policies.conf.j2
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_base.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_deny.conf
Labels: Chassis :robot:, Request for 202405 Branch

#19915 [Broadcom] Upgrade xgs SAI version to 10.1.38.0
  platform/broadcom/sai.mk
Labels: Request for 202311 Branch, Cherry Pick Conflict_202311, Cherry Pick Conflict_202405, Request for 202405 Branch

#19739 [Nokia Device] Add Programmability path and dpp_path for Nokia DNX platforms
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/0/config-ramon-1-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/1/config-ramon-1-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/10/config-ramon-6-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/11/config-ramon-6-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/12/config-ramon-7-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/13/config-ramon-7-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/14/config-ramon-8-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/15/config-ramon-8-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/2/config-ramon-2-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/3/config-ramon-2-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/4/config-ramon-3-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/5/config-ramon-3-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/6/config-ramon-4-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/7/config-ramon-4-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/8/config-ramon-5-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/9/config-ramon-5-1.bcm
Labels: Chassis :robot:, chassis-voq

#20035 [action] [PR:19515] Fix 2700a1 sensors.conf and update psu_sensors.json accordingly (#19515)
  device/mellanox/x86_64-mlnx_msn2700-r0/psu_sensors.json
  device/mellanox/x86_64-mlnx_msn2700-r0/psu_sensors_conf_updater
  device/mellanox/x86_64-mlnx_msn2700a1-r0/sensors.conf
Labels: automerge

#20024 Fix flaky capture service start
  src/sonic-eventd/src/eventd.cpp
  src/sonic-eventd/tests/eventd_ut.cpp
Labels: Request for 202311 Branch, Request for 202405 Branch

#19899 Update cisco-8000.ini to 202405.0.3 release
  platform/checkout/cisco-8000.ini
Labels: Approved for 202405 Branch, Request for 202405 Branch

#19871 [Bug Fix] Route map for BGP profile FROM_SDN_APPLIANCE_ROUTES
  src/sonic-bgpcfgd/bgpcfgd/managers_rm.py
  src/sonic-bgpcfgd/tests/test_rm.py
Labels: Request for 202311 Branch, Request for 202405 Branch

#20082 [action] [PR:19899] Update cisco-8000.ini to 202405.0.3 release (#19899)
  platform/checkout/cisco-8000.ini
Labels: automerge

#20079 [master] DNX SAI update to 11.2.7.1
  platform/broadcom/sai-modules.mk
  platform/broadcom/sai.mk
Labels: Cherry Pick Conflict_202405, Request for 202405 Branch

#20036 [Mellanox] Enable CMIS host management on Mellanox-SN4280-O28 SKU
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/media_settings.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/pmon_immediate_start
Labels: Request for 202405 Branch
