Repository sonic-net/sonic-buildimage, pull requests merged in 2024-05, with the labels that each got.

#18819 [action] [PR:18440] [Mellanox] Support SKU Mellanox-SN5600-O128 (#18440)
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/ACS-SN5600/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/sai_sn5600_128x400g_1x25g.xml
Labels: automerge

#18853 [nvidia-bluefield] Query base MAC address from the syseeprom or machine.conf
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Platform: Mellanox

#18821 [sflow]Changing the verbosity of ERR log when interface is unavailable
  src/sflow/hsflowd/patch/0004-When-interface-removed-just-as-we-discover-it-log-wi.patch
  src/sflow/hsflowd/patch/series
Labels: Request for 202311 Branch

#17702 Platform driver change for Bookworm
  platform/innovium/sonic-platform-modules-cel/midstone-200i/modules/mc24lc64t.c
Labels: Bookworm

#18880 [FIPS][202305] Upgrade the SymCrypt lib to 103.4.2
  rules/sonic-fips.mk
Labels: Security :shield:

#18884 [action] [PR:18739] [dhcp_server] Append subnet_id to server config and read the id from lease file for STATE_DB updating (#18739)
  dockers/docker-dhcp-server/kea-dhcp4.conf.j2
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcp_cfggen.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcp_lease.py
  src/sonic-dhcp-utilities/tests/test_data/kea-lease.csv
  src/sonic-dhcp-utilities/tests/test_dhcp_cfggen.py
  src/sonic-dhcp-utilities/tests/test_dhcp_lease.py
Labels: automerge

#18861 [Mellanox] update platform name for simx platforms
  device/mellanox/x86_64-mlnx_msn4700_simx-r0/platform.json
  device/mellanox/x86_64-nvidia_sn4280_simx-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5600_simx-r0/platform.json
Labels: Platform: Mellanox

#18795 [Mellanox] Remove external-changes patch if no downstream changes are found
  platform/mellanox/integration-scripts.mk
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202311 Branch

#18791 [Mellanox][SN4410] Add missing interfaces to hwsku
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/hwsku.json
Labels: Bug :bug:, Platform: Mellanox, Request for 202311 Branch

#18730 [systemd-generator] add support for platform config file
  src/systemd-sonic-generator/ssg-test.cc
  src/systemd-sonic-generator/systemd-sonic-generator.cpp
  src/systemd-sonic-generator/systemd-sonic-generator.h
Labels: Enhancement :heavy_plus_sign:

#18684 [Mellanox] add rshim package to mellanox image
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/one-image.mk
  platform/mellanox/rshim.dep
  platform/mellanox/rshim.mk
  platform/mellanox/rshim/.gitignore
  platform/mellanox/rshim/Makefile
  platform/mellanox/rules.dep
  platform/mellanox/rules.mk
  sonic-slave-bookworm/Dockerfile.j2
Labels: Platform: Mellanox

#18863 [Mellanpx] Fix reboot script usage in mlnx-onie-fw-update
  platform/mellanox/mlnx-onie-fw-update.sh
Labels: Bug :bug:, Platform: Mellanox

#18881 [Mellanox] Support read/write more than 1 page in a single platform API call
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Platform: Mellanox, Request for 202311 Branch

#17879 [yang] Support ASIC/SDK health event
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests/suppress_asic_sdk_health_event.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/suppress_asic_sdk_health_event.json
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
  src/sonic-yang-models/yang-models/sonic-suppress-asic-sdk-health-event.yang
Labels: YANG

#18896 [action] [PR:18894] [Arista]: Add new 256x200G profile for QuicksilverDd (#18894)
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-256x200G/hwsku.json
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-256x200G/port_config.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-256x200G/sai.profile
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-256x200G/th5-a7060x6-64de.config.bcm
  device/arista/x86_64-arista_7060x6_64de/platform.json
Labels: automerge

#18690 [YANG] Add valid v6 address to sonic-dhcp-sever.yang
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dhcp_server.json
  src/sonic-yang-models/yang-models/sonic-dhcp-server.yang
Labels: Request for 202305 Branch, Request for 202311 Branch

#18910 [gearbox] use credo sai v0.9.6
  platform/components/docker-gbsyncd-credo.mk
Labels: Request for 202305 Branch, Request for 202311 Branch

#18917 [Arista] add dpp_db_path for Arista-7280CR3-C40
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C40/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C40/jr2-a7280cr3-32p4-40x100G.config.bcm
Labels: Request for 202305 Branch, Request for 202311 Branch

#18792 Bump up rif_id_max to match other 7280cr3 SKUs
  device/arista/x86_64-arista_7280cr3_32d4/Arista-7280CR3-C32D4/jr2-a7280cr3-32d4-32x100G+4x400G.config.bcm
  device/arista/x86_64-arista_7280cr3_32p4/Arista-7280CR3-C32P4/jr2-a7280cr3-32p4-32x100G+4x400G.config.bcm
Labels: Request for 202305 Branch, Request for 202311 Branch

#18930 [Mellanox] run module initialization when any SFP related API is called
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/module_host_mgmt_initializer.py
  platform/mellanox/mlnx-platform-api/sonic_platform/modules_mgmt.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
  platform/mellanox/mlnx-platform-api/sonic_platform/state_machine.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_manager.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_updater.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/sonic_platform/wait_sfp_ready_task.py
  platform/mellanox/mlnx-platform-api/tests/test_change_event.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_device_data.py
  platform/mellanox/mlnx-platform-api/tests/test_module_initializer.py
  platform/mellanox/mlnx-platform-api/tests/test_modules_mgmt.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp_event.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp_sm.py
  platform/mellanox/mlnx-platform-api/tests/test_statemachine.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal_updater.py
  platform/mellanox/mlnx-platform-api/tests/test_wait_sfp_ready_task.py
Labels: Bug :bug:, Request for 202311 Branch, Cherry Pick Conflict_202311

#18921 [action] [PR:18311] Fix yang model for ICMP and ICMPV6 (#18311)
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: automerge

#18920 [action] [PR:18690] [YANG] Add valid v6 address to sonic-dhcp-sever.yang (#18690)
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dhcp_server.json
  src/sonic-yang-models/yang-models/sonic-dhcp-server.yang
Labels: automerge

#18919 [action] [PR:18693] Fix YANG model for ACL (#18693)
  src/sonic-yang-mgmt/tests/test_cfghelp.py
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: automerge

#18918 [action] [PR:18419] [Fixbug 18418] [Yang] MACSEC_PROFILE table does not match yang definition (#18419)
  src/sonic-yang-models/tests/yang_model_tests/tests_config/macsec.json
  src/sonic-yang-models/yang-models/sonic-macsec.yang
Labels: automerge

#18879 [FIPS][202311] Upgrade the SymCrypt lib to 103.4.2
  rules/sonic-fips.mk
Labels: Security :shield:

#18848 sai-server bookworm changes for innovium
  platform/innovium/docker-saiserver-invm.dep
  platform/innovium/docker-saiserver-invm.mk
  platform/innovium/docker-saiserver-invm/Dockerfile.j2
  platform/innovium/docker-saiserver-invm/start.sh
  platform/innovium/docker-saiserver-invm/supervisord.conf
  platform/innovium/libsaithrift-dev.dep
  platform/innovium/libsaithrift-dev.mk
  platform/innovium/rules.mk
Labels: Bookworm

#18805 [Nokia][chassis] modify Nokia-IXR7250E-36x400G platform specified reboot to allow SUP to log expected/unexpected midplane/module connectivity msg
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_reboot
Labels: Cherry Pick Conflict_202205, Chassis for 202205 branch, Request for 202305 Branch, Request for 202311 Branch

#18658 [yang] set port admin state default down - fix for #18345
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: YANG

#18350 Fix to use IPv6 linklocal address as snmp agent address
  dockers/docker-snmp/snmpd.conf.j2
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample_graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Request for 202311 Branch

#18543 Upgrade sflow container to be based on Bookworm
  dockers/docker-sflow/Dockerfile.j2
  rules/docker-sflow.mk
  rules/sflow.mk
  src/sflow/hsflowd/Makefile
  src/sflow/hsflowd/patch/0002-host_sflow_debian.patch
Labels: Bookworm

#18611 Clear FABRIC_PORT_TABLE when swss is got down
  files/scripts/swss.sh
Labels: Chassis :robot:, chassis-voq, Chassis for 202205 branch

#18846 [202311] Fix for DNS service being canceled
  files/image_config/resolv-config/resolv-config.service
Labels: Request for 202311 Branch, Cherry Pick Conflict_202311

#18952 [action] [PR:18595] [Mellanox] Add support for platform SN5400 (#18595)
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/hwsku.json
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/port_config.ini
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/sai.profile
  device/mellanox/x86_64-nvidia_sn5400-r0/ACS-SN5400/sai_5400.xml
  device/mellanox/x86_64-nvidia_sn5400-r0/default_sku
  device/mellanox/x86_64-nvidia_sn5400-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5400-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5400-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn5400-r0/platform_components.json
  device/mellanox/x86_64-nvidia_sn5400-r0/platform_wait
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn5400-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn5400-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5400-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn5400-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5400-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn5400-r0/thermal_policy.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/ACS-SN5400
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/default_sku
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/syseeprom.hex
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/system_health_monitoring_config.json
  platform/mellanox/asic_table.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: automerge

#18950 [action] [PR:18821] [sflow]Changing the verbosity of ERR log when interface is unavailable (#18821)
  src/sflow/hsflowd/patch/0004-When-interface-removed-just-as-we-discover-it-log-wi.patch
  src/sflow/hsflowd/patch/series
Labels: automerge

#18099 Added current year to all log files
  files/image_config/rsyslog/rsyslog.conf.j2
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202305 Branch

#18968 [action] [PR:18835] [eventd]: Close rsyslog plugin when rsyslog SIGTERM and EOF is sent to stream (#18835)
  files/build_templates/rsyslog_plugin.conf.j2
  src/sonic-eventd/rsyslog_plugin/rsyslog_plugin.cpp
  src/sonic-eventd/rsyslog_plugin/rsyslog_plugin.h
  src/sonic-eventd/rsyslog_plugin_tests/rsyslog_plugin_ut.cpp
Labels: automerge

#18937 [202311] [Mellanox] run module initialization when any SFP related API is called (#18930)
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/module_host_mgmt_initializer.py
  platform/mellanox/mlnx-platform-api/sonic_platform/modules_mgmt.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp_event.py
  platform/mellanox/mlnx-platform-api/sonic_platform/state_machine.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_manager.py
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_updater.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/sonic_platform/wait_sfp_ready_task.py
  platform/mellanox/mlnx-platform-api/tests/test_change_event.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_device_data.py
  platform/mellanox/mlnx-platform-api/tests/test_module_initializer.py
  platform/mellanox/mlnx-platform-api/tests/test_modules_mgmt.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp_event.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp_sm.py
  platform/mellanox/mlnx-platform-api/tests/test_statemachine.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal_updater.py
  platform/mellanox/mlnx-platform-api/tests/test_wait_sfp_ready_task.py
Labels: Bug :bug:

#18974 [action] [PR:18690] [YANG] Add valid v6 address to sonic-dhcp-sever.yang (#18690)
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/dhcp_server.json
  src/sonic-yang-models/yang-models/sonic-dhcp-server.yang
Labels: automerge

#18736 [NTP] 🐞 Fix config template to init default parameters
  files/image_config/ntp/ntp.conf.j2
  src/sonic-config-engine/tests/sample_output/py3/ntp.conf
Labels: Bug :bug:, P0, Request for 202311 Branch

#18955 [202311][FRR]FRR/zebra error messages for routes from kernel default table
  src/sonic-frr/patch/0035-fpm-ignore-route-from-default-table.patch
Labels: FRR :traffic_light:

#18911 Remove services mentioned in exclude service list for system monitoring
  src/system-health/health_checker/sysmonitor.py
Labels: Bug :bug:, Request for 202311 Branch

#18807 Add configuration optimization to run SONiC on DPU
  dockers/docker-orchagent/ipinip.json.j2
  dockers/docker-orchagent/switch.json.j2
  dockers/docker-platform-monitor/docker_init.j2
Labels: smartswitch

#18875 [Chassis][Voq]Update sonic-buffer-queue and sonic-queue for Voq Chassis
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/buffer_queue.json
  src/sonic-yang-models/tests/yang_model_tests/tests/qos.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/buffer_queue.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qos.json
  src/sonic-yang-models/yang-models/sonic-buffer-queue.yang
  src/sonic-yang-models/yang-models/sonic-queue.yang
Labels: P0, Chassis :robot:, YANG, chassis-voq, Chassis for 202205 branch

#18548 Bookworm migration for sonic-mgmt-framework and sonic-gnmi dockers
  dockers/docker-sonic-gnmi/Dockerfile.j2
  dockers/docker-sonic-mgmt-framework/Dockerfile.j2
  rules/docker-gnmi.mk
  rules/docker-sonic-mgmt-framework.mk
  sonic-slave-bookworm/Dockerfile.j2
Labels: Bookworm

#18975 (Properly) upgrade docker-restapi to Bookworm, and add a debug container
  dockers/docker-sonic-restapi/Dockerfile.j2
  rules/docker-restapi.dep
  rules/docker-restapi.mk
  rules/restapi.mk
Labels: Bookworm

#18855 [chassis][voq] Remove the leaf ref for the ifname in sonic-system-port.yang
  src/sonic-yang-models/yang-models/sonic-system-port.yang
Labels: P0, YANG, chassis-voq, Chassis for 202205 branch

#18982 [action] [PR:16968] [Mellanox] CMIS management feature enablement (#16968)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/sai.profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/sai.profile
Labels: automerge

#18929 [Mellanox] Use the explicit mst device of SPC during fw-upgrade
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Platform: Mellanox

#18691 Fix a logic issue for load_namespace_config in sonic-cfggen
  src/sonic-config-engine/sonic-cfggen
Labels: Request for 202305 Branch, Cherry Pick Conflict_202305

#18241 [master][ethtool][chassis] Install ethtool to localhost
  build_debian.sh
  dockers/docker-platform-monitor/Dockerfile.j2
  rules/docker-platform-monitor.mk
Labels: P0

#18292 [yang-models] Add missing constraints in VLAN yang model. Fixes #12256
  src/sonic-config-engine/tests/simple-sample-graph-case-remap-disabled.xml
  src/sonic-config-engine/tests/simple-sample-graph-case-remap-enabled-no-tunnel-attributes.xml
  src/sonic-config-engine/tests/simple-sample-graph-case-remap-enabled.xml
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/t0-sample-graph-two-mgmt.xml
  src/sonic-config-engine/tests/t0-sample-graph.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: YANG

#15735 Fix dpkg lock
  src/sonic-build-hooks/hooks/dpkg
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Labels: Build

#18979 Update save disable code for new Redis version
  dockers/docker-database/Dockerfile.j2
Labels: Bookworm

#19021 [action] [PR:18911] Remove services mentioned in exclude service list for system monitoring (#18911)
  src/system-health/health_checker/sysmonitor.py
Labels: automerge

#19011 [build] docker-gnmi is migrate to bookworm. Fix the dependency.
  rules/docker-telemetry.mk
Labels: Build

#18722 [Mellanox] Fix 4600c sensors.conf inverted psu number designation
  device/mellanox/x86_64-mlnx_msn2010-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4600-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors_respin.conf
  device/mellanox/x86_64-nvidia_sn2201-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/sensors.conf
Labels: Bug :bug:, Platform: Mellanox, Request for 202311 Branch

#18964 [Mellanox] Avoid returning NoneType while reading 0 byte from SPF's EEPROM
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202311 Branch

#19033 [action] [PR:18791] [Mellanox][SN4410] Add missing interfaces to hwsku (#18791)
  device/mellanox/x86_64-mlnx_msn4410-r0/ACS-MSN4410/hwsku.json
Labels: automerge

#19031 [action] [PR:18678] Use the archive repo for Buster (#18678)
  scripts/build_mirror_config.sh
Labels: automerge

#19030 [action] [PR:18678] Use the archive repo for Buster (#18678)
  scripts/build_mirror_config.sh
Labels: automerge

#18737 [Mellanox] Enable CMIS host mgmt. feature to Mellanox-SN4700-O8C48, Mellanox-SN4700-O8V48 SKUs
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/optics_si_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/optics_si_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/pmon_daemon_control.json
Labels: Request for 202311 Branch

#18980 [Mellanox] Block setting the watchdog in the case that watchdog period is longer than the max period supported by the platform
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
  platform/mellanox/mlnx-platform-api/tests/test_watchdog.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202311 Branch

#18923 [Mellanox] Add bfb image installation script to the switch image
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/mlnx-sonic-bfb-installer.mk
  platform/mellanox/rules.mk
  platform/mellanox/sonic-bfb-installer.sh
Labels: Platform: Mellanox, smartswitch

#19015 [Mellanox] Update pcie yaml file for SN5600 and SN5400
  device/mellanox/x86_64-nvidia_sn5400-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5600-r0/pcie.yaml
Labels: Request for 202311 Branch

#19004 [ci]: build nvidia bluefield dpu image
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
  .azure-pipelines/azure-pipelines-build.yml
Labels: ci

#18088 Support OpenSSL 3.0 SymCrypt provider and engine for bookworm
  Makefile.work
  azure-pipelines.yml
  dockers/docker-base-bookworm/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
  rules/sonic-fips.mk
  sonic-slave-bookworm/Dockerfile.j2
  sonic-slave-bullseye/Dockerfile.j2
Labels: Bookworm

#18966 [Yang][Bugfix] Vxlan tunnel yang model to support dest_ip and name length.
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/yang_model_tests/tests/vxlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vxlan.json
  src/sonic-yang-models/yang-models/sonic-vxlan.yang
Labels: YANG, Request for 202305 Branch, Request for 202311 Branch

#19029 [dhcp_server] Send signal to kea-dhcp4 to read new config after dump
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcpservd.py
Labels: Request for 202311 Branch

#18956 Adding Buffer pool enum type both for sonic chassis
  src/sonic-yang-models/tests/yang_model_tests/tests/buffer_pool.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/buffer_pool.json
  src/sonic-yang-models/yang-models/sonic-buffer-pool.yang
Labels: Chassis :robot:, YANG, Request for 202205 Branch, Request for 202305 Branch

#19053 [action] [PR:18980] [Mellanox] Block setting the watchdog in the case that watchdog period is longer than the max period supported by the platform #18980)
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
  platform/mellanox/mlnx-platform-api/tests/test_watchdog.py
Labels: automerge

#19052 [action] [PR:18964] [Mellanox] Avoid returning NoneType while reading 0 byte from SPF's EEPROM (#18964)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: automerge

#18597 Yang model changes for Sequential IDF isolation
  files/build_templates/init_cfg.json.j2
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/bgp_device_global.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/bgp_device_global.json
  src/sonic-yang-models/yang-models/sonic-bgp-device-global.yang
Labels: YANG, Chassis for 202205 branch

#19055 [action] [PR:18737] Add the ability to enable CMIS host mgmt. feature to Mellanox-SN4700-O8C48, Mellanox-SN4700-O8V48 SKUs (#18737)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/optics_si_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/pmon_daemon_control.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/media_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/optics_si_settings.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/pmon_daemon_control.json
Labels: automerge

#19054 [action] [PR:18722] [Mellanox] Fix 4600c sensors.conf inverted psu number designation (#18722)
  device/mellanox/x86_64-mlnx_msn2010-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4600-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors.conf
  device/mellanox/x86_64-mlnx_msn4600c-r0/sensors_respin.conf
  device/mellanox/x86_64-nvidia_sn2201-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/sensors.conf
Labels: automerge

#19019 [chassis] add chassis hostname to device metadata
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: YANG

#19046 [Mellanox] Verify the value of the control type sysfs before changing it to FW control
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Bug :bug:, Request for 202311 Branch

#18250 [202305][graceful reboot] Rename the platform_reboot to the pre_reboot_hook, remove the sysfs power cycle
  device/mellanox/x86_64-mlnx_lssn2700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_lssn2700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2010-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2010-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2100-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2100-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2410-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2410-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2700a1-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2700a1-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2740-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2740-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3420-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3420-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3700c-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3700c-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3800-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3800-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4410-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4410-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4600-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4600-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4600c-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4600c-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4700-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn2201-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn2201-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn4800-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn4800-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn5600-r0/pre_reboot_hook
Labels: Platform: Mellanox, Cherry Pick Conflict_202305

#19112 [action] [PR:19046] [Mellanox] Verify the value of the control type sysfs before changing it to FW control (#19046)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#19114 [action] [PR:19029] Update dhcpservd.py (#19029)
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcpservd.py
Labels: automerge

#19018 [chassis] Minigraph parser changes
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/chassis_data/packet_chassis_data/packet-chassis-port-config-1.ini
  src/sonic-config-engine/tests/chassis_data/packet_chassis_data/packet_chassis_sup.xml
  src/sonic-config-engine/tests/chassis_data/voq_chassis_data/system_ports.json
  src/sonic-config-engine/tests/chassis_data/voq_chassis_data/voq-sample-port-config-1.ini
  src/sonic-config-engine/tests/chassis_data/voq_chassis_data/voq-sample-port-config-2.ini
  src/sonic-config-engine/tests/chassis_data/voq_chassis_data/voq_chassis_lc_multi_asic.xml
  src/sonic-config-engine/tests/chassis_data/voq_chassis_data/voq_chassis_lc_single_asic.xml
  src/sonic-config-engine/tests/chassis_data/voq_chassis_data/voq_chassis_sup.xml
  src/sonic-config-engine/tests/test_chassis_cfggen.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: Chassis :robot:

#18983 [Mellanox] enlarge the eeprom ready timeout from 20 to 60
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
Labels: Bug :bug:, Platform: Mellanox, Request for 202311 Branch

#18496 Linecard startup-TSA-TSB
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/startup-tsa-tsb.conf
  dockers/docker-fpm-frr/base_image_files/TS
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
  files/build_templates/sonic_debian_extension.j2
  files/build_templates/startup_tsa_tsb.service
  files/scripts/startup_tsa_tsb.py
Labels: P0, Chassis :robot:

#19111 [action] [PR:19015] [Mellanox] Update pcie yaml file for SN5600 and SN5400 (#19015)
  device/mellanox/x86_64-nvidia_sn5400-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5600-r0/pcie.yaml
Labels: automerge

#18886 Update P4RT docker to Bookworm
  dockers/docker-sonic-p4rt/Dockerfile.j2
  rules/docker-p4rt.mk
  src/sonic-p4rt/Makefile
Labels: Bookworm

#19066 [Nvidia] Remove SAI_HOSTIF_OPER_STATUS_UPDATE_BY_APP, set it only for certain SKUs
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/sai.profile
  platform/mellanox/docker-syncd-mlnx/sai-common.profile
Labels: Bug :bug:, Request for 202311 Branch

#19139 [Mellanox] upgrade MFT tool to 4.28.0-96
  platform/mellanox/mft.mk
Labels: Platform: Mellanox, Request for 202311 Branch

#19115 [Mellanox]Passing the installed kernel headers during SDK compilation
  platform/mellanox/sdk-src/wjh-libs/Makefile
Labels: Platform: Mellanox

#19147 [action] [PR:19066] [Nvidia] Remove SAI_HOSTIF_OPER_STATUS_UPDATE_BY_APP, set it only for certain SKUs (#19066)
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/sai.profile
  platform/mellanox/docker-syncd-mlnx/sai-common.profile
Labels: automerge

#19143 [action] [PR:18983] [Mellanox] enlarge the eeprom ready timeout from 20 to 60 (#18983)
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
Labels: automerge

#19094 Added Yang Support for attribute slice_type to DEVICE_METADATA
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: YANG, Chassis for 202205 branch

#18928 Reliable TSA implementation
  dockers/docker-fpm-frr/base_image_files/TS
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
  files/build_templates/docker_image_ctl.j2
  files/image_config/config-setup/config-setup
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_chassis_app_db.py
  src/sonic-bgpcfgd/bgpcfgd/managers_device_global.py
  src/sonic-bgpcfgd/bgpcfgd/runner.py
  src/sonic-bgpcfgd/tests/test_chassis_app_db.py
  src/sonic-bgpcfgd/tests/test_device_global.py
Labels: P0, Chassis :robot:

#19128 Add monState field in config file so we can enable fabric link monitor
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/fabric_monitor_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/fabric_monitor_config.json
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3_48cq2_lc/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3_48cqm2_lc/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/fabric_monitor_config.json
Labels: Chassis :robot:, chassis-voq
