Repository sonic-net/sonic-buildimage, pull requests merged in 2024-07, with the labels that each got.

#19395 [Cache] Truly disable loading the RFS cache
  slave.mk
Labels: Request for 202311 Branch, Request for 202405 Branch

#19265 [Mellanox]Removing 8x DPB mode from SN5400 and SN5400_simx platforms
  device/mellanox/x86_64-nvidia_sn5400-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/platform.json
Labels: Request for 202405 Branch

#19300 [Mellanox] Remove lm-sensors dependency from hw-management
  platform/mellanox/hw-management/Makefile
Labels: Platform: Mellanox, Request for 202405 Branch

#19436 Updated bcmsai from version 7.1.66.7 to 7.1.80.4
  platform/broadcom/sai.mk
Labels: Chassis :robot:

#19234 [Mellanox] Addition of minicom configuration file
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/minirc.dfl
Labels: Request for 202405 Branch

#19413 [minigraph] populate bgp_asn in DEVICE_METADATA only if it is valid.
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/test_chassis_cfggen.py
Labels: Chassis for 202205 branch, Request for 202405 Branch

#19334 [master] Upgrade xgs SAI version to 10.1.21.0
  platform/broadcom/sai.mk
Labels: Cherry Pick Conflict_202311, Cherry Pick Conflict_202405, Request for 202405 Branch

#19407 [Mellanox] Use efibootmgr for supported device on fwutil
  platform/mellanox/mlnx-onie-fw-update.sh
Labels: Request for 202311 Branch, Request for 202405 Branch

#19383 Modify regex for watchdog-timeout
  files/build_templates/systemd_regex.json
Labels: Request for 202311 Branch, Request for 202405 Branch

#19445 [build] Use DEFAULT_CONTAINER_REGISTRY in Makefile.work instead of dockerhub.
  Makefile.work
Labels: Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch

#19470 [action] [PR:19430] Expand pattern for dhcp relay discarding interface (#19430)
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-dhcp-relay.json
  src/sonic-yang-models/yang-models/sonic-events-dhcp-relay.yang
Labels: automerge

#19443 Update cisco-8000.ini to 202405.0.2 release
  platform/checkout/cisco-8000.ini
Labels: Request for 202405 Branch

#19472 [action] [PR:19445] fix (#19445)
  Makefile.work
Labels: automerge

#19495 [action] [PR:19407] [Mellanox] Use efibootmgr for supported device on fwutil (#19407)
  platform/mellanox/mlnx-onie-fw-update.sh
Labels: automerge

#19494 [action] [PR:19407] [Mellanox] Use efibootmgr for supported device on fwutil (#19407)
  platform/mellanox/mlnx-onie-fw-update.sh
Labels: automerge

#19488 [action] [PR:19443] Update cisco-8000.ini to 202405.0.2 release (#19443)
  platform/checkout/cisco-8000.ini
Labels: automerge

#19468 [action] [PR:19430] Expand pattern for dhcp relay discarding interface (#19430)
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-dhcp-relay.json
  src/sonic-yang-models/yang-models/sonic-events-dhcp-relay.yang
Labels: automerge

#19493 [action] [PR:19413] [minigraph] populate bgp_asn in DEVICE_METADATA only if it is valid. (#19413)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample-voq-graph.xml
  src/sonic-config-engine/tests/test_chassis_cfggen.py
Labels: automerge

#19473 [Mellanox] implement state machine for always firmware control ports
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp_sm.py
Labels: Bug :bug:, Request for 202311 Branch, Request for 202405 Branch

#19467 [Mellanox] Update SDK/FW to 4.6.4072/2012.4072
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Request for 202405 Branch

#19463 [action] [PR:19196] [Nokia][Device] Fix monState in farbic monitor config (#19196)
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/fabric_monitor_config.json
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/fabric_monitor_config.json
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/fabric_monitor_config.json
Labels: automerge

#19519 [action] [PR:19200] [dhcp_server] Fix the issue with "kea-dhcp4.conf" file generation for Smart Switch. (#19200)
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcp_cfggen.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcp_lease.py
  src/sonic-dhcp-utilities/tests/test_data/kea-dhcp4.conf.j2
  src/sonic-dhcp-utilities/tests/test_data/kea-lease_smart_switch.csv
  src/sonic-dhcp-utilities/tests/test_dhcp_cfggen.py
  src/sonic-dhcp-utilities/tests/test_dhcp_lease.py
  src/sonic-dhcp-utilities/tests/test_dhcpservd.py
  src/sonic-dhcp-utilities/tests/test_smart_switch.py
Labels: automerge

#19514 Fix no standalone lo_v6 entry which break YANG validation
  src/sonic-config-engine/minigraph.py
Labels: Request for 202305 Branch, Request for 202311 Branch, Request for 202405 Branch

#19509 [Mellanox] CMIS host management script
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/cmis_host_mgmt/cmis_host_mgmt.py
Labels: Request for 202405 Branch

#19424 Enable iburst option for NTP servers loaded from minigraph
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_chassis_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch

#19527 Reliable TSA: Addressing review comments to use 'SpineRouter' in checks instead of 'voq' and fix few echo msgs.
  dockers/docker-fpm-frr/base_image_files/TS
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
Labels: Cherry Pick Conflict_202405, Request for 202405 Branch

#19339 [202305][Mellanox]Updating SDK/FW to 4.6.2300/2012.2300 SAI to SAIBuild2305.26.0.49
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox

#19365 [action] [PR:18910] [gearbox]: Upgrade credo sai package to v0.9.6 (#18910)
  platform/components/docker-gbsyncd-credo.mk
Labels: automerge

#19480 [healthd] Added change to handle Feature Table exception
  src/system-health/health_checker/sysmonitor.py
Labels: Request for 202405 Branch

#19486 [Chassis][Voq][Yang] Make asic_name case sensitive in yang models
  src/sonic-yang-models/tests/yang_model_tests/tests_config/system_port.json
  src/sonic-yang-models/yang-models/sonic-buffer-queue.yang
  src/sonic-yang-models/yang-models/sonic-queue.yang
  src/sonic-yang-models/yang-models/sonic-system-port.yang
  src/sonic-yang-models/yang-templates/sonic-types.yang.j2
Labels: Chassis for 202205 branch, Request for 202405 Branch

#19537 [DHCP] Add try/exception when using psutil.process_iter
  src/sonic-dhcp-utilities/dhcp_utilities/common/utils.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcprelayd/dhcprelayd.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcpservd.py
  src/sonic-dhcp-utilities/tests/common_utils.py
  src/sonic-dhcp-utilities/tests/test_dhcprelayd.py
  src/sonic-dhcp-utilities/tests/test_dhcpservd.py
  src/sonic-dhcp-utilities/tests/test_utils.py
Labels: Request for 202311 Branch, Request for 202405 Branch

#19577 [Security] Fix krb5 CVE-2024-37370
  rules/sonic-fips.mk
Labels: Security :shield:, Request for 202311 Branch, Cherry Pick Conflict_202311

#19570 Update Arista7060X6-PE 256x200G mmu configuration.
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/th5-a7060x6-64pe.config.bcm
Labels: Platform: Arista, Request for 202311 Branch, Approved for 202311 Branch, Cherry Pick Conflict_202405, Request for 202405 Branch

#19584 [master] Update XGS SAI version to 10.1.35.0
  platform/broadcom/sai.mk
Labels: Request for 202311 Branch, Cherry Pick Conflict_202311, Cherry Pick Conflict_202405, Request for 202405 Branch

#19604 [action] [PR:19570] [Arista]: Update Arista7060X6-PE 256x200G mmu configuration. (#19570)
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/th5-a7060x6-64pe.config.bcm
Labels: automerge

#19621 [action] [PR:19537] [DHCP] Add try/exception when using psutil.process_iter (#19537)
  src/sonic-dhcp-utilities/dhcp_utilities/common/utils.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcprelayd/dhcprelayd.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcpservd.py
  src/sonic-dhcp-utilities/tests/common_utils.py
  src/sonic-dhcp-utilities/tests/test_dhcprelayd.py
  src/sonic-dhcp-utilities/tests/test_dhcpservd.py
  src/sonic-dhcp-utilities/tests/test_utils.py
Labels: automerge

#19576 [202311][Mellanox] Updating SDK/FW to 4.6.4082/2012.4082
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox

#19546 [action] [PR:19514] Fix no standalone lo_v6 entry which break YANG validation (#19514)
  src/sonic-config-engine/minigraph.py
Labels: automerge

#19622 [action] [PR:19537] [DHCP] Add try/exception when using psutil.process_iter (#19537)
  src/sonic-dhcp-utilities/dhcp_utilities/common/utils.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcprelayd/dhcprelayd.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcpservd/dhcpservd.py
  src/sonic-dhcp-utilities/tests/common_utils.py
  src/sonic-dhcp-utilities/tests/test_dhcprelayd.py
  src/sonic-dhcp-utilities/tests/test_dhcpservd.py
  src/sonic-dhcp-utilities/tests/test_utils.py
Labels: automerge

#19312 [Mellanox] Add support for SN4280 platform
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280-r0/default_sku
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn4280-r0/platform.json
  device/mellanox/x86_64-nvidia_sn4280-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn4280-r0/platform_components.json
  device/mellanox/x86_64-nvidia_sn4280-r0/platform_wait
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn4280-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn4280-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4280-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn4280-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/services.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn4280-r0/thermal_policy.json
  platform/mellanox/asic_table.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/component.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/tests/test_component.py
Labels: Platform: Mellanox, Request for 202405 Branch

#19607 [Mellanox] Disable Auto Negotiation by default for SN4700
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/hwsku.json
Labels: Request for 202311 Branch, Request for 202405 Branch

#19640 Fix TH5 egress pool creation failure with BCM YAML file and SAI update on 07/16.
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/buffers_defaults_t0.j2
Labels: Platform: Arista, Request for 202311 Branch, Cherry Pick Conflict_202405, Request for 202405 Branch

#19523 [Mellanox] Added SIMX version to Nvidia component version listing
  platform/mellanox/component-versions/Makefile
  platform/mellanox/component-versions/create_component_versions.sh
  platform/mellanox/fw.mk
  platform/mellanox/get_component_versions/get_component_versions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: Request for 202405 Branch

#19647 [action] [PR:19640] [Arista]: Fix TH5 egress pool creation failure with BCM YAML file and SAI update on 07/16 (#19640)
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/buffers_defaults_t0.j2
Labels: automerge

#19650 [action] [PR:19607] [Mellanox] Disable Auto Negotiation by default for SN4700 (#19607)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/hwsku.json
Labels: automerge

#19641 [Mellanox] Enable CMIS host mgmt for SN5600 Mellanox-SN5600-V256 SKU
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/media_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/sai.profile
Labels: Request for 202311 Branch, Request for 202405 Branch

#19651 [action] [PR:19607] [Mellanox] Disable Auto Negotiation by default for SN4700 (#19607)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/hwsku.json
Labels: automerge

#19655 [action] [PR:19528] [ctrmgrd] Fix the container restart during config reload (#19528)
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
Labels: automerge

#19642 Update threshold of PG profile for Arista7060X6-PE 256x200G
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/th5-a7060x6-64pe.config.bcm
Labels: Request for 202311 Branch, Cherry Pick Conflict_202405, Request for 202405 Branch

#19658 [action] [PR:19642] Update threshold of PG profile for Arista7060X6-PE 256x200G (#19642)
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/th5-a7060x6-64pe.config.bcm
Labels: automerge

#19637 Set soc property `programmability_ucode_relative_path` for Arista DNX Devices
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Chassis :robot:, chassis-voq, Request for 202405 Branch

#19673 [dhcp_server] Remove invoke of dhcpmon when dhcp_server is enabled
  src/sonic-dhcp-utilities/dhcp_utilities/dhcprelayd/dhcprelayd.py
Labels: Request for 202311 Branch, Request for 202405 Branch

#19695 [action] [PR:18984] [Mellanox] Enable get_tx_fault support in CMIS cable host mgmt mode (#18984)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#19690 [action] [PR:19300] [Mellanox] Remove lm-sensors dependency from hw-management (#19300)
  platform/mellanox/hw-management/Makefile
Labels: automerge

#19689 [action] [PR:19473] [Mellanox] implement state machine for always firmware control ports (#19473)
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp_sm.py
Labels: automerge

#19688 [action] [PR:19473] [Mellanox] implement state machine for always firmware control ports (#19473)
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp_sm.py
Labels: automerge

#19687 [action] [PR:19523] [Mellanox] Added simx version to Nvidia component version listing (#19523)
  platform/mellanox/component-versions/Makefile
  platform/mellanox/component-versions/create_component_versions.sh
  platform/mellanox/fw.mk
  platform/mellanox/get_component_versions/get_component_versions.py
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: automerge

#19684 [action] [PR:19673] [dhcp_server] Remove invoke of dhcpmon when dhcp_server is enabled (#19673)
  src/sonic-dhcp-utilities/dhcp_utilities/dhcprelayd/dhcprelayd.py
Labels: automerge

#19696 [action] [PR:19106] [docker_image_ctl] flush ASIC_DB on fast boot (#19106)
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#19694 [action] [PR:19106] [docker_image_ctl] flush ASIC_DB on fast boot (#19106)
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#19693 [action] [PR:19265] [Mellanox]Removing 8x DPB mode from SN5400 and simx platforms (#19265)
  device/mellanox/x86_64-nvidia_sn5400-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5400_simx-r0/platform.json
Labels: automerge

#19692 [action] [PR:19395] [Cache] Truly disable loading the RFS cache (#19395)
  slave.mk
Labels: automerge

#19686 [action] [PR:19641] [Mellanox] Enable CMIS host mgmt for SN5600 Mellanox-SN5600-V256 SKU (#19641)
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/media_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/sai.profile
Labels: automerge

#19685 [action] [PR:19641] [Mellanox] Enable CMIS host mgmt for SN5600 Mellanox-SN5600-V256 SKU (#19641)
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/media_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/sai.profile
Labels: automerge

#19657 Make pmon feature delayed flag as jinja template
  files/build_templates/init_cfg.json.j2
  src/sonic-yang-models/yang-models/sonic-feature.yang
Labels: Request for 202405 Branch

#19691 [action] [PR:19395] [Cache] Truly disable loading the RFS cache (#19395)
  slave.mk
Labels: automerge

#19702 [action] [PR:19657] Make pmon feature delayed flag as jinja template (#19657)
  files/build_templates/init_cfg.json.j2
  src/sonic-yang-models/yang-models/sonic-feature.yang
Labels: automerge

#19700 Enable linux capabilities on sflow container for kernel 6.1.94 compatibility
  rules/docker-sflow.mk
Labels: Request for 202405 Branch

#19699 Separated sort and head commands to prevent broken pipe issues
  files/image_config/logrotate/rsyslog.j2
Labels: Chassis for 202205 branch, Request for 202405 Branch

#19358 Support yang model for buffer pool percentage
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/buffer_pool.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/buffer_pool.json
  src/sonic-yang-models/yang-models/sonic-buffer-pool.yang
Labels: Request for 202405 Branch

#19563 [Mellanox] fix sfp eeprom unreadable after switching from SW to FW control mode
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Request for 202311 Branch, Request for 202405 Branch

#19736 [action] [PR:19027] Revert suppress FIB pending feature (#19027)
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  dockers/docker-fpm-frr/frr/supervisord/supervisord.conf.j2
  platform/vs/docker-sonic-vs/supervisord.conf.j2
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/all.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/base.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/defaults.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/defaults_router_id.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/ipv6_lo.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/lo0_ipv6_only.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/lo0_ipv6_only_router_id.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/packet_chassis.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/packet_chassis_ipv6_lo4096.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/packet_chassis_ipv6_lo4096_router_id.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/packet_chassis_router_id.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/bgpd.main.conf.j2/voq_chassis.conf
  src/sonic-bgpcfgd/tests/data/sonic-cfggen/frr.conf.j2/all.conf
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr.conf
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_backend_asic.conf
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_frontend_asic.conf
  src/sonic-config-engine/tests/sample_output/py2/frr.conf
  src/sonic-config-engine/tests/sample_output/py2/t2-chassis-fe-bgpd.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_backend_asic.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_dualtor.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_frontend_asic.conf
  src/sonic-config-engine/tests/sample_output/py3/frr.conf
  src/sonic-config-engine/tests/sample_output/py3/t2-chassis-fe-bgpd.conf
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: automerge

#19753 [action] [PR:18801] [Mellanox] route config/set/delete performance improvement(#18801)
  platform/mellanox/docker-syncd-mlnx/sai-common.profile
Labels: automerge

#19750 [action] [PR:19424] Enable iburst option for NTP servers loaded from minigraph (#19424)
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-config-engine/tests/test_chassis_cfggen.py
  src/sonic-config-engine/tests/test_minigraph_case.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
Labels: automerge
