Repository sonic-net/sonic-buildimage, pull requests merged in 2024-10, with the labels that each got.

#20401 [action] [PR:19999] [Mellanox] update buffers and align QoS to add support for DSCP remapping (for Dual-Tor on t1) for Mellanox-SN4700-O8C48 (#19999)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/qos.json.j2
Labels: automerge

#20399 [action] [PR:19999] [Mellanox] update buffers and align QoS to add support for DSCP remapping (for Dual-Tor on t1) for Mellanox-SN4700-O8C48 (#19999)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/buffers_defaults_t1.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/qos.json.j2
Labels: automerge

#20075 Sort the system port ID generation in minigraph parser for Chassis
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/chassis_data/voq_chassis_data/system_ports.json
Labels: Request for 202405 Branch

#20232 Replace straightforward sonic-cfggen calls with sonic-db-cli
  files/build_templates/docker_image_ctl.j2
  files/image_config/bannerconfig/banner-config.sh
  files/image_config/hostname/hostname-config.sh
  files/image_config/pcie-check/pcie-check.sh
  files/image_config/rsyslog/rsyslog-config.sh
Labels: Request for 202405 Branch

#20107 Subject: 7060x6-64pe 256x100g support
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/BALANCED
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/hwsku.json
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/sai.profile
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/platform.json
Labels: Request for 202405 Branch

#18646 PAC infra sysapi files
  src/sonic-pac/fpinfra/sysapi/sysapi.c
  src/sonic-pac/fpinfra/sysapi/sysapi_hpc.c
  src/sonic-pac/fpinfra/sysapi/sysapi_if_net.c
Labels: PAC

#18642 PAC infra system related APIs
  src/sonic-pac/fpinfra/sim/sim.cpp
Labels: PAC

#18624 Makefile changes for PAC
  src/sonic-pac/Makefile.am
  src/sonic-pac/autogen.sh
  src/sonic-pac/configure.ac
Labels: PAC

#18631 Auth mgr Makefile and common header files
  src/sonic-pac/authmgr/Makefile.am
  src/sonic-pac/authmgr/common/auth_mgr_api.h
  src/sonic-pac/authmgr/common/auth_mgr_common.h
  src/sonic-pac/authmgr/common/auth_mgr_exports.h
  src/sonic-pac/authmgr/common/comm_mask.h
  src/sonic-pac/authmgr/common/component_mask.h
  src/sonic-pac/authmgr/common/mab_api.h
  src/sonic-pac/authmgr/common/mab_exports.h
Labels: PAC

#18634 Auth mgr API interface functions
  src/sonic-pac/authmgr/mapping/auth_mgr_api.c
  src/sonic-pac/authmgr/mapping/auth_mgr_sid/auth_mgr_sid.c
  src/sonic-pac/authmgr/mapping/auth_mgr_sid/auth_mgr_sid.h
  src/sonic-pac/authmgr/mapping/auth_mgr_sid/auth_mgr_sid_const.h
Labels: PAC

#18623 MAB mgr changes for PAC
  src/sonic-pac/mabmgr/Makefile.am
  src/sonic-pac/mabmgr/mabmgr.cpp
  src/sonic-pac/mabmgr/mabmgr.h
  src/sonic-pac/mabmgr/mabmgr_main.cpp
Labels: PAC

#20433 [action] [PR:20341] [Mellanox] align SKU name to Mellanox-SN5600-C256X1 (#20341)
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/media_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256X1/sai_5600_256x100g.xml
Labels: automerge

#20432 [action] [PR:19718] [Arista]: Add chassis temperature sensors (#19718)
  device/arista/x86_64-arista_7800_sup/platform.json
Labels: automerge

#20423 Update cisco-8000.ini to 202405.0.7 release
  platform/checkout/cisco-8000.ini
Labels: Approved for 202405 Branch, Request for 202405 Branch

#20389 [Mellanox] Fix retry logic on discovery of MST device
  files/scripts/syncd.sh
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Platform: Mellanox

#20444 [action] [PR:20423] Update cisco-8000.ini to 202405.0.7 release (#20423)
  platform/checkout/cisco-8000.ini
Labels: automerge

#20387 Change TTL value range
  src/sonic-yang-models/tests/yang_model_tests/tests/mirror_session.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mirror_session.json
  src/sonic-yang-models/yang-models/sonic-mirror-session.yang
Labels: YANG

#20350 sonic-buildimage: Arista-7060X6-64DE-O128S2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/BALANCED
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/hwsku.json
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/port_config.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/sai.profile
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/th5-a7060x6-64de.config.bcm
Labels: Request for 202405 Branch

#19547 [action] [PR:19514] Fix no standalone lo_v6 entry which break YANG validation (#19514)
  src/sonic-config-engine/minigraph.py
Labels: automerge

#19968 [chassis] add condition is yang model to make lanes not mandatory for chassis
  src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: Request for 202405 Branch

#20463 [action] [PR:20107] [Arista]: 7060x6-64pe 256x100g support (#20107)
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/BALANCED
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/hwsku.json
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/sai.profile
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/platform.json
Labels: automerge

#19928 [Marvell][Nokia-M0] Set custom create switch timeout
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/sai.profile
  dockers/docker-orchagent/orchagent.sh
Labels: Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch

#20384 [S6000] Fix 'show interface status' CLI needs sudo permission
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
Labels: Platform: DellEMC, Request for 202305 Branch, Request for 202311 Branch, Request for 202405 Branch

#20465 [action] [PR:19108] Add environs to test PFCWD on DNX (#19108)
  platform/vs/docker-sonic-vs/orchagent.sh
Labels: automerge

#20472 [action] [PR:20209] [arista]: Upgrade credo sai package to v0.9.9 (#20209)
  platform/components/docker-gbsyncd-credo.mk
Labels: automerge

#20467 [action] [PR:20384] [S6000] Fix 'show interface status' CLI needs sudo permission (#20384)
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
Labels: automerge

#20477 [action] [PR:19928] [Marvell][Nokia-M0] Set custom create switch timeout (#19928)
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/sai.profile
  dockers/docker-orchagent/orchagent.sh
Labels: automerge

#20479 [action] [PR:20387] Change TTL value range (#20387)
  src/sonic-yang-models/tests/yang_model_tests/tests/mirror_session.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/mirror_session.json
  src/sonic-yang-models/yang-models/sonic-mirror-session.yang
Labels: automerge

#20473 [Mellanox] Updating SDK/FW to 4.7.1150/2014.1150
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox, Cherry Pick Conflict_202405, Created PR to 202405 Branch, Request for 202405 Branch

#20491 [action] [PR:20350] sonic-buildimage: Arista-7060X6-64DE-O128S2 (#20350)
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/BALANCED
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/hwsku.json
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/port_config.ini
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/sai.profile
  device/arista/x86_64-arista_7060x6_64de/Arista-7060X6-64DE-O128S2/th5-a7060x6-64de.config.bcm
Labels: automerge

#20511 [Mellanox]Adding new line to SN4700-O8V48 SAI profile
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/sai.profile
Labels: Request for 202405 Branch

#20525 [action] [PR:20511] [Mellanox]Adding new line to SN4700-O8V48 SAI profile (#20511)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/sai.profile
Labels: automerge

#18873 YANG Model for DHCP DoS Mitigation
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: YANG

#20527 [Arista] Update config.bcm of Arista-7260CX3-Q44 for handling 40g optics with unreliable los settings
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
Labels: Request for 202311 Branch, Request for 202405 Branch

#20538 [action] [PR:20384] [S6000] Fix 'show interface status' CLI needs sudo permission (#20384)
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
Labels: automerge

#20005 [action] [PR:19590] Prioritize configuration from config_db over constants.yml during BBR status initialization (#19590)
  src/sonic-bgpcfgd/bgpcfgd/managers_bbr.py
  src/sonic-bgpcfgd/tests/test_bbr.py
Labels: automerge

#20542 [action] [PR:20527] [Arista] Update config.bcm of Arista-7260CX3-Q44 for handling 40g optics with (#20527)
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
Labels: automerge

#20537 [action] [PR:20384] [S6000] Fix 'show interface status' CLI needs sudo permission (#20384)
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
Labels: automerge

#20541 [action] [PR:20527] [Arista] Update config.bcm of Arista-7260CX3-Q44 for handling 40g optics with (#20527)
  device/arista/x86_64-arista_7260cx3_64/Arista-7260CX3-Q64/config.bcm.j2
Labels: automerge

#20461 [Mellanox] Update SPC-1 SimX resource allocation
  device/mellanox/x86_64-mlnx_msn2700_simx-r0/installer.conf
Labels: Bug :bug:, Platform: Mellanox, Request for 202405 Branch

#20271 [Mellanox] Disable IOMMU for SN4280 platform
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Labels: Platform: Mellanox, Request for 202405 Branch

#19388 [Mellanox] use SDK sysfs for module low power mode control
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Request for 202405 Branch

#20564 [action] [PR:19701] [Mellanox] Disable SGX for SN5600/SN5400 platforms (#19701)
  device/mellanox/x86_64-nvidia_sn5400-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/installer.conf
Labels: automerge

#20563 [action] [PR:19947] Make sure logrotate send rsyslog HUP signal only if it is already running (#19947)
  files/image_config/logrotate/rsyslog.j2
Labels: automerge

#20562 [action] [PR:20232] Replace straightforward sonic-cfggen calls with sonic-db-cli (#20232)
  files/build_templates/docker_image_ctl.j2
  files/image_config/bannerconfig/banner-config.sh
  files/image_config/hostname/hostname-config.sh
  files/image_config/pcie-check/pcie-check.sh
  files/image_config/rsyslog/rsyslog-config.sh
Labels: automerge

#20561 [action] [PR:20271] [Mellanox] Disable IOMMU for SN4280 platform (#20271)
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Labels: automerge

#20560 [action] [PR:20461] [Mellanox] Update SPC-1 SimX resource allocation (#20461)
  device/mellanox/x86_64-mlnx_msn2700_simx-r0/installer.conf
Labels: automerge

#20397 [Mellanox] Fix the issue with ASIC detection on the SN4280 platform
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Platform: Mellanox, Cherry Pick Conflict_202405, Request for 202405 Branch

#20386 [Mellanox] Platform specific pcie changes for SN4280
  device/mellanox/x86_64-nvidia_sn4280-r0/pcie.yaml
Labels: Platform: Mellanox, Request for 202405 Branch

#20190 [Mellanox] Add functionality to handle empty EEPROM files
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Request for 202405 Branch

#19925 [Mellanox] enable the SDK api recording by default
  platform/mellanox/docker-syncd-mlnx/sai-common.profile
Labels: Request for 202405 Branch

#20489 [Broadcom] Upgrade xgs SAI version to 11.2.13.1
  platform/broadcom/sai.mk
Labels: Cherry Pick Conflict_202405, Request for 202405 Branch

#20512 Strip null bytes from parsed eeprom data before writing to db on S6000 platform
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
Labels: Platform: DellEMC, Request for 202305 Branch, Request for 202311 Branch, Request for 202405 Branch

#20582 [action] [PR:19717] [FRR] Zebra BGP enhancements to better handle memory during route churns (#19717)
  src/sonic-frr/patch/0030-zebra-backpressure-Zebra-push-back-on-Buffer-Stream-.patch
  src/sonic-frr/patch/0031-bgpd-backpressure-Add-a-typesafe-list-for-Zebra-Anno.patch
  src/sonic-frr/patch/0032-bgpd-fix-flushing-ipv6-flowspec-entries-when-peering.patch
  src/sonic-frr/patch/0033-bgpd-backpressure-cleanup-bgp_zebra_XX-func-args.patch
  src/sonic-frr/patch/0034-gpd-backpressure-Handle-BGP-Zebra-Install-evt-Creat.patch
  src/sonic-frr/patch/0035-bgpd-backpressure-Handle-BGP-Zebra-EPVN-Install-evt-.patch
  src/sonic-frr/patch/0036-zebra-backpressure-Fix-Null-ptr-access-Coverity-Issu.patch
  src/sonic-frr/patch/0037-bgpd-Increase-install-uninstall-speed-of-evpn-vpn-vn.patch
  src/sonic-frr/patch/0038-zebra-Actually-display-I-O-buffer-sizes.patch
  src/sonic-frr/patch/0039-zebra-Actually-display-I-O-buffer-sizes-part-2.patch
  src/sonic-frr/patch/0040-bgpd-backpressure-Fix-to-withdraw-evpn-type-5-routes.patch
  src/sonic-frr/patch/0041-bgpd-backpressure-Fix-to-avoid-CPU-hog.patch
  src/sonic-frr/patch/0042-zebra-Use-built-in-data-structure-counter.patch
  src/sonic-frr/patch/0043-zebra-Use-the-ctx-queue-counters.patch
  src/sonic-frr/patch/0044-zebra-Modify-dplane-loop-to-allow-backpressure-to-fi.patch
  src/sonic-frr/patch/0045-zebra-Limit-queue-depth-in-dplane_fpm_nl.patch
  src/sonic-frr/patch/0046-zebra-Modify-show-zebra-dplane-providers-to-give-mor.patch
  src/sonic-frr/patch/0047-bgpd-backpressure-fix-evpn-route-sync-to-zebra.patch
  src/sonic-frr/patch/0048-bgpd-backpressure-fix-to-properly-remove-dest-for-bg.patch
  src/sonic-frr/patch/0049-bgpd-backpressure-Improve-debuggability.patch
  src/sonic-frr/patch/0050-bgpd-backpressure-Avoid-use-after-free.patch
  src/sonic-frr/patch/0051-bgpd-backpressure-fix-ret-value-evpn_route_select_in.patch
  src/sonic-frr/patch/0052-bgpd-backpressure-log-error-for-evpn-when-route-inst.patch
  src/sonic-frr/patch/series
Labels: P0, automerge

#19580 Ntpd Error Log Caught by Log Analyzer Results in Test Cases Failure
  files/image_config/ntp/ntp-systemd-wrapper
Labels: Request for 202405 Branch

#19016 Add new redis database instance for BMP_STATE_DB.
  dockers/docker-database/database_config.json.j2
  dockers/docker-database/docker-database-init.sh
  files/build_templates/docker_image_ctl.j2
Labels: BMP

#20551 [dhcp_relay] Only check parent dhcrelay process in dhcprelayd
  src/sonic-dhcp-utilities/dhcp_utilities/common/utils.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcprelayd/dhcprelayd.py
  src/sonic-dhcp-utilities/tests/common_utils.py
  src/sonic-dhcp-utilities/tests/test_dhcprelayd.py
  src/sonic-dhcp-utilities/tests/test_utils.py
Labels: Request for 202405 Branch

#20612 [action] [PR:20512] Strip null bytes from parsed eeprom data before writing to db (#20512)
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
Labels: automerge

#20611 [action] [PR:20512] Strip null bytes from parsed eeprom data before writing to db (#20512)
  platform/broadcom/sonic-platform-modules-dell/s6000/sonic_platform/eeprom.py
Labels: automerge

#18641 PAC infra utils -logging
  src/sonic-pac/fpinfra/log/log.c
Labels: PAC

#18638 PAC infra sonic interface files
  src/sonic-pac/fpinfra/fpSonicUtils.cpp
  src/sonic-pac/fpinfra/fpnim.cpp
  src/sonic-pac/fpinfra/fpnim.h
  src/sonic-pac/fpinfra/nimsync.cpp
  src/sonic-pac/fpinfra/nimsync.h
Labels: PAC

#18632 Auth mgr generic header files
  src/sonic-pac/authmgr/mapping/include/auth_mgr.h
  src/sonic-pac/authmgr/mapping/include/auth_mgr_auth_method.h
  src/sonic-pac/authmgr/mapping/include/auth_mgr_cfg.h
  src/sonic-pac/authmgr/mapping/include/auth_mgr_client.h
  src/sonic-pac/authmgr/mapping/include/auth_mgr_control.h
  src/sonic-pac/authmgr/mapping/include/auth_mgr_debug.h
  src/sonic-pac/authmgr/mapping/include/auth_mgr_ih.h
  src/sonic-pac/authmgr/mapping/include/auth_mgr_include.h
  src/sonic-pac/authmgr/mapping/include/auth_mgr_struct.h
Labels: PAC

#18629 MAB protocol related header files
  src/sonic-pac/mab/protocol/include/mab_auth.h
  src/sonic-pac/mab/protocol/include/mab_db.h
  src/sonic-pac/mab/protocol/include/mab_local.h
  src/sonic-pac/mab/protocol/include/mab_mac_db.h
  src/sonic-pac/mab/protocol/include/mab_radius.h
  src/sonic-pac/mab/protocol/include/mab_timer.h
  src/sonic-pac/mab/protocol/include/mab_util.h
  src/sonic-pac/mab/protocol/include/mab_vlan.h
Labels: PAC

#18620 PAC changes to receive config updates
  src/sonic-pac/paccfg/Makefile.am
  src/sonic-pac/paccfg/pac_authmgrcfg.cpp
  src/sonic-pac/paccfg/pac_authmgrcfg.h
  src/sonic-pac/paccfg/pac_cfg_authmgr.cpp
  src/sonic-pac/paccfg/pac_cfg_authmgr.h
  src/sonic-pac/paccfg/pac_cfg_vlan.cpp
  src/sonic-pac/paccfg/pac_cfg_vlan.h
  src/sonic-pac/paccfg/pac_vlancfg.cpp
  src/sonic-pac/paccfg/pac_vlancfg.h
Labels: PAC

#20616 [action] [PR:20551] [dhcp_relay] Only check parent dhcrelay process in dhcprelayd (#20551)
  src/sonic-dhcp-utilities/dhcp_utilities/common/utils.py
  src/sonic-dhcp-utilities/dhcp_utilities/dhcprelayd/dhcprelayd.py
  src/sonic-dhcp-utilities/tests/common_utils.py
  src/sonic-dhcp-utilities/tests/test_dhcprelayd.py
  src/sonic-dhcp-utilities/tests/test_utils.py
Labels: automerge

#19476 [Mellanox] Module detection flow updates to support SW controlled ports for copper passive modules
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Request for 202405 Branch

#20565 [Nvidia-bluefield] Update SAI to SAIBuild0.0.36.0, SDK/FW to v24.10-RC2/v32.42.1000, BFSoC to 4.9.0
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: Platform: Mellanox

#20604 [action] [PR:20489] [Broadcom] Upgrade xgs SAI version to 11.2.13.1 (#20489)
  platform/broadcom/sai.mk
Labels: automerge

#20390 [202405][Mellanox] Fix retry logic on discovery of MST device
  files/scripts/syncd.sh
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Platform: Mellanox

#20644 [action] [PR:19968] [chassis] add condition is yang model to make lanes not mandatory for chassis (#19968)
  src/sonic-config-engine/tests/sample-chassis-packet-lc-graph.xml
  src/sonic-config-engine/tests/test_cfggen.py
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: automerge

#18626 MAB common header files for generic files
  src/sonic-pac/mab/mapping/include/mab_cfg.h
  src/sonic-pac/mab/mapping/include/mab_client.h
  src/sonic-pac/mab/mapping/include/mab_control.h
  src/sonic-pac/mab/mapping/include/mab_debug.h
  src/sonic-pac/mab/mapping/include/mab_ih.h
  src/sonic-pac/mab/mapping/include/mab_include.h
  src/sonic-pac/mab/mapping/include/mab_socket.h
  src/sonic-pac/mab/mapping/include/mab_struct.h
Labels: PAC

#20074 [Nvidia-bluefield] Add infrastructure for the DPU NIC FW auto upgrade
  device/nvidia-bluefield/arm64-nvda_bf-bf3comdpu/pre_reboot_hook
  files/build_templates/sonic_debian_extension.j2
  files/scripts/syncd.sh
  platform/nvidia-bluefield/bluefield-platform-modules/bin/bfnet.sh
  platform/nvidia-bluefield/installer/create_sonic_image
  platform/nvidia-bluefield/installer/install.sh.j2
  platform/nvidia-bluefield/recipes/installer-image.mk
  sonic-slave-bookworm/Dockerfile.j2
Labels: Platform: Mellanox

#19910 [Nvidia-bluefield] Extend BFB installer script to reset DPU after image installation
  platform/mellanox/sonic-bfb-installer.sh
Labels: Platform: Mellanox

#20415 Add a patch for scapy to fix fd leak issue in AsyncSniffer
  src/scapy.patch/0004-Fix-fd-leak-in-worker-thread.patch
  src/scapy.patch/series
Labels: Request for 202311 Branch, Request for 202405 Branch

#20621 [Mellanox] Fix the issue with ASIC detection on the SN4280 platform (#20397)
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: Platform: Mellanox

#20623 [Mellanox]Updating SAI profile with WCMP Normalization setting
  platform/mellanox/docker-syncd-mlnx/sai-common.profile
Labels: Platform: Mellanox

#20649 [action] [PR:20386] [Mellanox] Platform specific pcie changes for SN4280 (#20386)
  device/mellanox/x86_64-nvidia_sn4280-r0/pcie.yaml
Labels: automerge

#20658 [action] [PR:20528] [docker-ptf]: CI change to publish docker-ptf image to the docker registry (#20528)
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build.yml
Labels: automerge

#20657 [action] [PR:20528] [docker-ptf]: CI change to publish docker-ptf image to the docker registry (#20528)
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build.yml
Labels: automerge

#20656 [action] [PR:20528] [docker-ptf]: CI change to publish docker-ptf image to the docker registry (#20528)
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build.yml
Labels: automerge

#20620 [Mellanox] Extend Nvidia Bluefield DPU chassis implementation
  device/nvidia-bluefield/arm64-nvda_bf-bf3comdpu/pmon_daemon_control.json
  platform/nvidia-bluefield/platform-api/sonic_platform/chassis.py
  platform/nvidia-bluefield/platform-api/tests/test_chassis.py
Labels: Platform: Mellanox
