Repository sonic-net/sonic-buildimage, pull requests merged in 2024-03, with the labels that each got.

#18223 [Mellanox] Fix timing issue in lpmode change
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: Request for 202311 Branch

#18245 [action] [PR:18038] [build] Use public storage for public resources. (#18038)
  dockers/docker-base-buster/Dockerfile.j2
  dockers/docker-base-stretch/Dockerfile.j2
  files/build/versions/default/versions-web
  get_docker-base.sh
  platform/broadcom/rules.mk
  platform/components/docker-gbsyncd-credo.mk
  platform/nephos/rules.mk
  platform/vs/onie.mk
  sonic-slave-stretch/Dockerfile.j2
  src/ixgbe/Makefile
  src/socat/Makefile
  src/swig/Makefile
  src/thrift/Makefile
Labels: automerge

#17042 Check if PSU files exists when getting psu_voltage properties
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
Labels: Platform: Mellanox, NVIDIA

#18197 [Mellanox]Adding dependency of libnl-route-3 for Mellanox SAI library
  platform/mellanox/mlnx-sai.mk
Labels: Platform: Mellanox, Request for 202311 Branch

#18147 [Nokia-7215-A1] Update Nokia-7215-A1 Platform
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/installer.conf
  device/nokia/arm64-nokia_ixs7215_52xb-r0/pcie.yaml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/platform.json
  device/nokia/arm64-nokia_ixs7215_52xb-r0/platform_reboot
  device/nokia/arm64-nokia_ixs7215_52xb-r0/pmon_daemon_control.json
  device/nokia/arm64-nokia_ixs7215_52xb-r0/system_health_monitoring_config.json
  platform/marvell-arm64/sonic-platform-nokia/7215/modules/Makefile
  platform/marvell-arm64/sonic-platform-nokia/7215/modules/ac5_thermal_sensor.c
  platform/marvell-arm64/sonic-platform-nokia/7215/modules/cn9130_cpu_thermal_sensor.c
  platform/marvell-arm64/sonic-platform-nokia/7215/scripts/cpu_wdt.py
  platform/marvell-arm64/sonic-platform-nokia/7215/service/cpu_wdt.service
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/chassis.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/component.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/eeprom.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/fan.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/psu.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/sfp.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/thermal.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/thermal_infos.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/watchdog.py
  platform/marvell-arm64/sonic-platform-nokia/debian/rules
  platform/marvell-arm64/sonic-platform-nokia/debian/sonic-platform-nokia-7215.install
  platform/marvell-arm64/sonic-platform-nokia/debian/sonic-platform-nokia-7215.postinst
Labels: Request for 202311 Branch

#18251 [action] [PR:18146] [Mellanox] Extend the time to wait for EEPROM VPD file creation (#18146)
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
Labels: automerge

#18249 [action] [PR:17055] [eventd] Fix eventd UT flakiness (#17055)
  src/sonic-eventd/Makefile
  src/sonic-eventd/src/eventd.cpp
  src/sonic-eventd/src/eventd.h
  src/sonic-eventd/tests/eventd_ut.cpp
  src/sonic-eventd/tests/main.cpp
Labels: automerge

#18268 [action] [PR:18223] [Mellanox] Fix timing issue in lpmode change (#18223)
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#18265 [action] [PR:18185] [build] Update debootstrap version from deb11u1 to deb11u2 (#18185)
  rules/debootstrap.mk
Labels: automerge

#18252 [action] [PR:18147] [Nokia-7215-A1]Update Nokia-7215-A1 Platform (#18147)
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/installer.conf
  device/nokia/arm64-nokia_ixs7215_52xb-r0/pcie.yaml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/platform.json
  device/nokia/arm64-nokia_ixs7215_52xb-r0/platform_reboot
  device/nokia/arm64-nokia_ixs7215_52xb-r0/pmon_daemon_control.json
  device/nokia/arm64-nokia_ixs7215_52xb-r0/system_health_monitoring_config.json
  platform/marvell-arm64/sonic-platform-nokia/7215/modules/Makefile
  platform/marvell-arm64/sonic-platform-nokia/7215/modules/ac5_thermal_sensor.c
  platform/marvell-arm64/sonic-platform-nokia/7215/modules/cn9130_cpu_thermal_sensor.c
  platform/marvell-arm64/sonic-platform-nokia/7215/scripts/cpu_wdt.py
  platform/marvell-arm64/sonic-platform-nokia/7215/service/cpu_wdt.service
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/chassis.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/component.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/eeprom.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/fan.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/psu.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/sfp.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/thermal.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/thermal_infos.py
  platform/marvell-arm64/sonic-platform-nokia/7215/sonic_platform/watchdog.py
  platform/marvell-arm64/sonic-platform-nokia/debian/rules
  platform/marvell-arm64/sonic-platform-nokia/debian/sonic-platform-nokia-7215.install
  platform/marvell-arm64/sonic-platform-nokia/debian/sonic-platform-nokia-7215.postinst
Labels: automerge

#18280 [Build] Install k8s packages from sonic build storage to mitigate k8s source deprecation issue
  Makefile.work
  build_debian.sh
  rules/config
Labels: Build, Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch, Request for 202311 Branch

#18279 [e1031] replace host check command in celestica e1031
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/common.py
Labels: Request for 202305 Branch, Request for 202311 Branch

#18298 [action] [PR:18279] replace host check command in e1031 (#18279)
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/common.py
Labels: automerge

#18266 [Nokia-7215-A1][arm64]Update platform init files
  platform/marvell-arm64/platform.conf
  platform/marvell-arm64/sonic-platform-nokia/7215/modules/nokia_7215_ixs_a1_cpld.c
  platform/marvell-arm64/sonic-platform-nokia/7215/scripts/nokia-7215-init.sh
  platform/marvell-arm64/sonic_fit.its
Labels: Platform: Nokia

#18294 [armhf][Nokia-7215]Update HWSKU files for new SAI
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
Labels: Platform: Nokia, Request for 202311 Branch

#18267 [Nokia-7215-A1][arm64]Update platform init files
  platform/marvell-arm64/platform.conf
  platform/marvell-arm64/sonic-platform-nokia/7215/modules/nokia_7215_ixs_a1_cpld.c
  platform/marvell-arm64/sonic-platform-nokia/7215/scripts/nokia-7215-init.sh
  platform/marvell-arm64/sonic_fit.its
Labels: Platform: Nokia

#18157 Fix and improve k8s master image build process
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/template-skipvstest.yml
Labels: ci

#18311 Fix yang model for ICMP and ICMPV6
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: Request for 202305 Branch, Request for 202311 Branch

#18277 [YANG]: Add Yang model support for adding dom_polling to PORT table
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: yang, Cherry Pick Conflict_202205, Request for 202205 Branch, Request for 202305 Branch, Cherry Pick Conflict_202305, Request for 202311 Branch, Cherry Pick Conflict_202311

#18309 [action] [PR:18279] replace host check command in e1031 (#18279)
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/common.py
Labels: automerge

#18321 [minigraph-parser] Update UT to avoid race condition during build image
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: Request for 202012 Branch, Request for 202205 Branch, Request for 202305 Branch, Request for 202311 Branch

#18352 [action] [PR:18285] Set loglevel for crash kernel to reduce verbosity and improve overall router recovery time (#18285)
  files/image_config/kdump/kdump-tools
Labels: automerge

#18371 [action] [PR:18318] [Build] Fix the pygobject installation issue (#18318)
  files/build_templates/sonic_debian_extension.j2
Labels: automerge

#18138 [eventd] Add incremental polling when waiting for capture service to start
  src/sonic-eventd/src/eventd.cpp
  src/sonic-eventd/src/eventd.h
Labels: Request for 202305 Branch, Request for 202311 Branch

#18235 [Yang-model] Support dot in the additional information of the PFC watchdog event in the yang model
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
Labels: yang, Request for 202305 Branch, Request for 202311 Branch

#18351 [action] [PR:18285] Set loglevel for crash kernel to reduce verbosity and improve overall router recovery time (#18285)
  files/image_config/kdump/kdump-tools
Labels: automerge

#18346 [action] [PR:18321] Update minigraph testcases (#18321)
  src/sonic-config-engine/tests/test_minigraph_case.py
Labels: automerge

#18341 [action] [PR:17764] [systemd-sonic-generator] Fix handling service files with additional fields under [Install] section (#17764)
  src/systemd-sonic-generator/systemd-sonic-generator.c
  src/systemd-sonic-generator/tests/testfiles/test.service
Labels: automerge

#18327 [action] [PR:18311] Fix yang model for ICMP and ICMPV6 (#18311)
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Labels: automerge

#18320 [action] [PR:18294] [armhf][Nokia-7215]Update HWSKU files for new SAI (#18294)
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
Labels: automerge

#18310 [sonic-linkmgrd] bookworm upgrade
  dockers/docker-mux/Dockerfile.j2
  rules/docker-mux.mk
Labels: Bookworm

#17767 [YANG] Add an infrastructure to write pytest tests for the YANG model.
  src/sonic-yang-models/tests/yang_model_pytests/conftest.py
  src/sonic-yang-models/tests/yang_model_pytests/test_crm.py
  src/sonic-yang-models/tests/yang_model_pytests/test_dash_crm.py
  src/sonic-yang-models/tests/yang_model_pytests/test_smart_switch.py
  src/sonic-yang-models/tests/yang_model_tests/tests/crm.json
  src/sonic-yang-models/tests/yang_model_tests/tests/crm_dash.json
  src/sonic-yang-models/tests/yang_model_tests/tests/smart-switch.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/crm.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/crm_dash.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/smart-switch.json
Labels: yang

#18342 Upgrade SwSS to bookworm
  dockers/docker-orchagent/Dockerfile.j2
  rules/docker-orchagent.mk
Labels: Bookworm

#18293 [Mellanox] Support DSCP remapping in Dual-ToR topo for SN4700-O8V48, update buffers for t0
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/qos.json.j2
Labels: Request for 202305 Branch

#18386 [E1031] Bugfix for Python syntax error in sonic_platform/common.py
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/common.py
Labels: Request for 202305 Branch, Request for 202311 Branch

#18390 [action] [PR:18386] [E1031] Bugfix for Python syntax error in sonic_platform/common.py (#18386)
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/common.py
Labels: automerge

#18319 Fix debug package variables for syncd
  platform/vs/syncd-vs.mk
  rules/sairedis.mk
  rules/syncd.mk
Labels: Request for 202311 Branch

#18394 [action] [PR:18319] Fix debug package variables for syncd (#18319)
  platform/vs/syncd-vs.mk
  rules/sairedis.mk
  rules/syncd.mk
Labels: automerge

#18396 [action] [PR:18293] [Mellanox] Support DSCP remapping in Dual-ToR topo for SN4700-O8V48, update buffers for t0 (#18293)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/buffers_defaults_t0.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/qos.json.j2
Labels: automerge

#18211 add unit tests for CMIS host management feature
  platform/mellanox/mlnx-platform-api/tests/test_modules_mgmt.py
Labels: Platform: Mellanox, NVIDIA, Request for 202311 Branch

#18402 [action] [PR:18211] add unit tests for CMIS host management feature (#18211)
  platform/mellanox/mlnx-platform-api/tests/test_modules_mgmt.py
Labels: automerge

#18403 [action] [PR:18204] [Mellanox] Adding a new field to CONFIG DB: "subport" (#18204)
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-C128/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8V48/hwsku.json
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V48C32/hwsku.json
  src/sonic-config-engine/portconfig.py
  src/sonic-config-engine/tests/sample_hwsku.json
  src/sonic-device-data/tests/hwsku_json_checker
Labels: automerge

#17783 [dhcp_relay] Upgrade dhcp_relay container to bookworm
  dockers/docker-dhcp-relay/Dockerfile.j2
  rules/docker-dhcp-relay.mk
  rules/isc-dhcp.mk
  sonic-slave-bookworm/Dockerfile.j2
  src/isc-dhcp/patch/0002-Customizable-Option-82-circuit-ID-and-remote-ID-fiel.patch
  src/isc-dhcp/patch/0004-Support-for-loading-port-alias-map-file-to-replace-p.patch
  src/isc-dhcp/patch/0005-Add-enable-use-sockets-to-configure-flags-in-debian-.patch
  src/isc-dhcp/patch/0006-Bugfix-Ensure-HAVE_SO_BINDTODEVICE-has-a-chance-to-b.patch
  src/isc-dhcp/patch/0007-If-destination-of-BOOTREQUEST-is-directed-broadcast-.patch
  src/isc-dhcp/patch/0008-Don-t-skip-down-interfaces-when-discovering-interfac.patch
  src/isc-dhcp/patch/0009-Support-for-dual-tor-scenario.patch
  src/isc-dhcp/patch/0012-add-option-si-to-support-using-src-intf-ip-in-relay.patch
  src/isc-dhcp/patch/0013-Fix-dhcrelay-agent-option-buffer-pointer-logic.patch
  src/isc-dhcp/patch/0014-enable-parallel-build.patch
  src/isc-dhcp/patch/0015-option-to-set-primary-address-in-interface.patch
  src/isc-dhcp/patch/series
Labels: Bookworm

#18091 Missing container in list support in YANG Model #16704
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-mgmt/tests/libyang-python-tests/config_data.json
  src/sonic-yang-mgmt/tests/libyang-python-tests/sample-yang-models/test-yang-structure.yang
  src/sonic-yang-mgmt/tests/libyang-python-tests/test_SonicYang.json
Labels: yang

#18426 [action] [PR:17325] [gbsyncd]: Set SYSLOG_CONFIG_FEATURE for gbsyncd (#17325)
  files/scripts/gbsyncd.sh
Labels: automerge

#18425 [action] [PR:18197] [Mellanox]Adding dependency of libnl-route-3 for Mellanox SAI library (#18197)
  platform/mellanox/mlnx-sai.mk
Labels: automerge

#18424 [action] [PR:18235] Support dot in the additional information of the PFC watchdog event in the yang model (#18235)
  src/sonic-yang-models/tests/yang_model_tests/tests/sonic-events-swss.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/sonic-events-swss.json
  src/sonic-yang-models/yang-models/sonic-events-swss.yang
Labels: automerge

#18423 [action] [PR:18206] [sonic-dash-api]: Fix wrong path in sonic-dash-api.dep (#18206)
  rules/sonic-dash-api.dep
Labels: automerge

#18419 [Fixbug 18418] [Yang] MACSEC_PROFILE table does not match yang definition
  src/sonic-yang-models/tests/yang_model_tests/tests_config/macsec.json
  src/sonic-yang-models/yang-models/sonic-macsec.yang
Labels: Request for 202205 Branch, Request for 202211 Branch, Request for 202305 Branch, Request for 202311 Branch

#18443 [Mellanox][MFT]: Update MFT to 4.27.0-83: bash login fix
  platform/mellanox/mft.mk
  platform/mellanox/mft/Makefile
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#18422 [action] [PR:18386] [E1031] Bugfix for Python syntax error in sonic_platform/common.py (#18386)
  device/celestica/x86_64-cel_e1031-r0/sonic_platform/common.py
Labels: automerge

#18198 Fix arista_7800r3a_36d2_lc fabric link down issue
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Labels: Request for 202205 Branch, Request for 202305 Branch

#18324 [graceful reboot] Rename the platform_reboot to the pre_reboot_hook, remove the sysfs power cycle
  device/mellanox/x86_64-mlnx_lssn2700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_lssn2700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2010-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2010-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2100-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2100-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2410-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2410-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2700a1-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2700a1-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn2740-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn2740-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3420-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3420-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3700-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3700c-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3700c-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn3800-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn3800-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4410-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4410-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4600-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4600-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4600c-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4600c-r0/pre_reboot_hook
  device/mellanox/x86_64-mlnx_msn4700-r0/platform_reboot
  device/mellanox/x86_64-mlnx_msn4700-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn2201-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn2201-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn4800-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn4800-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn5600-r0/platform_reboot
  device/mellanox/x86_64-nvidia_sn5600-r0/pre_reboot_hook
Labels: Platform: Mellanox, NVIDIA

#17616 Do not pass the option "device" in rsyslog.conf by default when syslog server's source address is configured
  files/image_config/rsyslog/rsyslog.conf.j2
Labels: Request for 202305 Branch, Request for 202311 Branch

#18462 [202311][Mellanox][MFT]: Update MFT to 4.27.0-83: bash login fix
  platform/mellanox/mft.mk
  platform/mellanox/mft/Makefile
Labels: Enhancement :heavy_plus_sign:, Platform: Mellanox

#18463 [action] [PR:18185] [build] Update debootstrap version from deb11u1 to deb11u2 (#18185)
  rules/debootstrap.mk
Labels: automerge

#18361 [202311][Mellanox]Remove log in RAM kernel option for 2700 A1 platform
  device/mellanox/x86_64-mlnx_msn2700a1-r0/installer.conf
Labels: Platform: Mellanox

#18464 [Arista] Update phy-credo package for bookworm
  rules/phy-credo.mk
Labels: Platform: Arista

#18207 [Yang-models] Update sonic-vlan.yang to better constrain Vlan name
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: yang

#18393 [supervisor][sfm]Fix the issue of swss.sh shows backtrace when shutdown a SFM
  files/scripts/asic_status.py
Labels: Chassis for 202205 branch
