Repository sonic-net/sonic-buildimage, pull requests merged in 2025-08, with the labels that each got.

#23539 [Broadcom] Upgrade xgs SAI version to 13.2.1.2
  platform/broadcom/sai.mk
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for 202505 Branch, Cherry Pick Conflict_202505

#23550 [action] [PR:23526] marvell-prestera sai version 1.16.1-2
  platform/marvell-prestera/sai.mk
Labels: automerge

#23551 [action] [PR:23530] [Nokia-7215-T1][7215-A1] Update EZB XML for SAI 1_16
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
Labels: automerge

#23422 [trim]: Add Packet Trimming Drop Counters YANG model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: Feature Request :rocket:, Request for msft-202412 Branch, Request for 202505 Branch

#23511 Blacklist amd_sfh for Shearwater and Redstart in Aboot
  files/Aboot/boot0.j2
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23344 [Arista] Add new hwsku Arista-7060X6-64PE-P32V128
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-P32V128/hwsku.json
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-P32V128/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-P32V128/sai.profile
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-P32V128/th5-a7060x6-64pe.config.bcm
Labels: Request for 202505 Branch, Approved for 202505 Branch

#23580 [action] [PR:23540] Upgrade libsaibroncos debian package to version 3.12
  platform/components/docker-gbsyncd-broncos.mk
Labels: automerge

#23579 [action] [PR:22315] [smartswitch] Enable watchdog utility for DPUs
  files/image_config/watchdog-control/watchdog-control.sh
Labels: automerge

#23581 [action] [PR:23528] Extend router types BackendLeafRouter and BackendToRRouter
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/qos.json.j2
  files/build_templates/qos_config.j2
Labels: automerge

#23564 Bullseye is EOL, use the archive repo
  scripts/build_mirror_config.sh
Labels: Request for 202411 Branch, Request for msft-202412 Branch, Request for msft-202503 Branch, Request for 202505 Branch, Request for msft-202506 Branch

#23514 Use new .bcm Arista-7060X6-16PE-384C-B-O128S2 config supplied by Broadcom
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/th5-a7060x6-16pe-384c.config.bcm
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23587 [action] [PR:23511] Blacklist amd_sfh for Shearwater and Redstart in Aboot
  files/Aboot/boot0.j2
Labels: automerge

#23594 [action] [PR:23514] Use new .bcm Arista-7060X6-16PE-384C-B-O128S2 config supplied by Broadcom
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/th5-a7060x6-16pe-384c.config.bcm
Labels: automerge

#23070 [T2][Arista 7808]: Remove empty port_config.ini files for arista supervisors
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/0/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/1/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/10/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/11/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/2/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/3/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/4/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/5/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/6/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/7/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/8/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/9/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/0/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/1/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/10/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/11/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/12/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/13/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/14/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/15/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/16/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/17/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/2/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/3/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/4/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/5/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/6/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/7/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/8/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/9/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/0/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/1/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/10/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/11/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/2/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/3/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/4/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/5/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/6/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/7/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/8/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/9/port_config.ini
Labels: Request for 202405 Branch, Request for msft-202405 Branch, Approved for msft-202405 Branch, Request for 202505 Branch

#23588 [action] [PR:23564] Bullseye is EOL, use the archive repo
  scripts/build_mirror_config.sh
Labels: automerge

#23035 [action] [PR:22553] [build] Fix kdump build failure (Fixes 5097 17023)
  src/kdump-tools/patch/0004-disable-kdump-load-check.patch
  src/kdump-tools/patch/series
Labels: automerge

#23633 [Mellanox] Update SAI to 2505.33.0.0 and SDK/FW to 4.8.1036/2016.1036, SIMx to 25.7-1093
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox, Request for 202505 Branch

#23637 [action] [PR:23070] [T2][Arista 7808]: Remove empty port_config.ini files for arista supervisors
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/0/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/1/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/10/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/11/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/2/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/3/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/4/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/5/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/6/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/7/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/8/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7804R3-FM/9/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/0/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/1/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/10/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/11/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/12/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/13/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/14/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/15/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/16/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/17/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/2/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/3/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/4/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/5/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/6/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/7/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/8/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3-FM/9/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/0/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/1/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/10/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/11/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/2/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/3/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/4/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/5/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/6/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/7/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/8/port_config.ini
  device/arista/x86_64-arista_7800_sup/Arista-7808R3A-FM/9/port_config.ini
Labels: automerge

#23648 [action] [PR:22553] [build] Fix kdump build failure (Fixes 5097 17023)
  src/kdump-tools/patch/0004-disable-kdump-load-check.patch
  src/kdump-tools/patch/series
Labels: automerge

#23624 [yang] Add test for verifying nexthop_group configuration
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
Labels: Request for 202505 Branch

#23309 Nokia D4 platform - QoS buffer pool configurations
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/buffers_defaults_t0.j2
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/buffers_defaults_t1.j2
Labels: Request for 202505 Branch

#23295 [Nokia-7215-A1] Fix init script to run only once
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.xml
  platform/marvell-prestera/sonic-platform-nokia/7215-a1/scripts/nokia-7215-init.sh
Labels: Request for 202505 Branch

#23381 [Mellanox] Update QoS to disable port alpha
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/sai.profile
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/sai.profile
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/sai.profile
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/sai.profile
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/sai.profile
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for 202505 Branch, Cherry Pick Conflict_202505

#22638 [Arista SKUs] Use more generic JSON reboot cause extra info file
  device/arista/x86_64-arista_common/platform_update_reboot_cause
Labels: Request for msft-202405 Branch, Cherry Pick Conflict_msft-202405

#23569 Fix BGP Template issue on UpperSpineRouter
  dockers/docker-fpm-frr/frr/bgpd/templates/general/policies.conf.j2
  src/sonic-bgpcfgd/tests/data/general/policies.conf/param_all_UpperSpineRouter.json
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all_UpperSpineRouter.conf
Labels: Request for 202505 Branch

#23600 Fix subport of Moby backplane ports
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/hwsku.json
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/hwsku.json
  src/sonic-config-engine/portconfig.py
  src/sonic-yang-models/tests/yang_model_tests/tests/port.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/port.json
  src/sonic-yang-models/yang-models/sonic-port.yang
Labels: Request for 202505 Branch, Cherry Pick Conflict_202505

#23689 [Moby] Fix platform.json and platform components
  device/arista/x86_64-arista_7060x6_16pe_384c/platform.json
  device/arista/x86_64-arista_7060x6_16pe_384c/platform_components.json
  device/arista/x86_64-arista_7060x6_16pe_384c_b/platform.json
  device/arista/x86_64-arista_7060x6_16pe_384c_b/platform_components.json
Labels: Request for 202505 Branch

#23676 [action] [PR:23458] [Mellanox] Add common sai.profile per asic and asic_detect.sh script
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/sai.profile
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/sai.profile
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/ACS-SN5640/sai.profile
  files/build_templates/docker_image_ctl.j2
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/asic_detect/asic_detect.sh
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/sai-spc1.profile
  platform/mellanox/docker-syncd-mlnx/sai-spc2.profile
  platform/mellanox/docker-syncd-mlnx/sai-spc3.profile
  platform/mellanox/docker-syncd-mlnx/sai-spc4.profile
  platform/mellanox/docker-syncd-mlnx/sai-spc5.profile
  platform/mellanox/mlnx-fw-upgrade.j2
  platform/nvidia-bluefield/docker-syncd-bluefield/Dockerfile.j2
  platform/nvidia-bluefield/docker-syncd-bluefield/sai-bf3.profile
  platform/nvidia-bluefield/installer/install.sh.j2
Labels: automerge

#23711 [action] [PR:23569] Fix BGP Template issue on UpperSpineRouter
  dockers/docker-fpm-frr/frr/bgpd/templates/general/policies.conf.j2
  src/sonic-bgpcfgd/tests/data/general/policies.conf/param_all_UpperSpineRouter.json
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all_UpperSpineRouter.conf
Labels: automerge

#23627 [action] [PR:23122] build: add INCLUDE_VS_DASH_SAI flag to make dash-sai compilation optional
  platform/vs/syncd-vs.mk
  rules/config
  slave.mk
Labels: automerge

#23738 [action] [PR:22066] [Mellanox] Add Spectrum-5 FW support
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/fw.dep
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-fw-upgrade.j2
Labels: automerge

#23694 Fix Debian repos used for Bullseye-based containers
  scripts/build_mirror_config.sh
Labels: Request for 202411 Branch, Request for 202505 Branch

#23760 [action] [PR:23694] Fix Debian repos used for Bullseye-based containers
  scripts/build_mirror_config.sh
Labels: automerge

#23762 [action] [PR:22917] [build] Fix sonic-utilities-data submodule dep
  rules/sonic-utilities-data.dep
Labels: automerge

#23752 [dhcp_server] Fix dhcp_server show info issue
  dockers/docker-dhcp-server/cli-plugin-tests/test_show_dhcp_server.py
  dockers/docker-dhcp-server/cli/show/plugins/show_dhcp_server.py
Labels: Request for 202405 Branch, Request for 202411 Branch, Request for 202505 Branch

#23460 Disable /tmp in RAM on all platforms
  files/initramfs-tools/union-mount.j2
Labels: Request for 202505 Branch

#23769 Fix PSU led controllable status for Arista-7060X6-64PE-B
  device/arista/x86_64-arista_7060x6_64pe_b/platform.json
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23786 [action] [PR:23460] Disable /tmp in RAM on all platforms
  files/initramfs-tools/union-mount.j2
Labels: automerge

#23493 [nvidia-bluefield] Add nasa cli helper script
  files/build_templates/sonic_debian_extension.j2
  platform/nvidia-bluefield/nasa-cli-helper/nasa-cli-helper.py
Labels: Platform: Mellanox, Request for msft-202506 Branch

#23790 [smartswitch][YANG] Add midplane_ipv4 to DPU
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_pytests/test_smart_switch.py
  src/sonic-yang-models/yang-models/sonic-smart-switch.yang
Labels: Request for 202505 Branch, Cherry Pick Conflict_202505
