Repository sonic-net/sonic-buildimage, pull requests merged in 2025-04, with the labels that each got.

#21419 [Mellanox][Smartswitch]Removal of Dark mode service
  device/mellanox/x86_64-nvidia_sn4280-r0/services.conf
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/rshim/files/rshim-manager.service
  platform/mellanox/smartswitch/dpuctl/dpu.conf
  platform/mellanox/smartswitch/dpuctl/dpuctl.service
  platform/mellanox/smartswitch/dpuctl/dpuctl.sh
Labels: Platform: Mellanox, smartswitch

#21985 [Mellanox][Smartswitch] Added symlink to 4700 for media settings and optics settings
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/media_settings.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/optics_si_settings.json
Labels: Platform: Mellanox, Request for 202411 Branch

#22057 [Mellanox][Smartswitch] Addition of power off cause
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
  platform/mellanox/mlnx-platform-api/tests/test_module.py
Labels: Platform: Mellanox, smartswitch

#21772 Bump up /dev/shm size for Broadcom platforms to 512MB by default
  files/build_templates/docker_image_ctl.j2
Labels: Request for 202405 Branch, Request for 202411 Branch

#22165 Port Fix from FRR community for issue https://github.com/FRRouting/frr/issues/18493 in sonic-frr(FRR 10.0.1)
  src/sonic-frr/patch/0084-lib-Return-duplicate-prefix-list-entry-test.patch
  src/sonic-frr/patch/series
Labels: Request for 202411 Branch, Approved for 202411 Branch, Cherry Pick Conflict_202411

#22094 [Mellanox] Update SDK/FW Version to 4.7.2214/2014.2214
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox, Request for 202411 Branch, Cherry Pick Conflict_202411

#22152 [Mellanox] SN5600 and SN5610N SerDes signal integrity update
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/media_settings.json
Labels: Request for msft-202412 Branch

#22001 Adding `custom_feature_start_tx_threshold=20` on Arista SKUs
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: Request for msft-202405 Branch, Approved for msft-202405 Branch

#22251 [action] [PR:22187] extend frr reconnect bmp retry interval from 1-2s into 10-15s.
  dockers/docker-fpm-frr/frr/bgpd/bgpd.main.conf.j2
  src/sonic-config-engine/tests/sample_output/py2/bgpd_frr_bmp.conf
  src/sonic-config-engine/tests/sample_output/py3/bgpd_frr_bmp.conf
Labels: automerge

#21845 [Mellanox] [Smartswitch] Fix sensors file for Smartswitch
  device/mellanox/x86_64-nvidia_sn4280-r0/sensors.conf
Labels: Platform: Mellanox, Request for 202411 Branch

#21551 [action] [PR:17113] [Build] Deprecate the mirror packages.trafficmanager.net/debian
  scripts/build_mirror_config.sh
Labels: automerge

#21942 [Nokia] Lower the default warning threshold for fabric capacity
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/fabric_monitor_config.json
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/fabric_monitor_config.json
Labels: Request for 202411 Branch, Request for msft-202405 Branch, Approved for msft-202405 Branch

#21864 [Nokia][Device] Add BCM DNX soc properties to set STAN_ALN mode correctly
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
Labels: P0, Request for 202411 Branch, Cherry Pick Conflict_202411

#22077 Add support for Arista-7060X6-64PE-B-C448O16, Arista-7060X6-64PE-B-C512S2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/hwsku.json
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/sai.profile
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/hwsku.json
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/sai.profile
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/default_sku
  device/arista/x86_64-arista_7060x6_64pe_b/platform.json
  device/arista/x86_64-arista_7060x6_64pe_b/platform_asic
  device/arista/x86_64-arista_7060x6_64pe_b/platform_components.json
  device/arista/x86_64-arista_7060x6_64pe_b/platform_env.conf
  device/arista/x86_64-arista_7060x6_64pe_b/platform_reboot
  device/arista/x86_64-arista_7060x6_64pe_b/plugins
  device/arista/x86_64-arista_7060x6_64pe_b/pmon_daemon_control.json
  device/arista/x86_64-arista_7060x6_64pe_b/sensors.conf
  device/arista/x86_64-arista_7060x6_64pe_b/system_health_monitoring_config.json
  device/arista/x86_64-arista_7060x6_64pe_b/thermal_policy.json
Labels: Request for msft-202412 Branch

#18645 PAC infra OS abstraction files
  src/sonic-pac/fpinfra/osapi/init_platform_config.c
  src/sonic-pac/fpinfra/osapi/osapi.c
  src/sonic-pac/fpinfra/osapi/osapi_file.c
  src/sonic-pac/fpinfra/osapi/osapi_rwlock.c
  src/sonic-pac/fpinfra/osapi/osapi_sem.c
  src/sonic-pac/fpinfra/osapi/osapi_support.c
  src/sonic-pac/fpinfra/osapi/osapi_time.c
  src/sonic-pac/fpinfra/osapi/osapi_util.c
  src/sonic-pac/fpinfra/osapi/proc_osapi_msg.c
  src/sonic-pac/fpinfra/osapi/proc_osapi_task.c
Labels: PAC

#18635 Authmgr core functionality include files
  src/sonic-pac/authmgr/protocol/include/auth_mgr_db.h
  src/sonic-pac/authmgr/protocol/include/auth_mgr_mac_db.h
  src/sonic-pac/authmgr/protocol/include/auth_mgr_radius.h
  src/sonic-pac/authmgr/protocol/include/auth_mgr_sm.h
  src/sonic-pac/authmgr/protocol/include/auth_mgr_timer.h
  src/sonic-pac/authmgr/protocol/include/auth_mgr_txrx.h
  src/sonic-pac/authmgr/protocol/include/auth_mgr_util.h
  src/sonic-pac/authmgr/protocol/include/auth_mgr_vlan.h
  src/sonic-pac/authmgr/protocol/include/auth_mgr_vlan_db.h
Labels: PAC

#18628 MAB control function changes
  src/sonic-pac/mab/mapping/mab_control.c
  src/sonic-pac/mab/mapping/mab_sid/mab_sid.c
  src/sonic-pac/mab/mapping/mab_sid/mab_sid.h
  src/sonic-pac/mab/mapping/mab_sid/mab_sid_const.h
Labels: PAC

#18625 MAB makefile and common header files
  src/sonic-pac/mab/Makefile.am
  src/sonic-pac/mab/common/mab_api.h
  src/sonic-pac/mab/common/mab_common.h
  src/sonic-pac/mab/common/mab_exports.h
Labels: PAC

#18633 Authmgr event handling and other functionality
  src/sonic-pac/authmgr/mapping/auth_mgr_cfg.c
  src/sonic-pac/authmgr/mapping/auth_mgr_client.c
  src/sonic-pac/authmgr/mapping/auth_mgr_cnfgr.c
  src/sonic-pac/authmgr/mapping/auth_mgr_control.c
  src/sonic-pac/authmgr/mapping/auth_mgr_debug.c
  src/sonic-pac/authmgr/mapping/auth_mgr_dot1x.c
  src/sonic-pac/authmgr/mapping/auth_mgr_ih.c
  src/sonic-pac/authmgr/mapping/auth_mgr_mab.c
  src/sonic-pac/authmgr/mapping/auth_mgr_socket.c
Labels: PAC

#22284 Add aboot entry for Arista-7060X6-64PE-B-C448O16, Arista-7060X6-64PE-B-C512S2
  files/Aboot/boot0.j2
Labels: Request for msft-202412 Branch, Approved for msft-202412 Branch, Created PR to msft-202412 Branch

#22221 Set SAI_NUM_ECMP_MEMBERS for arista 7060x6_16pe_384c and 7060x6_b_64pe
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/sai.profile
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/sai.profile
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/sai.profile
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/sai.profile
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/sai.profile
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/sai.profile
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-O128S2/sai.profile
Labels: Request for msft-202412 Branch

#22266 [nvidia-bluefield] Fix the issue with the SDK compilation caused by missing dependencies.
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: Platform: Mellanox

#21833 [action] [PR:21775] [chassis-packet] Allow Fallback Route to get programmed on Downstream LC
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/policies.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/policies.conf/result_chasiss_packet.conf
Labels: automerge

#22034 [Nokia 7250e] enable crashkernel
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/installer.conf
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/installer.conf
Labels: Request for 202411 Branch, Request for msft-202405 Branch, Approved for msft-202405 Branch

#22304 [Yang] Support M1/M2/M3 in device metadata Yang model
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: YANG

#22260 [nvidia-bluefield] Update MFT to v4.30.2-23.
  platform/nvidia-bluefield/recipes/mft.mk
Labels: Platform: Mellanox

#22268 [mellanox] Update path to the rshim package location.
  platform/mellanox/rshim/Makefile
Labels: Platform: Mellanox

#22298 [nvidia-bluefield] Update BlueField SOC to version 4.11.0-13582
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
Labels: Platform: Mellanox

#22301 [nvidia-bluefield] Add additional SDK dependencies.
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: Platform: Mellanox

#22067 [Mellanox] Update SN56xx relevant SKUs buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/qos.json.j2
Labels: Request for msft-202412 Branch

#22286 [Smartswitch][Mellanox] Bug fix for module midplane ip address
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
  platform/mellanox/mlnx-platform-api/tests/test_module.py
Labels: Platform: Mellanox

#22331 [action] [PR:21158] [ci] Stop building slave docker for jessie and march
  .azure-pipelines/docker-sonic-slave.yml
Labels: automerge

#22275 [Mellanox] Enable packet trimming for service ports in SPC4 relevant SKUs
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/sai.profile
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/sai.profile
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/sai.profile
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/sai.profile
Labels: Request for msft-202412 Branch

#22241 [BGPCFGD] Eliminate the possibility of changing key size during iteration over notification dictionary
  src/sonic-bgpcfgd/bgpcfgd/directory.py
  src/sonic-bgpcfgd/bgpcfgd/managers_srv6.py
Labels: Request for msft-202412 Branch

#22242 [BGPCFGD] Optimize bgpcfgd directory dependencies design
  src/sonic-bgpcfgd/bgpcfgd/manager.py
  src/sonic-bgpcfgd/bgpcfgd/managers_srv6.py
  src/sonic-bgpcfgd/tests/test_srv6.py
Labels: Request for msft-202412 Branch

#22098 [Bgpcfgd][YANG] Remove the prefix matching constraint in sonic-srv6.yang and add prefix match checking in bgpcfgd
  src/sonic-bgpcfgd/bgpcfgd/managers_srv6.py
  src/sonic-bgpcfgd/tests/test_srv6.py
  src/sonic-yang-models/tests/yang_model_tests/tests/srv6.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/srv6.json
  src/sonic-yang-models/yang-models/sonic-srv6.yang
Labels: Request for msft-202412 Branch

#22101 [ARP_UPDATE] Update arp_update tool suite to resolve static-route neighbors for BT0
  files/build_templates/arp_update_vars.j2
  files/scripts/arp_update
Labels: Request for msft-202412 Branch

#22285 Yang model changes for additional SpineRouter roles
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: Request for msft-202503 Branch

#22252 [Yang model] Support empty string in pfc_enable and pfc_wd_enable fields in PORT_QOS_MAP table
  src/sonic-yang-models/tests/yang_model_tests/tests/qosmaps.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-port-qos-map.yang
Labels: Request for msft-202412 Branch

#22278 [yang] add SRv6 counters yang
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: Request for msft-202412 Branch

#22368 [action] [PR:22172] [CI]Add a pipeline to generates daily, successful virtual SONiC images
  .azure-pipelines/official-build-vs-with-test.yml
Labels: automerge

#22367 [action] [PR:22172] [CI]Add a pipeline to generates daily, successful virtual SONiC images
  .azure-pipelines/official-build-vs-with-test.yml
Labels: automerge

#22339 [DT2] Add symlink: Arista-7060X6-64PE -> Arista-7060X6-64PE-P64
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-P64
Labels: Request for 202411 Branch

#22423 [action] [PR:22387] [CI]Add missed variables template for build offical vs image with test
  .azure-pipelines/official-build-vs-with-test.yml
Labels: automerge

#22422 [action] [PR:22387] [CI]Add missed variables template for build offical vs image with test
  .azure-pipelines/official-build-vs-with-test.yml
Labels: automerge

#22347 Fix staticroutebfd's handling on blackhole static routes and static routes that only have partial info correctly
  src/sonic-bgpcfgd/staticroutebfd/main.py
  src/sonic-bgpcfgd/tests/test_static_rt_bfd.py
Labels: Request for msft-202412 Branch

#22375 Fix Arista-7060X6-64PE-B-C512S2 Arista-7060X6-64PE-B-C448O16 HWSKUs and Add initial buffer config
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/th5-a7060x6-64pe.config.bcm
Labels: Request for msft-202412 Branch

#22421 [action] [PR:22387] [CI]Add missed variables template for build offical vs image with test
  .azure-pipelines/official-build-vs-with-test.yml
Labels: automerge

#18637 PAC infra and utils make file changes
  src/sonic-pac/fpinfra/Makefile.am
  src/sonic-pac/fpinfra/configure.ac
Labels: PAC

#18619 Changes to Handle PAC Mgr updates.
  src/sonic-pac/pacmgr/Makefile.am
  src/sonic-pac/pacmgr/pacmgr.cpp
  src/sonic-pac/pacmgr/pacmgr.h
  src/sonic-pac/pacmgr/pacmgr_main.cpp
Labels: PAC

#18627 MAB generic files
  src/sonic-pac/mab/mapping/mab_api.c
  src/sonic-pac/mab/mapping/mab_auth_mgr.c
  src/sonic-pac/mab/mapping/mab_cfg.c
  src/sonic-pac/mab/mapping/mab_client.c
  src/sonic-pac/mab/mapping/mab_debug.c
  src/sonic-pac/mab/mapping/mab_ih.c
  src/sonic-pac/mab/mapping/mab_init.c
  src/sonic-pac/mab/mapping/mab_socket.c
Labels: PAC

#21955 Adjust default fabric capacity warning threshold for 7800R3A-36DM2-LC-X
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/fabric_monitor_config.json
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/fabric_monitor_config.json
Labels: Request for 202411 Branch, Request for msft-202405 Branch

#22445 Added slice_type in DEVICE_NEIGHBOR_METADATA yang model
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_neighbor_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_neighbor_metadata.yang
Labels: Request for 202411 Branch, Request for msft-202405 Branch

#22439 [resolv-config] Improve container resolv.conf update mechanism
  files/build_templates/docker_image_ctl.j2
  files/image_config/resolv-config/update-containers
Labels: Request for 202411 Branch

#22358 Fix issue that the egress zero lossy profile is not defined in dynamic mode on SN5600/SN5610/SN5640
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
Labels: Request for msft-202412 Branch

#22474 [Mellanox] Split buffer queue configuration in the buffer template for SN5610/SN5600/SN5640 SKUs
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#22424 Fix package version conflict introduced by PR #15890
  build_debian.sh
  dockers/docker-config-engine-bullseye/Dockerfile.j2
  dockers/docker-config-engine-buster/Dockerfile.j2
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Labels: Request for 202012 Branch, Request for 202106 Branch, Request for 202111 Branch, Cherry Pick Conflict_202012, Cherry Pick Conflict_202106, Cherry Pick Conflict_202111, Cherry Pick Conflict_202205, Request for 202205 Branch, Request for 202211 Branch

#22477 [sonic-T2][VoQ chassis] : Update DNX SAI to version 11.2.31.1
  platform/broadcom/sai.mk
Labels: Request for msft-202405 Branch
