Repository sonic-net/sonic-buildimage, pull requests merged in 2025-01, with the labels that each got.

#21298 [Mellanox] Update SDK/FW to 4.7.2152/2014.2152
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Request for 202411 Branch, Request for msft-202412 Branch

#21255 Enhanced minigraph parser for packet-chasiss production graph
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/minigraph-str2-temp-2-lc04.xml
  src/sonic-config-engine/tests/test_cfggen.py
Labels: Request for 202405 Branch, Request for 202411 Branch

#21274 [action] [PR:20753] [marvell]: remove marvell from pfc_to_pg_map supported asic list (#20753)
  files/build_templates/qos_config.j2
Labels: automerge

#21214 [action] [PR:21035] Platform DCS-7060DX5-32 MMU rollback to avoid dependancy on Broadcom (#21035)
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/BALANCED
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/buffers.json.j2
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/qos.json.j2
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/th4-a7060dx5-32.config.bcm
Labels: automerge

#21320 [RDMA] correct egress buffer size for Arista-7050CX3-32S-D48C8 DualToR
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/buffers_defaults_t0.j2
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7050cx3-dualtor-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7050cx3-dualtor.json
Labels: Request for 202311 Branch, Approved for 202405 Branch, Request for 202411 Branch

#21316 Update snmpd.conf.j2 prolong agentXTimeout to avoid timeout failure in high CPU utilization scenario
  dockers/docker-snmp/snmpd.conf.j2
Labels: P0, Request for 202405 Branch, Request for 202411 Branch

#21350 [action] [PR:21316] Update snmpd.conf.j2 prolong agentXTimeout to avoid timeout failure in high CPU utilization scenario
  dockers/docker-snmp/snmpd.conf.j2
Labels: automerge

#21349 [action] [PR:21316] Update snmpd.conf.j2 prolong agentXTimeout to avoid timeout failure in high CPU utilization scenario
  dockers/docker-snmp/snmpd.conf.j2
Labels: automerge

#21354 [ci] Disable vstest job in Test stage.
  azure-pipelines.yml
Labels: Request for 202305 Branch, Request for 202311 Branch, Request for 202405 Branch, Request for 202411 Branch

#21153 [action] [PR:20323] Platform DCS-7060DX5-64S misc update (#20323)
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-200Gx48-100Gx32/th4-a7060dx5-32-200Gx48-100Gx32.config.bcm
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32-25Gx96-100Gx8-200Gx8/th4-a7060dx5-32-25Gx96-100Gx8-200Gx8.config.bcm
  device/arista/x86_64-arista_7060dx5_32/Arista-7060DX5-32/th4-a7060dx5-32.config.bcm
  device/arista/x86_64-arista_7060dx5_64s/Arista-7060DX5-64S/blackhawk.xml
  device/arista/x86_64-arista_7060dx5_64s/Arista-7060DX5-64S/media_settings.json
  device/arista/x86_64-arista_7060dx5_64s/Arista-7060DX5-64S/port_config.ini
  device/arista/x86_64-arista_7060dx5_64s/Arista-7060DX5-64S/th4-a7060dx5-64s.config.bcm
  device/arista/x86_64-arista_7060dx5_64s/platform.json
  device/arista/x86_64-arista_7060dx5_64s/platform_components.json
  device/arista/x86_64-arista_7060px5_64s/Arista-7060PX5-64S/gearbox_config.json
Labels: automerge

#21356 [action] [PR:21146] Apply Zebra fpm backpressure patches to dplane_fpm_sonic
  src/sonic-frr/dplane_fpm_sonic/dplane_fpm_sonic.c
Labels: automerge

#21299 [chassis] Add sai_postinit_cmd.soc with interrupt IDs for alerting
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/sai_postinit_cmd.soc
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/sai_postinit_cmd.soc
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/sai_postinit_cmd.soc
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/sai_postinit_cmd.soc
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/sai_postinit_cmd.soc
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/sai_postinit_cmd.soc
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/sai_postinit_cmd.soc
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/sai_postinit_cmd.soc
Labels: Request for 202405 Branch, Request for 202411 Branch

#21245 Add script to periodically update oper status of management interface
  files/build_templates/sonic_debian_extension.j2
  files/image_config/monit/conf.d/sonic-host
  files/image_config/monit/mgmt_oper_status.py
  files/image_config/monit/tests/test_mgmt_oper_status.py
Labels: P0, Chassis :robot:, Request for msft-202405 Branch, Cherry Pick Conflict_msft-202405

#21362 [Arista] Update flex counters config for Arista-7060X6-64PE-C256S2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/th5-a7060x6-64pe.config.bcm
Labels: Request for 202405 Branch, Request for 202411 Branch

#21156 Add SRv6 support in Bgpcfgd
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_srv6.py
  src/sonic-bgpcfgd/tests/test_srv6.py
Labels: Request for msft-202412 Branch

#21380 FRR CLI for SRv6 static
  src/sonic-frr/patch/0077-frr-vtysh-dependencies-for-srv6-static-patches.patch
  src/sonic-frr/patch/0078-vtysh-de-conditionalize-and-reorder-install-node.patch
  src/sonic-frr/patch/0079-staticd-add-support-for-srv6.patch
  src/sonic-frr/patch/series
Labels: Request for msft-202412 Branch

#21175 [YANG] Add srv6 yang model and unit tests
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/yang_model_tests/tests/srv6.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/srv6.json
  src/sonic-yang-models/yang-models/sonic-srv6.yang
Labels: YANG, Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21408 [action] [PR:21050] [nvidia-bluefield] Remove the virtual smart switch leftovers.
  platform/nvidia-bluefield/bluefield-platform-modules/bin/bfnet.sh
Labels: automerge

#21407 [action] [PR:21059] [nvidia-bluefield] Extend platform dump.
  platform/nvidia-bluefield/bluefield-platform-modules/bin/platform-dump.sh
Labels: automerge

#21404 [action] [PR:21134] Upgrade libasan to version 8 in docker-syncd-mlnx to align with bookworm libasan
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
Labels: automerge

#21402 [action] [PR:21298] [Mellanox] Update SDK/FW to 4.7.2152/2014.2152
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: automerge

#21377 Fix docker auto restart issue
  dockers/docker-sonic-bmp/supervisord.conf
  dockers/docker-sonic-gnmi/supervisord.conf
  dockers/docker-sonic-restapi/supervisord.conf
  dockers/docker-sonic-telemetry/supervisord.conf
Labels: Request for 202411 Branch

#21398 [action] [PR:21182] [dhcp_relay] Remove wait LLA in wait_for_intf.sh in dhcp_relay container
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  src/sonic-config-engine/tests/sample_output/py2/wait_for_intf.sh
  src/sonic-config-engine/tests/sample_output/py3/wait_for_intf.sh
Labels: automerge

#21403 [action] [PR:21228] [Mellanox]Removing FEC from port_config.ini for SN5600 SKUs
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/port_config.ini
Labels: automerge

#21409 [action] [PR:20992] [Mellanox] Update buffer calculations for Mellanox-SN5600-C224O8 SKU
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/buffers_defaults_t1.j2
Labels: automerge

#21355 [chassis-packet][SNMP] Enable SNMP dynamic frequency on packet chassis
  dockers/docker-snmp/Dockerfile.j2
  dockers/docker-snmp/docker-snmp-init.sh
  dockers/docker-snmp/supervisord.conf.j2
Labels: Approved for 202405 Branch, Request for 202405 Branch, Request for 202411 Branch, Approved for 202411 Branch

#21430 [action] [PR:21355] [chassis-packet][SNMP] Enable SNMP dynamic frequency on packet chassis
  dockers/docker-snmp/Dockerfile.j2
  dockers/docker-snmp/docker-snmp-init.sh
  dockers/docker-snmp/supervisord.conf.j2
Labels: automerge

#21429 [action] [PR:21355] [chassis-packet][SNMP] Enable SNMP dynamic frequency on packet chassis
  dockers/docker-snmp/Dockerfile.j2
  dockers/docker-snmp/docker-snmp-init.sh
  dockers/docker-snmp/supervisord.conf.j2
Labels: automerge

#21401 [action] [PR:21362] [Arista] Update flex counters config for Arista-7060X6-64PE-C256S2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/th5-a7060x6-64pe.config.bcm
Labels: automerge

#21399 [action] [PR:21182] [dhcp_relay] Remove wait LLA in wait_for_intf.sh in dhcp_relay container
  dockers/docker-dhcp-relay/wait_for_intf.sh.j2
  src/sonic-config-engine/tests/sample_output/py2/wait_for_intf.sh
  src/sonic-config-engine/tests/sample_output/py3/wait_for_intf.sh
Labels: automerge

#21412 Install libthrift in docker-syncd-brcm-dnx-rpc
  platform/broadcom/docker-syncd-brcm-dnx-rpc/Dockerfile.j2
Labels: Request for 202411 Branch

#21405 [action] [PR:21095] [FRR]Fixing zebra to use internal rbtree per NS tree of ifps
  src/sonic-frr/patch/0062-zebra-lib-use-internal-rbtree-per-ns.patch
  src/sonic-frr/patch/series
Labels: automerge

#21195 [sonic-cfggen] Fix init t1 config to align with YANG
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/tests/sample_output/py2/l2switch_dualtor.json
  src/sonic-config-engine/tests/sample_output/py3/l2switch_dualtor.json
  src/sonic-config-engine/tests/sample_output/t1-smartswitch.json
Labels: YANG, Request for 202411 Branch

#21426 [action] [PR:21377] Fix docker auto restart issue
  dockers/docker-sonic-bmp/supervisord.conf
  dockers/docker-sonic-gnmi/supervisord.conf
  dockers/docker-sonic-restapi/supervisord.conf
  dockers/docker-sonic-telemetry/supervisord.conf
Labels: automerge

#21410 [action] [PR:19982] [Mellanox] Fix component versions caching bug
  platform/mellanox/component-versions.dep
  platform/mellanox/rules.dep
Labels: automerge

#21433 Fix RPC container for Broadcom
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
Labels: Request for 202411 Branch

#21406 [action] [PR:21079] [Bookworm] Fix timezone propagation to containers
  dockers/docker-database/docker-database-init.sh
  dockers/docker-dhcp-relay/start.sh
  dockers/docker-dhcp-server/start.sh
  dockers/docker-eventd/start.sh
  dockers/docker-fpm-frr/docker_init.sh
  dockers/docker-iccpd/start.sh
  dockers/docker-lldp/start.sh
  dockers/docker-macsec/Dockerfile.j2
  dockers/docker-macsec/start.sh
  dockers/docker-macsec/supervisord.conf
  dockers/docker-mux/docker-init.sh
  dockers/docker-nat/start.sh
  dockers/docker-orchagent/docker-init.j2
  dockers/docker-platform-monitor/docker_init.j2
  dockers/docker-router-advertiser/docker-init.sh
  dockers/docker-sflow/Dockerfile.j2
  dockers/docker-sflow/start.sh
  dockers/docker-sflow/supervisord.conf
  dockers/docker-snmp/start.sh
  dockers/docker-sonic-gnmi/start.sh
  dockers/docker-sonic-mgmt-framework/start.sh
  dockers/docker-sonic-p4rt/start.sh
  dockers/docker-sonic-telemetry/start.sh
  dockers/docker-teamd/start.sh
  rules/docker-bmp.mk
  rules/docker-database.mk
  rules/docker-dhcp-relay.mk
  rules/docker-dhcp-server.mk
  rules/docker-eventd.mk
  rules/docker-fpm-frr.mk
  rules/docker-gnmi.mk
  rules/docker-iccpd.mk
  rules/docker-lldp.mk
  rules/docker-macsec.mk
  rules/docker-mux.mk
  rules/docker-nat.mk
  rules/docker-orchagent.mk
  rules/docker-p4rt.mk
  rules/docker-platform-monitor.mk
  rules/docker-router-advertiser.mk
  rules/docker-sflow.mk
  rules/docker-snmp.mk
  rules/docker-sonic-mgmt-framework.mk
  rules/docker-teamd.mk
  rules/docker-telemetry.mk
Labels: automerge

#21442 [Mellanox] Update SDK/FW Version to 4.7.2164/2014.2164
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox, Request for 202411 Branch

#21326 [action] [PR:21228] [Mellanox]Removing FEC from port_config.ini for SN5600 SKUs (#21228)
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/port_config.ini
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/port_config.ini
Labels: automerge

#21309 [Mellanox] Update SAI version to SAIBuild2405.30.0.13
  platform/mellanox/mlnx-sai.mk
Labels: Platform: Mellanox, Request for 202411 Branch, Approved for 202411 Branch

#21121 [action] [PR:21097] Update Arista SKU lag_id_end to 1023 (#21097)
  device/arista/x86_64-arista_7800_sup/chassisdb.conf
Labels: automerge

#21395 Adding YANG model for TC_TO_DSCP_MAP
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/qosmaps.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-tc-dscp-map.yang
Labels: Request for 202405 Branch, Request for 202411 Branch

#21365 Add KV to SN5640-SIMx sai.profile
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/ACS-SN5640/sai.profile
Labels: Request for 202411 Branch

#21427 Update Mellanox-SN5600-C256S1, Mellanox-SN5600-C224O8 buffers and DSCP mapping
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/qos.json.j2
  files/build_templates/qos_config.j2
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21209 [Fix 20284]: Enhance smartswitch environment variables parsing
  files/build_templates/docker_image_ctl.j2
  src/systemd-sonic-generator/ssg-test.cc
  src/systemd-sonic-generator/systemd-sonic-generator.cpp
Labels: Request for 202405 Branch, Request for 202411 Branch

#21473 flashrom build fix: incorrect tag name
  src/flashrom/Makefile
Labels: Request for 202305 Branch, Request for 202311 Branch, Request for 202405 Branch, Request for 202411 Branch

#21493 [action] [PR:21354] [ci] Disable vstest job in Test stage.
  azure-pipelines.yml
Labels: automerge

#21491 [action] [PR:21354] [ci] Disable vstest job in Test stage.
  azure-pipelines.yml
Labels: automerge

#21484 [action] [PR:21473] flashrom build fix: incorrect tag name
  src/flashrom/Makefile
Labels: automerge

#21467 [FRR]: Verifying static SRv6 SIDs parameters
  src/sonic-frr/dplane_fpm_sonic/dplane_fpm_sonic.c
  src/sonic-frr/patch/0079-staticd-add-support-for-srv6.patch
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21466 [YANG] SRv6 yang model followup fix
  src/sonic-yang-models/tests/yang_model_tests/tests/srv6.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/srv6.json
  src/sonic-yang-models/yang-models/sonic-srv6.yang
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21425 [Mellanox] support thermal sensor which has discrete index
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal.py
Labels: Request for 202411 Branch

#21312 [Nvidia] [SN4280] Set default frequency governor to performance
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Labels: Platform: Mellanox, Request for 202405 Branch, Request for 202411 Branch

#21446 [Mellanox] do not use system clock to avoid issues caused by system time change
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/dpuctlplat.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/sonic_platform/wait_sfp_ready_task.py
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
  platform/mellanox/mlnx-platform-api/tests/test_change_event.py
  platform/mellanox/mlnx-platform-api/tests/test_dpuctlplat.py
Labels: Request for 202405 Branch, Request for 202411 Branch

#21453 [Mellanox] Update MFT version to 4.30.2-23
  platform/mellanox/mft.mk
Labels: Platform: Mellanox, Request for 202411 Branch

#21492 [action] [PR:21354] [ci] Disable vstest job in Test stage.
  azure-pipelines.yml
Labels: automerge

#21490 [action] [PR:21354] [ci] Disable vstest job in Test stage.
  azure-pipelines.yml
Labels: automerge

#21497 [Mellanox] Update SAI version to SAIBuild2411.2405.30.1
  platform/mellanox/mlnx-sai.mk
Labels: Platform: Mellanox, Request for 202411 Branch, Cherry Pick Conflict_202411

#21434 [Broadcom] Upgrade xgs SAI to 12.3.0.3
  platform/broadcom/sai.mk
Labels: Request for 202411 Branch

#21504 [action] [PR:21434] [Broadcom] Upgrade xgs SAI to 12.3.0.3
  platform/broadcom/sai.mk
Labels: automerge

#21468 [Bgpcfgd] Update bgpcfgd to handle SRV6_MY_SIDS table's key as an ipv6 prefix
  src/sonic-bgpcfgd/bgpcfgd/managers_srv6.py
  src/sonic-bgpcfgd/tests/test_srv6.py
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21463 [action] [PR:21395] Adding YANG model for TC_TO_DSCP_MAP
  src/sonic-yang-mgmt/sonic_yang_ext.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/qosmaps.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-tc-dscp-map.yang
Labels: automerge

#21155 Add buffer configs for TH5 C224 and C256 SKUs
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/th5-a7060x6-64pe.config.bcm
  files/build_templates/qos_config.j2
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-tc-queue-map.yang
Labels: Request for msft-202412 Branch

#21279 [Mellanox] Upgrade rshim package version to 2.0.40.
  platform/mellanox/rshim.mk
Labels: Platform: Mellanox

#21196 [Mellanox] get_error_descripton should return Not supported for modules that does not support this API
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: Request for 202405 Branch, Request for 202411 Branch

#21485 [action] [PR:21473] flashrom build fix: incorrect tag name
  src/flashrom/Makefile
Labels: automerge

#21518 [action] [PR:21433] Fix RPC container for Broadcom
  platform/broadcom/docker-syncd-brcm-rpc/Dockerfile.j2
Labels: automerge

#21503 [action] [PR:21446] [Mellanox] do not use system clock to avoid issues caused by system time change
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/sonic_platform/dpuctlplat.py
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
  platform/mellanox/mlnx-platform-api/sonic_platform/wait_sfp_ready_task.py
  platform/mellanox/mlnx-platform-api/sonic_platform/watchdog.py
  platform/mellanox/mlnx-platform-api/tests/test_change_event.py
  platform/mellanox/mlnx-platform-api/tests/test_dpuctlplat.py
Labels: automerge

#21502 [action] [PR:21312] [Mellanox] [SN4280] Set default frequency governor to performance
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Labels: automerge

#21499 [action] [PR:20991] [Mellanox] Update Mellanox-SN5600-C256S1 buffer calculations
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/pg_profile_lookup.ini
Labels: automerge

#21517 skip ipinip tunnel creation if many interfaces
  dockers/docker-orchagent/ipinip.json.j2
Labels: Request for msft-202412 Branch

#21487 [action] [PR:21473] flashrom build fix: incorrect tag name
  src/flashrom/Makefile
Labels: automerge

#21297 [Nokia-7215] Update Switch create timeout
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/sai.profile
Labels: Cherry Pick Conflict_202405, Request for 202405 Branch, Request for 202411 Branch

#21511 [202411][Mellanox] Update MFT version to 4.30.2-23
  platform/mellanox/mft.mk
Labels: Platform: Mellanox

#21537 [action] [PR:21196] [Mellanox] get_error_descripton should return Not supported for modules that does not support this API
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: automerge

#21347 [action] [PR:21320] [RDMA] correct egress buffer size for Arista-7050CX3-32S-D48C8 DualToR
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/buffers_defaults_t0.j2
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7050cx3-dualtor-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7050cx3-dualtor.json
Labels: automerge

#21541 [action] [PR:21196] [Mellanox] get_error_descripton should return Not supported for modules that does not support this API
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
  platform/mellanox/mlnx-platform-api/tests/test_sfp.py
Labels: automerge

#21328 [action] [PR:20991] [Mellanox] Update Mellanox-SN5600-C256S1 buffer calculations (#20991)
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/pg_profile_lookup.ini
Labels: automerge

#21543 [Mellanox] Fix SN5600 buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
Labels: Request for 202411 Branch, Cherry Pick Conflict_202411, Cherry Pick Conflict_msft-202412

#21513 [202411][Smartswitch][Mellanox] Aligned platform with 202411 changes
  platform/mellanox/mlnx-platform-api/sonic_platform/platform.py
Labels: Platform: Mellanox

#21560 [YANG] Add missing entry for sonic-srv6.yang in sonic-yang-models/setup.py
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
Labels: YANG, Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21588 Fix bmp critical_process duplicated bug
  dockers/docker-sonic-bmp/critical_processes
  dockers/docker-sonic-bmp/supervisord.conf
  src/sonic-bmpcfgd/bmpcfgd/bmpcfgd.py
  src/sonic-bmpcfgd/tests/bmpcfgd_test.py
Labels: BMP, Request for 202411 Branch
