Repository sonic-net/sonic-buildimage, pull requests merged in 2025-02, with the labels that each got.

#21500 [action] [PR:20754] Support bulk chunk size in bulk counter polling operation
  src/sonic-yang-models/tests/yang_model_tests/tests/flex_counter.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: automerge

#21558 [Mellanox] [SIMX] Disable cpu_pack and comex_amb for SN5640 and SN5600
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: Request for 202411 Branch, Cherry Pick Conflict_202411, Request for msft-202412 Branch

#21557 [Mellanox] [SIMX] Update SN5640 sai.xml
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/ACS-SN5640/sai_5640.xml
Labels: Request for msft-202412 Branch

#21469 [Mellanox] Handle exception during Inotify import
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
Labels: Platform: Mellanox, Request for 202411 Branch

#21250 [nvidia-bluefield] Add default disk to platform json
  device/nvidia-bluefield/arm64-nvda_bf-bf3comdpu/platform.json
Labels: Request for 202411 Branch

#21599 [action] [PR:21588] Fix bmp critical_process duplicated bug
  dockers/docker-sonic-bmp/critical_processes
  dockers/docker-sonic-bmp/supervisord.conf
  src/sonic-bmpcfgd/bmpcfgd/bmpcfgd.py
  src/sonic-bmpcfgd/tests/bmpcfgd_test.py
Labels: automerge

#21332 [Mellanox] Update media_settings.json for SN4700
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/media_settings.json
Labels: Request for 202311 Branch, Request for 202405 Branch, Request for 202411 Branch

#21591 [sonic-py-common] Strip the MAC before returning from get_system_mac()
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: Request for 202311 Branch, Request for 202405 Branch, Request for 202411 Branch

#21367 [Smartswtich] Add only necessary information for DPUS in smartswitch
  src/sonic-config-engine/config_samples.py
Labels: Request for 202411 Branch

#21519 Add new hwsku Arista-7050CX3-32S-C28S4 for x86_64-arista_7050cx3_32s
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/port_config.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/sai.profile
Labels: Request for 202411 Branch

#21597 Upgrade SymCrypt version to 1.5.2
  rules/sonic-fips.mk
Labels: Request for 202405 Branch, Request for 202411 Branch

#21619 [action] [PR:21597] Upgrade SymCrypt version to 1.5.2
  rules/sonic-fips.mk
Labels: automerge

#21618 [action] [PR:21530] Prevent FIPS packages been overwrite by official version
  files/build_templates/sonic_debian_extension.j2
Labels: automerge

#21616 [action] [PR:21557] [Mellanox] [SIMX] Update SN5640 sai.xml
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/ACS-SN5640/sai_5640.xml
Labels: automerge

#21602 [action] [PR:21591] [sonic-py-common] Strip the MAC before returning from get_system_mac()
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: automerge

#21622 [action] [PR:21597] Upgrade SymCrypt version to 1.5.2
  rules/sonic-fips.mk
Labels: automerge

#21336 [frr-mgmt-framework]: VXLAN EVPN should support advertise-svi-ip
  src/sonic-frr-mgmt-framework/frrcfgd/frrcfgd.py
  src/sonic-frr-mgmt-framework/templates/bgpd/bgpd.conf.db.addr_family.evpn.j2
  src/sonic-frr-mgmt-framework/tests/test_config.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/bgp.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/bgp.json
  src/sonic-yang-models/yang-models/sonic-bgp-global.yang
Labels: YANG

#21507 [Mellanox] Update SN5640 Simx platform.json file
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/platform.json
Labels: Platform: Mellanox, Request for 202411 Branch

#21474 [Mellanox] Do not double check bulk counter capabilities during initialization for SN5640 (port #20548 to ACS-SN5640)
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/ACS-SN5640/supporting_bulk_counter_groups
Labels: Request for msft-202412 Branch

#20923 [Mellanox][Smartswitch] Mapping script for pci rshim and dpu data
  files/build_templates/sonic_debian_extension.j2
  platform/mellanox/rshim/files/rshim.sh
  platform/mellanox/smartswitch/dpumap.sh
  platform/mellanox/sonic-bfb-installer.sh
Labels: Platform: Mellanox

#21596 [nvidia-bluefield] Update SDK, BF SOC, and FW compilation.
  platform/nvidia-bluefield/bfscripts/Makefile
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
  platform/nvidia-bluefield/sdk-src/doca/.gitignore
  platform/nvidia-bluefield/sdk-src/doca/Makefile
  platform/nvidia-bluefield/sdk-src/doca/packages.txt
  platform/nvidia-bluefield/sdk-src/flexio/.gitignore
  platform/nvidia-bluefield/sdk-src/flexio/0001-Allow-warning-during-package-compilation.patch
  platform/nvidia-bluefield/sdk-src/flexio/0001-Install-LD-configuration.patch
  platform/nvidia-bluefield/sdk-src/flexio/0001-Remove-meson-from-dependencies.patch
  platform/nvidia-bluefield/sdk-src/flexio/Makefile
  platform/nvidia-bluefield/sdk-src/sdn/Makefile
Labels: Platform: Mellanox

#21056 [Mellanox] Add x86_64-nvidia_sn5610n-r0 new platform and SKUs
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/media_settings.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/port_config.ini
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/sai.profile
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/sai_5610n_224x100g_8x400g.xml
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/supporting_bulk_counter_groups
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/media_settings.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/port_config.ini
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/sai.profile
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/sai_5610n_256x100g.xml
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/supporting_bulk_counter_groups
  device/mellanox/x86_64-nvidia_sn5610n-r0/default_sku
  device/mellanox/x86_64-nvidia_sn5610n-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn5610n-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5610n-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn5610n-r0/platform_components.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/platform_wait
  device/mellanox/x86_64-nvidia_sn5610n-r0/plugins/eeprom.py
  device/mellanox/x86_64-nvidia_sn5610n-r0/plugins/psuutil.py
  device/mellanox/x86_64-nvidia_sn5610n-r0/plugins/sfplpmget.py
  device/mellanox/x86_64-nvidia_sn5610n-r0/plugins/sfplpmset.py
  device/mellanox/x86_64-nvidia_sn5610n-r0/plugins/sfpreset.py
  device/mellanox/x86_64-nvidia_sn5610n-r0/plugins/sfputil.py
  device/mellanox/x86_64-nvidia_sn5610n-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn5610n-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn5610n-r0/psu_sensors.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/psu_sensors_conf_updater
  device/mellanox/x86_64-nvidia_sn5610n-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5610n-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn5610n-r0/thermal_policy.json
  platform/mellanox/asic_table.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21640 [action] [PR:21489] [Marvell] Update SAI SDK and driver
  platform/marvell/sai.mk
Labels: automerge

#21632 [action] [PR:21297] [Nokia-7215] Update Switch create timeout
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/sai.profile
Labels: automerge

#21642 [YANG][Bugfix] Fix incorrect pattern of nexthop-vrf in sonic-static-route.yang
  src/sonic-yang-models/tests/yang_model_tests/tests/static_route.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/static-route.json
  src/sonic-yang-models/yang-models/sonic-static-route.yang
Labels: Request for 202411 Branch

#21650 [action] [PR:21469] [Mellanox] Handle exception during Inotify import
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
Labels: automerge

#21561 Update O128S2 port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-O128S2/port_config.ini
Labels: Request for msft-202412 Branch

#21647 Fixed continuous log message of telemetry docker image not present.
  files/image_config/monit/container_checker
Labels: Request for 202405 Branch, Request for 202411 Branch

#21654 [action] [PR:21250] [nvidia-bluefield] Add default disk to platform json
  device/nvidia-bluefield/arm64-nvda_bf-bf3comdpu/platform.json
Labels: automerge

#21652 [action] [PR:21367] [Smartswtich] Add only necessary information for DPUS in smartswitch
  src/sonic-config-engine/config_samples.py
Labels: automerge

#21651 [action] [PR:21455] [Mellanox] Update SN5640 SIMX sensors.conf file
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/sensors.conf
Labels: automerge

#21671 [Mellanox][Smartswitch] Fix for platform chassis initialization
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
Labels: Platform: Mellanox, Request for 202411 Branch

#21210 Avoid the FD Limit warning when vtysh comes up
  src/sonic-frr/patch/0061-dont-print-warning-if-not-a-daemon.patch
  src/sonic-frr/patch/series
Labels: FRR :traffic_light:, Request for 202411 Branch

#21624 Fix buffer configs for TH5 C224 SKU
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/buffers_defaults_t1.j2
Labels: Request for 202411 Branch, Cherry Pick Conflict_202411

#21677 [YANG] Add missing field in port qos map
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-port-qos-map.yang
Labels: Request for 202411 Branch

#21669 [Nokia-7215] Update EZB files
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
Labels: Request for 202411 Branch

#21691 [action] [PR:21677] [YANG] Add missing field in port qos map
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-port-qos-map.yang
Labels: automerge

#21672 allow func_len to be 0 in sonic-srv6.yang
  src/sonic-yang-models/yang-models/sonic-srv6.yang
Labels: Request for msft-202412 Branch

#21587 T2-Route-Conv: Process Crash Optimization
  dockers/docker-fpm-frr/base_image_files/TSA
  dockers/docker-fpm-frr/base_image_files/TSB
  files/scripts/startup_tsa_tsb.py
  files/scripts/swss.sh
Labels: Request for msft-202405 Branch

#21604 [action] [PR:21591] [sonic-py-common] Strip the MAC before returning from get_system_mac()
  src/sonic-py-common/sonic_py_common/device_info.py
Labels: automerge

#21539 [action] [PR:21200] [eventd] Ignore control character event if it comes in UT
  src/sonic-eventd/tests/eventd_ut.cpp
Labels: automerge

#21559 [Mellanox][Smartswitch] Skip chassisd for 202411 release
  device/mellanox/x86_64-mlnx_msn2700-r0/pmon_daemon_control.json
Labels: Platform: Mellanox, Request for 202411 Branch

#21617 [action] [PR:21478] [Mellanox] Support running hw-management service on SN5640 emulation platform
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/thermal_policy.json
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
  platform/mellanox/mlnx-platform-api/sonic_platform/eeprom.py
Labels: automerge

#21704 [action] [PR:21669] [Nokia-7215] Update EZB files
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-Board-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-L1-M0-D1-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/ASK-PP-M0-48x1G-4x10G.xml
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.md5
  device/nokia/armhf-nokia_ixs7215_52x-r0/Nokia-7215/SAI-M0-48x1G-4x10G.xml
Labels: automerge

#21693 [action] [PR:21427] [Mellanox] Update Mellanox-SN5600-C256S1, Mellanox-SN5600-C224O8 buffers and DSCP mapping
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C224O8/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/qos.json.j2
  files/build_templates/qos_config.j2
Labels: automerge

#21653 [action] [PR:21332] [Mellanox] Update media_settings.json for SN4700
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/media_settings.json
Labels: automerge

#21648 [action] [PR:21507] [Mellanox] Update SN5640 Simx platform.json file
  device/mellanox/x86_64-nvidia_sn5640_simx-r0/platform.json
Labels: automerge

#21626 [action] [PR:21441] [Arista] Add initial support for Moby platform
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/BALANCED
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/buffers.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/hwsku.json
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/port_config.ini
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/qos.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/sai.profile
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/BALANCED
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/buffers.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/hwsku.json
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/port_config.ini
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/qos.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/sai.profile
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/BALANCED
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/hwsku.json
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/port_config.ini
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/sai.profile
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c/default_sku
  device/arista/x86_64-arista_7060x6_16pe_384c/pcie.yaml
  device/arista/x86_64-arista_7060x6_16pe_384c/platform.json
  device/arista/x86_64-arista_7060x6_16pe_384c/platform_asic
  device/arista/x86_64-arista_7060x6_16pe_384c/platform_components.json
  device/arista/x86_64-arista_7060x6_16pe_384c/platform_env.conf
  device/arista/x86_64-arista_7060x6_16pe_384c/platform_reboot
  device/arista/x86_64-arista_7060x6_16pe_384c/plugins
  device/arista/x86_64-arista_7060x6_16pe_384c/pmon_daemon_control.json
  device/arista/x86_64-arista_7060x6_16pe_384c/sensors.conf
  device/arista/x86_64-arista_7060x6_16pe_384c/system_health_monitoring_config.json
  device/arista/x86_64-arista_7060x6_16pe_384c/thermal_policy.json
  files/Aboot/boot0.j2
  files/initramfs-tools/arista-net
Labels: automerge

#21705 [action] [PR:21642] [YANG][Bugfix] Fix incorrect pattern of nexthop-vrf in sonic-static-route.yang
  src/sonic-yang-models/tests/yang_model_tests/tests/static_route.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/static-route.json
  src/sonic-yang-models/yang-models/sonic-static-route.yang
Labels: automerge

#21266 Support yang model for bulk size per counter
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: Request for 202411 Branch, Cherry Pick Conflict_202411, Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21706 [action] [PR:21155] Add buffer configs for TH5 C224 and C256 SKUs
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/th5-a7060x6-64pe.config.bcm
  files/build_templates/qos_config.j2
  src/sonic-yang-models/tests/yang_model_tests/tests_config/qosmaps.json
  src/sonic-yang-models/yang-models/sonic-tc-queue-map.yang
Labels: automerge

#21715 [action] [PR:21712] create bmp container per_namespace for multi-asic
  files/build_templates/bmp.service.j2
  files/build_templates/per_namespace/bmp.service.j2
Labels: automerge

#21703 [Nokia][chassis] Update Nokia-IXR7250E chassis device data
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/platform_reboot
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/platform_reboot
Labels: Request for 202405 Branch, Request for 202411 Branch

#21758 [build] Fix debian mirror snapshot timestamp not work issue.
  scripts/build_mirror_config.sh
Labels: Request for 202305 Branch, Cherry Pick Conflict_202305, Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch, Request for 202411 Branch

#21745 Patch saibcm-module from SAI 12.3 and upgrade xgs SAI to 12.3.2.2
  platform/broadcom/sai.mk
  platform/broadcom/saibcm-modules/sdklt/linux/bcmgenl/bcmgenl_psample.c
Labels: Request for 202411 Branch

#21744 [Mellanox] set temperature file value to 0 when module is not present
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_updater.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal_updater.py
Labels: Request for 202405 Branch, Request for 202411 Branch

#21760 [202411][Mellanox] Update SDK/FW Version to 4.7.2202/2014.2202
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox

#21759 [Mellanox] Update SDK/FW Version to 4.7.2202/2014.2202
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox, Request for 202411 Branch, Cherry Pick Conflict_202411

#21765 [action] [PR:21758] [build] Fix debian mirror snapshot timestamp not work issue.
  scripts/build_mirror_config.sh
Labels: automerge

#21747 [action] [PR:21036] Exclude PIE ports from buffer and qos config
  files/build_templates/buffers_config.j2
  files/build_templates/qos_config.j2
Labels: automerge

#21695 [action] [PR:21519] Add new hwsku Arista-7050CX3-32S-C28S4 for x86_64-arista_7050cx3_32s
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/port_config.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/sai.profile
Labels: automerge

#21623 [action] [PR:21332] [Mellanox] Update media_settings.json for SN4700
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/media_settings.json
Labels: automerge

#21733 Update PG flow control threshold based on port speed (not on hwsku)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/pg_profile_lookup.ini
Labels: Request for 202405 Branch, Request for 202411 Branch

#21776 [action] [PR:21558] [Mellanox] [SIMX] Disable cpu_pack and comex_amb for SN5640 and SN5600
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: automerge

#21770 [Mellanox] Add SPC5 SN5640 platform, Mellanox-SN5640-C512S2,Mellanox-SN5640-C448O16 SKUs
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/hwsku.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/media_settings.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/port_config.ini
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/sai.profile
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C448O16/sai_5640_448x100g_16x400g.xml
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/hwsku.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/media_settings.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/port_config.ini
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/sai.profile
  device/mellanox/x86_64-nvidia_sn5640-r0/Mellanox-SN5640-C512S2/sai_5640_512x100g.xml
  device/mellanox/x86_64-nvidia_sn5640-r0/default_sku
  device/mellanox/x86_64-nvidia_sn5640-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn5640-r0/pcie.yaml
  device/mellanox/x86_64-nvidia_sn5640-r0/platform.json
  device/mellanox/x86_64-nvidia_sn5640-r0/platform_asic
  device/mellanox/x86_64-nvidia_sn5640-r0/platform_components.json
  device/mellanox/x86_64-nvidia_sn5640-r0/platform_wait
  device/mellanox/x86_64-nvidia_sn5640-r0/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5640-r0/pmon_immediate_start
  device/mellanox/x86_64-nvidia_sn5640-r0/pre_reboot_hook
  device/mellanox/x86_64-nvidia_sn5640-r0/psu_sensors.json
  device/mellanox/x86_64-nvidia_sn5640-r0/psu_sensors_conf_updater
  device/mellanox/x86_64-nvidia_sn5640-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5640-r0/system_health_monitoring_config.json
  device/mellanox/x86_64-nvidia_sn5640-r0/thermal_policy.json
  platform/mellanox/asic_table.j2
  platform/mellanox/mlnx-platform-api/sonic_platform/device_data.py
Labels: Request for msft-202412 Branch

#21762 [Mellanox] Update DSCP mapping for SN5600, SN5610 SKUs
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-C256S1/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C224O8/qos.json.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn5610n-r0/Mellanox-SN5610N-C256S2/qos.json.j2
Labels: Request for msft-202412 Branch

#21785 [action] [PR:21745] Patch saibcm-module from SAI 12.3 and upgrade xgs SAI to 12.3.2.2
  platform/broadcom/sai.mk
  platform/broadcom/saibcm-modules/sdklt/linux/bcmgenl/bcmgenl_psample.c
Labels: automerge

#21784 [action] [PR:21744] [Mellanox] set temperature file value to 0 when module is not present
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal_updater.py
  platform/mellanox/mlnx-platform-api/tests/test_thermal_updater.py
Labels: automerge

#21771 [chassis-packet] Change the Orchagent redis pop batch size to 128 to handle link notification faster.
  dockers/docker-orchagent/orchagent.sh
Labels: Request for 202411 Branch, Request for msft-202405 Branch

#21775 [chassis-packet] Allow Fallback Route to get programmed on Downstream LC
  dockers/docker-fpm-frr/frr/bgpd/templates/internal/policies.conf.j2
  src/sonic-bgpcfgd/tests/data/internal/policies.conf/result_chasiss_packet.conf
Labels: Request for 202411 Branch, Request for msft-202405 Branch

#21783 [action] [PR:21266] Support yang model for bulk size per counter
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Labels: automerge

#21803 [action] [PR:21771] [chassis-packet] Change the Orchagent redis pop batch size to 128 to handle link notification faster.
  dockers/docker-orchagent/orchagent.sh
Labels: automerge

#21777 [action] [PR:21593] [Mellanox] Query PSU fan speed only on presence
  platform/mellanox/mlnx-platform-api/sonic_platform/fan.py
  platform/mellanox/mlnx-platform-api/tests/test_fan_api.py
Labels: automerge

#21646 [nvidia-bluefield] Load MFT drivers from the SONiC rootfs during BFB installation.
  platform/nvidia-bluefield/installer/create_sonic_image
  platform/nvidia-bluefield/installer/install.sh.j2
Labels: Platform: Mellanox

#21798 [202405][BRCM-SAI][DNX] - Updated BRCM DNX SAI to version 11.2.26.1
  platform/broadcom/sai.mk
Labels: Request for 202411 Branch, Cherry Pick Conflict_202411

#20513 Count the number of undeliverable IPinIP packets
  dockers/docker-orchagent/tunnel_packet_handler.py
Labels: Request for 202411 Branch, Approved for 202411 Branch

#21778 [action] [PR:21671] [Mellanox][Smartswitch] Fix for platform chassis initialization
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
Labels: automerge

#21779 Fixing Wolverine LC's incorrect symlinks
  device/arista/x86_64-arista_7800r3a_36d_lc/pmon_daemon_control.json
  device/arista/x86_64-arista_7800r3a_36d_lc/system_health_monitoring_config.json
  device/arista/x86_64-arista_7800r3a_36d_lc/thermal_policy.json
  device/arista/x86_64-arista_7800r3a_36dm2_lc/pmon_daemon_control.json
  device/arista/x86_64-arista_7800r3a_36dm2_lc/system_health_monitoring_config.json
  device/arista/x86_64-arista_7800r3a_36dm2_lc/thermal_policy.json
  device/arista/x86_64-arista_7800r3a_36p_lc/pmon_daemon_control.json
  device/arista/x86_64-arista_7800r3a_36p_lc/system_health_monitoring_config.json
  device/arista/x86_64-arista_7800r3a_36p_lc/thermal_policy.json
  device/arista/x86_64-arista_7800r3ak_36d2_lc/pmon_daemon_control.json
  device/arista/x86_64-arista_7800r3ak_36d2_lc/system_health_monitoring_config.json
  device/arista/x86_64-arista_7800r3ak_36d2_lc/thermal_policy.json
  device/arista/x86_64-arista_7800r3ak_36dm2_lc/pmon_daemon_control.json
  device/arista/x86_64-arista_7800r3ak_36dm2_lc/system_health_monitoring_config.json
  device/arista/x86_64-arista_7800r3ak_36dm2_lc/thermal_policy.json
Labels: P0, Request for 202411 Branch, Cherry Pick Conflict_202411, Request for msft-202405 Branch

#21766 [action] [PR:21758] [build] Fix debian mirror snapshot timestamp not work issue.
  scripts/build_mirror_config.sh
Labels: automerge

#21461 [Marvell][arm64] Installer optimization
  installer/default_platform.conf
  platform/marvell/platform_arm64.conf
Labels: Platform: Marvell

#21811 [action] [PR:20513] Count the number of undeliverable IPinIP packets
  dockers/docker-orchagent/tunnel_packet_handler.py
Labels: automerge

#21764 [Nokia Device] Set the clock for both Ramon and J2C+
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/0/config-ramon-1-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/1/config-ramon-1-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/10/config-ramon-6-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/11/config-ramon-6-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/12/config-ramon-7-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/13/config-ramon-7-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/14/config-ramon-8-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/15/config-ramon-8-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/2/config-ramon-2-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/3/config-ramon-2-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/4/config-ramon-3-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/5/config-ramon-3-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/6/config-ramon-4-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/7/config-ramon-4-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/8/config-ramon-5-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/9/config-ramon-5-1.bcm
Labels: P0, Request for 202411 Branch, Request for msft-202405 Branch, Approved for msft-202405 Branch

#21810 [action] [PR:21624] Fix buffer configs for TH5 C224 SKU
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/buffers_defaults_t1.j2
Labels: automerge

#21836 [action] [PR:21412] Install libthrift in docker-syncd-brcm-dnx-rpc
  platform/broadcom/docker-syncd-brcm-dnx-rpc/Dockerfile.j2
Labels: automerge

#21838 [action] [PR:21320] [RDMA] correct egress buffer size for Arista-7050CX3-32S-D48C8 DualToR
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-D48C8/BALANCED/buffers_defaults_t0.j2
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7050cx3-dualtor-remap-disabled.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7050cx3-dualtor.json
Labels: automerge

#21835 [action] [PR:21647] Fixed continuous log message of telemetry docker image not present.
  files/image_config/monit/container_checker
Labels: automerge

#21761 [202405][Mellanox] Update SDK/FW Version to 4.7.2202/2014.2202
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox

#21830 Fix TSA-TSB race condition on multi-asic platforms
  files/scripts/startup_tsa_tsb.py
Labels: Request for msft-202405 Branch

#21834 [action] [PR:21733] Update PG flow control threshold based on port speed (not on hwsku)
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3_48cqm2_lc/Arista-7800R3-48CQM2-C48/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/pg_profile_lookup.ini
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/pg_profile_lookup.ini
Labels: automerge

#20152 [SNMP] Fix config template issue when setting snmpagentaddress
  dockers/docker-snmp/snmpd.conf.j2
Labels: Request for 202411 Branch

#21869 [action] [PR:21852] Use pzstd to compress the Docker in SWI slim images
  build_debian.sh
  files/dsc/install_debian.j2
  files/initramfs-tools/file
  files/initramfs-tools/pzstd
  files/initramfs-tools/union-mount.j2
Labels: automerge

#21856 [Mellanox] Fix the issue with sensors with discrete indexes initialization
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: Platform: Mellanox, Request for 202411 Branch

#21809 [Mellanox] Remove SKU ACS-SN4280
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280-r0/default_sku
Labels: Request for 202411 Branch

#21813 Update management interface related configuration in MGMT_PORT_TABLE STATE_DB
  files/image_config/monit/mgmt_oper_status.py
  files/image_config/monit/tests/test_mgmt_oper_status.py
Labels: Request for 202411 Branch, Request for msft-202405 Branch, Approved for msft-202405 Branch

#21797 [SmartSwitch] [Nvidia] Remove PG 3 and 4 for Internal Ports
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_objects.j2
  files/build_templates/buffers_config.j2
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4700-o28-t1-smartswitch.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4700-o28-t1-smartswitch_dyn.json
Labels: Platform: Mellanox, Request for 202411 Branch, Approved for 202411 Branch

#21890 [action] [PR:21856] [Mellanox] Fix the issue with sensors with discrete indexes initialization
  platform/mellanox/mlnx-platform-api/sonic_platform/thermal.py
Labels: automerge
