Repository sonic-net/sonic-buildimage, pull requests merged in 2025-03, with the labels that each got.

#21763 [Mellanox] Update the method of reading model number for MLNX platforms
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_eeprom.py
Labels: Request for msft-202412 Branch

#21865 Add link requirement per sku before enabling traffic on a fap
  device/arista/x86_64-arista_7800r3_48cq2_lc/Arista-7800R3-48CQ2-C48/jr2-a7280cr3-32d4-40x100G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C72/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  src/sonic-device-data/tests/permitted_list
Labels: P0, Request for 202411 Branch, Request for msft-202405 Branch, Approved for msft-202405 Branch, Included in msft-202405 Branch, Cherry Pick Conflict_msft-202405

#21805 [FRR] Fixing route update on duplicate link up event in promiscuous mode
  src/sonic-frr/patch/0082-Revert-bgpd-upon-if-event-evaluate-bnc-with-matching.patch
  src/sonic-frr/patch/series
Labels: Request for msft-202412 Branch, Approved for msft-202412 Branch, Included in msft-202412 Branch, Cherry Pick Conflict_msft-202412

#21889 [Bgpcfgd]Add correct terminating commands at the end of BGP config command groups
  src/sonic-bgpcfgd/bgpcfgd/managers_advertise_rt.py
  src/sonic-bgpcfgd/bgpcfgd/managers_bbr.py
  src/sonic-bgpcfgd/bgpcfgd/managers_bgp.py
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/tests/test_advertise_rt.py
  src/sonic-bgpcfgd/tests/test_bbr.py
  src/sonic-bgpcfgd/tests/test_static_rt.py
Labels: Request for msft-202412 Branch

#21893 [nvidia-bluefield] Fix the issue with the SDK compilation from the GitHub release.
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: Platform: Mellanox

#21922 sonicbuildimage: Update openssh to openssh_9.2p1-2+deb12u5
  rules/openssh.mk
Labels: Request for 202405 Branch, Request for 202411 Branch, Approved for 202411 Branch

#21897 Add mgmt_type into device metadata YANG model.
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: Request for 202405 Branch, Request for 202411 Branch

#21535 [action] [PR:21473] flashrom build fix: incorrect tag name
  src/flashrom/Makefile
Labels: automerge

#21536 [action] [PR:21473] flashrom build fix: incorrect tag name
  src/flashrom/Makefile
Labels: automerge

#21888 [action] [PR:21797] [SmartSwitch] [Nvidia] Remove PG 3 and 4 for Internal Ports
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_objects.j2
  files/build_templates/buffers_config.j2
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4700-o28-t1-smartswitch.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4700-o28-t1-smartswitch_dyn.json
Labels: automerge

#21827 [Bgpcfgd] Add dependency callback logic in SRv6 Manager to handle out-of-order table processing
  src/sonic-bgpcfgd/bgpcfgd/directory.py
  src/sonic-bgpcfgd/bgpcfgd/managers_srv6.py
  src/sonic-bgpcfgd/tests/test_srv6.py
Labels: Request for msft-202412 Branch

#21930 [action] [PR:21922] sonicbuildimage: Update openssh to openssh_9.2p1-2+deb12u5
  rules/openssh.mk
Labels: automerge

#21870 [Arista] Change port layout for Arista-7050CX3-32S-C28S4
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/port_config.ini
Labels: Request for 202405 Branch, Request for 202411 Branch, Cherry Pick Conflict_202411

#21945 [action] [PR:21870] [Arista] Change port layout for Arista-7050CX3-32S-C28S4
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/port_config.ini
Labels: automerge

#21944 [action] [PR:21897] Add mgmt_type into device metadata YANG model.
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: automerge

#21926 [action] [PR:21519] Add new hwsku Arista-7050CX3-32S-C28S4 for x86_64-arista_7050cx3_32s
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/port_config.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/sai.profile
Labels: automerge

#21934 [action] [PR:21897] Add mgmt_type into device metadata YANG model.
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: automerge

#21735 [Nokia-7215-A1] Update EZB files for SAI 15.1
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.xml
  platform/marvell/sonic-platform-nokia/7215-a1/service/nokia-7215init.service
  platform/marvell/sonic-platform-nokia/7215-a1/sonic_platform/component.py
Labels: Request for 202411 Branch

#21923 [rsyslog]: Remote logging with the highest rule priority
  files/image_config/rsyslog/rsyslog.conf.j2
  src/sonic-config-engine/setup.cfg
  src/sonic-config-engine/tests/sample_output/py3/rsyslog.conf
  src/sonic-config-engine/tests/sample_output/py3/rsyslog_with_docker0.conf
Labels: Bug :bug:, Request for 202305 Branch, Cherry Pick Conflict_202305, Request for 202311 Branch, Cherry Pick Conflict_202311, Request for 202405 Branch, bugfix, Request for 202411 Branch

#20968 [yang] interface: add missing mac_addr leaf
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/portchannel.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan.json
  src/sonic-yang-models/yang-models/sonic-interface.yang
  src/sonic-yang-models/yang-models/sonic-portchannel.yang
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Labels: YANG

#21987 [action] [PR:20152] [SNMP] Fix config template issue when setting snmpagentaddress
  dockers/docker-snmp/snmpd.conf.j2
Labels: automerge

#21986 [action] [PR:21874] [Mellanox] Support new field "supporting_bulk_counter_groups" in DEVICE_METADATA|localhost for Mellanox-SN4280-O28
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/create_only_config_db_buffers.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/supporting_bulk_counter_groups
Labels: automerge

#21751 [FRR]Adding BGPD optimization during peer going down
  src/sonic-frr/patch/0081-bgpd-Optimize-evaluate-paths-for-a-peer-going-down.patch
  src/sonic-frr/patch/series
Labels: FRR :traffic_light:, Request for msft-202412 Branch, Approved for msft-202412 Branch, Included in msft-202412 Branch, Cherry Pick Conflict_msft-202412

#22005 [action] [PR:21852] Use pzstd to compress the Docker in SWI slim images
  build_debian.sh
  files/dsc/install_debian.j2
  files/initramfs-tools/file
  files/initramfs-tools/pzstd
  files/initramfs-tools/union-mount.j2
Labels: automerge

#21925 [action] [PR:21886] Build fix for ptf-py3 issue on bullseye
  sonic-slave-bullseye/Dockerfile.j2
Labels: automerge

#21576 [Nokia-device][BCM-DNX] Set BCM soc variable to accumulate VOQ counters
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/0/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x100G/1/jr2cp-nokia-18x100g-4x25g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/0/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_36x400g-r0/Nokia-IXR7250E-36x400G/1/jr2cp-nokia-18x400g-config.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/0/config-ramon-1-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/1/config-ramon-1-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/10/config-ramon-6-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/11/config-ramon-6-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/12/config-ramon-7-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/13/config-ramon-7-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/14/config-ramon-8-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/15/config-ramon-8-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/2/config-ramon-2-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/3/config-ramon-2-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/4/config-ramon-3-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/5/config-ramon-3-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/6/config-ramon-4-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/7/config-ramon-4-1.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/8/config-ramon-5-0.bcm
  device/nokia/x86_64-nokia_ixr7250e_sup-r0/Nokia-IXR7250E-SUP-10/9/config-ramon-5-1.bcm
Labels: Request for 202411 Branch

#22004 [action] [PR:21735] [Nokia-7215-A1] Update EZB files for SAI 15.1
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-Board-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-L1-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/ASK-PP-AC5X-xb.xml
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.md5
  device/nokia/arm64-nokia_ixs7215_52xb-r0/Nokia-7215-A1/SAI-AC5X-xb.xml
  platform/marvell/sonic-platform-nokia/7215-a1/service/nokia-7215init.service
  platform/marvell/sonic-platform-nokia/7215-a1/sonic_platform/component.py
Labels: automerge

#21883 [Mellanox] SN5600 SerDes signal integrity update
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-V256/media_settings.json
Labels: Request for msft-202412 Branch

#22027 [action] [PR:21992] [dualtor] Fix `mux` start failure due to pre operation timeout
  files/build_templates/mux.service.j2
  files/scripts/write_standby.py
Labels: automerge

#22043 [action] [PR:21886] Build fix for ptf-py3 issue on bullseye
  sonic-slave-bullseye/Dockerfile.j2
Labels: automerge

#22003 [action] [PR:21870] [Arista] Change port layout for Arista-7050CX3-32S-C28S4
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/port_config.ini
Labels: automerge

#22035 [action] [PR:21809] [Mellanox] Remove SKU ACS-SN4280
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_objects.j2
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O32/pg_profile_lookup.ini
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-V64/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_objects.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/ACS-SN4280/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_t0.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_defaults_t1.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/buffers_dynamic.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/pg_profile_lookup.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/port_config.ini
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/qos.json.j2
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai_4280.xml
  device/mellanox/x86_64-nvidia_sn4280-r0/default_sku
Labels: automerge

#22028 [action] [PR:21957] Update fips openssh to openssh_9.2p1-2+deb12u5
  rules/sonic-fips.mk
Labels: automerge

#22006 [installer] Add CSTATE configuration for the AMD CPU.
  installer/default_platform.conf
Labels: Request for 202405 Branch, Request for 202411 Branch

#22061 [action] [PR:22006] [installer] Add CSTATE configuration for the AMD CPU.
  installer/default_platform.conf
Labels: automerge

#22021 [action] [PR:21923] [rsyslog]: Remote logging with the highest rule priority
  files/image_config/rsyslog/rsyslog.conf.j2
  src/sonic-config-engine/setup.cfg
  src/sonic-config-engine/tests/sample_output/py3/rsyslog.conf
  src/sonic-config-engine/tests/sample_output/py3/rsyslog_with_docker0.conf
Labels: automerge

#22074 [YANG] sonic-neigh.yang need support portchannel
  src/sonic-yang-models/tests/yang_model_tests/tests/neigh.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/neigh.json
  src/sonic-yang-models/yang-models/sonic-neigh.yang
Labels: Request for 202411 Branch, Approved for 202411 Branch

#22095 [action] [PR:22074] [YANG] sonic-neigh.yang need support portchannel
  src/sonic-yang-models/tests/yang_model_tests/tests/neigh.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/neigh.json
  src/sonic-yang-models/yang-models/sonic-neigh.yang
Labels: automerge

#22097 [202411][Mellanox] Update SDK/FW Version to 4.7.2214/2014.2214
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox

#22059 Add smbus2 library on host and pmon docker, and telnetlib3 library on host
  dockers/docker-platform-monitor/Dockerfile.j2
  files/build_templates/sonic_debian_extension.j2
Labels: Request for 202411 Branch, Request for msft-202405 Branch

#21630 [master] Upgrade SONiC package Versions
  files/build/versions/build/build-sonic-slave-bookworm/versions-deb-bookworm
  files/build/versions/build/build-sonic-slave-bookworm/versions-py3
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-base-bookworm/versions-py3
  files/build/versions/dockers/docker-base-bullseye/versions-py3
  files/build/versions/dockers/docker-config-engine-bookworm/versions-deb-bookworm
  files/build/versions/dockers/docker-dash-engine/versions-deb-focal
  files/build/versions/dockers/docker-database/versions-deb-bookworm
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bookworm
  files/build/versions/dockers/docker-dhcp-relay/versions-py3
  files/build/versions/dockers/docker-dhcp-server/versions-py3
  files/build/versions/dockers/docker-eventd/versions-deb-bookworm
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bookworm
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bookworm
  files/build/versions/dockers/docker-lldp/versions-deb-bookworm
  files/build/versions/dockers/docker-macsec/versions-deb-bookworm
  files/build/versions/dockers/docker-mux/versions-deb-bookworm
  files/build/versions/dockers/docker-nat/versions-deb-bookworm
  files/build/versions/dockers/docker-orchagent/versions-deb-bookworm
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bookworm
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bookworm
  files/build/versions/dockers/docker-sflow/versions-deb-bookworm
  files/build/versions/dockers/docker-snmp/versions-deb-bookworm
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-bmp/versions-deb-bookworm
  files/build/versions/dockers/docker-sonic-gnmi/versions-deb-bookworm
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-bookworm
  files/build/versions/dockers/docker-sonic-vs/versions-deb-bookworm
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-bluefield/versions-deb-bookworm
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bookworm
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bookworm
  files/build/versions/dockers/docker-syncd-centec/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bookworm
  files/build/versions/dockers/docker-syncd-mlnx/versions-py3
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bookworm-arm64
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bookworm-armhf
  files/build/versions/dockers/docker-syncd-vs/versions-deb-bookworm
  files/build/versions/dockers/docker-teamd/versions-deb-bookworm
  files/build/versions/dockers/sonic-slave-bookworm/versions-deb-bookworm
  files/build/versions/dockers/sonic-slave-bookworm/versions-deb-bookworm-armhf
  files/build/versions/dockers/sonic-slave-bookworm/versions-py3
  files/build/versions/dockers/sonic-slave-bookworm/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-bookworm/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-deb-bookworm
  files/build/versions/host-image/versions-py3
  files/build/versions/host-image/versions-py3-all-arm64
Labels: automerge

#22008 [chassis][multi-asic]: Add support for vendor LC ip range for macvlan ip
  files/build_templates/docker_image_ctl.j2
Labels: P0, Request for 202411 Branch, Request for msft-202405 Branch, Cherry Pick Conflict_msft-202405

#22125 [action] [PR:22008] [chassis][multi-asic]: Add support for vendor LC ip range for macvlan ip
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#22117 Adding default QoS configurations for Arista-7050CX3-32S-C28S4.
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/BALANCED/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/BALANCED/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/RDMA-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/TCP-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/buffers.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/buffers_extra_queues.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/qos.json.j2
Labels: Request for 202405 Branch, Request for 202411 Branch

#21972 [Mellanox] Update sensors.conf of SN5610N, SN5640 platforms
  device/mellanox/x86_64-nvidia_sn5610n-r0/sensors.conf
  device/mellanox/x86_64-nvidia_sn5640-r0/sensors.conf
Labels: Platform: Mellanox, Request for msft-202412 Branch

#22096 [Mellanox] Fix platform.json breakout modes for SN5610N
  device/mellanox/x86_64-nvidia_sn5610n-r0/platform.json
Labels: Request for msft-202412 Branch

#22141 [action] [PR:22117] Adding default QoS configurations for Arista-7050CX3-32S-C28S4.
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/BALANCED/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/BALANCED/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/BALANCED/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/BALANCED/qos.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/RDMA-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/TCP-CENTRIC
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/buffers.json.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/buffers_extra_queues.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/pg_profile_lookup.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S4/qos.json.j2
Labels: automerge

#22060 [action] [PR:22006] [installer] Add CSTATE configuration for the AMD CPU.
  installer/default_platform.conf
Labels: automerge

#22012 [action] [PR:21979] Fix auditd container monit startup issue
  files/image_config/monit/container_checker
Labels: automerge

#21994 [202311][rsyslog]: Remote logging with the highest rule priority
  files/image_config/rsyslog/rsyslog.conf.j2
  src/sonic-config-engine/setup.cfg
  src/sonic-config-engine/tests/sample_output/py3/rsyslog.conf
  src/sonic-config-engine/tests/sample_output/py3/rsyslog_with_docker0.conf
  src/sonic-config-engine/tests/test_cfggen_from_yang.py
  src/sonic-config-engine/tests/test_yang_data.json
Labels: Bug :bug:, bugfix
