Repository sonic-net/sonic-buildimage, pull requests merged in 2025-06, with the labels that each got.

#22813 [action] [PR:22681] Add dependencies for protobuf builds on Ubuntu 22.04
  .azure-pipelines/azure-pipelines-build-ubuntu-2204.yml
Labels: automerge

#22810 [action] [PR:22796] [Mellanox] Increase max number of nexthops in ECMP group to 512
  platform/mellanox/docker-syncd-mlnx/sai-common.profile
Labels: automerge

#22809 [action] [PR:22741] [Mellanox] Update media interface to return the right value
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Labels: automerge

#22787 [action] [PR:22723] [dhcp_relay] Add show CLI for DHCP per-interface counter
  dockers/docker-dhcp-relay/cli-plugin-tests/test_show_dhcp4relay_counters.py
  dockers/docker-dhcp-relay/cli/show/plugins/show_dhcp_relay.py
Labels: automerge

#22817 [action] [PR:22559] switch to use host syslog to for openbmp logging
  dockers/docker-sonic-bmp/Dockerfile.j2
  dockers/docker-sonic-bmp/supervisord.conf
Labels: automerge

#22731 Fix incorrect scd address in platform.json
  device/arista/x86_64-arista_7060x6_64pe_b/platform.json
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#22634 [sysmgr] Support platform reboot status query via DBus during HALT reboot
  src/sonic-sysmgr/rebootbackend/reboot_thread.cpp
  src/sonic-sysmgr/rebootbackend/rebootbe.cpp
  src/sonic-sysmgr/rebootbackend/rebootbe.h
Labels: Request for 202505 Branch

#22832 [QoS] Make broadcom asic detection more robust in ipinip json template
  dockers/docker-orchagent/docker-init.j2
  dockers/docker-orchagent/ipinip.json.j2
Labels: Request for 202505 Branch

#22851 [action] [PR:22634] [sysmgr] Support platform reboot status query via DBus during HALT reboot
  src/sonic-sysmgr/rebootbackend/reboot_thread.cpp
  src/sonic-sysmgr/rebootbackend/rebootbe.cpp
  src/sonic-sysmgr/rebootbackend/rebootbe.h
Labels: automerge

#22854 [action] [PR:22832] [QoS] Make broadcom asic detection more robust in ipinip json template
  dockers/docker-orchagent/docker-init.j2
  dockers/docker-orchagent/ipinip.json.j2
Labels: automerge

#22673 Add qos values for Arista-7060X6-16PE-384C-O128S2 TH5-512
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2/BALANCED
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2/th5-a7060x6-16pe-384c.config.bcm
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for 202505 Branch, Cherry Pick Conflict_202505

#22800 [DPU] Update BFSoC to v4.11.0-13611
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
Labels: Platform: Mellanox, Request for 202505 Branch

#22801 [nvidia-bluefield] Fix the issue with the SDK compilation caused by missing dependencies.
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: Platform: Mellanox, Request for 202505 Branch

#22868 [Broadcom] Upgrade xgs SAI version to 13.2.0.2
  platform/broadcom/sai.mk
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#22694 [QoS] Enable conditional on qos map for onie bootup for ipinip json config
  dockers/docker-orchagent/ipinip.json.j2
  src/sonic-config-engine/tests/multi_npu_data/py2/ipinip.json
  src/sonic-config-engine/tests/multi_npu_data/py3/ipinip.json
  src/sonic-config-engine/tests/sample_output/py2/ipinip.json
  src/sonic-config-engine/tests/sample_output/py2/ipinip_subnet_decap_enable.json
  src/sonic-config-engine/tests/sample_output/py3/ipinip.json
  src/sonic-config-engine/tests/sample_output/py3/ipinip_subnet_decap_enable.json
Labels: Request for 202505 Branch

#22871 [action] [PR:22353] [Ufispace] Update platform device configurations and drivers
  device/ufispace/x86_64-ufispace_s6301_56st-r0/pddf/pddf-device.json
  device/ufispace/x86_64-ufispace_s7801_54xs-r0/UFISPACE-S7801-54XS/td3-x5-s7801-54xs.config.bcm
  device/ufispace/x86_64-ufispace_s8901_54xc-r0/UFISPACE-S8901-54XC/td3-x5-s8901-54xc.config.bcm
  device/ufispace/x86_64-ufispace_s9110_32x-r0/UFISPACE-S9110-32X/td3-x7-s9110-32x.config.bcm
  device/ufispace/x86_64-ufispace_s9300_32d-r0/UFISPACE-S9300-32D/td4-s9300-32x400G.config.yml
  device/ufispace/x86_64-ufispace_s9300_32d-r0/pddf/pd-plugin.json
  device/ufispace/x86_64-ufispace_s9300_32d-r0/pddf/pddf-device.json
  device/ufispace/x86_64-ufispace_s9300_32d-r0/platform.json
  device/ufispace/x86_64-ufispace_s9301_32d-r0/UFISPACE-S9301-32D/th3-s9301-32x400G.config.bcm
  device/ufispace/x86_64-ufispace_s9301_32d-r0/pddf/pd-plugin.json
  device/ufispace/x86_64-ufispace_s9301_32d-r0/pddf/pddf-device.json
  device/ufispace/x86_64-ufispace_s9301_32db-r0/UFISPACE-S9301-32DB/td4-s9301-24x200G-8x400G.config.yml
  device/ufispace/x86_64-ufispace_s9301_32db-r0/pddf/pd-plugin.json
  device/ufispace/x86_64-ufispace_s9301_32db-r0/pddf/pddf-device.json
  device/ufispace/x86_64-ufispace_s9301_32db-r0/platform.json
  device/ufispace/x86_64-ufispace_s9321_64e-r0/UFISPACE-S9321-64E/th5-s9321-64e-64x800G.config.yml
  device/ufispace/x86_64-ufispace_s9321_64eo-r0/UFISPACE-S9321-64EO/th5-s9321-64eo-64x800G.config.yml
  platform/broadcom/sonic-platform-modules-ufispace/s6301-56st/modules/x86-64-ufispace-s6301-56st-lpc.c
  platform/broadcom/sonic-platform-modules-ufispace/s9300-32d/modules/x86-64-ufispace-s9300-32d-lpc.c
  platform/broadcom/sonic-platform-modules-ufispace/s9301-32d/modules/x86-64-ufispace-s9301-32d-lpc.c
  platform/broadcom/sonic-platform-modules-ufispace/s9301-32db/modules/x86-64-ufispace-s9301-32db-lpc.c
Labels: automerge

#22877 Fix info and order of components for x86_64-arista_7060x6_64pe_b platform
  device/arista/x86_64-arista_7060x6_64pe_b/platform.json
  device/arista/x86_64-arista_7060x6_64pe_b/platform_components.json
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for 202505 Branch

#22889 YANG: Route Map allow match_interface on Loopback
  src/sonic-yang-models/tests/yang_model_tests/tests/route_filter.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/route_filter.json
  src/sonic-yang-models/yang-models/sonic-route-map.yang
Labels: YANG

#22847 [nvidia-bluefield] Update MFT to v4.32.0-120.
  platform/nvidia-bluefield/recipes/mft.mk
Labels: Platform: Mellanox, Request for 202505 Branch

#22903 [action] [PR:22771] Improve auditd rate limit to 100/second
  dockers/docker-auditd/auditd_config_files/audit.rules
Labels: automerge

#22761 [Mellanox] Enabling CMIS host management on SN5600-O128
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/media_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/sai.profile
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#22935 [nvidia-bluefield] Differentiate cache based on compilation and download
  platform/nvidia-bluefield/recipes/sdk.dep
Labels: Platform: Mellanox, Request for 202505 Branch

#22610 [Arista]: Add HWSKU Arista-7060X6-64PE-B-O128S2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/BALANCED
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/buffers_defaults_lt2.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/hwsku.json
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/sai.profile
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/th5-a7060x6-64pe.config.bcm
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#22968 [action] [PR:22818] [Mellanox] Upgrade rshim package version to 2.3.8.
  platform/mellanox/rshim.mk
Labels: automerge

#22964 [action] [PR:22847] [nvidia-bluefield] Update MFT to v4.32.0-120.
  platform/nvidia-bluefield/recipes/mft.mk
Labels: automerge

#22963 [action] [PR:22935] [nvidia-bluefield] Differentiate cache based on compilation and download
  platform/nvidia-bluefield/recipes/sdk.dep
Labels: automerge

#22769 [Mellanox] Update SN4700 media_settings to have another needed module type
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/media_settings.json
Labels: Request for 202411 Branch, Request for 202505 Branch

#22965 [action] [PR:22919] [Arista] Rename HWSKUs for Moby512
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/BALANCED
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/buffers.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/hwsku.json
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/port_config.ini
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/qos.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/sai.profile
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-COPPER-LAB/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/BALANCED
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/buffers.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/hwsku.json
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/port_config.ini
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/qos.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/sai.profile
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2-LAB/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/buffer_ports.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/hwsku.json
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/port_config.ini
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/qos.json.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/sai.profile
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-O128S2-LAB
  device/arista/x86_64-arista_7060x6_16pe_384c_b/default_sku
Labels: automerge

#22930 [action] [PR:22877] Fix info and order of components for x86_64-arista_7060x6_64pe_b platform
  device/arista/x86_64-arista_7060x6_64pe_b/platform.json
  device/arista/x86_64-arista_7060x6_64pe_b/platform_components.json
Labels: automerge

#22967 [action] [PR:22901] [yang]: Add Yang model for High Frequency Telemetry
  src/sonic-yang-models/tests/yang_model_tests/tests/high_frequency_telemetry.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/high_frequency_telemetry.json
  src/sonic-yang-models/yang-models/sonic-high-frequency-telemetry.yang
Labels: automerge

#22946 [action] [PR:22902] Enable impacted area based PR testing in sonic-buildimage repo
  azure-pipelines.yml
Labels: automerge

#22896 [action] [PR:22688] [dhcp_relay] Add clear dhcpv4 relay counter CLI
  dockers/docker-dhcp-relay/cli-plugin-tests/test_clear_dhcp_relay.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp6relay_counter.py
  dockers/docker-dhcp-relay/cli/clear/plugins/clear_dhcp_relay.py
  rules/docker-dhcp-relay.mk
Labels: automerge

#22962 [action] [PR:22761] [Mellanox] Enabling CMIS host management on SN5600-O128
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/hwsku.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/media_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn5600-r0/Mellanox-SN5600-O128/sai.profile
Labels: automerge

#22944 [action] [PR:22876] [bgpcfgd]Handle cleanup of static routes on exit
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/tests/test_static_rt_cleanup.py
Labels: automerge

#22979 [action] [PR:22769] [Mellanox] Update SN4700 media_settings to have another needed module type
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O8C48/media_settings.json
Labels: automerge

#22985 [action] [PR:22937] Fix System health issue which checks frr_bmp in feature table.
  src/system-health/health_checker/service_checker.py
Labels: automerge

#22408 Ported the fix https://github.com/FRRouting/frr/pull/18601 from FRR community
  src/sonic-frr/patch/0057-mgmtd-remove-bogus-hedge-code-which-corrupted-active.patch
  src/sonic-frr/patch/0058-mgmtd-normalize-argument-order-to-copy-dst-src.patch
  src/sonic-frr/patch/series
Labels: FRR :traffic_light:, Request for 202505 Branch

#23015 [Broadcom] Upgrade xgs SAI version to 13.2.0.4
  platform/broadcom/sai.mk
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#22984 [action] [PR:21853] [Nokia][DeviceData] Add support for Nokia new Platform Nokia-IXR7220-H5-64O and Nokia-IXR7220-D4-36D
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/buffer_ports.j2
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/buffers.json.j2
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/buffers_defaults_t0.j2
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/buffers_defaults_t1.j2
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/context_config.json
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/gearbox_config.json
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/milleniob.bcm
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/phy1_config.json
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/phy2_config.json
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/port_config.ini
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/profile.ini
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/psai.profile
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/qos.json.j2
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/sai.profile
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/td4_28x100g_8x400g.yml
  device/nokia/x86_64-nokia_ixr7220_d4-r0/custom_led.bin
  device/nokia/x86_64-nokia_ixr7220_d4-r0/default_sku
  device/nokia/x86_64-nokia_ixr7220_d4-r0/gbsyncd.ini
  device/nokia/x86_64-nokia_ixr7220_d4-r0/installer.conf
  device/nokia/x86_64-nokia_ixr7220_d4-r0/led_proc_init.soc
  device/nokia/x86_64-nokia_ixr7220_d4-r0/pcie.yaml
  device/nokia/x86_64-nokia_ixr7220_d4-r0/platform.json
  device/nokia/x86_64-nokia_ixr7220_d4-r0/platform_asic
  device/nokia/x86_64-nokia_ixr7220_d4-r0/platform_env.conf
  device/nokia/x86_64-nokia_ixr7220_d4-r0/plugins/led_control.py
  device/nokia/x86_64-nokia_ixr7220_d4-r0/system_health_monitoring_config.json
  device/nokia/x86_64-nokia_ixr7220_d4-r0/thermal_policy.json
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/buffer_ports.j2
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/buffers.json.j2
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/buffers_defaults_t0.j2
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/buffers_defaults_t1.j2
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/h5_64o.yml
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/hwsku.json
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/media_settings.json
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/pg_profile_lookup.ini
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/port_config.ini
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/profile.ini
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/qos.json.j2
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/Nokia-IXR7220-H5-64O/sai.profile
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/custom_led.bin
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/default_sku
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/installer.conf
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/led_proc_init.soc
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/pcie.yaml
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/platform.json
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/platform_asic
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/platform_env.conf
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/platform_reboot
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/plugins/eeprom.py
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/plugins/led_control.py
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/system_health_monitoring_config.json
  device/nokia/x86_64-nokia_ixr7220_h5_64o-r0/thermal_policy.json
  platform/broadcom/one-image.mk
  platform/broadcom/platform-modules-nokia.mk
Labels: automerge

#23033 Remove pensando from version upgrade pipeline
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Labels: Request for 202505 Branch

#23022 [action] [PR:23015] [Broadcom] Upgrade xgs SAI version to 13.2.0.4
  platform/broadcom/sai.mk
Labels: automerge

#23021 [action] [PR:22408] Ported the fix https://github.com/FRRouting/frr/pull/18601 from FRR community
  src/sonic-frr/patch/0057-mgmtd-remove-bogus-hedge-code-which-corrupted-active.patch
  src/sonic-frr/patch/0058-mgmtd-normalize-argument-order-to-copy-dst-src.patch
  src/sonic-frr/patch/series
Labels: automerge

#23024 [bgpcfgd]Handle proper cleanup of bgp docker during exit
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/tests/test_static_rt_cleanup.py
Labels: Request for 202505 Branch

#22981 [FRR]Fixing route display issue with 512 nexthops
  src/sonic-frr/dplane_fpm_sonic/dplane_fpm_sonic.c
  src/sonic-frr/patch/0059-zebra-Ensure-that-the-dplane-can-send-the-full-packe.patch
  src/sonic-frr/patch/series
Labels: FRR :traffic_light:, Request for 202505 Branch, Cherry Pick Conflict_202505

#23043 [action] [PR:22299] update memory monit threshold for bmp container according to test.
  dockers/docker-sonic-bmp/base_image_files/monit_bmp
Labels: automerge

#23010 fix arp_update template rendering when STATIC_ROUTE has blackhole attribute
  files/build_templates/arp_update_vars.j2
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23062 [action] [PR:23038] [Arista] Add new hwsku Arista-7050CX3-32S-C28S16
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S16/config.bcm.j2
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S16/port_config.ini
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S16/sai.profile
Labels: automerge

#23011 Updated Static route yang model
  src/sonic-yang-models/tests/yang_model_tests/tests/static_route.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/static-route.json
  src/sonic-yang-models/yang-models/sonic-static-route.yang
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23039 Platform changes for 7280dr3
  device/arista/x86_64-arista_7280dr3a_36/Arista-7280DR3A-36/0/port_config.ini
  device/arista/x86_64-arista_7280dr3a_36/Arista-7280DR3A-36/1/port_config.ini
  device/arista/x86_64-arista_7280dr3ak_36/platform_env.conf
  device/arista/x86_64-arista_7280dr3ak_36s/platform_env.conf
  device/arista/x86_64-arista_7280dr3am_36/platform_env.conf
  device/arista/x86_64-arista_common/pmon_daemon_control.json
Labels: Request for msft-202503 Branch, Approved for msft-202503 Branch

#22955 sonic-buildimage: update quicksilver-p port names
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C224O8/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-C256S2/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-O128S2/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-P32O64/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/port_config.ini
  device/arista/x86_64-arista_7060x6_64pe/platform.json
Labels: Request for msft-202503 Branch

#21241 Add patch to fix multithreaded packet write issue in PTF
  src/ptf-py3.patch/0005-Fix-a-multithreading-issue-in-writing-pcap-files-204.patch
  src/ptf-py3.patch/series
Labels: Request for 202505 Branch

#23087 [Broadcom] Upgrade xgs SAI version to 13.2.0.7
  platform/broadcom/sai.mk
Labels: Approved for msft-202412 Branch, Request for msft-202503 Branch, Cherry Pick Conflict_msft-202503, Request for 202505 Branch

#23026 [action] [PR:22273] Add patch for gnmi client to support extensive configurations
  dockers/docker-ptf/gnxi-patches/0006-Add-support-for-extensive-configurations.patch
  dockers/docker-ptf/gnxi-patches/series
Labels: automerge

#23091 [Broadcom] Move to SAI_13.2.1_EA and upgrade kernel module
  platform/broadcom/sai-modules.mk
  platform/broadcom/sai.mk
  platform/broadcom/saibcm-modules/debian/changelog
  platform/broadcom/saibcm-modules/sdklt/Makefile
  platform/broadcom/saibcm-modules/sdklt/linux/include/lkm/ngst_ioctl.h
  platform/broadcom/saibcm-modules/sdklt/linux/include/lkm/ngst_netlink.h
  platform/broadcom/saibcm-modules/sdklt/linux/st/Kbuild
  platform/broadcom/saibcm-modules/sdklt/linux/st/Makefile
  platform/broadcom/saibcm-modules/sdklt/linux/st/ngst_main.c
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for 202505 Branch, Cherry Pick Conflict_202505

#23115 [action] [PR:21241] Add patch to fix multithreaded packet write issue in PTF
  src/ptf-py3.patch/0005-Fix-a-multithreading-issue-in-writing-pcap-files-204.patch
  src/ptf-py3.patch/series
Labels: automerge

#23119 [action] [PR:23087] [Broadcom] Upgrade xgs SAI version to 13.2.0.7
  platform/broadcom/sai.mk
Labels: automerge

#23018 Enable srv6 on TH5
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P32O64/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P64/th5-a7060x6-64pe.config.bcm
Labels: Request for msft-202412 Branch, Approved for msft-202412 Branch, Included in msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for 202505 Branch, Cherry Pick Conflict_202505

#23092 [action] [PR:23011] Updated Static route yang model
  src/sonic-yang-models/tests/yang_model_tests/tests/static_route.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/static-route.json
  src/sonic-yang-models/yang-models/sonic-static-route.yang
Labels: automerge

#23084 [action] [PR:22954] Fixed interfaces-config.service failure on chassis during first boot if there is no config present
  files/image_config/interfaces/interfaces.j2
Labels: automerge

#23056 [action] [PR:23024] [bgpcfgd]Handle proper cleanup of bgp docker during exit
  src/sonic-bgpcfgd/bgpcfgd/main.py
  src/sonic-bgpcfgd/bgpcfgd/managers_static_rt.py
  src/sonic-bgpcfgd/tests/test_static_rt_cleanup.py
Labels: automerge
