Repository sonic-net/sonic-buildimage, pull requests merged in 2025-07, with the labels that each got.

#23125 Set ENABLE to 0 for TH5 platform
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-64x400G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P32O64/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P64/th5-a7060x6-64pe.config.bcm
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for msft-202503 Branch, Request for 202505 Branch, Cherry Pick Conflict_202505

#23178 [action] [PR:23167] [build] Reproducible build change URL for cached packages.
  rules/config
Labels: automerge

#23176 [action] [PR:23167] [build] Reproducible build change URL for cached packages.
  rules/config
Labels: automerge

#23175 [action] [PR:23167] [build] Reproducible build change URL for cached packages.
  rules/config
Labels: automerge

#23198 [PR test] Temporarily mark multi_asic test job as optional
  .azure-pipelines/official-build-vs-with-test.yml
  azure-pipelines.yml
Labels: Request for 202505 Branch

#23100 Remove S2 port bcm configs for Arista-7060X6-64PE-B-O128
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/th5-a7060x6-64pe.config.bcm
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for 202505 Branch, Cherry Pick Conflict_202505

#23209 [action] [PR:23106] [logrotate] Add archived file clean up on log rotation
  files/build_templates/sonic_debian_extension.j2
  files/image_config/logrotate/on_demand_archived_log_clean_up.j2
  files/image_config/logrotate/rsyslog.j2
Labels: automerge

#20659 [action] [PR:20528] [docker-ptf]: CI change to publish docker-ptf image to the docker registry (#20528)
  .azure-pipelines/azure-pipelines-image-template.yml
  .azure-pipelines/official-build.yml
Labels: automerge

#22546 [action] [PR:21772] Bump up /dev/shm size for Broadcom platforms to 512MB by default
  files/build_templates/docker_image_ctl.j2
Labels: automerge

#22998 Add stat_custom_receive0_management_mode to Arista-7060X6-64PE-B-O128 config file
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/th5-a7060x6-64pe.config.bcm
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23231 [action] [PR:23156] [Arista] Add support for LodogaPrime platform
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-C32
  device/arista/x86_64-arista_7050cx3_32c/default_sku
  device/arista/x86_64-arista_7050cx3_32c/pcie.yaml
  device/arista/x86_64-arista_7050cx3_32c/platform.json
  device/arista/x86_64-arista_7050cx3_32c/platform_asic
  device/arista/x86_64-arista_7050cx3_32c/platform_components.json
  device/arista/x86_64-arista_7050cx3_32c/platform_reboot
  device/arista/x86_64-arista_7050cx3_32c/plugins
  device/arista/x86_64-arista_7050cx3_32c/pmon_daemon_control.json
  device/arista/x86_64-arista_7050cx3_32c/sensors.conf
  device/arista/x86_64-arista_7050cx3_32c/system_health_monitoring_config.json
  device/arista/x86_64-arista_7050cx3_32c/thermal_policy.json
  files/Aboot/boot0.j2
Labels: automerge

#22951 [trim]: Add Packet Trimming Asym DSCP YANG model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_pytests/test_trimming.py
  src/sonic-yang-models/yang-models/sonic-trimming.yang
Labels: Feature Request :rocket:, Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for 202505 Branch

#23281 [action] [PR:23263] [Broadcom]Upgrade xgs SAI version to 13.2.1.1
  platform/broadcom/sai.mk
Labels: automerge

#23278 [action] [PR:22951] [trim]: Add Packet Trimming Asym DSCP YANG model
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_pytests/test_trimming.py
  src/sonic-yang-models/yang-models/sonic-trimming.yang
Labels: automerge

#23126 Add additional config for Arista-7060X6-64PE-B-C512S2, Arista-7060X6-64PE-B-C448O16
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/hwsku.json
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers_defaults_t1.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/hwsku.json
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/qos.json.j2
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23163 [nvidia-bluefield] Update platform drivers to use DKMS infrastructure
  platform/nvidia-bluefield/bluefield-platform-modules/Makefile
  platform/nvidia-bluefield/bluefield-platform-modules/debian/changelog
  platform/nvidia-bluefield/bluefield-platform-modules/debian/control
  platform/nvidia-bluefield/gpio-mlxbf3/Makefile
  platform/nvidia-bluefield/installer/create_sonic_image
  platform/nvidia-bluefield/mlx-bootctl/Makefile
  platform/nvidia-bluefield/mlxbf-gige/Makefile
  platform/nvidia-bluefield/mlxbf-pka/Makefile
  platform/nvidia-bluefield/mlxbf-ptm/Makefile
  platform/nvidia-bluefield/pinctrl-mlxbf3/Makefile
  platform/nvidia-bluefield/pwr-mlxbf/Makefile
  platform/nvidia-bluefield/recipes/bluefield-soc.dep
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
  platform/nvidia-bluefield/sdhci-of-dwcmshc/Makefile
  platform/nvidia-bluefield/tmfifo/Makefile
Labels: Platform: Mellanox, Request for 202505 Branch

#22778 [Smartswitch][Pmon] Added changes relevant to pcie attach and detach and sensord to support both light and dark modes
  device/mellanox/x86_64-nvidia_sn4280-r0/module_sensors_ignore_conf/ignore_sensors_DPU0.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/module_sensors_ignore_conf/ignore_sensors_DPU1.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/module_sensors_ignore_conf/ignore_sensors_DPU2.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/module_sensors_ignore_conf/ignore_sensors_DPU3.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/pcie.yaml
  platform/mellanox/mlnx-platform-api/sonic_platform/dpuctlplat.py
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
  platform/mellanox/mlnx-platform-api/tests/test_dpuctlplat.py
  platform/mellanox/mlnx-platform-api/tests/test_module.py
Labels: Platform: Mellanox, Request for 202505 Branch

#23279 [action] [PR:23208] [smartswitch][config-engine] Skip enabling chrony server on smartswitch DPU
  files/image_config/chrony/chrony.conf.j2
  src/sonic-config-engine/config_samples.py
  src/sonic-config-engine/tests/data/ntp/ntp_smartswitch_dpu_interfaces.json
  src/sonic-config-engine/tests/sample_output/py3/chrony_smartswitch_dpu.conf
  src/sonic-config-engine/tests/sample_output/t1-smartswitch-dpu.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: automerge

#23303 [action] [PR:23163] [nvidia-bluefield] Update platform drivers to use DKMS infrastructure
  platform/nvidia-bluefield/bluefield-platform-modules/Makefile
  platform/nvidia-bluefield/bluefield-platform-modules/debian/changelog
  platform/nvidia-bluefield/bluefield-platform-modules/debian/control
  platform/nvidia-bluefield/gpio-mlxbf3/Makefile
  platform/nvidia-bluefield/installer/create_sonic_image
  platform/nvidia-bluefield/mlx-bootctl/Makefile
  platform/nvidia-bluefield/mlxbf-gige/Makefile
  platform/nvidia-bluefield/mlxbf-pka/Makefile
  platform/nvidia-bluefield/mlxbf-ptm/Makefile
  platform/nvidia-bluefield/pinctrl-mlxbf3/Makefile
  platform/nvidia-bluefield/pwr-mlxbf/Makefile
  platform/nvidia-bluefield/recipes/bluefield-soc.dep
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
  platform/nvidia-bluefield/sdhci-of-dwcmshc/Makefile
  platform/nvidia-bluefield/tmfifo/Makefile
Labels: automerge

#23302 [action] [PR:23079] yml file changes for Nokia D4 platform
  device/nokia/x86_64-nokia_ixr7220_d4-r0/Nokia-IXR7220-D4-36D/td4_28x100g_8x400g.yml
Labels: automerge

#23300 [action] [PR:22778] [Smartswitch][Pmon] Added changes relevant to pcie attach and detach and sensord to support both light and dark modes
  device/mellanox/x86_64-nvidia_sn4280-r0/module_sensors_ignore_conf/ignore_sensors_DPU0.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/module_sensors_ignore_conf/ignore_sensors_DPU1.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/module_sensors_ignore_conf/ignore_sensors_DPU2.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/module_sensors_ignore_conf/ignore_sensors_DPU3.conf
  device/mellanox/x86_64-nvidia_sn4280-r0/pcie.yaml
  platform/mellanox/mlnx-platform-api/sonic_platform/dpuctlplat.py
  platform/mellanox/mlnx-platform-api/sonic_platform/module.py
  platform/mellanox/mlnx-platform-api/tests/test_dpuctlplat.py
  platform/mellanox/mlnx-platform-api/tests/test_module.py
Labels: automerge

#23305 [action] [PR:22836] [Arista][DT2] Add QoS to Arista-7060X6-64PE-B-P32O64
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P32O64/th5-a7060x6-64pe.config.bcm
Labels: automerge

#23162 [Mellanox] Fix cache on SDK or SAI change
  platform/mellanox/docker-syncd-mlnx-rpc.dep
  platform/mellanox/docker-syncd-mlnx.dep
  platform/nvidia-bluefield/recipes/docker-syncd-bluefield.dep
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23124 Set psu fan speed and thermal controllable to false on Arista 7280DR3A variants
  device/arista/x86_64-arista_7280dr3a_36/platform.json
  device/arista/x86_64-arista_7280dr3ak_36/platform.json
  device/arista/x86_64-arista_7280dr3ak_36s/platform.json
  device/arista/x86_64-arista_7280dr3am_36/platform.json
Labels: Request for msft-202503 Branch, Approved for msft-202503 Branch

#22199 Add missing dbg / dbgsym pkgs to rules files
  rules/bash.mk
  rules/docker-config-engine-bookworm.mk
  rules/docker-config-engine-bullseye.mk
  rules/eventd.mk
  rules/flashrom.mk
  rules/iptables.mk
  rules/libnl3.mk
  rules/libyang.mk
  rules/radius.mk
  rules/rasdaemon.mk
  rules/sflow.mk
  rules/snmpd.mk
  rules/socat.mk
  rules/sonic-bmp.mk
  rules/sonic-nettools.mk
  rules/swss-common.mk
  rules/systemd-sonic-generator.mk
  rules/tacacs.mk
  rules/telemetry.mk
  scripts/build_kvm_image.sh
  src/bash/Makefile
  src/flashrom/Makefile
  src/iptables/Makefile
  src/libnl3/Makefile
  src/libyang/Makefile
  src/radius/nss/Makefile
  src/radius/pam/Makefile
  src/rasdaemon/Makefile
  src/sflow/psample/Makefile
  src/snmpd/Makefile
  src/socat/Makefile
  src/tacacs/audisp/Makefile
  src/tacacs/nss/Makefile
  src/tacacs/pam/Makefile
Labels: Request for 202505 Branch, Cherry Pick Conflict_202505

#23342 [action] [PR:21845] [Mellanox] [Smartswitch] Fix sensors file for Smartswitch
  device/mellanox/x86_64-nvidia_sn4280-r0/sensors.conf
Labels: automerge

#23357 [Arista] Add HwSkus for x86_64-arista_7050cx3_32c
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-C28S16
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-C28S4
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-C6S104
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-D48C8
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-S128
Labels: Request for 202505 Branch

#23327 Remove SHARED_LIMIT_DYNAMIC for MC queue on TH5
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-COPPER-LAB/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-FANOUT/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2-LAB/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c/Arista-7060X6-16PE-384C-O128S2/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/th5-a7060x6-16pe-384c.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-256x200G/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe/Arista-7060X6-64PE-O128S2/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P32O64/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P64/th5-a7060x6-64pe.config.bcm
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for msft-202503 Branch, Approved for msft-202503 Branch, Request for 202505 Branch

#23028 [Orchagent] Enable ZMQ on orchagent route table.
  dockers/docker-orchagent/orch_zmq_tables.conf.j2
  dockers/docker-orchagent/orchagent.sh
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: Request for msft-202506 Branch

#23368 [action] [PR:23357] [Arista] Add HwSkus for x86_64-arista_7050cx3_32c
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-C28S16
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-C28S4
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-C6S104
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-D48C8
  device/arista/x86_64-arista_7050cx3_32c/Arista-7050CX3-32C-S128
Labels: automerge

#23343 TH5-512 ingress and egress lossy queue buffer size change
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/buffers_defaults_t1.j2
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#22911 [sonic-package-manager] Use tag to start application
  files/build_templates/docker_image_ctl.j2
Labels: Request for 202505 Branch

#23429 TH5-512 ingress and egress lossy queue buffer size change
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t1.j2
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23413 Updated cable length configuration for upperspinerouter to lowerspinerouter
  device/arista/x86_64-arista_7280dr3a_36/Arista-7280DR3A-36/0/buffers_defaults_t2.j2
  device/arista/x86_64-arista_7280dr3a_36/Arista-7280DR3A-36/1/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250_x3b-r0/Nokia-IXR7250-X3B/0/buffers_defaults_t2.j2
  device/nokia/x86_64-nokia_ixr7250_x3b-r0/Nokia-IXR7250-X3B/1/buffers_defaults_t2.j2
  files/build_templates/buffers_config.j2
Labels: Request for msft-202503 Branch

#23449 [action] [PR:21849] Improve GNMI_CLIENT_CERT table to support multiple roles.
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/gnmi.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/gnmi.json
  src/sonic-yang-models/yang-models/sonic-gnmi.yang
Labels: automerge

#23356 [DPU] Update SAI to SAIBuild0.0.44.0, FW to v45.1020
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: Platform: Mellanox, Request for 202505 Branch, Request for msft-202506 Branch

#21346 [teamd] Optimize number of netlink calls by increasing buffer size and specifying max message size
  src/libteam/patch/0005-Increase-default-buffer-size-from-98304-to-2097152.patch
  src/libteam/patch/0017-Specify-netlink-recv-buffer-size-to-avoid-a-syscall.patch
  src/libteam/patch/series
Labels: Request for msft-202503 Branch, Approved for msft-202503 Branch, Included in msft-202503 Branch

#23468 [action] [PR:23356] [DPU] Update SAI to SAIBuild0.0.44.0, FW to v45.1020
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: automerge

#23443 [nvidia-bluefield] Fix DOCA_DPDK_BRIDGE_DEV dependencies
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: Platform: Mellanox, Request for 202505 Branch, Request for msft-202506 Branch

#23359 Add startup_tsa configuration file for 7280dr3 devices
  device/arista/x86_64-arista_7280dr3a_36/services.conf
  device/arista/x86_64-arista_7280dr3a_36/startup-tsa-tsb.conf
  device/arista/x86_64-arista_7280dr3ak_36/services.conf
  device/arista/x86_64-arista_7280dr3ak_36/startup-tsa-tsb.conf
  device/arista/x86_64-arista_7280dr3ak_36s/services.conf
  device/arista/x86_64-arista_7280dr3ak_36s/startup-tsa-tsb.conf
  device/arista/x86_64-arista_7280dr3am_36/services.conf
  device/arista/x86_64-arista_7280dr3am_36/startup-tsa-tsb.conf
Labels: Request for msft-202503 Branch, Approved for msft-202503 Branch

#23495 [action] [PR:23443] [nvidia-bluefield] Fix DOCA_DPDK_BRIDGE_DEV dependencies
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: automerge

#23494 [action] [PR:22777] [nvidia-bluefield] Fix dependency issues in rdma-core package
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: automerge

#23496 [action] [PR:23382] adding iptables
  dockers/docker-ptf/Dockerfile.j2
Labels: automerge

#23498 [T2] Update role check in bgpcfgd for SpineRouter roles
  src/sonic-bgpcfgd/bgpcfgd/main.py
Labels: Request for 202505 Branch

#23400 [ssw][ha] add `vnet_name` to global config
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_pytests/test_smart_switch.py
  src/sonic-yang-models/yang-models/sonic-smart-switch.yang
  src/sonic-yang-models/yang-models/sonic-vnet.yang
Labels: Request for msft-202506 Branch, Cherry Pick Conflict_msft-202506

#23341 BGP Template change to ensure SELECTIVE_ROUTE_DOWNLOAD config is only available on upstream LC
  dockers/docker-fpm-frr/frr/bgpd/templates/general/peer-group.conf.j2
  dockers/docker-fpm-frr/frr/bgpd/templates/general/policies.conf.j2
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/param_UpperSpineRouter.json
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/param_downstream_lc.json
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/param_spine_no_subtype.json
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/param_upstream_lc.json
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/result_UpperSpineRouter.conf
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/result_downstream_lc.conf
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/result_spine_no_subtype.conf
  src/sonic-bgpcfgd/tests/data/general/peer-group.conf/result_upstream_lc.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all_chassis_pkt.conf
  src/sonic-bgpcfgd/tests/data/general/policies.conf/result_all_voq.conf
Labels: Request for 202505 Branch

#23502 Update cisco-8000-smartswitch.ini for 202505.1.0.3
  platform/checkout/cisco-8000-smartswitch.ini
Labels: Request for msft-202506 Branch

#23477 [YANG] Support port in sonic-neigh.yang
  src/sonic-yang-models/tests/yang_model_tests/tests/neigh.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/neigh.json
  src/sonic-yang-models/yang-models/sonic-neigh.yang
Labels: Request for 202505 Branch

#23522 [action] [PR:23481] [T2] Fix syntax error in prefix_list script
  dockers/docker-fpm-frr/base_image_files/prefix_list
Labels: automerge

#23447 [action] [PR:23429] TH5-512 ingress and egress lossy queue buffer size change
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/buffers_defaults_t1.j2
Labels: automerge

#23410 Add components to platform_components.json for Arista 7280DR3 SKUs
  device/arista/x86_64-arista_7280dr3a_36/platform_components.json
  device/arista/x86_64-arista_7280dr3ak_36/platform_components.json
  device/arista/x86_64-arista_7280dr3ak_36s/platform_components.json
  device/arista/x86_64-arista_7280dr3am_36/platform_components.json
Labels: Request for msft-202503 Branch, Approved for msft-202503 Branch

#23266 update port alias for inb and rec port
  device/arista/x86_64-arista_7280dr3a_36/Arista-7280DR3A-36/0/port_config.ini
  device/arista/x86_64-arista_7280dr3a_36/Arista-7280DR3A-36/1/port_config.ini
Labels: Request for msft-202503 Branch, Approved for msft-202503 Branch, Request for 202505 Branch, Cherry Pick Conflict_202505

#21848 Yang model additions for PFC Stat History
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/pfc.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/pfc.json
  src/sonic-yang-models/yang-models/sonic-pfcwd.yang
Labels: Request for 202505 Branch
