Repository sonic-net/sonic-buildimage, pull requests merged in 2025-09, with the labels that each got.

#23858 [action] [PR:23698] update DOCKER_RAMFS_SIZE to 3500M
  onie-image-arm64.conf
  onie-image-armhf.conf
  onie-image.conf
  platform/marvell-prestera/onie-image-arm64.conf
Labels: automerge

#23827 [action] [PR:23803] [T2][Anchor] Fix type check in prefix_list script
  dockers/docker-fpm-frr/base_image_files/prefix_list
Labels: automerge

#23826 [action] [PR:23814] Add buffer profile 100Gb/500m for Arista-7060X6-64PE-B-P32O64
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P32O64/pg_profile_lookup.ini
Labels: automerge

#23862 [action] [PR:23859] [Broadcom] Upgrade xgs SAI version to 13.2.1.2
  platform/broadcom/sai.mk
Labels: automerge

#23885 [action] [PR:23871] [Mellanox] install pciutils in syncd docker to be able to use asic_detect.sh script
  platform/mellanox/docker-syncd-mlnx-rpc/Dockerfile.j2
  platform/mellanox/docker-syncd-mlnx/Dockerfile.j2
  platform/nvidia-bluefield/docker-syncd-bluefield/Dockerfile.j2
Labels: automerge

#23884 [action] [PR:23868] [YANG] Support location_type attribute in DEVICE_METADATA
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: automerge

#23892 Fix routeCheck failures for Arista-7050CX3-32S-C28S16 and Arista-7050CX3-32C-C28S16
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S16/config.bcm.j2
Labels: Request for 202505 Branch

#23895 [action] [PR:23892] Fix routeCheck failures for Arista-7050CX3-32S-C28S16 and Arista-7050CX3-32C-C28S16
  device/arista/x86_64-arista_7050cx3_32s/Arista-7050CX3-32S-C28S16/config.bcm.j2
Labels: automerge

#23928 [action] [PR:23918] [Broadcom] Upgrade xsg SAI version to 13.2.1.3
  platform/broadcom/sai.mk
Labels: automerge

#23935 [action] [PR:23169] [Nvidia-Bluefield] Fix platform pcie check command to support both light and dark modes
  platform/mellanox/mlnx-platform-api/sonic_platform/pcie.py
  platform/mellanox/mlnx-platform-api/tests/test_pcie.py
Labels: automerge

#23917 [Fix]: Allow empty object lists in high-frequency-telemetry YANG model
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/test_yang_model.py
  src/sonic-yang-models/tests/yang_model_tests/tests/high_frequency_telemetry.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/high_frequency_telemetry.json
  src/sonic-yang-models/yang-models/sonic-high-frequency-telemetry.yang
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#23942 [action] [PR:22240] Restart `XCVRD` when `SWSS` flushes APPL_DB on all SKUs that use `media_settings.json`
  files/scripts/swss.sh
Labels: automerge

#24001 [Yang] Support LMA and UMA in device metadata Yang model
  src/sonic-yang-models/tests/yang_model_tests/tests/device_metadata.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/device_metadata.json
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Labels: Request for 202505 Branch

#23977 Update docker-sonic-mgmt python library for snappi_ixload to 0.0.8
  dockers/docker-sonic-mgmt/Dockerfile.j2
Labels: Request for msft-202506 Branch

#23953 [action] [PR:23505] [Mellanox] Fix firmware upgrade MST device initialization
  files/scripts/syncd.sh
  platform/mellanox/mlnx-fw-upgrade.j2
  platform/nvidia-bluefield/installer/install.sh.j2
Labels: automerge

#23958 [FRR]Fixing BGP performance issues with BMP enabled
  src/sonic-frr/patch/0060-bgpd-Convert-bmp-path_info-tracking-from-hash-to-rbt.patch
  src/sonic-frr/patch/series
Labels: FRR :traffic_light:

#24022 [action] [PR:23023] Update docker tag to use correct version when SONIC_CONFIG_USE_NATIVE…
  files/build_templates/sonic_debian_extension.j2
Labels: automerge

#24017 Add sysfs mount for pmon container
  rules/docker-platform-monitor.mk
Labels: Bug :bug:

#24042 [Mellanox] Update SAI to SAIBuild2505.33.0.10, SDK/FW to 4.8.1086/2016.1086 and SIMx to 25.7-1097
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Labels: Platform: Mellanox, Request for 202505 Branch

#24045 [action] [PR:24042] [Mellanox] Update SAI to SAIBuild2505.33.0.10, SDK/FW to 4.8.1086/2016.1086 and SIMx to 25.7-1097
  platform/mellanox/fw.mk
  platform/mellanox/mlnx-sai.mk
  platform/mellanox/sdk.mk
Labels: automerge

#23985 add loopback&vlan into the ipinip tunnel list for large topo
  dockers/docker-orchagent/ipinip.json.j2
Labels: Request for msft-202412 Branch, Request for 202505 Branch

#23772 Update sai_stats_support_mask from 0x80 to 0x880 to remove PFC pause from port counter
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C448O16/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-C512S2/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128S2/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P28O72/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P32O64/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P32V128/th5-a7060x6-64pe.config.bcm
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-P64/th5-a7060x6-64pe.config.bcm
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412, Request for msft-202503 Branch, Cherry Pick Conflict_msft-202503, Request for 202505 Branch, Cherry Pick Conflict_202505

#23851 [nvidia-bluefield] Remove temporary DOCA patch
  platform/nvidia-bluefield/sdk-src/doca/0001-Add-WA-to-a-bug-in-doca-build-script-which-matches-o.patch
  platform/nvidia-bluefield/sdk-src/doca/Makefile
Labels: Platform: Mellanox, Request for 202505 Branch, Request for msft-202506 Branch

#23912 [DPU] Update BFSoC to 4.12.0, SDK to 25.7-RC10
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Labels: Platform: Mellanox, Request for msft-202506 Branch

#23941 [nvidia-bluefield] Fix clock skew build failure
  platform/nvidia-bluefield/sdk-src/nv_hws/Makefile
Labels: Platform: Mellanox, Request for msft-202506 Branch

#23993 [Arista] Update sensor.conf for 7060X6-64PE-B
  device/arista/x86_64-arista_7060x6_64pe_b/sensors.conf
Labels: Request for msft-202412 Branch, Request for msft-202503 Branch, Request for 202505 Branch

#24105 [Broadcom] Upgrade xgs SAI version to 13.2.1.7
  platform/broadcom/sai.mk
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#23841 [7060X6] Added custom SI settings for the host side serdes and LPO mo…
  device/arista/x86_64-arista_7060x6_64pe/media_settings.json
  device/arista/x86_64-arista_7060x6_64pe/optics_si_settings.json
  device/arista/x86_64-arista_7060x6_64pe_b/media_settings.json
  device/arista/x86_64-arista_7060x6_64pe_b/optics_si_settings.json
Labels: Platform: Arista, Request for msft-202503 Branch

#23489 [Arista] Add LT2 QoS settings for Arista-7060X6-64PE-B-O128
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/buffers.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/buffers_defaults_lt2.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/pg_profile_lookup.ini
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/qos.json.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/sai.profile
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/sai.profile.j2
  device/arista/x86_64-arista_7060x6_64pe_b/Arista-7060X6-64PE-B-O128/th5-a7060x6-64pe-lt2.config.bcm
Labels: Request for msft-202503 Branch, Cherry Pick Conflict_msft-202503, Request for 202505 Branch

#23999 [action] [PR:23984] [YANG] Change VXLAN tunnel YANG model to support 2 tunnels + string validation
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/yang_model_tests/tests/vxlan.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vxlan.json
  src/sonic-yang-models/yang-models/sonic-vxlan.yang
Labels: automerge

#24145 [action] [PR:24085] [QoS] Disable pfc and pfcwd on service ports
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/buffers_defaults_t0.j2
  device/arista/x86_64-arista_7060x6_16pe_384c_b/Arista-7060X6-16PE-384C-B-O128S2/buffers_defaults_t1.j2
  files/build_templates/qos_config.j2
  src/sonic-config-engine/sonic-cfggen
  src/sonic-config-engine/tests/sample-arista-7060x6-t0-minigraph.xml
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7060x6.json
  src/sonic-config-engine/tests/test_j2files.py
Labels: automerge

#24146 [QoS] Remove config keys for pfc and pfcwd on service ports
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7060x6.json
Labels: Request for 202505 Branch

#24148 [action] [PR:24146] [QoS] Remove config keys for pfc and pfcwd on service ports
  files/build_templates/qos_config.j2
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7060x6.json
Labels: automerge
